<?php
    $_product = $block->getProduct();
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $currencysymbol = $objectManager->get('Magento\Store\Model\StoreManagerInterface');
    $currencyCode = $currencysymbol->getStore()->getCurrentCurrencyCode();
    $currency = $objectManager->create('Magento\Directory\Model\CurrencyFactory')->create()->load($currencyCode);
    $customOptions = $objectManager->get('Magento\Catalog\Model\Product\Option')->getProductOptionCollection($_product);
    $priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data');

    $selectionCollection = $_product->getTypeInstance(true)->getSelectionsCollection(
        $_product->getTypeInstance(true)->getOptionsIds($_product),
        $_product
    );
?>
<?php if($_product): ?>
<form data-role="tocart-form" class="custom_bundle_addto_form" action="<?= /* @escapeNotVerified */ $this->getUrl('checkout/cart/add', array('product' => $_product->getId(), '_secure' => $this->getRequest()->isSecure())) ?>" method="post">
    <?= $block->getBlockHtml('formkey') ?>
    <input type="hidden" name="product" value="<?= /* @escapeNotVerified */ $_product->getId() ?>">
    <?php if( isset($selectionCollection->getData()[0]) ): ?>
        <?php $count = $selectionCollection->getData()[0]['option_id']; ?>
        <select multiple="multiple" name="bundle_option[<?= $count ?>][]" data-selector="bundle_option[<?= $count ?>][]" style="display: none;">
            <?php foreach ($selectionCollection as $proselection): ?>
                <option value="<?= $block->escapeHtml($proselection->getSelectionId()) ?>" selected="selected"><?= $block->escapeHtml($proselection->getName()) ?></option>
            <?php endforeach; ?>
        </select>
    <?php endif; ?>
    <div class="product-add-form">
        <div class="product-options-wrapper" id="product-options-wrapper">
            <div class="product-page-options">
                <?php foreach ($_product->getOptions() as $o): ?>
                    <div class="field required">
                        <label class="label"><span><?= $o->getTitle() ?></span></label>
                    </div>
                    <div class="control">
                        <div class="fieldset">
                            <div class="attribute product-attr" data-symbol="<?= $currency->getCurrencySymbol() ?>">
                                <?php if( isset($customOptions->getData()[0]) ): ?>
                                    <?php $name = $customOptions->getData()[0]['option_id'] ?>
                                    <div class="options product-option">
                                        <select name="options[<?= $name ?>]" data-selector="options[<?= $name ?>]" class="select-options">
                                            <?php foreach($customOptions as $option): ?>
                                                <?php foreach ($option->getValues() as $value): ?>
                                                    <option value="<?= $value->getData('option_type_id') ?>" price="<?= number_format($value->getData('price'), 0) ?>"><?= $value->getData('default_title') ?></option>
                                                <?php endforeach; ?>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>
                                <?php endif; ?>
                            </div>
                        </div>
                    </div>
                <?php endforeach; ?>
                <?php if( isset($customOptions->getData()[0]) ): ?><span class="separator"></span><?php endif; ?>
                <div class="product-price">
                    <div class="price-wrapper" data-price-amount="<?= $_product->getPrice() ?>">
                        <div class="price"><?= $priceHelper->currency($_product->getPrice(), true, false) ?></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-options-bottom">
            <div class="box-tocart">
                <div class="fieldset">
                    <div class="field qty">
                        <label class="label" for="qty"><span><?= __("Quantity") ?></span></label>
                        <div class="control">
                            <button id="decerement">-</button>
                            <input type="number"
                                name="qty"
                                value="<?= /* @escapeNotVerified */ $block->getProductDefaultQty() * 1 ?>"
                                title="<?= /* @escapeNotVerified */ __('Quantity') ?>"
                                class="input-text qty product-qty"
                                data-validate="<?= $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>" readonly
                                />
                            <button id="increment">+</button>
                        </div>
                    </div>
                    <?php if ($_product->isSaleable()): ?>
                        <div class="actions">
                            <button type="submit" title="<?= $block->escapeHtml(__('Add to Bag')) ?>" class="action tocart primary"><span><?= /* @escapeNotVerified */ __('Add to Bag') ?></span></button>
                        </div>
                    <?php else: ?>
                        <?php if ($_product->isAvailable()): ?>
                            <div class="stock available"><span><?= /* @escapeNotVerified */ __('In stock') ?></span></div>
                        <?php else: ?>
                            <div class="stock unavailable"><span><?= /* @escapeNotVerified */ __('Out of stock') ?></span></div>
                        <?php endif; ?>
                    <?php endif; ?>
                </div>
            </div>
        </div>
    </div>
</form>

<script type="text/x-magento-init">
    {
        ".custom_bundle_addto_form": {
            "catalogAddToCart": {
                "bindSubmit": true
            }
        }
    }
</script>
<?php endif; ?>