<?php
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
	$baseUrl = $objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
	$_product = $block->getProduct();
	$_code = $block->getAtCode();
	$_className = $block->getCssClass();
	$attrCode = $_product->getCustomAttribute($_code);
	$productAttributes=$_product->getAttributes();
    $group_id=24;
    $attributeSetId=4;
        
?>

<?php if( isset($attrCode) ): ?>
<div class="product attibute <?= $_className?>">
	
	<?php if( $_code !='product_kit_image' && $_code != 'product_attribute_image' ): ?>
		<?php if($_code !='feature_highlights' && $_code !='kit_attribute'): ?>
	    	<h2 class="attribute-title <?= $_className ?>-title"><?= __($_product->getResource()->getAttribute($_code)->getStoreLabel()) ?></h2>
	    <?php endif; ?>	
	    <div class="attribute-value <?= $_className?>-container">
	    	<?= $attrCode->getValue(); ?>
	    	<?php if( $_code =='short_description' ): ?>
	    		<div class="product-more-info">
	    			<a class="learn-more" href="javascript: void(0);"><?= __("Product Information") ?><span class="learn-plus">+</span></a>
	    		</div>
	    		<div class="usage-benefits">
	    			<a class="direction-learn-more" href="javascript: void(0);" style="color:#000;"><?= __("Usage and benefits") ?><span class="learn-plus">+</span></a>
	    		</div>
	    		
	    		<div class="full-description" id="learn-more-popup">
	    			<a href="javascript: void(0);" class="close-description">X</a>
					<div id="element">
						<div data-role="collapsible">
							<div data-role="trigger">
								<span style="cursor: pointer;" class="learn-more-tab-label"><?php echo $_product->getResource()->getAttribute('description')->getStoreLabel(); ?></span>
							</div>
						</div>
						<div data-role="collapsible">
							<div data-role="trigger">
								<span style="cursor: pointer;" class="learn-more-tab-label"><?php echo 'Key Allies';?></span>
							</div>
						</div>
						<div data-role="collapsible">
							<div data-role="trigger">
								<span style="cursor: pointer;" class="learn-more-tab-label"><?php echo $_product->getResource()->getAttribute('full_ingredient_list')->getStoreLabel(); ?></span>
							</div>
						</div>
						<div data-role="content">
							<div class="learn-more-tab-content">
								<div class="learn-more-product-name"><?php echo $_product->getName(); ?></div>
								<div class="learn-more-product-description"><?= $_product->getDescription() ?></div>
							</div>
						</div>
						<div data-role="content">
							<div class="learn-more-tab-content">
								<div class="key-allies-title-anchor-container">
									<?php foreach ($productAttributes as $attribute):?>
									<?php if ($attribute->isInGroup($attributeSetId, $group_id)): ?>
										<?php if($attribute->getFrontend()->getValue($_product)): ?>
											<a class="key-allies" href="#<?php echo $attribute->getName(); ?>" ><?php echo $attribute->getFrontendLabel(); ?> \ </a>   
										<?php endif; ?>             
									<?php endif; ?>
									<?php endforeach; ?>
								</div>
								<div class="key-allies-heading-content">
									<?php foreach ($productAttributes as $attribute): ?>
									<?php if ($attribute->isInGroup($attributeSetId, $group_id)): ?>
										<?php if($attribute->getFrontend()->getValue($_product)): ?>
										<div class="attribute-text" id="<?php echo $attribute->getName(); ?>">
											<span class="purpose-label">Purpose</span>
											<div class="purpose-content"><?php echo $attribute->getFrontend()->getValue($_product); ?></div>
										</div>
										<?php endif; ?>
									<?php endif; ?>
									<?php endforeach; ?>
								</div>
							</div>
						</div>
						<div data-role="content">
							<div class="learn-more-tab-content">
								<div class="product-ingredient">
									<?= $_product->getFullIngredientList() ?>
								</div>
							</div>
						</div>
					</div>
	    		</div>
	    		<div class="learn-more-overlay"></div>
	    		
	    			<div id="learn-more-side-menu">
						<a href="javascript: void(0);" class="close-direction">X</a>
						
						<div class="learm-more-inner-content">
						
							<div class="direction-learn-more-headings">
								<div class="direction active show-in-tab-heading" data-related="direction-related">
									<?php echo $_product->getResource()->getAttribute('suggested_usage')->getStoreLabel(); ?>
								</div>
								<div class="layering show-in-tab-heading" data-related="benefits-related">
									<?php echo $_product->getResource()->getAttribute('benefits')->getStoreLabel(); ?>
								</div>
								<?php if($_product->getResource()->getAttribute('layering')->getFrontend()->getValue($_product)): ?>
									<div class="layering show-in-tab-heading" data-related="layering-related">
										<?php echo $_product->getResource()->getAttribute('layering')->getStoreLabel(); ?>
									</div>
								<?php endif;?>
								<?php if($_product->getResource()->getAttribute('allies_tip')->getFrontend()->getValue($_product)): ?>
									<div class="tips show-in-tab-heading" data-related="tips-related">
										<?php echo $_product->getResource()->getAttribute('allies_tip')->getStoreLabel(); ?>
									</div>
								<?php endif;?>
							</div>
							<div class="direction-learn-more-content">
								<div class="direction-content-on-sliding-menu active show-in-tab" id="direction-related">
									<!-- <h2 class="inner-direction-heading"><?php echo $_product->getResource()->getAttribute('suggested_usage')->getStoreLabel(); ?></h2> -->
									<?php echo $_product->getSuggestedUsage(); ?>
								</div>
								<div class="benefits-content-on-sliding-menu show-in-tab" id="benefits-related">
									<!-- <h2 class="inner-direction-heading"><?php echo $_product->getResource()->getAttribute('benefits')->getStoreLabel(); ?></h2> -->
									<?php echo $_product->getBenefits(); ?>
								</div>
								<div class="layering-content-on-sliding-menu show-in-tab" id="layering-related">
									<!-- <h2 class="inner-direction-heading"><?php echo $_product->getResource()->getAttribute('layering')->getStoreLabel(); ?></h2> -->
									<?php echo $_product->getLayering(); ?>
								</div>
								<div class="layering-content-on-sliding-menu show-in-tab" id="tips-related">
									<!-- <h2 class="inner-direction-heading"><?php echo $_product->getResource()->getAttribute('allies_tip')->getStoreLabel(); ?></h2> -->
									<?php echo $_product->getAlliesTip(); ?>
								</div>
							</div>
							
						</div>
	    			
					</div>
	    			<div class="learn-more-sideoverlay"></div>
	    		<?php endif; ?>
	    </div>
	<?php else: ?>
		<?php
			$productImage = $this->helper('Magento\Catalog\Helper\Image')
			    ->init($_product, $_code)
			    ->setImageFile($attrCode->getValue());
			    
			    $gifurlData = $_product->getData($_code);
			    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
			    $store = $objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore();
			    $gifUrl = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'catalog/product' . $gifurlData;
			    
			    //die();
		?>
		<?php if($_product->getResource()->getAttribute('kit_attribute')->getFrontend()->getValue($_product)): ?>	
			<div class="product img attibute <?php echo $_className?>">
				<img src="<?php echo $gifUrl; ?>" alt="<?php echo $block->escapeHtml($_product->getTitle()) ?>" />
			</div>
		<?php elseif ($_product->getResource()->getAttribute('product_attribute_image')->getFrontend()->getValue($_product)): ?>
		<?php if($gifurlData != 'no_selection'):?>	
		<div class="product img attibute <?php echo $_className?>">
				<img src="<?php echo $gifUrl; ?>" alt="<?php echo $block->escapeHtml($_product->getTitle()) ?>" />
		</div>
		<?php endif; ?>	
		
		<?php if ($_product->getResource()->getAttribute('product_video')->getFrontend()->getValue($_product)): ?>
			<?php $videoUrl = $_product->getResource()->getAttribute('product_video')->getFrontend()->getValue($_product); ?>			
			<div class="attribute-video">
				<video class="pro-video" controls>
					<source src="<?php echo $baseUrl?>catalog/product/video/<?php echo $videoUrl; ?>" type="video/mp4">
				</video>
				<div class="playpause"><img src="<?php echo $baseUrl?>wysiwyg/video-play-btn.png" class="video-play-btn" /></div>
			</div>
		<?php endif; ?>	
		
	<?php endif; ?>
	<?php endif; ?>
</div>
<?php endif; ?>
<script>
    require([
        'jquery',
        'accordion'], function ($) {
        /* */
        $('.learn-more').click(function(){
        	$(this).parents('.product-more-info').siblings('.full-description').addClass('active');
        	$(this).parents('body').addClass('page-over-flow-hide');
        });
        $('.close-description').click(function(){
        	$(this).parent('.full-description').removeClass('active');
        	$(this).parents('body').removeClass('page-over-flow-hide');
        });	
        $("#element").accordion();
        $('.key-allies').first().addClass('active');
        $('.attribute-text').first().addClass('active');
        /* Show/Hide Allies of key */
         $('.key-allies').click(function(e){
         	e.preventDefault();
         	$('.key-allies').removeClass('active');
         	$(this).addClass('active');         	
         	var element = $(this).attr('href');
         	$('.key-allies-heading-content').find('.attribute-text').removeClass('active');
         	$(element).addClass('active');

         });
		$(".direction-learn-more-content .show-in-tab").each(function(){
				$(this).hide();
				if($(this).attr('id') == 'direction-related') {
				$(this).show();
			}
		});

		$('.direction-learn-more-headings .show-in-tab-heading').on( "click", function(e) {
			e.preventDefault();
			var id = $(this).attr('data-related'); 
			$(this).addClass('active');
			$(this).siblings().removeClass('active');
			$(".direction-learn-more-content .show-in-tab").each(function(){
				$(this).hide();
				if($(this).attr('id') == id) {
				$(this).show();
				$(this).addClass('active');
				$(this).siblings().removeClass('active');
			}
			});
		});
		$('.direction-learn-more').click(function(){
			$(this).parents('.usage-benefits').siblings('#learn-more-side-menu').addClass('active');
			$(this).parents('body').addClass('page-over-flow-hide');
		});
		$('.close-direction').click(function(){
			$(this).parents('#learn-more-side-menu').removeClass('active');
			$(this).parents('body').removeClass('page-over-flow-hide');
		});
		
		$('.learn-more-sideoverlay').click(function(){
			$(this).siblings('#learn-more-side-menu').removeClass('active');
			$(this).parents('body').removeClass('page-over-flow-hide');
		});
		$('.learn-more-overlay').click(function(){
			$(this).siblings('#learn-more-popup').removeClass('active');
			$(this).parents('body').removeClass('page-over-flow-hide');
		});

		<?php $prductId = $_product->getId();?>
		<?php if($prductId != 16): ?>
			$('.product-custom-attributes-benefits').addClass('product-info-video');
		<?php endif; ?>
				
		$('.playpause').click(function(){
			$(this).hide();
			$('video').trigger('play');
		});
		$('.pro-video').click(function(){
			$('.playpause').toggle();
			$('.playpause').show();
		});
		
		
    });
</script>