<?php
	$_product = $block->getProduct(); // GET THE PRODUCT
?>

<div class="custom-social-sharing-icon-container" data-role="wdm-social-icons">
<!-- FACEBOOK -->
<a href="https://www.facebook.com/sharer/sharer.php?u=<?php echo urlencode($_product->getProductUrl());?>&t=<?php echo urlencode($_product->getName())?>" onclick='javascript:window.open(this.href,"","width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes");return false' title="Share on FaceBook">
	<img src="<?php echo $this->getViewFileUrl('images/facebook-icon.png'); ?>" alt="FaceBook"><span class="sharing-text">SHARE</span>
</a>
<!-- TWITTER -->
<a href="http://twitter.com/home/?status=<?php echo urlencode($_product->getProductUrl());?>(<?php echo urlencode($_product->getName())?>)" onclick='javascript:window.open(this.href,"","width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes");return false' title="Share on Twitter">
	<img src="<?php echo $this->getViewFileUrl('images/twitter.png'); ?>" alt="Twitter"><span class="sharing-text">TWEET</span>
</a>
<!-- PINTEREST -->
<a href="http://pinterest.com/pin/create/button/?url=<?php echo urlencode($_product->getProductUrl());?>" onclick='javascript:window.open(this.href,"","width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes");return false' title="Share on pinterest">
	<img src="<?php echo $this->getViewFileUrl('images/pinterest.png'); ?>" alt="Pinterest"><span class="sharing-text">PIN IT</span>
</a>
<!-- FANCY -->
<a href="http://www.thefancy.com/fancyit?ItemURL=<?php echo urlencode($_product->getProductUrl());?>" onclick='javascript:window.open(this.href,"","width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes");return false' title="Share on fancy">
	<img src="<?php echo $this->getViewFileUrl('images/fancy.png'); ?>" alt="fancy"><span class="sharing-text">FANCY</span>
</a>
<!-- GOOGLE -->
<a href="//plus.google.com/share?url=<?php echo urlencode($_product->getProductUrl());?>" onclick='javascript:window.open(this.href,"","width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes");return false' title="Share on google+">
	<img src="<?php echo $this->getViewFileUrl('images/google.png'); ?>" alt="google">
</a>
</div>
<style>
.custom-social-sharing-icon-container img{
	vertical-align: middle;
}
span.sharing-text {
    vertical-align: middle;
}
.custom-social-sharing-icon-container {
    width: 100%;
}
</style>