<script>
    function stampedInit(){
	setTimeout(function(){
		StampedFn.init({
			apiKey: '<?php echo $this->getApiKey(); ?>',
			storeUrl: '<?php echo $this->getApiStoreUrl(); ?>'
		});
	},6000);
    }
</script>
<script async defer onload="stampedInit()" type="text/javascript" src="//cdn-stamped-io.azureedge.net/files/widget.min.js"></script>
