<?php 
        if ($block->getWidgetShow()):?>
        	<div id="review-loader" style="display: none;"><img src='<?php echo $this->getViewFileUrl('images/review-loader.gif'); ?>' alt="loader"></div>
	<div id="stamped-main-widget" class="stamped stamped-main-widget"
		data-product-id="<?php echo $this->getProductId() ?>"
		data-name="<?php echo $this->getProductName() ?>"
		data-url="<?php echo $this->getProductUrl() ?>"
		data-image-url="<?php echo $this->getProductImageUrl() ?>"
		data-description="<?php echo $this->getProductDescription() ?>">
	</div>
<?php endif ?>
<style>
#review-loader {
    clear: both;
    text-align: center;
}
#review-loader img {
    margin-top: 40px;
}
.stamped-questions-search-text .stamped-questions-search-icon.stamped-fa.stamped-fa-search,
.stamped-reviews-search-text .stamped-reviews-search-icon.stamped-fa.stamped-fa-search {
    position: relative;
    top: 5px;
    left: 5px;
    line-height: 0;
    font-size: 20px;
    z-index: 10;
}
.stamped-questions-search-text input.stamped-questions-search-input, .stamped-reviews-search-text input.stamped-reviews-search-input {
	position: relative;
	top: -25px;
}
.stamped-questions-search-text, .stamped-reviews-search-text {
    max-width: calc(100% - 114px);
}
.stamped-sort-select {
    height: 35px;
    padding-right: 22px;
}
.new-review-form, .stamped-content form {
    position: relative;
    z-index: 2;
}
@media (max-width:767px){
	.stamped-sort-select {
		width: 120px;
		max-width: 120px!important;
	}
}
</style>