<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php $_orders = $block->getOrders(); ?>
<?= $block->getChildHtml('info') ?>
<?php if ($_orders && count($_orders)): ?>
    <div class="table-wrapper orders-history">
        <div class="myorder"><span class="backstrip">my orders</span></div>
        <div class="data table table-order-items history" id="my-orders-table">
            <?php foreach ($_orders as $_order): ?>
            <div class="orderdetails">
                <div class="innerlist">
                    <div scope="col" class="col id heading"><?= /* @escapeNotVerified */ __('Order #') ?></div>
                    <div data-th="<?= $block->escapeHtml(__('Order #')) ?>" class="col id"><?= /* @escapeNotVerified */ $_order->getRealOrderId() ?></div>
                </div>
                <div class="innerlist">
                    <div scope="col" class="col date heading"><?= /* @escapeNotVerified */ __('Date') ?></div>
                    <div data-th="<?= $block->escapeHtml(__('Ship To')) ?>" class="col shipping">
                        <?= $_order->getShippingAddress() ? $block->escapeHtml($_order->getShippingAddress()->getName()) : '&nbsp;' ?>
                    </div>
                </div>
                <div class="innerlist">
                    <div scope="col" class="col total heading"><?= /* @escapeNotVerified */ __('Order Total') ?></div>
                    <div data-th="<?= $block->escapeHtml(__('Order Total')) ?>" class="col total">
                        <?= /* @escapeNotVerified */ $_order->formatPrice($_order->getGrandTotal()) ?>
                    </div>
                </div>
                <div class="innerlist">
                    <div scope="col" class="col status heading"><?= /* @escapeNotVerified */ __('Status') ?></div>
                    <div data-th="<?= $block->escapeHtml(__('Status')) ?>" class="col status"><?= /* @escapeNotVerified */ $_order->getStatusLabel() ?></div>
                </div>
                <div class="innerlist orderhistaction">
                    <div scope="col" class="actiontop"><?= /* @escapeNotVerified */ __('Action') ?></div>
                    <div data-th="<?= $block->escapeHtml(__('Actions')) ?>" class="actionsN">
                            <a href="<?= /* @escapeNotVerified */ $block->getViewUrl($_order) ?>" class="action view">
                                <span><?= /* @escapeNotVerified */ __('View Order') ?></span>
                            </a>
                            <?php if ($this->helper('Magento\Sales\Helper\Reorder')->canReorder($_order->getEntityId())) : ?>
                                <a href="#" data-post='<?php /* @escapeNotVerified */ echo
                                $this->helper(\Magento\Framework\Data\Helper\PostHelper::class)
                                    ->getPostData($block->getReorderUrl($_order))
                                ?>' class="action order">
                                    <span><?= /* @escapeNotVerified */ __('Reorder') ?></span>
                                </a>
                            <?php endif ?>
                        </div>
                </div>
            </div>
            <?php endforeach; ?>
        </div>
    </div>
    <?php if ($block->getPagerHtml()): ?>
        <div class="order-products-toolbar toolbar bottom" style="display:none;"><?= $block->getPagerHtml() ?></div>
    <?php endif ?>
<?php else: ?>
    <div class="message info empty"><span><?= /* @escapeNotVerified */ __('You have placed no orders.') ?></span></div>
<?php endif ?>
