<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<div class="block block-dashboard-orders">
<?php
    $_orders = $block->getOrders();
    $count = count($_orders);
?>
    <div class="block-title order">
        <span class="backstrip"><?= /* @escapeNotVerified */ __('LATEST ORDERS') ?></span>
        <?php if ($count > 0): ?>
            <a class="action view" href="<?= /* @escapeNotVerified */ $block->getUrl('sales/order/history') ?>">
                <span><?= /* @escapeNotVerified */ __('View All') ?></span>
            </a>
        <?php endif; ?>
    </div>
    <div class="block-content">
    <?= $block->getChildHtml() ?>
    <?php if ($count > 0): ?>
        <div class="table-wrapper orders-recent">
            
            <div id="my-orders-table">
                <?php foreach ($_orders as $_order): ?>
                <div class="orderdetails">
                    <div class="innerlist">
                        <div class="col heading id"><?= /* @escapeNotVerified */ __('Order #') ?></div>
                            <div data="<?= $block->escapeHtml(__('Order #')) ?>" class="col id">
                                <?= /* @escapeNotVerified */ $_order->getRealOrderId() ?>
                            </div>
                    </div>
                    <div class="innerlist">
                        <div  class="col heading date"><?= /* @escapeNotVerified */ __('Date') ?></div>
                        <div data="<?= $block->escapeHtml(__('Date')) ?>" class="col date">
                            <?= /* @escapeNotVerified */ $block->formatDate($_order->getCreatedAt()) ?>
                        </div>
                    </div>
                    <div class="innerlist">
                        <div class="col heading shipping"><?= /* @escapeNotVerified */ __('Ship To') ?></div>
                        <div data="<?= $block->escapeHtml(__('Ship To')) ?>" class="col shipping">
                            <?= $_order->getShippingAddress() ? $block->escapeHtml($_order->getShippingAddress()->getName()) : '&nbsp;' ?>
                        </div>
                    </div>
                    <div class="innerlist">
                        <div class="col heading status"><?= /* @escapeNotVerified */ __('Status') ?></div>
                        <div data-th="<?= $block->escapeHtml(__('Status')) ?>" class="col status">
                            <?= /* @escapeNotVerified */ $_order->getStatusLabel() ?>
                        </div>
                    </div>
                    <div class="trackyouorder">TRACK ORDER</div>
                    <div class="innerlist">
                        <div data-th="<?= $block->escapeHtml(__('Actions')) ?>" class="col actions">
                            <a href="<?= /* @escapeNotVerified */ $block->getViewUrl($_order) ?>" class="action view">
                                <span><?= /* @escapeNotVerified */ __('View Order') ?></span>
                            </a>
                        </div>
                        <div class="reviewcount">REVIEW</div>
                    </div>
                </div>
                    <?php endforeach; ?>
            </div>
            
        </div>
    <?php else: ?>
        <div class="message info empty"><span><?= /* @escapeNotVerified */ __('You have placed no orders.') ?></span></div>
    <?php endif; ?>
    </div>
</div>
