<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_Promo
 */
?>
<?php /** @var \Amasty\Promo\Block\Notification $block */?>
<?php if ($block->isEnabled() && $block->getNewItemsCount() > 0 && $block->getNoticeHtml()) :?>
    <div class="message-notice notice message">
        <div><?= $block->getNoticeHtml();?></div>
    </div>
<?php endif;?>
