// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Luma theme overrides
//  _____________________________________________

//  Theme file should contain declarations (overrides) ONLY OF EXISTING variables
//  Otherwise this theme won't be available for parent nesting
//  All new variables should be placed in local theme lib or local theme files

//
//  Typography
//  ---------------------------------------------



//  Color nesting
@panel__background-color: @color-gray-light0;
@border-color__base: @color-gray80;

//  Headings
@h3__font-weight: @font-weight__semibold;
@h3__margin-top: @indent__base;

//  Links
@link__color: @color-blue2;

//  Focus
@focus__color: @color-blue3;

//
//  Tables
//  ---------------------------------------------

@table-cell__padding-vertical: 11px;
@table-cell-stripped__background-color: @table-cell__hover__background-color;
@table-responsive-th__background-color: @table-cell-stripped__background-color;
@table-responsive-cell__padding: @indent__xs @indent__s;

//
//  Layout grid
//  ---------------------------------------------

@total-columns: 24;

//  Variables for layout columns
@layout-column__sidebar-width: 5;

//  Checkout columns width
@layout-column-checkout__width-left: 6;

//
//  Navigation
//  ---------------------------------------------

@navigation__background: @color-gray94;
@navigation-level0-item__active__color: @primary__color;
@navigation-level0-item__active__border-color: @active__color;
@navigation-desktop-level0-item__active__border-color: @active__color;

@submenu-desktop-item__active__border-color: @active__color;
@submenu-item__active__border-color: @active__color;
@submenu-item__active__color: @navigation-level0-item__active__color;


//  Desktop navigation
@navigation-desktop-level0-item__line-height: 47px;
@submenu-desktop__font-weight: @font-weight__regular;
@submenu-desktop-item__active__color: @navigation-level0-item__active__color;

//  Tabs
@tab-control__color: @color-gray43;
@tab-control__font-weight: @font-weight__regular;
@tab-control__height: @indent__base*2;
@tab-control__margin-right: -1px;
@tab-control__padding-top: 1px;
@tab-control__padding-right: 35px;

//  Tabs content
@tab-content__padding-top: 35px;
@tab-content__padding-right: @tab-control__padding-right;

//
//  Accordion
//  ---------------------------------------------

@accordion-control__font-family: false;
@accordion-control__font-size: @font-size__base;
@accordion-control__font-style: false;
@accordion-control__font-weight: @font-weight__semibold;
@accordion-control__border-right: false;
@accordion-control__border-bottom: false;
@accordion-control__border-left: false;
@accordion-control__background-color: false;
@accordion-control__color: @primary__color;
@accordion-control__hover__background-color: false;
@accordion-control__hover__color: @accordion-control__color;
@accordion-control__active__background-color: false;
@accordion-control__active__color: @accordion-control__color;
@accordion-control__margin-bottom: 0;
@accordion-control__padding-right: @indent__s;
@accordion-control__padding-left: @indent__s;
@accordion-content__border: false;
@accordion-content__margin: 0;
@accordion-content__padding: @indent__s @indent__s @indent__l;

//
//  Buttons
//  ---------------------------------------------

@button__font-weight: @font-weight__semibold;

//  Default = secondary button
@button__background: @color-gray-darken0;
@button__border: 1px solid @border-color__base;
@button__hover__color: @button__color;
@button__hover__background: darken(@button__background, 5%);
@button__active__background: @color-gray-darken1;

//  Primary button
@button-primary__hover__color: @color-white;
@button-primary__active__background: @link__hover__color;
@button-primary__active__border: 1px solid @link__hover__color;
@button-primary__active__color: @color-white;

//  Button with icon
@button-icon__line-height: @icon-font__line-height;

//
//  Icons
//  ---------------------------------------------

@icon-wishlist-empty: false;
@icon-comment-reflected: false;
@icon-compare-empty: false;
@icon-arrow-up-thin: false;
@icon-arrow-right-thin: false;
@icon-arrow-left-thin: false;
@icon-arrow-down-thin: false;
@icon-wishlist-empty: '\e601';

//
//  Messages
//  ---------------------------------------------

@message__padding: 12px @indent__base 12px @indent__m;
@message__line-height: false;
@message-icon__font-size: 24px;
@message-icon__inner-padding-left: 45px;
@message-icon__top: 22px;
@message-error-icon: @icon-error;
@message-success-icon: @icon-success;

//
//  Loaders
//  ---------------------------------------------

@loader-overlay__background-color: rgba(255, 255, 255, .7);

//
//  Forms
//  ---------------------------------------------

//  Form fieldset
@form-fieldset-legend__font-size: 18px;
@form-fieldset-legend__font-weight: @font-weight__light;
@form-fieldset-legend__margin: 0 0 @indent__base;
@form-fieldset-legend__padding: 0 0 @indent__s;
@form-fieldset-legend__width: 100%;

//  Form field
@form-field-type-revert: false;
@form-field__additional-vertical-indent: @indent__s;

//  Form field label
@form-field-label__font-weight: @font-weight__semibold;
@form-field-type-label-block__margin: 0 0 8px;

//  Form field note icon
@form-field-note-icon-font__content: false;

//  Placeholder
@form-element-input-placeholder__color: @color-gray34;

//
//  Pager
//  ---------------------------------------------

@pager__font-weight: @font-weight__regular;
@pager__line-height: @indent__l;
@pager-item__margin: 0 8px 0 0;
@pager-item__padding: 0 @indent__xs;

//  Pager current page
@pager-current__background: @color-gray90;

//  Pager link.action
@pager-icon__font-margin: 0;
@pager-icon__font-size: 16px;

//  Pager link.action visited
@pager-action__visited__color: @text__color__muted;

//  Pager link.action hover
@pager-action__hover__color: @text__color__muted;

//  Pager link.action active
@pager-action__active__color: @text__color__muted;

//
//  Rating
//  ---------------------------------------------

@rating-icon__font-size: 16px;
@rating-icon__letter-spacing: 2px;
@rating-icon__active__color: @active__color;

//
//  Dropdowns
//  ---------------------------------------------

@dropdown-toggle-icon__content: @icon-down;
@dropdown-toggle-icon__active__content: @icon-up;
@dropdown-toggle-icon__font-size: 12px;

//  Split dropdown
@dropdown-split-actions__padding: 0 @indent__xs;
@dropdown-split-toggle__actions__padding: false;

//  Actions-toolbar
@actions-toolbar-actions__position: left;
@actions-toolbar-actions-primary__margin: 0 15px 0 0;

//
//  Breadcrumbs
//  ---------------------------------------------

@breadcrumbs__container-margin: 0 0 15px;
@breadcrumbs-icon__font-size: 10px;
@breadcrumbs-icon__font-margin: 0 @indent__s;

@breadcrumbs-current__color: @color-gray-middle5;
@breadcrumbs-link__color: @color-blue2;
@breadcrumbs-link__visited__color: @breadcrumbs-link__color;
@breadcrumbs-link__hover__color: @breadcrumbs-link__color;
@breadcrumbs-link__active__color: @breadcrumbs-link__color;

//
//  Popups
//  ---------------------------------------------

@popup__border: 1px solid @color-gray68;
@popup-title-headings__level: h2;

//  Popup icons
@popup-icon-font__size: 16px;
@popup-icon-font__line-height: 16px;
@popup-icon-font__color: @color-gray55;
@popup-icon-font__color-hover: darken(@popup-icon-font__color, 10%);
@popup-icon-font__color-active: @popup-icon-font__color-hover;

//  Window overlay
@overlay__background: @color-gray55;
@overlay__opacity: .7;
@overlay__opacity-old: 70;

@gallery-thumb-border-color-active: @active__color;

//  Checkout tooltip icon
@checkout-tooltip-icon__font-size: 21px;

//  Checkout Payment Option icon
@checkout-payment-option-title-icon__font-size: 14px;
@checkout-payment-option-title-icon__line-height: 16px;
@checkout-payment-option-title-icon__margin: 0 0 0 @indent__s;

//  Checkout Sidebar Shipping Information
@checkout-sidebar-shipping-information-edit-icon__content: @icon-edit;
@checkout-sidebar-shipping-information-edit-icon__font-size: 18px;
@checkout-sidebar-shipping-information-edit-icon__line-height: 20px;
@checkout-sidebar-shipping-information-edit-icon__top: @indent__s;

//  Checkout
@checkout-sidebar__columns: 8;

//
//  Footer
//  ---------------------------------------------

@copyright__background-color: @color-gray-middle4;


//
//  Header
//  ---------------------------------------------
.header {
    background: unset;
}

.header_label {
    background: black;
    color: white;
    text-align: center;
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
      
   a{
	
	float: right;
    color: white;
    right: 7px;
    position: relative;
    
    }

 }

.footer {
 	background: none;
 }

.page-footer{
    background: url('../images/footer.png');
    .footer-logo {text-align: center;
    }

    .newsletter1 .title1 {
    text-align: center;
    color: white;
}

.footer.content .block {
    float: none;
}


}
.upper-banner-conatiner {
    .banner-inner-content {
        margin: auto;
    }
}
.homepageslider {
    position: relative;
    .bannertimer {
        text-align: center;
        background: #000;
        clear: both;
        width: 100%;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 12px;
        font-weight: normal;
        font-family: "BrandonGrotesque Regular";
        .cal-text {
            font-family: "BrandonGrotesque Medium";
            font-size: 40px;
            font-weight: 600;
            display: inline-block;
            vertical-align: top;
        }
        .Sale-timer-text {
            width: auto;
            vertical-align: text-top;
            padding-top: 20px;
            padding-right: 10px;
        }
        .stat-text {
            display: inline-block;
            padding-top: 20px;
            vertical-align: top;
            padding-left: 10px;
        }
        
    }
}
.homepageslider .bannertimer > span {
    width: auto;
    padding-right: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    position: relative;
//     &::after {
//        content: '';
//        border-bottom: solid 1px #fff;
//        position: absolute;
//        left: 80px;
//        top: 24px;
//        width: 72%;
//    }
//    &:first-child {
//        &::after {
//            display: none;
//        }
//    }
//    &:last-child {
//        &::after {
//            display: none;
//        }
//    }
//    &.Sale-timer-hours {
//        &::after {
//            left: 92px;
//            width: 68%;
//        }
//    }
//    &.Sale-timer-minutes {
//        &::after {
//            left: 125px;
//            width: 54%;
//        } 
//    }
}


#popup-box { background: #fff; height: initial; left: 50%; margin: auto; max-width: 490px; padding: 20px 30px; position: fixed; top: 50%; transform: translate(-50%, -50%);  width: 90%; z-index: 9999; border: none; /*display: flex; justify-content: center; align-content: center;*/ }


#popup-box .close { color: #000 !important; display: inline-block; font-family: "BrandonGrotesque Regular"; font-size: 20px; line-height: 12px; position: absolute; right: 20px; text-align: right; text-decoration: none; top: 20px;  cursor: pointer;}
#popup-box .close:hover { color: #777 !important; text-decoration: none; }

#popup-box .leftbox {float: left; width: 50%;}
#popup-box .leftbox img {display: block;}

#popup-box .contentbox {float: left;  width: 45%;  padding-left: 20px;}
#popup-box .contentbox h2 {font-family: "BrandonGrotesque Bold"; text-transform: uppercase; font-size: 48px; color: #000;}
#popup-box .contentbox p { font-family: "BrandonGrotesque Regular";  font-size: 21px; border-top: solid 1px #000;    padding-top: 20px; color: #000;}
#popup-box .contentbox .shopnow {display: block;text-align: center; font-family: "BrandonGrotesque Medium";  text-transform: uppercase; text-decoration: none; font-size: 20px; letter-spacing: 1px;  border: solid 1px #000;  width: 170px;  margin: auto; margin-top: 35px; padding: 5px 0; line-height: normal;}
#popup-box .contentbox .tandc {padding-top: 28px;}

#popup-box .mobilebanner {display: none !important;}


#popup-box {
	.popupimage {
		float: left;
		width: 50%;
		
		picture {
			display: inline-block;
			width: 100%;
			vertical-align: middle;
		}
		
		img {
			display: inline-block;
			width: 100%;
			vertical-align: middle;
		}
	}

    .contentsection {
	    text-align: left;
		float: right;
		width: 50%;
		box-sizing: border-box;
		padding: 40px;
		display: flex;
		flex-wrap: wrap;
		align-content: center;

        p {
			color: #202020;
			font-family: "BrandonGrotesque Regular";
			font-size: 26px;
			letter-spacing: 1px;
			margin: 0px;
			display: inline-block;
			width: 100%;
			vertical-align: middle;
			
			b {
				font-weight: normal;
				font-family: "BrandonGrotesque Bold";
			}
		}
		
        h2 {
            color: #202020;
			font-family: "BrandonGrotesque Bold";
			font-size: 60px;
			padding: 0;
			margin: 0;
			display: inline-block;
			width: 100%;
			vertical-align: middle;
			font-weight: normal;
			text-transform: uppercase;
			line-height: 70px;
			
			em {
				font-style: normal;
				font-size: 45px;
				font-family: "BrandonGrotesque Regular";
				position: relative;
				top: -16px;
			}
        }
		
        a {
			background: none;
			color: #202020;
			font-family: "BrandonGrotesque Regular";
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 28px;
			padding: 0;
			display: inline-block;
			margin: 45px 0;
			text-decoration: none;
			transition: .5s all ease;
			border: 2px solid #202020;
			width: 90%;
			text-align: center;
			line-height: 65px;
			
            &:hover {
                background: #202020;
                text-decoration: none;
                transition: .5s all ease;
				color: #fff;
            }
        }
		
		small {
			display: inline-block;
			width: auto;
			vertical-align: middle;
			font-size: 13px;
			letter-spacing: 1px;
			font-family: "BrandonGrotesque Regular";
			line-height: 24px;
			
			a {
				margin: 0 5px 0 0;
				border: none;
				text-decoration: underline;
				font-size: 13px;
				line-height: 24px;
				width: auto;
				text-transform: none;
				
				&:hover {
					background: none;
					text-decoration: none;
					color: #202020;
				}
			}
			
			em {
				font-style: normal;
				position: relative;
				top: 0px;
				font-size: 16px;
			}
		}
    }
}


@media only screen and (min-width: 0) and (max-width: 767px) {

    .homepageslider .bannertimer > span {
        &::after {
            display: none;
        }
    }
    .homepageslider .bannertimer > span {
        width: auto;
    }
    .homepageslider {
        .cal-text {
            font-size: 14px !important;
            padding-right: 2px;
        }
        .bannertimer {
            font-size: 10px;
            bottom: 5px;
            .Sale-timer-text { 
                padding-top: 4px;
                padding-right: 0px;
            }
            .stat-text {
                padding-top: 4px;
                padding-right: 2px;
            }
            .Sale-timer-days, .Sale-timer-hours {
                width: auto;
            }
        }
    }
    #popup-box {
        background: #fff !important;
        padding: 0px !important;
    }
    #popup-box .leftbox {
        float: none;
        width: 100%;
    }
    #popup-box .contentbox {
        float: none;
        width: 100%;
    }
    #popup-box .mobilebanner {display: block !important;}
    #popup-box .deskotpbanner {display: none !important;}
    #popup-box .contentbox {padding: 0px;}
    #popup-box .contentbox h2 {font-size: 38px; text-align: center;}
    #popup-box .contentbox p {text-align: center; font-size: 20px; margin: 0 38px;}
    #popup-box .contentbox .tandc {text-align: center; padding-bottom: 15px;}
    #popup-box .close {color: #fff !important; font-size: 30px !important; cursor: pointer;}
    #popup-box .mobilecontent {display: block;}
	
    #popup-box {
		display: inline-block;
		
		.popupimage {
			width: 100%;
		}
		
        .contentsection {
			width: 100%;
			padding: 10px;
			text-align: center;
			
            p {
                font-size: 16px;
            }
			
            h2 {
                font-size: 30px;
				line-height: 40px;
				
				em {
					font-size: 24px;
					top: -8px;
				}
            }
			
            a {
                padding: 0;
				font-size: 16px;
				margin: 20px 5%;
				line-height: 36px;
            }
			
			small {
				font-size: 11px;
				line-height: 18px;
				width: 100%;
				
				a {
					font-size: 11px;
					line-height: 18px;
					margin: 0 5px;
				}
			}
        }
    }
.addtocart-subscribe .addtocart-wrapper .control{ width: 49% !important;}
.addtocart-subscribe .addtocart-wrapper .field {
    display: inline-block;
    width: 100%;
    margin: 0 !important;
}
.addtocart-subscribe .addtocart-wrapper .label {
    padding-top: 0px;
    width: 47%;
    text-align: left;
}
.catalog-product-view .product-add-form .box-tocart .qty {float:left;}
.product-info-encaptulate .product-container { padding:0;}
.addtocart-wrapper .subscribe-container #product-subscribe-button { margin-left:102px !important;}
.header_label {padding: 13px 10px;}

.catalog-product-view .product-info-main-container .price-box {    text-align: right;
    width: 100%;}

.overview-container #learn-more-popup, .overview-container #learn-more-side-menu {
    width: auto !important;
    height: 100vh;
}
.catalog-product-view {
    
    .product-add-form .box-tocart .price-box-container .label {}
.product-add-form .box-tocart .price-box span { float:initial;}
}
.product-add-form .box-tocart .product-volume-attr-product-page {text-align:left}
.product-add-form .box-tocart .price-box-container {float:right;     text-align: right;}
.product-add-form .product-out-of-stock-container .box-tocart .price-box-container {float:left;     text-align: left;}

}

//
//  Subscription Page CSS Start
//  ---------------------------------------------

.cms-subscription {
  //overflow-x: hidden;

  h1 {
    font-size: 14px;
    font-family: "BrandonGrotesque Medium";
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 30px;
  }
  .favourite-container-list {
    display: block;
    margin-bottom: 75px;

    .subscribe-product {
      width: 100%;
      float: left;
      
      display: flex;
    }
    .subscribe-product-info-main {
      width: 100%;
      float: left;
      display: block;margin-top: 25px;
      //
     //Review Slider CSS

     .review-section{
    padding-top: 80px;
     
    .reviews-count p {
    color: #676666;
    font-size: 13px;
    line-height: 34px;
    text-transform: uppercase;margin-bottom: 0;
}
.rating{
  .fa-star {
    color: #000;
}
}


  #customers-reviews {
   .stamped-location-flag img {
    float: left;
}
.stamped-review-header-title {
    font-size: 20px;
}

  .item-details{
   
    padding: 20px 10px;
    text-align: left;
    
    h5{
      margin: 0 0 15px;
      font-size: 18px;
      line-height: 18px;
      span{
        color: red;
        float:right;
        padding-right: 20px;
      }
    }
    p{
      font-size: 14px;
    }
  }
  .item {
      text-align: left;
      // padding: 20px;
      margin-bottom:80px;
  }
}
.owl-carousel .owl-nav [class*='owl-'] {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.owl-carousel .owl-nav [class*='owl-'].disabled:hover {
  background-color: #e5e5e5;
}
.owl-carousel {
  position: relative;
}
.owl-carousel .owl-next,
.owl-carousel .owl-prev {
  width: 29px;
  height: 29px;
  line-height: 29px;
  border-radius: 50%;
  position: absolute;
  top: 54%;
  font-size: 20px;
  color: #fff;
  border: 1px solid #ddd;
  text-align: center;background: #e5e5e5; display:none;
}
.owl-carousel .owl-prev {
  left: -46px;
}
.owl-carousel .owl-next {
  right: -46px;
}

     }
      .favourite-right-section {
        .short-description {
          padding: 14px 0;
          p {
            font-size: 14px;
            color: #000;
            margin-bottom: 0;
          }
        }
        .product-name {
          font-size: 24px;
          line-height: 30px;
          margin-top: 0;
          font-family: "QuadraatSansPro";
          font-weight: normal;
        }
        .product-price.new-price {
          display: inline-block;
          font-size: 18px;
          color: #000;
          font-family: "BrandonGrotesque Bold";
        }
        .product-price.old-price {
          margin-right: 15px;
          display: inline-block;
          span {
            font-size: 16px;

            font-family: "BrandonGrotesque Bold";
            color: #343434;
            text-decoration: line-through;
            letter-spacing: 1px;
            line-height: 30px;
          }
        }

        .subscribe-container {
          margin-top: 34px;
          .subscibe-btn-heading {
            font-size: 16px;
            color: #000;
            text-transform: uppercase;
            font-family: "BrandonGrotesque Bold";
            line-height: 30px;
            margin-bottom: 15px;
            letter-spacing: 0.9px;
            margin: 0;
          }
          .subscribe-page-btn {
            font-size: 15px;
            font-family: "BrandonGrotesque Bold";
            color: #fff !important;
            background: #000;
            text-transform: uppercase;
            width: 100%;
            display: block;
            line-height: 39px;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
          }
        }
      }
    }
  }
  .regular-container {
    margin-bottom: 80px;
    display: inline-block;
    width: 100%;
    .home-page-product-list {
      text-align: center;
      position: relative;
      width: 100%;    margin-bottom: 25px;
      text-align: center;
      margin: 0;
      float: left;
      display: flex;
      .product-name {
        color: #000;
        font-size: 15px;
        letter-spacing: 2px;
        text-transform: uppercase;
        width: 70%;
        text-decoration: none;
        cursor: pointer;
        font-family: "BrandonGrotesque Medium";
        line-height: 18px;
        min-height: 60px;
        hyphens: manual;
        -moz-hyphens: manual;
        margin: 0 auto;
      }
      .product-short-dec {
        padding: 10px 10px;
        margin: 4px 37px;
        display: inline-block;
        font-family: "QuadraatSansItalic";
        font-size: 15px;
        color: #000000;
        letter-spacing: 1px;
        font-weight: normal;
        p {
          min-height: auto;
        }
      }
      .product-attr {
        display: inline-block;
        padding: 0;
        width: 100%;
        .product-volume-attr {
          display: inline-block;
          font-family: "BrandonGrotesque Medium";
          font-size: 12px;
          font-weight: normal;
          letter-spacing: 2px;
          line-height: 21px;
          text-transform: uppercase;
          width: initial;
        }
        .separator {
          display: inline-block;
          height: 15px;
          line-height: 21px;
          margin: 0 12px;
          position: relative;
          width: 1px;
          &:after {
            border-left: 1px solid #000;
            content: " ";
            height: 15px;
            left: 0;
            line-height: 21px;
            margin: 0 auto;
            position: absolute;
            right: 0;
            top: 3px;
            width: 0;
          }
        }
        .product-price {
          display: inline-block;
          float: none;
          line-height: 21px;
          padding: 0;
          width: initial;
          margin: 10px 0 0px;
          text-decoration: line-through;
        }
        .product-price.new-price {
          display: block;
          line-height: 30px;
          font-size: 14px;
          font-family: "BrandonGrotesque Bold";
          margin-bottom: 5px;
          margin-top: 0;
          text-decoration: none;
        }
        .price-box.price-final_price {
          margin-bottom: 0;
        }
        .subscribe-btn {
          border: 1px solid #000;
          font-family: "BrandonGrotesque Bold";
          font-size: 11px;
          letter-spacing: 2px;
          line-height: 38px;
          text-transform: uppercase;
          padding: 0;
          text-decoration: none;
          display: inline-block;
          width: 128px;
          &:hover {
            background: #000;
            color: #fff !important;
          }
        }
      }
    }
  }
  .subscription-conatiner {
    position: relative;
    h1 {
     position: relative;
    top: 0;
    text-align: center;
    }
    .subscribe-subcontainer {
      margin-bottom: 60px;
      display: flex;

      .media {
        display: flex;
        width: 100%;
        float: left;
        
      }

      
      .product-info {
        width: 100%;
        float: left;
        padding:0;
        box-sizing: border-box;
        .product-name {
          font-size: 22px;
          color: #000000;
          font-weight: 500;
          font-family: "QuadraatSansPro";
          text-transform: uppercase;
          line-height: 30px;
          margin-bottom: 5px;
          margin-top: 0;
        }
        .short-description {
          font-size: 14px;
          color: #000;
          line-height: 24px;
          font-family: "AvenirNext Medium";
        }
        .subscibe-btn-heading {
          font-family: "BrandonGrotesque Bold";
          font-size: 16px;
          text-transform: uppercase;
          line-height: 30px;
          margin-bottom: 10px;
          letter-spacing: 0.6px;
          margin: 0;
        }
        .subscribe-btn {
          padding: 0;
          border: 1px solid #000;
          text-transform: uppercase;
          font-family: "BrandonGrotesque Bold";
          width: 100%;
          display: block;
          line-height: 39px;
          text-align: center;
          text-decoration: none;
          margin-top: 10px;
          font-size: 15px;
          &:hover {
            background: #000;
            color: #fff !important;
          }
        }
      }
      .product-price.new-price {
        display: inline-block;
        line-height: 30px;
        font-size: 18px;
        font-family: "BrandonGrotesque Bold";
        margin-bottom: 5px;
        margin-top: 0;
        color: #000;
      }
      .product-price.old-price {
        display: inline-block;
      }
      .product-price.old-price span.price {
        font-size: 14px;
        text-decoration: line-through;
        margin-right: 10px;
        font-family: "BrandonGrotesque Bold";
        color: #000;
      }
    }
  }
  .subscription-banner-container {
    margin-left: -50vw;
    position: relative;
    width: 100vw;
    left: 50%;
    margin-bottom: 60px;

    .banner-section {
      position: relative;

      img {
        width: 100%;
      }
      h2 {
        position: relative;
    text-align: center;
    width: 100%;
    font-size: 24px;
    font-family: "BrandonGrotesque Bold";
    text-transform: uppercase;
    line-height: 30px;
    padding: 0 20px;
    box-sizing: border-box;
      }
    }
    .happy-skin {
          position: relative;
    bottom: 0;
    background: #000;
    width: 100%;
    max-height: 100%;
    padding: 30px 0;
    color: #fff;    display: flex;
      .container {
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 20px;
        box-sizing: border-box;
        .first-col,
        .second-col {
              width: 100%;
    float: left;
    display: block;
    box-sizing: border-box;
        }
        .first-col {
          
          h3 {
            font-family: "BrandonGrotesque Bold";
            font-size: 24px;
            margin-top: 0;
            line-height: 36px;
            margin-bottom: 10px;
          }
          p {
            font-size: 14px;
            line-height: 20px;
            margin: 0;
          }
        }
        .second-col {
          padding-top: 31px;

          .icon-box {
            width: 100%;
    display: flex;
    float: left;
    padding-left: 57px;
    box-sizing: border-box;
    background: url(../images/cancel.png) no-repeat left center;
    padding-top: 0;
    line-height: 44px;
    margin-bottom: 15px;
          }
          .icon-box.second {
            background: url(../images/control.png) no-repeat left center;
          }
        }
      }
    }
  }
}

//
//  Subscription Page CSS End
//  ---------------------------------------------