<!--
/**
 * Copyright © 2018 TechNWeb, Inc. All rights reserved.
 * See TNW_LICENSE.txt for license details.
 */
-->
<!-- ko if: messages -->
<div class="subscription-product-messages messages">
    <!-- ko foreach: messages -->
    <div class="message" data-bind="css: type">
        <div html="message"/>
    </div>
    <!-- /ko -->
</div>
<!-- /ko -->
