<!--
/**
 * Copyright © 2018 TechNWeb, Inc. All rights reserved.
 * See TNW_LICENSE.txt for license details.
 */
-->
<div class="button-container">
    <button type="button"
            css="getAdditionalClassesAsString()"
            click="action"
            disable="disabled"

            attr="'data-index': index"
            data-bind="visible: $data.visible">
        <span text="getTitle()"></span>

    </button>
</div>