<!--
/**
 * Copyright © 2018 TechNWeb, Inc. All rights reserved.
 * See TNW_LICENSE.txt for license details.
 */
-->
<if args="wasActivated">
    <div if="canShowMessage()" class="sub-area-messages" visible="active">
        <ul each="data: getMessageData(), as: 'message'">
            <li html="message"></li>
        </ul>
    </div>
    <div each="elems" visible="active" attr="'data-area-active': active" render=""/>
</if>
