<!--
/**
 * Copyright © 2018 TechNWeb, Inc. All rights reserved.
 * See TNW_LICENSE.txt for license details.
 */
-->

<div class="admin__field-complex" css="$data.additionalClasses" attr="'data-index': index">
    <div class="admin__fieldset-wrapper-title">
        <div class="admin__field-complex-content subscr-container-title subscr-header"
             html="$data.content"></div>
        <div class="admin__field-complex-elements subscr-header"
             each="data: elems, as: 'element'"
             render="" />
    </div>
</div>
