<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_MultiInventory
 */
?>
<?php /** @var $block \Magento\Checkout\Block\Onepage\Success */ ?>
<?php /** @see \Amasty\MultiInventory\Plugin\Checkout\Block\Onepage\SuccessPlugin::beforeFetchView */ ?>
<iframe id="cjTag" height="1" width="1" frameborder="0" scrolling="no" src="" name="cj_conversion" ></iframe>
<div class="checkout-success">
    
    <?php if ($block->getIsMultipleOrders()) :?>
        <div class="success-messages">
            <?php foreach ($block->getMultipleOrders() as $orderData) : ?>
                <?php if ($orderData->getCanViewOrder()) :?>
                    <p><?php echo __('Your order number is: %1.', sprintf('<a href="%s" class="order-number"><strong>%s</strong></a>', $block->escapeHtml($orderData->getViewOrderUrl()), $block->escapeHtml($orderData->getOrderId()))) ?></p>
                <?php else :?>
                    <p><?php echo __('Your order # is: <span>%1</span>.', $block->escapeHtml($orderData->getOrderId())) ?></p>
                <?php endif;?>
            <?php endforeach; ?>
            <p><?php echo __('We\'ll email you an order confirmation with details and tracking info.') ?></p>
        </div>
        <?php echo $block->getChildHtml('details') ?>
    <?php elseif ($block->getOrderId()) :?>
        <div class="success-messages">
            <?php if ($block->getCanViewOrder()) :?>
                <p><?php echo __('Your order number is: %1.', sprintf('<a href="%s" class="order-number"><strong>%s</strong></a>', $block->escapeHtml($block->getViewOrderUrl()), $block->escapeHtml($block->getOrderId()))) ?></p>
            <?php else :?>
                <p><?php echo __('Your order # is: <span>%1</span>.', $block->escapeHtml($block->getOrderId())) ?></p>
            <?php endif;?>
            <p><?php echo __('We\'ll email you an order confirmation with details and tracking info.') ?></p>
        </div>
        <?php echo $block->getChildHtml('details') ?>
    <?php endif;?>

    <?php echo $block->getAdditionalInfoHtml() ?>
    <?php echo $block->getChildHtml('cms') ?>

    <div class="actions-toolbar">
        <div class="primary">
            <a class="action primary continue" href="<?php echo $block->getUrl() ?>"><span><?php echo __('Continue Shopping') ?></span></a>
        </div>
    </div>
</div>
<div class="m-inventory">
    <?php
        $lid = $this->getOrderId();
        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
        $order = $objectManager->create('Magento\Sales\Model\Order')->loadByIncrementId($lid);
        $items=$order->getAllItems();
        $productSkus = array();
        $productQuants = array();
        $productPrices = array();
        $discount = array();
        $index = 0;
        foreach($items as $_item):
           $_product = $objectManager->create('Magento\Catalog\Model\Product')->load($_item->getProductId());
            $productSkus[$index] = $_product->getSku();
            $productQuants[$index] = $_item->getQtyOrdered();
            $productPrices[$index] = $_item->getPrice();
            $discount[$index] = $_item->getDiscountAmount();
            $index += 1; 
        endforeach;
        $coupon = $order->getCouponCode();
        //$itemMethods = get_class_methods($_item);
    ?>
</div>

<script type="text/javascript">
    //Converting PHP arrays/variables into Javascript arrays/variables
    var skus = <?php echo json_encode($productSkus); ?>;
    var quants = <?php echo json_encode($productQuants); ?>;
    var prices = <?php echo json_encode($productPrices); ?>;
    var OID = <?php echo $lid ?>;
    var discounts = <?php echo json_encode($discount) ?>;
    var couponCode = "<?php echo $coupon ?>";
    if (couponCode == "") {couponCode = "null"};
// parsing order details into string for iframe tag (only for advanced actions)
    var cartString = "";
    for (i=0; i < skus.length; i++) {
        var j = i+1;
        cartString += "&ITEM" + j + "=" + skus[i] + "&AMT" + j + "=" + prices[i] + "&QTY" + j + "=" + Math.trunc(quants[i]) + "&DCNT" + j + "=" + discounts[i];
    };

// Converting iframe tag to a variable
    var tag = document.querySelector("iframe");

// Grabbing timestamp from page and converting it to UTC and proper format
    var now = new Date();
    var timeStamp = now.toISOString();
    
// Read cookie, you can pass this function into the tag, i.e. CJEVENT=readCookie('cjevent')
     function readCookie(name) {
         var nameEQ = name + "=";
         var ca = document.cookie.split(';');
         for(var i=0;i < ca.length;i++) {
         var c = ca[i];
         while (c.charAt(0) === ' ') {
              c = c.substring(1,c.length);
        }
        if (c.indexOf(nameEQ) === 0) {
            return c.substring(nameEQ.length,c.length);
        }
    }
    return null;
}

var cjEventID = readCookie('cjevent');
    
// Insert variables into the iframe
    tag.setAttribute("src","https://www.emjcd.com/tags/c?containerTagId=35986&TYPE=418685&CID=1558660" + cartString + "&OID=" + OID + "&CURRENCY=USD&COUPON="+couponCode+"&CJEVENT=" +cjEventID);
</script>
<script>
    require([
        'Magento_Customer/js/customer-data'
        ], function (customerData) {
        var sections = ['cart'];
        customerData.invalidate(sections);
    });
</script>