<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**  @var $block \Magento\Checkout\Block\Cart\Grid */
?>
<?php $mergedCells = ($this->helper('Magento\Tax\Helper\Data')->displayCartBothPrices() ? 2 : 1); ?>
<?= $block->getChildHtml('form_before') ?>
<?php
  /* ----------Fetching the cart items details ------ */
       $objectManager     = \Magento\Framework\App\ObjectManager::getInstance();
       $cart              = $objectManager->get('\Magento\Checkout\Model\Cart');
       $shippingAddress   = $cart->getQuote()->getShippingAddress(); 
       $shippingCountry   = $cart->getQuote()->getShippingAddress()->getCountryId();
       $countryName       = $objectManager->create('\Magento\Directory\Model\Country')->load($shippingCountry)->getName();
       $items             = $cart->getQuote()->getAllItems();
       $restrict          = false;
       $productName       = null;

       foreach($items as $item) {
          $product          = $objectManager->create('Magento\Catalog\Model\Product')->load($item->getProductId());
          $restricedProduct = explode(',',$product->getData('restrict_for_country'));
          if($countryName){
          if(in_array($shippingCountry,$restricedProduct)){
            $restrict     = true;
            $productName  = $product->getName();
            break;
          }
        }
       }
        if($restrict){

          $message = '<p class="error-msg">We are sorry for not being able to fulfill your request. The product that you are trying to purchase "'. $productName.'" is not available in country '.$countryName.'. Please remove the product from your cart and proceed to the checkout page.</p>';
          echo $message;
      }

?>
<form action="<?= /* @escapeNotVerified */ $block->getUrl('checkout/cart/updatePost') ?>"
          method="post"
          id="form-validate"
          data-mage-init='{"Magento_Checkout/js/action/update-shopping-cart":
              {"validationURL" : "/checkout/cart/updateItemQty"}
          }'
          class="form form-cart">
    <?= $block->getBlockHtml('formkey') ?>
    <div class="cart table-wrapper<?= $mergedCells == 2 ? ' detailed' : '' ?>">
        <?php if ($block->getPagerHtml()): ?>
            <div class="cart-products-toolbar cart-products-toolbar-top toolbar" data-attribute="cart-products-toolbar-top"><?= $block->getPagerHtml() ?></div>
        <?php endif ?>
        <table id="shopping-cart-table"
               class="cart items data table"
               data-mage-init='{"shoppingCart":{"emptyCartButton": ".action.clear",
               "updateCartActionContainer": "#update_cart_action_container"}}'>
            <caption class="table-caption"><?= /* @escapeNotVerified */ __('Shopping Cart Items') ?></caption>
            <thead>
                <tr>
                    <th class="col item" scope="col"><span><?= /* @escapeNotVerified */ __('Item') ?></span></th>
                    <th class="col price" scope="col"><span><?= /* @escapeNotVerified */ __('Price') ?></span></th>
                    <th class="col qty" scope="col"><span><?= /* @escapeNotVerified */ __('Qty') ?></span></th>
                    <th class="col subtotal" scope="col"><span><?= /* @escapeNotVerified */ __('Subtotal') ?></span></th>
                </tr>
            </thead>
            <?php foreach ($block->getItems() as $_item): ?>
                <?= $block->getItemHtml($_item) ?>
            <?php endforeach ?>
        </table>
        <?php if ($block->getPagerHtml()): ?>
            <div class="cart-products-toolbar cart-products-toolbar-bottom toolbar" data-attribute="cart-products-toolbar-bottom"><?= $block->getPagerHtml() ?></div>
        <?php endif ?>
    </div>
    <div class="cart main actions" style="display: none;">
        <?php if ($block->getContinueShoppingUrl()): ?>
            <a class="action continue"
               href="<?= $block->escapeUrl($block->getContinueShoppingUrl()) ?>"
               title="<?= $block->escapeHtml(__('Continue Shopping')) ?>">
                <span><?= /* @escapeNotVerified */ __('Continue Shopping') ?></span>
            </a>
        <?php endif; ?>
        <button type="submit"
                name="update_cart_action"
                data-cart-empty=""
                value="empty_cart"
                title="<?= $block->escapeHtml(__('Clear Shopping Cart')) ?>"
                class="action clear" id="empty_cart_button">
            <span><?= /* @escapeNotVerified */ __('Clear Shopping Cart') ?></span>
        </button>
        <button type="submit"
                name="update_cart_action"
                data-cart-item-update=""
                value="update_qty"
                title="<?= $block->escapeHtml(__('Update Shopping Cart')) ?>"
                class="action update">
            <span><?= /* @escapeNotVerified */ __('Update Shopping Cart') ?></span>
        </button>

        <?php 
            $baseUrl = $this->getUrl();
        ?>

        <a class="cart-continue-container" href="<?php echo $baseUrl.'products' ?>"><span class="cart-continue">Continue Shopping</span></a>
        <input type="hidden" value="" id="update_cart_action_container" data-cart-item-update=""/>
    </div>
</form>
<?= $block->getChildHtml('checkout.cart.order.actions') ?>
<?= $block->getChildHtml('shopping.cart.table.after') ?>

<style>
.cart-continue {
    line-height: 30px;
    display: inline-block;
    font-size: 11px;
    font-family: "BrandonGrotesque Medium";
    letter-spacing: 1px;
}
a.cart-continue-container {
    text-decoration: none;
    padding: 0px 10px;
    border: 1px solid #000000;
    display: inline-block;
    margin: 0 5px;
    text-transform: uppercase;
}
a.cart-continue-container:hover {
    background: #000000;
    color: #ffffff !important;
}
p.error-msg {
    color: red;
}
</style>

