// /**
// * Copyright © 2018 TechNWeb, Inc. All rights reserved.
//  * See TNW_LICENSE.txt for license details.
// */
@import '_variables.less';

& when (@media-common = true) {

    .block-title {
        margin-top: 2.5rem;
    }

    .danger-zone {
        border-bottom-color: red !important;
    }

    .block-title.products-title {
        border-bottom: none !important;
        padding-bottom: 0 !important;
        margin-bottom: 1rem !important;
    }

    .danger-zone {
        border-bottom-color: red !important;
    }

    .danger-zone-title {
        color: red
    }

    .action.primary.place-on-hold {
        background: #bababa;
        color: #000000;
        border: none;
        border-radius: 0;
        margin-right: 2%;
        width: 19%;
    }

    .action.primary.place-on-hold:hover {
        background: #c7c7c7;
        color: #000000;
        border: none;
        border-radius: 0;
        margin-right: 2%;
    }

    .action.primary.cancel-subscription {
        background: #d80001;
        color: #ffffff;
        border: none;
        border-radius: 0;
        margin-right: 2%;
        width: 19%;
    }

    .action.primary.cancel-subscription:hover {
        background: #e43834;
        color: #ffffff;
        border: none;
        border-radius: 0;
        margin-right: 2%;
    }

    .tnw-subscriptions-cart-link__container {
        display: inline-block;
        position: relative;
        float: right;
        margin: 2px 0 0 10px;

        .tnw-subscriptions-cart-link,
        .tnw-subscriptions-cart-link:visited,
        .tnw-subscriptions-cart-link:hover,
        .tnw-subscriptions-cart-link:active {
            text-decoration: none;
            display: inline-block;
        }

        .tnw-subscriptions-cart-link > span {
            background: #ff5501;
            color: #ffffff;
            height: 24px;
            line-height: 24px;
            border-radius: 2px;
            display: inline-block;
            margin: 3px 0 0;
            min-width: 18px;
            overflow: hidden;
            padding: 0 3px;
            text-align: center;
            white-space: normal;

            &.no-display {
                display: none;
            }
        }
    }

    .registration-fieldset .fieldset {
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        width: -moz-available;
        width: -webkit-fill-available;
        margin-bottom: 5%;

        .empty-space {
            width: 6%
        }

        .new-customer,
        .existing-customer {
            position: relative;
            width: 35%;
            padding-bottom: 75px;
            padding-right: 5%;
            border: 1px solid #ccc;
            margin-right: 6%;

            .block-content {
                margin-top: 10%;
            }

            .control {
                margin-top: 5%;
            }

            .control-spaces {
                margin-left: 5%;
                margin-right: 5%;
            }

            .mage-error {
                margin-left: 5%;
            }

            .action.primary {
                left: 25%;
                width: 50%;
                height: 45px;
                position: absolute;
                bottom: 15px;
            }

            .forgot-password {
                float: right;
                text-decoration: underline;
                margin-top: 3%;
            }
        }

        .new-customer {
            .control-spaces {
                margin-top: 5%;
                margin-left: 5%;
                margin-right: 5%;
            }
        }
    }

    .checkout-cart-index {
        .cart.items.data.table {
            .col.subtotal.subscription {
                width: 66%;
                white-space: normal;
            }
        }
        .addtocart-subscribe,
        .addtocart-onetime {
            .addtocart-wrapper {
                padding: 1rem 0 1rem 2.2rem;

                .fieldset {
                    margin-bottom: 1rem;
                }

                .period {
                    width: 54px;
                }

                .subscribe-container {
                    padding: 1rem;
                    background: #eee;
                    border-radius: 0.5rem;
                }

                .start-on {
                    width: 100px;
                }
            }

            > input:not([type=hidden]):not(:checked) ~ .addtocart-wrapper {
                display: none;
            }

            > input:checked ~ label {
                font-weight: bold;
            }

            > input[type=hidden] {
                ~ label {
                    display: none;
                }

                ~ .addtocart-wrapper {
                    padding-left: 0;
                }
            }
        }
    }

    .catalog-product-view {
        .tnw-addtocart-container {
            input[name="addtocart_type"] {
                &:not(:checked) {
                    & ~ .addtocart-wrapper {
                        display: none;
                    }
                }

                & + label {
                    font-weight: bold;
                }
            }

            .addtocart-onetime,
            .addtocart-subscribe {
                padding-bottom: 1.5rem;
                padding-top: 1.5rem;
                border-bottom: 1px solid #777;

                .subscription-price-with-savings,
                .onetime-final-price {
                    padding-left: 2.2rem;
                    padding-top: 0.5rem;
                    padding-bottom: 1.5rem;
                    font-weight: bold;
                    color: #b30000;
                }

                .addtocart-wrapper {
                    padding-left: 2.2rem;
                }
            }

            #start_at {
                width: 100px;

            }

            .action.update-delivery-date {
                .lib-link-as-button();
                .lib-button-primary();
            }
        }

        .addtocart-tabs {
            padding-top: 20px;

            .title-container {
                display: inline-block;
                width: 100%;

                .tab-title {
                    display: inline-block;
                    float: left;
                    background: #f6f6f6;
                    border: 1px solid #cccccc;
                    border-bottom: none;
                    margin-right: -1px;

                    > a {
                        padding: 8px 15px;
                        line-height: 2.5em;
                        color: #7d7d7d;
                        text-decoration: none;
                    }
                }

                .tab-title.active {
                    > a {
                        padding-bottom: 10px;
                        color: #333333;
                        background: #ffffff;
                        cursor: default;
                    }
                }
            }

            .content-container {
                margin-top: -5px;
                margin-bottom: 10px;
                padding: 0 30px;
                width: 100%;
                box-sizing: border-box;
                border: 1px solid #cccccc;

                .tab-content.subscribe-tab {
                    padding: 30px 0;

                    .fieldset {
                        margin: 0 0 20px;
                    }

                    .fieldset > .field > .label {
                        margin: 0 0 10px;
                    }

                    .fieldset > .field.required > .label:after,
                    .fieldset > .fields > .field.required > .label:after {
                        content: '';
                    }

                    .input-text.qty {
                        text-align: center;
                        width: 54px;
                    }

                    .field.term {
                        margin-bottom: 10px;
                    }

                    .field.period .control {
                        position: relative;

                        > label {
                            margin-right: 3px;
                        }

                        > label.after-input {
                            position: absolute;
                            top: 6px;
                            left: 101px;
                        }
                    }

                    .field.date {
                        .control {
                            position: relative;
                            width: 57%;

                            .ui-datepicker-trigger {
                                position: absolute;
                                top: 7px;
                                right: 4rem;
                                z-index: 3;
                            }

                            #start_at {
                                z-index: 2;
                                position: relative;
                                background: inherit;
                            }
                        }
                    }

                    .action.primary {
                        padding: 14px 17px;
                        width: 49%;
                        line-height: 2.2rem;
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }

    .subscription-container {
        padding-top: 2.5rem;
        vertical-align: top;

        .fieldset:last-child {
            margin-bottom: 0;
        }

        .fieldset-wrapper-content {
            position: relative;
            height: 100%;

            .middle-container {
                .fieldset-wrapper-content {
                    position: static;
                }
            }
        }

        /* "action-remove" button */

        button.remove-button-icon {
            color: #514943;
            background: none;
            border: none;
            box-shadow: none;
            padding: 1rem;
            margin: 0;

            :before {
                font-size: 2.2rem;
                font-family: 'luma-icons';
                content: '\e604';
            }
        }

        .fieldset-wrapper-title {
            padding-bottom: 1.5rem;

            span {
                font-weight: 300;
                line-height: 1.1;
                font-size: 2.6rem;
            }
        }

        .mage-error input {
            border-color: #ed8380;
        }

        > .fieldset-wrapper-content {
            border-top: 2px solid #ccc;
            margin-top: 50px;
        }

        .subscription-item-form:not(:last-child) {
            border-bottom: 1px solid #ccc;
        }

        .subscription-item-form {
            padding: 2rem 0 0 0;

            > .fieldset-wrapper-content {
                > .fieldset {
                    .lib-vendor-prefix-flex-wrap(wrap);
                }
            }

            .subscription-product-messages {
                .lib-vendor-prefix-flex-grow(1);
                .lib-vendor-prefix-flex-basis(100%);
            }

            .fieldset {
                display: -webkit-inline-flex;
                display: -ms-inline-flexbox;
                display: inline-flex;
                width: -moz-available;
                width: -webkit-fill-available;
                height: 100%;
            }

            .description-fieldset {
                display: inline-block;
                width: 100%;
                vertical-align: top;
                position: relative;

                > .fieldset-wrapper-content {
                    > .fieldset {
                        margin-bottom: 0;
                    }
                }

                .middle-container {
                    padding-top: 0.5rem;
                    padding-right: 1.5rem;
                    display: inline-block;
                    vertical-align: top;
                    width: 100%;
                    height: 100%;

                    .product-options {
                        margin-bottom: 2rem;
                    }

                    .edit-fieldset .fieldset .field:not(.field-option) {
                        margin-top: 2rem;
                    }

                    .fieldset {
                        display: block;
                        text-align: left;

                        > .field {
                            margin-bottom: 0;
                        }

                        .field {
                            text-align: start;
                        }

                        .label {
                            margin: 0;
                            display: block;
                        }

                        .field-name {
                            font-size: 2.6rem;
                            margin-bottom: 0;
                            float: left;
                            width: calc(100% - 45px);
                        }

                        .field-description {
                            margin-top: 0.5rem;
                        }

                        .qty-container {
                            display: inline-block;
                            width: 50%;
                            margin: 0;
                            margin-top: 1.5rem;

                            .field-qty {
                                float: left;
                                width: 16rem;

                                &._required {
                                    & > .label:after {
                                        content: '*';
                                        color: #e02b27;
                                        font-size: 1.2rem;
                                        margin: 0 0 0 5px;
                                    }
                                }

                                label {
                                    float: left;
                                    font-weight: 600;
                                    padding: 0.5rem 0.5rem 0 0;
                                }

                                .field-control {
                                    float: left;

                                    input {
                                        width: 8rem;
                                        margin: 0 0.5rem;
                                    }

                                    .control-preview {
                                        margin: 0.5rem 0.5rem;
                                    }
                                }
                            }

                            .qty-edit-button {
                                float: left;
                                line-height: 1.36;
                                padding: 0.3rem 0 0 0;
                                color: #007bdb;
                                text-decoration: none;
                                background: none;
                                border: 0;
                                display: inline;
                                font-weight: 400;
                                border-radius: 0;
                                box-shadow: none;
                            }
                        }

                        .field-price {
                            display: inline-block;
                            vertical-align: top;
                            text-align: end;
                            width: 50%;
                        }

                        .remove-button-icon {
                            float: right;
                            margin-top: -10px;
                        }

                        .action-editor {
                            float: right;
                            position: inherit;
                            padding: 1rem;
                            margin-top: -10px;
                        }

                        .field-description {
                            clear: both;
                        }

                        .edit-attributes-button {
                            line-height: 1.36;
                            padding: 0.3rem 0 0 0;
                            color: #007bdb;
                            text-decoration: none;
                            background: none;
                            border: 0;
                            display: inline;
                            font-weight: 400;
                            border-radius: 0;
                            box-shadow: none;
                        }

                        .sub-button-right {
                            margin-top: 2rem;
                            float: left;
                        }
                    }

                    .fieldset-wrapper.product-options {
                        .edit-product {
                            margin: 0;

                            label {
                                display: inline-block;
                                margin: 0 10px 5px 0;
                            }

                            div.control, div.field-control {
                                display: inline-block;
                            }
                        }
                    }

                    .fieldset-wrapper.product-attributes {
                        clear: both;

                        .edit-product {
                            margin: 0;
                            padding: 5px;

                            label {
                                display: inline-block;
                                margin: 0;
                                width: calc((100%) * .50 - 5px) !important;
                            }

                            label:after {
                                content: ':';
                            }

                            div.control, div.field-control {
                                display: inline-block;
                            }
                        }

                        .edit-product:nth-child(2n) {
                            background-color: #f5f5f5;
                        }
                    }
                }

                .left-container {
                    display: inline-block;
                    min-width: 27%;
                    text-align: center;
                    margin-right: 2rem;

                    .fieldset {
                        display: block;
                        width: 100%;
                        margin-bottom: 0;

                        .edit-options-button {
                            line-height: 1.36;
                            padding: 0.3rem 0 0 0;
                            color: #007bdb;
                            text-decoration: none;
                            background: none;
                            border: 0;
                            display: inline;
                            font-weight: 400;
                            border-radius: 0;
                            box-shadow: none;
                        }
                    }

                    .sub-product-image {
                        margin-bottom: 0;
                        margin-left: 0;
                        position: relative;

                        .control {
                            width: 100%;
                            margin-left: 0;
                            padding-left: 30px;
                            padding-bottom: 100%;

                            img {
                                bottom: 0;
                                left: 0;
                                margin: auto;
                                position: absolute;
                                right: 0;
                                top: 0;
                            }
                        }
                    }
                }
            }

            .right-container {
                padding-top: 0.5rem;
                text-align: right;

                .control-preview {
                    font-size: 2.6rem;
                    font-weight: @font-weight__bold;

                    .tax-label {
                        display: block;
                        font-size: @font-size__xs;
                    }
                }
            }

            .edit-fieldset {
                display: inline-block;
                width: 100%;
                position: relative;

                .fieldset {
                    display: block;
                    width: 100%;
                }

                .field-option {
                    padding-top: .8rem;

                    .control-radio {
                        cursor: pointer;
                        opacity: .01;
                        overflow: hidden;
                        position: absolute;
                        vertical-align: top;

                        &:disabled {
                            + label {
                                opacity: 0.5;
                            }
                        }
                    }

                    label {
                        padding-left: 2.6rem;
                        position: relative;
                    }

                    label:before {
                        box-sizing: border-box;
                        border-radius: 1.6rem;
                        content: '';
                        transition: border-color .1s linear, color .1s ease-in;
                        background-color: #fff;
                        border: 1px solid #adadad;
                        color: transparent;
                        height: 1.6rem;
                        text-align: center;
                        vertical-align: top;
                        width: 1.6rem;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }

                    :checked + label:after {
                        background-color: #514943;
                        border-radius: 50%;
                        content: '';
                        height: 10px;
                        left: 3px;
                        top: 3px;
                        min-width: 10px;
                        position: absolute;
                    }
                }

                .field.field-option ~ .field-option {
                    margin-top: .9rem;
                }

                .sub-period-input {
                    input {
                        width: 4rem !important;
                        margin: 0 0.5rem;
                    }
                }

                .field-date {
                    .field-control {
                        position: relative;

                        .field-container:after {
                            font-family: 'luma-icons';
                            font-size: 20px;
                            content: '\e612';
                            position: absolute;
                            bottom: 0.3rem;
                            right: 1rem;
                            z-index: 1;
                        }
                    }
                }

                .field-price, .button-container {
                    display: none;
                }

                .field-option {
                    padding-top: .8rem;
                }
            }

            .button-container {
                display: block;
                height: 4rem;

                .sub-button-right {
                    padding-top: .6875em;
                    padding-bottom: .6875em;
                    font-size: 16px;
                    position: absolute;
                    bottom: 0;
                    right: 1.5rem;
                }
            }

            .action-editor {
                position: absolute;
                right: 0;
                top: -65px;
                padding: 2rem;
                z-index: 1;
                .lib-button(
                    @_button-icon-font-size: 1.4rem,
                    @_button-icon-use: true,
                    @_button-font-content: @icon-settings,
                    @_button-icon-font-position: before
                );

                &.active {
                    .lib-button(
                        @_button-icon-use: true,
                        @_button-icon-font-size: 1.4rem,
                        @_button-font-content: @icon-remove,
                        @_button-icon-font-position: before
                    );
                }
            }

            .field-price {
                .control {
                    span {
                        font-size: 16px;
                        font-weight: 600;
                        display: inline-block;

                        .price {
                            font-size: 35px;
                        }

                        .base-price.has-trial {
                            .price {
                                font-size: 22px;
                            }
                        }
                    }
                }
            }
        }
    }
}
//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .checkout-cart-index {
        .cart.items.data.table {
            .col.subtotal.subscription {
                width: 30%;
            }
        }
        .addtocart-subscribe,
        .addtocart-onetime {
            .addtocart-wrapper {
                max-width: unset;
            }
        }
    }
}

@media (min-width: @screen-xs) and (max-width: 1024px) {

    .catalog-product-view {
        .addtocart-tabs {
            .content-container {
                .tab-content.subscribe-tab {
                    .field.date {
                        .control {
                            width: 67%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 414px) {
    .subscription-container {
        .subscription-item-form {
            .edit-fieldset {
                .field-price {
                    .control {
                        span {
                            .price {
                                font-size: 25px;
                            }

                            .base-price.has-trial {
                                .price {
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 490px) {
    .registration-fieldset .fieldset {
        display: block;

        .new-customer,
        .existing-customer {
            width: 95%;
            margin-bottom: 5%;
            padding-right: 4%;
            padding-bottom: 100px;

            .email,
            .password {
                width: 95%;
            }

            .forgot-password {
                padding-right: 5%;
            }
        }
    }
}

.tnw_subscriptions-subscription-history {

    .action-primary.action-accept {
        .lib-button-primary();
        box-shadow: none;
    }
    .admin__data-grid-wrap {
        padding-top: 0;
        border-top: 2px solid @color-gray-middle3;
        thead {
            display: none;
        }
        td {
            border-left: 0;
            border-right: 0;
        }
    }
    .admin__data-grid-pager-wrap {
        .selectmenu {
            padding: 0 1rem 0 1rem;
        }
    }
    .admin__data-grid-pager {
        button {
            padding-top: 0.8rem;
            padding-bottom: 0.8rem;
        }
    }

    .sub-details {
        .lib-vendor-prefix-display(flex);
        .thumb-wrapper {
            .lib-vendor-prefix-flex-basis(15%);
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-direction(column);
            .lib-vendor-box-align(center);

            img {
                width: 100%;
                margin-bottom: 1.5rem;
            }
            .sub-status-label {
                font-size: @font-size__base;
                .sub-status {
                    &_0,
                    &_5 {
                        color: @color-red11;
                    }
                    &_1,
                    &_2,
                    &_3 {
                        color: @color-dark-green1;
                    }
                    &_4 {
                        color: @color-gray-middle3;
                    }
                    &_7 {
                        color: #FFBE00;
                    }
                }
            }
        }
        .details-wrapper {
            .lib-vendor-prefix-flex-basis(85%);

            .name-actions-descr-price-wrapper,
            .term-frequency-date-wrapper {
                .lib-vendor-prefix-display(flex);
                .lib-vendor-prefix-flex-wrap(wrap);
                >div {
                    .lib-vendor-prefix-flex-grow(1);
                    .lib-vendor-prefix-flex-basis(50%);
                }
                .sub-product-name {
                    font-size: @font-size__l;
                }
                .sub-actions {
                    text-align: right;
                    font-size: @font-size__l;
                    a {
                        padding: 0 0.75rem 0 0.25rem;
                        border-right: 1px solid @color-gray-middle3;
                        &:last-child {
                            border-right: none;
                            padding-right: 0;
                        }
                        &.cancel {
                            color: @color-red11;
                        }
                        &.hold {
                            color: @color-gray-middle3;
                        }
                        &.reactivate {
                            color: @color-dark-green1;
                        }
                    }
                }
                .price {
                    text-align: right;
                    font-weight: @font-weight__bold;
                    font-size: 2rem;
                }
                .sub-configurable-options {
                    margin-bottom: 1rem;
                }
                .sub-next-order-on {
                    margin-top: 2rem;

                    .title {

                    }
                    .date {
                        font-weight: @font-weight__bold;
                        color: @color-red11;
                    }
                }
            }
            .additional-information-wrapper {
                padding: 1.5rem 0 1rem;
                margin-top: 1.5rem;
                border-top: 1px solid @color-gray-middle3;

                .additional-information-title {
                    cursor: pointer;
                    font-size: @font-size__l;
                    .lib-button-as-link();
                    .lib-icon-font(
                        @_icon-font-content: @icon-expand,
                        @_icon-font-size: @font-size__xs
                    );
                }

                &.opened {
                    .additional-information-title {
                        .lib-icon-font(
                            @_icon-font-content: @icon-collapse,
                            @_icon-font-size: @font-size__xs
                        );
                    }
                }

                .additional-information-content {
                    .lib-vendor-prefix-display(flex);
                    .lib-vendor-prefix-flex-wrap(wrap);
                    >div {
                        .lib-vendor-prefix-flex-grow(1);
                        .lib-vendor-prefix-flex-basis(50%);
                    }

                    .shipping-information-wrapper,
                    .payment-information-wrapper {
                        margin-bottom: 1.5rem;
                    }

                    .payment-method-title,
                    .shipping-method-title,
                    .billing-address-title,
                    .shipping-address-title {
                        font-weight: @font-weight__bold;
                        padding: 1rem 0;
                    }
                    .payment-method-table {
                        .lib-vendor-prefix-display(flex);
                        .lib-vendor-prefix-flex-wrap(wrap);

                        dd,
                        dt {
                            margin-bottom: 0;
                            font-weight: @font-weight__regular;
                            .lib-vendor-prefix-flex-grow(1);
                            .lib-vendor-prefix-flex-basis(35%);
                            box-sizing: border-box;
                        }
                        dd {
                            padding-left: 1rem;
                            .lib-vendor-prefix-flex-basis(65%);
                        }
                    }
                }
            }
        }
    }
}

.subscriptions-products-toolbar {
    position: relative;
}

@media (min-width: @screen-xs) {
    .sub-items.order-links li.item a {
        padding: 1px 2rem;
    }
}

.subscription-data-wrapper {
    margin-top: -1px;
    padding: 25px;
    border: 1px solid #cccccc;
}

.mess-history-header {
    border-bottom: 1px solid #cccccc;
    font-size: 2rem;
    padding-bottom: 8px;
}

.mess-history-list-wrapper {
    padding-top: 15px;
}

.mess-history-list-wrapper ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0px;
}

.history-row {
    margin: 5px 0px;
    padding: 5px 15px 10px 15px;
}

.message-text {
    width: 100%;
    padding-bottom: 8px;
}
.message-text.comment {
    margin-left: 20px;
}

.message-source {
    font-size: 1rem;
    font-style: italic;
    float: left;
}

.message-date {
    float: right;
    font-size: 1.2rem;
}

.message-clear {
    clear: both;
}

.history-row {
    &:nth-child(odd) {
        background-color: #f1f1f1;
    }
}

.mess-history-toolbar {
    margin: 25px 0 0 0;
}

.overview-content {
    width: 100%;
    font-size: 2rem;
    text-align: center;

    &:after {
        content: '';
        clear: both;
        display: block;
    }

    .title {
        padding: 10px 0;
    }

    .next-payment {
        width: 30%;
        height: 100%;
        float: left;
        margin-bottom: 15px;

        .date.day {
            padding-top: 10px;
            font-size: 9rem;
            line-height: 9rem;
        }

        .date.month {
            font-size: 3rem;
            padding: 4px 0;
            text-transform: capitalize;
        }

        .cost {
            margin-top: 30px;
            padding: 5px 0 10px;
            font-size: 4rem;
            background-color: #eee;
            border-top: 1px solid #999;
        }

        .delivery-cost {
            font-size: @font-size__s;
            font-weight: bold;
        }
    }

    .status-message {
        width: 67%;
        float: right;

        &.full-block {
            width: 100%;
        }
    }

    .bordered {
        border: 1px solid #999;
    }

    .subscription-message {
        font-size: 3rem;
        margin-bottom: 15px;
    }

    .light-green {
        background: #b6d7a8;
    }

    .green {
        background: #009e0f;
    }

    .red {
        background: #CF2A27;
    }

    .orange {
        background: #FFD966;
    }

    .block-subscription-message {
        padding: 29px 0;
    }

    .subscription-status {
        vertical-align: top;
        color: white;

        .title {
            font-size: 3rem;
        }

        .value {
            font-size: 6rem;
            line-height: 15rem;
        }
    }
}

.subscription-ship-info, .subscription-bill-info {
    float: left;
    width: 49%;
}

.subscription-ship-details,
.subscription-payment-details {
    float: right;
    width: 49%;
}
.subscription-ship-details,
.subscription-payment-details,
.shipping-details-content {
    .table-secondary {
        tbody tr td {
            padding: 1rem 1rem;
            text-align: left;
        }

        tbody tr td.right {
            text-align: right;
        }

        tbody tr:nth-child(2n+1) td {
            background-color: #f1f1f1;
        }
    }
}

.subscription-data-wrapper {

    .clear {
        clear: both;
    }

    .block .block-title {
        &:after {
            content: '';
            clear: both;
            display: block;
        }

        strong {
            float: left;
        }

        .profile__edit_button {
            float: left;
            margin-left: 1rem;
            text-decoration: none;

            &:before {
                content: '\e601';
                font-size: 2.4rem;
                color: #333333;
                .lib-css(font-family, @icons__font-name);
            }
        }

        @media (max-width: @screen-xs) {
            .profile__edit_button {
                float: right;
            }
        }
    }
}

.subscription-products {

}

.account .subscription-messages {
    padding: 0;
}

@media (max-width: 639px) {
    .tnw-subscriptions-cart-link__container {
        margin-top: 10px;
    }
}

@media (max-width: @screen-xs) {
    .tnw-subscriptions-cart-link__container {
        margin-right: 10px;
    }

    .select-action.next-step {
        display: block;
    }

    .tnw-subscriptions-cart__container {
        .tnw-subscriptions-cart__progress-bar {
            width: 100%;
        }

        .block-main {
            .select-action.next-step {
                display: none;
            }
        }
    }

    .summary-item {
        width: 100%;
    }

    .action.primary.place-on-hold {
        width: 51%;
    }

    .action.primary.cancel-subscription {
        width: 51%;
    }

    .cancel-subscription-comment {
        width: 100%;
        display: block;
        margin-bottom: 8%;
        margin-top: 3%;
    }

    .place-on-hold-comment {
        width: 100%;
        display: block;
        margin-bottom: 8%;
        margin-top: 3%;
    }

    .overview-content {
        .next-payment {
            width: 100%;
        }
        .status-message {
            width: 100%;
        }

        .block-subscription-message {
            padding: 5px 0;
        }

        .subscription-status {
            .title {
                padding: 0;
                font-size: 2rem;
            }

            .value {
                line-height: 6rem;
            }
        }
    }

    .subscription-container {
        .subscription-item-form {

            .fieldset-wrapper-content {
                .fieldset {
                    display: block;
                    width: 100%;
                }
            }

            .description-fieldset {
                width: 100% !important;

                .fieldset-wrapper-content {
                    height: 100%;

                    .fieldset {
                        display: -webkit-inline-flex;
                        display: -ms-inline-flexbox;
                        display: inline-flex;
                        width: -moz-available;
                        width: -webkit-fill-available;

                        .middle-container {
                            padding: 0;
                            width: 70%;

                            .fieldset-wrapper-content {
                                height: 100%;
                                .fieldset {
                                    display: block;
                                    width: 100%;
                                    text-align: start;

                                    .field-description, .field-price, .qty-edit-button {
                                        display: none !important;
                                    }

                                    .qty-container {
                                        width: 100% !important;
                                    }

                                    .field-name {
                                        padding-right: 3rem;
                                    }
                                }
                            }
                        }

                        .left-container {
                            width: 27%;
                            margin-right: 3%;

                            .fieldset-wrapper-content {
                                height: 100%;
                                .fieldset {
                                    display: block;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }

            .edit-fieldset {
                width: 100%;
                border-left: none;
                padding: 2rem 0 0 0;
                border-top: 1px solid #ccc;
                margin-top: 2rem;

                .field-price, .button-container {
                    display: block;
                }

                .field-date {
                    width: 20rem;
                }

                .field-price {
                    position: absolute;
                    top: -20px;
                    right: 0;
                    width: 50%;
                    text-align: end;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}

.content-block {
    width: 49%;
    display: inline-block;

    .block-title {
        margin: 0;
    }
}

.shipping-info-content,
.billing-info-content {

    .legend {
        border: none;
        margin-bottom: 0px;
    }

    .fieldset-shipping,
    .fieldset-billing {
        width: 100%;
        border: none;
        padding: 0;
        margin: 0;

        legend {
            width: 100%;
        }
        .additional {
            margin-top: 10px;
        }

        .shipping-actions,
        .billing-actions {

            #pick div {
                margin-bottom: 12px;
            }

            #add-new div {
                margin: 12px 0;
            }

            a {
                text-decoration: underline;
            }
        }
    }

    div.field {
        margin-bottom: 20px;
    }
}

.subscription-data-wrapper {
    .items-details-view{
        .block {
            margin: 0;

            .block-title {
                border: none !important;
                margin: 0 !important;
            }
        }
    }

    .subscription-container {
        padding: 0;

        >.fieldset-wrapper-content {
            >.fieldset {
                margin-bottom: 0;
            }
        }

        .subscription-item-form {
            .edit-fieldset {
                .field-price {
                    display: block !important;
                }
            }

            .description-fieldset {
                .middle-container {
                    .fieldset {
                        .qty-container{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .subscription-products {
        .products {
            .products-title {
                border-bottom-width: 0;
                margin-bottom: 0;
            }

            .block-content {
                border: 1px solid #ccc;
                padding: 0 2rem;
            }

            .product-item-photo {
                display: inline-block;
                width: 18%;
                text-align: center;
            }

            .product-item-details {
                display: inline-block;
                width: 54%;
                padding-left: 1rem;
            }

            .product-item-name {
                font-size: 2rem;
                margin: 0;
                display: inline-block;
            }

            .product-item-qty {
                display: none;
                font-weight: bold;
            }

            .additional {
                display: inline-block;
                width: 18%;
                border-left: 1px solid #ccc;
                margin: 5px;
                padding: 5px 5px 5px 1rem;

                &:after {
                    content: '';
                    clear: both;
                    display: block;
                }
            }

            .product-frequency-description {
                display: none;
                padding-top: 1rem;
                padding-bottom: 1rem;
            }

            dt:after {
                content: ':';
            }

            .item-options {
                dt {
                    float: left;
                    padding-right: 1rem;
                }

                dd {
                    padding-left: 4rem;

                    &:after {
                        content: '';
                        display: block;
                    }
                }
            }

            .config-item-options {
                label {
                    display: inline-block;
                    margin: 0 10px 5px 0;
                    font-weight: bold;
                }
                div.control {
                    display: inline-block;
                }
            }

            .items {
                .item {
                    border-bottom: 1px solid #ccc;
                    margin: 0;
                    padding-top: 1rem;
                    padding-bottom: 1rem;

                    &:last-child {
                        border-bottom-width: 0;
                    }
                }

                .item > div {
                    vertical-align: top;
                }
            }

            @media (max-width: @screen-xs) {
                .additional {
                    display: none;
                }

                .product-item-name {
                    font-size: 1.6rem;
                }

                .product-item-photo {
                    width: 10%;
                }

                .product-item-details {
                    width: 80%;
                }

                .product-item-description {
                    display: none;
                }

                .product-item-qty {
                    display: inline-block;
                }

                .item-options .qty, .item-options .qty + dd {
                    display: none;
                }

                .product-frequency-description {
                    display: block;
                }
            }
        }
    }
}

//Customer account payment details

.billing-info-content {
    #billing-info-edit {
        margin-top: 2.5rem;
    }
}

.payment-details-content {
    #payment-details-edit {
        .sub-fieldset {
            .block-title {
                margin-bottom: 0;
                padding-bottom: 13px;

                strong {
                    font-size: 2.2rem;
                    font-weight: 300;
                }
            }

            .payment-checkbox {
                margin-bottom: 10px;
                //padding-left: 25px;

                label.label {
                    display: none;
                }
            }

            .payment-additional-fieldset {
                .control-label-up {
                    vertical-align: top;
                }
                .field {
                    &:after {
                        content: '';
                        clear: both;
                    }

                    &._required, &._required-number, &._required-date {
                        .label {
                            span {
                                &:after {
                                    content: '*';
                                    color: #e02b27;
                                    font-size: 1.2rem;
                                    display: inline-block;
                                    margin-left: 4px;
                                    margin-top: 0;
                                    position: absolute;
                                    z-index: 1;
                                    top: 0;
                                }
                            }
                        }
                    }

                    &.field_without_legend {
                        > .control {
                            margin-left: 11px;

                            .field {
                                display: inline-block;
                                width: 48%;

                                .label {
                                    display: none;
                                }

                                .control {
                                    width: 100%;
                                    margin-left: 0;
                                }
                            }
                        }
                    }

                    .label {
                        text-align: right;
                        vertical-align: top;
                        white-space: nowrap;
                        word-wrap: break-word;
                        width: ~'calc( (100%) * 0.35 - 30px )';
                        margin-left: 30px;
                        display: inline-block;
                        float: left;

                        &:after {
                            display: none;
                        }

                        span {
                            display: inline-block;
                            line-height: 1.2;
                            vertical-align: middle;
                            white-space: normal;
                            position: relative;
                        }
                    }

                    .control {
                        width: ~'calc( (100%) * 0.65 - 30px )';
                        margin-left: 15px;
                        display: inline-block;

                        &:after {
                            content: '';
                            clear: both;
                        }
                    }

                    &.payment-cvv {
                        .control {
                            width: 45%;
                        }
                    }
                    &[name*="cc_vault"] {
                        .label {
                            display: none;
                        }
                    }
                }
            }
        }

        button {
            float: right;
            width: 47.5%;
            margin-top: 12px;

            &.action-primary {
                float: left;
                background: #1979c3;
                color: #ffffff;
                border: 1px solid #1979c3;
                box-shadow: none;
            }
        }
    }

    #payment-details-view {
        .block-title {
            border: none;
            margin-bottom: 0;
        }

        .table-secondary {
            tbody {
                tr:nth-child(2n+1) {
                    td {
                        background-color: #f1f1f1;
                    }
                }
            }
        }
    }
}

.hidden {
    display: none
}

.product-info-main {
    .product-info-price {
        .price-box.subscription-price-container {
            display: block;
            width: 100%;

            .free {
                font-size: 36px;
                line-height: 36px;
                font-weight: 600;
                text-transform: uppercase;
            }
        }
    }
}

.product-info-main .product-info-price .price-box {
    &.price-subscription_price ~ .price-final_price {
        display: none;
    }
}

//Customer account shipping details
div.shipping-details-content {
    .block {
        margin-bottom: 0px;

        .block-title {
            strong {
                padding-top: 3px;
            }

        }
    }
    #shipping-details-edit {

        fieldset {
            border: none;

            .methods-list {
                .method {
                    margin-bottom: 10px;

                    .subscription-shipping-attention {
                        position: relative;
                        display: inline-block;

                        &::before {
                            font-size: 1.5rem;
                            color: #fd720f;
                            content: '\e602';
                            font-family: 'luma-icons';
                            top: -15px;
                            position: absolute;
                        }

                        &:hover:after {
                            content: attr(data-title);
                            background-color: white;
                            color: #000;
                            position: absolute;
                            top: 8px;
                            white-space: normal;
                            -moz-border-radius: 5px;
                            -webkit-border-radius: 5px;
                            border-radius: 5px;
                            -moz-box-shadow: 0px 0px 1px #000;
                            -webkit-box-shadow: 0px 0px 1px #000;
                            box-shadow: 0px 0px 1px #000;
                            padding: 5px;
                            width: 165px;
                            text-align: center;
                            z-index: 20;
                            font-size: 1.2rem;
                            left: -64px;
                        }
                    }
                }

                input {
                    &[type="radio"] {
                        width: auto;
                    }
                }
            }

        }
    }
}

@media (max-width: 880px) {
    .content-block, .shipping-info-content {
        margin-left: 0;
        margin-top: 15px;
    }
}

// ************* Grid system ********************

.grid-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: ceil((@grid-gutter-width / 2));
    padding-right: floor((@grid-gutter-width / 2));
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.grid-container:before,
.grid-container:after,
.grid-row:before,
.grid-row:after {
    content: " ";
    display: table;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.grid-container:after,
.grid-row:after {
    clear: both;
}

.grid-row {
    margin-left:  floor((@grid-gutter-width / -2));
    margin-right: ceil((@grid-gutter-width / -2));
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.grid-col2-xs,
.grid-col2-lg {
    position: relative;
    // Prevent columns from collapsing when empty
    min-height: 1px;
    // Inner gutter via padding
    padding-left: ceil((@grid-gutter-width / 2));
    padding-right: floor((@grid-gutter-width / 2));
    float: left;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#co-transparent-form-braintree,
#co-transparent-form-stripe {
    .control-text {
        height: 32px;
        border: 1px solid #c2c2c2;
        padding: 6px 9px;
        box-sizing: border-box;
    }

    .payment-cvv .control-text {
        width: 6rem;
    }
}

#payment-details-edit {
    .braintree-hosted-fields-invalid:not(.braintree-hosted-fields-focused) {
        border-color: @color-red10;
    }
}

@media (max-width: @screen-lg) {
    .grid-col2-lg {
        width: 100%;
    }
}

.product-item-actions {
    .actions-primary {
        display: block;
        float: left;
    }
    .actions-secondary {
        line-height: 3.5rem;
    }
    .product-subscribe-button {
        float:left;
        .subscribe {
            border-radius: 0;
            font-size: 1.3rem;
            line-height: 1;
            padding-bottom: 10px;
            padding-top: 10px;
            width: 100%;
        }
    }
    .product-addtocart-button-hidden {
        display: none;
        width: 100%;
        &.active {
            display: block;
            button {
                width: 100%;
                margin-top: 1px;
                background: white;
                color: #41362f;
                font-weight: normal;

                &:hover {
                    background-color: #e3e3e3;
                }
            }
        }
    }
    .product-subscribe-addtocart-buttons-container {
        .product-subscribe-button-dropdown {
            float: left;
            button {
                padding-right: 4rem;
                bottom: 0;
                padding-left: 0;
                height: 35px;
                position: relative;
                right: 0;
                top: 0;
                background-color: #1979c3;
                color: #fff;
                text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
                border: 1px solid #1979c3;
                border-radius: 0;
                display: inline-block;
                font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
                font-weight: 600;
                line-height: 1.36;
                text-align: center;
                vertical-align: baseline;
                border-left-color: rgba(0,0,0,0.2);
                span {
                    clip: rect(0, 0, 0, 0);
                    overflow: hidden;
                    position: absolute;
                    display: none;
                    visibility: hidden;
                }

                &:after {
                    border-color: #fff transparent transparent transparent;
                    border-width: .9rem .6rem 0 .6rem;
                    margin-top: -0.3rem;
                    right: 1.4rem;
                    border-style: solid;
                    content: '';
                    height: 0;
                    position: absolute;
                    top: 50%;
                    transition: all .2s linear;
                    width: 0;
                }

                &:hover {
                    background: #006bb4;
                    border: 1px solid #006bb4;
                    color: #fff;
                }

                &.active {
                    background: #006bb4;
                    border: 1px solid #006bb4;
                    &:after {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
}

.product-item-description {
    clear: both;
}

.block-wishlist {
    .product-item-actions {
        .actions-primary {
            height: 35px;
            float: none;
        }
        .product-subscribe-addtocart-buttons-container {
            .product-subscribe-button-dropdown {
                height: 35px;
                button {
                    padding: 7px 15px;
                    &:after {
                        right: 1rem;
                    }
                }
            }
        }
        .product-addtocart-button-hidden {
            &.active {
                float: left;
                button {
                    width: 12.5rem;
                }
            }
        }
    }
}
.product-item-actions .actions-primary+.actions-secondary {
    display: table-cell;
    padding-left: 1px;
}
.order-details-items .sub-profile-option {
    padding-top: 20px;
}
