<!--
/**
 * Copyright © 2018 TechNWeb, Inc. All rights reserved.
 * See TNW_LICENSE.txt for license details.
 */
-->

<fieldset class="field"
     visible="visible"
     css="$data.additionalClasses"
     attr="'data-config-scope': $data.scopeLabel, 'data-index': index">
    <legend class="field-label" if="$data.label" attr="for: uid">
        <span text="label"/>
    </legend>

    <div class="field-control"
         css="'_with-tooltip': $data.tooltip">
        <div class="field field-option" outereach="options">
            <input 
                ko-checked="$parent.value"
                ko-disabled="$parent.disabled"
                css="
                    'control-radio': !$parent.multiple,
                    'control-checkbox': $parent.multiple"
                attr="
                    id: ++ko.uid, 
                    value: value,
                    type: $parent.multiple ? 'checkbox' : 'radio'"/>

            <label class="field-label" text="label" attr="for: ko.uid"/>
            <div attr="'data-title': title" css="css"/>
        </div>

        <label class=field-error" if="error" attr="for: uid" text="error"/>

        <div class="field-note" if="$data.notice" attr="id: noticeId">
            <span html="notice"/>
        </div>

        <div class="additional-info" if="$data.additionalInfo" html="$data.additionalInfo"></div>

        <render args="$data.service.template" if="$data.hasService()"/>
    </div>
</fieldset>
