<!--
/**
 * Copyright © 2018 TechNWeb, Inc. All rights reserved.
 * See TNW_LICENSE.txt for license details.
 */
-->
<div class="field"
     visible="visible"
     css="$data.additionalClasses"
     attr="'data-index': index">
    <label class="field-label label" if="$data.label" visible="$data.labelVisible" attr="for: uid">
        <span text="label" attr="'data-config-scope': $data.scopeLabel"/>
    </label>
    <div class="field-control"
         css="'_with-tooltip': $data.tooltip, '_with-reset': $data.showFallbackReset && $data.isDifferedFromDefault">

        <div class="control-preview" if="$data.showPreview">
            <render args="previewElementTmpl"/>
        </div>

        <div ifnot="$data.showPreview">
            <div class="field-container" css="'mage-error': $data.error"  ifnot="hasAddons()">
                <render args="elementTmpl"/>
            </div>

            <div class="ontrol-addon" if="hasAddons()">
                <div css="'mage-error': $data.error">
                    <render args="elementTmpl"/>
                </div>

                <label class="addon-prefix" if="$data.addbefore" attr="for: uid">
                    <span text="addbefore"/>
                </label>
                <label class="addon-suffix" if="$data.addafter" attr="for: uid">
                    <span text="addafter"/>
                </label>
            </div>

            <render args="tooltipTpl" if="$data.tooltip"/>

            <render args="fallbackResetTpl" if="$data.showFallbackReset && $data.isDifferedFromDefault"/>

            <div class="mage-error" generated="true" if="$data.error" attr="for: uid" text="$data.error"/>

            <div class="field-note" if="$data.notice" attr="id: noticeId">
                <span text="notice"/>
            </div>

            <div class="additional-info" if="$data.additionalInfo" html="$data.additionalInfo"></div>

            <render args="$data.service.template" if="$data.hasService()"/>
        </div>
    </div>
</div>


