<!--
/**
 * Copyright © 2018 TechNWeb, Inc. All rights reserved.
 * See TNW_LICENSE.txt for license details.
 */
-->
<div class="fieldset-wrapper"
     css="$data.additionalClasses"
     attr="'data-level': $data.level, 'data-index': index"
     data-bind="visible: $data.visible === undefined ? true: $data.visible">
    <div class="fieldset-wrapper-title"
         css="$data.additionalTitleClasses"
         attr="tabindex: !collapsible ? -1 : 0,
               'data-state-collapsible': collapsible ? opened() ? 'open' : 'closed' : null"
         click="toggleOpened"
         keyboard="13: toggleOpened"
         if="label">

        <strong css="'collapsible-title': collapsible,
                      title: !collapsible,
                      '_changed': changed,
                      '_loading': loading,
                      '_error': error">
            <span translate="label"/>
        </strong>
    </div>

    <div class="messages" if="payment_errors">
        <div class="message message-error error" each="data: payment_errors, as: '$error'">
            <div data-ui-id="messages-message-error" text="$error"></div>
        </div>
    </div>

    <div class="fieldset-wrapper-content"
         css="'collapsible-content': collapsible, '_show': opened, '_hide': !opened()">
        <iframe attr="'data-container': dataContainer, 'id':  dataContainer, 'src': iframeSrc"
                allowtransparency="true"
                frameborder="0"
                name="iframeTransparent"
                style="display: none; width: 100%; background-color: transparent;">
        </iframe>
        <fieldset
                if="opened() || _wasOpened"
                class="fieldset"
                each="data: elems, as: 'element'" render=""/>
    </div>
</div>
