<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
$getBaseUrl = $this->getBaseUrl();
?>
<div id="custom-header-id" class="customDiv">
    <div class="header-label">
        <?php echo $this->getChildHtml("header_label"); ?>
    </div>
    <div class="menu-over-banner">
        <div class="menu-over-banner-container">
            <div class="menu-section">
                 <div class="main-logo"><?php echo $this->getChildHtml("logo"); ?></div>
                <?php echo $this->getChildHtml("minicart"); ?>
               

                 <div class="login-register-container">
                 <div class="on-user-icon-click-show-box">
                    <img src='<?php echo $this->getViewFileUrl('images/user-profile.png'); ?>' alt="user">
                 </div>
                  <div class="on-user-icon-click-show" style="display: none;">
                    <?php echo $this->getChildHtml("headerLinks"); ?>
                     <?php if(!$customerSession->isLoggedIn()): ?>
                        <ul class="header links custom-register logged-in">
                            <li class="authorization-link register-link">
                                <a href="javascript: void(0);" class="custom-sign-up"><?= $block->escapeHtmlAttr(__('sign up')) ?> </a>
                            </li>
                        </ul>
                        <ul class="header links custom-register">
                            <li class="order-return">
                                <a href="<?php echo $getBaseUrl.'alliesofskin/guest/login/' ?>"><?= $block->escapeHtmlAttr(__('Order Return')) ?></a>
                            </li>
                        </ul>
                     <?php endif; ?>
                    </div>
                 </div>
            </div>

        </div>
    </div>
    <div class="header-menu-new">
        <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('desktop_menu')->toHtml();?>
    </div><!-- header-menu-new -->
    <div class="removefloat"></div>
</div>
<style>
.amxnotif-block.product.alert.alert.stock.link-stock-alert {
    display: inline-block !important;
}
.product-short-dec p {
    min-height: 100px;
}
.category .subscribe-popup {
background-color: #000;
}
.amxnotif-block .subscribe-popup label[for^=notification-container] {
    font-size: 12px !important;
    text-align: left !important;
    color: #fff !important;
}
button.action.submit.primary {
    border: 1px solid #808285;
    color: #808285;
}
button.action.submit.primary:hover {
    border: 1px solid #ffffff;
    color: #ffffff;
}
.category .subscribe-popup .notification-container {
    margin-top: 5px;
}
.close-subscribe-popup {
    right: 6px;
    top: 0px;
    color: #cacaca;
    font-size: 16px;
}
.upper-banner-heading{
    line-height: 35px !important;
}
a.freshwidget-theme {
    height: 18px !important;
}
.ampromo-overlay.added {
    display: none !important;
}
.ampromo-items-add{
    display: none;
}
.menu-section .main-logo .logo img{
    height: auto;
}
.catalog-category-view .products.list .stock.link-stock-alert {
  margin: 28px 0;
}
.catalog-category-view .products.list .stock.link-stock-alert a.action.alert {
  display: inline-block;
  width: auto;
  line-height: 38px;
  min-width: 164px;
  border: 1px solid #000;
  vertical-align: middle;
  font-size: 11px;
  font-family: "BrandonGrotesque Bold";
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0 20px;
  text-decoration: none;
}
.catalog-category-view .products.list .stock.link-stock-alert a.action.alert:hover {
  background: #000000;
  color: #fff !important;
}

/*26 oct*/
/*.product-info-main-container .price-box  {display: none !important;}*/
.product-molecular-silk-amino-hydrating-cleanser .attribute-value.overview-container p:first-child {margin-bottom: 0px;}
.product-molecular-silk-amino-hydrating-cleanser  .product-info-encaptulate .product-info-price {margin-bottom: 0px;}
/*.product-molecular-silk-amino-hydrating-cleanser #learn-more-popup, .product-molecular-silk-amino-hydrating-cleanser #learn-more-side-menu {width: 640px; height: 100vh;}*/
    .product-molecular-silk-amino-hydrating-cleanser #learn-more-popup #element, .product-molecular-silk-amino-hydrating-cleanser .learm-more-inner-content {padding: 0;}
    .addtocart-wrapper .subscribe-container #product-subscribe-button {border: 1px solid #808285;
    text-transform: uppercase; font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;  font-weight: 600; font-size: 11px; letter-spacing: 2px; /*height: 40px;*/}
      .product-subscribe-add-buttons-container .product-subscribe-button {display: none;}
    .product-subscribe-button-dropdown {display: none;}
    .minicart-items-wrapper.overflowed {border-bottom: 1px solid #7d7d7d !important;}
    .minicart-items-wrapper.overflowed  li {border: none !important; padding: 0 !important;}
    .minicart-items-wrapper.overflowed .product.actions .primary {display: none;}
    .block-minicart .minicart-items-wrapper .minicart-items .product-item .product .product-item-details {    width: calc(100% - 0px) !important;}
    .minicart-wrapper .block-minicart #minicart-content-wrapper .block-content .subtotal {border-top: none; padding: 14px 0;}
    #minicart-content-wrapper .block-content .subtotal .label {color: #808285; float: left; font-family: "BrandonGrotesque bold"; font-size: 11px;  letter-spacing: 2px; line-height: 25px; margin: 0; text-transform: uppercase; width: 100%;}
    #minicart-content-wrapper .block-content .subtotal .label:after {display: none;}
    .minicart-wrapper .block-minicart #minicart-content-wrapper .block-content>.actions {width: 30%;}
    .block-minicart #minicart-content-wrapper .block-content>.actions #top-cart-btn-checkout {border-color: #808285;
    color: #808285; font-family: "BrandonGrotesque Medium"; font-size: 11px; letter-spacing: 1px;  line-height: 40px;
    padding: 0 20px; width: 100%; text-transform: uppercase;}
    #minicart-content-wrapper .minicart-items .product-item-name {width: 54% !important;}
    .minicart-items-wrapper .minicart-items .product-item .product .product-item-details .product-item-pricing {width: 36% !important;}
    .minicart-wrapper .block-minicart #minicart-content-wrapper .block-content>.actions .secondary {right: 36.4%;}
    
    .minicart-wrapper .block-minicart #minicart-content-wrapper .block-content .subtotal {margin-bottom: 20px;}
    .minicart-wrapper .block-minicart {padding: 30px 80px;}
    #minicart-content-wrapper .minicart-items .product-item-name a {font-size: 20px;}
    .minicart-items .product-item .product-item-details .product-item-pricing .details-qty .cart-item-qty {text-align: center;}
    
    
    .products.list.items.product-items .product-item-info .product-item-inner {display: none;}
    .addtocart-onetime{  color: #808285;  font-family: "BrandonGrotesque Medium"; text-transform: uppercase; font-weight: 600; padding-bottom: 10px; clear: both; overflow: hidden;}
    .addtocart-onetime #addtocart_onetime {margin: 4px 3px 0 0; padding: 0; float: left;}
    .addtocart-onetime .onetime-final-price {padding: 0 12px !important; color: #808285 !important; font-family: "BrandonGrotesque Medium"; text-transform: uppercase; font-weight: 600 !important; margin: 0; float: left;}
    .addtocart-onetime label {padding-top: 2px; float: left;}
    .addtocart-onetime label, .addtocart-onetime  span.price {font-size: 11px; letter-spacing: 2px;}
    .tnw-addtocart-container {padding-bottom: 0px !important;}
    .tnw-addtocart-container .box-tocart {/*display: flex;*/ color: #808285; font-family: "BrandonGrotesque Medium"; text-transform: uppercase; font-weight: 600;}
    .tnw-addtocart-container .addtocart-wrapper {padding-left: 0px !important;}
    .product-info-main-container .addtocart-subscribe .addtocart-wrapper {clear: both; text-align: left; /*padding-left: 30px !important;*/}
    .addtocart-wrapper #billing_frequency {border: 1px solid #808285;
    background: #333; color: #808285;  font-family: "BrandonGrotesque Medium"; font-size: 11px;letter-spacing: 2px !important; text-transform: uppercase !important     -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: menulist;
    box-sizing: border-box;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;}
    .addtocart-subscribe .addtocart-wrapper .label {color: #000; font-family: "BrandonGrotesque Medium"; font-weight: 600;  font-size: 14px; float: left; padding-top: 0px;}
    .addtocart-subscribe .addtocart-wrapper .control {float: left; width: 50%; margin-left: 10px;}
    .addtocart-subscribe .addtocart-wrapper .control select {background: transparent !important;}
    .addtocart-subscribe .addtocart-wrapper .label span {font-size: 12px; letter-spacing: 2px; font-weight: normal;
    color: #828282;}
    .subscription-price-with-savings {padding-top: 0 !important; padding-left: 10px !important; padding-right: 10px;
    color: #000 !important; font-size: 14px; letter-spacing: 2px; font-weight: 600 !important;}
    .tnw-addtocart-container .box-tocart label {font-size: 12px; letter-spacing: 2px; font-weight: 400; padding-top: 3px;}
/*    .product-add-form .box-tocart .qty {width: calc(50% - 40px);}*/
    .addtocart-subscribe {clear: both; padding-bottom: 0px !important; border-bottom: none !important;}
    .addtocart-wrapper.addtocartsubs {padding-top: 10px; padding-bottom: 0px; clear: both; overflow: hidden;  border-top: solid 1px #777;  margin-top: 0px;}
    .tnw-addtocart-container .box-tocart .product-volume-attr-product-page { width: 33%;}
    .tnw-addtocart-container .box-tocart .price-box-container {width: 33%;}
    .tnw-addtocart-container .box-tocart .qty {width: 33%; text-align: center; padding: 0px;}
    .subscription-text-container {padding-top: 20px; clear: both; text-align: left;}
    .subscription-text-container p {text-transform: uppercase; font-size: 12px; font-weight: normal; letter-spacing: 2px;
    color: #808285; font-family: "BrandonGrotesque Medium";}
    .subscription-text-container ul {text-transform: capitalize; font-size: 14px; font-weight: normal;  letter-spacing: 0px; color: #000; font-family: 'BrandonGrotesque Regular';}
    .subscription-text-container ul li {margin: 0px;}
    .subscribe-container .subscriber-info-sec {float: left; width: 50%;}
    .subscribe-container .subscriber-info-sec .subcriber-fieldsets {width: 100%;}
    .subscribe-container .subscriber-info-sec .subcriber-fieldsets input {background: none; text-align: center; color: #fff;}
    .subscribe-container #product-subscribe-button {float: right; color: #808285;}
    .below-text-conatiner h2 {text-transform: uppercase; font-size: 12px; font-weight: normal; letter-spacing: 2px;
    color: #828282; font-family: "BrandonGrotesque Medium"; margin-bottom: 10px;}
    .below-text-conatiner p {text-transform: capitalize; font-size: 14px; font-weight: normal;  letter-spacing: 0px;
    color: #000; font-family: 'BrandonGrotesque Regular'; margin: 0px;}
    .addtocart-subscribe .subscriber-info-sec .subcriber-fieldsets .fieldset-qty {width: 50%;}
    .subscriber-info-sectop {border-bottom: solid 1px #777; clear: both; overflow: hidden; padding-bottom: 14px;}
    .addtocart-subscribe {padding-bottom: 0px !important;}
    .addtocart-subscribe.active-payment-mode .addtocart-wrapper {display: block !important;}
    .addtocart-wrapper .fieldset.delivery-fieldset {margin-bottom: 18px;}
    .catalog-product-view .product-add-form {padding: 15px 0;}
    .minicart-wrapper .block-minicart #minicart-content-wrapper .block-content .minicart-items-wrapper {height: auto !important;}
    .minicart-wrapper .block-minicart #minicart-content-wrapper .minicart-items-wrapper .minicart-items li.product-item 
    {border-bottom: solid 1px #bbb !important;}
    .minicart-wrapper .block-minicart #minicart-content-wrapper .minicart-items-wrapper .minicart-items li.product-item:last-child {border-bottom: none !important;}
    .minicart-wrapper .block-minicart #minicart-content-wrapper .minicart-items-wrapper .minicart-items li.product-item:last-child {border-bottom: none !important;}
    .minicart-wrapper .block-minicart #minicart-content-wrapper .block-content>.actions .secondary {bottom: 15%;}
    .cart.table-wrapper .product-item-subscription-details .addtocart-onetime input {float: left;}
    .minicart-wrapper .block-minicart .subtitle.empty {display: block; width: 100%;}
    
    .product-info-encaptulate .product-add-form {background: none; padding: 0;}
    .product-info-encaptulate .product-add-form .product-container {padding-left: 0px; padding-top: 0px;}
    .product-info-encaptulate .product-add-form #product_addtocart_form {padding: 0px; width: 100%; float: none;}
    .product-info-main-container .addtocart-onetime {border: solid 1px #777; padding: 10px; border-bottom: none !important;}
    .product-info-main-container .addtocart-subscribe {padding: 10px; border: solid 1px #777; height: auto; clear: both; overflow: hidden;}
    .product-add-form .box-tocart .product-volume-attr-product-page .product-size-box {color: #000;}
/*    .product-add-form .box-tocart .qty {width: calc(60% - 40px);}*/
    .product-add-form .box-tocart .qty .control button {color: #000;}
    .product-add-form .box-tocart .qty .control #qty {color: #000;}
    .product-add-form .box-tocart .qty .control {display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;}
    .product-add-form .box-tocart .qty .control button {color: #000;}
    .catalog-product-view .product-info-main .price-container .price {background: none; color: #000; font-size: 16px;}
    
    .addtocart-wrapper.addtocartsubs .box-tocart {width: 50%; padding-left: 40px;}
    .addtocart-wrapper.addtocartsubs .box-tocart .product-volume-attr-product-page {width: 38%;}
    .addtocart-wrapper.addtocartsubs .box-tocart .field.qty {width: 60%;}
    .addtocart-wrapper.addtocartsubs .actions  {width: 50%;}
    .addtocart-wrapper.addtocartsubs .actions  button {max-width: 100%;}
    .addtocart-subscribe .box-tocart {width: 100% !important;}
    .addtocart-onetime label {padding-top: 4px; font-weight: 400; font-size: 12px;}
    .product-info-encaptulate .product.attibute {border: none;}
    .product-add-form .box-tocart .qty .label {font-weight: normal;}
    
    .action.primary:focus span, .action.primary:active span {color: #fff !important;}
/*26 oct*/
    
    /*19 jan*/
    .addtocart-subscribe .box-tocart {padding-right: 0px;}
    button.action.tocart.primary span {font-family: "BrandonGrotesque Medium"; font-weight: normal;  font-size: 14px;
    line-height: normal;}
    .addtocart-wrapper #billing_frequency {padding-right: 0px;}
    .tnw-addtocart-container .box-tocart  {display: block;}
/*    .product-add-form .box-tocart .qty {width: 33%;}*/
    .tnw-addtocart-container .addtocart-subscribe input {float: left;}
    .tnw-addtocart-container .addtocart-subscribe .subscription-price-with-savings {float: left;}
    .tnw-addtocart-container .addtocart-subscribe label {float: left;}
    .product-info-main-container .addtocart-subscribe { border: solid 1px #777 !important; position: relative;}
    .product-add-form .box-tocart {max-height: inherit; padding-bottom: 10px;}
    .product-info-main-container .addtocart-subscribe .addtocart-wrapper {padding-left: 0px !important;}
    .addtocart-wrapper .subscribe-container #product-subscribe-button {height: auto; position: absolute;  bottom: 40px;
    right: 10px;  padding: 10px 14px;  line-height: normal;}
    .addtocart-subscribe .addtocart-wrapper .label {padding-top: 0px;}
    .product-add-form .addtocart-subscribe .box-tocart .fieldset {float: left; width: 80%; margin: 0px;}
    .addtocart-onetime .price-box-container {
    display: none;
}
  #minicart-content-wrapper span.product-image-container {
    display: none;
}

 /*New subscribe upate 13 May*/
    .subscribe-btn {border: none !important;}
    .subscribe-btn a {border: none; padding: 0; width: auto; border-bottom: solid 1px #333; line-height: normal; transition: .5s all ease;}
    .subscribe-btn a:hover {border-bottom: solid 1px #fff;}
    .tnw-addtocart-container .actions.removefloat {width: 100%; float: none; text-align: left; clear: both;
    overflow: hidden;}
    .tnw-addtocart-container .actions.removefloat button {float: left;}
    
    @media (min-width: 768px) and (max-width: 1024px) {
        .item.product.product-item .product-short-dec {height: 100px;}
    }
    /*New subscribe upate 13 May*/
    
    @media (min-width: 320px) and (max-width: 767px) {
        .product-add-form .addtocart-subscribe .box-tocart .fieldset {width: 100% !important; margin: 0px;}
        .tnw-addtocart-container .addtocart-subscribe .subscription-price-with-savings {padding-bottom: 4px;}
        .addtocart-wrapper .subscribe-container #product-subscribe-button {bottom: 0px !important;}
        .product-info-main-container .addtocart-subscribe {padding-bottom: 20px !important;}
         
    }
    
    .products-grid .product-item-info button.tocart, .products-grid .product-item-info a.tocart {
            font-family: "BrandonGrotesque Bold";
            font-size: 11px;
            letter-spacing: 2px;
            line-height: 38px;
            text-transform: uppercase;
            width: initial;
            height: 38px;
    }
    button.action.tocart.primary span, button.action.tocart.primary {
            font-family: "BrandonGrotesque Bold";
            font-size: 11px;
            letter-spacing: 2px;
            line-height: 38px;
            text-transform: uppercase;
            width: initial;
    }

    @media (min-width: 320px) and (max-width: 767px) {
        .product-add-form .addtocart-subscribe .box-tocart .fieldset {width: 100% !important; margin: 0px;}
        .tnw-addtocart-container .addtocart-subscribe .subscription-price-with-savings {padding-bottom: 4px;}
        .addtocart-wrapper .subscribe-container #product-subscribe-button {bottom: 0px !important;}
        .product-info-main-container .addtocart-subscribe {padding-bottom: 20px !important;}
        

    }
.toolbar .pages .items li.item.current span {background: #7b7777 none repeat scroll 0 0;color: #fff;}

</style>
<script>
 require(['jquery'],function($){
    if($('.customer-name').length > 0){
        $('.custom-register.logged-in').hide();
    }
 });   
</script>    