<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var \Magento\Theme\Block\Html\Header\Logo $block
 */
?>
<?php $storeName = $block->getThemeName() ? $block->getThemeName() : $block->getLogoAlt();?>
<span data-action="toggle-nav" class="action nav-toggle"><span><?= /* @escapeNotVerified */ __('Toggle Nav') ?></span></span>
<?php if ($block->isHomePage()):?>
    <strong class="logo">
<?php else: ?>
    <a class="logo" href="<?= $block->getUrl('') ?>" title="<?= /* @escapeNotVerified */ $storeName ?>">
<?php endif ?>
        <img src="<?= /* @escapeNotVerified */ $block->getLogoSrc() ?>"
             alt="<?= /* @escapeNotVerified */ $block->getLogoAlt() ?>"
             <?= $block->getLogoWidth() ? 'width="' . $block->getLogoWidth() . '"' : '' ?>
             <?= $block->getLogoHeight() ? 'height="' . $block->getLogoHeight() . '"' : '' ?>
        />
<?php if ($block->isHomePage()):?>
    </strong>
<?php else:?>
    </a>
<?php endif?>
<script>
//This sample code is provided as a courtesy and is meant for your reference only.
//This example may not work for your specific shopping cart or web site.
//CJ does not guarantee the accuracy of any coding examples.

// Parse the URL for name=value parameters
      function getParameterByName(name) {
           name = name.replace(/[\[]/,"\\[").replace(/[\]]/, "\\]");
           var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
           results = regex.exec(location.search);
           return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
     }
// Give the URL parameter a variable name, default is cjevent
     var cjeventid = getParameterByName('cjevent');
 
// Give the cookie a duration, this sets a duration of 1 year, for a 45 day cookie, you can replace 31536000 with 3888000
     var now = new Date();
     var time = now.getTime();
     var expTime = time + 1000*31536000;
            now.setTime(expTime);
 
// Set the cookie 
if(cjeventid){ 
document.cookie = "cjevent=" + cjeventid + "; expires=" +now.toGMTString() + "; path=/; domain=."+location.hostname.replace(/^www\./i,""); 
} 
</script>