/*=================================custom css for the regimen-recommender=================================*/

/*for the general*/
.on-registration{display: none;}
.on-registration.active{display: block;}


.regimen-index-index .page-wrapper { background: #000000 none repeat scroll 0 0; }

.regimen-index-index .column.main { display: inline-block; }

.regimen-section { float: left; margin: 50px 0; width: 100%; }

.regimen-container {  float: left; width: 100%; overflow:hidden; }

.ui-datepicker { min-width: 270px; }

.regimen-index-index  .header_label p { margin-bottom: 0; }



/*for the top logo*/

.regimen-header { display: block; text-align: center; vertical-align: middle; }
.regimen-header img { display: inline-block; vertical-align: middle; width: initial; }


/*for the introductry section*/

.regimen-body { float: left; overflow: hidden; position: relative; width: 100%; min-height: 780px; }

.intro-container { color: #ffffff; float: left; margin: 150px 0 0; min-height: 400px; position: relative; right: 0; text-align: center; transition: right 0.5s ease 2.8s; width: 100%; }
.intro-container .intro-text-container { display: block; vertical-align: middle; }
.intro-container h1.intro-text { display: inline-block; font-family: "BrandonGrotesque Regular"; font-size: 48px; font-weight: normal; line-height: 36px; margin: 0 0 100px; vertical-align: middle; text-transform: uppercase; letter-spacing: 5px; }
.intro-container .intro-image-container { display: block; vertical-align: middle; }
.intro-container .intro-image-container img { display: inline-block; margin: 114px 0 0; transform: none; transition: all 2s ease 0.5s; vertical-align: middle; }

.intro-container.deactivate { right: 100%; transition: right 0.5s ease 2.8s; }
.intro-container.deactivate .intro-image-container img { transform: rotate(360deg); transition: all 2s ease 0.5s; }


/*for the question step section*/

.regimen-form-container { color: #ffffff; float: left; left: 100%; position: absolute; text-align: center; top: 105px; transition: left 0.5s ease 3s; width: 100%; }
.regimen-form-container.activate { left: 0; transition: left 0.5s ease 3s; }

#recommender-container .question-container { float: left; left: 100%; position: absolute; top: 0; transition: left 0.5s ease 0.5s; width: 100%; }
#recommender-container .question-container.active { left: 0; transition: left 0.5s ease 0.5s; }
#recommender-container .question-container.answerd { left: -100%; transition: left 0.5s ease 0.5s; }


#recommender-container .qustn-number { float: left; font-family: "BrandonGrotesque Black"; font-size: 16px; letter-spacing: 2px; line-height: 14px; margin: 0 0 17px; text-transform: uppercase; width: 100%; }

#recommender-container .qustn { float: left; font-family: "BrandonGrotesque Regular"; font-size: 32px; letter-spacing: 7px; line-height: 50px; margin: 0; text-align: center; text-transform: uppercase; width: 100%; }

#recommender-container .ques-container { display: inline-block; margin: 133px auto 0; max-width: 750px; position: relative; width: 100%; }
#recommender-container .ques-container input[type="text"], #recommender-container .ques-container input[type="email"], #recommender-container .ques-container input[type="password"] { background: rgba(0, 0, 0, 0) none repeat scroll 0 0; border: medium none; color: #ffffff; float: left; font-family: "BrandonGrotesque Regular"; font-size: 24px; font-weight: normal; height: initial; letter-spacing: 5px; line-height: 80px; padding: 0 20px; text-align: center; text-transform: uppercase; width: 100%; border-bottom: 1px solid #ffffff; }
#recommender-container .ques-container input[type="text"]::-moz-placeholder, #recommender-container .ques-container input[type="email"]::-moz-placeholder, #recommender-container .ques-container input[type="password"]::-moz-placeholder { color: #696767; opacity: 1; }

#recommender-container .ques-container input[type="button"] { display: none; }

#recommender-container .ques-container .field-arrow { color: #696767; float: right; font-family: "BrandonGrotesque Regular"; font-size: 24px; position: absolute; right: 0;  top: 50%;transform: translate(0px, -50%); z-index:99; cursor: pointer; line-height: 80px; width: 20px; background: rgba(0, 0, 0, 0) none repeat scroll 0 0; border: medium none; }


.name-display-container { float: left; width: 100%; }
.name-display-container span { float: left; font-family: "BrandonGrotesque Black"; font-size: 16px; letter-spacing: 2px; line-height: 14px; margin: 0 0 17px; text-transform: uppercase; width: 100%; }
.name-display-container p { float: left; font-family: "BrandonGrotesque Regular"; font-size: 32px; letter-spacing: 7px; line-height: 50px; margin: 0; text-align: center; text-transform: uppercase; width: 100%; margin: 0 0 40px; }
.name-display-container h2 { float: left; font-family: "BrandonGrotesque Light"; font-size: 72px; font-weight: normal; letter-spacing: 0; line-height: 90px; margin: 0; text-transform: capitalize; width: 100%; }
.name-display-container img { display: inline-block; margin: 70px 0 0; transform: none; transition: all 2s ease 0.5s; vertical-align: middle; }


.thanks-message-conatiner span { float: left; font-family: "BrandonGrotesque Black"; font-size: 16px; letter-spacing: 2px; line-height: 14px; margin: 0 0 17px; text-transform: uppercase; width: 100%; }
.thanks-message-conatiner p { float: left; font-family: "BrandonGrotesque Regular"; font-size: 32px; letter-spacing: 7px; line-height: 50px; margin: 0; text-align: center; text-transform: uppercase; width: 100%; margin: 0 0 40px; }
.thanks-message-conatiner h3 { float: left; font-family: "BrandonGrotesque Light"; font-size: 72px; font-weight: normal; letter-spacing: 0; line-height: 90px; margin: 0; text-transform: capitalize; width: 100%; }


#recommender-container .radio-box { display: inline-block; margin: 0 1%; width: 23%; position: relative; }
#recommender-container .radio-box span { float: left; font-family: "BrandonGrotesque Light"; font-size: 72px; letter-spacing: 0; line-height: 54px; margin: 0 0 80px; text-transform: capitalize; width: 100%; padding: 0 0 52px; }
#recommender-container .radio-box span b { float: left; font-family: "BrandonGrotesque Black"; font-size: 16px; font-weight: normal; letter-spacing: 1px; line-height: 18px; margin: 24px 0 20px; min-height: 40px; text-transform:  uppercase; width: 100%; }

#recommender-container .radio-box input.custom-radio { display: inline-block; height: 100%; left: 0; margin: 0; opacity: 0; position: absolute; top: 0; width: 100%; z-index: 99; }
#recommender-container .radio-box input.custom-radio ~ span::before { border: 2px solid #ffffff; border-radius: 50px; bottom: 0; content: ""; height: 49px; position: absolute; transform: translate(-50%, 0px); transition: all 250ms ease 0s; width: 49px; left: 50%; }
#recommender-container .radio-box input.custom-radio:checked ~ span::after { background: #ffffff none repeat scroll 0 0; border-radius: 100px; bottom: 15px; content: ""; height: 22px; left: 50%; position: absolute; transform: translate(-50%, 0px); transition: all 250ms ease 0s; width: 22px; }


#recommender-container .radio-box.no-btn input.custom-radio ~ span::before { border: none; content: none; }
#recommender-container .radio-box.no-btn input.custom-radio:checked ~ span::after { border: none; content: none; background: none; }


#recommender-container .step-ques-1-a .ques-container { margin: 58px auto 0; max-width: 860px; }
#recommender-container .step-ques-1-a  .radio-box { float: left; margin: 0 1%; position: relative; width: 48%; }


#recommender-container .not-member .ques-container { margin: 163px auto 0; text-align: center; vertical-align: middle; }
#recommender-container .not-member .ques-container img { transform: rotate(360deg); transition: all 2s ease 0.5s; vertical-align: middle; }

#recommender-container .no-value-pic { display: inline-block; vertical-align: bottom; width: 100%; }
#recommender-container .no-value-pic img { display: inline-block; vertical-align: bottom; width: initial; }

#recommender-container .field-box { float: left; margin: 0 0 22px; position: relative; width: 100%; }

#recommender-container .step-ques-1-b .ques-container { margin: 33px auto 0; }


#recommender-container .step-ques-2 .ques-container { margin: 65px auto 0; max-width: 1156px; }
#recommender-container .step-ques-2 .radio-box { border: 2px solid transparent; border-radius: 15px; float: left; margin: 0 24px; padding: 30px 0; width: calc(25% - 40px); transition: all 0.5s ease; }
#recommender-container .step-ques-2 .radio-box:hover, #recommender-container .step-ques-2 .radio-box.active { border-color: #fff; }
#recommender-container .step-ques-2 .radio-box span { margin: 0; padding: 0; }
#recommender-container .step-ques-2 .radio-box:first-child { margin-left: 0; }
#recommender-container .step-ques-2 .radio-box:last-child { margin-right: 0; }


#recommender-container .step-ques-3 .ques-container { max-width: 900px; margin: 136px auto 0; }
#recommender-container .step-ques-3 .radio-box { float: left; width: 31%; }
#recommender-container .step-ques-3 .radio-box span { margin: 0; padding: 0; }
#recommender-container .step-ques-3 .radio-box span.middle-align { display: inline-block; float: none; vertical-align: middle; margin: 12px 0 0; }
#recommender-container .step-ques-3 .radio-box span b { color: #808080; display: inline-block; float: none; line-height: 26px; margin: 0; min-height: initial; vertical-align: middle; }
#recommender-container .step-ques-3 .radio-box span img { transition: all 0.5s ease 0s; filter: grayscale(100%) brightness(47%); }
#recommender-container .step-ques-3 .radio-box:hover span img, #recommender-container .step-ques-3 .radio-box.active span img { filter: grayscale(100%) brightness(100%); }
#recommender-container .step-ques-3 .radio-box:hover span b, #recommender-container .step-ques-3 .radio-box.active span b { color: #ffffff; }

#recommender-container .step-ques-4 .ques-container { margin: 58px auto 0; max-width: 860px; }
#recommender-container .step-ques-4 .radio-box { float: left; width: 48%; }

#recommender-container .step-ques-5 .ques-container { margin: 58px auto 0; max-width: 860px; }
#recommender-container .step-ques-5 .radio-box { float: left; width: 48%; }


#recommender-container .step-ques-6 .ques-container { margin: 65px auto 0; max-width: 1156px; }
#recommender-container .step-ques-6 .radio-box { border: 2px solid transparent; border-radius: 15px; float: left; margin: 0 24px; padding: 30px 0; width: calc(25% - 40px); transition: all 0.5s ease; }
#recommender-container .step-ques-6 .radio-box:hover, #recommender-container .step-ques-6 .radio-box.active { border-color: #fff; }
#recommender-container .step-ques-6 .radio-box span { margin: 0; padding: 0; }
#recommender-container .step-ques-6 .radio-box:first-child { margin-left: 0; }
#recommender-container .step-ques-6 .radio-box:last-child { margin-right: 0; }
#recommender-container .step-ques-6 .radio-box.active { border-color: #ffffff; }


#recommender-container .step-ques-7 .ques-container { margin: 35px auto 0;  max-width: 860px; }
#recommender-container .step-ques-7 .radio-box { border: 2px solid transparent; border-radius: 15px; float: left; margin: 0 24px; padding: 30px 0; width: calc(31.5% - 23px); transition: all 0.5s ease; }
#recommender-container .step-ques-7 .radio-box:hover, #recommender-container .step-ques-6 .radio-box.active { border-color: #fff; }
#recommender-container .step-ques-7 .radio-box span { margin: 0; padding: 0; }
#recommender-container .step-ques-7 .radio-box:first-child { margin-left: 0; }
#recommender-container .step-ques-7 .radio-box:last-child { margin-right: 0; }
#recommender-container .step-ques-7 .radio-box.active { border-color: #ffffff; }


#recommender-container .step-ques-8 .ques-container { margin: 35px auto 0;  max-width: 860px; }
#recommender-container .step-ques-8 .radio-box { border: 2px solid transparent; border-radius: 15px; float: left; margin: 0 24px; padding: 30px 0; width: calc(31.5% - 23px); transition: all 0.5s ease; }
#recommender-container .step-ques-8 .radio-box:hover, #recommender-container .step-ques-6 .radio-box.active { border-color: #fff; }
#recommender-container .step-ques-8 .radio-box span { margin: 0; padding: 0; }
#recommender-container .step-ques-8 .radio-box span b { margin: 24px 0 34px; }
#recommender-container .step-ques-8 .radio-box:first-child { margin-left: 0; }
#recommender-container .step-ques-8 .radio-box:last-child { margin-right: 0; }
#recommender-container .step-ques-8 .radio-box.active { border-color: #ffffff; }


#recommender-container .step-ques-9 .ques-container { margin: 65px auto 0; max-width: 1156px; }
#recommender-container .step-ques-9 .radio-box { border: 2px solid transparent; border-radius: 15px; float: left; margin: 0 24px; padding: 30px 0; width: calc(25% - 40px); transition: all 0.5s ease; }
#recommender-container .step-ques-9 .radio-box:hover, #recommender-container .step-ques-6 .radio-box.active { border-color: #fff; }
#recommender-container .step-ques-9 .radio-box span { margin: 0; padding: 0; }
#recommender-container .step-ques-9 .radio-box span.opt-icon { margin: 35px 0 0; }
#recommender-container .step-ques-9 .radio-box:first-child { margin-left: 0; }
#recommender-container .step-ques-9 .radio-box:last-child { margin-right: 0; }
#recommender-container .step-ques-9 .radio-box.active { border-color: #ffffff; }



#recommender-container .step-ques-10 .ques-container { margin: 35px auto 0; max-width: 1156px; }
#recommender-container .step-ques-10 .radio-box { border: 2px solid transparent; border-radius: 15px; float: left; margin: 0 24px; padding: 30px 0; width: calc(25% - 40px); transition: all 0.5s ease; }
#recommender-container .step-ques-10 .radio-box:hover, #recommender-container .step-ques-6 .radio-box.active { border-color: #fff; }
#recommender-container .step-ques-10 .radio-box span { margin: 0; padding: 0; }
#recommender-container .step-ques-10 .radio-box span b { margin: 24px 0 12px; }
#recommender-container .step-ques-10 .radio-box:first-child { margin-left: 0; }
#recommender-container .step-ques-10 .radio-box:last-child { margin-right: 0; }
#recommender-container .step-ques-10 .radio-box.active { border-color: #ffffff; }


#recommender-container .step-ques-11 .ques-container { margin: 83px auto 0; }


#recommender-container .step-ques-12 .ques-container { margin: 65px 0 0 -80px; max-width: initial; width: calc(100% + 140px); }
#recommender-container .step-ques-12 .radio-box span { margin: 0; padding: 0; }
#recommender-container .step-ques-12 .radio-box span img { transition: all 0.5s ease 0s; filter: grayscale(100%) brightness(47%); }
#recommender-container .step-ques-12 .radio-box span b { color: #808080; transition: all 0.5s ease; }
#recommender-container .step-ques-12 .radio-box:hover span img, #recommender-container .step-ques-12 .radio-box.active span img { filter: grayscale(100%) brightness(100%); }
#recommender-container .step-ques-12 .radio-box:hover span b, #recommender-container .step-ques-12 .radio-box.active span b { color: #ffffff; }

.ques-container .top-opt-list { float: left; margin: 0 0 20px; width: 100%; }
.ques-container .bottom-opt-list { float: left; padding: 0 10%; width: 80%; }
#recommender-container .top-opt-list .radio-box { float: left; width: 18%; }
#recommender-container .bottom-opt-list .radio-box { float: left; width: 23%; }


#recommender-container .step-ques-13 .ques-container { margin: 53px auto 0; }

#recommender-container .step-ques-13 .qustn { line-height: 42px; margin: 4px 0 0; }


/*for the question step back button*/

.back-to-quiz-container { bottom: 70px; float: left; left: 50%; max-width: 200px; position: absolute; text-align: center; transform: translate(-50%, 0px); width: 100%; }
.quiz-back-button { color: #808285; cursor: pointer; display: none; font-family: "BrandonGrotesque Bold"; font-size: 16px; font-weight: normal; letter-spacing: 1px; line-height: 22px; padding: 0 0 0  22px; position: relative; text-decoration: none; text-transform: uppercase; transition: all 0.5s ease 0s; }
.quiz-back-button::before { bottom: 0; content: "<<"; font-family: "BrandonGrotesque Black"; font-size: 15px; height: 22px; left: 0; line-height: 22px; position: absolute; text-align: center; width: 22px; }
.quiz-back-button:hover { color: #fff; }
.quiz-back-button.active { display: inline-block; }


/*login css*/

.on-registration .qustn-number { float: left; font-family: "BrandonGrotesque Black"; font-size: 16px; letter-spacing: 2px; line-height: 14px; margin: 0 0 17px; text-transform: uppercase; width: 100%; }
.on-registration .qustn { float: left; font-family: "BrandonGrotesque Regular"; font-size: 32px; letter-spacing: 7px; line-height: 50px; margin: 0; text-align: center; text-transform: uppercase; width: 100%; }
.on-registration .ques-container input[type="text"], .on-registration .ques-container input[type="email"], .on-registration .ques-container input[type="password"] { background: rgba(0, 0, 0, 0) none repeat scroll 0 0; border: medium none; color: #ffffff; float: left; font-family: "BrandonGrotesque Regular"; font-size: 24px; font-weight: normal; height: initial; letter-spacing: 5px; line-height: 80px; padding: 0; text-align: center; text-transform: uppercase; width: 100%; border-bottom: 1px solid #ffffff; }
.on-registration .ques-container { display: inline-block; margin: 133px auto 0; max-width: 750px; position: relative; width: 100%; }
.on-registration .step-ques-1-b .ques-container { margin: 33px auto 0; }
.on-registration .ques-container .field-arrow { color: #696767; float: right; font-family: "BrandonGrotesque Regular"; font-size: 24px; position: absolute; right: 0;  top: 50%;transform: translate(0px, -50%); z-index:99; cursor: pointer; line-height: 80px; width: 20px; background: rgba(0, 0, 0, 0) none repeat scroll 0 0; border: medium none; }
.on-registration .field-box {position: relative;}



/*=============================for the result page content=============================*/


/*for the general*/

.regimen-result-index .page-main { max-width: 100%; padding: 0; position: relative; }
.regimen-result-index .page-header { display: none; }
.regimen-result-index .page-footer { display: none; }
.regimen-result-index .copyright { display: none; }
.regimen-result-index .columns { padding: 0 0 80px; }

.customer-welcome.active .customer-menu { display: block; background: #000 none repeat scroll 0 0; padding: 10px; position: absolute; right: 0 !important; text-align: center; width: 120px !important; top: 20px; z-index: 4; }

.regimen-login-sec ul.header li.customer-welcome span.customer-name {font-family: "BrandonGrotesque Medium"; font-size: 11px; font-weight: normal; letter-spacing: 1px; line-height: 11px; text-transform: uppercase; float: right;}
.regimen-login-sec ul.header li.customer-welcome .action.switch:after {line-height: 11px;}

.regimen-login-sec .customer-welcome ul.header.links {float: none; margin: 0; width: 100%; padding: 0; position: relative; border: none; min-width: initial;}
.regimen-login-sec .customer-welcome ul.header.links:before,
.regimen-login-sec .customer-welcome ul.header.links:after {display: none;}
.regimen-login-sec .customer-welcome ul.header.links li {display: inline-block; width: 100%; text-align: center;}
.regimen-login-sec .customer-welcome ul.header.links li:hover {background: transparent !important;}
.regimen-login-sec .customer-welcome ul.header.links li a {color: #979595 !important; display: inline-block; width: 100%; box-sizing: border-box; font-family: "BrandonGrotesque Bold"; line-height: 20px;}
.regimen-login-sec .customer-welcome ul.header.links li:hover a {color: #ffffff !important;}


/*for the sidebar*/

.regimen-sidebar { background: #000 none repeat scroll 0 0; bottom: 0; float: left; height: 100%; left: 0; max-width: 250px; padding: 0 60px 0 50px; position: absolute; top: 0; width: initial; }

.regimen-sidebar-container { float: left; width: 100%; }

.recommendation-logo { float: left; padding: 50px 0; text-align: left; vertical-align: middle; width: 100%; }
.recommendation-logo img { display: inline-block; vertical-align: middle; width: initial; }

.recommendation-heading { float: left; padding: 0 0 40px; width: 100%; }
.recommendation-heading span { color: #fff; float: left; font-family: "BrandonGrotesque Black"; font-size: 11px; letter-spacing: 1px; line-height: 10px; text-transform: uppercase; width: initial; }

.product-suggestion-conatiner { float: left; width: 100%; }
.product-suggestion-conatiner .suggestion-product { border-top: 1px solid #ffffff; float: left; width: 100%; }

.suggestion-product .time-click { float: left; font-family: "BrandonGrotesque Regular"; font-size: 11px; letter-spacing: 1px; line-height: 60px; margin: 0; text-transform: uppercase; width: 100%; color: #fff; cursor: pointer; vertical-align: middle; position: relative; }
.suggestion-product .time-click img { display: inline-block; margin: 0 22px 0 0; vertical-align: middle; width: initial; }
.suggestion-product .time-click img.down-arrow { margin: 0; position: absolute; right: 0; top: 50%; transform: translate(0px, -50%); }

.suggestion-product .suggestion-on-time { float: left; width: 100%; display: none; margin: 20px 0 0; }
.suggestion-product.active .suggestion-on-time{ display: block; }

.suggest-opt { float: left; padding: 0 0 0 60px; position: relative; width: calc(100% - 60px); margin: 0 0 28px; }
.suggest-opt:before { border: 2px solid #ffffff; border-radius: 50px; bottom: 0; content: ""; height: 26px; left: 0; position: absolute; top: 0; transition: all 250ms ease 0s; width: 26px; }
.suggest-opt.active:after { background: #ffffff none repeat scroll 0 0; border-radius: 50px; content: ""; height: 30px; left: 0; position: absolute; top: 0; transition: all 250ms ease 0s; width: 30px; }
.suggest-opt .common-title { color: #ffffff; float: left; font-family: "BrandonGrotesque Regular"; font-size: 11px; letter-spacing: 1px; line-height: 24px; margin: 0 0 5px; text-decoration: underline; text-transform: uppercase; width: 100%; }
.suggest-opt .regimen-product-name { color: #ffffff; float: left; font-family: "BrandonGrotesque Regular"; font-size: 11px; line-height: 18px; margin: 0; text-transform: uppercase; width: 100%; cursor: pointer; text-decoration: none;letter-spacing: 0.8px; }

.suggest-opt .regimen-product-name b { font-weight: 400; text-transform: uppercase; }

#maincontent .regimen-product-name { color: #ffffff; }


/*for the product-info-section*/

.regimen-product-collection { float: right; height: 100%; padding: 0; width: calc(100% - 360px); }

.regimen-product-collection-header { float: left; padding: 50px 20px 90px; text-align: center; width: calc(100% - 40px); }

.regimen-topbar-sec { display: inline-block; margin: 0 auto; max-width: 1080px; width: 100%; }

.regimen-topbar-cont { display: inline-block; float: right; max-width: 580px; padding: 0 60px 0 0; width: calc(60% - 60px); text-align: center; }


.regimen-shop-sec { float: left; width: initial; }
.regimen-shop-sec a { float: left; font-family: "BrandonGrotesque Medium"; font-size: 11px; font-weight: normal; letter-spacing: 1px; line-height: 11px; text-transform: uppercase; width: initial; }

.regimen-login-sec { display: inline-block; float: none; margin: 0; vertical-align: top; width: initial; }
.regimen-login-sec .header.links { float: left; margin: 0; width: initial; }
.regimen-login-sec .header.links li { float: left; margin: 0; width: initial; }
.regimen-login-sec .header.links li a { float: left; font-family: "BrandonGrotesque Medium"; font-size: 11px; font-weight: normal; letter-spacing: 1px; line-height: 11px; text-transform: uppercase; width: initial; }

.result-minicart { float: right; width: initial; margin: 0 0 0 30px; }
.result-minicart .minicart-wrapper { float: right; margin: 0; width: initial; }
.result-minicart .minicart-wrapper .action.showcart { float: right; height: initial; width: initial; }
.result-minicart .minicart-wrapper .action.showcart .text { float: left; font-family: "BrandonGrotesque Medium"; font-size: 11px; height: initial; letter-spacing: 1px; line-height: 11px; margin: 0; position: relative; width: initial; }
.result-minicart .minicart-wrapper .action.showcart .counter.qty { background: rgba(0, 0, 0, 0) none repeat scroll 0 0; display: block; float: left; font-family: "BrandonGrotesque Medium"; font-size: 11px; height: initial; letter-spacing: 1px; line-height: 11px; margin: 0 0 0 5px; min-width: initial; padding: 0; width: initial; }


.regimen-product-page-suggest { display: none; float: left; text-align: center; width: 100%; padding: 0 0 80px; overflow: hidden; }
.regimen-product-page-suggest.active { display: block; }

.top-regimen-container { display: inline-block; max-width: 1080px; padding: 0; position: relative; width: 100%; vertical-align: middle; }

.regimen-left-conatiner { float: left; width: 40%; max-width: 440px; /*position: absolute; left: 0;  bottom: 0;*/ }

.regimen-image-container { float: left; position: relative; width: 100%; }
.regimen-image-container .product-image { float: left; text-align: center; vertical-align: bottom; width: 100%; }
.regimen-image-container .product-image img { display: inline-block; max-width: 100%; vertical-align: bottom; }


.regimen-right-container { float: right; max-width: 580px; padding: 0 60px 0 0; right: 0; width: calc(60% - 60px); text-align: left; }

.regimen-product-details-container { float: left; width: 100%; }

.regimen-concerns { float: left; width: 100%; }
.regimen-concerns span { color: #808285; float: left; font-family: "BrandonGrotesque Medium"; font-size: 11px; letter-spacing: 1px; line-height: 30px; text-transform: uppercase; width: 100%; }
.regimen-concerns h2 { color: #696767; float: left; font-family: "BrandonGrotesque light"; font-size: 24px; font-weight: 400; letter-spacing: 4px; line-height: 35px; margin: 0; text-transform: uppercase; width: 80%; }


.product-name { float: left; margin: 36px 0 0; width: 100%; }
.product-name a { float: left; font-family: "QuadraatSansPro"; font-size: 30px; font-weight: normal; letter-spacing: 1px; line-height: 36px; text-decoration: none; width: 100%; }


.regimen-product-description { float: left; margin: 32px 0 0; width: 100%; }
.regimen-product-description .regimen-short-desc { float: left; width: 100%; }
.regimen-product-description p { color: #000000; float: left; font-size: 14px; letter-spacing: 0.25px; line-height: 20px; margin: 0 0 30px; width: 100%; }
.regimen-product-description .regimen-learn-more { float: left; font-family: "BrandonGrotesque Medium"; font-size: 11px; font-weight: normal; letter-spacing: 1px; line-height: 11px; margin: 20px 0 42px; text-decoration: underline; text-transform: uppercase; width: initial; transition: all 0.5s ease; }
.regimen-product-description .regimen-learn-more:hover { text-decoration: none; }


.regimen-suitable-for { float: left; width: 100%; }
.regimen-suitable-for .regimen-suitable-heading { color: #808285; float: left; font-family: "BrandonGrotesque Medium"; font-size: 11px; font-weight: normal; letter-spacing: 1px; line-height: 11px; margin: 0 0 18px; text-transform: uppercase; width: 100%; }
.regimen-suitable-for p { color: #000000; float: left; font-size: 14px; font-weight: normal; letter-spacing: 0.25px; line-height: 20px; margin: 0 0 30px; width: 100%; }


.regimen-benefits { float: left; width: 100%; margin: 0 0 50px; }
.regimen-benefits .regimen-benefits-heading { color: #808285; float: left; font-family: "BrandonGrotesque Medium"; font-size: 11px; font-weight: normal; letter-spacing: 1px; line-height: 11px; margin: 0 0 16px; text-transform: uppercase; width: 100%; }
.regimen-benefits .regimen-benefits-list { float: left; width: 100%; }
.regimen-benefits .regimen-benefits-list ul { float: left; margin: 0 20px 0 0; padding: 0 0 0 14px; width: calc(100% - 32px); }
.regimen-benefits .regimen-benefits-list ul li { float: left; font-size: 14px; font-weight: normal; letter-spacing: 0.25px; line-height: 20px; list-style: outside disc; margin: 1px 0; padding: 0; width: 100%; color: #808285; }


.add-all-product-container { bottom: 0px; float: left; left: 0; margin: 10px 0 0; padding: 20px 60px 20px 50px; position: absolute; text-align: center; width: calc(100% - 122px); }
.add-all-product-to-cart { border: 1px solid #808285; color: #808285; cursor: pointer; float: left; font-family: "BrandonGrotesque Bold"; font-size: 11px; letter-spacing: 2px; line-height: 38px; text-transform: uppercase; transition: all 0.5s ease 0s; width: 100%; }
.add-all-product-to-cart:hover { border-color: #ffffff; color: #ffffff; }


/*for the bottom fixed bar*/

.bottom-regimen-container { background: #000000 none repeat scroll 0 0; bottom: 0; float: left; position: absolute; width: calc(100% - 360px); }
.bottom-regimen-container .regimen-product-container { display: inline-block; max-width: 1080px; position: relative; text-align: center; vertical-align: bottom; width: 100%; }
.bottom-regimen-container .product-add-form { max-width: 1020px; padding: 15px 60px 15px 0; width: calc(100% - 60px); }
.bottom-regimen-container .product-add-form form { max-width: 530px; padding: 0 50px 0 0; width: 100%; }
.bottom-regimen-container .product-add-form .add-to-cart { float: right; width: 22%; }

.bottom-regimen-container .product-add-form .stock { float: right; margin: 15px 0 0; width: 22%; }
.bottom-regimen-container .product-add-form .stock span { color: #fff; float: left; line-height: 20px; text-align: center; width: 100%; }


/*new regimen css for forgot pass*/

.regimen-password-forgot .psw a { color: #ffffff !important; font-family: "BrandonGrotesque Bold"; text-transform: uppercase; text-decoration: underline; letter-spacing: 1.5px; }
.regimen-result-index .page.messages { max-width: calc(100% - 360px); float: right; width: 100%; }
.type-example { font-family: BrandonGrotesque Regular; clear: both; letter-spacing: 2px; }


.suggestion-on-time .suggest-opt:before, .suggestion-on-time .suggest-opt:after {display: none;}
.regimen-steps {color: #fff; text-decoration: underline; text-transform: uppercase;}
.suggest-opt {opacity: 0.8; cursor: pointer;}
.suggest-opt.active {opacity: 1;}
.product-suggestion-conatiner .suggest-opt {width: 100%; padding: 0;}
.product-suggestion-conatiner .suggest-opt .common-title {width: auto; margin-left: 0px; font-size: inherit; line-height: 19px; float: unset;}
.combine-seprator {display: inline-block;text-decoration: underline;color: #fff;}



.suggestion-on-time .suggest-opt:before, .suggestion-on-time .suggest-opt:after {display: none;}
.regimen-steps {color: #fff; text-decoration: underline; text-transform: uppercase;}
.suggest-opt {opacity: 0.8; cursor: pointer;}
.suggest-opt.active {opacity: 1;}
.product-suggestion-conatiner .suggest-opt {width: 100%; padding: 0;}
.product-suggestion-conatiner .suggest-opt .common-title {width: auto; margin-left: 0px; font-size: inherit; line-height: 19px; float: unset;}
.combine-seprator {display: inline-block;text-decoration: underline;color: #fff;}


.suggestion-on-time .suggest-opt:before, .suggestion-on-time .suggest-opt:after {display: none;}
.regimen-steps {color: #fff; text-decoration: underline; text-transform: uppercase;}
.suggest-opt {opacity: 0.8; cursor: pointer;}
.suggest-opt.active {opacity: 1;}
.product-suggestion-conatiner .suggest-opt {width: 100%; padding: 0;}
.product-suggestion-conatiner .suggest-opt .common-title {width: auto; margin-left: 0px; font-size: inherit; line-height: 19px; float: unset;}
.combine-seprator {display: inline-block;text-decoration: underline;color: #fff;}


.messages .message { float: right; max-width: calc(100% - 424px); width: 100%; }


/*header design for the login user in My routine section*/

.cms-regimen-routine .page-header { max-width: calc(100% - 360px); right: 0; }
.cms-regimen-routine .page-header .menu-over-banner { height: 20px; padding: 60px 20px 80px; text-align: center; width: calc(100% - 40px); }
.cms-regimen-routine .page-header .menu-over-banner-container { height: 20px; max-width: 1080px; }
.cms-regimen-routine .page-header .menu-section { clear: none; max-width: 580px; padding: 0 60px 0 0; width: calc(60% - 60px); }
.cms-regimen-routine .page-header .login-register-container { margin: 0 15% 0 0; }

.cms-regimen-routine .regimen-product-collection-header { padding: 50px 20px; }



.regimen-result-index .customer-name .action.switch::after { position: relative; top: -3px; }



/*new regimen css for allies underground*/

.login-yes-text { bottom: -110px; color: #a5a2a2; font-family: "BrandonGrotesque Light"; font-size: 18px; left: 50%; max-width: 100%; position: absolute; transform: translate(-50%, 0px); width: initial; display: inline-block; }



/*===============================Custom css for the IE Browser issue===============================*/


@media all and (-ms-high-contrast:none) {

.regimen-index-index .page-wrapper { height: auto !important; }

#recommender-container .ques-container input[type="text"], #recommender-container .ques-container input[type="email"], #recommender-container .ques-container input[type="password"] { height: 80px; }

.copyright { position: absolute; bottom: 0; }

}


/*=============================Responsive Css for quiz section=============================*/


@media screen and (min-width: 768px) and (max-width: 1200px){

.menu-section { text-align: left; }

.regimen-index-index .freshwidget-button,
.regimen-result-index .freshwidget-button,
.cms-regimen-routine .freshwidget-button { top: 90px !important; display: none !important; }

.regimen-section { margin: 30px 0 50px; }

.intro-container { margin: 100px 0 0; }
.intro-container h1.intro-text { font-size: 38px; margin: 0 0 70px; }
.intro-container .intro-image-container img { margin: 100px 0 0; max-width: 130px; }

.regimen-form-container { top: 90px; }


#recommender-container .qustn { font-size: 28px; line-height: 42px; }
#recommender-container .ques-container { margin: 100px auto 0; max-width: 100% !important; }
#recommender-container .ques-container input[type="text"],
#recommender-container .ques-container input[type="email"],
#recommender-container .ques-container input[type="password"] { font-size: 20px; line-height: 70px; }

#recommender-container .not-member .ques-container img { max-width: 130px; }


.name-display-container p { font-size: 28px; line-height: 44px; margin: 0 0 30px; }
.name-display-container h2 { font-size: 64px; line-height: 80px; }
.name-display-container img { margin: 60px 0 0; max-width: 130px; }


.thanks-message-conatiner p { font-size: 28px; line-height: 44px; margin: 0 0 30px; }
.thanks-message-conatiner h3 { font-size: 60px; }


#recommender-container .radio-box span { font-size: 50px; line-height: 40px; margin: 0 0 54px; padding: 0 0 40px; }
#recommender-container .radio-box span b { font-size: 14px; line-height: 16px; margin: 18px 0; min-height: 36px; }


#recommender-container .step-ques-2 .radio-box,
#recommender-container .step-ques-6 .radio-box,
#recommender-container .step-ques-9 .radio-box,
#recommender-container .step-ques-10 .radio-box { margin: 0 18px; padding: 15px 0; width: calc(25% - 31px); }


#recommender-container .step-ques-7 .radio-box,
#recommender-container .step-ques-8 .radio-box { padding: 15px 0; }


#recommender-container .no-value-pic img { max-height: 40px; }


#recommender-container .step-ques-10 .radio-box span.opt-icon img { max-height: 90px; }

#recommender-container .step-ques-12 .ques-container { margin: 65px 0 0 0; width: 100%; }

#recommender-container .step-ques-7 br,
#recommender-container .step-ques-1-c-registration-choice br  { display: none; }

#recommender-container .routine-container-already-signed br,
#recommender-container .routine-container.underground-login-success br,
#recommender-container .routine-container-after-registration br { display: none; }


/*============for the quiz result page content============*/


.regimen-sidebar { padding: 0 15px; max-width: 250px; }

.regimen-product-collection { width: calc(100% - 280px); }
.regimen-product-collection-header { padding: 20px 0 30px; width: 100%; }

.regimen-left-conatiner { bottom: initial; width: 40%; top: 0; }


.regimen-right-container { padding: 0 10px 0 0; width: calc(60% - 10px); }

.regimen-concerns h2 { font-size: 17px; letter-spacing: 3px; line-height: 26px; margin: 0; width: 100%; }

.product-name { margin: 25px 0 0; }
.product-name a { font-size: 24px; line-height: 30px; }

.product-add-form .box-tocart { width: calc(77% - 10px);  padding: 0 10px 0 0; }
.product-add-form .box-tocart .qty { padding: 0 10px; width: calc(33% - 20px); }

.regimen-product-description { margin: 20px 0 0; }

.regimen-product-page-suggest { padding: 0 0 150px; }

.bottom-regimen-container { width: calc(100% - 280px); }
.bottom-regimen-container .product-add-form { max-width: 1020px; padding: 15px 10px 15px 0; width: calc(100% - 10px) !important; }
.bottom-regimen-container .product-add-form form { padding: 0; width: calc(100% - 30px); }
.bottom-regimen-container .product-add-form .stock { width: 23%; }
.bottom-regimen-container .product-add-form .add-to-cart { width: calc(22% + 4px); }

.add-all-product-container { width: calc(100% - 80px); padding: 20px 40px; }

.regimen-topbar-cont { padding: 0 10px 0 0; width: calc(60% - 10px); }

.regimen-login-sec { margin: 0 0 0 20%; }


.messages .message { float: right; max-width: calc(100% - 345px); width: 100%; }


/*header design for the login user in My routine section*/

.cms-regimen-routine .page-header { max-width: calc(100% - 280px); }
.cms-regimen-routine .page-header .menu-over-banner { height: 20px; padding: 80px 0 30px; text-align: center; width: 100%; }
.cms-regimen-routine .page-header .menu-section { padding: 0 10px 0 0; width: calc(60% - 10px); }
.cms-regimen-routine .page-header .menu-section .regimen-shop-sec a { color: #000000; }

.cms-regimen-routine .regimen-product-collection-header { padding: 50px 0; }

.cms-regimen-routine .bottom-regimen-container .product-add-form form { padding: 0; width: calc(100% - 30px); }
.cms-regimen-routine .product-add-form .box-tocart { width: calc(77% - 20px); }
.cms-regimen-routine .product-add-form .box-tocart .qty { padding: 0 10px; width: calc(33% - 20px); }

/*.cms-regimen-routine .regimen-product-collection-header { padding: 30px 20px; }*/

.regimen-result-index .customer-name .action.switch::after { top: -1px; }
.regimen-result-index .regimen-login-sec { margin: 0 0 0 5%; }
.regimen-result-index .result-minicart { margin: 0 0 0 10px; }
.regimen-result-index .regimen-login-sec ul.header li.customer-welcome span.customer-name span { display: inline-block; max-width: 90px; overflow: hidden; text-overflow: ellipsis; vertical-align: top; white-space: nowrap; }



}


@media screen and (max-width: 767px){

.menu-section { text-align: left; }

.regimen-index-index .header_label a { right: 20px!important; top: 10px; }

.regimen-section { margin: 20px 0; }

.regimen-index-index .freshwidget-button,
.regimen-result-index .freshwidget-button,
.cms-regimen-routine .freshwidget-button { top: 90px !important; display: none !important; }

.intro-container { margin: 40px 0 0; }
.intro-container h1.intro-text { font-size: 24px; margin: 0 0 40px; }
.intro-container .intro-image-container img { margin: 30px 0 0; max-width: 110px; }

.regimen-form-container { top: 40px; }


.name-display-container span { font-size: 14px; margin: 0 0 10px; }
.name-display-container p { font-size: 20px; letter-spacing: 4px; margin: 0 0 10px; line-height: 40px; }
.name-display-container h2 { font-size: 32px; line-height: 50px; }
.name-display-container img { margin: 40px 0 0; max-width: 120px; }


.thanks-message-conatiner span { font-size: 14px; margin: 0 0 10px; }
.thanks-message-conatiner p { font-size: 20px; line-height: 30px; margin: 15px 0 25px; letter-spacing: 4px; }
.thanks-message-conatiner h3 { font-size: 36px; line-height: 50px; }
.thanks-message-conatiner h3 br { display: none; }

.type-example { font-size: 11px; }


#recommender-container .qustn { font-size: 18px; letter-spacing: 2px; line-height: 30px; }
#recommender-container .ques-container { margin: 40px auto 0 !important; max-width: 100% !important; }
#recommender-container .ques-container input[type="text"],
#recommender-container .ques-container input[type="email"],
#recommender-container .ques-container input[type="password"] { font-size: 15px; letter-spacing: 3px; line-height: 60px; }

#recommender-container .qustn-number { font-size: 14px; margin: 0 0 14px; }


#recommender-container .radio-box span { font-size: 22px; line-height: 36px; padding: 0 0 20px; margin: 0px 0 30px; }
#recommender-container .radio-box span b { font-size: 12px; margin: 10px 0 8px; min-height: 28px; line-height: 14px; }
#recommender-container .radio-box input.custom-radio ~ span::before { height: 25px; width: 25px;}
#recommender-container .radio-box input.custom-radio:checked ~ span::after { height: 14px; width: 14px; bottom: 8px; }


#recommender-container .not-member .ques-container { margin: 120px auto 0; text-align: center; vertical-align: middle; }
#recommender-container .not-member .ques-container img { max-width: 120px; }


#recommender-container .step-ques-2 .radio-box { margin: 0 10px; width: calc(50% - 14px); padding: 5px 0; }
#recommender-container .step-ques-2 .radio-box:first-child,
#recommender-container .step-ques-2 .radio-box:nth-child(3) { margin-left: 0; }
#recommender-container .step-ques-2 .radio-box:nth-child(2),
#recommender-container .step-ques-2 .radio-box:last-child { margin-right: 0; }
#recommender-container .step-ques-2 .radio-box span.opt-icon img { max-width: 50px; }


#recommender-container .step-ques-3 .radio-box span img { max-height: 70px; }
#recommender-container .step-ques-3 .radio-box span b { vertical-align: top; }


#recommender-container .step-ques-6 .radio-box { margin: 0 10px; width: calc(50% - 14px); padding: 5px 0; }
#recommender-container .step-ques-6 .radio-box:first-child,
#recommender-container .step-ques-6 .radio-box:nth-child(3) { margin-left: 0; }
#recommender-container .step-ques-6 .radio-box:nth-child(2),
#recommender-container .step-ques-6 .radio-box:last-child { margin-right: 0; }
#recommender-container .step-ques-6 .radio-box span.opt-icon img { max-width: 50px; }

#recommender-container .no-value-pic img { max-height: 36px; }


#recommender-container .step-ques-7 .qustn br { display: none; }
#recommender-container .step-ques-7 .radio-box { margin: 0 2%; padding: 5px 0; width: calc(30.65% - 4px); }
#recommender-container .step-ques-7 .radio-box span.opt-icon img { max-width: 50px; }


#recommender-container .step-ques-8 .radio-box { margin: 0 2%; padding: 5px 0; width: calc(30.65% - 4px); }
#recommender-container .step-ques-8 .radio-box span b { min-height: 44px; }
#recommender-container .step-ques-8 .radio-box span.opt-icon img { max-width: 50px; }


#recommender-container .step-ques-9 .radio-box { margin: 0 10px; width: calc(50% - 14px); padding: 5px 0; }
#recommender-container .step-ques-9 .radio-box:first-child,
#recommender-container .step-ques-9 .radio-box:nth-child(3) { margin-left: 0; }
#recommender-container .step-ques-9 .radio-box:nth-child(2),
#recommender-container .step-ques-9 .radio-box:last-child { margin-right: 0; }
#recommender-container .step-ques-9 .radio-box span.opt-icon { margin: 0; line-height: 15px; }
#recommender-container .step-ques-9 .radio-box span.opt-icon img { max-height: 36px; }


#recommender-container .step-ques-10 .qustn br { display: none; }
#recommender-container .step-ques-10 .radio-box { margin: 0 10px; width: calc(50% - 14px); padding: 5px 0; }
#recommender-container .step-ques-10 .radio-box:first-child,
#recommender-container .step-ques-10 .radio-box:nth-child(3) { margin-left: 0; }
#recommender-container .step-ques-10 .radio-box:nth-child(2),
#recommender-container .step-ques-10 .radio-box:last-child { margin-right: 0; }
#recommender-container .step-ques-10 .radio-box span.opt-icon img { max-height: 40px; }
#recommender-container .step-ques-10 .radio-box span b { margin: 10px 0 8px; }



#recommender-container .step-ques-11 .qustn br { display: none; }


#recommender-container .step-ques-12 .ques-container { margin:0px; width: 100%; }
#recommender-container .step-ques-12 .radio-box span b { word-wrap: break-word; margin: 6px 0 11px; font-size: 10.5px; }
#recommender-container .step-ques-12 .radio-box span img { max-width: 60px; display: inline-block; vertical-align: middle; }

#recommender-container .routine-container-already-signed br,
#recommender-container .routine-container.underground-login-success br,
#recommender-container .routine-container-after-registration br { display: none; }

#recommender-container .top-opt-list .radio-box { float: left; width: 48%; margin: 0 1% 10px; }
#recommender-container .bottom-opt-list .radio-box { float: left; width: 98%; margin: 0 1% 10px; }
#recommender-container .bottom-opt-list .radio-box:last-child { position: relative; left: -100%; bottom: 115px; }



.ques-container .top-opt-list {float: left;margin: 0 0 20px;width: 68%;}
.ques-container .bottom-opt-list {float: left;padding: 0;width: 32%;}


.on-registration .qustn-number { font-size: 14px; margin: 0 0 14px; }
.on-registration .qustn { font-size: 18px; letter-spacing: 2px; line-height: 30px; }
.on-registration .qustn br { display: none; }
.on-registration .step-ques-1-b .ques-container { margin: 0 auto 0; }

.on-registration .ques-container input[type="text"],
.on-registration .ques-container input[type="email"],
.on-registration .ques-container input[type="password"]{ font-size: 15px; letter-spacing: 3px; line-height: 60px; text-align: left; }


.login-yes-text { bottom: -72px; font-size: 13px; width: 100%; letter-spacing: 0.5px; }
#recommender-container .question-container .login-yes-text { display: none; transition: all 0.7s ease; }
#recommender-container .question-container.active .login-yes-text,
#recommender-container .question-container.answerd  .login-yes-text { display: inline-block; }



/*============for the quiz result page content============*/

.regimen-sidebar { position: static; padding: 0 15px; width: calc(100% - 30px); max-width: 100%; }


.suggestion-product { display: flex; align-items: center; justify-content: center; }
.suggestion-product a { display: inline-block; padding: 0 10px; opacity: 0.5; width: 33.333%; text-align: center; }
.suggestion-product a.active { opacity: 1; }
.suggestion-product .time-click { line-height: 30px; font-size: 10px; font-family: "BrandonGrotesque Bold"; }
.suggestion-product .time-click img { max-width: 17px; margin: -4px 8px 0 0; }



.suggest-opt { margin: 0 0 15px; padding: 0 0 0 50px; width: calc(100% - 50px); }


.recommendation-logo { padding: 20px 0 30px; text-align: center; }
.recommendation-heading { padding: 5px 0 15px; text-align: center; }
.recommendation-heading span { width: 100%; }

.add-all-product-container { position: fixed; border-top: none; margin: 0 0 0px 0; border-bottom: 1px solid #ffffff; padding: 10px 61px; z-index: 3; } 

.regimen-product-collection { padding: 0 15px; width: calc(100% - 30px); }
.regimen-product-collection-header { padding: 20px 0; width: 100%; }

.regimen-topbar-cont { padding: 0 10px; width: calc(100% - 20px); text-align: center; }


.result-minicart { margin: 0 0 0 15px; }

.regimen-login-sec { margin: 0; float: none; display: inline-block; vertical-align: top; }
.regimen-login-sec .header.links { right: 0; padding: 0; }
.regimen-login-sec .header.links li { background: none; }


.regimen-left-conatiner { bottom: initial; top: 0; width: 100%; max-width: 100%; position: static; }


.regimen-right-container { width: 100%; padding: 15px 0 0; }

.regimen-concerns { float: left; width: calc(100% - 30px); padding: 0 15px 10px; text-align: center; }
.regimen-concerns span { font-size: 10px; line-height: 15px; width: 100%; margin: 0 0 8px; }
.regimen-concerns h2 { font-size: 15px; letter-spacing: 2px; line-height: 24px; width: 100%; }

.product-name { margin: 20px 0 0; }
.product-name a { font-size: 24px; line-height: 36px; }

.regimen-product-description { margin: 15px 0 0; }
.regimen-product-description p { font-size: 12px; letter-spacing: 0.5px; line-height: 18px; }
.regimen-product-description .regimen-learn-more { font-size: 10px; margin: 15px 0 30px; }


.regimen-suitable-for .regimen-suitable-heading { font-size: 12px; margin: 0 0 10px; }
.regimen-suitable-for p { font-size: 12px; line-height: 16px; }


.regimen-benefits { margin: 0 0 30px; }
.regimen-benefits .regimen-benefits-heading { font-size: 12px; margin: 0 0 10px; }
.regimen-benefits .regimen-benefits-list ul li { font-size: 12px; letter-spacing: 0.5px; line-height: 16px; margin: 3px 0; }


.bottom-regimen-container { width: 100%; margin: 0 0 0 -15px; }
.bottom-regimen-container .product-add-form { max-width: 100%; padding: 15px 10px; width: calc(100% - 20px); }
.bottom-regimen-container .product-add-form form { padding: 0; max-width: 100%; }
.bottom-regimen-container .product-add-form .add-to-cart { width: 100%; margin: 10px 0 20px; text-align: center; }
.bottom-regimen-container .product-add-form .stock { width: 45%; }


.product-add-form .box-tocart { padding: 0 0 10px 0; }
.product-add-form button.tocart { float: none; display: inline-block; vertical-align: middle; margin: 0; }

.customer-name .action.switch, .customer-menu {display: none;}
.customer-name {display: block !important;}
.customer-name span {float: left; font-family: "BrandonGrotesque Medium"; font-size: 10px; font-weight: bold; letter-spacing: 1px; line-height: 11px; text-transform: uppercase; width: initial;}

.regimen-product-page-suggest.active { overflow: visible; }


.regimen-result-index .owl-nav { display: inline-block; position: absolute; width: calc(100% - 10px); padding: 0 5px; font-size: 35px; top: 45%; height: 0; }
.regimen-result-index .owl-nav button.owl-next { position: absolute; right: 5px; }
.regimen-result-index .owl-nav button.owl-prev { position: absolute; left: 5px; }


.messages .message { float: right; max-width: calc(100% - 65px); width: 100%; }

.tab-toggling-container { display: inline-block; width: 100%; }

/*header design for the login user in My routine section*/

.cms-regimen-routine .page-header { max-width: 100%; }
.cms-regimen-routine .page-header .menu-over-banner { height: 24px; padding: 18px 0; text-align: center; width: 100%; }
.cms-regimen-routine .page-header .menu-section { clear: none; max-width: 100%; padding: 0; width: 100%; }

.cms-regimen-routine .tab-toggling-container .owl-nav { display: inline-block; position: absolute; width: calc(100% - 10px); padding: 0 5px; font-size: 35px; top: 45%; height: 0; }
.cms-regimen-routine .tab-toggling-container .owl-nav button.owl-next { position: absolute; right: 5px; }
.cms-regimen-routine .tab-toggling-container .owl-nav button.owl-prev { position: absolute; left: 5px; }

}



/* Underground page CSS _Nitish */
@media (max-width: 767px) {

#recommender-container .step-ques-1-c-registration-choice .radio-box {width: 45%;}
#recommender-container .step-ques-1-c-registration-choice .radio-box span {float: left; font-family: "BrandonGrotesque Regular"; font-size: 22px; line-height: 35px;margin: 0 0 50px; text-align: center; width: 100%;}
.allies-underground-signup-form .popup-register-form {margin: 40px auto 130px; width: 100; max-width: 750px;}

.allies-underground-signup-form .popup-register-form input, .allies-underground-signup-form .popup-register-form select {background: rgba(0, 0, 0, 0) none repeat scroll 0 0; border: medium none; border-bottom-color: currentcolor; border-bottom-style: none; border-bottom-width: medium; color: #8a8a8a; font-family: "AvenirNext Regular"; font-size: 16px; height: initial; line-height: 40px; margin: 0 0 12px; padding: 0; border-bottom: 1px solid #7b7b7b; letter-spacing: 1px;}

.allies-underground-signup-form .popup-register-form input::-webkit-input-placeholder,
.allies-underground-signup-form .popup-register-form select::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color: #8a8a8a; opacity: 1; }
.allies-underground-signup-form .popup-register-form input::-moz-placeholder,
.allies-underground-signup-form .popup-register-form select::-moz-placeholder { /* Firefox 19+ */ color: #8a8a8a; opacity: 1; }
.allies-underground-signup-form .popup-register-form input:-ms-input-placeholder,
.allies-underground-signup-form .popup-register-form select:-ms-input-placeholder { /* IE 10+ */ color: #8a8a8a; opacity: 1; }
.allies-underground-signup-form .popup-register-form input:-moz-placeholder,
.allies-underground-signup-form .popup-register-form select:-moz-placeholder { /* Firefox 18- */ color: #8a8a8a; opacity: 1; }

.allies-underground-signup-form .popup-register-form .action.primary, .routine-underground-account .action.primary {background: none; border: 1px solid #000000; color: #fff; transition: all 0.5s ease; text-transform: uppercase; font-family: "BrandonGrotesque Bold"; margin: 30px 0; position: relative;}
.allies-underground-signup-form .popup-register-form .action.primary::before {bottom: 0; content: ">>"; font-family: "BrandonGrotesque Black"; font-size: 15px; height: 22px; right: -5px; bottom: 4px; line-height: 22px; position: absolute; text-align: center; width: 22px;}
.allies-underground-signup-form .register-container h2 {text-transform: uppercase; font-family: "BrandonGrotesque Black"; letter-spacing: 3px;}
.allies-underground-signup-form .fieldset .container.field {display: inline-block; width: 80%;}


.underground-login-success p, .underground-registration-success p, .routine-container-already-signed p{float: left; width: 100%;}
.underground-login-success .thankstext, .underground-registration-success .thankstext, .routine-container-already-signed .thankstext{font-size: 16px; letter-spacing: 2px; text-transform: uppercase; line-height: 14px; margin: 0 0 17px; font-family: "BrandonGrotesque Black";}
.underground-login-success .info, .underground-registration-success .info, .routine-container-already-signed .info{font-size: 28px; letter-spacing: 1px; line-height: 40px; text-align: center; font-family: "BrandonGrotesque Light"; margin: 45px 0 35px;}
.underground-login-success .viewroutine, .underground-registration-success .viewroutine, .routine-container-already-signed .viewroutine{border: 1px solid #fff; background: transparent; color: #fff; text-transform: uppercase; font-family: "BrandonGrotesque Bold"; letter-spacing: 1.5px; padding: 10px 30px; font-size: 10px; margin: 35px 0 0;}

.step-ques-1-c-registration-choice p.qustn br { display: none; }
.add-all-product-to-cart{border-bottom: 0;border-top: 0;border-right: 0;}
}
/* Underground page CSS _Nitish end */


@media (min-width:768px) {
/* Underground page CSS _Nitish */
#recommender-container .step-ques-1-c-registration-choice .radio-box {width: 45%;}
#recommender-container .step-ques-1-c-registration-choice .radio-box span {float: left; font-family: "BrandonGrotesque Regular"; font-size: 41px; line-height: 50px;     margin: 0 0 80px; text-align: center; width: 100%;}
.allies-underground-signup-form .popup-register-form {margin: 40px auto 130px; width: 100; max-width: 750px;}

.allies-underground-signup-form .popup-register-form input, .allies-underground-signup-form .popup-register-form select {background: rgba(0, 0, 0, 0) none repeat scroll 0 0; border: medium none; border-bottom-color: currentcolor; border-bottom-style: none; border-bottom-width: medium; color: #8a8a8a; font-family: "AvenirNext Regular"; font-size: 16px; height: initial; line-height: 40px; margin: 0 0 12px; padding: 0; border-bottom: 1px solid #7b7b7b; letter-spacing: 1px;}

.allies-underground-signup-form .popup-register-form input::-webkit-input-placeholder,
.allies-underground-signup-form .popup-register-form select::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color: #8a8a8a; opacity: 1; }
.allies-underground-signup-form .popup-register-form input::-moz-placeholder,
.allies-underground-signup-form .popup-register-form select::-moz-placeholder { /* Firefox 19+ */ color: #8a8a8a; opacity: 1; }
.allies-underground-signup-form .popup-register-form input:-ms-input-placeholder,
.allies-underground-signup-form .popup-register-form select:-ms-input-placeholder { /* IE 10+ */ color: #8a8a8a; opacity: 1; }
.allies-underground-signup-form .popup-register-form input:-moz-placeholder,
.allies-underground-signup-form .popup-register-form select:-moz-placeholder { /* Firefox 18- */ color: #8a8a8a; opacity: 1; }

.allies-underground-signup-form .popup-register-form .action.primary, .routine-underground-account .action.primary {background: none; border: 1px solid #000000; color: #fff; transition: all 0.5s ease; text-transform: uppercase; font-family: "BrandonGrotesque Bold"; margin: 30px 0; position: relative;}
.allies-underground-signup-form .popup-register-form .action.primary::before {bottom: 0; content: ">>"; font-family: "BrandonGrotesque Black"; font-size: 15px; height: 22px; right: -5px; bottom: 4px; line-height: 22px; position: absolute; text-align: center; width: 22px;}
.allies-underground-signup-form .register-container h2 {text-transform: uppercase; font-family: "BrandonGrotesque Black"; letter-spacing: 3px;}
.allies-underground-signup-form .fieldset .container.field {display: inline-block; width: 80%;}


.underground-login-success p, .underground-registration-success p ,.routine-container-already-signed p{float: left; width: 100%;}
.underground-login-success .thankstext, .underground-registration-success .thankstext ,.routine-container-already-signed .thankstext{font-size: 16px; letter-spacing: 2px; text-transform: uppercase; line-height: 14px; margin: 0 0 17px; font-family: "BrandonGrotesque Black";}
.underground-login-success .info, .underground-registration-success .info ,.routine-container-already-signed .info{font-size: 32px; letter-spacing: 1px; line-height: 48px; text-align: center; font-family: "BrandonGrotesque Light"; margin: 45px 0;}
.underground-login-success .viewroutine, .underground-registration-success .viewroutine ,.routine-container-already-signed .viewroutine{border: 1px solid #fff; background: transparent; color: #fff; text-transform: uppercase; font-family: "BrandonGrotesque Bold"; letter-spacing: 1.5px; padding: 12px 32px; font-size: 15px; margin: 35px 0 0;}

/* Underground page CSS _Nitish end */
}
