.admin__field-control .admin__control-addon .custom-add-after-label {
    padding-right: 5px
}
th.tnw_price_column {
    width: 10%;
}

.control-table-text .icon-checkmark:before {
    content: '\e62d';
    font-family: 'Admin Icons';
    font-size: 1.6rem;
}
