.overview-content {
    margin: -30px -15px 10px;
    .overview-table {
        border-collapse: separate;
        border-spacing: 15px;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
    }
    .bordered {
        border: 1px solid #999;
    }
    .green {
        background: #009e0f;
    }
    .light-green {
        background: #b6d7a8;
    }
    .red {
        background: #CF2A27;
    }
    .orange {
        background: #FFD966;
    }
    .title {
        padding: 10px 0 10px;
    }
    .next-payment {
        .date.day {
            padding-top: 10px;
            font-size: 9rem;
            line-height: 9rem;
        }
        .date.month {
            font-size: 3rem;
            padding: 4px 0;
            text-transform: capitalize;
        }
        .cost {
            margin-top: 30px;
            padding: 5px 0 10px;
            font-size: 4rem;
            background-color: #eee;
            border-top: 1px solid #999;
            .delivery-cost {
                font-size: 1.8rem;
            }
        }
    }
    .block-next-payment {
        margin-right: 10px;
    }
    .subscription-message {
        font-size: 3rem;
    }
    .block-subscription-message {
        padding: 20px 0;
    }
    .missed-payments {
        vertical-align: top;
        .value {
            font-size: 9rem;
            line-height: 15rem;
        }
    }
    .status {
        vertical-align: top;
        color: white;
        .value {
            font-size: 5rem;
            line-height: 15rem;
        }
    }
}
.admin__profile-dashboard-profit {
    width: 47%;
    float: left;
    margin-bottom: 2%;
    .admin__fieldset {
        padding-top: 1rem;
    }
    .fieldset-wrapper-title {
        padding-bottom: 1rem;
        strong.title {
            font-size: 2rem;
            font-weight: normal;
        }
    }
}
.admin__profile-dashboard-subscription-details {
    width: 47%;
    float: right;
    margin-bottom: 9%;
    .fieldset-wrapper-title {
        border: none;
        padding-bottom: 1rem;
        strong.title {
            font-size: 2rem;
            font-weight: normal;
        }
    }
    .admin__fieldset {
        padding-top: 0rem;
    }
    .message-warning {
        margin-bottom: 1rem;
    }
}
.profile-dashboard-subscription-details-title-wrapper {
    border-bottom: 1px solid #ffffff;
}
.page-actions {
    .page-actions-buttons {
        >button.red-text {
            color: #e22626;
        }
    }
}
.admin__profile-dashboard-profit-diagram {
    margin: 0 3% 0 3%;
}
.profit-color {
    display: inline-block;
    border: 2px solid;
    width: 9%;
    padding-top: 9%;
}
.profit-text {
    position: absolute;
    padding: 2%;
}
.profit-content {
    overflow: hidden;
}
.message-history {
    .user-message {
        font-size: 1.8rem;
    }
    .comment {
        .user-message {
            padding-left: 40px;
            padding-top: 5px;
        }
        font-size: 1.8rem;
    }
    .author-information {
        font-style: italic;
        display: inline-block;
        padding-top: 10px;
    }
    .date {
        float: right;
        padding-top: 10px;
    }
}
.message-history-block {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    &:nth-child(odd) {
        background-color: #DCDCDC;
    }
}
.float-left {
    float: left;
}
.additional-form-field-set {
    .fieldset-wrapper-title {
        .title {
            font-size: 2rem;
            font-weight: 400;
        }
    }
    .admin__fieldset-wrapper-title {
        .title {
            font-size: 2rem;
            font-weight: 400;
        }
    }
}
