<!--
/**
 * Copyright © 2018 TechNWeb, Inc. All rights reserved.
 * See TNW_LICENSE.txt for license details.
 */
-->
<div>
    <each args="data: elems, as: 'element'">
        <render if="hasTemplate()"/>
    </each>
</div>
