<?php
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $catId = 9;  //Parent Category ID
    $subCategory = $objectManager->create('Magento\Catalog\Model\Category')->load($catId);
    $subCats = $subCategory->getChildrenCategories();
    $_helper = $this->helper('Magento\Catalog\Helper\Output');
    $id = $block->getCurrentCategory()->getId();
    $name = $block->getCurrentCategory()->getName();
    

?>
<div class="block filter" id="layered-filter-block" data-collapsible="true">
   <div class="block-title filter-title" data-count="0" role="tablist">
      <strong data-role="title" role="tab" aria-selected="false" aria-expanded="false" tabindex="0">Shop By</strong>
   </div>
   <div class="block-content filter-content">
      <div class="custom-filter">
         <div class="filter-options-item-container">          
            <div class="filter-options-content-section">
               <ol class="items custom-filter-list-container">
                  <li class="item custom-filter-list <?php if(strtolower($name) == 'shop') { ?> active <?php } ?>" >
                     <a href="/shop.html">
                     <span class="filter-text">All Product</span>
                     </a>
                  </li>
                  <?php foreach($subCats as $subcat): ?>
                    <?php                     
                     $subcaturl = $subcat->getUrl();
                    ?>
                      <li class="item custom-filter-list <?php if($id == $subcat->getId()) { ?> active <?php } ?>"  >
                         <a href="<?php echo $subcaturl ?>"  ><span class="filter-text"><?php echo $subcat->getName(); ?></span></a>          
                      </li>
                  <?php endforeach; ?>                  
               </ol>
            </div>
         </div>
      </div>
   </div>
</div>
