<!--@subject Your Personalised Skincare Routine @-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  </head>
  <body style="padding: 0 10px; width:100%; max-width: 100%;">
    <table class="maintable" align="center" width="600" cellpadding="0" cellspacing="0" style="max-width:600px; width: 600px; margin: auto; color: #080808;">
      <tr>
        <td>
          <!-- Body table starts -->
          <table class="bodytable" align="center" width="570" cellpadding="0" cellspacing="0" style="max-width: 570px; width: 570px; margin: auto; color: #080808;">
            <tr>
              <td>
                <!-- Content table starts -->
                <table class="contenttable" width="100%" align="center" cellpadding="0" cellspacing="0" style="max-width:100%; width: 100%; margin: auto; color: #080808;">
                  <!-- logo row start -->
                  <tr>
                    <td>
                      <table class="logo" align="center" width="100%" cellpadding="0" cellspacing="0" style="text-align: center; width: 100%; max-width: 100%; table-layout: fixed; color: #080808;">
                        <tr>
                          <td style="height: 45px;">&nbsp;</td>
                        </tr>
                        <tr>
                          <td>
                            <img src="https://alliesofskin.com/pub/media/wysiwyg/email-template/logo.png" alt="Logo" class="logo-img" />
                          </td>
                        </tr>
                        <tr>
                          <td style="height: 55px;">&nbsp;</td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <!-- logo row end -->

                  <!-- Name/Date info rows start -->
                  <tr>
                    <td>
                      <table class="namedate" align="center" width="100%" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 100%; color: #080808;">
                        <tr>
                          <td>
                            <table width="100%" cellpadding="0" cellspacing="0" style="max-width: 100%; width: 100%; letter-spacing: 2px; color: #080808;">
                              <tr>
                                <td width="50%" style="width:50%; vertical-align: middle; height: 42px; border: 2px solid #000; border-left: none; font-family: Arial; font-size: 14px; text-transform: uppercase; color: #080808;">
                                  <span class="textName" style="font-family: Arial; font-size: 14px; font-weight: bold; color: #080808;">Name:</span>
                                  <span class="textName" style="font-family: Arial; font-size: 14px; font-weight: bold; color: #080808; margin-left: 8px;">{{var name}}</span>
                                </td>
                                <td width="50%" style="width:50%; vertical-align: middle; height: 42px; border: 2px solid #000; border-left: none; border-right: none; font-family: Arial; font-size: 14px; text-transform: uppercase; color: #080808;">
                                  <span class="textName" style="font-family: Arial; font-size: 14px; font-weight: bold; color: #080808;">&nbsp;&nbsp; Date:</span>
                                  <span class="textName" style="font-family: Arial; font-size: 14px; font-weight: bold; color: #080808;">&nbsp;&nbsp; {{var date}}</span>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <table width="100%" cellpadding="0" cellspacing="0" style="max-width: 100%; width: 100%; letter-spacing: 2px; color: #080808;">
                              <tr>
                                <td style="vertical-align: middle; height: 42px; color: #080808; text-align: center; border-bottom: 2px solid #000; font-family: Arial; font-size: 17px;">
                                  <p style="font-family: Arial; font-size: 17px; text-align: center; color: #080808; margin: 0;">Your personalised skincare routine is waiting!</p>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <!-- Name/Date info row end -->

                  <!-- Steps info start -->
                  <tr>
                    <td>
                      <table width="100%" cellpadding="0" cellspacing="0" style="max-width: 100%; width: 100%; letter-spacing: 1px; color: #080808; table-layout: fixed;">
                        <tr>
                          <td width="25%" style="width:25%; vertical-align: middle; color: #080808; height: 60px; text-align: center; border-bottom: 5px solid #000; font-family: Arial;">
                            <p style="font-size: 11px; margin: 0; color: #080808; font-weight: bold; font-family: Arial;">STEP 01:</p>
                            <h3 style="color: #080808; font-size: 14px; font-weight: bold; margin: 0;">Cleanser</h3>
                          </td>
                          <td width="25%" style="width:25%; vertical-align: middle; color: #080808; height: 60px; text-align: center; border-left: 2px solid #000; border-bottom: 5px solid #000; font-family: Arial;">
                            <p style="font-size: 11px; margin: 0; color: #080808; font-weight: bold; font-family: Arial;">STEP 02:</p>
                            <h3 style="color: #080808; font-size: 14px; font-weight: bold; margin: 0;">Mist</h3>
                          </td>
                          <td width="25%" style="width:25%; vertical-align: middle; color: #080808; height: 60px; text-align: center; border-left: 2px solid #000; border-bottom: 5px solid #000; font-family: Arial;">
                            <p style="font-size: 11px; margin: 0; color: #080808; font-weight: bold; font-family: Arial;">STEP 03:</p>
                            <h3 style="color: #080808; font-size: 14px; font-weight: bold; margin: 0;">Serum</h3>
                          </td>
                          <td width="25%" style="width:25%; vertical-align: middle; color: #080808; height: 60px; text-align: center; border-left: 2px solid #000; border-bottom: 5px solid #000; font-family: Arial;">
                            <p style="font-size: 11px; margin: 0; color: #080808; font-weight: bold; font-family: Arial;">STEP 04:</p>
                            <h3 style="color: #080808; font-size: 14px; font-weight: bold; margin: 0;">Treatment Moisturiser</h3>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <!-- Steps info end -->

                  <!-- middle content start -->
                  <tr>
                    <td>
                      <table width="90%" align="center" cellpadding="0" cellspacing="0" style="letter-spacing: 1px; max-width:90%; width: 90%; margin: auto; color: #080808;">
                        <tr>
                          <td style="height:40px;">&nbsp;</td>
                        </tr>
                        <tr>
                          <td style="font-family: Arial; font-size: 19px;">
                            <p style="font-family: Arial; font-size: 19px; margin: 0; text-transform: uppercase;">Skin Concerns: <span style="font-weight: bold; text-transform: uppercase;">{{var skin_concern_one}}, {{var skin_concern_two}} and {{var skin_concern_three}}</span></p>
                          </td>
                        </tr>
                        <tr>
                          <td style="height:40px;">&nbsp;</td>
                        </tr>
                        <tr>
                          <td style="font-family: Arial; font-size: 16px;">
                            <table width="100%" style="max-width: 100%; width: 100%; color: #080808;">
                              <tr>
                                <td style="font-family: Arial; font-weight: bold; font-size: 16px;">
                                  <h3 style="color: #080808; font-family: Arial; font-weight: bold; font-size: 16px; margin: 0;">What&rsquo;s in Your Morning Routine:</h3>
                                  <p style="margin: 0; height: 8px;">&nbsp;</p>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <table width="100%" style="max-width: 100%; width: 100%;">
                                    <tr style="vertical-align: top;">
                                      <td><span style="color: #080808; font-family: Arial; font-size: 16px; text-decoration: underline; font-weight: bold; margin-right:2px;">01</span></td>
                                      <td>
                                        <p style="color: #080808; margin: 0; font-family: Arial; font-size: 16px;">{{var dayproductname1}}</p>
                                        <p style="margin: 0; height: 8px;">&nbsp;</p>
                                      </td>
                                    </tr>
                                    <tr style="vertical-align: top;">
                                      <td><span style="color: #080808; font-family: Arial; font-size: 16px; text-decoration: underline; font-weight: bold; margin-right:2px;">02</span></td>
                                      <td>
                                        <p style="color: #080808; margin: 0; font-family: Arial; font-size: 16px;">{{var dayproductname2}}</p>
                                        <p style="margin: 0; height: 8px;">&nbsp;</p>
                                      </td>
                                    </tr>
                                    <tr style="vertical-align: top;">
                                      <td><span style="color: #080808; font-family: Arial; font-size: 16px; text-decoration: underline; font-weight: bold; margin-right:2px;">03</span></td>
                                      <td>
                                        <p style="color: #080808; margin: 0; font-family: Arial; font-size: 16px;">{{var dayproductname3}}</p>
                                        <p style="margin: 0; height: 8px;">&nbsp;</p>
                                      </td>
                                    </tr>
                                    <tr style="vertical-align: top;">
                                      <td><span style="font-family: Arial; font-size: 16px; text-decoration: underline; font-weight: bold; margin-right:2px;">04</span></td>
                                      <td>
                                        <p style="margin: 0; font-family: Arial; font-size: 16px;">{{var dayproductname4}}</p>
                                        <p style="margin: 0; height: 8px;">&nbsp;</p>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                            <table class="spacer">
                              <tr>
                                <td style="width: 30">&nbsp;</td>
                              </tr>
                            </table>
                            <table width="100%" style="max-width: 100%; width: 100%; color: #080808;">
                              <tr>
                                <td style="font-family: Arial; font-weight: bold; font-size: 16px;">
                                  <h3 style="color: #080808; font-family: Arial; font-weight: bold; font-size: 16px; margin: 0;">What&rsquo;s in Your Night Routine:</h3>
                                  <p style="margin: 0; height: 8px;">&nbsp;</p>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <table width="100%" style="max-width: 100%; width: 100%;">
                                    <tr style="vertical-align: top;">
                                      <td><span style="color: #080808; font-family: Arial; font-size: 16px; text-decoration: underline; font-weight: bold; margin-right:2px;">01</span></td>
                                      <td>
                                        <p style="color: #080808; margin: 0; font-family: Arial; font-size: 16px;">{{var nightproductname1}}</p>
                                        <p style="margin: 0; height: 8px;">&nbsp;</p>
                                      </td>
                                    </tr>
                                    <tr style="vertical-align: top;">
                                      <td><span style="color: #080808; font-family: Arial; font-size: 16px; text-decoration: underline; font-weight: bold; margin-right:2px;">02</span></td>
                                      <td>
                                        <p style="color: #080808; margin: 0; font-family: Arial; font-size: 16px;">{{var nightproductname2}}</p>
                                        <p style="margin: 0; height: 8px;">&nbsp;</p>
                                      </td>
                                    </tr>
                                    <tr style="vertical-align: top;">
                                      <td><span style="color: #080808; font-family: Arial; font-size: 16px; text-decoration: underline; font-weight: bold; margin-right:2px;">03</span></td>
                                      <td>
                                        <p style="color: #080808; margin: 0; font-family: Arial; font-size: 16px;">{{var nightproductname3}}</p>
                                        <p style="margin: 0; height: 8px;">&nbsp;</p>
                                      </td>
                                    </tr>
                                    <tr style="vertical-align: top;">
                                      <td><span style="font-family: Arial; font-size: 16px; text-decoration: underline; font-weight: bold; margin-right:2px;">04</span></td>
                                      <td>
                                        <p style="margin: 0; font-family: Arial; font-size: 16px;">{{var nightproductname4}}</p>
                                        <p style="margin: 0; height: 8px;">&nbsp;</p>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                            <table class="spacer">
                              <tr>
                                <td style="width: 30">&nbsp;</td>
                              </tr>
                            </table>
                            <table width="100%" style="max-width: 100%; width: 100%; color: #080808;">
                              <tr>
                                <td style="font-family: Arial; font-weight: bold; font-size: 16px;">
                                  <h3 style="color: #080808; font-family: Arial; font-weight: bold; font-size: 16px; margin: 0;">Weekly Routine - 3 Nights in a Row:</h3>
                                  <p style="margin: 0; height: 8px;">&nbsp;</p>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <table width="100%" style="max-width: 100%; width: 100%;">
                                    <tr style="vertical-align: top;">
                                      <td><span style="color: #080808; font-family: Arial; font-size: 16px; text-decoration: underline; font-weight: bold; margin-right:2px;">04</span></td>
                                      <td>
                                        <p style="color: #080808; margin: 0; font-family: Arial; font-size: 16px;">{{var weeklyproductname1}}</p>
                                        <p style="margin: 0; height: 8px;">&nbsp;</p>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <!-- middle content end -->

                  <!-- View more button -->
                  <tr>
                    <td>
                      <table align="center" width="100%" style="vertical-align: middle; width: 100%; max-width: 100%; margin: auto;">
                        <tr>
                          <td align="center" style="height: 25px;">&nbsp;</td>
                        </tr>
                        <tr>
                          <td align="center" style="vertical-align: middle; text-transform: uppercase; font-size: 14px; font-family: Arial; font-weight: bold;">
                            <a href="https://alliesofskin.com/regimen-routine" class="viewmore" style="vertical-align: middle; display: inline-block; text-transform: uppercase; font-size: 14px; font-family: Arial; font-weight: bold; text-decoration: none; background: #000000; color: #ffffff; line-height: 40px; width: 160px; letter-spacing: 2px;">VIEW ROUTINE</a>
                          </td>
                        </tr>
                        <tr>
                          <td align="center" style="height: 25px;">&nbsp;</td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <!-- View more end -->

                  <!-- Navigation start -->
                  <tr>
                    <td>
                      <table width="100%" cellpadding="0" cellspacing="0" align="center" style="border-top: 2px solid #000000; width: 100%; max-width: 100%; table-layout: fixed;">
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td width="25%" style=" width: 25%; font-size: 18px; font-family: Arial; font-weight: bold;">
                            <a href="https://alliesofskin.com/products" style="text-transform: uppercase; font-size: 18px; font-weight: bold; text-decoration : none; color: #080808;">SHOP NOW</a>
                          </td>
                          <td width="25%" align="center" style=" width: 25%; font-size: 18px; font-family: Arial; font-weight: bold;">
                            <a href="https://alliesofskin.com/about-us" style="text-transform: uppercase; font-size: 18px; font-weight: bold; text-decoration : none; color: #080808;">&nbsp;&nbsp;&nbsp;ABOUT US</a>
                          </td>
                          <td width="25%" align="center" style=" width: 25%; font-size: 18px; font-family: Arial; font-weight: bold;">
                            <a href="https://alliesofskin.com/press" style="text-transform: uppercase; font-size: 18px; font-weight: bold; text-decoration : none; color: #080808;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PRESS</a>
                          </td>
                          <td width="25%" align="right" style=" width: 25%; font-size: 18px; font-family: Arial; font-weight: bold;">
                            <a href="https://alliesofskin.com/retailers" style="text-transform: uppercase; font-size: 18px; font-weight: bold; text-decoration : none; color: #080808;">RETAILERS</a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <!-- Navigation end -->

                  <!-- Social links start -->
                  <tr>
                    <td>
                      <table width="100%" align="center" cellpadding="0" cellspacing="0" style="max-width:100%; width:100%; table-layout: fixed;">
                        <tr>
                          <td style="height: 30px;">&nbsp;</td>
                        </tr>
                        <tr>
                          <td align="right">
                            <a href="https://www.instagram.com/alliesofskin/" class="social" style="display: inline-block; margin-right:7px"><img src="https://alliesofskin.com/pub/media/wysiwyg/email-template/insta.png" alt="Instagram" class="insta-img" /></a>
                          </td>
                          <td align="left">
                            <a href="https://alliesofskin.com" class="social" style="display: inline-block; margin-left:7px"><img src="https://alliesofskin.com/pub/media/wysiwyg/email-template/allies.png" alt="Allies" class="allies-img" /></a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <!-- Social link end -->


                  <tr>
                    <td>
                      <table width="100%" align="center" cellpadding="0" cellspacing="0" style="max-width:100%; width:100%; font-family: Arial;">
                        <tr>
                          <td style="height: 18px;">&nbsp;</td>
                        </tr>
                        <tr>
                          <td align="center" style="text-align: center; font-family: Arial; color: #3b3b3b;">
                            <p style="margin: 0; font-family: Arial; color: #3b3b3b; font-size: 14px;">To ensure the safe receipt of our communications,<br/>please add <a href="mailto:ask@mail.alliesofskin.com" style="font-weight: bold; color: #3b3b3b; text-decoration: none;">ask@mail.alliesofskin.com</a> to your address book.</p>
                            <p style="margin: 0; font-family: Arial; color: #3b3b3b; font-size: 14px;">&nbsp;</p>
                            <p style="margin: 0; font-family: Arial; color: #3b3b3b; font-size: 14px;">Should you have any questions, you are welcome to <a href="mailto:ask@alliesofskin.com" style="color: #3b3b3b;">contact us</a>.</p>
                          </td>
                        </tr>
                        <tr>
                          <td style="height: 20px;">&nbsp;</td>
                        </tr>
                      </table>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <table width="100%" cellpadding="0" cellspacing="0" align="center" style="max-width: 100%; width: 100%;">
                        <tr>
                          <td align="center" style="font-family: Arial; vertical-align: middle;">
                            <p style="vertical-align: middle; background: #000000; color: #ffffff; margin: 0; letter-spacing: 2px; line-height: 32px; text-transform: uppercase; font-size: 11px; font-family: Arial;">&copy; 2019 ALLIES GROUP PTE LTD. ALL RIGHTS RESERVED.</p>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>

                </table>
              </td>
            </tr>
          </table>
          <!-- Body table ends -->
        </td>
      </tr>
    </table>
  </body>
</html>
