<!--@subject {{var request.getIncrementId()}}: Comment has been placed  @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var request.getId()":"RMA ID",
"var request.getIncrementId()":"Order ID",
"var request.getStatusLabel()":"Status",
"var comment.getCommentText()":"Comment",
"var comment.getCommentUrl()":"Comment URL",
"var comment.getFileName()":"File",
"layout handle=\"amasty_rma_email_files\" comment=$comment":"Return Items Grid"
}
@-->

{{template config_path="design/email/header_template"}}

<div>
    Administrator,<br/>
    New comment placed to RMA #{{var request.getId(}} Order #{{var request.getIncrementId()}}<br/>
    ----------------------------------------------------------------------<br/>
    {{var comment.getCommentText()}}<br/>
    ----------------------------------------------------------------------<br/>
    {{layout handle="amasty_rma_email_files" comment=$comment}}
</div>

{{template config_path="design/email/footer_template"}}
