<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_PromoBanners
 */
?>
<?php /** @var $block \Amasty\PromoBanners\Block\Banner\ProductListing */ ?>

<?php
$products = $this->getData('products');
$catalogHelper = $this->helper('Magento\Catalog\Helper\Output');
$listingBlock = $block->getProductListingBlock();
?>
<?php if($products): ?>
<div class="block">
    <div class="products wrapper grid products-grid amasty-banners">
        <ol class="products list items product-items amasty-banner-items">
            <?php /** @var \Magento\Catalog\Model\Product $product */
            foreach ($products as $product):?>
                <li class="item product product-item">
                    <div class="product-item-info">
                        <a href="<?= $product->getProductUrl() ?>" title="<?= $product->getName() ?>" class="product-image"></a>
                        <?php $productImage = $listingBlock->getImage($product, 'category_page_grid'); ?>
                        <a href="<?= $product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
                            <?= $productImage->toHtml(); ?>
                        </a>
                        <div class="product details product-item-details">
                            <strong class="product name product-item-name">
                                <a class="product-item-link"
                                   href="<?= $product->getProductUrl() ?>">
                                    <?= $catalogHelper->productAttribute($product, $product->getName(), 'name'); ?>
                                </a>
                            </strong>
                            <div class="price-box">
                                <?= $listingBlock->getProductPrice($product) ?>
                            </div>

                            <div class="product-item-inner">
                                <div class="product actions product-item-actions">
                                    <div class="actions-primary">
                                        <?php if ($product->isSaleable()): ?>
                                            <?php $postParams = $listingBlock->getAddToCartPostParams($product); ?>
                                            <form data-role="tocart-form" action="<?= $postParams['action']; ?>" method="post">
                                                <input type="hidden" name="product" value="<?= $postParams['data']['product']; ?>">
                                                <input type="hidden" name="uenc" value="<?= $postParams['data']['uenc']; ?>">
                                                <input name="form_key" type="hidden" value="<?= $block->getFormKey() ?>">
                                                <button type="submit"
                                                        title="<?= $listingBlock->escapeHtml(__('Add to Cart')); ?>"
                                                        class="action tocart primary">
                                                    <span><?= __('Add to Cart') ?></span>
                                                </button>
                                            </form>
                                        <?php else: ?>
                                            <?php if ($product->getIsSalable()): ?>
                                                <div class="stock available"><span><?= __('In stock') ?></span></div>
                                            <?php else: ?>
                                                <div class="stock unavailable"><span><?= __('Out of stock') ?></span></div>
                                            <?php endif; ?>
                                        <?php endif; ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            <?php endforeach; ?>
        </ol>
    </div>
</div>
<?php endif; ?>
<!-- <?php if (!$listingBlock->isRedirectToCartEnabled()) : ?>
<script type="text/x-magento-init">
    {
        "[data-role=tocart-form], .form.map.checkout": {
            "catalogAddToCart": {}
        }
    }
</script>
<?php endif; ?> -->
