//
//  Multiple coupons
//  ----------------------------------------------

.cart-totals tr[class=totals] .title:after,
.totals.discount .title:after,
.cart-totals tr[class=totals] .title.negative:after,
.totals.discount .title.negative:after {
  -webkit-font-smoothing: antialiased;
  color: #858585;
  display: inline-block;
  font-family: 'luma-icons';
  font-size: 12px;
  font-weight: normal;
  line-height: 12px;
  margin-left: 10px;
  overflow: hidden;
  speak: none;
  text-align: center;
  vertical-align: middle;
}

.totals.discount {
  cursor: pointer;
  .title {
    & {
      word-break: break-word;
      word-wrap: break-word;
    }
    &:after {
      content: '\e622';
    }
  }
  .title.negative {
    &:after {
      content: '\e621';
    }
  }
  .discount.coupon {
    display: none;
  }
  .mark {
    max-width: 290px;
  }
}

.cart-totals {
  .title {
    word-break: break-word;
    word-wrap: break-word;
  }

  .mark {
    max-width: 209px;
  }
}

.table-wrapper {
  tr[class=totals] {
    .title {
      &:after {
        content: '\e622';
      }
    }
  }
}

.table-wrapper {
  tr[class=totals] {
    .title.negative {
      &:after {
        content: '\e621';
      }
    }
  }
}

.table-wrapper {
  tr[class=totals] {
    cursor: pointer;
  }
}

.total_coupons {
  display: none;
}

.cart-totals {
  .discount.coupon {
    display: none;
  }
}

.cart-totals tr[class=totals] .title {
  word-break: break-all;
}
