<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Wishlist\Block\Customer\Wishlist $block */
?>

<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()) : ?>
	<?= ($block->getChildHtml('wishlist.rss.link')) ?>
		
	<form class="form-wishlist-items sds" id="wishlist-view-form" data-mage-init='{"wishlist":{ "addToCartUrl":<?= /* @noEscape */ $block->getItemAddToCartParams("%item%") ?>, "addAllToCartUrl":<?= /* @noEscape */ $block->getAddAllToCartParams() ?>, "commentString":""}, "validation": {}}' action="<?= $block->escapeUrl($block->getUrl('wishlist/index/update', ['wishlist_id' => $block->getWishlistInstance()->getId()])) ?>" method="post"> 
	
		<?php if ($block->hasWishlistItems()): ?>
			<div class="wishlist-top-bar">
				<div class="wishlist-title"><span class="backstrip">My Wish List</span></div>
				<div class="actions-toolbar">
					<div class="primary"><?= $block->getChildHtml('control_buttons') ?></div>
					<div class="secondary"><a href="<?= $block->escapeUrl($block->getBackUrl()) ?>" class="action back"><span><?= $block->escapeHtml(__('Back')) ?></span></a></div>
				</div>
			</div>
		<?php endif ?>
		<?= $block->getChildHtml('top') ?>
			<?php if ($block->hasWishlistItems()): ?>
				<?= $block->getBlockHtml('formkey') ?>
				<?php $block->getChildBlock('items')->setItems($block->getWishlistItems()); ?>
				<?= $block->getChildHtml('items') ?>
			<?php else: ?>
				<div class="empty-wishlist">
                    <h1><span class="backstrip">Your Wish list</span><br><span class="backstrip">is empty</span></h1>
					<div class="tap-on">
						<div class="tapontext"><span class="backstrip">Tap On</span></div>
						<a class="wishlist-icon" href="<?php echo $block->getBaseUrl(); ?>shop"><span><img src='<?php echo $this->getViewFileUrl('images/wishlist-empty-icon01.svg'); ?>'></span></a>
                        <div class="tosaveyour"><span class="backstrip">To Save</span><br><span class="backstrip">Your favorites</span></div>
                        <div class="starttext"><span class="backstrip">Start</span></div>
						<a class="add-to-wishlist" href="<?php echo $block->getBaseUrl(); ?>shop"><span><img src='<?php echo $this->getViewFileUrl('images/wishlist-icon-02.svg'); ?>'></span></a>
					</div>
				</div>
			<?php endif ?>
		<?= $block->getChildHtml('bottom') ?>
		
	</form>
   
	<script id="form-tmpl" type="text/x-magento-template">
		<form id="wishlist-hidden-form" method="post" action="<%- data.url %>" class="no-display">
			<% if (data.qty) { %>
				<input name="qty" value="<%- data.qty %>">
			<% } %>
	  
			<% if (data.item) { %>
				<input name="item" value="<%- data.item %>">
			<% } %>
	  
			<% if (data.entity) { %>
				<input name="entity" value="<%- data.entity %>">
			<% } %>
		</form>
	</script>
		
<?php endif ?>
