<div data-role="amasty-gdpr-consent" class="choice" data-bind="visible: isVisible">
    <input class="checkbox" type="checkbox"
           id="amgdpr_agree"
           name="amgdpr_agree"
           value="1"
           data-bind="attr: {title: $t('Accept privacy policy')}"
           data-validate="{required:true}" />
    <label for="amgdpr_agree">
        <span class="action" data-bind="html: checkboxText, afterRender: initModal"></span>
    </label>
</div>
