<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="block-title">
    <strong>
        <span class="text" translate="'My Cart'"/>
        <span class="qty empty" text="getCartParam('summary_count')" data-bind="css: { empty: !!getCartParam('summary_count') == false }, attr: { title: $t('Items in Cart') }"></span>
    </strong>
</div>

<div class="block-content">
    
	<button type="button" id="btn-minicart-close" class="action close" data-action="close" data-bind="attr: { title: $t('Close') }"><span translate="'Close'"/></button>

    <if args="getCartParam('summary_count')">
        <strong class="subtitle" translate="'Recently added item(s)'"/>
        <div data-action="scroll" class="minicart-items-wrapper">
            <ol id="mini-cart" class="minicart-items" data-bind="foreach: { data: getCartItems(), as: 'item' }">
                <each args="$parent.getRegion($parent.getItemRenderer(item.product_type))"
                      render="{name: getTemplate(), data: item, afterRender: function() {$parents[1].initSidebar()}}"
                />
            </ol>
        </div>
    </if>

    <ifnot args="getCartParam('summary_count')">
        <strong class="subtitle empty" data-bind="visible: closeSidebar()" translate="'You have no items in your shopping cart.'"/>
        <if args="getCartParam('cart_empty_message')">
            <p class="minicart empty text" text="getCartParam('cart_empty_message')"/>            
        </if>
    </ifnot>

	
	<if args="getCartParam('summary_count')">		
		<div class="cart-right-container">
			
			<div class="cart-right-col">
				<div class="items-total">
					<span class="count" if="maxItemsToDisplay < getCartLineItemsCount()" text="maxItemsToDisplay"/>
					<translate args="'of'" if="maxItemsToDisplay < getCartLineItemsCount()"/>
					<span class="count" text="getCartLineItemsCount()"/>
					<translate args="'Total Items in Cart'" if="getCartLineItemsCount() === 1"/>
					<translate args="'Total Items in Cart'" if="getCartLineItemsCount() > 1"/>
				</div>
			</div>
			
			<div class="cart-right-col">
				<each args="getRegion('subtotalContainer')" render=""/>
				<each args="getRegion('extraInfo')" render=""/>
			</div>
			
			<div class="cart-right-col">
				<div class="actions" if="getCartParam('possible_onepage_checkout')">
					<div class="primary">
						<button id="top-cart-btn-checkout" type="button" class="action primary checkout" data-action="close" data-bind=" attr: { title: $t('Proceed to Checkout') }, click: closeMinicart() " translate="'Checkout'" />
						<div data-bind="html: getCartParam('extra_actions')"></div>
					</div>
					<div class="secondary"><a class="action viewcart" data-bind="attr: {href: shoppingCartUrl}"><span translate="'View and Edit Cart'"/></a></div>
				</div>
			</div>
			
		</div>	
	</if>
		
	
	
    <div id="minicart-widgets" class="minicart-widgets"> <each args="getRegion('promotion')" render=""/> </div>
	
</div>

<each args="getRegion('sign-in-popup')" render=""/>
