<?php
	$_product = $block->getProduct();
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$contentParser = $objectManager->get('Magento\Cms\Model\Template\FilterProvider');
	    
?>

<div class="product-upper-container">
	<div class="pro-info-block pro-desc-block">		
		<h1 class="product-name pro-bg-title"><span class="backstrip"><?php echo $_product->getName(); ?></span></h1>	
		<?php if($_product->getResource()->getAttribute('product_below_name_description')->getFrontend()->getValue($_product)): ?>
			<h2 class="product-name-below-desc">
				<?php echo $_product->getResource()->getAttribute('product_below_name_description')->getFrontend()->getValue($_product);?>
			</h2>
		<?php endif;?>	
		<div class="product-info-content product-short-description-conatiner">
			<div class="product-short-description"><?= $_product->getShortDescription(); ?></div>
		</div>
	</div>
	
	
	<?php if($_product->getResource()->getAttribute('lowdown')->getFrontend()->getValue($_product)): ?>
		<div class="pro-info-block pro-lowdown-block">
			<h2 class="pro-bg-title"><span class="backstrip"><?php echo $_product->getResource()->getAttribute('lowdown')->getStoreLabel(); ?></span><span class="content-tab-toggler"></span></h2>
			
			<div class="product-info-content product-lowdown-content">
				<?php
					$lowdownContent = $_product->getResource()->getAttribute('lowdown')->getFrontend()->getValue($_product);
					echo $contentParser->getPageFilter()->filter($lowdownContent);
				?>
			</div>
		</div>
	<?php endif;?>
	
	
	<?php if($_product->getResource()->getAttribute('key_ingredients')->getFrontend()->getValue($_product)): ?>
		<div class="pro-info-block pro-key-ingredients-block">
			<h2 class="pro-bg-title"><span class="backstrip"><?php echo $_product->getResource()->getAttribute('key_ingredients')->getStoreLabel(); ?></span><span class="content-tab-toggler"></span></h2>
			
			<div class="product-info-content product-keyingredient-content">
				<?php
					$keyIngredeient = $_product->getResource()->getAttribute('key_ingredients')->getFrontend()->getValue($_product);
					echo $contentParser->getPageFilter()->filter($keyIngredeient);
				?>
			</div>
		</div>
	<?php endif;?>
	
	
	<?php if($_product->getResource()->getAttribute('purpose')->getFrontend()->getValue($_product)): ?>
		<div class="pro-info-block pro-purpose-block">
			<h2 class="pro-bg-title"><span class="backstrip"><?php echo $_product->getResource()->getAttribute('purpose')->getStoreLabel(); ?></span><span class="content-tab-toggler"></span></h2>
			
			<div class="product-info-content product-how-to-use-content">
				<?php
					$purpose = $_product->getResource()->getAttribute('purpose')->getFrontend()->getValue($_product);
					echo $contentParser->getPageFilter()->filter($purpose);
				?>
			</div>
		</div>
	<?php endif;?>
	
	
	<?php if($_product->getResource()->getAttribute('how_to_use')->getFrontend()->getValue($_product)): ?>
		<div class="pro-info-block pro-how-to-use-block">
			<h2 class="pro-bg-title"><span class="backstrip"><?php echo $_product->getResource()->getAttribute('how_to_use')->getStoreLabel(); ?></span><span class="content-tab-toggler"></span></h2>
			
			<div class="product-info-content product-how-to-use-content">
				<?php
					$howToUse = $_product->getResource()->getAttribute('how_to_use')->getFrontend()->getValue($_product);
					echo $contentParser->getPageFilter()->filter($howToUse);
				?>
			</div>
		</div>
	<?php endif;?>
	
	
	<?php if($_product->getResource()->getAttribute('ingredients')->getFrontend()->getValue($_product)): ?>
		<div class="pro-info-block pro-ingredients-block">
			<h2 class="pro-bg-title"><span class="backstrip"><?php echo $_product->getResource()->getAttribute('ingredients')->getStoreLabel(); ?></span><span class="content-tab-toggler"></span></h2>
			
			<div class="product-info-content product-ingredients-content">
				<?php 
					$ingredeient = $_product->getResource()->getAttribute('ingredients')->getFrontend()->getValue($_product);
					echo $contentParser->getPageFilter()->filter($ingredeient);
				?>
			</div>
		</div>
	<?php endif;?>
	
</div>