<?php
	$_product = $block->getProduct();
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$contentParser = $objectManager->get('Magento\Cms\Model\Template\FilterProvider');
	$productImage = $this->helper('Magento\Catalog\Helper\Image')
			    ->init($_product, 'product_attribute_image')
			    ->setImageFile($_product->getCustomAttribute('product_attribute_image')->getValue());
	$productCustomImage = $_product->getData('product_attribute_image');
	$store = $objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore();
	$productImage = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'catalog/product' . $productCustomImage;
	$productWithNoImage = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA).'wysiwyg/Psa/psa-placeholder-image.jpg';		    
?>
<?php if ($_product->getResource()->getAttribute('product_attribute_image')->getFrontend()->getValue($_product) != 'no_selection'): ?>
	<div class="product-media-container">
		<img src="<?php echo $productImage; ?>" alt="<?php echo $block->escapeHtml($_product->getTitle()) ?>" />
	</div>
	<?php else: ?>
		<div class="product-media-container ss">
		<img src="<?php echo $productWithNoImage; ?>"/>
	</div>
<?php endif;?>
