<?php 
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
	$baseUrl = $objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
	$_product = $block->getProduct();
?>

<?php if ($_product->getResource()->getAttribute('product_video')->getFrontend()->getValue($_product)): ?>
	<?php $videoUrl = $_product->getResource()->getAttribute('product_video')->getFrontend()->getValue($_product); ?>
	<div class="attribute-video">
		<video class="pro-video" controls>
			<source src="<?php echo $baseUrl?>catalog/product/video/<?php echo $videoUrl; ?>" type="video/mp4">
		</video>
		<div class="playpause"><img src="<?php echo $baseUrl?>wysiwyg/Psa/psa-video-btn.jpg" class="video-play-btn" /></div>
	</div>
<?php endif; ?>
<script type="text/javascript">
	 require(['jquery'], function ($) {
		$('.playpause').click(function(){
			$(this).hide();
			$('video').trigger('play');
		});
		$('.pro-video').click(function(){
			$('.playpause').toggle();
			$('.playpause').show();
		});
	});
</script>	
