<?php
/**
 * Copyright © 2018 TechNWeb, Inc. All rights reserved.
 * See TNW_LICENSE.txt for license details.
 */
/** @var TNW\Subscriptions\Block\Sales\Order\Additional\InitialFee $block */
?>
<?php if($initialFee = $block->getInitialFee()) : ?>
    <div class="sub-profile-option">
        <b><?= /* @escapeNotVerified */ __('Initial fee(s) included')?></b><br>
        <span><?= /* @escapeNotVerified */ $block->getOrder()->formatPrice($initialFee) ?></span>
    </div>
<?php endif; ?>
