<!--@subject {{trans "Update your card on file for the recurring orders and %sub_label profile on" sub_label=$subscription.getLabel()}} {{config path="general/store_information/name"}} @-->
<!--@vars {
"template config_path=\"design\/email\/header_template\"":"Email Header Template",
"template config_path=\"design\/email\/footer_template\"":"Email Footer Template",
"var store_email":"Store Email",
"var date":"Upcoming Subscription Renewal Date",
"var customer":"Customer",
"var subscription":"Subscription Profile",
"layout handle=\"subscriptions_email_profile_items\" subscriptionProfile=$subscription":"Subscription Items Grid"
} @-->
{{template config_path="design/email/header_template"}}
<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans 'Dear %firstname %lastname,' firstname=$customer.getFirstName() lastname=$customer.getLastName()}}</p>
            <p>
                {{trans 'The <strong>credit card</strong> associated with your subscription profile'|raw}} <a href="{{store url='tnw_subscriptions/subscription/edit' entity_id=$subscription.getId()}}">{{var subscription.getLabel()}}</a> {{trans 'will <strong>expire</strong> soon.'|raw}}
            </p>
            <p>
                {{trans '<a href="%account_url">Log in to your account</a> and update the payment method to prevent any interruptions in service.' account_url=$this.getUrl($store,'customer/account/',[_nosid:1]) |raw}}
            </p>
            <p>
                {{trans 'If you have questions about your subscription profile, you can email us at <a href="mailto:%store_email">%store_email</a>' store_email=$store_email |raw}}
            </p>
        </td>
    </tr>
</table>
<p>
    {{trans 'The next payment will occur on %date.' date=$date}}
</p>
{{layout handle="subscriptions_email_profile_items" subscriptionProfile=$subscription area="frontend"}}
<p>
    {{trans 'To make changes to your recurring order <a href="%account_url">log into your account</a>' account_url=$this.getUrl($store,'customer/account/',[_nosid:1]) |raw}}
</p>
{{template config_path="design/email/footer_template"}}
