<!--@subject {{trans "Could not process recurring order for %sub_label profile from" sub_label=$subscription.getLabel()}} {{config path="general/store_information/name"}} @-->
<!--@vars {
"template config_path=\"design\/email\/header_template\"":"Email Header Template",
"template config_path=\"design\/email\/footer_template\"":"Email Footer Template",
"var store_email":"Store Email",
"var customer":"Customer",
"var attempt_interval":"Next payment attempt interval",
"var subscription":"Subscription Profile",
"layout handle=\"subscriptions_email_profile_items\" subscriptionProfile=$subscription":"Subscription Items Grid"
} @-->
{{template config_path="design/email/header_template"}}
<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans 'Dear %firstname %lastname,' firstname=$customer.getFirstName() lastname=$customer.getLastName()}}</p>
            <p>
                {{trans 'We were unable to process payment for the recurring order under'}} <a href="{{store url='tnw_subscriptions/subscription/edit' entity_id=$subscription.getId()}}">{{var subscription.getLabel()}}</a> {{trans 'profile. We will try again in %attempt_interval day(s). Make sure the payment method on file has sufficient funds and up to date to prevent any interruption.' attempt_interval=$attempt_interval}}
            </p>
            <p>
                {{trans 'If this issue remains unresolved your recurring orders will stop and the profile %sub_label will be suspended.' sub_label=$subscription.getLabel()}}
            </p>
            <p>
                {{trans '<a href="%account_url">Log in to your account</a> to make any changes to your recurring profile. You can find it under the My Subscriptions tab after you authenticate.' account_url=$this.getUrl($store,'customer/account/',[_nosid:1]) |raw}}
           </p>
        </td>
    </tr>
</table>
{{layout handle="subscriptions_email_profile_items" subscriptionProfile=$subscription area="frontend"}}
{{template config_path="design/email/footer_template"}}
