// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Blank theme overrides
//  _____________________________________________

//  Theme file should contain declarations (overrides) ONLY OF EXISTING variables
//  Otherwise this theme won't be available for parent nesting
//  All new variables should be placed in local theme lib or local theme files


//
//  General css for all the pages
//  ---------------------------------------------

@font-face {
     font-family: 'Courier Sans Bold';
     src: url('../fonts/couriersans-bold/couriersans-bold.eot');
     src: url('../fonts/couriersans-bold/couriersans-bold.eot?#iefix') format('embedded-opentype'),
	 url('../fonts/couriersans-bold/couriersans-bold.woff2') format('woff2'),
	 url('../fonts/couriersans-bold/couriersans-bold.woff') format('woff'),
	 url('../fonts/couriersans-bold/couriersans-bold.ttf') format('truetype'),
	 url('../fonts/couriersans-bold/couriersans-bold.svg#Courier Sans Bold') format('svg');
     font-weight: 400;
     font-style: normal
}

@font-face {
     font-family: 'Courier Sans Light';
     src: url('../fonts/couriersans-light/couriersans-light.eot');
     src: url('../fonts/couriersans-light/couriersans-light.eot?#iefix') format('embedded-opentype'),
	 url('../fonts/couriersans-light/couriersans-light.woff2') format('woff2'),
	 url('../fonts/couriersans-light/couriersans-light.woff') format('woff'),
	 url('../fonts/couriersans-light/couriersans-light.ttf') format('truetype'),
	 url('../fonts/couriersans-light/couriersans-light.svg#Courier Sans Light') format('svg');
     font-weight: 400;
     font-style: normal
}

@font-face {
     font-family: 'Courier Sans Regular';
     src: url('../fonts/couriersans-regular/couriersans-regular.eot');
     src: url('../fonts/couriersans-regular/couriersans-regular.eot?#iefix') format('embedded-opentype'),
	 url('../fonts/couriersans-regular/couriersans-regular.woff2') format('woff2'),
	 url('../fonts/couriersans-regular/couriersans-regular.woff') format('woff'),
	 url('../fonts/couriersans-regular/couriersans-regular.ttf') format('truetype'),
	 url('../fonts/couriersans-regular/couriersans-regular.svg#Courier Sans Regular') format('svg');
     font-weight: 400;
     font-style: normal
}

@font-face {
     font-family: 'SofiaPro Black';
     src: url('../fonts/SofiaPro-Black/SofiaPro-Black.eot');
     src: url('../fonts/SofiaPro-Black/SofiaPro-Black.eot?#iefix') format('embedded-opentype'),
	 url('../fonts/SofiaPro-Black/SofiaPro-Black.woff2') format('woff2'),
	 url('../fonts/SofiaPro-Black/SofiaPro-Black.woff') format('woff'),
	 url('../fonts/SofiaPro-Black/SofiaPro-Black.ttf') format('truetype'),
	 url('../fonts/SofiaPro-Black/SofiaPro-Black.svg#SofiaPro Black') format('svg');
     font-weight: 400;
     font-style: normal
}

body {
    color: #000000;
    font-family: 'Courier Sans Regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.4px;
}

a,
.alink,
button,
.button {
	transition: all 0.5s ease;
}

.page-main {
	.container {
		box-sizing: border-box;
		margin: 0 auto;
		max-width: 1236px;
		padding: 0 40px;
		width: 100%;
	}
	
	input[type="text"],
	input[type="password"],
	input[type="url"],
	input[type="tel"],
	input[type="search"],
	input[type="number"],
	input[type="datetime"],
	input[type="email"] {
		background: #ffffff none repeat scroll 0 0 padding-box;
		border: 2px solid #000000;
		border-radius: 0;
		box-shadow: none !important;
		box-sizing: border-box;
		display: inline-block;
		font-family: "Courier Sans Regular";
		font-size: 18px;
		height: 50px;
		letter-spacing: 0.45px;
		line-height: 50px;
		padding: 5px 18px;
		vertical-align: baseline;
		width: 100%;
		
		&::-webkit-input-placeholder {
			color: #858585;
		}
		
		&::-moz-placeholder {
			color: #858585;
		}
		
		&:-ms-input-placeholder {
			color: #858585;
		}
		
		&:-moz-placeholder {
			color: #858585;
		}
	}
	
	textarea {
		background: #ffffff none repeat scroll 0 0 padding-box;
		border: 2px solid #000000;
		border-radius: 0;
		box-shadow: none !important;
		display: inline-block;
		font-family: "Courier Sans Regular";
		font-size: 18px;
		letter-spacing: 0.45px;
		line-height: 36px;
		max-height: 250px;
		min-height: 250px;
		padding: 5px 18px;
		width: 100%;
		
		&::-webkit-input-placeholder {
			color: #858585;
		}
		
		&::-moz-placeholder {
			color: #858585;
		}
		
		&:-ms-input-placeholder {
			color: #858585;
		}
		
		&:-moz-placeholder {
			color: #858585;
		}
	}
	
	.actions-toolbar { 
		button {
			&.action {
				&.primary {
					background: #000000 none repeat scroll 0 0;
					border: medium none;
					border-radius: 0;
					color: #ffffff;
					display: inline-block;
					font-size: 24px;
					font-weight: normal;
					line-height: 63px;
					padding: 0 20%;
					text-transform: uppercase;
					vertical-align: middle;
					
					span {
						display: inline-block;
						vertical-align: top;
						width: auto;
						white-space: nowrap;
					}
				}
			}
		}
		
		 .secondary {
			a {
				&.action {
					color: #000000;
					float: right;
					font-size: 15px;
					letter-spacing: 0.4px;
					line-height: 43px;
					margin: 10px 0;
					padding: 0;
					text-decoration: underline;
					vertical-align: middle;
					
					span {
						display: block;
						vertical-align: middle;
						width: auto;
						white-space: nowrap;
					}
					
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
	
	.pro-action-section {
		.action {
			&.primary {
				&:focus,
				&:active {
					background: #000000 none repeat scroll 0 0;
					border: medium none;
					color: #ffffff;
					
					img {
						filter: brightness(100%) invert(100%);
					}
				}
			}
		}
	}
}


#maincontent {
	.messages {
		margin: 0 auto;
		max-width: 1156px;
		text-align: right;
		
		.message {
			box-sizing: border-box;
			margin: 30px 0;
			max-width: 100%;
			width: 862px;
			display: inline-block;
			text-align: left;
			
			 & ~ .message {
				display: none;
				margin: 0;
			}
		}
	}
}


.account {
	#maincontent {
		.messages {
			.message {
				margin: 0 0 15px;
			}
		}
	}
}



//
//  General css for Custom
//  ---------------------------------------------

.custom-header-cont {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    background: #fff;
    border-bottom: solid 2px #000;
    padding-top: 9px;
    height: 49px;
	transition: .5s all ease;
	/*z-index: 3;
	left: 0;
    position: fixed;
    top: 62px;*/
}



.header-topbar {
    box-sizing: border-box;
    display: none;
    padding: 16px 15px;
    text-align: center;
    width: 100%;
    background: #FFDEB5;
}




.top-bar-cont {
    display: inline-block;
    max-width: 1156px;
    white-space: nowrap;
    width: 100%;
	
	.top-label {
		box-sizing: border-box;
		display: inline-block;
		font-size: 16px;
		letter-spacing: 1.6px;
		line-height: 30px;
		margin: 0 5px 0 0;
		padding: 0 15px 0 0;
		text-transform: uppercase;
		vertical-align: middle;
		width: auto;
	}

	a {
		background: #000000 none repeat scroll 0 0;
		color: #ffffff;
		display: inline-block;
		font-size: 16px;
		letter-spacing: 1.6px;
		line-height: 30px;
		padding: 0 123px;
		text-transform: uppercase;
		vertical-align: top;
		width: auto;
	}
}

.top-bar-close {
    cursor: pointer;
    float: right;
    font-family: "SofiaPro Black";
    font-size: 36px;
    line-height: 30px;
    position: relative;
    width: auto;
	
	.top-close {
		display: inline-block;
		left: -56px;
		position: absolute;
		top: -3px;
		vertical-align: top;
	}
}

.header-container {
    display: block;
    margin: 0px auto 0;
    max-width: 1156px;
}

.logo-menu-bar {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.menu-section {
    float: left;
    max-width: calc(~'(100% - 200px)');
    width: 100%;
}

.main-logo {
    float: right;
    width: auto;
    padding-top: 5px;
	
	.logo {
		margin: 0;
		max-width: 100%;
		z-index: 2;
		
		img {
			display: inline-block;
			vertical-align: middle;
			width: auto;
		}
	}
}

.menu-bar {
    display: inline-block;
    vertical-align: top;
    width: 100%;
	
	.menu-logo {
		float: left;
		text-align: center;
		width: 60px;
		margin: 0 0 0 -30px;
		
		& > a {
			display: inline-block;
			vertical-align: middle;
			width: 100%;
		}
		
		img {
			display: inline-block;
			margin: 0;
			vertical-align: top;
			width: auto;
		}
	}
	
	.menu-links {
		box-sizing: border-box;
		float: left;
		padding: 0 60px;
		width: calc(~'(100% - 96px)');
	}
	
	.menu-items {
		display: inline-block;
		list-style: outside none none;
		margin: 0;
		padding: 0;
		vertical-align: top;
		width: 100%;
        padding-top: 16px;
	}
	
	.menu-item {
		display: inline-block;
		line-height: 13px;
		margin: 0 6px 0 0;
		padding: 0 10px;
		vertical-align: top;
		width: auto;

		a {
			border-bottom: 1px solid transparent;
			color: #000000;
			display: inline-block;
			font-size: 16px;
			letter-spacing: 1.6px;
			line-height: 24px;
			margin: -5px 0 0;
			padding: 0;
			text-decoration: none;
			text-transform: uppercase;
			vertical-align: top;
			width: auto;
			
			&:hover {
				border-bottom: 1px solid #000000;
			}
            &.active {
                border-bottom: 1px solid #000000;
            }
		}
		
		&:last-child {
			margin: 0;
		}
	}
}


.header-fixed-options {
    display: inline-block;
    left: calc(~'(100% - 1216px) / 2');
    margin: 0;
    position: fixed;
    top: 102px;
    vertical-align: top;
    width: 60px;
	transition: .5s all ease;
	z-index: 3;
	
	&.shift-to-top {
		top: 100px;
		transition: .5s all ease;
	}
	
	&.scrolled {
		top: 40px;
		transition: .5s all ease;
	}
}

.header-opt {
    display: inline-block; 
    width: 100%;
}

.header-opt-boxes {
    float: left;
    width: 100%;
    text-align: center;	
    .on-user-icon-click-show-box {
        padding: 0;
        clear: both;
        overflow: hidden;
    }
	.box-opt {
		border: 2px solid #000000;
		box-sizing: border-box;
		float: left;
		width: 100%;
		transition: all 0.5s ease;
		background: #ffffff none repeat scroll 0 0;
		
		a {
			float: left;
			width: 100%;
		}
		
		img {
			float: none;
			max-width: 100%;
			width: auto;
			transition: all 0.5s ease;
			cursor: pointer;
		}
		
		&:hover {
			background: rgb(0, 0, 0) none repeat scroll 0% 0%;
			
			img {
				filter: brightness(100%) invert(100%);
			}
		}

		&.chat-box {
			margin: 36px 0 0;
			
			a {
				padding-top: 14px;
				padding-bottom: 3px;
			}
		}
		
		&.diamond-box {
			display: none;
		}
		
		&.user-box {
			border-bottom: medium none;
            
			
			a {
				box-sizing: border-box;
				padding: 14px 16px 8px;
			}
		}
        &.logoutbox {
            border-top: 0;
            border-bottom: solid 2px #000;
        } 
		
		&.minicart-box {
			&:hover {
				background: #ffffff none repeat scroll 0 0;
				
				img {
					filter: none;
				}
			}
			
			.text {
				&:hover {
					background: #000000 none repeat scroll 0 0;
					
					img {
						filter: brightness(100%) invert(100%);
					}
				}
			}
		}
	}
}


.minicart-box {
	.minicart-wrapper {
		margin: 0;
		text-align: center;
		width: 100%;
		
		.action {
			&.showcart {
				&:before {
					content: none;
				}
				
				.text {
					float: left;
					height: auto;
					margin: 0;
					padding: 0;
					position: static;
					width: 100%;
					transition: all 0.5s ease 0s;
                    padding-top: 16px;
                    padding-bottom: 1px;
				}
				
				.counter {
					&.qty {
						background: #ffffff none repeat scroll 0 0;
						border-radius: 0;
						border-top: 2px solid #000000;
						color: #000000;
						display: inline-block;
						float: left;
						font-size: 18px;
						height: 28px;
						letter-spacing: 0.45px;
						line-height: 28px;
						margin: 0;
						padding: 0;
						position: static;
						text-align: center;
						width: 100%;
						
						&.empty {
							display: inline-block;
						}
						
						&:hover {
							background: #000000 none repeat scroll 0 0;
							color: #ffffff;
						}
					}
				}

				.counter-label {
					display: none;
				}

				.counter-number {
					display: inline-block;
					vertical-align: top;
					width: 100%;
				}
			}
		}
	}
}


/*======For the cookie bar strip======*/

.message {
	&.global {
		&.cookie {
			.content {
				display: inline-block;
				text-align: center;
				width: 100%;
				
				p {
					display: inline-block;
					width: auto;
				}
				
				.actions {
					display: inline-block;
					margin: 5px;
					width: auto;
				}
			}
		}
	}
}



/*======For the modal-pop-ups======*/

.modals-wrapper {
	.modal-popup {
	
		.modal-inner-wrap {
			max-width: 1156px;
			width: 80%;
		}
		
		.modal-header {
			float: left;
			padding: 5px 0;
			position: relative;
			width: 100%;
		}
		
		.modal-content {
			box-sizing: border-box;
			float: left;
			letter-spacing: 0.45px;
			padding: 10px;
			text-align: center;
			width: 100%;
		}
		
		.modal-footer {
			box-sizing: border-box;
			float: left;
			padding: 20px;
			text-align: center;
			width: 100%;
		}
		
		button {
			background: #000000 none repeat scroll 0 0;
			border: medium none;
			border-radius: 0;
			color: #ffffff;
			display: inline-block;
			font-size: 18px;
			font-weight: normal;
			letter-spacing: 1.85px;
			line-height: 36px;
			margin: 0 5px;
			padding: 0 15px;
			text-transform: uppercase;
			vertical-align: middle;
			width: auto;
			
			&.action-close {
				border-radius: 50%;
				height: 40px;
				line-height: 40px;
				margin: 0;
				padding: 0;
				position: absolute;
				right: -20px;
				top: -20px;
				width: 40px;
				background: #000000 none repeat scroll 0 0;
				
				&:before {
					color: #ffffff;
					font-size: 40px;
					line-height: 40px;
				}
			}
		}
	}
}


//
//  Custom Css For the Homepage 
//  ---------------------------------------------


.cms-home {
	.page-main {
		max-width: 100%;
		padding: 0;
	}
	
	.header-topbar {
		display: inline-block;
	}
	
	.header-fixed-options {
		top: 162px;
		
		&.shift-to-top {
			top: 100px;
		}
		
		&.scrolled {
			top: 40px;
		}
	}
}


/*===========For the Home page Slider Section===========*/

.home-page-slider-container {
    display: inline-block;
    position: relative;
    width: 100%;
}

.home-slider-top-sec {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.home-slider-bottom-sec {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
	
	
	.home-banner-tag {
        bottom: 96px;
        display: inline-block;
        font-family: "SofiaPro Black";
        font-size: 134px;
        left: -9px;
        letter-spacing: 13.2px;
        line-height: 140px;
        position: absolute;
        text-align: center;
        width: calc(~'(100% + 24px)');
	}
}

.slide-left-sec {
    float: left;
    max-width: 568px;
    position: relative;
    width: 50%;
    .side-banner-cont {
        text-align: center;
        letter-spacing: 2px;
        color: #FFFFFF;
        background: #000;
        width: 372px;
        height: 30px;
        line-height: 30px;
        position: absolute;
        bottom: 235px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
	
	.side-banner-pic {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		
		img {
			display: inline-block;
			vertical-align: middle;
			width: 100%;
		}
	}
}

.slide-right-sec {
    float: right;
    max-width: 568px;
    width: 50%;
    padding-top: 0px;
	
	.home-slider {
		display: inline-block;
		max-width: 100%;
		overflow: hidden;
		width: 100%;
        .owl-nav.disabled {
            display: none;
        }
	}
}

.home-slider {
    .owl-item {
        display: inline-block;
        .slide {
            display: inline-block;
            width: 100%;
            height: 100%;
            vertical-align: top;

            .slide-banner {
                float: left;
                margin: 0 0 26px;
                width: 100%;
            }

            img {
                display: inline-block;
                vertical-align: middle;
                width: 100%;
            }

            .slide-content {
                float: left;
                width: 100%;

                .slide-title {
                    float: left;
                    margin: 3px 0 20px;
                    width: 100%;
                    font-family: 'SofiaPro Black';
                    font-size: 36px;
                    line-height: 43px;
                    letter-spacing: 3.5px;
                    text-transform: uppercase;
                    position: relative;
                    padding-bottom: 4px;
                }
                
                .slidetextsecound {
                    letter-spacing: 3px;
                }

                .slidetextsecound {
                    .backstrip {
                        &::after {
                            background: #9BCFCB;
                        }
                    }
                    .backstripS {
                        &::after {
                            background: #9BCFCB;
                        }
                    }
                }
                .slidetextthird {
                    .backstrip {
                        &::after {
                            background: #9f55ff;
                        }
                    }
                    .backstripS {
                        &::after {
                            background: #9f55ff;
                        }
                    }
                }

                .slide-cont {
                    float: left;
                    width: 100%;
                    color: #000;
                }
            }
        }
    }
}

.backstrip {
    display: inline-block;
    position: relative;
    line-height: 32px;
    &::after {
        content: '';
        background: #FFA300;
        width: 100%;
        height: 14px;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        max-width: calc(~'(100% - 7px)');
    }
}
.backstripS {
    display: inline-block;
    position: relative;
    line-height: 32px;
    &::after {
        content: '';
        background: #FFA300;
        width: 100%;
        height: 14px;
        position: absolute;
        bottom: 0px;
        left: 0;
        z-index: -1;
        max-width: calc(~'(100% - 7px)');
    }
}

.psasimplesteps {
    padding-top: 51px;
    h2 {
        background: #FFA300;
        text-align: center;
        padding: 15px 0 18px 0;
        font-family: 'SofiaPro Black';
        font-size: 36px;
        height: 43px;
        letter-spacing: 3.6px;
        color: #000;
        margin: 0;
        .backstrip {
            z-index: 100;
            &::after {
                background: #fff;
                bottom: 1px;
                max-width: calc(~'(100% - 6px)');
                left: 3px;
                height: 15px;
            }
        }
    }
    .listing {
        float: left;
        position: relative;
		
        .productimage {
            img {
                display: block;
                vertical-align: text-top;
				width: 100%;
            }
        }
        .content {
            position: absolute;
            left: 49%;
            top: 44%;
			max-height: 150px;
			
            transform: translate(-50%, -50%);
            .stepcount {
               width: 176px;
                background: #000;
                color: #fff;
                text-align: center;
                height: 30px;
                line-height: 30px;
                font-size: 20px;
                letter-spacing: 2px;
                margin: auto;
                margin-top: 16px;
                margin-bottom: 21px;
            }
            .productname {
                font-family: 'SofiaPro Black';
                font-size: 60px;
                line-height: 72px;
                letter-spacing: 6px;
                color: #fff;
                margin-top: 12px;
				vertical-align: middle;
				width: 100%;
				display: inline-block;

                .backstrip {
                    z-index: 100;
                    line-height: 55px;
                    &::after {
                        max-width: calc(~'(100% - 12px)');
                        left: 2px;
                        height: 20px;
                        background: #9f55ff;
                    }
                }
            }
			
			.homecommingsoon { 
				color: #000;
				display: inline-block;
				position: relative;
				width: 100%;
				vertical-align: middle;
				
				.coming-soon {
					padding: 0;
					position: absolute;
					top: 13px;
					border: medium none;
					left: 0;
					
					&:after,
					&:before {
						border: medium none;
						content: none;
					}
				}

			}
        }
		
         &.maskandtone {
            .content {
                width: 460px;
                margin-left: 18px;
                .productname {
                    letter-spacing: 6px;
                    .backstrip {
                        &::after {
                            background: #DF231D;
                            bottom: 1px;
                            left: 3px;
                            height: 20px;
                            max-width: calc(~'(100% - 11px)');
                        }
                    }
                }
            }
        }
        &.serumproduct {
            .backstrip {
                &::after {
                    background: #9BCFCB !important;
                    height: 21px !important;
                    left: 3px !important;
                    max-width: calc(~'(100% - 13px)') !important;
                }
            }
        }
        &.moistureproduct {
            .content {
                margin-left: 14px;
                top: 43.5%;
            }
            .backstrip {
                &::after {
                    background: #98ADE3 !important;
                    left: 5px !important;
                    max-width: calc(~'(100% - 16px)') !important;
                }
            }
        }
    }
}
.psasimplesteps {
    .listing {
        height: 578px;
        overflow: hidden;
        cursor: pointer;
        .back {
            opacity: 0;
            transition: .9s all ease;
        }
        .front {
            transition: .9s all ease;
            opacity: 1;
        }
        &:hover {
            .front {
                opacity: 0;
                transition: .9s all ease;
            }
            .back {
                opacity: 1;
                position: absolute;
                top: 0;
                transition: .9s all ease;
            }
        }
    }
}

.psaprechecksection {
	text-align: center;
	border-top: solid 2px #000;
	margin-top: 80px;
	padding-top: 34px;
	
    h2 {
        margin: 0;
        font-family: 'SofiaPro Black';
        font-size: 36px;
        line-height: 48px;
        letter-spacing: 3.5px;
        
		.backstrip {
            &::after {
                left: 0px;
                max-width: calc(~'(100% - 2px)') !important;
            }
        }
    }
	
    p {
        margin: 0;
        padding-top: 35px;
        padding-bottom: 32px;
    }
    
	.listing {
        .list {
            display: inline-block;
        }
    }
}
.beengossiping {
    background: #e5eaf8;
    text-align: center;
    padding-bottom: 53px;
    margin-top: 41px;
	
	.owl-item {
		.slide {
			position: relative;
		}
	}
	
    .owl-nav {
		&.disabled {
			display: none;
		}
    }
	
    .container {
        overflow: hidden;
        p {
            margin: 0;
            font-size: 36px;
            line-height: 56px;
            letter-spacing: 0.9px;
            padding-top: 90px;
            padding-bottom: 90px;
            position: relative;
            span.first {
                position: absolute;
                left: 49.8%;
                top: 35px;
				
				em,
				i {
					font-style: normal;
				}
            }
            span.secound {
                position: absolute;
                left: 49.8%;
                bottom: 31px;
            }
        }
    }
    h2 {
        background: #98ADE3;
        margin: 0;
        padding: 17px 0 22px 0;
        font-family: 'SofiaPro Black';
        font-size: 36px;
        line-height: 43px;
        letter-spacing: 3.6px;
        .backstrip {
            z-index: 1;
            &::after {
                height: 15px;
                bottom: 1px;
                left: 6px;
                background: #fff;
                max-width: calc(~'(100% - 10px)') !important;
            }
        }
    }
    .Logo-Allure {
        img {
            width: auto !important;
        }
    }
}
.cms-home {
    .column.main {
        padding-bottom: 0;
    }
}

.shareyourstore {
    position: relative;
	margin-top: 25px;
	display: inline-block;
    width: 100%;
    padding: 0px;
    
	img {
        display: block;
        width: 100%;
    }
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 1156px;
		z-index: 1;
    }
    h2 {
       text-align: center;
        background: #fff;
        margin: 0;
        font-family: 'SofiaPro Black';
        font-size: 36px;
        line-height: 43px;
        letter-spacing: 3.6px;
        border: solid 2px #000;
        padding-top: 15px;
        padding-bottom: 20px;
        .backstrip {
            z-index: 1;
            &::after {
                background: #DF231D;
                left: 3px;
                max-width: calc(~'(100% - 7px)') !important;
            }
        }
    }
	
	.owl-stage-outer {
        overflow: hidden;
    }
    .slide {
        position: relative;
    }
	.owl-nav {
		display:none;
	}
	
	
	.preshslider {
		display: inline-block;
		max-width: 100%;
		overflow: hidden;
		width: 100%;
		
        .owl-nav.disabled {
            display: none;
        }
		
		.owl-item {
			display: inline-block;
			.slide {
				display: inline-block;
				width: 100%;
				height: 100%;
				vertical-align: top;

			   

				img {
					display: inline-block;
					vertical-align: middle;
					width: 100%;
				}

			}
		}
	}
}








//
//  Custom css for Get Schooled CMS Page
//  ---------------------------------------------

.get-schooled-grid-content { 
    float: right;
    margin: 28px 0 0;
    width: 862px;
	
	.top-heading {
		float: left;
		width: 100%;
		
		h2 {
			display: inline-block;
			font-family: "SofiaPro Black";
			font-size: 60px;
			font-weight: normal;
			letter-spacing: 6px;
			line-height: 72px;
			margin: 0;
			text-transform: uppercase;
			vertical-align: top;
			width: 100%;
		}
		
		.backstrip {
			line-height: 54px;
			vertical-align: top;
			
			&:after {
				background: #9bcfcb none repeat scroll 0 0;
				height: 20px;
                left: 5px;
                 max-width: calc(~'(100% - 14px)');
			}
		}
	}
}


.get-school-grid-list {
    float: left;
    margin: 42px -10px 0;
    width: calc(~'(100% + 20px)');
}

.gs-grid-block {
    background: #ffffff none repeat scroll 0 0;
    border: 2px solid #000000;
    box-sizing: border-box;
    float: left;
    height: 274px;
    margin: 0 10px 20px;
    padding: 0;
    position: relative;
    width: 274px;    
	cursor: pointer;
	
	&.grid-bg-1 {
		background: #98ADE3 none repeat scroll 0 0;
		border-color: #98ADE3;
	}
	
	&.grid-bg-2 {
		background: #D7918A none repeat scroll 0 0;
		border-color: #D7918A;
	}

	&.grid-bg-3 {
		background: #DF231D none repeat scroll 0 0;
		border-color: #DF231D;
	}

	&.grid-bg-4 {
		background: #FF7276 none repeat scroll 0 0;
		border-color: #FF7276;
	}

	&.grid-bg-5 {
		background: #FFA300 none repeat scroll 0 0;
		border-color: #FFA300;
	}

	&.grid-bg-6 {
		background: #001F5B none repeat scroll 0 0;
		border-color: #001F5B;
	}

	&.grid-bg-7 {
		background: #9BCFCB none repeat scroll 0 0;
		border-color: #9BCFCB;
	}

	&.grid-bg-8 {
		background: #9f55ff none repeat scroll 0 0;
		border-color: #9f55ff;
	}

	&.grid-bg-9 {
		background: #FF671D none repeat scroll 0 0;
		border-color: #FF671D;
	}
	
	&.grid-bg-10 {
		background: #FFABB6 none repeat scroll 0 0;
		border-color: #FFABB6;
	}
	
	&.open {
		.gs-grid-content {
			opacity: 1;
			visibility: visible;
			transition: visibility 0.3s linear,opacity 0.3s linear;
		}		
	}
}

.gs-grid-titles {
    display: inline-block;
    height: 100%;
    position: relative;
    width: 100%;
	color: #000000;
	padding: 22px 20px 20px 17px;
	box-sizing: border-box;
	
	.element-symbol {
		display: inline-block;
		font-family: "SofiaPro Black";
		font-size: 110px;
		line-height: 62px;
		vertical-align: middle;
		width: auto;
	}
	
	.element-name {
		float: left;
		letter-spacing: 1.6px;
		text-transform: uppercase;
		width: auto;
		margin-left: 12px;
	}
	
	&.gs-title-1 {
		color: #ffffff;
	}
	
	&.gs-title-2 {
		color: #4FBCCA;
	}
	
	&.gs-title-3 {
		color: #FFABB6;
	}
}

.gs-element-symbol {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.gs-element-name {
	bottom: 16px;
    display: inline-block;
    left: 17px;
    position: absolute;
    vertical-align: middle;
    width: calc(~'(100% - 37px)');
}

.gs-grid-content {
    display: inline-block;
	background: #ffffff none repeat scroll 0 0;
    border: 2px solid #000000;
    left: -2px;
    padding: 20px;
    position: absolute;
    top: -2px;
    width: calc(~'(100% - 40px)');
	z-index: 1;
	transition: visibility 0.3s linear,opacity 0.3s linear;
    visibility: hidden;
	opacity: 0;
	min-height: 524px;
	
	&.grid-cover-4 {
		min-height: 1112px;
	}

	&.grid-cover-1 {
		min-height: 230px;
	}

	&.grid-cover-3 {
		min-height: 818px;
	}
	
	&.grid-cover-bottom {
		bottom: -2px;
		top: initial;
	}
}

.gs-element-info {
    float: left;
    width: 100%;
	position: relative;
	
	.element-info {
		display: inline-block;
		vertical-align: middle;
	}
	
	.element-links {
		display: inline-block;
		margin: 20px 0 0;
		vertical-align: middle;
		width: 100%;
		
		span {
			display: inline-block;
			font-weight: bold;
			vertical-align: middle;
			width: 100%;
		}
		
		a {
			color: #000;
			display: inline-block;
			font-size: 16px;
			letter-spacing: 0.4px;
			margin: 6px 0;
			text-decoration: underline;
			text-transform: uppercase;
			width: 100%;
			
			&:hover {
				text-decoration: none;
			}
		}
	}
}

.gs-grid-closer {
    float: right;
    position: absolute;
    right: -22px;
    top: -22px;
	
	.gs-close-btn {
		border: medium none;
		box-sizing: border-box;
		cursor: pointer;
		display: inline-block;
		font-family: "SofiaPro Black";
		height: 30px;
		line-height: 30px;
		text-align: center;
		width: 30px;
	}
}


.diamond-box {
	a {
		padding-top: 13px;
		padding-bottom: 4px;
	}
}


.container {
    position: relative;
    #popup-box {
       position: fixed;
            z-index: 100;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        .close {
            font-family: 'SofiaPro Black';
            font-size: 36px;
            color: #000;
            letter-spacing: 3.6px;
            background: #fff;
            width: 71px;
            height: 71px;
            display: block;
            text-align: center;
            line-height: 70px;
            border: solid 2px #000;
            position: absolute;
            right: 19px;
            top: 19px;
            &:hover {
                text-decoration: none;
            }
        }
        .offeroff {
            font-size: 18px;
            line-height: 28px;
            color: #fff;
            position: absolute;
            top: 58%;
            right: 111px;
        }
        .copuncodebottom {
            position: absolute;
            left: 10px;
            width: 100%;
            text-align: center;
            bottom: 85px;
            .coupncode {
                font-size: 18px;
                line-height: 28px;
                letter-spacing: 1.8px;
                color: #fff;
            }
            .jointheteam {
                font-family: 'SofiaPro Black';
                text-transform: uppercase;
                color: #fff;
                font-size: 44px;
                line-height: 28px;
                padding-top: 16px;
//                -webkit-text-stroke-width: 1px;
//                -webkit-text-stroke-color: black;
            }
        }
        .metext {
            color: #fff;
            font-size: 18px;
            position: absolute;
            top: 210px;
            left: 120px;
        }
        .discounttext {
            color: #fff;
            font-size: 50px;
            position: absolute;
            top: 370px;
            right: 40px;
            letter-spacing: 2.5px;
        }
    }
}



//
//  Custom css for order return pages and section in dashboard
//  ----------------------------------------------------------

.account {
	.breadcrumbs {
		display: none;
	}
}


/***********************For the Order Return Form Page***********************/

.order-return-container {
    float: right;
    margin: 28px 0 0;
    width: 862px;
	min-height: 750px;
	
	.block {
		&.block-order-return {
			float: left;
			max-width: 470px;
			width: 100%;
			margin: 0;
		
			.block-title {
				border: medium none;
				display: inline-block;
				margin: 0;
				padding: 0;
				vertical-align: middle;
				width: 100%;
			}
			
			.block-content {
				display: inline-block;
				margin: 20px 0 80px;
				vertical-align: middle;
				width: 100%;
			}
		}
	}
	
	.form.form-orders-search {
		float: left;
		width: 100%;
		min-width: 100%;
	}
}


#block-order-return-heading {
    display: inline-block;
    font-family: "SofiaPro Black";
    font-size: 60px;
    font-weight: normal;
    letter-spacing: 6px;
    line-height: 72px;
    margin: 0;
    text-transform: uppercase;
    vertical-align: top;
    width: 100%;
	
	.backstrip {
		line-height: 54px;
		vertical-align: top;
		
		&:after {
			background: #FFA300 none repeat scroll 0 0;
			height: 20px;
		}
	}
   .backstrip:first-child {
       &:after {
            max-width: calc(~'(100% - 22px)');
           left: 5px;
       }
    }
   .backstrip:last-child {
       &:after {
            max-width: calc(~'(100% - 8px)');
           left: 3px;
       }
    }
}


.form-orders-search {
    .fieldset {		
		float: left;
		margin: 30px 0 0;
		width: 100%;		
	
		.field {
			display: inline-block;
			margin: 0;
			vertical-align: middle;
			width: 100%;
			letter-spacing: 0.4px;
			
			&.note {
				margin: 0 0 70px;
				
				span {
					display: inline-block;
					vertical-align: middle;
					width: auto;
				}
				
				a {
					color: #9bcfcb;
					display: inline-block;
					text-decoration: underline;
					vertical-align: middle;
					width: auto;
					
					&:hover {
						color: #000000;
						text-decoration: none;
					}
				}
			}
			
			label,
			.label {
				font-weight: normal;
				margin: 0 0 13px;
				padding: 0;
				text-align: left;
				width: 100%;
				
				&:after {
					content: none;
				}
				
				span {
					display: inline-block;
					vertical-align: top;
					width: auto;
				}
			}

			.control {
				float: left;
				margin: 0 0 12px;
				width: 100%;
			}
			
			&.choice, .checkbox {
				float: left;
				position: relative;
				margin: 10px 0;
				
				&:before {
					content: none;
					padding: 0;
				}

				label {
					box-sizing: border-box;
					float: left;
					margin: 0;
					padding: 0 0 0 40px;
					position: relative;
					cursor: pointer;
					
					&:before {
						border: 2px solid #000000;
						content: " ";
						height: 16px;
						left: 0;
						position: absolute;
						top: 50%;
						transform: translate(0px, -50%);
						width: 16px;
					}
					
					span {
						&.backstrip {
							line-height: 13px;
							vertical-align: middle;
							
							&:after {
								height: 13px;
								max-width: 100%;
							}
						}
					}
				}

				input {
					&.checkbox {
						float: left;
						height: 100%;
						left: 0;
						margin: 0;
						opacity: 0;
						position: absolute;
						top: 0;
						width: 100%;
						
						&:checked {
							& ~ label {
								&:after {
									background: rgba(0, 0, 0, 0) url("../images/right.png") no-repeat scroll center center / 12px auto;
									content: " ";
									height: 16px;
									left: 2px;
									position: absolute;
									top: 50%;
									transform: translate(0px, -50%);
									width: 16px;
								}
							}
						}
					}
				}
			}
			
			.select,
			select {
				-moz-appearance: none;
				-webkit-appearance: none;
				background: #ffffff url("../images/down-arrow.svg") no-repeat scroll right 13px center / 16px auto;
				border: 2px solid #000;
				box-shadow: none;
				box-sizing: border-box;
				display: inline-block;
				font-size: 18px;
				height: 50px;
				letter-spacing: 0.45px;
				line-height: 50px;
				padding: 5px 50px 5px 18px;
				vertical-align: baseline;
				width: 100%;
			}
		}
	}
	
	.actions-toolbar {
		display: inline-block;
		margin: 28px 0 0 !important;
		vertical-align: middle;
		width: 100%;
		
		.action {
			&.primary {
				min-width: 273px;
			}
		}
	}
}


.account {
	&.amasty-rma-guest-history {
		.page-main {
			.column {
				&.main {
					float: right;
					min-height: 350px;
				}
			}
		}
	}		
}


/***********************For the Order Return request listing Page***********************/

.amasty-rma-customer-history,
.amasty-rma-guest-history {
	
	#amasty_rma_orders {
		-moz-appearance: none;
		-webkit-appearance: none;
		background: #ffffff url("../images/down-arrow.svg") no-repeat scroll right 13px center / 16px auto;
		border: 2px solid #000;
		box-sizing: border-box;
		display: inline-block;
		font-size: 18px;
		height: 50px;
		letter-spacing: 0.45px;
		line-height: 50px;
		margin: 0 0 40px;
		padding: 5px 50px 5px 18px;
		vertical-align: middle;
		width: auto;
		box-shadow: none;
	}
	
	.amrma-history-header {
		float: left;
		text-align: center;
		vertical-align: middle;
		width: 100%;
		
		p {
			margin: 0;
			display: none;
		}
		
		h4 {
			display: none;
		}
		
		.action {
			&.primary {
				background: #000000 none repeat scroll 0 0;
				border: medium none;
				border-radius: 0;
				font-size: 24px;
				font-weight: normal;
				height: 50px;
				line-height: 50px;
				padding: 0 70px;
				text-align: center;
				text-transform: uppercase;
				vertical-align: top;
			}
		}
	}
	
	.dashboard {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		
		.box-account {
			display: inline-block;
			vertical-align: middle;
			width: 100%;
			text-align: center;
		}
			
		.pager {
			background: #ffa300 none repeat scroll 0 0;
			box-sizing: border-box;
			display: inline-block;
			margin: 0 0 20px;
			padding: 22px;
			vertical-align: middle;
			width: 100%;
		}
		
		.toolbar-amount {
			font-family: "SofiaPro Black";
			font-size: 30px;
			height: 32px;
			line-height: 32px;
			padding: 0;
		}
		
		.toolbar-number {
			float: left;
			position: relative;
			vertical-align: middle;
			width: 100%;
			z-index: 1;
			
			&:after {
				background: #fff none repeat scroll 0 0;
				bottom: 2px;
				content: " ";
				height: 10px;
				left: 0;
				position: absolute;
				width: 100%;
				z-index: -1;
			}
		}
		
		& > .pager {
			display: inline-block;
		}
		
		.table-wrapper {
			& ~ .pager {
				display: none;
			}
		}
	}
}


#my-rma-table {
	tr {
		th {
			font-family: "Courier Sans Bold";
			font-size: 18px;
			font-weight: normal;
			letter-spacing: 0.45px;
			text-align: center;
		}
		
		a.action {
			color: #000000;
			text-decoration: underline;
			
			&:hover {
				text-decoration: none;
			}
		}
	}
}



/***********************For the Order Return request edit form***********************/

.amasty-rma-request-edit {
	.fieldset {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		padding: 0;
		
		form {
			display: inline-block;
			vertical-align: middle;
			width: 100%;
		}
		
		table {
			&.summary {
				border: 2px solid #000;
				box-sizing: border-box;
				display: table;
				margin: 0 auto 30px;
				
				tr {
					td {
						font-size: 16px;
						font-weight: normal;
						letter-spacing: 0.45px;
						line-height: 28px;
						padding: 5px 20px;
						
						&:first-child {
							font-family: "Courier Sans Bold";
							font-size: 18px;							
						}
					}
				}
				
				a {
					color: #000000;
					text-decoration: underline;
					
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
		
		#products {
			display: inline-block;
			margin: 40px 0 0;
			width: 100%;
		}

		.field {
			display: inline-block;
			margin: 0;
			width: 100%;
			
			label.label {
				box-sizing: border-box;
				font-weight: normal;
				margin: 0 0 13px;
				padding: 0;
				text-align: left;
				width: 100%;
				
				&:after {
					color: #000000;
					font-family: "Courier Sans Regular";
					font-size: 16px;
					line-height: 24px;
					margin: 0;
				}
			}
			
			.input-box {
				float: left;
				margin: 0 0 12px;
				width: 100%;
			}
			
			select {
				-moz-appearance: none;
				-webkit-appearance: none;
				background: #ffffff url("../images/down-arrow.svg") no-repeat scroll right 13px center / 16px auto;
				border: 2px solid #000;
				box-sizing: border-box;
				display: inline-block;
				font-size: 18px;
				height: 50px;
				letter-spacing: 0.45px;
				line-height: 50px;
				margin: 0;
				padding: 5px 50px 5px 18px;
				vertical-align: middle;
				width: 100%;
				box-shadow: none;
			}
			
			textarea {
				max-height: 200px;
				min-height: 200px;
			}
		}
		
		.item-actions {
			display: inline-block;
			margin: 0 0 30px;
			vertical-align: middle;
			width: 100%;
			
			a {
				color: #000000;
				letter-spacing: 0.45px;
				text-decoration: underline;
				
				&:hover {
					text-decoration: none;
				}
			}
		}
			
		&.rma-additional {
			margin: 0;
			
			legend {
				display: none;
			}
			
			.amasty-file-label {
				color: #000;
				display: inline-block;
				font-size: 13px;
				line-height: 20px;
				margin: 0 0 50px;
				width: 100%;
			}
		}
	}
	
	.buttons-set {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		
		.back-link {
			display: none;
			float: left;
			margin: 0;
		}
		
		.action.primary {
			float: left;
			width: auto;
			background: #000000 none repeat scroll 0 0;
			border: medium none;
			border-radius: 0;
			font-size: 24px;
			font-weight: normal;
			height: 50px;
			line-height: 50px;
			padding: 0 70px;
			text-align: center;
			text-transform: uppercase;
			vertical-align: top;
		}
	}
}



/***********************For the Order Return request view page***********************/


.amasty-rma-request-view {
	
	.page-main {
		.column.main {
			float: right;
		}
	}

	.order-actions-toolbar {
		margin: 0;
	}
	
	.block-dashboard-info {
		align-self: center;
		display: inline-flex;
		flex-wrap: wrap;
		justify-self: center;
		vertical-align: middle;
		width: 100%;
		
		.block-content {
			align-self: center;
			display: flex;
			flex-wrap: wrap;
			justify-self: center;
			vertical-align: middle;
			width: 100%;
		}

		.box {
			border: 2px solid #000;
			box-sizing: border-box;
			display: inline-block;
			letter-spacing: 0.45px;
			margin: 0 1%;
			max-width: 48%;
			padding: 20px;
			text-align: center;
			width: 48%;
			word-wrap: break-word;
			
			 a {
				color: #000000;
				text-decoration: underline;
				
				&:hover {
					text-decoration: none;
				}
			}
		}
		
		.box-title {
			display: inline-block;
			font-weight: normal;
			margin: 0 0 10px !important;
			vertical-align: middle;
			width: 100%;
			
			span {
				display: inline-block;
				width: 100%;
				font-family: "Courier Sans Bold";
				font-size: 18px !important;
				font-weight: normal !important;
				margin-top: 0 !important;
			}
		}
	}
	
	h3.box-title {
		background: #ffa300 none repeat scroll 0 0;
		display: inline-block;
		font-family: "SofiaPro Black";
		font-size: 30px;
		margin: 0 0 20px;
		padding: 22px 0 28px;
		text-align: center;
		width: 100%;
	}

	.table-order-items {
		margin: 0 0 40px;
		text-align: center;
	}

	#rma_comment {
		display: inline-block;
		width: 100%;
		
		.box-title {
			margin: 20px 0 30px;
		}
		
		textarea {
			margin: 0 0 20px;
			max-height: 200px;
			min-height: 200px;
		}
		
		.box-content {
			display: inline-block;
			vertical-align: middle;
			width: 100%;
		}
		
		.amasty-file-label {
			color: #000000;
			display: inline-block;
			font-size: 13px;
			letter-spacing: 0.45px;
			margin: 10px 0;
			width: 100%;
		}
		
		.buttons-set {
			margin: 10px 0 20px;
			
			.action.primary {
				float: right;
				width: auto;
				background: #000000 none repeat scroll 0 0;
				border: medium none;
				border-radius: 0;
				font-size: 24px;
				font-weight: normal;
				height: 50px;
				line-height: 50px;
				padding: 0 70px;
				text-align: center;
				text-transform: uppercase;
				vertical-align: top;
			}
		}
		
		.note-list {
			margin: 0;
			padding: 0;
			
			li {
				background: #ececec none repeat scroll 0 0;
				box-sizing: border-box;
				float: left;
				letter-spacing: 0.45px;
				list-style: outside none none;
				margin: 10px 0;
				padding: 15px 20px;
				width: 100%;
				
				a {
					color: #000000;
					margin: 5px 0;
					text-decoration: underline;
					text-transform: uppercase;
					
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
}









//
//  Custom css for cart and eye icon updates in product grids
//  ---------------------------------------------------------

.catalog-category-view {
	.product-item {
		.product-item-actions {
			.actions-primary {
				width: 100%;
			}
		}
		
		.action.tocart {
			width: 100%;
			
			img {
				display: inline-block;
				max-width: 100% !important;
				vertical-align: middle;
			}
		}
		
		.product-item-inner {
			.eye-icon {
				& > img {
					cursor: pointer;
				}
			}
		}
	}
}


#wishlist-view-form {
	.product-currency {
		align-self: center;
		box-sizing: border-box;
		line-height: 70px;
		padding-top: 0;
		width: 33.3333%;
	}

	.actions-primary {
		box-sizing: border-box;
		padding: 0;
		width: 33.3333%;
		
		.action.tocart.primary {
			width: 100%;
			
			img {
				display: inline-block;
				max-width: 70px;
				vertical-align: middle;
				width: 100%;
			}
		}
	}

	.eye-icon {
		padding: 0;
		width: 33.333%;
		
		img {
			display: inline-block;
			max-width: 70px;
			vertical-align: middle;
			width: 100%;
		}
	}
}


.catalog-product-view {
	#related-product-sec {
		.product-item-details {
			.product-item-actions {
				
				.actions-primary {
					display: inline-block;
					vertical-align: middle;
					width: 100%;
					
					.actions {
						display: inline-block;
						vertical-align: middle;
						width: 100%;
					}
				}
	
				button.action.tocart {
					width: 100%;
					
					img {
						display: inline-block;
						max-width: 100%;
						vertical-align: middle;
						width: 100%;
					}
				}
			}
		}
	}
}



//
//  Custom css for product view pop-up on the shop page
//  ---------------------------------------------------


.bss-quickview-catalog-product-view {

	#ajax-goto,
	.linked-product-collection,
	.attribute-video,
	.pro-review-section {
		display: none;
	}
	
	.container {
		&.pro-image-container {
			padding-top: 10px;
		}
	}
	
	.product-info-encaptulate {
		padding-bottom: 15px;
	}
	
	.product-info-customsidebar {
		margin: 11px 0 0 !important;
		max-width: calc(~'(100% - 708px)') !important;
	
		input.qty {
			display: none;
		}
		
		.actions {
			border-top-width: 2px;
			width: 100% !important;
			
			button.tocart {
				color: #000;
				font-family: "SofiaPro Black";
				font-size: 16px;
				font-weight: normal;
				letter-spacing: 1.6px;
				text-transform: uppercase;
				width: 100%;
				
				&:hover {
					color: #fff;
				}
			}
		}
	}
}




//
//  Custom css for random changes on different page added by other
//  --------------------------------------------------------------

.swell-tab {
    display: none !important;
}
#freshwidget-button {
    display: none !important;
}
html, body {
    height: 100%;
    scroll-behavior: smooth;
}

.cart.table-wrapper .actions-toolbar .action-towishlist {
    display: none;
}


.home-page-slider-container {position: sticky; top: 0;}
.psasimplesteps {position: relative; z-index: 1;}
.category-view {position: sticky; top: 0;}

.container.pro-image-container {position: sticky; top: 0;}
.product-info-encaptulate-container {background: #fff;}
.ourstorybanner.mainbanner {position: sticky !important; top: 0 !important;}
.ourstorysection {position: relative;}
.ourstorysection .visibility {visibility: hidden;}
.ourstorysection .bottombanner {position: absolute !important; top: 0;}
.ourstorysection .storyrightsection .screenposterone.screenposterS {z-index: 2;}
.ourstorysection .storyrightsection .screenposterone.screenposterT {z-index: 1;}
.ourstorysection .storyrightsection .screenposterone.screenposterF {z-index: 2;}
.ourstorysection .storyrightsection .screenposterone.screenposterFi {z-index: 1;}
.ourstorysection .bannerbtmsection {background: #fff; position: relative;}
.catalog-product-view #related-product-sec {background: #fff;}
.pro-review-section {z-index: 1; position: relative;}





//
//  Custom css for random changes on different page
//  -----------------------------------------------

.customer-account-logoutsuccess .column.main { font-size: 16px; min-height: 350px; padding: 60px 20%; text-align: center; }

.checkout-cart-index #shopping-cart-table .cart.item .actions-toolbar .action-edit { display: none !important; }

#mini-cart .product-item-name { height: auto; }

#minicart-content-wrapper .minicart-items-wrapper { max-height: 300px; }

.checkout-cart-index #shopping-cart-table thead::after { content: none; }

.opc-progress-bar-item::before { bottom: 12px; }

.opc-sidebar .opc-block-summary .items-in-cart .product-item-name { height: auto; position: static; }

.sales-order-view .block-order-details-view .box-content { display: inline-block; text-align: center; width: 100%; }

.page-layout-2columns-left .sidebar-additional { display: none; }

.precheckourstory .modalbox.tab-active { display: block !important; }

#wishlist-view-form button.action.update { display: none; }
#wishlist-view-form button.action.share { display: none; }

.container #popup-box .copuncodebottom .jointheteam a { color: #ffffff; text-decoration: underline; }
.container #popup-box .copuncodebottom .jointheteam a:hover { text-decoration: none; }

.cms-our-story .keetatitsection .itgetbeter { display: none !important; }



/*******************for the cart page*******************/


.checkout-cart-index {
	.table-wrapper {
	
		#shopping-cart-table {
			border: medium none;
			
			.subtotal {
				border: medium none;
			}

			.cart.item {
				border-bottom: 1px solid #d1d1d1;
				
				&:last-child {
					border-bottom: none;
				}
			}
			
			thead {
				th {
					z-index: 1;
				}
			}
		}
	}

	.cart-container {
		.form-cart {
			.cart.actions {
				border: none;
				border-bottom: 2px solid #000000;
				border-top: 2px solid #000000;
			}
		}
	}
	
	#cart-totals {
		
		tr.total-rules,
		tr.total_coupons {
			display: none !important;
		}
 
		tr.totals {
			.mark {
				.title {
					&:after {
						content: none !important;
					}
				}
			}
		}
		
		.table-wrapper {
			tr[class="totals"] {
				cursor: default;
				pointer-events: none;
			}
		}
	}
	
	#shipping-zip-form {
		.field:last-child {
			float: left;
		}
		
		.field[name="shippingAddress.region"] {
			float: right;
		}
	}
}






/*******************for the checkout page*******************/

.checkout-index-index {
	.opc-block-summary {
		.table-totals {
			tr.total-rules,
			tr.total_coupons {
				display: none !important;
			}
	 
			tr.totals.discount {
				cursor: default;
				pointer-events: none;
				
				.mark {
					.title {
						&:after {
							content: none !important;
						}
					}
				}
			}
		}
	}
	
	.opc-sidebar {
		.product-image-container {
			padding-right: 10px;
		}
		
		.opc-block-summary {
			.table-totals {
				box-sizing: border-box;
			}
		}
	}
	
	
	.checkout-billing-address {
		.billing-address-form {
			fieldset.field.street {
				.field {
					.label {
						margin: 0 !important;
					}
				}
			}

			.field:last-child {
				float: left;
			}
			
			.choice.field label.label {
				padding-left: 30px !important;
			}
			
			.field[name="billingAddressstripe_payments.region"] {
				float: right;
			}

			.field[name="billingAddressstripe_payments.postcode"] {
				float: left;
			}

			.field[name="billingAddressstripe_payments.country_id"] {
				float: right;
			}

			.field[name="billingAddressstripe_payments.telephone"] {
				float: left;
			}

			.choice.field:last-child {
				width: 100%;
			}
			
			.field .control {
				position: relative;
				
				.field-error {
					position: absolute;
					margin: 0;
					bottom: -23px;
				}
			}
		}

		button.action.action-cancel {
			display: none;
		}	
	}
	
	
	.data.table.table-totals .totals.shipping.excl .amount {
		font-size: 30px;
	}
	
	#maincontent .messages .message {
		max-width: 600px;
		float: left;
	}
	
	.checkout-payment-method .checkout-billing-address .billing-address-details {
		clear: both;
	}
}

.checkout-onepage-success {
    div {
        text-align: center;
        .action{
            &.primary {
                background: #000000 none repeat scroll 0 0;
            border: medium none;
            border-radius: 0;
            color: #ffffff;
            display: inline-block;
            font-size: 19px;
            font-weight: normal;
            line-height: 50px;
            text-transform: uppercase;
            vertical-align: middle;
            padding: 0 30px;
            margin-top: 20px;
            }
        } 
        
    }
}
.checkout-index-index {
    .action {
        &.action-update {
            margin-top: 6px;
        }
    }
}

#co-payment-form {
	.payment-option .payment-option-content {
		.payment-option-inner {
			float: left;
			input {
				height: 48px;
				line-height: initial;
				padding: 12px;
				margin-top: 0;
				border-right: 0px;
			}
		}
		
		.actions-toolbar {
			button.action {
				line-height: 48px;
				height: 48px;
			}
		}
	}
	
	.fieldset > .legend + br {
		display: none;
	}
	
	.payment-group .step-title {
		line-height: 40px;
	}
}


.payment-option {
    .actions-toolbar {
        float: left !important;
        margin-left: 7px;
    }
}








/*******************for the image blurness on the shop page*******************/


.catalog-category-view #step1 .product-items .product-item.OL-PRTNC100EN01 .product-item-info .product-image-container { background: rgba(0, 0, 0, 0) url("../images/pro-pics/reset2x.jpeg") no-repeat scroll center center / 100% auto; }

.catalog-category-view #step1 .product-items .product-item.OL-PRTNC100EN01 .product-item-info .product-image-container .product-image-photo { opacity: 0; }

.catalog-category-view #step2 .product-items .product-item.OL-PLUBM050EN01 .product-item-info .product-image-container { background: rgba(0, 0, 0, 0) url("../images/pro-pics/light-up-gridpic.jpg") no-repeat scroll center center / 100% auto; }

.catalog-category-view #step2 .product-items .product-item.OL-PLUBM050EN01 .product-item-info .product-image-container .product-image-photo { opacity: 0; }

.catalog-category-view #step2 .product-items .product-item.OL-PHEGT100EN01 .product-item-info .product-image-container { background: rgba(0, 0, 0, 0) url("../images/pro-pics/heroine-gridpic.jpg") no-repeat scroll center center / 100% auto; }

.catalog-category-view #step2 .product-items .product-item.OL-PHEGT100EN01 .product-item-info .product-image-container .product-image-photo { opacity: 0; }

.catalog-category-view #step3 .product-items .product-item.OL-PTMHS030EN01 .product-item-info .product-image-container { background: rgba(0, 0, 0, 0) url("../images/pro-pics/the-most-gridpic.jpg") no-repeat scroll center center / 100% auto; }

.catalog-category-view #step3 .product-items .product-item.OL-PTMHS030EN01 .product-item-info .product-image-container .product-image-photo { opacity: 0; }

.catalog-category-view #step3 .product-items .product-item.OL-PGSNS030EN01 .product-item-info .product-image-container { background: rgba(0, 0, 0, 0) url("../images/pro-pics/goals-gridpic.jpg") no-repeat scroll center center / 100% auto; }

.catalog-category-view #step3 .product-items .product-item.OL-PGSNS030EN01 .product-item-info .product-image-container .product-image-photo { opacity: 0; }

.catalog-category-view #step4 .product-items .product-item:last-child .product-item-info .product-image-container { background: rgba(0, 0, 0, 0) url("../images/pro-pics/doitall2x.jpeg") no-repeat scroll center center / 100% auto; }

.catalog-category-view #step4 .product-items .product-item:last-child .product-item-info .product-image-container .product-image-photo { opacity: 0; }

.catalog-category-view #step4 .product-items .product-item.OL-PMCNO015EN01 .product-item-info .product-image-container { background: rgba(0, 0, 0, 0) url("../images/pro-pics/midnight-courage-gridpic.jpg") no-repeat scroll center center / 100% auto; }

.catalog-category-view #step4 .product-items .product-item.OL-PMCNO015EN01 .product-item-info .product-image-container .product-image-photo { opacity: 0; }

.product-info-tip { display: inline-block; width: 100%; vertical-align: middle; box-sizing: border-box; border: 2px solid #707070; padding: 6px 12px; font-size: 12px; line-height: 18px; letter-spacing: 0; border-top: none; }




