<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/** @var $block \Magento\Checkout\Block\Onepage\Success */
/** @var $profileSuccessViewModel \TNW\Subscriptions\Block\Checkout\ProfileSuccessViewModel */
$profileSuccessViewModel = $block->getProfileSuccessViewModel();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); // Instance of object manager
$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
$connection = $resource->getConnection();
$tableName = $resource->getTableName('tnw_subscriptions_product_subscription_profile_entity');
?>
<iframe id="cjTag" height="1" width="1" frameborder="0" scrolling="no" src="" name="cj_conversion" ></iframe>
<div class="checkout-success">
    <?php if ($block->getData('order_id')):?>
        <?php if ($block->getData('can_view_order')) :?>
            <ul>
                <li><span><?= __('Order %1 placed', sprintf('<a href="%s" class="order-number"><strong>%s</strong></a>', $block->escapeHtml($block->getViewOrderUrl()), $block->escapeHtml($block->getOrderId()))) ?></span></li>
                <?php foreach ($profileSuccessViewModel->getProfileOrders() as $profileOrder): ?>
                    <?php
                        $sql = "Select * FROM " . $tableName." Where subscription_profile_id =".$profileOrder->getSubscriptionProfileId();
                        $results = $connection->fetchAll($sql);
                        ?>

                        <?php foreach ($results as $result):?>
                           <?php 
                           $pName = $result['name'];
                           $pSku = $result['sku'];
                           $pPrice = $result['price'];
                           $pQty =  $result['qty'];
                           ?>
                        <script>
                        require(['jquery'],function($){
                            setTimeout(function(){ 
                                var pName = '<?php echo $pName?>';
                                console.log(pName);
                                var pPrice =  '<?php echo $pPrice?>';
                                var pSku ='<?php echo $pSku?>';
                                var pQty = '<?php echo $pQty?>';
                                dataLayer.push({
                                  'event': 'Subscribe',
                                   'eventLabel':pName,pPrice,
                                   'eCommerce': {
                                    'subscribe': {                     
                                    'products': [{                       
                                     'name':pName,
                                     'sku':pSku,
                                     'price':pPrice,
                                     'quantity':pQty
                                       }]
                                    }
                                  }
                                });

                             }, 1000);
                                
                        });
                        </script>
                    <?php endforeach;?>
                    <script type="text/javascript" src="https://login.dotomi.com/profile/visit/js/1_0?dtm_cid=81438&dtm_cmagic=c0e920&dtm_fid=3632&cachebuster=<?php echo(rand(1000,10000))?>"></script>    
                    
                    <li>
                        <span><?php echo /* @escapeNotVerified */ __('Subscription %1 created,', sprintf('<a href="%s" class="profile-number"><strong>%s</strong></a>', $block->escapeHtml($profileSuccessViewModel->getEditUrl($profileOrder)), $block->escapeHtml($profileSuccessViewModel->getEditLabel($profileOrder))))?></span>
                        <span><?php echo /* @escapeNotVerified */ __('next payment on '), $block->escapeHtml($profileSuccessViewModel->getNextPaymentDate($profileOrder->getSubscriptionProfileId())) ?></span>
                    </li>

                <?php endforeach; ?>
            </ul>
        <?php  else :?>
            <ul>
                <li><span><?= __('Order %1 placed', $block->escapeHtml($block->getOrderId())) ?></span></li>
                <?php foreach ($profileSuccessViewModel->getProfileOrders() as $profileOrder): ?>

                    <li>

                        <span><?php echo /* @escapeNotVerified */ __('Subscription %1 created,', $block->escapeHtml($profileSuccessViewModel->getEditLabel($profileOrder))) ?></span>
                        <span><?php echo /* @escapeNotVerified */ __('next payment on '), $block->escapeHtml($profileSuccessViewModel->getNextPaymentDate($profileOrder->getSubscriptionProfileId())) ?></span>
                    </li>
                    <?php
                        $sql = "Select * FROM " . $tableName." Where subscription_profile_id =".$profileOrder->getSubscriptionProfileId();
                        $results = $connection->fetchAll($sql);
                        ?>

                        <?php foreach ($results as $result):?>
                           <?php 
                           $pName = $result['name'];
                           $pSku = $result['sku'];
                           $pPrice = $result['price'];
                           $pQty =  $result['qty'];
                           ?>
                        <script>
                        require(['jquery'],function($){
                            setTimeout(function(){ 
                                var pName = '<?php echo $pName?>';
                                console.log(pName);
                                var pPrice =  '<?php echo $pPrice?>';
                                var pSku ='<?php echo $pSku?>';
                                var pQty = '<?php echo $pQty?>';
                                dataLayer.push({
                                  'event': 'Subscribe',
                                   'eventLabel':pName,pPrice,
                                   'eCommerce': {
                                    'subscribe': {                     
                                    'products': [{                       
                                     'name':pName,
                                     'sku':pSku,
                                     'price':pPrice,
                                     'quantity':pQty
                                       }]
                                    }
                                  }
                                });

                             }, 1000);
                                
                        });
                        </script>
                    <?php endforeach;?>
                <?php endforeach; ?>
            </ul>
            <script type="text/javascript" src="https://login.dotomi.com/profile/visit/js/1_0?dtm_cid=81438&dtm_cmagic=c0e920&dtm_fid=3632&cachebuster=<?php echo(rand(1000,10000))?>"></script> 
            <p></p>
        <?php endif;?>
        <p><?= /* @escapeNotVerified */ __('We\'ll email you an order confirmation with details and tracking info.') ?></p>
    <?php endif;?>

    <?= $block->getAdditionalInfoHtml() ?>

    <div class="actions-toolbar">
        <div class="primary">
            <a class="action primary continue" href="<?= /* @escapeNotVerified */ $block->getContinueUrl() ?>"><span><?= /* @escapeNotVerified */ __('Continue Shopping') ?></span></a>
        </div>
    </div>
</div>
<div class="m-inventory">
    <?php
        $lid = $block->getOrderId();
        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
        $order = $objectManager->create('Magento\Sales\Model\Order')->loadByIncrementId($lid);
        $items=$order->getAllItems();
        $productSkus = array();
        $productQuants = array();
        $productPrices = array();
        $discount = array();
        $index = 0;
        foreach($items as $_item):
           $_product = $objectManager->create('Magento\Catalog\Model\Product')->load($_item->getProductId());
            $productSkus[$index] = $_product->getSku();
            $productQuants[$index] = $_item->getQtyOrdered();
            $productPrices[$index] = $_item->getPrice();
            $discount[$index] = $_item->getDiscountAmount();
            $index += 1; 
        endforeach;
        $coupon = $order->getCouponCode();
        //$itemMethods = get_class_methods($_item);
    ?>
</div>

<script type="text/javascript">
    //Converting PHP arrays/variables into Javascript arrays/variables
    var skus = <?php echo json_encode($productSkus); ?>;
    var quants = <?php echo json_encode($productQuants); ?>;
    var prices = <?php echo json_encode($productPrices); ?>;
    var OID = <?php echo $lid ?>;
    var discounts = <?php echo json_encode($discount) ?>;
    var couponCode = "<?php echo $coupon ?>";
    if (couponCode == "") {couponCode = "null"};
// parsing order details into string for iframe tag (only for advanced actions)
    var cartString = "";
    for (i=0; i < skus.length; i++) {
        var j = i+1;
        cartString += "&ITEM" + j + "=" + skus[i] + "&AMT" + j + "=" + prices[i] + "&QTY" + j + "=" + Math.trunc(quants[i]) + "&DCNT" + j + "=" + discounts[i];
    };

// Converting iframe tag to a variable
    var tag = document.querySelector("iframe");

// Grabbing timestamp from page and converting it to UTC and proper format
    var now = new Date();
    var timeStamp = now.toISOString();
    
// Read cookie, you can pass this function into the tag, i.e. CJEVENT=readCookie('cjevent')
     function readCookie(name) {
         var nameEQ = name + "=";
         var ca = document.cookie.split(';');
         for(var i=0;i < ca.length;i++) {
         var c = ca[i];
         while (c.charAt(0) === ' ') {
              c = c.substring(1,c.length);
        }
        if (c.indexOf(nameEQ) === 0) {
            return c.substring(nameEQ.length,c.length);
        }
    }
    return null;
}

var cjEventID = readCookie('cjevent');
    
// Insert variables into the iframe
    tag.setAttribute("src","https://www.emjcd.com/tags/c?containerTagId=35986&TYPE=418685&CID=1558660" + cartString + "&OID=" + OID + "&CURRENCY=USD&COUPON="+couponCode+"&CJEVENT=" +cjEventID);
</script>
<script>
    require([
        'Magento_Customer/js/customer-data'
        ], function (customerData) {
        var sections = ['cart'];
        customerData.invalidate(sections);
    });
</script>
