<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
$getBaseUrl = $this->getBaseUrl();
?>

<div class="header-topbar">
	<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('psa-top-label')->toHtml();?>
</div>

<div id="custom-header" class="custom-header-cont">
	
	<div class="header-container">		
		<div class="logo-menu-bar">
			
			<div class="menu-toogler" style="display: none;"><img src="https://alliesofskin.com/pub/media/wysiwyg/Psa/mobile-menu.svg" alt=""></div>
			
			<div class="menu-section">
				<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('psa-header-menu')->toHtml();?>
			</div>
			
			<div class="main-logo"><?php echo $this->getChildHtml("logo"); ?></div>
		</div>
		
		<div class="header-fixed-options">
			
			<div class="header-opt">				
				
				<div class="header-opt-boxes">
					
					<div class="box-opt user-box">
						<div class="on-user-icon-click-show-box">
							<a href="<?php echo $getBaseUrl.'customer/account/login' ?>"><img src='<?php echo $this->getViewFileUrl('images/user-icon.svg'); ?>' alt="user"></a>
						</div>
                    </div>
                    
                    
						<div class="on-user-icon-click-show" style="display: none;">
							<!-- <?php echo $this->getChildHtml("headerLinks"); ?>
							<?php echo $this->getChildHtml("headerPanel"); ?>
							<?php echo $this->getChildHtml("top.links"); ?> -->
							<?php if(!$customerSession->isLoggedIn()): ?>
								<ul class="header links custom-register">
									<li class="authorization-link register-link">
										<a href="javascript: void(0);" class="custom-sign-up">sign up </a>
									</li>
								</ul>
								<ul class="header links custom-register">
									<li class="order-return">
										<a href="<?php echo $getBaseUrl.'alliesofskin/guest/login/' ?>">Order Return</a>
									</li>
								</ul>
							<?php endif; ?>
						</div>
					
					<div class="box-opt minicart-box">
						<?php echo $this->getChildHtml("minicart"); ?>
					</div>
					
					<div class="box-opt chat-box">
						<a href="#"><img src='<?php echo $this->getViewFileUrl('images/chat-icon.svg'); ?>' alt="chat"></a>
					</div>
					
					<div class="box-opt diamond-box">
						<a href="#"><img src='<?php echo $this->getViewFileUrl('images/dimond-icon.svg'); ?>' alt="chat"></a>
					</div>
                    <?php if($customerSession->isLoggedIn()):?>
                        <div class="box-opt user-box logoutbox">
                            <div class="on-user-icon-click-show-box">
                                <a href="<?php echo $getBaseUrl.'customer/account/logout' ?>"><img src='<?php echo $this->getViewFileUrl('images/logout-icon.svg'); ?>' alt="user"></a>
                            </div>
                        </div>
                    <?php endif;?>
				 
				</div>

			</div>
		</div>
	
		<!--div class="header-menu-new">
			<?php //echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('desktop_menu')->toHtml();?>
		</div--><!-- header-menu-new -->
	
		<div class="removefloat"></div>	
	</div>
</div>

<style>
.catalog-product-view .shareyourstore {display: none;}	
.main-logo .logo img { height: auto; }
.slide-left-sec { min-height: 1080px !important; background-attachment: fixed !important;  background-repeat: no-repeat !important;}
.catalog-product-view #related-product-sec .product-item-info { margin: 0; }  
    


/*for safari browser*/
@media not all and (min-resolution:.001dpcm) { @media
    {
        .catrgory-main-heading .step-text{ margin-top: 8px !important; line-height: 24px !important;}
        .menu-bar .menu-item a {padding-top: 5px;}
        
    }}
/*for safari browser*/

/*tester feedback point*/
    .precheckourstory .modalbox {min-height: 270px;}
    .psaRetailers .retailercontent .listing p {width: auto !important;}
    .psaRetailers li:first-child .retailercontent .listing p {width: 33% !important;}
    .category-view #layered-filter-block li a {font-size: 14px; letter-spacing: 1px;}
    .pro_action .action.towishlist {font-size: 0px;}
    .pro_action .action.tocompare {font-size: 0px;}
    
    .bss_quickview-catalog_product-view .pro-review-cont #stamped-main-widget .stamped-reviews .stamped-pagination {display: none;}
    .products.list.items.product-items li:nth-child(3) {margin-top: -5px;}
    .products.list.items.product-items li:nth-child(4) {margin-top: -5px;}
    .product-item {vertical-align: unset;}
    .breadcrumbs {padding-bottom: 0px; margin-top: -20px;}
/*tester feedback point*/
    
    
/*product-gifted*/
    .product-gifted .key-ingredients-list li {width: 33%;}
    .product-gifted .key-ingredients-list li label {height: 55px;}
    .product-gifted .purpose-list li label {height: 55px;}
    .product-gifted .htu-step-list li {border-bottom: none;}
    .product-gifted #related-product-sec .product-item-details .pro_action .pro_price_sec {border-right: 0px;}
    .columns .main .products-grid.products .product-items.products .product-item .product-item-details .product-feat {min-height: 68px; max-height: 200px;}
    .catalog-product-view #related-product-sec .product-item-details .pro_action .pro_price_sec {border-right: 0;}
/*product-gifted*/
    
/*  new changes by hit date 15-6  */
	.header-fixed-options.scrolled,.cms-home .header-fixed-options.scrolled {top: 80px;	}
	div#custom-header.sticky { position: fixed;top: 0; width: 100%;z-index: 10;}
	.catalogsearch-result-index .columns .main .products-grid.products .product-items.products .product-item{margin-left: 0;}
	.catalogsearch-result-index .columns .main .products-grid.products .product-items.products .product-item .product-item-details .pro_action .product-item-inner .product-item-actions button.action.tocart img{max-width: 100%;}	
	#minicart-content-wrapper .minicart-items-wrapper {max-height: 100% !important;height: 100% !important;}
	.minicart-wrapper .block-minicart {height: 99vh;overflow-y: auto;}
@media(min-width:1024px){
	.checkout-cart-configure .product-info-customsidebar .box-tocart .field.qty {display: inline-block;width: auto;}
	.checkout-cart-configure .product-info-customsidebar .box-tocart .field.qty input.qty{width:100%}
	.checkout-cart-configure .product-info-customsidebar {max-width: 160px;}
	.checkout-cart-configure .product-info-customsidebar .actions {border-top-width: 2px;}
	.checkout-cart-configure .product-info-customsidebar .actions button {height: 76px;}
}
.checkout-cart-configure .product-info-customsidebar .actions button {color: #000;}
	.checkout-cart-configure .product-info-customsidebar .actions button:hover {color: #fff;}
</style>
	

<script>
require(
    ['jquery'], 
        function($) { 
           
            // When the user scrolls the page, execute myFunction
			window.onscroll = function() {myFunction()};

			// Get the header
			var header = document.getElementById("custom-header");

			// Get the offset position of the navbar
			var sticky = header.offsetTop;

			// Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
			function myFunction() {
			  if (window.pageYOffset > sticky) {
			    header.classList.add("sticky");
			  } else {
			    header.classList.remove("sticky");
			  }
			}
        });
</script>

