<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?= /* @escapeNotVerified */ $block->getMiscellaneousHtml(); ?>

<a href="javascript: void(0);" id="toTop"><span class="back-to-top"><?= __("Back To Top") ?></span></a>
