<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
?>
<div id="custom-header-id" class="customDiv">
	<div class="header-label">
		<?php echo $this->getChildHtml("header_label"); ?>
	</div>
	<div class="menu-over-banner">
		<div class="menu-over-banner-container">
			<div class="menu-section">
				 <?php echo $this->getChildHtml("header_menu"); ?>
				 <div class="slide-menu-show">
				 	<div class="slide-menu-show-conatiner">
					 <?php echo $this->getChildHtml("slide_menu"); ?>
					 <?php echo $this->getChildHtml("headerLinks"); ?>
					 <?php if(!$customerSession->isLoggedIn()): ?>
	   					<ul class="header links custom-register">
						 	<li class="authorization-link register-link">
						 		<a href="javascript: void(0);" class="custom-sign-up">sign up for allies underground</a>
						 	</li>
						</ul>
					 <?php endif; ?>
					 
					</div>
				 </div>
				 <div class="menu-overlay"></div>
        		<?php echo $this->getChildHtml("minicart"); ?>
			</div>
			
		</div>
	</div>
	<div class="removefloat"></div>
</div>