<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
$getBaseUrl = $this->getBaseUrl();
?>

<div class="header-topbar">
	<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('psa-top-label')->toHtml();?>
</div>

<div id="custom-header" class="custom-header-cont">
	
	<div class="header-container">		
		<div class="logo-menu-bar">			
			<div class="menu-section">
				<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('psa-header-menu')->toHtml();?>
			</div>
			
			<div class="main-logo"><?php echo $this->getChildHtml("logo"); ?></div>

		</div>
		
		<div class="header-fixed-options">
			
			<div class="header-opt">				
				
				<div class="header-opt-boxes">
					
					<div class="box-opt user-box">
						<div class="on-user-icon-click-show-box">
							<a href="<?php echo $getBaseUrl.'customer/account/login' ?>"><img src='<?php echo $this->getViewFileUrl('images/user-icon.svg'); ?>' alt="user"></a>
						</div>
                    </div>
                    <?php if($customerSession->isLoggedIn()):?>
                        <div class="box-opt user-box">
                            <div class="on-user-icon-click-show-box">
                                <a href="<?php echo $getBaseUrl.'customer/account/logout' ?>"><img src='<?php echo $this->getViewFileUrl('images/logout-icon.svg'); ?>' alt="user"></a>
                            </div>
                        </div>
                    <?php endif;?>
                    
						<div class="on-user-icon-click-show" style="display: none;">
							<!-- <?php echo $this->getChildHtml("headerLinks"); ?>
							<?php echo $this->getChildHtml("headerPanel"); ?>
							<?php echo $this->getChildHtml("top.links"); ?> -->
							<?php if(!$customerSession->isLoggedIn()): ?>
								<ul class="header links custom-register">
									<li class="authorization-link register-link">
										<a href="javascript: void(0);" class="custom-sign-up">sign up </a>
									</li>
								</ul>
								<ul class="header links custom-register">
									<li class="order-return">
										<a href="<?php echo $getBaseUrl.'alliesofskin/guest/login/' ?>">Order Return</a>
									</li>
								</ul>
							<?php endif; ?>
						</div>
					
					<div class="box-opt minicart-box">
						<?php echo $this->getChildHtml("minicart"); ?>
					</div>
					
					<div class="box-opt chat-box">
						<a href="#"><img src='<?php echo $this->getViewFileUrl('images/chat-icon.svg'); ?>' alt="chat"></a>
					</div>
					
					<div class="box-opt diamond-box">
						<a href="#"><img src='<?php echo $this->getViewFileUrl('images/dimond-icon.svg'); ?>' alt="chat"></a>
						<?php echo $this->getChildHtml("storeswitcher"); ?>
        		<?php echo $this->getChildHtml("storelang"); ?>
					</div>


				 
				</div>

			</div>
		</div>
	
		<!--div class="header-menu-new">
			<?php //echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('desktop_menu')->toHtml();?>
		</div--><!-- header-menu-new -->
	
		<div class="removefloat"></div>	
	</div>
</div>

<style>

    .slide-left-sec { min-height: 1080px !important; background-attachment: fixed !important;  background-repeat: no-repeat !important;}
  
    


/*for safari browser*/
@media not all and (min-resolution:.001dpcm) { @media
    {
        .catrgory-main-heading .step-text{ margin-top: 8px !important; line-height: 24px !important;}
        .menu-bar .menu-item a {padding-top: 5px;}
        
    }}
/*for safari browser*/

</style>
	

