<?php /* @var \TNW\Subscriptions\Block\Subscription\Summary\Overview\Status $block */ ?>

<div class="block-status">
    <div class="title"><?php echo __('Status')?></div>
    <div class="value"><?php echo $block->getStatusLabel() ?></div>
</div>
