<?php if( $block->getEyeCaringCollection() && $block->getEyeCaringCollection()->getSize() ): ?>
<?php
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$currencysymbol = $objectManager->get('Magento\Store\Model\StoreManagerInterface');
	$currencyCode = $currencysymbol->getStore()->getCurrentCurrencyCode();
	$currency = $objectManager->create('Magento\Directory\Model\CurrencyFactory')->create()->load($currencyCode);
	$abstractProductBlock = $block->getLayout()->createBlock('\Magento\Catalog\Block\Product\AbstractProduct');
?>
<div class="eye-care-container">
	<?php foreach ($block->getEyeCaringCollection() as $product): ?>

		<?php
			$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
			$contentParser = $objectManager->get('Magento\Cms\Model\Template\FilterProvider');
			$productImage = $this->helper('Magento\Catalog\Helper\Image')
			    ->init($product, 'subscribe_landing')
			    ->setImageFile($product->getCustomAttribute('subscribe_landing')->getValue());
			$productCustomImage = $product->getData('subscribe_landing');
			$store = $objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore();
			$productImage = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'catalog/product' . $productCustomImage;
			$productWithNoImage = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA).'wysiwyg/Psa/psa-placeholder-image.jpg';	
			$productId = $product->getId(); 
		?>
		<div class="eye-care-container-list">
				<div class="eye-care-product-media">
					<img src="<?= $block->escapeUrl($productImage) ?>" alt="<?= $block->escapeUrl($product->getTitle()) ?>" />
				</div>
				<div class="eye-care-product-info-main">
					<h4 class="product-name"><?= $block->escapeHtml($product->getName()) ?></h4>
					<h6 class="product-overview">Product overview</h6>
					<p class="product-discription"><?= $block->escapeHtml($product->getProductOverview()) ?></p>
					<a href="<?= $block->escapeHtml($product->getProductUrl()) ?>" class="buy-now-btn">Buy Now</a>
				</div>
		</div>
		<div class="product-benefits">
			<?php echo $objectManager->get('Magento\Cms\Model\Template\FilterProvider')->getPageFilter()->filter($product->getProductBenefits());?>
		</div>
	<?php endforeach; ?>

<div class="Firming-container">
	<h1 class="Firming-container-heading">Firming Duo</h1>
	<?php echo $this->getLayout()
          ->createBlock('Magento\Cms\Block\Block')
          ->setBlockId('firming_duo')
          ->toHtml();
?>
	<?php foreach ($block->getFirmingDuoCollection() as $product): ?>

		<?php
			
			$postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
			$postData = $postDataHelper->getPostData($block->getAddToCartUrl($product), ['product' => $product->getId()]);
			$postParams = json_decode($postData, true);
			$imageType = 'product_base_image';
			$buttonTitle = $block->escapeHtml(__('Add to Bag'));
			$width = 266;
			$height = 500;
			$resizedImageUrl = $block->resizeImage($product, 'product_small_image',$width, $height)->getUrl();

		    $productId = $product->getId();
		?>
		<div class="home-page-product-list item product product-item">
			<form data-role="tocart-form" class="custom_addto_form" action="<?= /* @escapeNotVerified */ $block->getAddToCartUrl($product) ?>" method="post">
				<?= $block->getBlockHtml('formkey') ?>
				<input type="hidden" name="product" value="<?= /* @escapeNotVerified */ $product->getId() ?>">
				<input type="hidden" name="<?= /* @escapeNotVerified */ Magento\Framework\App\Action\Action::PARAM_NAME_URL_ENCODED; ?>" value="<?= $postParams['data'][Magento\Framework\App\Action\Action::PARAM_NAME_URL_ENCODED]; ?>">
				<a href="<?= /* @escapeNotVerified */ $product->getProductUrl() ?>">
				<img src="<?= $block->escapeUrl($resizedImageUrl) ?>" alt="<?= $block->escapeUrl($product->getTitle()) ?>" />
				<h4 class="product-name"><?= $block->escapeHtml($product->getName()) ?>
				</h4>
				 <?php if($product->getResource()->getAttribute('category_below_content')->getFrontend()->getValue($product)): ?>       
                            <span class="product-short-dec">
                                <?php echo $product->getResource()->getAttribute('category_below_content')->getFrontend()->getValue($product);?>
                            </span>
                 <?php endif; ?>
				<span class="stamped-product-reviews-badge" data-id="<?php echo $product->getId() ?>" style="display: block;" product_url = <?= /* @escapeNotVerified */ $product->getProductUrl() ?>></span>
				</a>
				<div class="attribute product-attr <?php if( isset($block->getOptions($product)->getData()[0]) ): ?>align-both<?php endif; ?>" data-symbol="<?= $currency->getCurrencySymbol() ?>">
					<?php if( isset($block->getOptions($product)->getData()[0]) ): ?>
						<?php $name = $block->getOptions($product)->getData()[0]['option_id'] ?>
						<div class="options product-option">
							<select name="options[<?= $name ?>]" id="select_<?= $name ?>" data-selector="options[<?= $name ?>]" class="select-options">
								<?php foreach($block->getOptions($product) as $option): ?>
									<?php foreach ($option->getValues() as $value): ?>
										<option value="<?= $value->getData('option_type_id') ?>" price="<?= number_format($value->getData('price'), 0) ?>"><?= $value->getData('default_title') ?></option>
									<?php endforeach; ?>
								<?php endforeach; ?>
							</select>
						</div>
						<?php  ?>
						<span class="separator"></span>
					<?php endif; ?>
					<?php if($product->getResource()->getAttribute('product_size')->getFrontend()->getValue($product)): ?>
						<span class="product-volume-attr">
							<?php echo $product->getResource()->getAttribute('product_size')->getFrontend()->getValue($product);?>
						</span>
					<?php endif; ?>
					<span class="separator"></span>
					<div class="product-price old-price">
						<?= $abstractProductBlock->getProductPrice($product) ?>
					</div>
					<div class="subscribe-container">
						<a class="subscribe-btn" href="<?= $block->escapeUrl($product->getProductUrl()) ?>">Subscribe</a>
					</div>	
					
				</div>
				<div class="product actions product-item-actions">
					<div class="actions-primary">
						<div class="actions">
						    <button type="submit" title="Add to Bag" class="action tocart primary"><span>Add to Bag</span></button>
						</div>
					</div>
				</div>
			</form>
		</div>
	<?php endforeach; ?>
</div>
<?php echo $this->getLayout()
          ->createBlock('Magento\Cms\Block\Block')
          ->setBlockId('product_bottom_desktop_banner')
          ->toHtml();
?>

</div>


<?php endif; ?>
