<div class="container">
<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('Homepage_popup')->toHtml();?>
<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('psa-home-slider')->toHtml();?>
<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('psa-simple-steps')->toHtml();?>
</div>
<div class="psaprechecksection">
	<div class="container">
		<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('psa-home-precheck-section')->toHtml();?>
	</div>
</div>
<!--
<div class="beengossiping">
	<div class="container">
		<?php //echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('psa-been-gossiping-section')->toHtml();?>
	</div>
</div>
-->
<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('share-your-itgetsbetter-story')->toHtml();?>
