<?php if( $block->getProductCollection() && $block->getProductCollection()->getSize() ): ?>
<?php
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$currencysymbol = $objectManager->get('Magento\Store\Model\StoreManagerInterface');
	$currencyCode = $currencysymbol->getStore()->getCurrentCurrencyCode();
	$currency = $objectManager->create('Magento\Directory\Model\CurrencyFactory')->create()->load($currencyCode);
	$abstractProductBlock = $block->getLayout()->createBlock('\Magento\Catalog\Block\Product\AbstractProduct');
	$moduleManager = $objectManager->get('\Magento\Framework\Module\Manager');
	
?>

<ul class="owl-carousel owl-theme supercharged-box">
	<?php foreach ($block->getProductCollection() as $product): ?>

		<?php
			
			$postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
			$postData = $postDataHelper->getPostData($block->getAddToCartUrl($product), ['product' => $product->getId()]);
			$postParams = json_decode($postData, true);
			$imageType = 'product_base_image';
			$buttonTitle = $block->escapeHtml(__('Add to Bag'));
			$width = 450;
			$height = 860;
			$resizedImageUrl = $block->resizeImage($product, 'product_small_image',$width, $height)->getUrl();
			$blockObj= $block->getLayout()->createBlock('Amasty\Xnotif\Block\Catalog\Category\StockSubscribe');
			 /** @var Magento\Framework\Url\Helper\Data $urlHelper */
		    $urlHelper = $this->helper('Magento\Framework\Url\Helper\Data');
		    /** @var Amasty\Xnotif\Helper\Data $helper */
		    $helper = $this->helper('Amasty\Xnotif\Helper\Data');

		    $productId = $product->getId();
		    $parentId = (int)$blockObj->getData('parent_product_id');
		    $url = $blockObj->escapeHtml($helper->getEmailUrl('stock'));
		    $usePopup = $blockObj->usePopupForSubscribe();
		    $subscribeLinkTag = $usePopup ? 'a' : 'label';
		?>
		<li class="home-page-product-list item product product-item">
			<form data-role="tocart-form" class="custom_addto_form" action="<?= /* @escapeNotVerified */ $block->getAddToCartUrl($product) ?>" method="post">
				<?= $block->getBlockHtml('formkey') ?>
				<input type="hidden" name="product" value="<?= /* @escapeNotVerified */ $product->getId() ?>">
				<input type="hidden" name="<?= /* @escapeNotVerified */ Magento\Framework\App\Action\Action::PARAM_NAME_URL_ENCODED; ?>" value="<?= $postParams['data'][Magento\Framework\App\Action\Action::PARAM_NAME_URL_ENCODED]; ?>">
				<a href="<?= $block->escapeUrl($product->getProductUrl()) ?>"><img src="<?= $block->escapeUrl($resizedImageUrl) ?>" alt="<?= $block->escapeUrl($product->getTitle()) ?>" /></a>
				<h4 class="product-name"><a href="<?= $block->escapeUrl($product->getProductUrl()) ?>"><?= $block->escapeHtml($product->getName()) ?></a>
				</h4>
				<span class="stamped-product-reviews-badge" data-id="<?php echo $product->getId() ?>" style="display: block;" product_url = <?= /* @escapeNotVerified */ $product->getProductUrl() ?>></span>
				<div class="attribute product-attr <?php if( isset($block->getOptions($product)->getData()[0]) ): ?>align-both<?php endif; ?>" data-symbol="<?= $currency->getCurrencySymbol() ?>">
					<?php if( isset($block->getOptions($product)->getData()[0]) ): ?>
						<?php $name = $block->getOptions($product)->getData()[0]['option_id'] ?>
						<div class="options product-option">
							<select name="options[<?= $name ?>]" id="select_<?= $name ?>" data-selector="options[<?= $name ?>]" class="select-options">
								<?php foreach($block->getOptions($product) as $option): ?>
									<?php foreach ($option->getValues() as $value): ?>
										<option value="<?= $value->getData('option_type_id') ?>" price="<?= number_format($value->getData('price'), 0) ?>"><?= $value->getData('default_title') ?></option>
									<?php endforeach; ?>
								<?php endforeach; ?>
							</select>
						</div>
						<?php  ?>
						<span class="separator"></span>
					<?php endif; ?>
					<?php if($product->getResource()->getAttribute('product_size')->getFrontend()->getValue($product)): ?>
						<span class="product-volume-attr">
							<?php echo $product->getResource()->getAttribute('product_size')->getFrontend()->getValue($product);?>
						</span>
					<?php endif; ?>
					<span class="separator"></span>
					<div class="product-price">
						<?= $abstractProductBlock->getProductPrice($product) ?>
					</div>
					
					
				</div>
				<div class="removefloat"></div>
				<?php if($product->isSaleable()): ?>
					<div class="actions add-to-cart">
						<?php if($product->getTypeId() == 'bundle'): ?>
							<a class="action tocart primary" href="<?= $block->escapeUrl($product->getProductUrl()) ?>"><?= __("ADD TO BAG") ?></a>
						<?php else: ?>
						    <!-- <button type="submit" title="<?= /* @escapeNotVerified */ $buttonTitle ?>" class="action tocart primary">
						        <span><?= /* @escapeNotVerified */ $buttonTitle ?></span>
						    </button> -->
						    <div class="product-item-inner">
						  <?php 
							    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
							    $StockState = $objectManager->get('\Magento\CatalogInventory\Api\StockStateInterface');
							    $qty = $StockState->getStockQty($product->getId());    
							
							?>
							<?php if($qty > 0):?>
						    <button type="submit" title="<?= $block->escapeHtml(__('Add to Bag')) ?>" class="action tocart primary"><span><?= /* @escapeNotVerified */ __('Add to Bag') ?></span></button>
						    <?php else:?>
						    <button type="submit" title="<?= $block->escapeHtml(__('Add to Bag')) ?>" class="action tocart primary"><span><?= /* @escapeNotVerified */ __('Add to Bag') ?></span></button>
						    <?php endif; ?>
						     
						</div>
						<?php if($product->getId() != 46 || $product->getId() != 48):?>
                                <div class="subscribe-btn">
                                        <a href='<?php echo $product->getProductUrl()?>'>Subscribe</a>
                                </div>
                              <?php endif;?>
						     <?php if($product->getResource()->getAttribute('pre_date_message')->getFrontend()->getValue($product)):?>
				                <?php echo $product->getResource()->getAttribute('pre_date_message')->getFrontend()->getValue($product);?>
				            <?php endif;?>
						<?php endif; ?>
	       			</div>
	       			<!-- <div class="wishlist-box">
						<a href="#" data-post='<?php  echo $this->helper('Magento\Wishlist\Helper\Data')->getAddParams($product) ?>' class="action towishlist" data-action="add-to-wishlist"><?= __('Add to Wish List') ?></a>
					</div> -->
	       		<?php else: ?>
		            <?php if ($product->isAvailable()): ?>
		                <div class="stock available"><span><?= /* @escapeNotVerified */ __('In stock') ?></span></div>
		            <?php else: ?>
		            	<?php if($moduleManager->isEnabled('Amasty_Xnotif')):?>
		            	<div class="amxnotif-container" data-product-id="<?= $productId ?>">
						    <div class="amxnotif-block label<?php if ($usePopup) echo " subscribe-popup" ?>">
						        <<?= $subscribeLinkTag ?> for="notification-container-<?= $productId ?>">
						            <?= /* @escapeNotVerified */
						            __('Notify Me When Back In Stock') ?>
						        </<?= $subscribeLinkTag ?>>
						    </div>
						    <div  style="display:none;" class="category amxnotif-block<?php if ($usePopup) echo " subscribe-popup" ?>" data-action="<?= $url; ?>">
						        <form class="form-for-swatches-inputs-fix"></form>
						        <form id="form-validate-stock-<?= $productId ?>"<?php if ($usePopup) echo "class='subscribe-popup'" ?> method="post"
						              action="<?= $url; ?>">
						            <?php if ($usePopup) : ?>
						                <label for="notification-container-<?= $productId ?>" style="color: #2f2f2f;font-size: 18px;letter-spacing: 0.5px;text-align: center;">
						                    <?= /* @escapeNotVerified */
						                    __('Sign up to be notified') ?>
						                </label>
						            <?php endif; ?>
						            <div class="notification-container" id="notification-container-<?= $productId ?>">
						                <div class="input-fields fieldset">
						                    <input name="guest_email"
						                           class="input-text amxnotif-guest-email"
						                           id="amxnotif-guest-email-<?= $productId ?>"
						                           size="30"
						                           type="email"
						                           data-validate="{required:true, 'validate-email':true}"
						                    />
						                    <input type="hidden" name="product_id"
						                           value="<?= $productId ?>"/>
						                    <input type="hidden" name="type" value="email"/>

						                    <?php if ($parentId) : ?>
						                        <input type="hidden" name="parent_id"
						                               value="<?= $parentId ?>"/>
						                    <?php endif; ?>

						                    <input type="hidden"
						                           name="<?= \Magento\Framework\App\Action\Action::PARAM_NAME_URL_ENCODED ?>"
						                           value="<?= $urlHelper->getEncodedUrl() ?>"/>

						                    <?php if ($helper->isGDRPEnabled()) : ?>
						                        <div class="field required">
						                            <label class="label" for="amxnotif-stock-gdrp-<?= $productId ?>">
						                                <input type="checkbox"
						                                       name="gdrp"
						                                       id="amxnotif-stock-gdrp-<?= $productId ?>"
						                                       title="<?= __('GDRP'); ?>"
						                                       data-validate="{required:true}"
						                                       value="1">
						                                <?= $helper->getGDRPText(); ?>
						                            </label>
						                        </div>
						                    <?php endif; ?>
						                </div>

						                <div class="actions-toolbar amxnotif_guest_action">
						                    <div class="primary">
						                        <button type="submit" class="action submit primary<?php if (!$usePopup) echo " amsubscribe"?>">
						                            <?php if ($usePopup) echo __('Subscribe'); ?>
						                        </button>
						                    </div>
						                </div>
						                <?php if ($usePopup) : ?>
						                    <span class="close-subscribe-popup">&times;</span>
						                <?php endif; ?>
						            </div>
						        </form>
						    </div>
						</div>
					<?php endif; ?>
		                <!-- <div class="stock unavailable"><span><?= /* @escapeNotVerified */ __('Out of stock') ?></span></div> -->
		            <?php endif; ?>
	       		<?php endif; ?>
       		</form>
		</li>
	<?php endforeach; ?>
</ul>
<script type="text/javascript">
	require(
    ['jquery', 'jquery/ui', 'owlcarousel'], 
    function($) {
    	$('ul.supercharged-box').owlCarousel({
                loop: false,
                margin: 0,
                slideSpeed: 1500,
                dots: false,
                items: 3,
                scrollPerPage: true,
                lazyLoad: true,
                nav: true,
                slideBy: 3,
                autoplay:false,
                responsiveClass: true,
                responsive : {
                    0: {
                        items: 1,
                        loop: false,
                        margin: 0,
                        slideBy: 1
                    },
                    600: {
                        items: 3,
                        loop: false,
                        margin: 0,
                        slideBy: 3
                    },
                    1000: {
                        items: 3,
                        loop: false,
                        margin: 0,
                        slideBy: 3
                    }
                },
                 afterAction: function(){
                  if ( this.itemsAmount > this.visibleItems.length ) {
                    $('.next').show();
                    $('.prev').show();

                    $('.next').removeClass('disabled');
                    $('.prev').removeClass('disabled');
                    if ( this.currentItem == 0 ) {
                      $('.prev').addClass('disabled');
                    }
                    if ( this.currentItem == this.maximumItem ) {
                      $('.next').addClass('disabled');
                    }

                  } else {
                    $('.next').hide();
                    $('.prev').hide();
                  }
                }

        });
    });
</script>
<script type="text/javascript">
    require([
        'jquery',
        "mage/mage",
        "mage/validation"
    ], function ($) {
        "use strict";
        $('#form-validate-stock-<?= $productId ?>').mage('validation');
    });
</script>

<script type="text/x-magento-init">
    {
        ".custom_addto_form": {
            "catalogAddToCart": {
                "bindSubmit": true
            }
        },
        "*": {
	        "Magento_Ui/js/core/app": {
	            "components": {
	                "wishlist": {
	                    "component": "Magento_Wishlist/js/view/wishlist"
	                }
	            }
	        }
    	}
    }
</script>
<?php endif; ?>
<style type="text/css">
	.cms-home .action.tocart.primary span {
	line-height: 38px !important;
}
.subscribe-btn a {
    overflow: visible !important;
    text-decoration: unset;
}
.subscribe-btn {
    min-width: 164px;
    display: inline-block;
    border: 1px solid #000;
    cursor: pointer;
    text-decoration: none;
    margin-top: 15px;
    vertical-align: middle;
    line-height: 38px;
}
.home-page-product-list .add-to-cart .action.tocart.primary {
    display: inline-block !important;
}
</style>