<?php
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$mediaUrl = $objectManager->get('Magento\Store\Model\StoreManagerInterface')
                    ->getStore()
                    ->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
?>
<div class="container">
<div class="ourstorysection">
	
	<div class="storynavigation">
		<ul>
			<li><a href="#psathebrand">PSA THE BRAND</a></li>
			<li><a href="#">KNOW US</a></li>
			<li><a href="#psadifference">PSA DIFFERENCE</a></li>
			<li><a href="#psaprecheck">PSA PRECHECK™</a></li>
			<li><a href="#psallin">PS ALL IN</a></li>
		</ul>
	</div>
	
	<div class="storyrightsection">
		
		<div class="ourstorybanner mainbanner">
            <div class="storymainbanner"><img src="<?php echo $mediaUrl; ?>wysiwyg/Psa/ourstory/new-our-story-01.jpg" alt="" /></div>
        </div>
    
		<div class="ourstorybanner bottombanner">
			<div class="topheading">
				<h2 data-aos="fade-left" data-aos-delay="1000"><span class="backstrip">PSA ISN’T JUST</span><br /> <span class="backstrip">OUR NAME,</span><br /> <span class="backstrip">IT’S OUR MISSION.</span></h2>
			</div>
			<div class="storymainbanner visibility"><img src="<?php echo $mediaUrl; ?>wysiwyg/Psa/ourstory/stands-for-purposeful.jpg" alt="" /></div>
			
			<div class="bottomheading">
				<h2 data-aos="fade-right" data-aos-delay="2000"><span class="backstrip">PSA stands for</span><br /> <span class="backstrip">Purposeful Skincare</span><br /> <span class="backstrip">by Allies </span></h2>
			</div>
		</div>
		
		<div class="bannerbtmsection">
			<div id="psathebrand" class="screenposterone">
				<div class="content">
					<h2 data-aos="fade-left" data-aos-delay="2000"><span class="backstrip count">001.</span><br /> <span class="backstrip">We’re a skincare brand</span><br /> <span class="backstrip">driven by purpose</span></h2>
				</div>
				
				<div class="screenposter fr"><img src="<?php echo $mediaUrl; ?>wysiwyg/Psa/ourstory/new-Our_Story_001-c.jpg" alt="" data-aos="fade-down" data-aos-delay="1000"/></div>
				
				<div class="clr"></div>
			</div>
			
			<div class="screenposterone screenposterS">
				<div class="content positionright postiontop">
					<h2 data-aos="fade-left" data-aos-delay="6000"><span class="backstrip count">002.</span><br /> <span class="backstrip">We serve every kind</span><br /> <span class="backstrip">of skin type, colour</span><br /> <span class="backstrip">and condition</span></h2>
				</div>
				
				<div class="screenposter fl" data-aos="fade-up" data-aos-delay="4000"><img src="<?php echo $mediaUrl; ?>wysiwyg/Psa/ourstory/new-our-story-03.jpg" alt="" /></div>
				
				<div class="clr"></div>
			</div>
			
			<div class="screenposterone screenposterT">
				<div class="content screenposterTpostion">
					<h2 data-aos="fade-left" data-aos-delay="5000"><span class="backstrip count">003.</span><br /> <span class="backstrip">Skincare should be</span><br /> <span class="backstrip">effective but also enjoyable.</span></h2>
				</div>
					
				<div class="screenposter fr" data-aos="fade-down" data-aos-delay="6000"><img src="<?php echo $mediaUrl; ?>wysiwyg/Psa/ourstory/new-our-story-04.jpg" alt="" /></div>
				
				<div class="clr"></div>
			</div>
			
			<div class="screenposterone screenposterF">
				<div class="content positionright postionfour">
					<h2 data-aos="fade-left" data-aos-delay="7000"><span class="backstrip count">004.</span><br /> <span class="backstrip">We don’t want you</span><br /> <span class="backstrip">to have to choose</span><br /> <span class="backstrip">between your skincare</span><br /> <span class="backstrip">routine and paying</span><br /> <span class="backstrip">your bills.</span><br /> <span class="backstrip">That’s not fun.</span></h2>
				</div>
				
				<div class="screenposter fl" data-aos="fade-down" data-aos-delay="8000"><img src="<?php echo $mediaUrl; ?>wysiwyg/Psa/ourstory/Our_Story_004.png" alt="" /></div>
				
				<div class="clr"></div>
			</div>
			
			<div class="screenposterone screenposterFi">
				<div class="content fivthsection">
					<h2 data-aos="fade-left" data-aos-delay="9000"><span class="backstrip count">005.</span><br /> <span class="backstrip">Seeing the glowing results</span><br /> <span class="backstrip">of your skincare routine</span><br /> <span class="backstrip">in the mirror is, though.</span></h2>
				</div>
				
				<div class="screenposter fr"  data-aos="fade-down" data-aos-delay="10000"><img src="<?php echo $mediaUrl; ?>wysiwyg/Psa/ourstory/new-our-story-06.jpg" alt="" /></div>
				
				<div class="clr"></div>
			</div>
		</div>
	</div>
	
	<div class="clr"></div>
	
</div>
</div>


<div data-aos="fade-up" data-aos-delay="1000" id="psadifference" class="psadifference" style="background: url('https://alliesofskin.com/pub/media/wysiwyg/Psa/ourstory/new-our-story-fomo.jpg');">
	<div class="container">
		<div class="innersection" data-aos="fade-left" data-aos-delay="2000">
			<h2><span class="backstrip">THE PSA DIFFERENCE</span></h2>
			<p>We are EFFORTLESS EFFECTIVE. Our reason for being will always be to create easy-to-understand products that deliver results you can see and feel. So, you'll only find clinically proven actives in optimal concentrations without any potential irritants.</p>
			<div class="dontfllow">
				<h2><span class="backstrip">WE DON’T</span> <span class="backstrip">FOLLOW TRENDS,</span></h2>
			</div>
			<div class="fomo">
				<h2><span class="backstrip">REST IN PEACE TO</span></h2>
				<div class="fomoicon"><img src="<?php echo $mediaUrl; ?>wysiwyg/Psa/ourstory/Our-Story-FOMO.svg" alt="" /></div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div id="psaprecheck" class="precheckourstory psaprechecksection">
		
		<div class="innersection"  data-aos="fade-down" data-aos-delay="1000">
			<h2><span class="backstrip">PSA PRECHECK™</span></h2>
			<p>Clarity is important, and we’re not just talking about clear skin. We’re all about transparency, inside and out, and your glow goals can only be as good as the ingredients you use to achieve them. That’s why you won’t find any of these common triggers and irritants in our products:</p>
		</div>
		
		<div class="listing" data-aos="fade-up" data-aos-delay="2000">
			<div class="list">
				<div class="modalbox tab" data-id="tab1">
					<a class="closebutton" href="javascript:void('0')">X</a>
					<h2><span class="backstrip">SILICONES</span></h2>
					<p>Often found in anti-frizz hair products and makeup primers, these texture tools<br /> possess too large of molecules to penetrate your skin’s barrier so they just sit on<br /> top of your skin, potentially trapping dirt, sebum, and makeup, which can lead to<br /> clogged pores and breakouts.</p>
				</div>
				
				<div class="tabingbox tab-a" data-id="tab1">
					<div class="icon"><img src="<?php echo $mediaUrl; ?>wysiwyg/Psa/ourstory/psa_silicones_icon.svg" alt="" /></div>
					<div class="name">Silicones</div>
				</div>
			</div>
			<div class="list">
				<div class="modalbox tab" data-id="tab2">
					<a class="closebutton" href="javascript:void('0')">X</a>
					<h2><span class="backstrip">Sulfates</span></h2>
					<p>Used often as cleaning agents, sulfates get the job a little too well.<br /> They’re pretty harsh and drying, actually stripping your skin of moisture and<br /> weakening its barrier, which ultimately can lead to sensitization.</p>
				</div>
				<div class="tabingbox tab-a" data-id="tab2">
					<div class="icon"><img class="prechecklisting" src="<?php echo $mediaUrl; ?>wysiwyg/Psa/ourstory/PSA_sulfates.svg" alt="" /></div>
					<div class="name">Sulfates</div>
				</div>
			</div>
			<div class="list">
				<div class="modalbox tab" data-id="tab3">
					<a class="closebutton" href="javascript:void('0')">X</a>
					<h2><span class="backstrip">Drying Alcohol</span></h2>
					<p>This is also super drying, sanitary as it is, and weakens your<br /> skin’s barrier as well as sensitizes it.</p>
				</div>
				<div class="tabingbox tab-a" data-id="tab3">
					<div class="icon"><img class="prechecklisting" src="<?php echo $mediaUrl; ?>wysiwyg/Psa/ourstory/psa_drying_alcohal.svg" alt="" /></div>
					<div class="name">Drying<br /> Alcohol</div>
				</div>
			</div>
			<!-- <div class="list">
				<div class="modalbox tab" data-id="tab4">
					<a class="closebutton" href="javascript:void('0')">X</a>
					<h2><span class="backstrip">Mineral Oil</span></h2>
					<p>This synthetic is too large to penetrate the skin, so it acts as an<br /> occlusive (think plastic wrap) on your pores. If you have oily or acne-prone skin,<br /> mineral oil may trap excess sebum, leading to breakouts.</p>
				</div>
				<div class="tabingbox tab-a" data-id="tab4">
					<div class="icon"><img class="prechecklisting" src="<?php echo $mediaUrl; ?>wysiwyg/Psa/ourstory/psa_Mineral_oil.svg" alt="" /></div>
					<div class="name">Mineral <br />Oil</div>
				</div>
			</div> -->
			<!-- <div class="list">
				<div class="modalbox tab" data-id="tab5">
					<a class="closebutton" href="javascript:void('0')">X</a>
					<h2><span class="backstrip">Chemical Screens</span></h2>
					<p>Sun protection is a must every day, but using certain chemical<br /> screens can undermine your efforts—studies have shown that they can cause<br /> allergic and adverse reactions. Plus. some have the potential to penetrate your<br /> skin barrier, causing even more trouble below.</p>
				</div>
				<div class="tabingbox tab-a" data-id="tab5">
					<div class="icon"><img class="prechecklisting" src="<?php echo $mediaUrl; ?>wysiwyg/Psa/ourstory/psa_chemical_screens.svg" alt="" /></div>
					<div class="name">Chemical<br /> Screens</div>
				</div>
			</div> -->
			<div class="list">
				<div class="modalbox tab" data-id="tab6">
					<a class="closebutton" href="javascript:void('0')">X</a>
					<h2><span class="backstrip">Synthetic Dyes and Fragrances</span></h2>
					<p>These sensorial ingredients may be nice for some but are actually really aggravating, especially for sensitive skin types. What’s the point of smelling like roses if they give you a rash to match?</p>
				</div>
				<div class="tabingbox tab-a" data-id="tab6">
					<div class="icon"><img class="prechecklisting" src="<?php echo $mediaUrl; ?>wysiwyg/Psa/ourstory/PSA_synthetic_dyes.svg" alt="" /></div>
					<div class="name">Synthetic<br /> Dyes</div>
				</div>
			</div>
			<div class="list">
				<div class="modalbox tab" data-id="tab7">
					<a class="closebutton" href="javascript:void('0')">X</a>
					<h2><span class="backstrip">Synthetic Dyes and Fragrances</span></h2>
					<p>These sensorial ingredients may be nice for some but are actually really aggravating, especially for sensitive skin types. What’s the point of smelling like roses if they give you a rash to match?</p>
				</div>
				<div class="tabingbox tab-a" data-id="tab7">
					<div class="icon"><img class="prechecklisting" src="<?php echo $mediaUrl; ?>wysiwyg/Psa/ourstory/PSA_synthetic_frag.svg" alt="" /></div>
					<div class="name">Synthetic<br /> Fragrances</div>
				</div>
			</div>
			<div class="list">
				<div class="modalbox tab" data-id="tab8">
					<a class="closebutton" href="javascript:void('0')">X</a>
					<h2><span class="backstrip">Essential Oils</span></h2>
					<p>These are lovely in aromatherapy but for skincare, they’re pretty high on the level of skin sensitizers. Scents can be a nice experience but not if they cause an allergic reaction for some, so we just decided to omit them altogether.</p>
				</div>
				<div class="tabingbox tab-a" data-id="tab8">
					<div class="icon"><img class="prechecklisting" src="<?php echo $mediaUrl; ?>wysiwyg/Psa/ourstory/psa_essential_oils.svg" alt="" /></div>
					<div class="name">Essential<br /> Oils</div>
				</div>
			</div>
			<div class="clr"></div>
		</div>
	
	</div>
</div>

<div id="psallin" class="keetatitsection"  data-aos="fade-up" data-aos-delay="1000">
	<div class="container">
		<div class="innersection"  data-aos="fade-left" data-aos-delay="2000">
			<div class="leftsection">
				<p>There’s a reason it’s called a routine—you can’t get a whole new face overnight,</p>
				<h3>SORRY.<br /> You gotta keep at it.</h3>
				<p>Your skincare journey is personal to you and we’re with you for the ups and the downs. Sometimes things may get worse before they get better. Luckily, we did the heavy lifting for you, making sure that our products could keep up with your lifestyle so you don’t have to slow down for skincare if you don’t want to.</p>
			</div>
			<div class="rightsection"><img src="<?php echo $mediaUrl; ?>wysiwyg/Psa/ourstory/go_icon.svg" alt="" /></div>
			<div class="clr"></div>
		</div>
		<div class="itgetbeter" data-aos="fade-up" data-aos-delay="2100">ITGETSBETTER</div>
	</div>
</div>

<div class="thevaluesection">
	<img src="<?php echo $mediaUrl; ?>wysiwyg/Psa/ourstory/Our_Story_Tattoo.png" alt="" data-aos="fade-up" data-aos-delay="1000"/>
	<h2><span class="backstrip" data-aos="fade-right" data-aos-delay="2000">THE ‘A’ VALUES</span></h2>
</div>

<div class="container">
	<div class="theplanetsection">
	
		<div class="innersection">
			<div class="leftsection" data-aos="fade-left" data-aos-delay="1000">
				<h2><span class="backstrip">PSA:</span><br /> <span class="backstrip">WE ARE</span><br /> <span class="backstrip">ALLIES OF</span><br /> <span class="backstrip">THE PLANET.</span></h2>
				<p class="firstcontent">Just like our friends Allies of Skin, we’re fully committed to sustainability.</p>
			</div>
			<div class="rightsection" data-aos="fade-right" data-aos-delay="2000">
				<img src="<?php echo $mediaUrl; ?>wysiwyg/Psa/ourstory/red-and-blue-shoreline-iphone-screen.jpg" alt="" />
			</div>
			<div class="clr"></div>
		</div>
		
		<div class="bottomsection" data-aos="fade-down">
			<div class="list">
				<img src="<?php echo $mediaUrl; ?>wysiwyg/Psa/ourstory/planet-icon01.svg" alt="" />
				<p>All your PSA empties are fully<br /> recyclable.</p>
				<div class="clr"></div>
			</div>
			<div class="list">
				<img src="<?php echo $mediaUrl; ?>wysiwyg/Psa/ourstory/planet-icon02.svg" alt="" />
				<p>All our boxes and shippers<br /> are printed with 100%<br /> recycled paper and soy-based ink.</p>
				<div class="clr"></div>
			</div>
			<div class="list lastchild">
				<img src="<?php echo $mediaUrl; ?>wysiwyg/Psa/ourstory/planet-icon03.svg" alt="" />
				<p class="secoundcontent">The packaging materials for<br /> our pouches are 100% OXO-Biodegradable.</p>
				<div class="clr"></div>
			</div>
			<div class="list lastchild">
				<img src="<?php echo $mediaUrl; ?>wysiwyg/Psa/ourstory/planet-icon04.svg" alt="" />
				<p>We only work with SGS and FSC-Certified vendors and never use virgin forest materials.</p>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</div>
		
		<div class="crueltyfreesction">
			<div class="crueltyleft">
				<h2 data-aos="fade-left" data-aos-delay="1000"><span class="backstrip first">CRUELTY-</span><br /> <span class="backstrip secound">FREE</span></h2>
				<div data-aos="fade-down" data-aos-delay="2000">
					<p>PSA is cruelty-free and PETA-<br />certified. That means<br /> absolutely no testing on<br /> animals, unless you count<br /> smart humans like you.</p>
					<div class="icon"><img src="<?php echo $mediaUrl; ?>wysiwyg/Psa/ourstory/crueltyfree-icon.svg" alt="" /></div>
				</div>
			</div>
			<div class="crueltyright"><img src="<?php echo $mediaUrl; ?>wysiwyg/Psa/ourstory/Our_Story_Cruelty_Free.png" alt="" data-aos="fade-down"/></div>
			<div class="clr"></div>
		</div>
		
		<div class="crueltyfreesction alliesforlife">
			<div class="crueltyleft">
				<h2 data-aos="fade-left" data-aos-delay="1000"><span class="backstrip first">PSA: WE ARE</span><br /> <span class="backstrip secound">ALLIES FOR</span><br /> <span class="backstrip secound">LIFE</span></h2>
				<p data-aos="fade-down" data-aos-delay="2000">Allies isn’t just a word in our brand name, it’s a big part of our identity. We’re a brand that’s proudly LGBTQIA+ owned and operated, and we like to treat every day like Pride, celebrating the unique and expressive identities of every person regardless of gender or sexual identity. As a skincare brand, we know how important it is to be comfortable in your own skin — so we’ve got you covered outside and within.</p>
			</div>
			<div class="crueltyright"><img src="<?php echo $mediaUrl; ?>wysiwyg/Psa/ourstory/new-our-story-alliesforlife.jpg" alt="" data-aos="fade-down"/></div>
			<div class="clr"></div>
		</div>
	</div>
</div>

<script type="text/javascript">
	requirejs(['require', 'jquery', 'aos'],
    function(require, $, AOS) {

		AOS.init({
			duration: 600,
		});
    });
</script>

<style>
    .ourstorysection .storyrightsection .screenposterone .content h2 {position: relative; z-index: 100;}
    .cms-our-story {overflow-x: hidden;}
	.ourstorysection .storynavigation li a { color: #000; letter-spacing: 1.6px; display: inline-block; background: #fff; padding: 0 10px; }
	.cms-our-story .psadifference .innersection p { margin: 35px 0 0; padding: 0 10px; background: #98ade4; }
</style>
