<?php if( $block->getFavouriteCollection() && $block->getFavouriteCollection()->getSize() ): ?>
<?php
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$currencysymbol = $objectManager->get('Magento\Store\Model\StoreManagerInterface');
	$currencyCode = $currencysymbol->getStore()->getCurrentCurrencyCode();
	$currency = $objectManager->create('Magento\Directory\Model\CurrencyFactory')->create()->load($currencyCode);
	$abstractProductBlock = $block->getLayout()->createBlock('\Magento\Catalog\Block\Product\AbstractProduct');
?>
<div id="for-ipad-responsive">
<div class="subscription-banner-container">
<?php echo $block->getLayout()->createBlock(\Magento\Cms\Block\Block::class)->setBlockId('subscription-page-banner-section')->toHtml();?>
</div>
<div class="favourite-container">
	<h1 class="favourite-container-heading">Our Favourite</h1>
	<?php foreach ($block->getFavouriteCollection() as $product): ?>

		<?php
			
			$postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
			$postData = $postDataHelper->getPostData($block->getAddToCartUrl($product), ['product' => $product->getId()]);
			$postParams = json_decode($postData, true);
			$imageType = 'product_base_image';
			$buttonTitle = $block->escapeHtml(__('Add to Bag'));
			$width = 450;
			$height = 860;
			$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
			$contentParser = $objectManager->get('Magento\Cms\Model\Template\FilterProvider');
			$productImage = $this->helper('Magento\Catalog\Helper\Image')
			    ->init($product, 'subscribe_landing')
			    ->setImageFile($product->getCustomAttribute('subscribe_landing')->getValue());
			$productCustomImage = $product->getData('subscribe_landing');
			$store = $objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore();
			$productImage = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'catalog/product' . $productCustomImage;
			$productWithNoImage = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA).'wysiwyg/Psa/psa-placeholder-image.jpg';	
			$productId = $product->getId();
		?>
		<div class="favourite-container-list">
			<form data-role="tocart-form" class="custom_addto_form" action="<?= /* @escapeNotVerified */ $block->getAddToCartUrl($product) ?>" method="post">
				<?= $block->getBlockHtml('formkey') ?>
				<input type="hidden" name="product" value="<?= /* @escapeNotVerified */ $product->getId() ?>">
				<input type="hidden" name="<?= /* @escapeNotVerified */ Magento\Framework\App\Action\Action::PARAM_NAME_URL_ENCODED; ?>" value="<?= $postParams['data'][Magento\Framework\App\Action\Action::PARAM_NAME_URL_ENCODED]; ?>">
				<div class="subscribe-product media">
				<div class="favourite-left-section">
					<img src="<?= $block->escapeUrl($productImage) ?>" alt="<?= $block->escapeUrl($product->getTitle()) ?>" />
				</div></div>
				<div class="subscribe-product-info-main">
				<div class="favourite-right-section">
					<h4 class="product-name"><?= $block->escapeHtml($product->getName()) ?></h4>
					<span class="stamped-product-reviews-badge" data-id="<?php echo $product->getId() ?>" style="display: block;" product_url = <?= /* @escapeNotVerified */ $product->getProductUrl() ?>></span>
					<div class="short-description">
						<?php echo $product->getShortDescription();?>
						<?php 
							$price = $product->getPrice();
							$dicountPrice = ($price - ($price*30)/100);
							$currency = $objectManager->create('Magento\Directory\Model\CurrencyFactory')->create()->load($currencyCode);
							$currencySymbol = $currency->getCurrencySymbol();
						?>
					</div>
					<div class="product-price old-price">
						<?= $abstractProductBlock->getProductPrice($product) ?>
					</div>
					<div class="product-price new-price">
						<?php echo $currencySymbol.' '.$dicountPrice?>
					</div>
					<div class="subscribe-container">
						<h2 class="subscibe-btn-heading">Subscribe To Happy Skin and Save 30%</h2>
						<a class="subscribe-page-btn" href="<?= $block->escapeUrl($product->getProductUrl()) ?>">Subscribe</a>
					</div>
				</div>
				<div class="review-section">
					<?php echo $block->getLayout()->createBlock(\Magento\Cms\Block\Block::class)->setBlockId('subscription-page-review-section')->toHtml();?>
				</div>
			</div>
				
			</form>
		</div>
	<?php endforeach; ?>
</ul>

<div class="regular-container">
	<h1 class="regular-container-heading">Perfect Your Regular Care</h1>
	<?php foreach ($block->getRegularCollection() as $product): ?>

		<?php
			
			$postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
			$postData = $postDataHelper->getPostData($block->getAddToCartUrl($product), ['product' => $product->getId()]);
			$postParams = json_decode($postData, true);
			$imageType = 'product_base_image';
			$buttonTitle = $block->escapeHtml(__('Add to Bag'));
			$width = 266;
			$height = 500;
			$resizedImageUrl = $block->resizeImage($product, 'product_small_image',$width, $height)->getUrl();

		    $productId = $product->getId();
		?>
		<div class="home-page-product-list item product product-item">
			<form data-role="tocart-form" class="custom_addto_form" action="<?= /* @escapeNotVerified */ $block->getAddToCartUrl($product) ?>" method="post">
				<?= $block->getBlockHtml('formkey') ?>
				<input type="hidden" name="product" value="<?= /* @escapeNotVerified */ $product->getId() ?>">
				<input type="hidden" name="<?= /* @escapeNotVerified */ Magento\Framework\App\Action\Action::PARAM_NAME_URL_ENCODED; ?>" value="<?= $postParams['data'][Magento\Framework\App\Action\Action::PARAM_NAME_URL_ENCODED]; ?>">
				<img src="<?= $block->escapeUrl($resizedImageUrl) ?>" alt="<?= $block->escapeUrl($product->getTitle()) ?>" />
				<h4 class="product-name"><?= $block->escapeHtml($product->getName()) ?>
				</h4>
				 <?php if($product->getResource()->getAttribute('category_below_content')->getFrontend()->getValue($product)): ?>       
                            <span class="product-short-dec">
                                <?php echo $product->getResource()->getAttribute('category_below_content')->getFrontend()->getValue($product);?>
                            </span>
                            <?php endif; ?>
				<span class="stamped-product-reviews-badge" data-id="<?php echo $product->getId() ?>" style="display: block;" product_url = <?= /* @escapeNotVerified */ $product->getProductUrl() ?>></span>
				<div class="attribute product-attr <?php if( isset($block->getOptions($product)->getData()[0]) ): ?>align-both<?php endif; ?>" data-symbol="<?= $currency->getCurrencySymbol() ?>">
					<?php if( isset($block->getOptions($product)->getData()[0]) ): ?>
						<?php $name = $block->getOptions($product)->getData()[0]['option_id'] ?>
						<div class="options product-option">
							<select name="options[<?= $name ?>]" id="select_<?= $name ?>" data-selector="options[<?= $name ?>]" class="select-options">
								<?php foreach($block->getOptions($product) as $option): ?>
									<?php foreach ($option->getValues() as $value): ?>
										<option value="<?= $value->getData('option_type_id') ?>" price="<?= number_format($value->getData('price'), 0) ?>"><?= $value->getData('default_title') ?></option>
									<?php endforeach; ?>
								<?php endforeach; ?>
							</select>
						</div>
						<?php  ?>
						<span class="separator"></span>
					<?php endif; ?>
					<?php if($product->getResource()->getAttribute('product_size')->getFrontend()->getValue($product)): ?>
						<span class="product-volume-attr">
							<?php echo $product->getResource()->getAttribute('product_size')->getFrontend()->getValue($product);?>
						</span>
					<?php endif; ?>
					<?php 
							$price = $product->getPrice();
							$dicountPrice = ($price - ($price*30)/100);
							$currency = $objectManager->create('Magento\Directory\Model\CurrencyFactory')->create()->load($currencyCode);
							$currencySymbol = $currency->getCurrencySymbol();
						?>
					<span class="separator"></span>
					<div class="product-price old-price">
						<?= $abstractProductBlock->getProductPrice($product) ?>
					</div>
					<div class="product-price new-price">
						<?php echo $currencySymbol.' '.$dicountPrice?>
					</div>
					<div class="subscribe-container">
						<a class="subscribe-btn" href="<?= $block->escapeUrl($product->getProductUrl()) ?>">Subscribe</a>
					</div>	
					
				</div>
				
			</form>
		</div>
	<?php endforeach; ?>
</div>

<div class="subscription-conatiner">
	<h1 class="subscription-conatiner-heading">Complete Your Skincare Subscription With These Products</h1>
	<?php foreach ($block->getSubscriptionCollection() as $product): ?>

		<?php
			
			$postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
			$postData = $postDataHelper->getPostData($block->getAddToCartUrl($product), ['product' => $product->getId()]);
			$postParams = json_decode($postData, true);
			$imageType = 'product_base_image';
			$buttonTitle = $block->escapeHtml(__('Add to Bag'));
			$width = 450;
			$height = 860;
			$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
			$contentParser = $objectManager->get('Magento\Cms\Model\Template\FilterProvider');
			$productImage = $this->helper('Magento\Catalog\Helper\Image')
			    ->init($product, 'subscribe_landing')
			    ->setImageFile($product->getCustomAttribute('subscribe_landing')->getValue());
			$productCustomImage = $product->getData('subscribe_landing');
			$store = $objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore();
			$productImage = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'catalog/product' . $productCustomImage;
			$productWithNoImage = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA).'wysiwyg/Psa/psa-placeholder-image.jpg';	
			$productId = $product->getId();

		?>
		<div class="subscribe-subcontainer">
			<form data-role="tocart-form" class="custom_addto_form" action="<?= /* @escapeNotVerified */ $block->getAddToCartUrl($product) ?>" method="post">
				<?= $block->getBlockHtml('formkey') ?>
				<input type="hidden" name="product" value="<?= /* @escapeNotVerified */ $product->getId() ?>">
				<input type="hidden" name="<?= /* @escapeNotVerified */ Magento\Framework\App\Action\Action::PARAM_NAME_URL_ENCODED; ?>" value="<?= $postParams['data'][Magento\Framework\App\Action\Action::PARAM_NAME_URL_ENCODED]; ?>">
				<div class="media section-<?php echo $product->getSku();?>">
				<img src="<?= $block->escapeUrl($productImage) ?>" alt="<?= $block->escapeUrl($product->getTitle()) ?>" />
				</div>
				<div class="product-info section-<?php echo $product->getSku();?>">
				<h4 class="product-name"><?= $block->escapeHtml($product->getName()) ?></h4>
				<div class="short-description">
						<?php echo $product->getShortDescription();?>
				</div>
				<span class="stamped-product-reviews-badge" data-id="<?php echo $product->getId() ?>" style="display: block;" product_url = <?= /* @escapeNotVerified */ $product->getProductUrl() ?>></span>
				<?php 
							$price = $product->getPrice();
							$dicountPrice = ($price - ($price*30)/100);
							$currency = $objectManager->create('Magento\Directory\Model\CurrencyFactory')->create()->load($currencyCode);
							$currencySymbol = $currency->getCurrencySymbol();
						?>
				<div class="product-price old-price">
						<?= $abstractProductBlock->getProductPrice($product) ?>
				</div>
				<div class="product-price new-price">
						<?php echo $currencySymbol.' '.$dicountPrice?>
					</div>
				<?php if($product->getSku() == 'PMHAS030EN01'):?>
				<div class="subscribe-container">
						<h2 class="subscibe-btn-heading">Give love to your skin and save 30%</h2>
						<a class="subscribe-btn" href="<?= $block->escapeUrl($product->getProductUrl()) ?>">Subscribe</a>
				</div>
				<?php else:?>
				<div class="subscribe-container">
						<h2 class="subscibe-btn-heading">Take care of your skin and save 30%</h2>
						<a class="subscribe-btn" href="<?= $block->escapeUrl($product->getProductUrl()) ?>">Subscribe</a>
				</div>	
				<?php endif;?>	
				</div>
				
			</form>
		</div>
	<?php endforeach; ?>
</div>
</div>
<div class="product-allies-ethos">
	<div class="container">
		<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer-banner')->toHtml();?>
	</div>
</div>

<?php endif; ?>
