<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/** @var \Magento\Contact\Block\ContactForm $block */
?>

<?php
$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $_objectManager->get('Magento\Store\Model\StoreManagerInterface');
$currentStore = $storeManager->getStore();
$mediaUrl = $currentStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
?>

<div class="contact-us-container">
	<p class="cont-heading">CONTACT US</p>

	<div class="contact-us-section1-container">
		<div class="contact-container">

			<div class="section_wrapper">
				<div class="sections section1 section-right background1">
					<h2 class="Section_title"><span class="fadeInDown Aboutsec_title" data-aos="fade-right" data-aos-delay="1000">Get in Touch</span></h2>
					
					<span class="Abtsec_img"><img class="fadeInDown" data-aos="fade-down" data-aos-delay="1300" src="<?php echo $mediaUrl;?>wysiwyg/Contact_Us/contac-us-imagenew1.jpg" alt=""></span>
					
					<div class="section_content">
						<div class="in_AbtCont" data-aos="fade-down" data-aos-delay="1600">
							<h3 class="inner_title">Allies Group Pte Ltd</h3>
							<p>1 Coleman Street, #10-06, <br /> Singapore 179803 <br /> Company Registration No. 201315916D <br /> <a href="mailto:ask@alliesofskin.com">ask@alliesofskin.com</a></p>
						</div>
					</div>
				</div>
			</div>

			<div class="section_wrapper common-wrapper" id="section-wrapper-2">
				<div class="sections section4 section-left animaltest">
					
					<h2 class="Section_title"><span class="Aboutsec_title" data-aos="fade-left" data-aos-delay="1000">NEED SOME HELP?</span></h2>
					
					<div class="section_content" data-aos="fade-down">
					
						<div class="in_AbtCont" data-aos="fade-down" data-aos-delay="1300">
							<h3 class="inner_title">THAT'S WHAT WE ARE HERE FOR.</h3>
							<p>If you have questions about an order, our products, or navigating our website, send us an email or check out our Help & FAQs page - we might already have an answer for you!</p>
							<div class="address-cont bottom-address">
								<div class="address-block">General Enquiries
									<p><a href="mailto:ask@alliesofskin.com">ask@alliesofskin.com</a></p>
								</div>
								<div class="address-block">Press Enquiries
									<p><a href="mailto:press@alliesofskin.com">press@alliesofskin.com</a></p>
								</div>
								<div class="address-block">Press Enquiries (US)
									<p><strong>Katherine Pape</strong> <a href="mailto:kathy@papepr.com">kathy@papepr.com</a></p>
								</div>
								<div class="address-block">Press Enquiries (UK)
									<p><strong>Rachael Houghton</strong> <a href="mailto:rachael@huntergracelondon.com">rachael@huntergracelondon.com</a></p>
								</div>
								<div class="address-block">Press Enquiries (Germany)
									<p><strong>Faustyna Klabun</strong> <a href="mailto:f.klabun@svr-pr.de">f.klabun@svr-pr.de</a></p>
								</div>
								<div class="address-block">Press Enquiries (China)
									<p><strong>Nicholas Tan</strong> <a href="nicholas@eastoceancapital.com">nicholas@eastoceancapital.com</a></p>
								</div>
							</div>
						</div>
					
						<div class="in_AbtCont" data-aos="fade-down" data-aos-delay="1600">
							<div class="contact-form-container">
								<div class="form-box">
									<form class="form contact" action="<?= $block->escapeUrl($block->getFormAction()) ?>" id="contact-form" method="post" data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>" data-mage-init='{"validation":{}}'>
								
									<fieldset class="fieldset">
									
										<!-- <legend class="legend"><span><?//= $block->escapeHtml(__('Write Us')) ?></span></legend><br /> -->
										<!-- <div class="field note no-label"><?//= $block->escapeHtml(__('Jot us a note and we’ll get back to you as quickly as possible.')) ?></div> -->
										
										<div class="field name required">
											<label class="label" for="name"><span><?= $block->escapeHtml(__('Name')) ?></span></label>
											<div class="control">
												<input name="name" id="name" title="<?= $block->escapeHtmlAttr(__('Name')) ?>" value="<?= $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('name') ?: $this->helper('Magento\Contact\Helper\Data')->getUserName()) ?>" class="input-text" type="text" data-validate="{required:true}"/>
											</div>
										</div>
										
										<div class="field email required">
											<label class="label" for="email"><span><?= $block->escapeHtml(__('Email Address')) ?></span></label>
											<div class="control">
												<input name="email" id="email" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" value="<?= $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('email') ?: $this->helper('Magento\Contact\Helper\Data')->getUserEmail()) ?>" class="input-text" type="email" data-validate="{required:true, 'validate-email':true}"/>
											</div>
										</div>
										
										<!-- <div class="field telephone">
											<label class="label" for="telephone"><span><?//= $block->escapeHtml(__('Phone Number')) ?></span></label>
											<div class="control">
												<input name="telephone" id="telephone" title="<?//= $block->escapeHtmlAttr(__('Phone Number')) ?>" value="<?//= $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('telephone')) ?>" class="input-text" type="text" />
											</div>
										</div> -->
										
										<div class="field comment required">
											<label class="label" for="comment"><span><?= $block->escapeHtml(__('Message')) ?></span></label>
											<div class="control">
												<textarea name="comment" id="comment" title="<?= $block->escapeHtmlAttr(__('What’s on your mind?')) ?>" class="input-text" cols="5" rows="1" data-validate="{required:true}"><?= $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getPostValue('comment')) ?></textarea>
											</div>
										</div>
										
										<?= $block->getChildHtml('form.additional.info') ?>
										
									</fieldset>
									
									<div class="actions-toolbar">
										<div class="primary">
											<input type="hidden" name="hideit" id="hideit" value="" />
											<button type="submit" title="<?= $block->escapeHtmlAttr(__('Submit')) ?>" class="action submit primary"><span><?= $block->escapeHtml(__('Send')) ?></span> </button>
										</div>
									</div>
									
									</form>
								</div>
							</div>
						</div>
					
					</div>
					
				</div>
			</div>

			<div class="section_wrapper common-wrapper" id="section-wrapper-3">
				<div class="sections section5 section-right allife1">
					
					<h2 class="Section_title"><span class="Aboutsec_title" data-aos="fade-right" data-aos-delay="1000">Careers</span></h2>
					
					<span class="Abtsec_img"><img src="<?php echo $mediaUrl;?>wysiwyg/Contact_Us/contac-us-imagenew2.jpg" alt="" data-aos="fade-down" data-aos-delay="1300"></span>
					
					<div class="section_content">
						<div class="in_AbtCont" data-aos="fade-down" data-aos-delay="1600">
							<!-- <h3 class="inner_title">Lorem ipsum dolor</h3> -->
							<p>We are always on the lookout for brilliant individuals with the brightest vibes. Tell us what you want to do at Allies of Skin and why you'd be a great fit and send your thoughts to <a href="mailto:careers@alliesofskin.com">careers@alliesofskin.com</a>.</p>
						</div>
					</div>
				</div>
			</div>

		</div>
		
		<div class="About_BackToTop"><a id="toTop" class="about_backtotop"><span class="back-to-top">Back To Top</span></a></div>
	</div>

</div>

<script type="text/javascript">
	requirejs(['require', 'jquery', 'aos'],
    function(require, $, AOS) {

		AOS.init({
			duration: 600,
		});
    });
</script>


<style>
.header-menu-new { border-bottom: 1px solid #c1c1c1; }

.contact-index-index .page-footer { display: inline-block; vertical-align: middle; }

.contact-us-container {float: left; width: 100%; text-align: center;}

.contact-index-index .column.main { margin: 0; }
.contact-index-index p.cont-heading {margin: 25px 0px 12px !important; text-align: center !important; letter-spacing: 6px !important; font-size: 15px; color: #000 !important; display: inline-block; font-family: "BrandonGrotesque Bold"; font-style: normal; font-weight: normal; line-height: 18px; text-transform: uppercase; width: 100%; }


.contact-index-index .contact-us-section1-container { float: left; margin: 0 0 10px; width: 100%; padding: 0 15px; box-sizing: border-box; }
.contact-index-index .contact-container { display: inline-block; width: 100%; }

.contact-index-index  h3.inner_title { font-family: "BrandonGrotesque bold"; font-weight: normal; line-height: 32px; letter-spacing: 5px; text-transform: uppercase; font-size: 14px; color: #929292; }
.contact-index-index  h2.Section_title {font-size: 40px; color: #000; background-color: #fff; margin: 0; padding: 2.2rem 0 2rem; position: relative;}

.contact-us-container .Abtsec_img {position: relative; background: #fff; height: 100%; display: inline-block;}
.contact-us-container .Abtsec_img img {position: relative;}
.contact-us-container .section_content p {font-size: 17px; letter-spacing: 1px; line-height: 26px; margin-top: 1.7rem; font-family: "BrandonGrotesque Regular";}


.contact-index-index .section_content p { margin: 0 0 10px 0; }
.contact-index-index .section1.section-left .Abtsec_img { float: right; padding: 0 70px 0 0; }
.contact-index-index .section5.section-left .Abtsec_img { float: right; padding: 0 70px 0 0; }



.contact-index-index .address-cont { display: inline-block; width: 100%; text-align: center; padding: 30px 0 0; }
.contact-index-index .address-cont .address-block { display: inline-block; width: 100%; margin: 0 0 12px; font-size: 20px; line-height: 32px; color: #333; }
.contact-index-index .address-cont .address-block p { display: inline-block; width: 100%; margin: 0; }
.contact-index-index .address-cont .address-block p a { color: #333 !important; text-decoration: underline; }
.contact-index-index .address-cont .address-block p a:hover { text-decoration: none; }
.contact-index-index .address-cont .address-block p strong { display: inline-block; width: auto; font-weight: normal; font-family: "BrandonGrotesque Bold"; }

.contact-index-index .sections.section-left, .contact-index-index .sections.section-right { padding: 100px 0 20px; }
.contact-index-index .section-right .section_content { padding-top: 15px; }


.contact-index-index #section-wrapper-3 .section_content { max-width: 100%; }
.contact-index-index #section-wrapper-3 .section_content a { text-decoration: underline; width: auto; clear: both; float: none; font-weight: normal; color: #333 !important; }
.contact-index-index #section-wrapper-3 .section_content a:hover { text-decoration: none; }
.contact-index-index #section-wrapper-3 .section5::before { height: calc(100% + 50px); }


.contact-index-index #section-wrapper-2 .contact-form-container { width: 100%; float: left; padding: 30px 0 0; position: static; }
.contact-index-index #section-wrapper-2 .contact-form-container .form-box { max-width: 100%; padding: 0 0 10px; }
.contact-index-index .column:not(.sidebar-additional) .form.contact { min-width: 100%; }
.contact-index-index #section-wrapper-2 .contact-form-container .form-box .label { text-align: left; }
.contact-index-index #section-wrapper-2 .contact-form-container .form-box .label span { float: left; }
.contact-index-index #section-wrapper-2 .contact-form-container .form-box .actions-toolbar button.action span { float: none; }
.contact-index-index #section-wrapper-2 .contact-form-container .form-box input,
.contact-index-index #section-wrapper-2 .contact-form-container .form-box textarea { font-size: 16px; }
.contact-index-index #section-wrapper-2 .contact-form-container .form-box .actions-toolbar { margin: 15px 0 0; }



.contact-index-index .sections {position: relative; background-color: #fff; padding: 5.5rem 0 0;}
.contact-index-index .section_content {background-color: #fff; padding: 0rem 0 1rem; position: relative; overflow: hidden;}

.section1.section-left, .section2.section-right, .section3.section-left, .section4.section-right, .section5.section-left {display: none;}
.sections.section1::before, .sections.section2::before, .sections.section3::before, .sections.section4::before, .sections.section5::before { border-right: 1px solid black; content: ''; top: 4px; position: absolute; height: 50%; }

.About_BackToTop { display: inline-block; width: 100%; clear: both; z-index: 99; }

 
#toTop.about_backtotop { position: relative; top: 0; margin: 9rem auto 0; background-color: transparent; color: #000; letter-spacing: 5px; font-size: 14px; width: auto; display: inline-block; }
#toTop.back-to-top { display: none; }
.reached .mobile-back-to-top { display: none !important; }


</style>
