<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct(); ?>
<?php $buttonTitle = __('Add to Bag'); ?>
<?php if ($_product->isSaleable()): ?>
<div class="box-tocart">
    <div class="fieldset">
        

         <?php if($_product->getResource()->getAttribute('product_size')->getFrontend()->getValue($_product)): ?>
            <div class="product-volume-attr-product-page">
                <label class="label" for="size"><span><?= /* @escapeNotVerified */ __('size') ?></span></label>
                <div class="product-size-box"><?php echo $_product->getResource()->getAttribute('product_size')->getFrontend()->getValue($_product);?></div>
            </div>
        <?php endif; ?>
       
        <div class="price-box-container">
            <label class="label" for="price"><span><?= /* @escapeNotVerified */ __('Price') ?></span></label>
        <?php echo $this->getLayout()
          ->createBlock('Magento\Catalog\Pricing\Render',
                  "product.price.final",
                    [
                        'data' => [
                            'price_render' => 'product.price.render.default',
                            'price_type_code' => 'final_price',
                            'zone' => 'item_view'
                        ]
                   ]
                  )
          ->toHtml();?>
        </div>
        <?php if ($block->shouldRenderQuantity()): ?>
        <div class="field qty">
            <label class="label" for="qty"><span><?= /* @escapeNotVerified */ __('Quantity') ?></span></label>
            <div class="control">
              <button id="decerement">-</button>
              <input type="number"
                name="qty"
                id="qty"
                value="<?= /* @escapeNotVerified */ $block->getProductDefaultQty() * 1 ?>"
                title="<?= /* @escapeNotVerified */ __('Quantity') ?>"
                class="input-text qty product-qty"
                data-validate="<?= $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>" readonly
                />
                <button id="increment">+</button>
            </div>
        </div>
        <?php endif; ?>

       
        
    </div>
</div>
<div class="actions removefloat">
            <button type="submit"
                    title="<?= /* @escapeNotVerified */ $buttonTitle ?>"
                    class="action primary tocart"
                    id="product-addtocart-button">
                <span><?= /* @escapeNotVerified */ $buttonTitle ?></span>
            </button>
            <?= $block->getChildHtml('', true) ?>
        </div>
<?php endif; ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/js/validate-product": {}
        }
    }
</script>