<?php
    /**
     * @author      Abhishek Anand
     * @comment     DIsplay bundle product selected collections
     */
?>
<?php
    $_product = $block->getProduct();
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();

    $selectionCollection = $_product->getTypeInstance(true)->getSelectionsCollection(
        $_product->getTypeInstance(true)->getOptionsIds($_product),
        $_product
    );
    $length = count($selectionCollection);
?>

<?php if($_product): ?>
    <?php if( $length > 0 ): ?>
        <div class="child-section">
            <ul id="product-container">
                <?php $i=1; foreach( $selectionCollection as $selection ): ?>
                    <?php
                        $__product = $objectManager->create('Magento\Catalog\Model\Product')->load($selection->getProductId());
                        if($i%2 == 0) {
                            $imgClass = 'left';
                            $contentClass = 'right';
                        } else {
                            $imgClass = 'right';
                            $contentClass = 'left';
                        }
                    ?>
                    <li>
                        <div class="<?= $contentClass ?>-section">
                            <div class="kit-container">
                                <p><?= __("In the kit") ?></p>
                                <h2><?= $block->escapeHtml($__product->getName()) ?></h2>
                                <span><?= $block->escapeHtml($__product->getKitSize()) ?></span>
                                <?php if($__product->getShortDescription()): ?>
                                    <div class="short-description">
                                        <?= $__product->getShortDescription() ?>
                                        <?php /*<a class="learn-more" href="javascript: void(0);"><?= __("Learn More") ?></a>
                                        <div class="full-description" style="display: none;">
                                            <a class="close" href="javascript: void(0);">X</a>
                                            <?= $__product->getDescription() ?>
                                        </div>*/ ?>
                                        <br>
                                        <a href="<?= $block->escapeUrl($__product->getProductUrl()) ?>" class="learn-more-bundle"><?= __("Learn More") ?></a>
                                    </div>
                                <?php endif; ?>
                                <div class="kit-position">
                                    <ul>
                                        <?php for($j = 1; $j <= $length; $j++): ?>
                                            <li><a class="<?php if($j == $i) echo 'active' ?>" href="javascript: void(0);"><?= $j ?></a></li>
                                        <?php endfor; ?>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="<?= $imgClass ?>-section">
                            <ul class="owl-carousel product-gallery-image">
                                <?php foreach($__product->getMediaGalleryImages() as $image): ?>
                                    <li><img src="<?= $image->getUrl(); ?>" ></li>
                                <?php endforeach; ?>
                            </ul>
                        </div>
                    </li>
                <?php $i++; endforeach; ?>
            </ul>
        </div>
    <?php endif; ?>
<?php endif; ?>