<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct(); ?>
<?php $buttonTitle = __('Add to Bag'); ?>

<?php if ($_product->isSaleable()): ?>
	
	<div class="box-tocart">
		<div class="fieldset">
			
			<?php if($_product->getResource()->getAttribute('product_size')->getFrontend()->getValue($_product)): ?>
				<div class="product-volume-attr-product-page">
					<label class="label" for="size"><span><?= /* @escapeNotVerified */ __('size') ?></span></label>
					<div class="product-size-box"><?php echo $_product->getResource()->getAttribute('product_size')->getFrontend()->getValue($_product);?></div>
				</div>
			<?php endif; ?>
       
			<div class="price-box-container">
				<label class="label" for="price"><span><?= /* @escapeNotVerified */ __('Price') ?></span></label>
				<?php echo $this->getLayout()
				  ->createBlock('Magento\Catalog\Pricing\Render',
						  "product.price.final",
							[
								'data' => [
									'price_render' => 'product.price.render.default',
									'price_type_code' => 'final_price',
									'zone' => 'item_view'
								]
						   ]
						  )
				  ->toHtml();?>
			</div>
			
			<?php if ($block->shouldRenderQuantity()): ?>
				<div class="field qty">
					<label class="label" for="qty"><span><?= /* @escapeNotVerified */ __('Quantity') ?></span></label>
					<div class="control">
						<button id="decerement">-</button>
						<input type="number" name="qty" id="qty" value="<?= /* @escapeNotVerified */ $block->getProductDefaultQty() * 1 ?>" title="<?= /* @escapeNotVerified */ __('Quantity') ?>" class="input-text qty product-qty" data-validate="<?= $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>" readonly />
						<button id="increment">+</button>
					</div>
				</div>
			<?php endif; ?>
			
		</div>
	</div>
	
	<div class="actions removefloat">
		<button type="submit" title="<?= /* @escapeNotVerified */ $buttonTitle ?>" class="action primary tocart" id="product-addtocart-button">
			<span><?= /* @escapeNotVerified */ $buttonTitle ?></span>
		</button>
		<?php if($_product->getResource()->getAttribute('inventory_message')->getFrontend()->getValue($_product)):?>
            <div class="pre-order-note">
                <?php echo $_product->getResource()->getAttribute('inventory_message')->getFrontend()->getValue($_product);?>
            </div>
            <?php endif;?>
        <?= $block->getChildHtml('', true) ?>
        <?php if($_product->getResource()->getAttribute('pre_date_message')->getFrontend()->getValue($_product)):?>
                <?php echo $_product->getResource()->getAttribute('pre_date_message')->getFrontend()->getValue($_product);?>
            <?php endif;?>
	</div>	
	
<?php else: ?>
	
	<div class="product-out-of-stock-container">   
		<div class="box-tocart">
			<div class="fieldset">
            
				<?php if($_product->getResource()->getAttribute('product_size')->getFrontend()->getValue($_product)): ?>
					<div class="product-volume-attr-product-page">
						<label class="label" for="size"><span><?= /* @escapeNotVerified */ __('size') ?></span></label>
						<div class="product-size-box"><?php echo $_product->getResource()->getAttribute('product_size')->getFrontend()->getValue($_product);?></div>
					</div>
				<?php endif; ?>
           
				<div class="price-box-container">
					<label class="label" for="price"><span><?= /* @escapeNotVerified */ __('Price') ?></span></label>
					<?php echo $this->getLayout()
					  ->createBlock('Magento\Catalog\Pricing\Render',
							  "product.price.final",
								[
									'data' => [
										'price_render' => 'product.price.render.default',
										'price_type_code' => 'final_price',
										'zone' => 'item_view'
									]
							   ]
							  )
					  ->toHtml();?>
				</div>
				
				<div class="actions notify-me">
					<div class="notify-click" id="notify-product-btn"><span>NOTIFY ME</span></div>
				</div> 
				
			</div>
		</div>
	</div>
	
<?php endif; ?>

<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/js/validate-product": {}
        }
    }
</script>

<style>
#notify-product-btn span { display: block; font-family: "BrandonGrotesque Bold"; font-size: 11px; letter-spacing: 2px; line-height: 38px; text-transform: uppercase; width: initial; cursor: pointer; }
div#notify-product-btn { border: 1px solid #808285; border-radius: 0; color: #808285; height: 40px; line-height: 38px; padding: 0; width: 100%; margin: 5px 0; max-width: 120px; float: right; }
.catalog-product-view .amxnotif-block.show{ display: block !important; }
.catalog-product-view .amxnotif-block { display: none; clear: both; background: #000 none repeat scroll 0 0; height: initial; left: 50%; margin: auto; max-width: 440px; padding: 25px 30px; position: fixed; top: 50%; transform: translate(-50%, -50%); width: 30%; z-index: 9999; }
.amxnotif-block label { color: #ffffff; }
.actions-toolbar.amxnotif_guest_action .action.primary { border: 1px solid #808285; color: #808285; }
.actions-toolbar.amxnotif_guest_action .action.primary:hover { border: 1px solid #ffffff; background: transparent; color: #ffffff; }
.close-popup-subs { position: absolute; right: 0; top: 0; width: 30px; text-align: center; color: #fff;  line-height: 30px; cursor: pointer; }
#product_addtocart_form .pre-order-note {
    color: #000;
    position: relative;
    width: 100%;
    text-transform: none;
}
.catalog-product-view .product-info-main-container .price-box {
    display: block !important;
}
</style>
