/*-------------------------------home-page-------------------------------*/

form#oar-widget-orders-and-returns-form {max-width: 560px; margin: 20px auto 0px;border: 1px solid #eceaea;padding: 20px;box-shadow: 0px 0px 30px #d8d6d6;}

.page-wrapper .form.password.reset { background: #f9f9f9; display: block; margin: 40px auto; max-width: 620px; padding: 40px; width: 100% !important; border: 1px solid #e4e1e1; box-shadow: 0px 0px 20px #e6e6e6; }

@media screen and (min-width: 768px) and (max-width: 1024px){
	
.upper-banner-heading{font-size: 35px;}
.upper-banner-text{font-size: 14px;}

.homepage-product .owl-prev {left: -12px;}
.homepage-product .owl-next {right: -17px;}
.product-name {font-size: 21px;}
.product-option {width: 41%;}
.attribute.product-attr {padding-left: 10px;}
.agenda-section{margin-top: 65px;}
.image-container-text{top: 5%;}
.content-sub-heading{font-size: 15px;}
.agenda-section ul {padding: 30px 0px;}
.cms-swell-rewards #swell-bootstrap .rewards-templete .banner{min-height: 338px !important;}
.cms-swell-rewards #swell-bootstrap .rewards-templete .banner .point-circle h2{line-height: 55px !important;}
}

@media screen and (max-width: 767px){

.filter-title strong{display: none;}
.upper-banner-heading{font-size: 21px;}
.upper-banner-conatiner{top: 8%;}
.upper-banner-text{font-size: 9px;}
.upper-banner-btn-text{font-size: 12px;}
.homepage-product-text {font-size: 12px;margin-bottom: 20px;}
.homepage-product .owl-prev {left: -7px;}
.homepage-product .owl-next {right: -7px;}
.product-option{width: 33%;}
.image-container-text{top: 2%;padding: 15px 15px;}
.content-heaading{margin: 12px; font-size: 17px;}
.content-sub-heading{font-size: 9px;width: 100%;}
/*.middle-banner-with-text a.view-all-btn-text{font-size: 8px;}*/
.view-all-btn-text{font-size: 9px;}
.vogue-contents {font-size: 14px;}
.vogue-section .owl-next{top: -19px;}
.agenda-section{margin-top: 50px;}
.agenda-heading{top: -22px;font-size: 15px;padding: 15px 37px;}
.agenda-section ul {padding: 30px 0px;}
.page-footer .block.newsletter{width: 80%;}

.mobile-menu {display: block;}
.main-top-menu {display: none;}

ul.level0.main-top-menu.active {display: block;position: relative; background: black; left: -20px; top: -8px; padding: 35px 20px;}

.parent-menu { display: block;  padding: 4px; }
.mobile-menu img {width: 23px;position: relative;left: -15px;}
li.parent-menu:first-child {display: none;}
li.parent-menu a{color: white;}
.main-menu {float: left; width: 100%;position: absolute;}
.action.showcart span.text {display: none;}
ul.header.links a :before { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-size: 22px; line-height: 15px; color: #757575; background:url('images/login.png'); margin: 0; vertical-align: top; display: inline-block; font-weight: normal; overflow: hidden; speak: none; text-align: center; right: 0; }

/*.minicart-wrapper .action.showcart .counter.qty.empty{top: 8px;left: 24px;}*/
.minicart-wrapper .action.showcart:before{line-height: 19px;color: black;}
#custom-header-id .minicart-wrapper{padding:0px 0px;float: right;}

.mobile-only { background: url(../images/login.png); background-repeat: no-repeat; }

/*li.authorization-link a { visibility: hidden; } */

ul.header.links { float: right; width: 1%; margin: unset; text-align: right; padding: 5px 0px; position: relative; right: 52px; }


/*--------------------for the header----------------------------*/

.login-register-container { margin: 0 18px 0 0; } 
.login-register-container .header.links { position: static; padding: 0; position: static; text-align: center; } 
.login-register-container .on-user-icon-click-show { right: -33px; }
.login-register-container .header.links li { background: rgba(0, 0, 0, 0) none repeat scroll 0 0; }



/*for the reward section page in user dashboard*/

.cms-swell-rewards #swell-bootstrap .rewards-templete .banner {min-height: 338px !important;}
.cms-swell-rewards #swell-bootstrap .rewards-templete .banner .point-circle h2{line-height: 55px !important;}
.cms-swell-rewards #swell-bootstrap .rewards-templete .point-circle p{font-size: 23px;}

/*--------------------listing page----------------------------*/

/*.page-products .category-description{margin-left: calc(-50vw + 50% - 0px);}*/

.page-products .category-description p { width: 65%; font-size: 11px; line-height: 15px; }
.category-description h2{font-size: 20px; width: 100%;}
.page-products .product.name.product-item-name{font-size: 11px;width: 100%;}
.page-products .product.name.product-item-name a{font-size: 11px;letter-spacing: 1px;width: 100%;}
.attribute.category.product-option.attribute.product-attr.align-both ,.attribute.product-attr.align-both{padding-left: 20px;}
.catalog-category-view li.item.product.product-item, .catalogsearch-result-index li.item.product.product-item{width: 100%;}
.homepage-product .attribute.product-attr.align-both{padding-left: 110px;}
.homepage-product .product-option {width: 38%;}


/*---------------------------product detail page------------------------------------------*/

.catalog-product-view.page-layout-1column .product-info-main,
.catalog-product-view .product-info-main .product-reviews-summary,
.product-custom-attribute-left, .product-custom-attribute-right,.product.attibute.key-allies ,.product.attibute.purpose {width: 100%;}
.catalog-product-view .product-info-main .product-page-options select, .catalog-product-view .product-info-main .price-container .price {font-size: 12px;}
.catalog-product-view .price-box.price-final_price{width: 27.33%;/*padding-left: 8px;*/}
.catalog-product-view .product-reviews-summary{float: unset;bottom: 15px;}
.product-custom-kit-attribute p{width: 70%;padding-top: 7%;}
.product-form{display: none;}
div#reviews {display: inline-block;width: 100%;}
.product.info.detailed{padding: 0 6%;}
div#product-review-container{width: 100%;}
div#customer-reviews {padding-right: 0;}
.block.review-add {width: 100%;border-left: 0;}
.catalog-product-view .product.data.items .item.title a:after{display: none;}


.catalog-product-view .product-info-encaptulate .product-info-main { padding: 30px 20px 0; }
.catalog-product-view .product-info-encaptulate .product.media { width: 100%; padding: 0; box-sizing: border-box; }

.product-info-encaptulate .product-container { display: flex; flex-wrap: wrap; padding-top: 20px; }
.product-info-encaptulate .product.attibute.product-suitable { padding-bottom: 10px; }

.product-add-form  .wishlist-box.product-page-wishlist-container { margin:0; }


.block.related .block-content { padding: 0; }
.block.related .block-content .regimen-left-section { padding: 75px 0 0;  }

.catalog-product-view .column.main { padding: 0;  }


/*------------------------------------------kit page---------------------------------*/

.page-product-bundle ul#product-container > li{display: block;}
.page-product-bundle .left-section,.page-product-bundle .right-section{width: 100%;}
.page-product-bundle .kit-container {padding: 6%;}
#product-container .left-section h2, #product-container .right-section h2{font-size: 22px;}
.page-product-bundle .kit-position {position: relative;top: 30px;}
.para{width: 90%;}
.content-heading h2{width: 100%;}


/*---------------------------------------contact cms page -----------------------------*/

.contact-left-section-container.upper {display: none;}
.contact-right-section-container {width: 100%;}
.upper .contact-right-section-container-content {padding-left: 25px;}
.help-heading{font-size: 25px;}
.help-content{font-size: 17px;}
.contact-left-section-container, .contact-right-section-container{width: 100%;}
.contact-address { padding-left: 0; display: inline-block; }
.career-content{padding: 0px;}
.contact-index-index #custom-header-id .minicart-wrapper {top: 18px;}
.contact-index-index ul.header.links{top: 18px;}

/*---------------------------------------about cms page -----------------------------*/
.cms-about-us .section2-container-banner{margin-bottom: 30px;}
.cms-about-us .section1-container {width: 100%;}
.cms-about-us .section1-content { padding-right: 0;}
.cms-about-us .section2-container {width: 100%;}
.cms-about-us .section2-content {padding-left: 0;}
.cms-about-us .section1-content p {font-size: 28px;line-height: 30px;margin-bottom: 35px;}
.cms-about-us .section-top {padding-top: 0;}
.cms-about-us .second-section1-content {padding-right: 0;padding-top: 0;padding-bottom: 10%;}
.cms-about-us .second-section2-content-img {padding-left: 0;}
.cms-about-us .second-section2-content-img {border-left: 0;}
.cms-about-us .img-container{margin-top: 30px;}
.cms-about-us .img-container,.section2-container-banner {margin-left: calc(-50vw + 50% - 1px);}
.about-us-section-last-container.section-top h2{width: 100%;font-size: 30px;margin-bottom: 40px;}
.cms-about-us .last-section-1 ,.cms-about-us .last-section-2 , .cms-about-us .last-section-3 {width: 100%;margin-bottom: 30px;}
.cms-about-us .last-content1 ,.cms-about-us .last-content2 {padding-right: 0;}

/*---------------------------------------------faq--------------*/
.content-heading{padding-top: 100px;}
.content-heading h2 {font-size: 17px;}
/*.content-heading {margin-left: calc(-50vw + 50% - 0px);}*/
.cms-container{width: 100%;}
.faq-heading { width: 100%;}
.faq-margin{margin-left: 0px;}
.accordion:after{right: 20px;}
.cms-faq .accordion {width: 100%;}


}

@media screen and (max-width: 360px){
	
.upper-banner-heading {font-size: 18px;}
.upper-banner-text{line-height: 1.5;}
.image-container-text {top: 2%;padding: 15px 8px;}
.content-heaading {margin: 3px;font-size: 16px;}
.vogue-section .owl-prev:before, .vogue-section .owl-next:after{width: 20px;height: 20px;padding: 4px;}
.contact-address .bottom{margin-top: 0px;}

}

@media screen and (max-width: 320px){

.header_label p{font-size: 10px;}
.upper-banner-conatiner {top: 5%;}
.upper-banner-heading {font-size: 15px;}
.homepage-product h2{font-size: 20px;}
.product-option { width: 40%;}

.content-heaading {margin: 1px;font-size: 14px;}
.image-container-text {padding: 7px 7px;}
.vogue-contents {font-size: 11px;}
.page-footer .info-page{font-size: 8px;}
.contact-left-section-container.bottom {margin-top: 50px;}
.homepage-product .attribute.product-attr.align-both {padding-left: 53px;}
 .cms-swell-rewards #swell-bootstrap .rewards-templete .caption h1{font-size: 32px !important;}
}


/*-------------------------------responsive new css by Ram-------------------------------*/

@media screen and (min-width: 768px) and (max-width: 1440px){ 

.column .product-custom-attributes-benefits .attribute-value { box-sizing: border-box; left: 50%; max-width: 500px; padding: 0; transform: translate(-50%, -50%); width: 90%; } 

.page-footer .footer.content .block { width: 96%; }

}

@media screen and (min-width: 767px) and (max-width: 1300px){ 

.login-container .block .block-content { padding: 0; width: 100%; }

.block.related .products-related  .owl-next { right: -20px; }
.block.related .products-related  .owl-prev{ left: -20px; }

}

@media screen and (max-width: 1180px){

.custom-social-sharing-icon-container a span { display: none; }

}

@media screen and (max-width: 767px){
	
.menu-section{position: relative;}
.menu-section .main-logo { left: 35%; width: 130px; }
.menu-section .main-logo .logo { max-width: 100%; vertical-align: middle; }
.menu-section .main-logo .logo img { display: inline-block; vertical-align: middle; }
.menu-section .main-logo .nav-toggle:before{content:''; font-size: 0px;}

.faq-content.cms-content, .retailer-content.cms-content {padding: 0px 20px; box-sizing: border-box;}

}

@media screen and (min-width: 767px) and (max-width: 1024px){ 

#popup-box {width: 50%;}
.homepageslider .item .banner-inner-content {padding-left: 20px;}
.homepage-product li a {padding: 0 0px;} 
.container .agenda-section .item {padding: 0 10px;}
.press-section .press-list .press-content {min-height: 152px;}
.contact-right-sec .contact-right-sec-content {position: relative;overflow: auto;}
.contact-right-sec .contact-form-container{ bottom: inherit; top:0px; }
.contact-right-sec .contact-form-container .form-box .actions-toolbar {margin: 10px 0 0;}
.contact-left-sec-content .contact-address .address-cont {padding: 0 0 0 50px;}

.column .product-custom-attributes-benefits .product-custom-attribute-left, .column .product-custom-attributes-benefits .product-custom-attribute-right { min-height: auto; }
.column .product-custom-attributes-benefits .attribute-value { box-sizing: border-box; left: 50%; max-width: 500px; padding: 0; transform: translate(-50%, -50%); width: 90%; } 
.column .product-custom-attributes-benefits .attribute-value.feature-highlights-container p { font-size: 22px; line-height: 26px;  }
.column .product-custom-attributes-kit{padding: 0 0 20px; position: relative;}

.product-custom-attributes-kit .img.product-kit-image { bottom: 0; position: absolute; width: 50%; }

.column .product-add-form .wishlist-box {width: 30%;padding-right: 0px;}
.column .product-add-form form {width: 64%;}

#minicart-content-wrapper .minicart-items .product-item-name { width: 43%;}
#minicart-content-wrapper .minicart-items .product-item .product-item-details .pre-order-text{width:40%;}
#minicart-content-wrapper .minicart-items .product-item-pricing { width: 48%;}

.cart-right-container .actions .secondary { float: right; width: initial; }

.page-wrapper .login-container .block-customer-login { padding: 0 10px; width: calc(50% - 20px); }
.page-wrapper .login-container .block.block-new-customer { padding: 0 14px; width: calc(50% - 30px); }

}

@media screen and (min-width: 767px) and (max-width: 960px){ 

.homepage-product .product-name a, .page-products .product.name.product-item-name a {font-size: 13px;width: 100%; min-height: 72px;}
.homepage-product .owl-carousel .owl-item{padding:0px 10px; box-sizing: border-box;}
/*.container .middle-banner-with-text .regimen-recommender-text-heading {font-size: 36px;}*/
.press-section .press-list {margin: 0 10px;width: 30%;}

.minicart-items .product-item-pricing .qty {padding: 0 0px;width: calc(46% - 40px);}

#minicart-content-wrapper .minicart-items .product.actions .primary,
#minicart-content-wrapper .minicart-items .product.actions .secondary { margin: 0 0 0 9px; }

}

@media screen and (min-width: 500px) and (max-width: 767px){ 

.menu-section .main-logo { left: 50%; }

}

@media screen and (min-width: 767px){

.header_label p br, .homepage-product-heading br{display: none;}

}

@media screen and (max-width: 767px){

body .page-wrapper .login-container .block-customer-login,
body .page-wrapper .login-container .block.block-new-customer { min-height: auto; padding: 20px; width: 100%; box-sizing: border-box; }

.login-container .block .block-content {padding: 0 0px;width: 100%;}

.login-container form .actions-toolbar .primary { float: left; width: initial; }


.menu-section .header-main-menu{ font-size: 0px; position: relative; }

.menu-section .header-main-menu:before,
.menu-section .header-main-menu:after{width:20px; height: 3px; content:''; background:#231f20; position: absolute; left:0px; } 

.menu-section .header-main-menu:before{top:-8px;}
.menu-section .header-main-menu:after{top:2px;}

.menu-over-banner-container {padding: 0 30px;width: 100%;box-sizing: border-box;}

.homepage-product {padding: 0px 20px;box-sizing: border-box;}

.header_label {padding: 13px 0px;}
.header_label p {text-align: center;line-height: 15px; letter-spacing: 2.5px;} 
.header_label a { color: #fff; right: 30px!important; position: absolute!important;top: 24px; font-size: 0px;} 
.header_label a:after{width:10px; height: 10px; content: ''; position: absolute; left:0px; top: 0px; background:url(../images/close-icon.png)left center no-repeat;}


.homepageslider .item .banner-inner-content {display: none;}
.homepage-product p.homepage-product-text br {display: none;}

.homepage-product .view-all-btn {text-align: left;color: #000!important;float: left;font-size: 11px;line-height: 21px; margin: 0px 0 0;}
.homepage-product h2 {font-size: 32px;line-height: 40px;margin: 40px 0 10px;}
.homepage-product-text {font-size: 14px; margin-bottom: 30px;}
.column.main .product-item {padding-left: 0px;}
.homepage-product .product-name a, .page-products .product.name.product-item-name a{width:100%;}
.home-page-product-list .actions.add-to-cart {display: inline-block; margin: 0px 0 25px;}
.homepage-product li a { padding: 0 0px;}

/*.middle-banner-with-text {margin: 0px 0 0;}
.middle-banner-with-text .regimen-recommender-text-heading {font-size: 24px;line-height: 30px;margin: 0 0 25px;}
.middle-banner-with-text .regimen-img-container {padding: 70px 0px;}*/

.columns {display: inherit;} 
.cms-about-us p.abt-p {letter-spacing: 2px;margin: 30px 0 20px;}
.cms-about-us .section1-content p {font-size: 24px;line-height: 28px;margin-bottom:0px;text-align: left;}
.cms-about-us .section2-content p {text-align: left;}
.about-us-section1-container {margin: 0 0 10px; padding: 0px 25px;box-sizing: border-box;}
.cms-about-us .about-us-section-last-container {margin: 38px 0 20px;text-align: left;}
.cms-about-us .section3-container .highlight-cont {font-size: 24px;line-height: 28px;margin: 28px 0 0;}
.cms-about-us p.abt-p {letter-spacing: 1px;margin: 30px 25px 20px;text-align: left;    box-sizing: border-box;}
.cms-about-us .section3-container {padding: 0px 25px;box-sizing: border-box;} 
.wishlist-box.product-page-wishlist-container {display: inline-block; margin-bottom: 20px;}

/** FIRT TIME popup css  **/
 
#popup-box {padding: 20px 10px;width: 90%;}
#regimen-popup { width: 90%;}
.regimen-pop-up-text h3 {font-size: 24px;}
.press-list .press-content { min-height: 76px;}

/** Press list css   **/

.press-list {margin: 0 10px; width: calc(49% - 40px);} 

.toolbar .pager{text-align: center;}
.toolbar .pager .pages {float: none;max-width: 100%;display: inline-block;}

/** home page middle slider **/

.agenda-section .show-post-container {padding: 40px 0px 60px;width: 100%;}
.agenda-section .owl-dots {bottom: -30px;transform: translate(-50%);}
.vogue-section .owl-carousel .owl-nav.disabled {display: none!important;}
.vogue-contents p a{height: initial;font-size: 24px; color:#000;}
#maincontent .block-press {margin: 0 0 0px;}

/** mobile menu left slide **/

.menu-section .slide-menu-show {max-width: 100%;padding: 40px;max-width: 480px; height: 100vh; box-sizing: border-box;    width: 100%;}

/** listing page css **/

.column.main .product-items {margin-left: -0px;}
.page-products .columns {padding-top: 0px;}
#layered-filter-block {margin: 0 0 20px;}
.category-pro-info {margin: 0 0 0px;text-align: center;}
.category-pro-info .category-product-heading {line-height: 28px;}
.category-category-text br{display: none;}
.page-products .product.name.product-item-name a {line-height: 22px; min-height: auto;font-weight: bold;font-size: 15px!important;}

/** cart  page css **/
.minicart-items .product-item-details {padding-left: 0px;}
#minicart-content-wrapper .cart-right-container {width: 100%;}
.minicart-wrapper .block-minicart {padding: 40px 40px;}
#minicart-content-wrapper .minicart-items .product-item-name {margin: 0px 0px 20px;width: 100%;}
#minicart-content-wrapper .minicart-items .product-item .product-item-details .pre-order-text{margin: 0px 0px 20px;width: 100%;float: left;color:red;}
.cart-right-container .actions .primary {min-width: 52%;}
.block-content .cart-right-container .actions .primary {min-width:100%;}
.catalog-product-view .product-info-encaptulate .product-info-main {padding: 30px 15px 0 15px; box-sizing: border-box;}
.product-add-form form {height: auto;width: 100%;}
.product-add-form .box-tocart {width: 100%; padding-bottom:10px;} 
.product-add-form .removefloat {width: 100%;}
.product-add-form .box-tocart .qty { float: left;padding: 0 0px; width: 30%; display: inline-block;}
.product-page-wishlist{font-size: 24px;}
.product-custom-attributes-kit .add-all-to-bag-text {width: 100%;}
.product-custom-attributes-kit .product-kit-image {width: 100%;}
.product-custom-attributes-benefits .product-custom-attribute-left, .product-custom-attributes-benefits .product-custom-attribute-right { width: 100%; min-height: auto;}
.product-custom-attributes-benefits .attribute-value { box-sizing: border-box; max-width: 100%; padding: 35px; position: relative; width: 100%; }

.catalog-product-view .block.related .product-container{ padding:0px 35px; }

.block-minicart #minicart-content-wrapper .minicart-items .product-item-pricing {float: left;width: 100%;}
#minicart-content-wrapper .minicart-items .product-item-pricing .qty {width: 34%;text-align: center;    padding: 0 0px;}
.block-minicart #minicart-content-wrapper .minicart-items .product-item-name a {font-size: 16px;width: 100%;}

.stamped-content ul.stamped-tabs li { max-height: auto;margin-left: 0;font-size: 12px;vertical-align: top;}
.checkout-index-index .checkout-header { margin: 12px 0 65px; padding: 0 9px; width: 100%; display: inline-block; }
/*.checkout-index-index button.action.action-auth-toggle {padding: 4px 15px;}*/

.cart.table-wrapper .product-item-photo { display: inline-block; left:0px; max-width: 65px; position: relative; width:auto; }
.cart.table-wrapper .product-item-details { width: 75%;display: inline-block;}
.cart.table-wrapper .product-item-name a {font-size: 13px;line-height:20px;}
.checkout-index-index .checkout-header .description {font-size: 14px;}


/*for the quiz cookie*/

body .message.global.cookie.am-cookie .content p {font-size: 14px; line-height: 20px;}
body .message.global.cookie.am-cookie .content button.action {margin: 0 2px;line-height: 30px;}


/***  dashboard  ***/

.sidebar .block-collapsible-nav { left: 0; position: absolute; top: -1px; width: 100%; z-index: 5; }

body.account.page-layout-2columns-left .column.main { width: 100%; margin-right: 0%; padding: 10px 20px; }

.account .page.messages { margin-bottom: 10px; }

.column .faq-content .faq-desc { padding: 0 0px 0 0; width: 100%; }

.column .faq-content .panel .col-md-6, .column .retailer-content .panel .col-md-6 { width: 100%; }
.column .retailer-content .panel .col-md-6 { width: 100%; box-sizing: border-box;padding: 0px; }

/** contact us  **/

.contact-left-sec, .contact-right-sec { width: 100%; padding-top: 20px; }
.contact-form-container { padding: 20px 0 0 0px;position: relative; }
.contact-address .address-cont {padding: 0 0 0 0px;width: 100%;}
.contact-address .address-cont.top-address {margin: 0 0 20px;}
.contact-address .address-cont {padding: 0 0 30px 0px;width: 100%;}

.contact-form-container { width: 100%;box-sizing: border-box;}
.contact-address .address-cont.top-address { margin: 0 0 0px; padding-bottom: 5px; }

.product-add-form .wishlist-box .action span.product-page-wishlist{font-size: 11px;}

.catalog-product-view .product-add-form{position: relative;}
.catalog-product-view .product-add-form .wishlist-box .action { position: absolute; bottom: 20px; left: 16px; }

.product-custom-attributes-kit .add-all-to-bag-text h3 {font-size: 32px; margin: 32px 0 15px;}

.column .stamped-header {padding: 0 0px 0 0;width: 100%;}

.column .stamped-content { padding: 0 0 0 0px; position: relative; width:100%; }
.column .stamped-summary-starrating {text-align: left;}
.column .stamped-summary-starrating .stamped-summary-caption {margin: 0 0 0 0px;}

.column .stamped-summary-actions {margin:0px 0 0;}
label[for="stamped-sort-select"]{position: absolute;top: 13px;right: -5px;}
.catalog-product-view .block.related { margin: 0px 0; }

.overview-container #learn-more-popup, .overview-container #learn-more-side-menu { padding: 40px; width: calc(100% - 80px); }
.overview-container #learn-more-side-menu .show-in-tab .col-md-6 { width: 100%; }
.overview-container #learn-more-side-menu .show-in-tab .col-md-6:nth-child(2) ul { margin: 0 20px 0 0; }

#learn-more-popup .close-description, #learn-more-side-menu .close-direction { right: 30px; top: 20px; }

.page-wrapper .homepageslider .owl-dots { bottom: 10px; right: 20px; }
.page-wrapper .homepageslider .owl-dots span { width: 7px; height: 7px; margin: 0px 3px; }

/** footer css in responsive by ram **/

footer .footer-content1 {width: 100%; padding: 0 40px; box-sizing: border-box;} 
.footer.content{border-top:none;}
.social-link, .page-footer .info-page{margin:0px 0 15px;padding: 0 40px; width: 100%; box-sizing: border-box;}
.page-footer .info-page a {font-size: 10px;letter-spacing: 3px;line-height: 20px; padding: 0 0px;}
.page-wrapper .page-footer{float:left;}
.page-footer .footer-logo {margin: 30px 0 50px;}
.page-footer .newsletter1 .title1 {letter-spacing: 2.5px;}
.page-footer #newsletter {font-size: 14px;}
.page-footer .newsletter1 .title1 {margin-bottom: 10px;}
/*.block.newsletter .form.subscribe {border-bottom: 1px solid #4d4d4d;}*/
.page-footer .newsletter1 .title1 strong {color: #a3a4a3;}
.social-link a {margin: 0 8px 0 0;}
.social-link a img{width:25px;} 
.page-wrapper .page-footer {padding: 32px 0 0px;}
.page-footer .newsletter1 button.action.subscribe.primary:after {width: 9px;background-size: 100%;}
.page-footer .newsletter1 button.action.subscribe.primary {width: 19px;} 
.page-footer .footer.content .block { width: 96%; }


.block.related .products-related  .owl-next { right: -20px; }
.block.related .products-related  .owl-prev{ left: -20px; }
#minicart-content-wrapper .minicart-items-wrapper{max-height: 150px;}


}

@media screen and (max-width: 479px){

.press-list {margin: 0 0px; width: 100%;} 
.press-list .press-content {min-height: auto;} 
.wishlist-box.product-page-wishlist-container {width: 100%;    box-sizing: border-box;}

body .page-wrapper .login-container .block-customer-login,
body .page-wrapper .login-container .block.block-new-customer { padding: 15px 10px; }

body .page-wrapper .form.password.forget { min-width: auto; box-sizing: border-box; }

.slide-menu-show-conatiner ul.header.links { right: 0px; text-align: left; }

body .page-wrapper .page-header .login-overlay { padding: 80px 30px; max-width: 480px; width: 100%; box-sizing: border-box; height: 100vh; }

.page-wrapper .form.password.forget .actions-toolbar .action{padding: 0 20px;}
.page-wrapper .login-register-popup .action.primary {margin-right: 20px;}

.menu-over-banner-container  { padding: 0 10px; }

.custom-social-sharing-icon-container a { margin: 0 18px 0 0; }
#minicart-content-wrapper .minicart-items-wrapper{max-height: 380px;}

}

@media screen and (max-width: 360px){
	#minicart-content-wrapper .minicart-items-wrapper{max-height: 277px;}
}
