<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
$getBaseUrl = $this->getBaseUrl();
?>

<div class="header-topbar">
	<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('psa-top-label')->toHtml();?>
</div>

<div id="custom-header" class="custom-header-cont">
	
	<div class="header-container">		
		<div class="logo-menu-bar">	
				<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('psa_mobile_header_menu')->toHtml();?>
			
			<div class="main-logo"><?php echo $this->getChildHtml("logo"); ?></div>
		</div>
		
		<div class="header-fixed-options">
			
			<div class="header-opt">				
				
				<div class="header-opt-boxes">
					
					<div class="box-opt minicart-box">
						<?php echo $this->getChildHtml("minicart"); ?>
					</div>
				 
				</div>

			</div>
		</div>
	
		<!--div class="header-menu-new">
			<?php //echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('desktop_menu')->toHtml();?>
		</div--><!-- header-menu-new -->
	
		<div class="removefloat"></div>	
	</div>
</div>

<style>


/*for safari browser*/
@media not all and (min-resolution:.001dpcm) { @media
    {
        .catrgory-main-heading .step-text{ margin-top: 8px !important; line-height: 24px !important;}
        .menu-bar .menu-item a {padding-top: 5px;}
        
    }}
/*for safari browser*/

</style>
	

