<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
$getBaseUrl = $this->getBaseUrl();
?>
<?php if($customerSession->isLoggedIn()): ?>
	<div class="mobilelogout">
        <a href="<?php echo $getBaseUrl.'customer/account/logout' ?>"><img src='<?php echo $this->getViewFileUrl('images/logout-icon.svg'); ?>' alt="user" width="20"></a>
    </div>
<?php endif;?>