<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/** @var \Magento\Contact\Block\ContactForm $block */
?>

<div class="contact-section">
	
	<div class="contact-top-sec">
	
		<div class="contact-left-sec left-upper">
			<div class="contact-left-sec-content">
				<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('contact_image_section')->toHtml(); ?>
			</div>
		</div>
		
		<div class="contact-right-sec right-upper">
			<div class="contact-right-sec-content">
				
				<div class="contact-form-container">
			
					<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('contact_right_section')->toHtml(); ?>
					
					<div class="form-box">
						<form class="form contact" action="<?= $block->escapeUrl($block->getFormAction()) ?>" id="contact-form" method="post" data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>" data-mage-init='{"validation":{}}'>
						
							<fieldset class="fieldset">
							
								<!-- <legend class="legend"><span><?//= $block->escapeHtml(__('Write Us')) ?></span></legend><br /> -->
								<!-- <div class="field note no-label"><?//= $block->escapeHtml(__('Jot us a note and we’ll get back to you as quickly as possible.')) ?></div> -->
								
								<div class="field name required">
									<label class="label" for="name"><span><?= $block->escapeHtml(__('Name')) ?></span></label>
									<div class="control">
										<input name="name" id="name" title="<?= $block->escapeHtmlAttr(__('Name')) ?>" value="<?= $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('name') ?: $this->helper('Magento\Contact\Helper\Data')->getUserName()) ?>" class="input-text" type="text" data-validate="{required:true}"/>
									</div>
								</div>
								
								<div class="field email required">
									<label class="label" for="email"><span><?= $block->escapeHtml(__('Email Address')) ?></span></label>
									<div class="control">
										<input name="email" id="email" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" value="<?= $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('email') ?: $this->helper('Magento\Contact\Helper\Data')->getUserEmail()) ?>" class="input-text" type="email" data-validate="{required:true, 'validate-email':true}"/>
									</div>
								</div>
								
								<!-- <div class="field telephone">
									<label class="label" for="telephone"><span><?//= $block->escapeHtml(__('Phone Number')) ?></span></label>
									<div class="control">
										<input name="telephone" id="telephone" title="<?//= $block->escapeHtmlAttr(__('Phone Number')) ?>" value="<?//= $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('telephone')) ?>" class="input-text" type="text" />
									</div>
								</div> -->
								
								<div class="field comment required">
									<label class="label" for="comment"><span><?= $block->escapeHtml(__('Message')) ?></span></label>
									<div class="control">
										<textarea name="comment" id="comment" title="<?= $block->escapeHtmlAttr(__('What’s on your mind?')) ?>" class="input-text" cols="5" rows="1" data-validate="{required:true}"><?= $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getPostValue('comment')) ?></textarea>
									</div>
								</div>
								
								<?= $block->getChildHtml('form.additional.info') ?>
								
							</fieldset>
							
							<div class="actions-toolbar">
								<div class="primary">
									<input type="hidden" name="hideit" id="hideit" value="" />
									<button type="submit" title="<?= $block->escapeHtmlAttr(__('Submit')) ?>" class="action submit primary"><span><?= $block->escapeHtml(__('Send')) ?></span> </button>
								</div>
							</div>
							
						</form>
					</div>
					
				</div>
			
			</div>
		</div>
		
	</div>
	
	<div class="contact-bottom-sec">
	
		<div class="contact-left-sec left-bottom">
			<div class="contact-left-sec-content">
				<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('contact_address')->toHtml(); ?>
			</div>
		</div>
		
		<div class="contact-right-sec right-bottom">
			<div class="contact-right-sec-content">
				<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('contact_careers')->toHtml(); ?>
			</div>
		</div>
		
	</div>
	
</div>

