<?php
$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $_objectManager->get('Magento\Store\Model\StoreManagerInterface');
$currentStore = $storeManager->getStore();
$mediaUrl = $currentStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
?>

<div class="mob_view">
	<p class="abt-p">ABOUT US</p>
	<div class="about-us-section1-container">
		<div class="about-container">
			<div class="section_wrapper" data-aos="fade-down" data-aos-delay="500">
				<!-- <div class="sections section1 section-left background"  data-aos="fade-down"><span class="Abtsec_img"><img class="fadeInDown" src="<?php echo $mediaUrl;?>wysiwyg/about-us/about-us-side-pic-1.jpg" alt=""></span></div> -->
				<div class="sections section1 section-right background1">
					<h2 class="Section_title"><span class="fadeInDown Aboutsec_title" data-aos="fade-right" data-aos-delay="1000">The Allies of <br>Skin Difference</span></h2>
					<span class="Abtsec_img"><img class="fadeInDown" data-aos="fade-down" data-aos-delay="1300" src="<?php echo $mediaUrl;?>wysiwyg/about-us/about-us-side-pic-new1.jpg" alt=""></span>
					<div class="section_content">
						<div class="in_AbtCont" data-aos="fade-down" data-aos-delay="1600">
							<!-- <h3 class="inner_title">Lorem ipsum dolor</h3> -->
							<p>Our products are designed with a busy lifestyle in mind to be simple to use while maximizing the functions of smart formulations that support your skin’s health. All of our ingredients are thoroughly researched, and we combine only effective, clinically-proven actives into biocompatible formulas. The goal is to help your skin repair, regenerate, and reset itself so it can perform at its best. That’s why we never include fillers or potential irritants that may compromise the skin’s optimal functioning capabilities. An Allies of Skin regimen yields results that can be seen and felt, which is exactly what we promise to deliver.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="section_wrapper common-wrapper" id="section-wrapper-2" data-aos="fade-down" data-aos-delay="500">
				<div class="sections section4 section-left animaltest">
					<h2 class="Section_title"><span class="Aboutsec_title" data-aos="fade-left" data-aos-delay="1000">Our Ethos</span></h2>
					<span class="Abtsec_img"><img src="<?php echo $mediaUrl;?>wysiwyg/about-us/about-us-side-pic-new2.jpg" alt="" data-aos="fade-down" data-aos-delay="1300"></span>
					<div class="section_content" data-aos="fade-down">
						<div class="in_AbtCont" data-aos="fade-down" data-aos-delay="1600">
						<!-- <h3 class="inner_title">Lorem ipsum dolor</h3> -->
							<p>We may be minimalists at heart but that doesn’t necessarily mean our formulas follow the same principle. Sophisticated and smart formulation involves a well-rounded variety of ingredients that work in synergy with one another to allow every active, antioxidant, nutrient, and superfood to be as effective as possible. We thoughtfully include as many reparative and preventative ingredients as necessary to take care of your skin now as well as for the future.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="section_wrapper common-wrapper" id="section-wrapper-3" data-aos="fade-down" data-aos-delay="500">
				<div class="sections section5 section-right allife1">
					<h2 class="Section_title"><span class="Aboutsec_title" data-aos="fade-right" data-aos-delay="1000">Supercharged Clinical</span></h2>
					<span class="Abtsec_img"><img src="<?php echo $mediaUrl;?>wysiwyg/about-us/about-us-side-pic-new3.jpg" alt="" data-aos="fade-down" data-aos-delay="1300"></span>
					<div class="section_content">
						<div class="in_AbtCont" data-aos="fade-down" data-aos-delay="1600">
							<p>Much like a chef picks the freshest ingredients at their peak to enhance a meal, our products include supercharged concentrations of clinically proven actives at their optimal pH levels to support your skin’s ability to heal and rebuild itself. By treating skin like the smart organ it is, we’re feeding it the nutrients needed to support the acid mantle and strengthen its barrier so your skin can be its healthiest.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="section_wrapper common-wrapper" id="section-wrapper-4" data-aos="fade-down" data-aos-delay="500">
				<div class="sections section2 section-left triggers">
					<h2 class="Section_title"><span class="Aboutsec_title" data-aos="fade-left" data-aos-delay="1000">The Anti Allies</span></h2>
					<div class="section_content">
						<div class="in_AbtCont" data-aos="fade-down" data-aos-delay="1300">
							<ul>
								<li>
									<img src="<?php echo $mediaUrl;?>wysiwyg/about-us/Silicones.svg" alt="Silicones" />
									<span class="anti-allies-content-wrapper"><span class="noText"><strong>NO</strong></span> Silicones</span>
									<div class="anti-allies-content-hover-show">
										<div class="inner_contAbt">
											<p>These molecules sit on the skin's surface, too large to penetrate pores so they act as a barrier, potentially trapping dirt, sebum, and make up, which can result in clogged pores and breakouts if not removed properly.</p>
											<i class="fas fa-angle-double-up"></i>
										</div>
									</div>
								</li>
								<li>
									<img src="<?php echo $mediaUrl;?>wysiwyg/about-us/Sulfates.svg" alt="Sulfates" />
									<span class="anti-allies-content-wrapper"><span class="noText"><strong>NO</strong></span> Sulfates</span>
									<div class="anti-allies-content-hover-show">
										<div class="inner_contAbt">
											<p>These common cleaning agents are often sensitising to your skin by stripping the delicate barrier of its protective layers.</p>
											<i class="fas fa-angle-double-up"></i>
										</div>
									</div>
								</li>
								<li>
									<img src="<?php echo $mediaUrl;?>wysiwyg/about-us/Drying-Alcohol.svg" alt="Drying-Alcohol" />
									<span class="anti-allies-content-wrapper"><span class="noText"><strong>NO</strong></span> Drying Alcohol</span>
									<div class="anti-allies-content-hover-show">
										<div class="inner_contAbt">
											<p>This weakens the skin’s barrier by overstripping it of moisture, leading to sensitised skin.</p>
											<i class="fas fa-angle-double-up"></i>
										</div>
									</div>
								</li>
								<?php /*
								<li>
									<img src="<?php echo $mediaUrl;?>wysiwyg/about-us/Chemical-Screens.svg" alt="Chemical-Screens" />
									<span class="anti-allies-content-wrapper"><span class="noText"><strong>NO</strong></span> Chemical Screens</span>
									<div class="anti-allies-content-hover-show">
									<div class="inner_contAbt">
										<p>Studies have shown that some of these sun protection filters can cause sunscreen-induced contact dermatitis.</p>
										<i class="fas fa-angle-double-up"></i>
									</div>
									</div>
								</li>
								
								<li>
									<img src="<?php echo $mediaUrl;?>wysiwyg/about-us/Mineral-Oil.svg" alt="Mineral-Oil" />
									<span class="anti-allies-content-wrapper"><span class="noText"><strong>NO</strong></span> Mineral Oil</span>
									<div class="anti-allies-content-hover-show">
									<div class="inner_contAbt">
										<p>This synthetic ingredient acts as a sealant. It has no nutritious benefit for the skin and since its molecules are too large to penetrate pores it can exacerbate breakouts for oily or acne-prone skin types if not removed properly..</p>
										<i class="fas fa-angle-double-up"></i>
									</div>
									</div>
								</li>
								*/?>
								<li>
									<img src="<?php echo $mediaUrl;?>wysiwyg/about-us/Synthetic-Dyes.svg" alt="Synthetic-Dyes" />
									<span class="anti-allies-content-wrapper"><span class="noText"><strong>NO</strong></span> Synthetic Dyes</span>
									<div class="anti-allies-content-hover-show">
										<div class="inner_contAbt">
											<p>	There is well-established research showing that these can be aggravating and sensitising to all skin types, with the potential to cause negative skin reactions.</p>
											<i class="fas fa-angle-double-up"></i>
										</div>
									</div>
								</li>
								<li>
									<img src="<?php echo $mediaUrl;?>wysiwyg/about-us/Fragrances.svg" alt="Fragrances" />
									<span class="anti-allies-content-wrapper"><span class="noText"><strong>NO</strong></span> Synthetic Fragrances</span>
									<div class="anti-allies-content-hover-show">
									<div class="inner_contAbt">
										<p>There is well-established research showing that these can be aggravating and sensitising to all skin types, with the potential to cause negative skin reactions.</p>
										<i class="fas fa-angle-double-up"></i>
									</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="section_wrapper allSkin_Planet common-wrapper" id="section-wrapper-5" data-aos="fade-down" data-aos-delay="500">
				<div class="sections section3 section-left alliesPlanet" data-aos="fade-down" data-aos-delay="1000">
					<div class="allies-planet-img-slider owl-carousel">
						<div class="outeritem">
							<div class="inner-scroll owl-carousel">
								<span class="Abtsec_img"><img src="<?php echo $mediaUrl;?>wysiwyg/about-us/background-img3.jpg" alt="" data-aos="fade-down"></span>
								<span class="Abtsec_img"><img src="<?php echo $mediaUrl;?>wysiwyg/about-us/background-img3.jpg" alt="" data-aos="fade-down"></span>
								<span class="Abtsec_img"><img src="<?php echo $mediaUrl;?>wysiwyg/about-us/background-img3.jpg" alt="" data-aos="fade-down"></span>
							</div>
						</div>
						<div class="outeritem">
							<span class="Abtsec_img"><img src="<?php echo $mediaUrl;?>wysiwyg/about-us/about-us-side-pic-new5.jpg" alt="" data-aos="fade-down" data-aos-delay="1300"></span>
						</div>
					</div>
				</div>
				<div class="sections section3 section-right alliesPlanet1">
					<h2 class="Section_title"><span class="Aboutsec_title" data-aos="fade-right" data-aos-delay="1000">Allies of Skin<br>Allies of the Planet</span></h2>
					<div class="section_content">
						<div class="in_AbtCont" data-aos="fade-down" data-aos-delay="1300">
							<div class="content_cruel_sustainMob">
								<div class="outeritem">
									<div class="inner-scroll">
										<span class="Abtsec_img"><img src="<?php echo $mediaUrl;?>wysiwyg/about-us/newcrueltyfreenew.jpg" alt="" data-aos="fade-down"></span>
										<!-- <span class="Abtsec_img"><img src="<?php //echo $mediaUrl;?>wysiwyg/about-us/background-img3.jpg" alt="" data-aos="fade-down"></span>
										<span class="Abtsec_img"><img src="<?php //echo $mediaUrl;?>wysiwyg/about-us/background-img3.jpg" alt="" data-aos="fade-down"></span> -->
									</div>
								</div>
								<div class="allies-planet-item">
									<h3 class="inner_title">CRUELTY-FREE:</h3>
									<p>Allies of Skin is PETA-certified as cruelty-free. We vow never to test on animals — only on skincare enthusiasts.</p>
								</div>
							</div>

							<div class="content_cruel_sustainMob">
								<div class="outeritem">
									<span class="Abtsec_img"><img src="<?php echo $mediaUrl;?>wysiwyg/about-us/about-us-side-pic-5new.jpg" alt="" data-aos="fade-down" data-aos-delay="1000"></span>
								</div>
								<div class="allies-planet-item">
									<h3 class="inner_title">SUSTAINABILITY:</h3>
									<p>We want to contribute to the health of the planet as well as the health of your skin, so we use 100% recycled paper and soy-based ink for our boxes and shippers, and we never use virgin forest materials. We only work with SGS and FSC-certified vendors to maintain the highest level of sustainability possible.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="About_BackToTop" style="clear: both; z-index: 999"><a id="toTop" class="about_backtotop"><span class="back-to-top">Back To Top</span></a></div>
		
	</div>
</div>

<script type="text/javascript">
	requirejs(['require', 'jquery', 'aos','owlcarousel'],
    function(require, $, AOS) {

		AOS.init({
			duration: 600,
		});

		$('.allies-planet-slider').owlCarousel({
			loop: true,
			margin: 0,
			slideSpeed: 1200,
			dots: false,
			items: 1,
			autoplay:false,
			nav: true,
			slideBy: 1,
			autoPlay: 5000,
			mouseDrag:false,
            touchDrag:false,
            pullDrag:false,
        });

       $('.allies-planet-img-slider').owlCarousel({
			loop: true,
			margin: 0,
			slideSpeed: 1200,
			dots: false,
			items: 1,
			autoplay:false,
			nav: false,
			slideBy: 1,
			autoPlay: 5000,
			autoHeight:true,
			mouseDrag:false,
            touchDrag:false,
            pullDrag:false,
        });
      //  $('.inner-scroll').owlCarousel({
			// loop: true,
			// margin: 0,
			// slideSpeed: 1200,
			// dots: true,
			// items: 1,
			// autoplay:true,
			// nav: false,
			// slideBy: 1,
			// autoPlay: 5000,
			// autoHeight:true
      //   });
       $('.allies-planet-slider .owl-next').click(function(){
       		$('.allies-planet-img-slider .owl-next').trigger('click');
       });
       $('.allies-planet-slider .owl-prev').click(function(){
       		$('.allies-planet-img-slider .owl-prev').trigger('click');
       });


			 $('.anti-allies-content-wrapper').click(function() {
				 /* Act on the event */
				 $('.anti-allies-content-hover-show').toggleClass('open');
				 $(this).parent().siblings().find('.anti-allies-content-hover-show').removeClass('open');
			 });

			 $('.anti-allies-content-hover-show svg').click(function() {
				 /* Act on the event */
				 $('.anti-allies-content-hover-show').removeClass('open');
			 });

			 $(window).scroll(function() {
			   var hT = $('.about_backtotop').offset().top,
			       hH = $('.about_backtotop').outerHeight(),
			       wH = $(window).height(),
			       wS = $(this).scrollTop();
			   if (wS > (hT+hH-wH)){
			     $('body').addClass('reached');
			   }
			   else{
			   	$('body').removeClass('reached');
			   }
			});
			$('.about_backtotop').click(function(){ 
	            $('html, body').animate({
	                scrollTop: 0
	            }, 1000);
	        }); 

    });

</script>

<style>
	/* .about-container .anti-allies-content-hover-show { display: none; } */
	.about-container .anti-allies-content-hover-show .open { display: none; }
	/* span.anti-allies-content-wrapper:hover + .anti-allies-content-hover-show { display: block; } */
	.inner-scroll .owl-dots .owl-dot span {width: 10px; height: 10px; margin: 5px 7px; background: #000; display: block; -webkit-backface-visibility: visible; transition: opacity .2s ease; border-radius: 30px; border: 1px solid #fff;}
	.inner-scroll .owl-dots .owl-dot.active span {background: #fff;}
	.inner-scroll .owl-dots {position: absolute; bottom: 3%; left: 1%;}
	.section2 .in_AbtCont {margin-top: 20px;}
	.in_AbtCont ul {margin: 0px;}
	@media (min-width: 768px) {
		.in_AbtCont ul li:nth-child(2n+1) img {float: left; width: 40px; position: absolute; left: 5px;}
		.in_AbtCont ul li:nth-child(2n+2) img {float: right; width: 40px; position: absolute; right: 5px;}
	}
	@media (max-width: 340px) {
		.in_AbtCont ul li:nth-child(2n+1) img {float: left; width: 40px; position: absolute; left: 5px;}
		.in_AbtCont ul li:nth-child(2n+2) img {float: right; width: 40px; position: absolute; right: 5px;}
	}
	@media (min-width: 341px) and (max-width: 900px) {
		.in_AbtCont ul li:nth-child(2n+1) img {float: left; width: 40px; position: absolute; left: 25px;}
		.in_AbtCont ul li:nth-child(2n+2) img {float: right; width: 40px; position: absolute; right: 25px;}
	}
	.in_AbtCont ul li > span {text-decoration: underline;}
	.in_AbtCont ul li {font-family: "BrandonGrotesque Regular";}
	.in_AbtCont ul li span.noText {font-family: "BrandonGrotesque Bold";}
	.in_AbtCont .anti-allies-content-hover-show {height: 0; overflow: hidden; transition: height 0.5s ease-out;}
	.anti-allies-content-hover-show.open {height: 212px; overflow: hidden; transition: height 0.5s ease-out;}
	.in_AbtCont .anti-allies-content-hover-show .inner_contAbt {border: 1px solid #000; margin: 12px 0; padding: 12px 10px 8px;}
	.in_AbtCont .anti-allies-content-hover-show .inner_contAbt p {line-height: normal; font-size: 14px; margin: 0 0 8px;}
	.in_AbtCont .anti-allies-content-hover-show .inner_contAbt svg {font-size: 24px;}
	.allies-planet-item {margin-bottom: 20px;}
	.sections.section3.section-right::before {height: calc(100% + 40px);}
	.sections.section3 {padding: 5.5rem 0 0;}
	.reached .mobile-back-to-top{
		display: none !important;
	}
	/* about us mobile view */
  .mob_view {float: left; width: 100%; text-align: center;}
  .cms-about-us p.abt-p {margin: 15px 0px 12px !important; text-align: center !important; letter-spacing: 6px !important; font-size: 15px; color: #000 !important;}
  .mobile_viewSec {display: block;}
  .section1.section-left, .section2.section-right, .section3.section-left, .section4.section-right, .section5.section-left {display: none;}
  /* .sections {position: relative;} */
  h2.Section_title {font-size: 40px; color: #000; background-color: #fff; margin: 0; padding: 2.2rem 0 2rem; position: relative;}
  h3.inner_title {font-family: "BrandonGrotesque bold"; letter-spacing: 5px; text-transform: uppercase; font-size: 14px; color: #929292;}
  .mob_view .about-us-section1-container {padding: 0 15px;}
  .mob_view .Abtsec_img {position: relative; background: #fff; height: 100%; display: inline-block;}
  .mob_view .Abtsec_img img {position: relative;}
  .mob_view .section_content p {font-size: 17px; letter-spacing: 1px; line-height: 26px; margin-top: 1.7rem; font-family: "BrandonGrotesque Regular";}
  .section_content {background-color: #fff; padding: 0rem 0 1rem; position: relative; overflow: hidden;}
  .section5 .section_content {padding: 0rem 0 1.3rem;}
  .mobile_viewSec {line-height: 0px;}
  /* .sections.section-right::before {content: ''; border-right: 1px solid #000; height: 100%; position: absolute; top: 12px; z-index: 0;} */

/* New about mobile CSS start _Nitish*/
.sections.section1::before, .sections.section2::before, .sections.section3::before, .sections.section4::before, .sections.section5::before {
    border-right: 1px solid black;
    content: '';
    top: 4px;
    position: absolute;
    height: 50%;
}
/* New about mobile CSS end _Nitish*/

  /* .sections.section-right.section5::before {content: ''; border-right: 1px solid #000; height: 100%; position: absolute; top: 12px; z-index: 0;} */
  .sections {position: relative; background-color: #fff; padding: 5.5rem 0 0;}
  .sections.section2, .sections.section4 {padding: 6.5rem 0 0;}
  .section2 .section_content {padding: 0rem 0;}
  .sections.section2 .mobile_viewSec ul {margin-bottom: 2.6rem; float: left; text-align: left; margin-top: 5.2rem;}
  .section4 h2 {font-size: 33px !important;}
  .section3 h2.Section_title {font-size: 33px !important; padding: 2.5rem 0 2rem;}
  .section3 .section_content {padding: 0.5rem 0 1.3rem;}
  .section3 .section_content h3 {margin-top: 1.3rem 0 1rem;}
  .section4 h2.Section_title {padding: 2rem 0;}
  .section4 .section_content {padding: 0.5rem 0 0;}
  .section4 .section_content h3 {padding: 1.7rem 0 0.7rem;}
  .section4 .section_content p {margin-top: 1.4rem;}
  /* .section3 .section_content {padding: 1rem 0;} */
  .sections.section2 h2.Section_title {padding: 1.6rem 0 0;}
  .section2.section-left .section_content ul li {font-size: 16px !important; display: inline-block; margin-bottom: 1.5rem; width: 100%; line-height: 38px;}
  .section5 h2 {padding: 2.3rem 0 1.3rem;line-height: 46.1px;}
  /* .section-left .section_content ul li:nth-child(2n+2) {margin-left: 3em;} */
  .mobile_viewSec ul li img {width: 17%; vertical-align: middle; margin-right: 8px;}
  /* .About_BackToTop {display: none;} */
  .mobile_viewSec {overflow: hidden;}
  .mobile_viewSec span {display: inline-block;}
  #toTop.about_backtotop {
    position: relative;
    top: 0;
    margin: 9rem auto 0;
    background-color: transparent;
    color: #000;
    letter-spacing: 5px;
    font-size: 14px;
    width: auto;
    display: inline-block;
}
#toTop.back-to-top {
    display: none;
}
.reached .mobile-back-to-top {
    display: none !important;
}
  /* about us mobile view end */

</style>
