<?php
$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $_objectManager->get('Magento\Store\Model\StoreManagerInterface');
$currentStore = $storeManager->getStore();
$mediaUrl = $currentStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);

?>

<style>
.allSkin_Planet .alliesPlanet .owl-carousel {
    border: 1px solid red !important;
    width: 86% !important;
}
</style>

<div class="mob_view">
  <p class="abt-p">ABOUT US</p>
  <div class="about-us-section1-container">
    <div class="about-container">
      <div class="section_wrapper">
        <div class="sections section1 section-right background1">
          <div class="mobile_viewSec background">
            <h2 class="Section_title"><span class="Aboutsec_title" data-aos="fade-up">Background</span></h2>
            <span class="Abtsec_img"><img src="<?php echo $mediaUrl;?>wysiwyg/about-us/background-img.jpg" alt="" data-aos="fade-up" data-aos-delay="1000"></span>
            <div class="section_content">
              <div class="in_AbtCont" data-aos="fade-up" data-aos-delay="1000">
                <h3 class="inner_title">Lorem ipsum dolor</h3>
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section_wrapper">
        <div class="sections section2 section-left triggers">
          <div class="mobile_viewSec" data-aos="fade-up">
            <h2 class="Section_title"><span class="Aboutsec_title" data-aos="fade-up">The 7 Triggers</span></h2>
            <div class="section_content">
              <div class="Abtsec_img">
                <ul data-aos="fade-up" data-aos-delay="1000">
                  <li><img src="<?php echo $mediaUrl;?>wysiwyg/about-us/trigger-point.png" alt=""> <span class="noText">NO</span> Lorem ipsum dolor</li>
                  <li><img src="<?php echo $mediaUrl;?>wysiwyg/about-us/trigger-point.png" alt=""> <span class="noText">NO</span> Lorem ipsum dolor</li>
                  <li><img src="<?php echo $mediaUrl;?>wysiwyg/about-us/trigger-point.png" alt=""> <span class="noText">NO</span> Lorem ipsum dolor</li>
                  <li><img src="<?php echo $mediaUrl;?>wysiwyg/about-us/trigger-point.png" alt=""> <span class="noText">NO</span> Lorem ipsum dolor</li>
                  <li><img src="<?php echo $mediaUrl;?>wysiwyg/about-us/trigger-point.png" alt=""> <span class="noText">NO</span> Lorem ipsum dolor</li>
                  <li><img src="<?php echo $mediaUrl;?>wysiwyg/about-us/trigger-point.png" alt=""> <span class="noText">NO</span> Lorem ipsum dolor</li>
                  <li><img src="<?php echo $mediaUrl;?>wysiwyg/about-us/trigger-point.png" alt=""> <span class="noText">NO</span> Lorem ipsum dolor</li>
                </ul>
              </div>
              <div class="in_AbtCont" data-aos="fade-up" data-aos-delay="1000">
                <h3 class="inner_title">Lorem ipsum dolor</h3>
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section_wrapper allSkin_Planet">
        <div class="sections section3 section-right alliesPlanet1">
          <div class="mobile_viewSec alliesPlanet">
            <h2 class="Section_title"><span class="Aboutsec_title" data-aos="fade-up">Allies of Skin<br>Allies of the Planet</span></h2>
            <span class="Abtsec_img"><img src="<?php echo $mediaUrl;?>wysiwyg/about-us/background-img1.jpg" alt="" data-aos="fade-up" data-aos-delay="1000"></span>
            <div class="section_content">
              <div class="in_AbtCont" data-aos="fade-up" data-aos-delay="1000">
                <h3 class="inner_title">Lorem ipsum dolor</h3>
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="section_wrapper">
        <div class="sections section4 section-left animaltest">
          <div class="mobile_viewSec animaltest1">
            <h2 class="Section_title"><span class="Aboutsec_title" data-aos="fade-up">Against<br>Animal Testing</span></h2>
            <div class="section_content" data-aos="fade-up">
              <span class="Abtsec_img"><img src="<?php echo $mediaUrl;?>wysiwyg/about-us/background-img2.jpg" alt="" data-aos="fade-up" data-aos-delay="1000"></span>
              <div class="in_AbtCont" data-aos="fade-up" data-aos-delay="1000">
                <h3 class="inner_title">Lorem ipsum dolor</h3>
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section_wrapper">
        <div class="sections section5 section-right allife1">
          <div class="mobile_viewSec allife">
            <h2 class="Section_title"><span class="Aboutsec_title" data-aos="fade-up">Allies for Life</span></h2>
            <span class="Abtsec_img"><img src="<?php echo $mediaUrl;?>wysiwyg/about-us/background-img3.jpg" alt="" data-aos="fade-up" data-aos-delay="1000"></span>
            <div class="section_content">
              <div class="in_AbtCont" data-aos="fade-up" data-aos-delay="1000">
                <h3 class="inner_title">Lorem ipsum dolor</h3>
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="About_BackToTop"><a id="toTop" class="about_backtotop"><span class="back-to-top">Back To Top</span></a></div>
  </div>
</div>
<script type="text/javascript">
  requirejs(['require', 'jquery', 'aos'],
    function(require, $, AOS) {
      AOS.init({
        duration: 600,
      });

      //$('.sections.section-right::before').hide();
      $(window).on('load', function(){
        setTimeout(function(){
          $('.sections.section-right::before').hide(1000);
        }, 3000);
      })

    });

</script>
