<?php
/**
 * Copyright © 2018 TechNWeb, Inc. All rights reserved.
 * See TNW_LICENSE.txt for license details.
 */

/* @var $block \TNW\Subscriptions\Block\Product\View\Subscribe */
?>

<?php if ($block->isSubscribeAvailable()): ?>
    <?php if ($block->IsOnlySubscribePurchase()): ?>
        <input type="hidden" name="subscribe_active" value="1" />
        <div class="tnw-addtocart-container">
            <div class="addtocart-subscribe">
                <div class="box-tocart">
                    <?php echo $block->getChildHtml('addtocart_subscribe') ?>
                </div>
            </div>
        </div>
        <script type="text/x-magento-init">
            {
                "#product_addtocart_form": {
                    "Magento_Catalog/js/validate-product": {}
                }
            }
        </script>
    <?php elseif ($block->IsOneTimeAndSubscribePurchase()): ?>
        <input type="hidden" name="subscribe_active" value="<?= $block->isSubscriptionDefault() ? 1 : 0 ?>" />
        <div class="tnw-addtocart-container">
            <div class="addtocart-onetime">
                <input type="radio" id="addtocart_onetime"
                       name="addtocart_type" value="0"
                       checked=""/>
                     <?php /*  
                        <?= $block->isSubscriptionDefault() ?: 'checked' ?>
                    */
                      ?>
                <label for="addtocart_onetime"><?php /* @escapeNotVerified */ echo __('One Time Purchase') ?></label>
                <div class="onetime-final-price"></div>
                <div class="addtocart-wrapper">
                    <?php echo $block->getChildHtml('addtocart_orig') ?>
                </div>
            </div>
            <div class="addtocart-subscribe">
                <div class="box-tocart">
                <input type="radio" id="addtocart_subscribe"
                       name="addtocart_type" value="1"
                    <?php /*   
                    <?= $block->isSubscriptionDefault() ? 'checked' : '' ?>
                    */?>
                />
                <label for="addtocart_subscribe"><?php /* @escapeNotVerified */ echo __('Subscribe') ?></label>
                <div class="subscription-price-with-savings"></div>
                <div class="addtocart-wrapper">
                    <?php echo $block->getChildHtml('addtocart_subscribe') ?>
                </div>
                </div>
            </div>
        </div>
    <?php else: ?>
        <input type="hidden" name="subscribe_active" value="0" />
        <?php echo $block->getChildHtml('addtocart_orig') ?>
    <?php endif ?>
<?php else: ?>
    <input type="hidden" name="subscribe_active" value="0" />
    <?php echo $block->getChildHtml('addtocart_orig') ?>
<?php endif ?>
