<?php
/**
 * Copyright © 2018 TechNWeb, Inc. All rights reserved.
 * See TNW_LICENSE.txt for license details.
 */

/* @var $block \TNW\Subscriptions\Block\Product\View\Subscribe */
?>

<?php if ($block->isSubscribeAvailable()): ?>
    <div class="addtocart-tabs" data-mage-init='{"tabs":{"openedState":"active"}}'>
        <div class="content-container">
            <div class="tab-content subscribe-tab" id="subscribe-tab" data-role="content">
                <?php echo $block->getChildHtml('updatecart_subscribe') ?>
            </div>
        </div>
    </div>
 <?php else: ?>
    <?php echo $block->getChildHtml('addtocart_orig') ?>
<?php endif ?>
