	<?php $order_data_add = $this->getOrder();
		$financial_data = $order_data_add->getData('financial_status');
		$fullfilment_status = $order_data_add->getData('fullfilment_status');
		$accepts_marketing = $order_data_add->getData('accepts_marketing');
		$paid_at = date_create($order_data_add->getData('paid_at'));
		$fulfilled_at = $order_data_add->getData('fulfilled_at')?date_create($order_data_add->getData('fulfilled_at')):'';
		$old_payment_method = $order_data_add->getData('old_payment_method');
		$old_payment_reference = $order_data_add->getData('old_payment_reference');
		$tags = $order_data_add->getData('tags');
		$risk_level = $order_data_add->getData('risk_level');
		$source = $order_data_add->getData('source');
		$tax_1_name = $order_data_add->getData('tax_1_name');
		$tax_1_value = $order_data_add->getData('tax_1_value');
		$tax_2_name = $order_data_add->getData('tax_2_name');
		$tax_2_value = $order_data_add->getData('tax_2_value');
		$tax_3_name = $order_data_add->getData('tax_3_name');
		$tax_3_value = $order_data_add->getData('tax_3_value');
		$old_phone = $order_data_add->getData('old_phone');

	?>

<?php if (!empty($financial_data)): ?>
	<style>
		.padd {
			padding:1%;
		}
		.toggle-button-paid,.toggle-button-fulfilled{
			background: #86dca8;
	    padding: 2px 12px;
	    font-weight: 600;
	    display: inline-block;
	    border-radius: 15px;
	    text-align: center;
		} 
		.toggle-button-blue{
			background: #86dcdc;
	    font-weight: 600;
	    padding: 2px 12px;
	    display: inline-block;
	    border-radius: 15px;
	    text-align: center;
		}
		.toggle-button-unfulfilled,.toggle-button-refunded,.toggle-button-partially_refunded{
			background: #d9e071;
	    font-weight: 600;
	    padding: 2px 12px;
	    display: inline-block;
	    border-radius: 15px;
	    text-align: center;
		}
		.message-yes:before{
			font-family: 'Admin Icons';
			color: #79a22e;
			content: '\e62d';
		}
		.message-no:before{
			font-family: 'Admin Icons';
			color: #79a22e;
			color:red;
			content: '\e632';
		}
		.next-line{
			margin-bottom: 1.7rem;
    	padding: 1.4rem 0 .5rem;
		}
		.half-left{
			float: left;
    	width: calc( (100%) * 0.5 - 30px );
		}
		.half-right{
			float: right;
			width: calc( (100%) * 0.5 - 30px );
		}
		.date-class {
			font-size: 12px;
			font-weight: 600;
		}

		#progressbar {
		  background-color: #dadada;
		  border-radius: 13px;
		  margin-bottom: 14px;

		}

		.risk-Low {
		  width: 20%;
			background-color: #56e48d;
		}
		.risk-Medium {
			width: 50%;
			background-color: #e49e56;
		}
		.risk-High {
			width: 90%;
			background-color: #e45656;
		}
		#progressbar>div {
		  height: 20px;
		  border-radius: 10px;
		  text-align: center;
		}
	</style>

<div class="admin__page-section-title">
		<span class="title" >Imported Order From Shopify</span>
</div>


	<div class="admin__page-section-item order-payment-method">
		<div class="admin__page-section-item-title">
		    <span class="title">Order Status</span> 
		</div>
				<div class="admin__page-section-item-content padd">
					<span> <strong>Financial Status : </strong> <span class="toggle-button-<?=$financial_data?>"><?=$financial_data?></span></span>
					<span class="date-class">(<?=date_format($paid_at,"d M Y")?>)</span>

	  		</div>
				
				<?php if (!empty($fullfilment_status)): ?>
				<div class="admin__page-section-item-content padd">
					<span> <strong> Fullfilment Status :</strong> <span class="toggle-button-<?=$fullfilment_status?>"><?=$fullfilment_status?></span>
					<span class="date-class"><?php if(!empty($fulfilled_at)){echo "(".date_format($fulfilled_at,"d M Y").")";}?></span>
				</span>
	  		</div>
				<?php endif ?>
				
			

</div>

<div class="admin__page-section-item order-shipping-method">

    <div class="admin__page-section-item-title">
        <span class="title">Payment Details</span> 
    </div>
    <div class="admin__page-section-item-content">
        <div class="order-payment-method-title"><?=$old_payment_method?></div>
        <div class="order-payment-additional">Reference Id : <?=$old_payment_reference?></div>
       	<?php if (!empty($old_phone)): ?> 
        	<div class="order-payment-additional">Phone : <?=$old_phone?></div>
    		<?php endif; ?>
    </div>
</div>

<div style="clear:both"></div>
<div class="next-line"></div>
<div class="admin__page-section-item half-left">
    <div class="admin__page-section-item-title">
        <span class="title">Fraud Analysis</span> 
    </div>
    <div class="admin__page-section-item-content">
    	<div id="progressbar" >
    	  <div class="risk-<?=$risk_level?>" ><span><?=$risk_level?></span></div>
    	</div>
			<div class="admin__page-section-item-content padd">
				<span> <strong>Source : </strong> <span class="toggle-button-blue"><?=$source?></span></span></span>
  		</div>
    </div>
</div>
<div class="admin__page-section-item half-right">
    <div class="admin__page-section-item-title">
        <span class="title">Tax and Marketting</span> 
    </div>
    <div class="admin__page-section-item-content">
    				<?php if (!empty($accepts_marketing)): ?>
    				<div class="admin__page-section-item-content padd">
    					<span> <strong>Accepts Marketing :</strong> <span><?=$accepts_marketing ?> <span class="message-<?=$accepts_marketing ?>" aria-hidden="true"></span></span></span>
    	  		</div>
    				<?php endif ?>
    				<?php if (!empty($tags)): ?>
    				<div class="admin__page-section-item-content padd">
    					<span> <strong>Tags :</strong> <span class="toggle-button-blue"><?=$tags ?> </span></span>
    	  		</div>
    				<?php endif ?>

    				<?php if (!empty($tax_1_name)): ?>
    				<div class="admin__page-section-item-content padd">
    					<span> <strong><?=$tax_1_name ?></strong> <?=$tax_1_value?> <span></span></span>
    	  		</div>
    				<?php endif ?>
    				<?php if (!empty($tax_2_name)): ?>
    				<div class="admin__page-section-item-content padd">
    					<span> <strong><?=$tax_2_name ?></strong> <?=$tax_2_value?> <span></span></span>
    	  		</div>
    				<?php endif ?>	
    				<?php if (!empty($tax_3_name)): ?>
    				<div class="admin__page-section-item-content padd">
    					<span> <strong><?=$tax_3_name ?></strong> <?=$tax_3_value?><span></span></span>
    	  		</div>
    				<?php endif ?>	
    </div>
</div>
<div style="clear:both;"></div>
<?php endif ?>				

