// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Blank theme overrides
//  _____________________________________________

//  Theme file should contain declarations (overrides) ONLY OF EXISTING variables
//  Otherwise this theme won't be available for parent nesting
//  All new variables should be placed in local theme lib or local theme files


//
//  General css for all the pages
//  ---------------------------------------------

@font-face {
     font-family: 'Courier Sans Bold';
     src: url('../fonts/couriersans-bold/couriersans-bold.eot');
     src: url('../fonts/couriersans-bold/couriersans-bold.eot?#iefix') format('embedded-opentype'),
	 url('../fonts/couriersans-bold/couriersans-bold.woff2') format('woff2'),
	 url('../fonts/couriersans-bold/couriersans-bold.woff') format('woff'),
	 url('../fonts/couriersans-bold/couriersans-bold.ttf') format('truetype'),
	 url('../fonts/couriersans-bold/couriersans-bold.svg#Courier Sans Bold') format('svg');
     font-weight: 400;
     font-style: normal
}

@font-face {
     font-family: 'Courier Sans Light';
     src: url('../fonts/couriersans-light/couriersans-light.eot');
     src: url('../fonts/couriersans-light/couriersans-light.eot?#iefix') format('embedded-opentype'),
	 url('../fonts/couriersans-light/couriersans-light.woff2') format('woff2'),
	 url('../fonts/couriersans-light/couriersans-light.woff') format('woff'),
	 url('../fonts/couriersans-light/couriersans-light.ttf') format('truetype'),
	 url('../fonts/couriersans-light/couriersans-light.svg#Courier Sans Light') format('svg');
     font-weight: 400;
     font-style: normal
}

@font-face {
     font-family: 'Courier Sans Regular';
     src: url('../fonts/couriersans-regular/couriersans-regular.eot');
     src: url('../fonts/couriersans-regular/couriersans-regular.eot?#iefix') format('embedded-opentype'),
	 url('../fonts/couriersans-regular/couriersans-regular.woff2') format('woff2'),
	 url('../fonts/couriersans-regular/couriersans-regular.woff') format('woff'),
	 url('../fonts/couriersans-regular/couriersans-regular.ttf') format('truetype'),
	 url('../fonts/couriersans-regular/couriersans-regular.svg#Courier Sans Regular') format('svg');
     font-weight: 400;
     font-style: normal
}

@font-face {
     font-family: 'SofiaPro Black';
     src: url('../fonts/SofiaPro-Black/SofiaPro-Black.eot');
     src: url('../fonts/SofiaPro-Black/SofiaPro-Black.eot?#iefix') format('embedded-opentype'),
	 url('../fonts/SofiaPro-Black/SofiaPro-Black.woff2') format('woff2'),
	 url('../fonts/SofiaPro-Black/SofiaPro-Black.woff') format('woff'),
	 url('../fonts/SofiaPro-Black/SofiaPro-Black.ttf') format('truetype'),
	 url('../fonts/SofiaPro-Black/SofiaPro-Black.svg#SofiaPro Black') format('svg');
     font-weight: 400;
     font-style: normal
}

body {
    color: #000000;
    font-family: 'Courier Sans Regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

a,
.alink,
button,
.button {
	transition: all 0.5s ease;
}

.page-main {
	.container {
		box-sizing: border-box;
		margin: 0 auto;
		max-width: 100%;
		padding: 0 16px;
		width: 100%;
	}
	
	input[type="text"],
	input[type="password"],
	input[type="url"],
	input[type="tel"],
	input[type="search"],
	input[type="number"],
	input[type="datetime"],
	input[type="email"] {
		background: #ffffff none repeat scroll 0 0 padding-box;
		border: 1px solid #000000;
		border-radius: 0;
		box-shadow: none !important;
		box-sizing: border-box;
		display: inline-block;
		font-family: "Courier Sans Regular";
		font-size: 14px;
		height: 36px;
		letter-spacing: 0.35px;
		line-height: 36px;
		padding: 3px 10px;
		vertical-align: baseline;
		width: 100%;
		
		&::-webkit-input-placeholder {
			color: #858585;
		}
		
		&::-moz-placeholder {
			color: #858585;
		}
		
		&:-ms-input-placeholder {
			color: #858585;
		}
		
		&:-moz-placeholder {
			color: #858585;
		}
	}
	
	textarea {
		background: #ffffff none repeat scroll 0 0 padding-box;
		border: 1px solid #000000;
		border-radius: 0;
		box-shadow: none !important;
		display: inline-block;
		font-family: "Courier Sans Regular";
		font-size: 14px;
		letter-spacing: 0.45px;
		line-height: 20px;
		max-height: 150px;
		min-height: 150px;
		padding: 3px 10px;
		width: 100%;
		
		&::-webkit-input-placeholder {
			color: #858585;
		}
		
		&::-moz-placeholder {
			color: #858585;
		}
		
		&:-ms-input-placeholder {
			color: #858585;
		}
		
		&:-moz-placeholder {
			color: #858585;
		}
	}
	
	.actions-toolbar { 
		button {
			&.action {
				&.primary {
					background: #000000 none repeat scroll 0 0;
					border: medium none;
					border-radius: 0;
					color: #ffffff;
					display: inline-block;
					font-size: 24px;
					font-weight: normal;
					line-height: 63px;
					padding: 0 20%;
					text-transform: uppercase;
					vertical-align: middle;
					
					span {
						display: inline-block;
						vertical-align: top;
						width: auto;
					}
				}
			}
		}
		
		 .secondary {
			a {
				&.action {
					color: #000000;
					float: right;
					font-size: 15px;
					letter-spacing: 0.45px;
					line-height: 43px;
					margin: 10px 0;
					padding: 0;
					text-decoration: underline;
					vertical-align: middle;
					
					span {
						display: block;
						vertical-align: middle;
						width: auto;
					}
					
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
	
	.pro-action-section {
		.action {
			&.primary {
				&:focus,
				&:active {
					background: #000000 none repeat scroll 0 0;
					border: medium none;
					color: #ffffff;
					
					img {
						filter: brightness(100%) invert(100%);
					}
				}
			}
		}
	}
}


#maincontent {
	.messages {
		display: inline-block;
		width: 100%;
		text-align: right;
		
		.message {
			margin: 90px 0 0;
			display: inline-block;
			max-width: calc(~'(100% - 110px)');
			text-align: left;
			
			& ~ .message {
				display: none;
				margin: 0;
			}
		}
	}
	
	.page.messages {
		display: none;
	}
}

.account {
	#maincontent {
		.messages {
			.message {
				margin: 0;
			}
		}
		
		.page.messages {
			display: inline-block;
		}
	}
}



.catalog-category-view,
.cms-jumpstart-your-glow {
	.page-main {
		padding-left: 16px;
		padding-right: 16px;
	}
}

.catalog-product-view {
	.page-main {
		.container {
			padding: 0 16px;
		}
	}
}



//
//  General css for Custom
//  ---------------------------------------------

.custom-header-cont {
    display: inline-block;
    left: 0;
    position: fixed;
    top: 0;
    vertical-align: middle;
    width: 100%;
    z-index: 3;
    background: #fff;
    border-bottom: solid 2px #000;
    padding-top: 9px;
    height: 49px;
}

.header-topbar {
    box-sizing: border-box;
    display: none;
    padding: 5px 8px;
    text-align: center;
    width: 100%;
    background: #FFDEB5;
	position: relative;
}

.top-bar-cont {
    display: inline-block;
    max-width: 1156px;
    width: 100%;
	
	.top-label {
		box-sizing: border-box;
		display: inline-block;
		font-size: 12px;
		letter-spacing: 0.35px;
		line-height: 14px;
		margin: 0;
		padding: 0 15px;
		text-transform: uppercase;
		vertical-align: middle;
		width: 100%;
		white-space: normal;
	}

	a {
		background: #000000 none repeat scroll 0 0;
		color: #ffffff;
		display: inline-block;
		font-size: 14px;
		letter-spacing: 1px;
		line-height: 24px;
		padding: 0 15px;
		text-transform: uppercase;
		vertical-align: top;
		width: auto;
		margin: 5px 0 0;
	}
}

.top-bar-close {
    cursor: pointer;
    float: right;
    font-family: "SofiaPro Black";
    font-size: 20px;
    line-height: 14px;
    position: relative;
    width: auto;
    position: absolute;
    right: 0;
    top: 0;
	
	.top-close {
		display: inline-block;
		vertical-align: top;
		width: auto;
	}
}

.header-container {
    display: block;
    margin: 0px auto 0;
    max-width: 100%;
}

.logo-menu-bar {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    flex-wrap: wrap;
    float: none;
    display: inline-block;
    padding: 0 20px;
	box-sizing: border-box;
	
    .menu-logo {
        flex-wrap: wrap;
        display: inline-block;
		width: 35px;
    }
    
	.mobile-menu-icon {
        flex-wrap: wrap;
        display: inline-block;
        text-align: center;
        width: calc(~'(100% - 106px)');
    }
	
    .main-logo {
        flex-wrap: wrap;
        display: inline-block;
        padding-right: 0;
		width: 61px;
    }
}

.menu-section {
    float: left;
    max-width: calc(~'(100% - 200px)');
    width: 100%;
}

.main-logo {
    float: right;
    width: auto;
    padding-top: 5px;
	
	.logo {
		margin: 0;
		max-width: 100%;
		
		img {
			display: inline-block;
			vertical-align: middle;
			width: auto;
		}
	}
}

.menu-bar {
    display: inline-block;
    vertical-align: top;
    width: 100%;
	
	.menu-logo {
		float: left;
		width: auto;
		
		img {
			display: inline-block;
			margin: 0 0 0 -39px;
			min-width: 35px;
			vertical-align: top;
			width: auto;
		}
	}
	
	.menu-links {
		box-sizing: border-box;
		float: left;
		padding: 0 48px;
		width: calc(~'(100% - 96px)');
	}
	
	.menu-items {
		display: inline-block;
		list-style: outside none none;
		margin: 0;
		padding: 0;
		vertical-align: top;
		width: 100%;
        padding-top: 16px;
	}
	
	.menu-item {
		display: inline-block;
		line-height: 13px;
		margin: 0;
		padding: 0 5px;
		vertical-align: top;
		width: auto;

		a {
			border: 1px solid transparent;
			color: #000000;
			display: inline-block;
			font-size: 16px;
			letter-spacing: 1.6px;
			line-height: 23px;
			margin: -5px 0 0;
			padding: 0 5px;
			text-decoration: none;
			text-transform: uppercase;
			vertical-align: top;
			width: auto;
			
			&:hover {
				border: 1px solid #000000;
			}
            &.active {
                border: 1px solid #000000;
            }
		}
	}
}


.header-fixed-options {
    display: inline-block;
    margin: 38px 0 0;
    position: relative;
    vertical-align: top;
    width: 60px;
}

.header-opt {
    display: inline-block;
    left: 16px;
    position: absolute;
    top: 0;
    width: 40px;
}

.header-opt-boxes {
    float: left;
    width: 100%;
    text-align: center;
    .on-user-icon-click-show-box {
        padding: 14px 16px 8px 16px;
        clear: both;
        overflow: hidden;
    }
	.box-opt {
		border: 2px solid #000000;
		box-sizing: border-box;
		float: left;
		width: 100%;
		transition: all 0.5s ease;
		background: #ffffff none repeat scroll 0 0;
		
		a {
			float: left;
			width: 100%;
		}
		
		img {
			float: none;
			max-width: 100%;
			width: auto;
			transition: all 0.5s ease;
			cursor: pointer;
		}
		
		&:hover {
			background: rgb(0, 0, 0) none repeat scroll 0% 0%;
			
			img {
				filter: brightness(100%) invert(100%);
			}
		}

		&.chat-box {
			border-bottom: medium none;
			margin: 36px 0 0;
            padding-top: 14px;
            padding-bottom: 3px;
		}
		
		&.user-box {
			border-bottom: medium none;
		}
		
		&.minicart-box {
			&:hover {
				background: #ffffff none repeat scroll 0 0;
				
				img {
					filter: none;
				}
			}
			
			.text {
				&:hover {
					background: #000000 none repeat scroll 0 0;
					
					img {
						filter: brightness(100%) invert(100%);
					}
				}
			}
		}
	}
}


.minicart-box {
	.minicart-wrapper {
		margin: 0;
		text-align: center;
		width: 100%;
		
		.action {
			&.showcart {
				&:before {
					content: none;
				}
				
				.text {
					float: left;
					height: auto;
					margin: 0;
					padding: 0;
					position: static;
					width: 100%;
					transition: all 0.5s ease 0s;
                    padding-top: 10px;
                    padding-bottom: 1px;
				}
				
				.counter {
					&.qty {
						background: #ffffff none repeat scroll 0 0;
						border-radius: 0;
						border-top: 2px solid #000000;
						color: #000000;
						display: inline-block;
						float: left;
						font-size: 18px;
						height: 28px;
						letter-spacing: 0.45px;
						line-height: 28px;
						margin: 0;
						padding: 0;
						position: static;
						text-align: center;
						width: 100%;
						
						&.empty {
							display: inline-block;
						}
						
						&:hover {
							background: #000000 none repeat scroll 0 0;
							color: #ffffff;
						}
					}
				}

				.counter-label {
					display: none;
				}

				.counter-number {
					display: inline-block;
					vertical-align: top;
					width: 100%;
				}
			}
		}
	}
}


/*======For the cookie bar strip======*/

.message {
	&.global {
		&.cookie {
			.content {
				display: inline-block;
				text-align: center;
				width: 100%;
				
				p {
					display: inline-block;
					width: auto;
				}
				
				.actions {
					display: inline-block;
					margin: 5px;
					width: auto;
					
					button.action.primary.cookiebar {
						font-weight: normal;
						text-transform: uppercase;
						border-radius: 0;
						font-size: 12px;
						letter-spacing: 0.45px;
					}
				}
			}
		}
	}
}



/*======For the modal-pop-ups======*/

.modals-wrapper {
	.modal-popup {
	
		.modal-inner-wrap {
			max-width: 1156px;
			width: 80%;
		}
		
		.modal-header {
			float: left;
			padding: 5px 0;
			position: relative;
			width: 100%;
		}
		
		.modal-content {
			box-sizing: border-box;
			float: left;
			letter-spacing: 0.35px;
			padding: 10px;
			text-align: center;
			width: 100%;
			font-size: 14px;
			line-height: 20px;
		}
		
		.modal-footer {
			box-sizing: border-box;
			float: left;
			padding: 20px;
			text-align: center;
			width: 100%;
		}
		
		button {
			background: #000000 none repeat scroll 0 0;
			border: medium none;
			border-radius: 0;
			color: #ffffff;
			display: inline-block;
			font-size: 18px;
			font-weight: normal;
			letter-spacing: 1.85px;
			line-height: 36px;
			margin: 0 5px;
			padding: 0 15px;
			text-transform: uppercase;
			vertical-align: middle;
			width: auto;
			
			&.action-close {
				border-radius: 50%;
				height: 40px;
				line-height: 40px;
				margin: 0;
				padding: 0;
				position: absolute;
				right: -20px;
				top: -20px;
				width: 40px;
				background: #000000 none repeat scroll 0 0;
				
				&:before {
					color: #ffffff;
					font-size: 40px;
					line-height: 40px;
				}
			}
		}
	}
}


//
//  Custom Css For the Homepage 
//  ---------------------------------------------


.cms-home {
	.page-main {
		max-width: 100%;
		padding: 0;
	}
	
	.header-topbar {
		display: inline-block;
	}
	
	.custom-header-cont {
		top: 70px;
		
		&.shift-to-top {
			top: 0;
		}
	}
}


/*===========For the Home page Slider Section===========*/

.home-page-slider-container {
    display: inline-block;
    position: relative;
    width: 100%;
}

.home-slider-top-sec {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.home-slider-bottom-sec {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
	
	
	.home-banner-tag {
        bottom: 96px;
        display: inline-block;
        font-family: "SofiaPro Black";
        font-size: 134px;
        left: -9px;
        letter-spacing: 13.2px;
        line-height: 140px;
        position: absolute;
        text-align: center;
        width: calc(~'(100% + 24px)');
	}
}

.slide-left-sec {
    float: left;
    max-width: 568px;
    position: relative;
    width: 50%;
    .side-banner-cont {
        text-align: center;
        letter-spacing: 2px;
        color: #FFFFFF;
        background: #000;
        width: 372px;
        height: 30px;
        position: absolute;
        bottom: 228px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
	
	.side-banner-pic {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		
		img {
			display: inline-block;
			vertical-align: middle;
			width: 100%;
		}
	}
}

.slide-right-sec {
    float: right;
    max-width: 568px;
    width: 50%;
    padding-top: 121px;
	
	.home-slider {
		display: inline-block;
		max-width: 100%;
		overflow: hidden;
		width: 100%;
        .owl-nav.disabled {
            display: none;
        }
	}
}

.home-slider {
    .owl-item {
        display: inline-block;
        .slide {
            display: inline-block;
            width: 100%;
            height: 100%;
            vertical-align: top;

            .slide-banner {
                float: left;
                margin: 0 0 26px;
                width: 100%;
            }

            img {
                display: inline-block;
                vertical-align: middle;
                width: 100%;
            }

            .slide-content {
                float: left;
                width: 100%;

                .slide-title {
                    float: left;
                    margin: 3px 0 20px;
                    width: 100%;
                    font-family: 'SofiaPro Black';
                    font-size: 36px;
                    line-height: 43px;
                    letter-spacing: 3.5px;
                    text-transform: uppercase;
                    position: relative;
                    padding-bottom: 4px;
                }
                
                .slidetextsecound {
                    letter-spacing: 3px;
                }

                .slidetextsecound {
                    .backstrip {
                        &::after {
                            background: #9BCFCB;
                        }
                    }
                    .backstripS {
                        &::after {
                            background: #9BCFCB;
                        }
                    }
                }
                .slidetextthird {
                    .backstrip {
                        &::after {
                            background: #743DBC;
                        }
                    }
                    .backstripS {
                        &::after {
                            background: #743DBC;
                        }
                    }
                }

                .slide-cont {
                    float: left;
                    font-size: 18px;
                    width: 100%;
                    color: #000;
                    letter-spacing: 0.45px;
                    line-height: 28px;
                }
            }
        }
    }
}

.backstrip {
    display: inline-block;
    position: relative;
    line-height: 32px;
    &::after {
        content: '';
        background: #FFA300;
        width: 100%;
        height: 14px;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        max-width: calc(~'(100% - 7px)');
    }
}
.backstripS {
    display: inline-block;
    position: relative;
    line-height: 32px;
    &::after {
        content: '';
        background: #FFA300;
        width: 100%;
        height: 14px;
        position: absolute;
        bottom: 0px;
        left: 0;
        z-index: -1;
        max-width: calc(~'(100% - 7px)');
    }
}

.psasimplesteps {
    padding-top: 0px;
    h2 {
        background: #FFA300;
        text-align: center;
        padding: 0;
        font-family: 'SofiaPro Black';
        font-size: 20px;
        height: 43px;
        letter-spacing: 3.6px;
        color: #000;
        margin: 0;
        line-height: 43px;
        .backstrip {
            z-index: 100;
            &::after {
                background: #fff;
                bottom: 7px;
                max-width: calc((100% - -20px));
                left: 2px;
                height: 8px;
            }
        }
    }
    .listing {
        float: left;
        position: relative;
        .productimage {
            img {
                display: block;
                vertical-align: text-top;
            }
        }
        .content {
            position: absolute;
            left: 49%;
            top: 44%;
            transform: translate(-50%, -50%);
            .stepcount {
               width: 101px;
                background: #000;
                color: #fff;
                text-align: center;
                height: 18px;
                line-height: 18px;
                font-size: 18px;
                letter-spacing: 2px;
                margin: auto;
                margin-top: 16px;
                margin-bottom: 0;
            }
            .productname {
                font-family: 'SofiaPro Black';
                font-size: 32px;
                line-height: 40px;
                letter-spacing: 2px;
                color: #fff;
                margin-top: 12px;
                text-align: center;
                .backstrip {
                    z-index: 100;
                    line-height: 55px;
                    &::after {
                        max-width: calc(~'(100% - 12px)');
                        left: 2px;
                        height: 12px !important;
                        background: #743DBC;
                        bottom: 13px;
                    }
                }
            }
        }
         &.maskandtone {
            .content {
                width: 100%;
                margin-left: 0px;
                .productname {
                    letter-spacing: 2px;
                    .backstrip {
                        &::after {
                            background: #DF231D;
                            bottom: 14px;
                            left: 7px;
                            height: 12px;
                            max-width: calc(~'(100% - 19px)');
                        }
                    }
                }
            }
        }
        &.serumproduct {
            .backstrip {
                &::after {
                    background: #9BCFCB !important;
                    height: 21px !important;
                    left: 3px !important;
                    max-width: calc(~'(100% - 13px)') !important;
                }
            }
        }
        &.moistureproduct {
            .content {
                margin-left: 14px;
                top: 43.5%;
            }
            .backstrip {
                &::after {
                    background: #98ADE3 !important;
                    left: 5px !important;
                    max-width: calc(~'(100% - 16px)') !important;
                }
            }
        }
    }
}
.psasimplesteps {
    .listing {
        height: 375px;
        overflow: hidden;
        cursor: pointer;
        .back {
            opacity: 0;
            transition: .9s all ease;
        }
        .front {
            transition: .9s all ease;
            opacity: 1;
        }
        &:hover {
            .front {
                opacity: 0;
                transition: .9s all ease;
            }
            .back {
                opacity: 1;
                position: absolute;
                top: 0;
                transition: .9s all ease;
            }
        }
    }
}
.shift-to-top {top: 0; transition: .5s all ease;}
.custom-header-cont.scrolled {top: 0; transition: .5s all ease;}
.psaprechecksection {
        text-align: center;
        border-top:none;
        margin-top: 0px;
        padding-top: 0;
    h2 {
        margin: 0;
        font-family: 'SofiaPro Black';
        font-size: 36px;
        line-height: 48px;
        letter-spacing: 3.5px;
        display: none;
        .backstrip {
            &::after {
                left: 0px;
                max-width: calc(~'(100% - 2px)') !important;
            }
        }
    }
    p {
        font-size: 14px;
        line-height: 20px;
        margin: 0;
        padding-top: 10px;
        padding-bottom: 2px;
    }
    .listing {
        .list {
            display: inline-block;
        }
    }
}
.beengossiping {
    background: #e5eaf8;
    text-align: center;
    padding-bottom: 53px;
    margin-top: 5px;
	
	.owl-item {
		.slide {
			position: relative;
		}
	}
	
    .owl-nav {
		&.disabled {
			display: none;
		}
    }
	
    .container {
        overflow: hidden;
        padding: 0;
        p {
            margin: 0;
            font-size: 20px;
            line-height: 32px;
            letter-spacing: 0.9px;
            padding-top: 70px;
            padding-bottom: 80px;
            position: relative;
            span.first {
                position: absolute;
                left: 49.8%;
                top: 28px;
				
				em,
				i {
					font-style: normal;
				}
            }
            span.secound {
                position: absolute;
                left: 49.8%;
                bottom: 37px;
            }
        }
    }
    h2 {
        background: #98ADE3;
        margin: 0;
        padding: 2px 0 8px 0;
        font-family: 'SofiaPro Black';
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 1px;
        .backstrip {
            z-index: 1;
            &::after {
                height: 6px;
                bottom: 8px;
                left: 6px;
                background: #fff;
                max-width: calc(~'(100% - 10px)') !important;
            }
        }
    }
    .Logo-Allure {
        img {
            width: auto !important;
        }
    }
}
.cms-home {
    .column.main {
        padding-bottom: 0;
    }
}
.shareyourstore {
    position: relative;
    img {
        display: block;
        width: 100%;
    }
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 1156px;
    }
    h2 {
       text-align: center;
        background: #fff;
        margin: 0;
        font-family: 'SofiaPro Black';
        font-size: 36px;
        line-height: 43px;
        letter-spacing: 3.6px;
        border: solid 2px #000;
        padding-top: 15px;
        padding-bottom: 20px;
        .backstrip {
            z-index: 1;
            &::after {
                background: #DF231D;
                left: 3px;
                max-width: calc(~'(100% - 7px)') !important;
            }
        }
    }
}




//
//  Custom css for Get Schooled CMS Page
//  ---------------------------------------------

.get-schooled-grid-content { 
    float: none;
    margin: 85px auto auto auto; 
    width: 375px;
	
	.top-heading {
		float: right;
		width: auto;
        margin-bottom: 20px;
		
		h2 {
			display: inline-block;
			font-family: "SofiaPro Black";
			font-size: 20px;
			font-weight: normal;
			letter-spacing: 3px;
			line-height: 25px;
			margin: 0;
			text-transform: uppercase;
			vertical-align: top;
			width: 100%;
		}
		
		.backstrip {
			line-height: 25px;
			vertical-align: top;
			
			&:after {
				background: #9bcfcb none repeat scroll 0 0;
				height: 8px;
                bottom: 4px;
			}
		}
	}
}


.get-school-grid-list {
    float: none;
    width:100%;
}

.gs-grid-block {
    background: #ffffff none repeat scroll 0 0;
    border: 2px solid #000000;
    box-sizing: border-box;
    float: left;
    height: 155px;
    margin: 0 10px 20px;
    padding: 0 20px 20px 10px;
    position: relative;
    width: 167px;
	cursor: pointer;
	
	&.grid-bg-1 {
		background: #98ADE3 none repeat scroll 0 0;
		border-color: #98ADE3;
	}
	
	&.grid-bg-2 {
		background: #D7918A none repeat scroll 0 0;
		border-color: #D7918A;
	}

	&.grid-bg-3 {
		background: #DF231D none repeat scroll 0 0;
		border-color: #DF231D;
	}

	&.grid-bg-4 {
		background: #FF7276 none repeat scroll 0 0;
		border-color: #FF7276;
	}

	&.grid-bg-5 {
		background: #FFA300 none repeat scroll 0 0;
		border-color: #FFA300;
	}

	&.grid-bg-6 {
		background: #001F5B none repeat scroll 0 0;
		border-color: #001F5B;
	}

	&.grid-bg-7 {
		background: #9BCFCB none repeat scroll 0 0;
		border-color: #9BCFCB;
	}

	&.grid-bg-8 {
		background: #743DBC none repeat scroll 0 0;
		border-color: #743DBC;
	}

	&.grid-bg-9 {
		background: #FF671D none repeat scroll 0 0;
		border-color: #FF671D;
	}
	
	&.grid-bg-10 {
		background: #FFABB6 none repeat scroll 0 0;
		border-color: #FFABB6;
	}
	
	&.open {
		.gs-grid-content {
			opacity: 1;
			visibility: visible;
			transition: visibility 0.3s linear,opacity 0.3s linear;
		}		
	}
	
    &:nth-child(2n) {
        .gs-grid-content {
            left: auto;
            right: -2px;
        }
    }
}

.gs-grid-titles {
    display: inline-block;
    height: 100%;
    position: relative;
    width: 100%;
	color: #000000;
	
	.element-symbol {
		display: inline-block;
		font-family: "SofiaPro Black";
		font-size: 60px;
		line-height: 62px;
		vertical-align: text-top;
		width: auto;
	}
	
	.element-name {
		float: left;
		font-size: 14px;
		letter-spacing: 1px;
		line-height: 20px;
		text-transform: uppercase;
		width: auto;
		margin-left: 8px;
	}
	
	&.gs-title-1 {
		color: #ffffff;
	}
	
	&.gs-title-2 {
		color: #4FBCCA;
	}
	
	&.gs-title-3 {
		color: #FFABB6;
	}
}

.gs-element-symbol {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.gs-element-name {
    bottom: -4px;
    display: inline-block;
    left: 0;
    position: absolute;
    vertical-align: middle;
    width: 100%;
}

.gs-grid-content {
    display: inline-block;
	background: #ffffff none repeat scroll 0 0;
    border: 2px solid #000000;
    left: -2px;
    padding: 20px;
    position: absolute;
    top: -2px;
    
	z-index: 1;
	transition: visibility 0.3s linear,opacity 0.3s linear;
    visibility: hidden;
	opacity: 0;
	min-height:287px;
    width: 310px;
	
	&.grid-cover-4 {
		min-height: 636px;
	}

	&.grid-cover-1 {
		min-height: 111px;
	}

	&.grid-cover-3 {
		min-height: 287px;
	}
	
	&.grid-cover-bottom {
		bottom: -2px;
		top: initial;
	}
}

.gs-element-info {
    float: left;
    width: 100%;
	
	.element-info {
		display: inline-block;
		font-size: 14px;
		letter-spacing: 0.45px;
		line-height: 20px;
		vertical-align: middle;
	}
}

/*.diamond-box {
    padding-top: 13px;
    padding-bottom: 4px;
}*/


.container {
    position: relative;
	
    #popup-box {
        position: absolute;
        z-index: 100;
        left: 310px;
        top: 131px;
        .close {
            font-family: 'SofiaPro Black';
            font-size: 36px;
            color: #000;
            letter-spacing: 3.6px;
            background: #fff;
            width: 71px;
            height: 71px;
            display: block;
            text-align: center;
            line-height: 70px;
            border: solid 2px #000;
            position: absolute;
            right: 19px;
            top: 19px;
            &:hover {
                text-decoration: none;
            }
        }
        .offeroff {
            font-size: 18px;
            line-height: 28px;
            color: #fff;
            position: absolute;
            top: 58%;
            right: 111px;
        }
        .copuncodebottom {
            position: absolute;
            left: 74px;
            bottom: 72px;
            .coupncode {
                font-size: 18px;
                line-height: 28px;
                letter-spacing: 1.8px;
                color: #fff;
            }
            .jointheteam {
                font-family: 'SofiaPro Black';
                text-transform: uppercase;
                color: #fff;
                font-size: 30px;
                line-height: 28px;
                padding-top: 16px;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: black;
            }
        }
    }
}
.swell-tab {
    display: none !important;
}
#freshwidget-button {
    display: none !important;
}
html, body {
    height: 100%;
    scroll-behavior: smooth;
}

.cart.table-wrapper .actions-toolbar .action-towishlist {
    display: none;
}


//
//  Custom css for mobile header design
//  ---------------------------------------------


.page-header {
    margin-bottom: 0;
}

.mobilebanner {
    margin-top: 15px;
    text-align: center;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    position: relative;
	
    p {
        margin: 0;
		display: inline-block;
		width: 100%;
		vertical-align: middle;
		
		img {
			display: inline-block;
			width: 100%;
			vertical-align: middle;
		}
    }
	
	.mobile-banner-cont {
		position: absolute;
		left: 50%;
		bottom: 26%;
		transform: translate(-50%, 0);
		display: inline-block;
		width: auto;
		
		.backstrip {
			color: #ffffff;
			letter-spacing: 1.4px;
			width: 230px;
			
			&:after {
				background: #000000;
				bottom: 11px;
				height: 20px;
			}
		}
	}
}

.mobilebannerconttent {
    padding: 20px 20px 15px 20px;
    h2 {
        font-family: 'SofiaPro Black';
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        letter-spacing: 1.8px;
        position: relative;
        margin: 0;
        .backstrip {
            &::after {
                height: 10px;
                bottom: 7px;
                background: #9bcfcb;
            }
        }
    }
    p {
        font-size: 14px;
        margin: 0;
        letter-spacing: 0.45px;
        padding-top: 18px;
        line-height: 20px;
    }
}
.mobile_shareyourstory {
    position: relative;
	text-align: center;
	
    img {
        display: inline-block;
		vertical-align: middle;
		
        &.boxsecound {
            margin-top: -2px;
        }
    }
    .content {
        position: absolute;
        background: #fff;
        top: 50%;
        width: 304px;
        border: solid 2px #000;
        text-align: center;
        left: 50%;
        transform: translate(-50%, -50%);
        h2 {
            font-family: 'SofiaPro Black';
            font-size: 20px;
            line-height: 25px;
            letter-spacing: 1px;
            margin: 0;
            padding: 5px 0 10px 0;
            .backstrip {
                &::after {
                    bottom: 6px;
                    height: 8px;
                }
            }
        }
    }
}
.menu-links {
    position: absolute;
    background: #fff;
    width: 100%;
    left: 0;
    top: 60px;
    height: 100vh;
    ul {
        padding: 0;
        margin-top: 140px;
        border-top: solid 1px #000;
        margin-left: 16px;
        list-style-type: none;
        padding-top: 28px;
		margin-right: 16px;
		
        li {
            margin-bottom: 0;
            a {
                font-size: 16px;
                color: #000;
                line-height: 28px;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
            &:first-child {
                padding-bottom: 10px;
            }
            &:nth-child(6) {
                border-bottom: solid 1px #000;
                padding-bottom: 15px;
                margin-bottom: 25px;
            }
        }
    }
    .mobilemenu-bottom {
        position: fixed;
        bottom: 0;
        width: 90%;
        padding: 0 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

#custom-header {
    z-index: 101;
}