<header></header>
<div data-bind="bindHtml: content,
        attr: {
            class: element.cssclass ? element.cssclass : 'admin__scope-old'
        },
        visible: visible,
        css: contentSelector"></div>

<!--ko if: showSpinner -->
<div data-role="spinner" class="admin__data-grid-loading-mask" data-bind="visible: loading">
    <div class="spinner">
        <span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span>
    </div>
</div>
<!-- /ko -->
