.clr {clear: both;}
.fl {float: left;}
.fr {float: right;}
.block.newsletter .field .control:before {display: none;}




//
//  Custom css for the footer
//  ---------------------------------------------

.footer-content-top {
    padding-left: 18px;
    padding-right: 18px;
	
    .newsletter {
        float: left;
        width: 100%;
        position: relative;
        letter-spacing: 1.8px;
        
		input {
			border:none;
			border-bottom: solid 1px #000;
			padding-left: 0;
			line-height: 20px;
			height: auto;
			padding-bottom: 13px;
			font-family: 'Courier Sans Regular';
			font-size: 14px;
			box-shadow: none;
			
			&#newsletter {
				&::-webkit-input-placeholder{
					text-align: left;
					font-family: 'Courier Sans Regular';
					font-size: 14px;
					letter-spacing: 1.6px;
					color: #000000;
					opacity: 1;
				}
				
				&::-moz-placeholder {
					text-align: left;
					font-family: 'Courier Sans Regular';
					font-size: 14px;
					letter-spacing: 1.6px;
					color: #000000;
					opacity: 1;
				}
				
				&:-ms-input-placeholder{
					text-align: left;
					font-family: 'Courier Sans Regular';
					font-size: 14px;
					letter-spacing: 1.6px;
					color: #000000;
					opacity: 1;
				}
				
				&::placeholder{
					text-align: left;
					font-family: 'Courier Sans Regular';
					font-size: 14px;
					letter-spacing: 1.6px;
					color: #000000;
					opacity: 1;
				}
			}
        }
		
		.block {
            float: none !important;
            width: 100%;
            
			.actions {
                position: absolute;
                right: 24px;
                
				button {
                    background: none;
                    border: none;
                    .fa {
                        color: #000;
                        font-size: 15px;
                    }
				}
			}
		}
	}
}


.footer_navigation {
	float: none;
    padding-left: 0;
	
	> div {
		padding: 0;
		width: 100%;
		padding-right: 0;
		float: none;
		border-top: solid 1px #000;
		clear: both;
		position: relative;
			
		&:nth-child(2) {
			padding: 0;
		}
        
		> li {
			padding-bottom: 0;
            font-size: 14px;
            letter-spacing: 1.6px;
            line-height: normal;
            margin: 0;
            padding: 15px 18px;
            float: none;
            clear: both;
            text-transform: uppercase;
            position: relative;
            
			&::after {
				background: url(../images/footer-down-arrow.svg) no-repeat 5px 5px;
				content: '';
				position: absolute;
				right: 20px;
				width: 25px;
				height: 25px;
				z-index: 100;
				top: 9px;
				border: solid 1px #000;
				background-size: 60%;
			}
			
			a {
				padding-bottom: 0;
				font-size: 16px;
				letter-spacing: 1px;
				line-height: normal;
				width: 100%;
				float: none;
				text-transform: uppercase
			}
		}
	}
	
	.menu-links {
		ul {
			li {
				&:nth-child(6) {
					border: none;
					margin: 0;
				}
			}
		}
	}
}


.footer-copyright {
    padding-left: 18px;
    padding-right: 18px;
	border-top: solid 1px #000;
    
	.leftsection {
        float: left;
        width: 100%;
        
		.footer-logo {
            img {
                width: 62px;
            }
        }
        
		.copyright {
            font-size: 15px;
            letter-spacing: 0.5px;
            padding-top: 3px;
        }
    }
    
	.rightsection {
        float: left;
        padding: 25px 0;
        
		.list {
            float: left;
            padding-right: 21px;
            
			img {
                width: 35px;
            }
        }
    }
}


.footer.content {
	border: none !important;
	margin-top: 0 !important;
	padding-top: 20px !important;
	padding-bottom: 10px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}


.page-footer {
	border-top: solid 2px #000;
}



//
//  Custom css for Our Story CMS Page
//  ---------------------------------------------

.ourstorysection {
    padding-top: 49px;
    overflow: hidden;
    
	.storynavigation {
        float: left;
        padding: 344px 0 0 58px;
        display: none;
        
		li {
            list-style-type: none;
            margin: 0;
            padding: 0;
            
			a {
                color: #000;
                line-height: 28px;
                font-size: 18px;
                letter-spacing: 1.8px;
                
            }
        }
    }
	
    .storyrightsection {
        float: right;
        max-width: 95%;
        width: 100%;
        padding: 0 10px;
        padding-right: 8px;
        
		.ourstorybanner {
            position: relative;
            
			img {
                width: 100%;
            }
        }
		
        .screenposterone {
            position: relative;
            display: inline-block;
            width: 100%;
            margin-top: -55px;
            right: -13px;
			
            .content {
                position: absolute;
                top: 52px;
                left: -14px;
                
				h2 {
                    font-family: 'SofiaPro Black';
                    text-transform: uppercase;
                    font-size: 20px;
                    line-height: 24px;
                    letter-spacing: 1.6px;
                    padding-top: 0px;
                    margin: 0;
                    
					.count {
                        font-family: 'Courier Sans Regular';
                        font-size: 14px;
                        line-height: 24px;
                        letter-spacing: 1px;
                    }
                    
					.backstrip {
                        z-index: 1;
                        line-height: 24px;
                        &::after {
                            background: #9BCFCB;
                            height: 8px;
                            bottom:5px;
                        }
                        &.count {
                            &::after {
                                background:none;
                            }
                        }
                    }
                }
				
                &.fivthsection {
                    top: 29px;
                }
				
                &.postiontop {
                    top: 146px;
                }
				
                &.screenposterTpostion {
                    top:55px;
                }
            }
			
            &.screenposterS {
                margin-top: -63px;
                left: -12px;
                
				.content {
                    top: 40px;
                    text-align: right;
                    left: auto;
                    right: -14px;
                }
            }
			
            &.screenposterT {
                margin-top: -71px;
                z-index: -1;
            }
            
			&.screenposterF {
                margin-top: -68px;
                left: -12px;
            }
            
			&.screenposterFi {
                z-index: -1;
                margin-top: 34px;
            }
        }
		
        .positionleft {
            left: 0;
        }
        .positionright {
            right: 0;
            width: 100%;
            left: 0;
            &.postionfour {
                top: 48px;
                right: -15px;
                width: 100%;
                left: auto;
                text-align: right;
            }
        }
    }
}

.cms-our-story {
    .page-main {
        max-width: 100%;
        width: 100%;
        padding: 0;
    }
	
    .psadifference {
        padding: 26px 0 0px 0;
        margin-top: 0px;
        background: #F4A07E;
        
		.innersection {
            max-width: 100%;
            width: 100%;
            padding-left: 10px;
            
			h2 {
                font-family: 'SofiaPro Black';
                font-size: 20px;
                line-height: 25px;
                letter-spacing:2px;
                color: #fff;
                margin: 0;
                padding-left: 2px;
                
				.backstrip {
                    z-index: 1;
                    line-height: 25px;
                    &::after {
                        height: 8px;
                        bottom: 3px;
                        left: 0px;
                        max-width: calc(~'(100% - 2px)');
                        background: #98ADE3;
                    }
                }
            }
            
			p {
                color: #fff;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.5px;
                margin: 0;
                padding: 15px 10px 0 0;
            }
            
			.groupicon {
                position: relative;
                right: -430px;
                text-align: right;
                top: -167px;
            }
            
			.fomo {
                padding-top: 30px;
				padding-bottom: 298px;
                
				.fomoicon {
                    position: relative;
					top: -26px;
					left: -26px;
					max-width: 380px;
                }
                
				.backstrip {
                    &::after {
                        left: -0px;
                        max-width: calc(~'(100% - 7px)');
                    }
                }
            }
            
			.dontfllow {
                padding-top: 25px;
                
				.backstrip {
                    &::after {
                        left: -0px;
                        max-width: calc(~'(100% - 7px)');
                    }
                }
            }
        }
    }
    
	.precheckourstory {
        text-align: left;
        padding-left: 0;
        margin: 0;
        border: none;
        position: relative;
        clear: both;
        overflow: hidden;
        padding-top: 5px;
		z-index: 1;
		display: inline-block;
		width: 100%;
		box-sizing: border-box;
		vertical-align: middle;
        
		h2 {
            display: block;
            font-size: 20px;
            padding-left: 10px;
            
			.backstrip {
                &::after {
                    bottom: 6px;
                    height: 6px;
                }
            }
        }
        
		.tabingbox {
            cursor: pointer;
        }
        
		.innersection {
            max-width: 100%;
            width: 100%;
			display: inline-block;
			vertical-align: middle;
            
			p {
                line-height: 20px;
                letter-spacing: 0.45px;
                padding-top: 10px;
                padding-bottom: 15px !important;
                padding-left: 10px;
                padding-right: 8px;
            }
        }
    }
    
	.keetatitsection {
        background: #FFA300;
        margin-top: 19px;
        padding-bottom: 5px;
        
		.innersection {
            padding-left: 0;
            
			.leftsection {
                float: none;
                text-align: center;
                width: 100%;
                padding-top: 28px;
            }
            
			.rightsection {
                float: left;
                img {
                    margin-top: -36px;
                }
            }
            
			p {
                font-size: 14px;
                line-height: 19px;
                letter-spacing: 0.45px;
                color: #fff;
            }
            
			h3 {
                font-family: 'SofiaPro Black';
                font-size: 28px;
                line-height: 35px;
                text-transform: uppercase;
                letter-spacing: 1px;
                margin: 0;
                padding: 12px 0 28px 0;
            }
        }
        
		.itgetbeter {
            font-family: 'SofiaPro Black';
            font-size: 108px;
            line-height: 89px;
            letter-spacing: 11px;
            padding-left: 100px;
            color: #fff;
            vertical-align: text-bottom;
            display: inline-block;
            margin-top: -60px;
        }
    }
    
	.thevaluesection {
        text-align: center;
        position: relative;
        height: 542px;
        
		img {
            width: 100%;
        }
        
		h2 {
            position: absolute;
            width: 100%;
            text-align: center;
            top: 34.5%;
            font-family: 'SofiaPro Black';
            font-size: 20px;
            letter-spacing: 1.5px;
            line-height: 25px;
            color: #fff;
            left: 50%;
            transform: translate(-50%, -50%);
            
			.backstrip {
                z-index: 1;
                
				&::after {
                    background: #DF231D;
                    left: 4px;
                    height: 8px;
                    bottom: 6px;
                }
            }
        }
    }
    
	.theplanetsection {
        margin: auto;
        margin-top: -240px;
        position: relative;
        z-index: 1;
        padding-left: 0;
        padding-right: 0;
        
		.innersection {
            .leftsection {
                float: none;
                width: 100%;
                padding-left: 10px;
                
				h2 {
                    font-family: 'SofiaPro Black';
                    font-size: 20px;
                    line-height: 24px;
                    letter-spacing: 1.6px;
                    margin: -8px 0 0 0;
                    padding-bottom: 5px;
                    
					.backstrip {
                        line-height: 24px;
                        &::after {
                            height: 8px;
                            bottom: 3px;
                        }
                    }
                }
                
				p {
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.45px;
                    padding-top: 10px;
                }
            }
            
			.rightsection {
                float: none;
                width: 100%;
                img {
                    width: 100%;
                }
            }
        }
        
		.bottomsection {
            padding-top: 24px;
            justify-content: space-between;
            display: flex;
            flex-wrap: wrap;
            padding-left: 10px;
            
			.list {
                float: none;
                display: flex;
                max-width: 100%;
                width: 100%;
                padding-bottom: 16px;
                
				img {
                    float: left;
                    width: 44px;
                    height: 44px;
                }
                
				p {
                    float: left;
                    padding-left: 20px;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.45px;
                    width: auto;
                    
					&.firstcontent {
                        padding-top: 12px;
                    }
                    
					&.secoundcontent {
                        padding-top: 5px;
                    }
                }
                
				&.lastchild {
                    padding-bottom: 12px;
                }
				
				&:nth-child(2n) {
					float: right;
					width: 348px;
					padding-right: 16px;
					p {
						width: 246px;
					}
				}
			}
        }
        
		.crueltyfreesction {
            .crueltyleft {
                float: none;
                max-width: 100%;
                width: 100%;
                padding-left: 10px;
                
				h2 {
                    font-family: 'SofiaPro Black';
                    font-size: 20px;
                    line-height: 25px;
                    letter-spacing: 1.6px;
                    margin: 0;
                    padding-top: 0px;
                    padding-bottom: 12px;
                    
					.backstrip {
                        line-height: 25px;
                        
						&::after {
                            height: 8px;
                            bottom: 4px;
                        }
                    }
                }
                
				p {
                    font-size: 14px;
                    line-height: 21px;
                    letter-spacing: 0.45px;
                    margin-bottom: 5px;
                    padding-right: 20px;
                }
                
				.icon {
                    padding-top: 0px;
                    
					img {
                        width: 44px;
                        height: 44px;
                    }
                }
            }
            
			&.alliesforlife {
                padding-top: 20px;
                
				h2 {
                    padding-top: 9px;
                }
            }
            
			.crueltyright {
                float: none;
                img {
                    width: 100%;
                }
            }
        }
    }
}



//
//  Custom css for Jump Start CMS Page
//  ---------------------------------------------

.jumpstartglow {
	max-width: 856px;
	float: right;
	width: 100%;
	padding-top:79px;
    
	.yourglowsection {
        h2 {
            font-family: 'SofiaPro Black';
            font-size: 20px;
            line-height: 20px;
            letter-spacing: 1px;
            text-align: left;
            margin: 0;
            padding-left: 87px;
            
			.backstrip {
                line-height: 25px;
                &::after {
                    height: 8px;
                    background: #9BCFCB;
                    bottom: 8px;
                    left: 6px;
                    max-width: calc(~'(100% - 12px)');
                }
            }
        }
        
		p{
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.45px;
            margin: 0;
            padding-top: 50px;
        }
    }
    
	.dewydos-section {
        padding-top: 28px;
        
		.heading {
			display: inline-block;
			width: 100%;
			text-align: left;
			vertical-align: middle;
			
			img {
				display: inline-block;
				width: auto;
				vertical-align: middle;
				max-width: 225px;
			}
		}

		.listingsection {
			padding-top: 38px;
			padding-left: 0;
			border-bottom: solid 2px #707070;
			padding-bottom: 0;
            
			.leftpart {
                float: left;
                width: 100%;
            }
            
			.rightpart {
                width: 100%;
                float: right;
                
				.content {
                    /*max-width: 265px !important;*/
                }
            }
            
			.list {
                padding-bottom: 30px;
				display: inline-block;
				width: 100%;
				vertical-align: middle;
				padding-top: 0 !important;
                
				.leftimgsection {
                    float: left;
                    padding: 0;
					max-width: 44px;
					
					 img {
						display: inline-block;
						max-width: 44px;
						vertical-align: middle;
						width: 75px;
						box-sizing: border-box;
						border: solid 1px #000;
						border-top: solid 1px #000;
						border-bottom: solid 1px #000;
					}
                }
                
				.content {
                    float: left;
					padding-left: 20px;
					width: calc(~'(100% - 44px)');
					box-sizing: border-box;
                    
					.heading {
                        font-size: 14px;
						letter-spacing: 1.4px;
						line-height: 20px;
						text-transform: uppercase;
						padding: 0;
						float: left;
						width: 100%;
						text-align: left;
                    }
                    
					 p {
						font-size: 14px;
						letter-spacing: 0.45px;
						line-height: 20px;
						float: left;
						width: 100%;
						box-sizing: border-box;
						padding: 20px 0 0;
					}
                }
            }
        }
        
		&.dewydonts {
            padding-top: 34px;
			
			.heading {
				img {
					max-width: 288px;
				}
			}
            
			.listingsection {
                
            }
        }
    }
}


.precheckourstory {
    padding-bottom: 0px;
    
	.modalbox {
        display: none;
		border: solid 2px #707070;
		padding: 15px;
		position: absolute;
		max-width: 100%;
		width: 100%;
		box-sizing: border-box;
		top: -234px;
		left: 0;
		background: #fff;
		text-align: left;
		
		h2 {
			font-family: 'SofiaPro Black';
			font-size: 16px;
			line-height: 28px;
			letter-spacing: 0.3px;
			text-transform: uppercase;
			padding: 0;
			
			.backstrip {
				z-index: 1;
				line-height: 28px;
				height: 28px;
				
				&:after {
					bottom: 6px;
					height: 6px;
				}
			}
		}
		
		p {
			font-size: 14px;
			line-height: 20px;
			letter-spacing: 0.45px;
			padding-top: 10px;
			
			br {
				display: none;
			}
		}
        
		.closebutton {
			color: #000;
			cursor: pointer;
			position: absolute;
			right: 10px;
			top: 10px;
			font-family: "SofiaPro Black";
			font-size: 20px;
			line-height: 20px;

            &:hover {
                text-decoration: none;
            }
        }
        
		&.tab-active {
            display: block;
        }
    }
    
	.listing{
        padding-top: 8px;
        text-align: center;
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
        
		.list {
            width: 25%;
            padding-bottom: 10px;
            padding-top: 10px;
            padding-right: 0;
            float: left;
            
			.icon {
                vertical-align: text-top;
                display: block;
                
				img {
                    height: 40px;
                    width: 40px;
                }
            }
            
			.name {
                padding-top: 2px;
                letter-spacing: 0.45px;
                line-height: normal;
                text-align: center;
                font-size: 12px;
            }
        }
    }
}



//
//  Custom css for No Filter CMS Page
//  ---------------------------------------------

.cms-nofilter {
    .page-main {
        max-width: 100%;
        padding: 0;
        
		.notfilterpage {
            .nofiltertop {
                padding-top: 81px;
                padding-left: 83px;
                
				p{
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.45px; 
                }
                
				h2 {
                    font-family: 'SofiaPro Black';
                    font-size: 20px;
                    line-height: 25px;
                    letter-spacing: 1.6px;
                    padding: 5px 0 0 0;
                    margin: 0;
                    text-transform: uppercase;
                    
					.backstrip {
                        line-height: 25px;
                        
						&::after {
                            max-width: calc(~'(100% - 4px)');
                            height: 8px;
                            bottom: 4px;
                        }
                    }
                }
            }
        }
        
		.nofilterlist {
            padding-top: 40px;
            
			.listsection {
                position: relative;
                padding-bottom: 0px;
                
				.list {
                    img {
                        vertical-align: text-top;
                        display: block;
                    }
                }
                
				.leftsection {
                    float: left;
                    width: 100%;
                    position: relative;
					margin: 10px 0;
                }
                
				.rightsection {
                    float: right;
                    width: 100%;
                    position: relative;
                }
                
				.nofilterheading {
                    font-family: 'SofiaPro Black';
                    letter-spacing: 13.2px;
                    font-size: 132px;
                    line-height: 140px;
                    position: absolute;
                    bottom: 9px;
                    width: 100%;
                    text-align: center;
                    left: 7px;
                    display: none;
                }
                
				.heading {
                    position: absolute;
                    top: 50.5%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 372px;
                    height: 30px;
                    line-height: 30px;
                    font-size: 20px;
                    letter-spacing: 2px;
                    background: #000;
                    color: #fff;
                    text-align: center;
					max-width: 100%;
                }
            }
        }
    }
}



//
//  Custom css for FAQ CMS Page
//  ---------------------------------------------

.faqpagesection {
    max-width: 100%;
    width: 96.6%;
    margin: auto;
    float: none;
    padding-top: 180px;
    
	.topheading {
        font-size: 20px;
		line-height: 25px;
		letter-spacing: 3px;
		font-family: 'SofiaPro Black';
        
		.backstrip {
			line-height: 25px;
			
            &::after {
                background: #9BCFCB;
                height: 8px;
				bottom: 3px;
				left: 3px;
				max-width: calc(~'(100% - 10px)');
            }
        }
    }
    
	.faqlistingsection {
        .conciergesection {
            padding-bottom: 25px;
            
			h2 {
                font-size: 17px;
				line-height: 20px;
				letter-spacing: 3px;
                font-family: 'SofiaPro Black';
				margin-top: 5px;
                
				.backstrip {
					line-height: 20px;
					
                    &::after{
                        background: #9BCFCB;
						height: 6px;
						bottom: 3px;
                    }
                }
            }
            
			p{
                font-size: 14px;
				line-height: 20px;
				letter-spacing: 0.35px;
                
				a {
                    color: #9bcfcb;
                    display: inline-block;
                    font-size: 14px;
                    letter-spacing: 0.35px;
                    line-height: 20px;
                    text-decoration: underline;
                    vertical-align: middle;
                    width: auto;
					
                    &:hover {
                        color: #000;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    
	ul{
        padding: 0;
        list-style-type: none;
    }
    
	.parent-accordion {
        border: none;
		font-size: 20px;
		line-height: 24px;
		letter-spacing: 1.6px;
		font-family: 'SofiaPro Black';
		padding: 0;
		width: 100%;
		text-align: left;
		background: #9f55ff;
		border-radius: 0;
		padding: 6px 24px 12px 10px;
		color: #000;
		box-sizing: border-box;
        
		.backstrip {
            z-index: 1;
			line-height: 24px;
            
			&::after {
                background: #fff;
                left: -1px;
                bottom: 5px;
                max-width: calc(~'(100% - 6px)');
				height: 8px;
            }
        }
        
		&.plus {
            position: relative;
            
			&::after {
                content: '+';
                position: absolute;
                right: 6px;
                top: 4px;
                height: 36px;
                background-size: auto;
                background-repeat: no-repeat;
                font-family: "SofiaPro Black";
                font-size: 40px;
                font-weight: normal;
            }
        }
        
		&.minus {
            position: relative;
            
			&::after {
                content: '-';
                position: absolute;
				right: 8px;
				top: 18px;
				width: 15px;
				height: 5px;
				background: #000;
				font-family: "SofiaPro Black";
				font-size: 40px;
				background-image: none;
				overflow: hidden;
            }
        }
    }
    
	.childcontent {
		border-bottom: solid 2px #707070;
		padding-bottom: 30px;
		margin-bottom: 0px;
        
		li {
            padding: 0;
            margin: 0;
            
			a {
                color: #000;
                display: inline-block;
                font-size: 14px;
                letter-spacing: 0.35px;
                line-height: 20px;
                text-decoration: underline;
                vertical-align: middle;
                width: auto;
                
				&:hover {
                    color: #000;
                    text-decoration: none;
                }
            }
            
			.accordion {
                background: none;
				border: none;
				padding: 0;
				font-weight: normal;
				color: #000;
				font-size: 16px;
				line-height: 20px;
				letter-spacing: 1px;
				font-family: 'Courier Sans Regular';
				padding-top: 25px;
				text-align: left;

                &.plus {
                    position: relative;
                    
					&::after {
                        content: '+';
                            position: absolute;
							right: 6px;
							top: 4px;
							height: 36px;
							background-size: auto;
							background-repeat: no-repeat;
							font-family: "SofiaPro Black";
							font-size: 40px;
							font-weight: normal;
                    }
                }
                
				&.minus {
                    position: relative;
                    
					&::after {
                        content: '-';
                        position: absolute;
						right: 8px;
						top: 18px;
						width: 15px;
						height: 5px;
						background: #000;
						font-family: "SofiaPro Black";
						font-size: 40px;
						background-image: none;
						overflow: hidden;
                    }
                }
            }
            
			.panel-child {
                p {
					margin: 0;
					font-size: 14px;
					line-height: 20px;
					letter-spacing: 0.35px;
					padding-bottom: 0;
					
                    &:last-child {
                        padding-bottom: 0px;
                    }
                }
                .dashiconfirst {
                    padding-top: 10px;
                    display: block; 
                }
				
				.heading {
					font-size: 15px;
				}
				.subheading {
					font-size: 15px;
					padding-top: 20px;
					line-height: 24px;
				}
            }
        }
        
		&.privacy-policy {
            p {
                font-size: 14px;
				line-height: 20px;
				letter-spacing: 0.35px;
				margin: 0;
				padding-top: 20px;
            }
            
			.accordion {
                background: #9BCFCB;
				border: none;
				font-size: 18px;
				line-height: 20px;
				letter-spacing: 0.45px;
				font-family: 'SofiaPro Black';
				padding: 0;
				width: 100%;
				text-align: left;
				border-radius: 0;
				padding: 10px 24px 12px 10px;
				color: #000;
				text-transform: uppercase;
				margin-top: 20px;
                
				.backstrip {
                    z-index: 1;
					line-height: 20px;
						
                    &::after {
                        background: #fff;
						height: 8px;
						bottom: 3px;
                    }
                }
            }
            
			ul {
                padding-left: 20px;
                list-style-type: disc;
				font-size: 14px;
				line-height: 20px;
				letter-spacing: 0.35px;
                
				li {
                    padding: 10px 0 0;
                    margin: 0;
                }
            }
        }
    }
    
	&.privacypolicecount {
        padding-top: 170px;
        max-width: 846px;
    }
}

.faqlistingsection {
	& > ul {
		& > li {
			margin: 0 0 30px;
			display: inline-block;
			width: 100%;
		}
	}
}



//
//  Custom css for Contact Us CMS Page
//  ---------------------------------------------

.psacontactus {
    padding-top: 78px;
    padding-left: 92px;
    
	.needtotalk {
        font-family: 'SofiaPro Black';
        font-size: 20px;
		line-height: 25px;
		letter-spacing: 1.6px;
		padding-bottom: 20px;
        
		.backstrip {
			line-height: 25px;
			
            &::after {
                background: #A0F0E1;
				height: 8px;
				left: 0;
				bottom: 4px;
            }
        }
    }
    
	.information {
        p {
            font-size: 14px;
			line-height: 20px;
			letter-spacing: 0.35px;
            padding-right: 10px;
        }
        
		.sayhello {
            font-family: 'SofiaPro Black';
            font-size: 20px;
			line-height: 25px;
			letter-spacing: 0px;
			padding-top: 10px;
			padding-bottom: 20px;
            
			a {
                color: #000;
            }
            
			.backstrip {
				line-height: 25px;
				
                &::after {
                    height: 8px;
                    left: 0;
                    bottom: 4px;
                    background: #A0F0E1;
                    max-width: calc(~'(100% - 3px)');
                }
            }
        }
		
		&.company-info {
			padding-bottom: 30px;
		}
    }
}



//
//  Custom css for Press CMS Page
//  ---------------------------------------------

.press-index-index  {

    .breadcrumbs {
        display: none;
    }
    
	.press-section {
        max-width: 864px;
        float: right;
        width: 100%;
        padding-top: 79px;
        
		.presstophead {
            margin: 0;
			font-size: 20px;
			line-height: 25px;
			font-family: 'SofiaPro Black';
			letter-spacing: 3px;
			float: left;
			width: auto;
            padding-left: 92px;
            
			.backstrip {
				line-height: 25px;
				
                &::after {
                    background: #A0F0E1;
                    height: 8px;
                    bottom: 3px;
                }
            }
        }
        
		.pressinnercount {
            display: flex;
            flex-wrap: wrap;
            padding-top: 40px;
			width: 100%;
            
			.press-list {
                float: left;
				width: 46%;
				border: solid 2px #000;
				text-align: center;
				margin: 2%;
				display: flex;
				flex-wrap: wrap;
				padding: 10px 5px;
				box-sizing: border-box;
				overflow: hidden;
                
				.text-press {
                    padding: 0 5px;
					font-size: 14px;
					line-height: 20px;
					
                    a {
                        color: #000;
                        font-size: 14px;
						line-height: 20px;
						letter-spacing: 0.35px;
                    }
                }
            }
        }
    }
    
	.order-products-toolbar {
        max-width: 864px;
        width: 100%;
        float: right;
        padding-top: 20px;
        padding-bottom: 50px;
        
		.pager {
            .pages {
                float: left;
				margin: 0 0 20px;
				width: 100%;
				text-align: center;
                
				li {
                    font-size: 14px;
                    letter-spacing: normal;
                    margin: 0 2px 0 0;
                    display: inline-block;
                    background: #ececec;
                    width: 30px;
                    line-height: 30px;
                    text-align: center;
                    margin-right: 10px;
                    
					strong {
                        color: #000;
                        font-size: 18px;
                        font-family: 'SofiaPro Black';
                    }
                    
					a {
                        color: #000;
                        font-size: 14px;
                        font-family: 'SofiaPro Black';
						font-weight: normal;
                    }
                    
					&.current {
                        background: #000;
						
                        strong {
                            color: #fff;
                        }
                    }
                    
					.next {
                        background: #ececec;
                        margin-left: 0;
                    }
                }
            }
			
			.limiter {
				float: left;
				width: 100%;
				text-align: center;
				margin: 10px 0 0;
			}
        }
    }
}



//
//  Custom css for random CMS Page
//  ---------------------------------------------

.cms-psa-terms-of-service {
	.faqpagesection {
		.parent-accordion {
			font-size: 16px;
			letter-spacing: 0.45px;
		}
	}

	.parent-accordion {
		.plus {
			&:after {
				top: 3px;
			}	
		}
		
		.backstrip {
			&:after {
				bottom: 5px;
				height: 5px;
				max-width: 100%;
			}
		}
	}
}


.cms-psa-faq {
    .accordion {
        &.minus {
            &::after {
                display: none;
            }
        }
        &.plus {
            &::after {
                display: none;
            }
        }
    }
}

.privacypolicecount {
    p {
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.35px;
		padding-top: 15px;
		margin: 0;
    }
}

.copyright {
    font-size: 15px;
    margin: 0 !important;
    letter-spacing: 0.45px;
    padding-top: 5px;
}

.footer_navigation {    
	.menu-links {
        display: block;
        position: relative;
        height: auto;
        top: 0;
        padding-left: 16px;
        padding-bottom: 20px;
        width: 90%;
        
		ul {
            border: none;
            
			li {
                border: none;
                padding: 0 0 0 0 !important;
                font-size: 14px;
                a {
                    font-size: 14px;
                    letter-spacing: 1.6px;
                }
                
				&::after {
                    display: none;
                }
            }
        }
    }
}

.fomobanner {
    img {
        float: left;
		width: 100%;
    }
}
.cms-our-story {
    .container {
        padding: 0 7px !important;
        
    }
}
#psallin {
    width: 100%;
    overflow: hidden;
}
.menuslideup {
    display: none !important;
}


.cms-psa-terms-of-service {
	.faqlistingsection {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		
		.conciergesection {
			display: inline-block;
			width: 100%;
			
			h2 {
				float: left;
				line-height: 36px;
				margin: 0 0 15px;
				width: 100%;
				
				.backstrip {
					height: 20px;
					line-height: 20px;
				}
			}
			
			p {
				float: left;
				margin: 0;
				padding: 10px 0 0;
				width: 100%;
			}
		}
	}
}
.psaRetailers {
    .privacy-policy {
        border: none;
    }
    .topcontent {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.45px;
        padding-top: 66px;
        padding-bottom: 76px;
    }
    .retailercontent {
        padding: 21px 0;
        border-bottom: solid 1px #707070;
        clear: both;
        overflow: hidden;
        padding-bottom: 20px;
        .innersection {
            display: flex;
        }
        .retailerinerhed {
            border-bottom: solid 1px #707070;
            padding-bottom: 21px;
            margin-bottom: 21px;
            .backstrip {
                font-family: 'SofiaPro Black';
                font-size: 18px;
                letter-spacing: 1.6px;
                &::after {
                    background: #78F4E9;
                    height: 8px;
                    bottom: 8px;
                    max-width: calc(~'(100% - 0px)');
                }
            }
        }
        .listing {
            width: 33.333%;
            display: flex;
            flex-wrap: wrap;
            padding: 0 20px 0 0;
            word-break: break-word;
            &:last-child {
                padding: 0;
            }
            &.fr {
                float: right !important;
            }
            p, a {
                margin: 0;
                font-size: 14px;
                left: 0.45px;
                color: #000;
                text-transform: uppercase;
               
            }
            p {
                padding-top: 0;
                display: block;
                width: 100%;
                text-transform: capitalize;
            }
            .list {
                padding-bottom: 22px;
                display: block;
                width: 100%;
                &.headsection {
                    p {
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}
.psaRetailers {
    padding-left: 0px;
    float: none;
    max-width: 100%;
    padding-top: 40px;
    .topheading {
        padding-left: 84px;
    }
    .topcontent {
        padding-left: 84px;
    }
    .accordion  {
        margin: 0 0 20px 0 !important;
    }
    .retailercontent {
        padding: 0;
        border: none;
        .innersection {
            display: block;
            .listing {
                width: 100%;
                border-bottom: solid 1px #707070;
                padding: 0;
                margin-bottom: 20px;
            }
            &.onlinetopsection {
                .listing {
                    padding-top: 15px;
                    padding: 15px 0;
                    margin: 0;
                    &:last-child {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
    .addressection {
        min-height: auto !important;
    }

}

.psaRetailers {
    padding-top: 80px;
    .topheading {
        padding-left: 84px;
    }
    .topcontent {
        padding:20px 0 20px 84px;
    }
}
