<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<!doctype html>
<html <?= /* @escapeNotVerified */ $htmlAttributes ?>>
    <head <?= /* @escapeNotVerified */ $headAttributes ?>>
        <?= /* @escapeNotVerified */ $requireJs ?>
        <?= /* @escapeNotVerified */ $headContent ?>
        <?= /* @escapeNotVerified */ $headAdditional ?>
        <?php
        	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
			$request = $objectManager->get('\Magento\Framework\App\Request\Http');
		?>
        <meta name="facebook-domain-verification" content="o1g0d0nugwi3yjdf7qwj9ohw3fgid7" />
        <?php if ($request->getFullActionName() == 'cms_index_index'): ?>
        <meta name="google-site-verification" content="4wkmWHKxmb22XgyvUCLRGJ53L9bvYQssPDw4SOiCBWU" />
        <?php endif;?>
    </head>
    <body data-container="body" data-mage-init='{"loaderAjax": {}, "loader": { "icon": "<?= /* @escapeNotVerified */ $loaderIcon ?>"}}' <?= /* @escapeNotVerified */ $bodyAttributes ?>>
        <?= /* @escapeNotVerified */ $layoutContent ?>
    </body>
</html>
