<?php
$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $_objectManager->get('Magento\Store\Model\StoreManagerInterface');
$currentStore = $storeManager->getStore();
$mediaUrl = $currentStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
?>

<div class="mob_view">

	<p class="abt-p">ABOUT US</p>

	<div class="about-us-section1-container">
		<div class="about-container">

			<div class="section_wrapper">
				<div class="sections section1 section-left background"  data-aos="fade-down"><span class="Abtsec_img"><img class="fadeInDown" src="<?php echo $mediaUrl;?>wysiwyg/about-us/about-us-side-pic-new1.jpg" alt=""></span></div>
				<div class="sections section1 section-right background1">
					<h2 class="Section_title"><span class="Aboutsec_title" data-aos="fade-right" data-aos-delay="1000">The Allies of <br>Skin Difference</span></h2>
					<div class="section_content">
						<div class="in_AbtCont" data-aos="fade-down" data-aos-delay="2000">
							<!-- <h3 class="inner_title">Lorem ipsum dolor</h3> -->
							<p>Our products are designed with a busy lifestyle in mind to be simple to use while maximizing the functions of smart formulations that support your skin’s health. All of our ingredients are thoroughly researched, and we combine only effective, clinically-proven actives into biocompatible formulas. The goal is to help your skin repair, regenerate, and reset itself so it can perform at its best. That’s why we never include fillers or potential irritants that may compromise the skin’s optimal functioning capabilities. An Allies of Skin regimen yields results that can be seen and felt, which is exactly what we promise to deliver.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="section_wrapper common-wrapper" id="section-wrapper-2">
				<div class="sections section4 section-left animaltest">
					<h2 class="Section_title"><span class="Aboutsec_title" data-aos="fade-left" data-aos-delay="1000">Our Ethos</span></h2>
					<div class="section_content" data-aos="fade-down">
						<div class="in_AbtCont" data-aos="fade-down" data-aos-delay="2000">
						<!-- <h3 class="inner_title">Lorem ipsum dolor</h3> -->
							<p>We may be minimalists at heart but that doesn’t necessarily mean our formulas follow the same principle. Sophisticated and smart formulation involves a well-rounded variety of ingredients that work in synergy with one another to allow every active, antioxidant, nutrient, and superfood to be as effective as possible. We thoughtfully include as many reparative and preventative ingredients as necessary to take care of your skin now as well as for the future.</p>
						</div>
					</div>
				</div>
				<div class="sections section4 section-right animaltest1"><span class="Abtsec_img"><img src="<?php echo $mediaUrl;?>wysiwyg/about-us/about-us-side-pic-new2.jpg" alt="" data-aos="fade-down"></span></div>
			</div>

			<div class="section_wrapper common-wrapper" id="section-wrapper-3">
				<div class="sections section5 section-left allife"><span class="Abtsec_img"><img src="<?php echo $mediaUrl;?>wysiwyg/about-us/about-us-side-pic-new3.jpg" alt="" data-aos="fade-down"></span></div>
				<div class="sections section5 section-right allife1">
					<h2 class="Section_title"><span class="Aboutsec_title" data-aos="fade-right" data-aos-delay="1000">Supercharged Clinical</span></h2>
					<div class="section_content">
						<div class="in_AbtCont" data-aos="fade-down" data-aos-delay="2000">
							<!-- <h3 class="inner_title">Lorem ipsum dolor</h3> -->
							<p>Much like a chef picks the freshest ingredients at their peak to enhance a meal, our products include supercharged concentrations of clinically proven actives at their optimal pH levels to support your skin’s ability to heal and rebuild itself. By treating skin like the smart organ it is, we’re feeding it the nutrients needed to support the acid mantle and strengthen its barrier so your skin can be its healthiest.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="section_wrapper common-wrapper" id="section-wrapper-4">
				<div class="sections section2 section-left triggers">
					<h2 class="Section_title"><span class="Aboutsec_title" data-aos="fade-left" data-aos-delay="1000">The Anti Allies</span></h2>
					<div class="section_content">
						<div class="in_AbtCont" data-aos="fade-down" data-aos-delay="2000">
							<!-- <h3 class="inner_title">Lorem ipsum dolor</h3> -->
							<p>Our belief is that formulating responsibly is just as important as formulating cleanly. We never sacrifice safety for performance because if any ingredient has a reputation for irritating the skin, then the product itself is a potential irritant for your skin. Our products are all Dermatologist-Tested, and Hypoallergenic.</p>
						</div>
					</div>
				</div>
				<div class="sections section2 section-right triggers1">
					<div class="section_content">
						<div class="in_AbtCont" data-aos="fade-down">
							<ul>
								<li>
									<img src="<?php echo $mediaUrl;?>wysiwyg/about-us/Silicones.svg" alt="Silicones" />
									<span class="anti-allies-content-wrapper"><span class="noText">NO</span>Silicones</span>
									<span class="anti-allies-content-hover-show">These molecules sit on the skin's surface, too large to penetrate pores so they act as a barrier, potentially trapping dirt, sebum, and make up, which can result in clogged pores and breakouts if not removed properly.</span>
								</li>
								<li>
									<img src="<?php echo $mediaUrl;?>wysiwyg/about-us/Sulfates.svg" alt="Sulfates" />
									<span class="anti-allies-content-wrapper"><span class="noText">NO</span>Sulfates</span>
									<span class="anti-allies-content-hover-show">These common cleaning agents are often sensitising to your skin by stripping the delicate barrier of its protective layers.</span>
								</li>
								<li>
									<img src="<?php echo $mediaUrl;?>wysiwyg/about-us/Drying-Alcohol.svg" alt="Drying-Alcohol" />
									<span class="anti-allies-content-wrapper"><span class="noText">NO</span>Drying Alcohol</span>
									<span class="anti-allies-content-hover-show">This weakens the skin’s barrier by overstripping it of moisture, leading to sensitised skin.</span>
								</li>
								<?php /*
								<li>
									<img src="<?php echo $mediaUrl;?>wysiwyg/about-us/Chemical-Screens.svg" alt="Chemical-Screens" />
									<span class="anti-allies-content-wrapper"><span class="noText">NO</span>Chemical Screens</span>
									<span class="anti-allies-content-hover-show">Studies have shown that some of these sun protection filters can cause sunscreen-induced contact dermatitis.</span>
								</li>
								
								<li>
									<img src="<?php echo $mediaUrl;?>wysiwyg/about-us/Mineral-Oil.svg" alt="Mineral-Oil" />
									<span class="anti-allies-content-wrapper"><span class="noText">NO</span>Mineral Oil</span>
									<span class="anti-allies-content-hover-show">This synthetic ingredient acts as a sealant. It has no nutritious benefit for the skin and since its molecules are too large to penetrate pores it can exacerbate breakouts for oily or acne-prone skin types if not removed properly.</span>
								</li>
								*/?>
								<li>
									<img src="<?php echo $mediaUrl;?>wysiwyg/about-us/Synthetic-Dyes.svg" alt="Synthetic-Dyes" />
									<span class="anti-allies-content-wrapper"><span class="noText">NO</span>Synthetic Dyes</span>
									<span class="anti-allies-content-hover-show">There is well-established research showing that these can be aggravating and sensitising to all skin types, with the potential to cause negative skin reactions.</span>
								</li>
								<li>
									<img src="<?php echo $mediaUrl;?>wysiwyg/about-us/Fragrances.svg" alt="Fragrances" />
									<span class="anti-allies-content-wrapper"><span class="noText">NO</span> Synthetic Fragrances</span>
									<span class="anti-allies-content-hover-show">There is well-established research showing that these can be aggravating and sensitising to all skin types, with the potential to cause negative skin reactions.</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="section_wrapper allSkin_Planet common-wrapper" id="section-wrapper-5" style="overflow: hidden;">
				
				<div class="sections section3 section-left alliesPlanet1">
					<h2 class="Section_title"><span class="Aboutsec_title" data-aos="fade-right" data-aos-delay="1000">Allies of Skin<br>Allies of the Planet</span></h2>
					<div class="section_content">
						<div class="in_AbtCont" data-aos="fade-down" data-aos-delay="2000">
							<div class="allies-planet-slider owl-carousel">
								<div class="allies-planet-item">
									<h3 class="inner_title">CRUELTY-FREE:</h3>
									<p>Allies of Skin is PETA-certified as cruelty-free. We vow never to test on animals — only on skincare enthusiasts.</p>
								</div>
								<div class="allies-planet-item">
									<h3 class="inner_title">SUSTAINABILITY:</h3>
									<p>We want to contribute to the health of the planet as well as the health of your skin, so we use 100% recycled paper and soy-based ink for our boxes and shippers, and we never use virgin forest materials. We only work with SGS and FSC-certified vendors to maintain the highest level of sustainability possible.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="sections section3 section-right alliesPlanet" data-aos="fade-down" style="margin-left:74px;">
					<div class="allies-planet-img-slider owl-carousel">
						<div class="outeritem">
							<div class="inner-scroll">
							<span class="Abtsec_img"><img src="<?php echo $mediaUrl;?>wysiwyg/about-us/newcrueltyfreenew.jpg" alt="" data-aos="fade-down"></span>
							</div>
						</div>
						<div class="outeritem">
							<span class="Abtsec_img"><img src="<?php echo $mediaUrl;?>wysiwyg/about-us/about-us-side-pic-new5.jpg" alt="" data-aos="fade-down"></span>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="About_BackToTop"><a id="toTop" class="about_backtotop"><span class="back-to-top">Back To Top</span></a></div>
	</div>

</div>

<script type="text/javascript">
	requirejs(['require', 'jquery', 'aos','owlcarousel'],
    function(require, $, AOS) {

		AOS.init({
			duration: 600,
		});

		$('.allies-planet-slider').owlCarousel({
			loop: true,
			margin: 0,
			slideSpeed: 1200,
			dots: false,
			items: 1,
			autoplay:false,
			nav: true,
			slideBy: 1,
			autoPlay: 5000,
			mouseDrag:false,
            touchDrag:false,
            pullDrag:false,
        });

       $('.allies-planet-img-slider').owlCarousel({
			loop: true,
			margin: 0,
			slideSpeed: 1200,
			dots: false,
			items: 1,
			autoplay:false,
			nav: false,
			slideBy: 1,
			autoPlay: 5000,
			autoHeight:true,
			mouseDrag:false,
            touchDrag:false,
            pullDrag:false,
        });
       /*if($('.inner-scroll .Abtsec_img').length > 2){
	       $('.inner-scroll').owlCarousel({
				loop: false,
				margin: 0,
				slideSpeed: 1200,
				dots: true,
				items: 1,
				autoplay:true,
				nav: false,
				slideBy: 1,
				autoPlay: 5000,
				autoHeight:true
	        });
   		}*/
       $('.allies-planet-slider .owl-next').click(function(){
       		$('.allies-planet-img-slider .owl-next').trigger('click');
       });
       $('.allies-planet-slider .owl-prev').click(function(){
       		$('.allies-planet-img-slider .owl-prev').trigger('click');
       });

    });
</script>


<style>
.about-container .anti-allies-content-hover-show { display: none; }
span.anti-allies-content-wrapper:hover + .anti-allies-content-hover-show { display: block; }
.inner-scroll .owl-dots .owl-dot span { width: 10px; height: 10px; margin: 5px 7px; background: #000; display: block; -webkit-backface-visibility: visible; transition: opacity .2s ease; border-radius: 30px; border: 1px solid #fff; }
.inner-scroll .owl-dots .owl-dot.active span { background: #fff; }
.inner-scroll .owl-dots { position: absolute; bottom: 3%; left: 1%; }

.cms-about-us p.abt-p { font-size: 13px; letter-spacing: 6px; color: #333333; }
.allSkin_Planet .section_content p {margin-left: 40px;}


/* New resposnive Tab CSS _Nitish start */
@media screen and (min-width: 768px) and (max-width: 1024px) {


.about-container { max-width: 100%; }
.about-container span { max-width: 90%; }

h2.Section_title span { font-size: 50px; line-height: 60px; }

.section-right .section_content { padding-left: 3.5rem; width: 90%; }
.section-left .section_content { padding-right: 4.5rem;  }
.section3.section-left .allies-planet-img-slider { max-width: 90%; }

.section-right .section_content ul li { font-size: 22px; }


	   
}

</style>
