<?php
$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $_objectManager->get('Magento\Store\Model\StoreManagerInterface');
$currentStore = $storeManager->getStore();
$mediaUrl = $currentStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);

?>

<div class="container grid_section">
  <h2>Glossary</h2>
  <div class="mCustomScrollbar content grid_wrap" data-mcs-theme="rounded-dark">
    <div class="cont_inner">
      <div class="row grid-sec">
        <div class="grid_columns grid_column1">
          <div class="grid grid1" data-grid-id="1">
            <a href="#grid-content-one">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
              </div>
            </a>
          </div>
          <div class="grid grid2" data-grid-id="2">
            <a href="#grid-content-two">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
              </div>
            </a>
          </div>
          <div class="grid grid3" data-grid-id="3">
            <a href="#grid-content-three">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
              </div>
            </a>
          </div>
          <div class="grid grid1" data-grid-id="4">
            <a href="#grid-content-four">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
              </div>
            </a>
          </div>
          <div class="grid grid2" data-grid-id="5">
            <a href="#grid-content-five">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
              </div>
            </a>
          </div>
        </div>
        <div class="grid_columns grid_column2">
          <div class="grid grid3" data-grid-id="6">
            <a href="#grid-content-six">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
              </div>
            </a>
          </div>
          <div class="grid grid1" data-grid-id="7">
            <a href="#grid-content-seven">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
              </div>
            </a>
          </div>
          <div class="grid grid2" data-grid-id="8">
            <a href="#grid-content-eight">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
              </div>
            </a>
          </div>
          <div class="grid grid3" data-grid-id="9">
            <a href="#grid-content-nine">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
              </div>
            </a>
          </div>
        </div>
        <div class="grid_columns grid_column3">
          <div class="grid grid1" data-grid-id="10">
            <a href="#grid-content-ten">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
              </div>
            </a>
          </div>
          <div class="grid grid2" data-grid-id="11">
            <a href="#grid-content-eleven">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
              </div>
            </a>
          </div>
          <div class="grid grid3" data-grid-id="12">
            <a href="#grid-content-tweleve">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
              </div>
            </a>
          </div>
          <div class="grid grid1" data-grid-id="13">
            <a href="#grid-content-thirteen">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
              </div>
            </a>
          </div>
          <div class="grid grid2" data-grid-id="14">
            <a href="#grid-content-forteen">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="popup_overlay"> -->
  <div class="pop-up-on-clickshow owl-carousel">
    <div id="grid-content-one" class="on-click-grid1 common-click" data-grid-id="1">
      <div class="left-grid-container"><img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt=""></div>
      <div class="right-grid-container">
        <h3 class="popup_title">Lorem ipsum dolor</h3>
        <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
      </div>
    </div>
    <div id="grid-content-two" class="on-click-grid2 common-click" data-grid-id="2">
      <div class="left-grid-container"><img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt=""></div>
      <div class="right-grid-container">
        <h3 class="popup_title">Lorem ipsum dolor</h3>
        <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
      </div>
    </div>
    <div id="grid-content-three" class="on-click-grid3 common-click" data-grid-id="3">
      <div class="left-grid-container"><img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt=""></div>
      <div class="right-grid-container">
        <h3 class="popup_title">Lorem ipsum dolor</h3>
        <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
      </div>
    </div>
    <div id="grid-content-four" class="on-click-grid4 common-click" data-grid-id="4">
      <div class="left-grid-container"><img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt=""></div>
      <div class="right-grid-container">
        <h3 class="popup_title">Lorem ipsum dolor</h3>
        <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
      </div>
    </div>
    <div id="grid-content-five" class="on-click-grid5 common-click" data-grid-id="5">
      <div class="left-grid-container"><img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt=""></div>
      <div class="right-grid-container">
        <h3 class="popup_title">Lorem ipsum dolor</h3>
        <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
      </div>
    </div>
    <div id="grid-content-six" class="on-click-grid6 common-click" data-grid-id="6">
      <div class="left-grid-container"><img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt=""></div>
      <div class="right-grid-container">
        <h3 class="popup_title">Lorem ipsum dolor</h3>
        <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
      </div>
    </div>
    <div id="grid-content-seven" class="on-click-grid7 common-click" data-grid-id="7">
      <div class="left-grid-container"><img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt=""></div>
      <div class="right-grid-container">
        <h3 class="popup_title">Lorem ipsum dolor</h3>
        <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
      </div>
    </div>
    <div id="grid-content-eight" class="on-click-grid8 common-click" data-grid-id="8">
      <div class="left-grid-container"><img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt=""></div>
      <div class="right-grid-container">
        <h3 class="popup_title">Lorem ipsum dolor</h3>
        <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
      </div>
    </div>
    <div id="grid-content-nine" class="on-click-grid9 common-click" data-grid-id="9">
      <div class="left-grid-container"><img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt=""></div>
      <div class="right-grid-container">
        <h3 class="popup_title">Lorem ipsum dolor</h3>
        <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
      </div>
    </div>
    <div id="grid-content-ten" class="on-click-grid10 common-click" data-grid-id="10">
      <div class="left-grid-container"><img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt=""></div>
      <div class="right-grid-container">
        <h3 class="popup_title">Lorem ipsum dolor</h3>
        <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
      </div>
    </div>
    <div id="grid-content-eleven" class="on-click-grid11 common-click" data-grid-id="11">
      <div class="left-grid-container"><img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt=""></div>
      <div class="right-grid-container">
        <h3 class="popup_title">Lorem ipsum dolor</h3>
        <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
      </div>
    </div>
    <div id="grid-content-tweleve" class="on-click-grid12 common-click" data-grid-id="12">
      <div class="left-grid-container"><img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt=""></div>
      <div class="right-grid-container">
        <h3 class="popup_title">Lorem ipsum dolor</h3>
        <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
      </div>
    </div>
    <div id="grid-content-thirteen" class="on-click-grid13 common-click" data-grid-id="13">
      <div class="left-grid-container"><img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt=""></div>
      <div class="right-grid-container">
        <h3 class="popup_title">Lorem ipsum dolor</h3>
        <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
      </div>
    </div>
    <div id="grid-content-forteen" class="on-click-grid14 common-click" data-grid-id="14">
      <div class="left-grid-container"><img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt=""></div>
      <div class="right-grid-container">
        <h3 class="popup_title">Lorem ipsum dolor</h3>
        <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
      </div>
    </div>
  </div>
  <div class="close-popup">Close</div>


<script type="text/javascript">
  require(
    ['jquery', 'jquery/ui', 'customscroll', 'owlcarousel'],
    function($) {
      $(window).on("load", function() {
        $(".grid_wrap").mCustomScrollbar({
          scrollButtons: {
            enable: true,
            scrollType: "stepped"
          },
		    callbacks:{
		    	whileScrolling:function(){
		    		var pos = this.mcs.draggerTop +'px';
		    		$('.grid_column2').css({"transform": "translate3d(0px, "+pos+" , 0px)"});

		    }
		}
        });
      });

      if ($(window).width() >= 768) {
        var positionNumber = '';

        $('.cont_inner .grid a').click(function(e) {

          e.preventDefault();
          var element = $(this).attr('href');
          var positionNumber = $(this).parents('.grid').attr('data-grid-id');
          var positionNumber = positionNumber - 1;
          $('.pop-up-on-clickshow').find('.common-click').removeClass('active');
          $(element).addClass('active');
          $(element).parents('.pop-up-on-clickshow').addClass('active');
          $(this).parents('.grid_section').siblings('.popup_overlay').find('.owl-item').removeClass('active');

          $(this).parents('.grid_section').siblings('.popup_overlay').find('.close-popup').addClass('active');
          $('body').addClass('popup-style');

          $('.pop-up-on-clickshow').owlCarousel({
            loop: false,
            margin: 0,
            slideSpeed: 1500,
            dots: false,
            items: 1,
            scrollPerPage: true,
            lazyLoad: true,
            nav: true,
            navText: ["<span class='previous-owl'>Prev</span>", "<span class='next-owl'>Next</span>"],
            slideBy: 1,
            autoplay: false,
            responsiveClass: true,
            startPosition: positionNumber
          });

          $('.close-popup').appendTo('.owl-nav');

        });


        $('.close-popup').click(function() {
          $(this).appendTo('.popup_overlay');
          $('.pop-up-on-clickshow').owlCarousel('destroy');
          $(this).siblings('.pop-up-on-clickshow').removeClass('active');
          $(this).removeClass('active');
          $('body').removeClass('popup-style');
        });
      }

      $('.grid_inner').click(function() {
        $(this).siblings('.mobile_Description').toggleClass('view');
        $(this).parents('.grid').siblings().find('.mobile_Description').removeClass('view');
      });
      $('.Mobile_close-popup').click(function() {
        $(this).parents('.mobile_Description').removeClass('view');
      });

    });
</script>
