// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Blank theme overrides
//  _____________________________________________

//  Theme file should contain declarations (overrides) ONLY OF EXISTING variables
//  Otherwise this theme won't be available for parent nesting
//  All new variables should be placed in local theme lib or local theme files


//
//  General css for all the pages
//  ---------------------------------------------

@font-face {
     font-family: 'Courier Sans Bold';
     src: url('../fonts/couriersans-bold/couriersans-bold.eot');
     src: url('../fonts/couriersans-bold/couriersans-bold.eot?#iefix') format('embedded-opentype'),
	 url('../fonts/couriersans-bold/couriersans-bold.woff2') format('woff2'),
	 url('../fonts/couriersans-bold/couriersans-bold.woff') format('woff'),
	 url('../fonts/couriersans-bold/couriersans-bold.ttf') format('truetype'),
	 url('../fonts/couriersans-bold/couriersans-bold.svg#Courier Sans Bold') format('svg');
     font-weight: 400;
     font-style: normal
}

@font-face {
     font-family: 'Courier Sans Light';
     src: url('../fonts/couriersans-light/couriersans-light.eot');
     src: url('../fonts/couriersans-light/couriersans-light.eot?#iefix') format('embedded-opentype'),
	 url('../fonts/couriersans-light/couriersans-light.woff2') format('woff2'),
	 url('../fonts/couriersans-light/couriersans-light.woff') format('woff'),
	 url('../fonts/couriersans-light/couriersans-light.ttf') format('truetype'),
	 url('../fonts/couriersans-light/couriersans-light.svg#Courier Sans Light') format('svg');
     font-weight: 400;
     font-style: normal
}

@font-face {
     font-family: 'Courier Sans Regular';
     src: url('../fonts/couriersans-regular/couriersans-regular.eot');
     src: url('../fonts/couriersans-regular/couriersans-regular.eot?#iefix') format('embedded-opentype'),
	 url('../fonts/couriersans-regular/couriersans-regular.woff2') format('woff2'),
	 url('../fonts/couriersans-regular/couriersans-regular.woff') format('woff'),
	 url('../fonts/couriersans-regular/couriersans-regular.ttf') format('truetype'),
	 url('../fonts/couriersans-regular/couriersans-regular.svg#Courier Sans Regular') format('svg');
     font-weight: 400;
     font-style: normal
}

@font-face {
     font-family: 'SofiaPro Black';
     src: url('../fonts/SofiaPro-Black/SofiaPro-Black.eot');
     src: url('../fonts/SofiaPro-Black/SofiaPro-Black.eot?#iefix') format('embedded-opentype'),
	 url('../fonts/SofiaPro-Black/SofiaPro-Black.woff2') format('woff2'),
	 url('../fonts/SofiaPro-Black/SofiaPro-Black.woff') format('woff'),
	 url('../fonts/SofiaPro-Black/SofiaPro-Black.ttf') format('truetype'),
	 url('../fonts/SofiaPro-Black/SofiaPro-Black.svg#SofiaPro Black') format('svg');
     font-weight: 400;
     font-style: normal
}

body {
    color: #000000;
    font-family: 'Courier Sans Regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

a,
.alink,
button,
.button {
	transition: all 0.5s ease;
}

.page-main {
	.container {
		box-sizing: border-box;
		margin: 0 auto;
		max-width: 100%;
		padding: 0 16px;
		width: 100%;
	}
	
	input[type="text"],
	input[type="password"],
	input[type="url"],
	input[type="tel"],
	input[type="search"],
	input[type="number"],
	input[type="datetime"],
	input[type="email"] {
		background: #ffffff none repeat scroll 0 0 padding-box;
		border: 1px solid #000000;
		border-radius: 0;
		box-shadow: none !important;
		box-sizing: border-box;
		display: inline-block;
		font-family: "Courier Sans Regular";
		font-size: 14px;
		height: 36px;
		letter-spacing: 0.35px;
		line-height: 36px;
		padding: 3px 10px;
		vertical-align: baseline;
		width: 100%;
		
		&::-webkit-input-placeholder {
			color: #858585;
		}
		
		&::-moz-placeholder {
			color: #858585;
		}
		
		&:-ms-input-placeholder {
			color: #858585;
		}
		
		&:-moz-placeholder {
			color: #858585;
		}
	}
	
	textarea {
		background: #ffffff none repeat scroll 0 0 padding-box;
		border: 1px solid #000000;
		border-radius: 0;
		box-shadow: none !important;
		display: inline-block;
		font-family: "Courier Sans Regular";
		font-size: 14px;
		letter-spacing: 0.45px;
		line-height: 20px;
		max-height: 150px;
		min-height: 150px;
		padding: 3px 10px;
		width: 100%;
		
		&::-webkit-input-placeholder {
			color: #858585;
		}
		
		&::-moz-placeholder {
			color: #858585;
		}
		
		&:-ms-input-placeholder {
			color: #858585;
		}
		
		&:-moz-placeholder {
			color: #858585;
		}
	}
	
	.actions-toolbar { 
		button {
			&.action {
				&.primary {
					background: #000000 none repeat scroll 0 0;
					border: medium none;
					border-radius: 0;
					color: #ffffff;
					display: inline-block;
					font-size: 24px;
					font-weight: normal;
					line-height: 63px;
					padding: 0 20%;
					text-transform: uppercase;
					vertical-align: middle;
					
					span {
						display: inline-block;
						vertical-align: top;
						width: auto;
					}
				}
			}
		}
		
		 .secondary {
			a {
				&.action {
					color: #000000;
					float: right;
					font-size: 15px;
					letter-spacing: 0.45px;
					line-height: 43px;
					margin: 10px 0;
					padding: 0;
					text-decoration: underline;
					vertical-align: middle;
					
					span {
						display: block;
						vertical-align: middle;
						width: auto;
					}
					
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
	
	.pro-action-section {
		.action {
			&.primary {
				&:focus,
				&:active {
					background: #000000 none repeat scroll 0 0;
					border: medium none;
					color: #ffffff;
					
					img {
						filter: brightness(100%) invert(100%);
					}
				}
			}
		}
	}
}


#maincontent {
	.messages {
		display: inline-block;
		width: 100%;
		text-align: right;
		
		.message {
			margin: 90px 0 0;
			display: inline-block;
			max-width: calc(~'(100% - 110px)');
			text-align: left;
			
			& ~ .message {
				display: none;
				margin: 0;
			}
		}
	}
	
	.page.messages {
		display: none;
	}
}

.account {
	#maincontent {
		.messages {
			.message {
				margin: 0;
			}
		}
		
		.page.messages {
			display: inline-block;
		}
	}
}



.catalog-category-view,
.cms-jumpstart-your-glow {
	.page-main {
		padding-left: 16px;
		padding-right: 16px;
	}
}

.catalog-product-view {
	.page-main {
		.container {
			padding: 0 16px;
            padding-bottom: 20px;
		}
	}
}

#tooltip-label {
    display: none;
}

.mage-error {
    text-align: left !important;
}

.stripe-icon-container.right {
    margin: 0 0 0 10px;
	width: 100%;
}

#oar-widget-orders-and-returns-form {
	em {
		font-style: normal;
		color: red;
		display: inline-block;
		vertical-align: top;
		margin: 0 0 0 2px;
	}
}

#checkout-step-shipping {
    padding: 0 0 30px;
}

.checkout-index-index {
	.authentication-wrapper {
		display: none;
	}
	
	.payment-method.stripe-payments {
		.payment-method-title {
			.label {
				display: flex;
				flex-wrap: wrap;
				
				span {
					order: 1;
				}
				
				.stripe-icon-container.right {
					order: 2;
					margin: 10px 0 0 2px;
				}
			}
		}
	}
	
	#co-payment-form {
		.payment-option {
			.payment-option-content {
				#discount-form {
					.action.action-apply {
						padding: 0 6px;
						letter-spacing: 0.5px;
					}
				}
			}
		}
	}
	
	#discount-form {
		#discount-code-error {
			position: absolute;
		}
	}		
	
	#maincontent {
		.messages {
			.message {
				margin: 30px 0;
			}
		}
	}	
}





//
//  General css for Custom
//  ---------------------------------------------

.custom-header-cont {
    display: inline-block;
    left: 0;
    position: fixed;
    top: 0;
    vertical-align: middle;
    width: 100%;
    z-index: 3;
    background: #fff;
    border-bottom: solid 2px #000;
    padding-top: 12px;
    height: 43px;
}
.custom-header-cont {
    &.scrolled {
        height: 51px;
        padding-top: 14px;
        .logo-menu-bar {
            padding-top: 4px;
        }
    }
}

.header-topbar {
    box-sizing: border-box;
    display: none;
    padding: 16px 20px;
    text-align: left;
    width: 100%;
    background: #FFDEB5;
}

.top-bar-cont {
    display: inline-block;
    max-width: 1156px;
    width: 100%;
    vertical-align: middle;
    text-align: center;
	
	.top-label {
		box-sizing: border-box;
		display: inline-block;
		font-size: 12px;
		letter-spacing: 1.2px;
		line-height: 18px;
		margin: 0;
		text-transform: uppercase;
		vertical-align: top;
		width: 100%;
		white-space: normal;
		float: left;
		padding: 0 10px;
	}

	a {
		background: #000000 none repeat scroll 0 0;
		color: #ffffff;
		display: inline-block;
		font-size: 12px;
		letter-spacing: 1.2px;
		line-height: 20px;
		padding: 0;
		text-transform: uppercase;
		vertical-align: top;
		width: 156px;
		margin: 10px 0 0;
		text-align: center;
	}
}

.top-bar-close {
    cursor: pointer;
    float: right;
    font-family: "SofiaPro Black";
    font-size: 16px;
    width: 30px;
    position: absolute;
    right: 5px;
    top: 25px;
    border: 1px solid #000000;
    text-align: center;
    height: 30px;
    line-height: 24px;
    box-sizing: border-box;
	
	.top-close {
		display: inline-block;
		vertical-align: top;
		width: auto;
	}
}

.header-container {
    display: block;
    margin: 0px auto 0;
    max-width: 100%;
}

.logo-menu-bar {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    flex-wrap: wrap;
    float: none;
    display: inline-block;
    padding: 0 18px 0 17px;
	box-sizing: border-box;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
	
    .menu-logo {
        flex-wrap: wrap;
        display: inline-block;
		width: 19.42px;
        padding-top: 7px;
    }
    
	.mobile-menu-icon {
        flex-wrap: wrap;
        display: inline-block;
        text-align: center;
        padding-left: 22px;
    }
	
    .main-logo {
        flex-wrap: wrap;
        display: inline-block;
        padding-right: 0;
		width: 43px;
    }
}

.menu-section {
    float: left;
    max-width: calc(~'(100% - 200px)');
    width: 100%;
}

.main-logo {
    float: right;
    width: auto;
    padding-top: 5px;
	
	.logo {
		margin: 0;
		max-width: 100%;
		
		img {
			display: inline-block;
			vertical-align: middle;
			width: auto;
		}
	}
}

.menu-bar {
    display: inline-block;
    vertical-align: top;
    width: 100%;
	
	.menu-logo {
		float: left;
		width: auto;
		
		img {
			display: inline-block;
			margin: 0 0 0 -39px;
			min-width: 35px;
			vertical-align: top;
			width: auto;
		}
	}
	
	.menu-links {
		box-sizing: border-box;
		float: left;
		padding: 0 48px;
		width: calc(~'(100% - 96px)');
	}
	
	.menu-items {
		display: inline-block;
		list-style: outside none none;
		margin: 0;
		padding: 0;
		vertical-align: top;
		width: 100%;
        padding-top: 16px;
	}
	
	.menu-item {
		display: inline-block;
		line-height: 13px;
		margin: 0;
		padding: 0 5px;
		vertical-align: top;
		width: auto;

		a {
			border: 1px solid transparent;
			color: #000000;
			display: inline-block;
			font-size: 16px;
			letter-spacing: 1.6px;
			line-height: 23px;
			margin: -5px 0 0;
			padding: 0 5px;
			text-decoration: none;
			text-transform: uppercase;
			vertical-align: top;
			width: auto;
			
			&:hover {
				border: 1px solid #000000;
			}
            &.active {
                border: 1px solid #000000;
            }
		}
	}
}


.header-fixed-options {
    display: inline-block;
    margin: 38px 0 0;
    position: relative;
    vertical-align: top;
    width: 60px;
}

.header-opt {
    display: inline-block;
    left: 16px;
    position: absolute;
    top: 0;
    width: 40px;
}

.header-opt-boxes {
    float: left;
    width: 100%;
    text-align: center;
    .on-user-icon-click-show-box {
        padding: 14px 16px 8px 16px;
        clear: both;
        overflow: hidden;
    }
	.box-opt {
		border: 1px solid #000000;
		box-sizing: border-box;
		float: left;
		width: 100%;
		transition: all 0.5s ease;
		background: #ffffff none repeat scroll 0 0;
		
		a {
			float: left;
			width: 100%;
		}
		
		img {
			float: none;
			max-width: 100%;
			width: auto;
			transition: all 0.5s ease;
			cursor: pointer;
		}
		
		&:hover {
			background: rgb(0, 0, 0) none repeat scroll 0% 0%;
			
			img {
				filter: brightness(100%) invert(100%);
			}
		}

		&.chat-box {
			border-bottom: medium none;
			margin: 36px 0 0;
            padding-top: 14px;
            padding-bottom: 3px;
		}
		
		&.user-box {
			border-bottom: medium none;
		}
		
		&.minicart-box {
			&:hover {
				background: #ffffff none repeat scroll 0 0;
				
				img {
					filter: none;
				}
			}
			
			.text {
				&:hover {
					background: #000000 none repeat scroll 0 0;
					
					img {
						filter: brightness(100%) invert(100%);
					}
				}
			}
		}
	}
}

.header-container {
	.list.diamond-box {
		display: none;
	}
}


.minicart-box {
	.minicart-wrapper {
		margin: 0;
		text-align: center;
		width: 100%;
		
		.action {
			&.showcart {
				&:before {
					content: none;
				}
				
				.text {
					float: left;
					height: auto;
					margin: 0;
					padding: 0;
					position: static;
					width: 100%;
					transition: all 0.5s ease 0s;
                    padding-top: 10px;
                    padding-bottom: 1px;
				}
				
				.counter {
					&.qty {
						background: #ffffff none repeat scroll 0 0;
						border-radius: 0;
						border-top: 1px solid #000000;
						color: #000000;
						display: inline-block;
						float: left;
						font-size: 18px;
						height: 28px;
						letter-spacing: 0.45px;
						line-height: 28px;
						margin: 0;
						padding: 0;
						position: static;
						text-align: center;
						width: 100%;
						
						&.empty {
							display: inline-block;
						}
						
						&:hover {
							background: #000000 none repeat scroll 0 0;
							color: #ffffff;
						}
					}
				}

				.counter-label {
					display: none;
				}

				.counter-number {
					display: inline-block;
					vertical-align: top;
					width: 100%;
				}
			}
		}
	}
}


/*======For the cookie bar strip======*/

.message {
	&.global {
		&.cookie {
			.content {
				display: inline-block;
				text-align: center;
				width: 100%;
				
				p {
					display: inline-block;
					width: auto;
				}
				
				.actions {
					display: inline-block;
					margin: 5px;
					width: auto;
					
					button.action.primary.cookiebar {
						font-weight: normal;
						text-transform: uppercase;
						border-radius: 0;
						font-size: 12px;
						letter-spacing: 0.45px;
					}
				}
			}
		}
	}
}



/*======For the modal-pop-ups======*/

.modals-wrapper {
	.modal-popup {
	
		.modal-inner-wrap {
			max-width: 1156px;
			width: 80%;
		}
		
		.modal-header {
			float: left;
			padding: 5px 0;
			position: relative;
			width: 100%;
		}
		
		.modal-content {
			box-sizing: border-box;
			float: left;
			letter-spacing: 0.35px;
			padding: 10px;
			text-align: center;
			width: 100%;
			font-size: 14px;
			line-height: 20px;
		}
		
		.modal-footer {
			box-sizing: border-box;
			float: left;
			padding: 20px;
			text-align: center;
			width: 100%;
		}
		
		button {
			background: #000000 none repeat scroll 0 0;
			border: medium none;
			border-radius: 0;
			color: #ffffff;
			display: inline-block;
			font-size: 18px;
			font-weight: normal;
			letter-spacing: 1.85px;
			line-height: 36px;
			margin: 0 5px;
			padding: 0 15px;
			text-transform: uppercase;
			vertical-align: middle;
			width: auto;
			
			&.action-close {
				border-radius: 50%;
				height: 40px;
				line-height: 40px;
				margin: 0;
				padding: 0;
				position: absolute;
				right: -20px;
				top: -20px;
				width: 40px;
				background: #000000 none repeat scroll 0 0;
				
				&:before {
					color: #ffffff;
					font-size: 40px;
					line-height: 40px;
				}
			}
		}
	}
}


//
//  Custom Css For the Homepage 
//  ---------------------------------------------


.cms-home {
	.page-main {
		max-width: 100%;
		padding: 0;
	}
	
	.header-topbar {
		display: inline-block;
	}
	
	.custom-header-cont {
		top: 80px;
		
		&.shift-to-top {
			top: 0;
		}
	}
}


/*===========For the Home page Slider Section===========*/

.home-page-slider-container {
    display: inline-block;
    position: relative;
    width: 100%;
}

.home-slider-top-sec {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.home-slider-bottom-sec {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
	
	
	.home-banner-tag {
        bottom: 96px;
        display: inline-block;
        font-family: "SofiaPro Black";
        font-size: 134px;
        left: -9px;
        letter-spacing: 13.2px;
        line-height: 140px;
        position: absolute;
        text-align: center;
        width: calc(~'(100% + 24px)');
	}
}

.slide-left-sec {
    float: left;
    max-width: 568px;
    position: relative;
    width: 50%;
    .side-banner-cont {
        text-align: center;
        letter-spacing: 2px;
        color: #FFFFFF;
        background: #000;
        width: 372px;
        height: 30px;
        position: absolute;
        bottom: 228px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
	
	.side-banner-pic {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		
		img {
			display: inline-block;
			vertical-align: middle;
			width: 100%;
		}
	}
}

.slide-right-sec {
    float: right;
    max-width: 568px;
    width: 50%;
    padding-top: 121px;
	
	.home-slider {
		display: inline-block;
		max-width: 100%;
		overflow: hidden;
		width: 100%;
        .owl-nav.disabled {
            display: none;
        }
	}
}


.home-slider {
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	width: 100%;
	vertical-align: middle;
	
    .owl-item {
        display: inline-block;
		vertical-align: top;
		
		.slide {
            display: inline-block;
            width: 100%;
            height: 100%;
            vertical-align: middle;

            .slide-banner {
                float: left;
                margin: 0 0 8px;
                width: 100%;
            }

            img {
                display: inline-block;
                vertical-align: middle;
                width: 100%;
            }

            .slide-content {
                float: left;
                width: 100%;

                .slide-title {
                    float: left;
                    margin: 0;
                    width: 100%;
                    font-family: 'SofiaPro Black';
                    font-size: 18px;
                    line-height: 23px;
                    letter-spacing: 1.8px;
                    text-transform: uppercase;
                    position: relative;
                    padding: 0;
					
					.backstrip {
						vertical-align: middle;
						width: auto;
						line-height: 24px;
						float: left;
						clear: both;
                    }
                }
				
				.slidetextsecound {
                    letter-spacing: 1px;
                }

                .slidetextsecound {
                    .backstrip {
                        &::after {
                            background: #9BCFCB;
                        }
                    }
                    .backstripS {
                        &::after {
                            background: #9BCFCB;
                        }
                    }
                }
				
                .slidetextthird {
                    .backstrip {
                        &::after {
                            background: #9f55ff;
                        }
                    }
                    .backstripS {
                        &::after {
                            background: #9f55ff;
                        }
                    }
                }
				
                
                .slide-cont {
                    float: left;
                    font-size: 14px;
                    width: 100%;
                    color: #000;
                    letter-spacing: 0.35px;
                    line-height: 20px;
					padding-top: 18px;
                }
            }
        }
    }
	
	.owl-stage-outer {
        overflow: hidden;
    }
    
	.slide {
        position: relative;
    }
	
	.owl-nav {
		display:none;
	}
		
	.owl-nav.disabled {
		display: none;
	}	
}


.backstrip {
    display: inline-block;
    position: relative;
    line-height: 32px;
    &::after {
        content: '';
        background: #FFA300;
        width: 100%;
        height: 14px;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        max-width: calc(~'(100% - 7px)');
    }
}
.backstripS {
    display: inline-block;
    position: relative;
    line-height: 32px;
    &::after {
        content: '';
        background: #FFA300;
        width: 100%;
        height: 14px;
        position: absolute;
        bottom: 0px;
        left: 0;
        z-index: -1;
        max-width: calc(~'(100% - 7px)');
    }
}

.psasimplesteps {
    padding: 0px 20px;
    background: #fff;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
	
    h2 {
        background: #FFA300;
        text-align: center;
        padding: 0;
        font-family: 'SofiaPro Black';
        font-size: 20px;
        height: 43px;
        letter-spacing: 3.6px;
        color: #000;
        margin: 0;
        line-height: 43px;
        .backstrip {
            z-index: 100;
            &::after {
                background: #fff;
                bottom: 7px;
                max-width: calc(~'(100% - -20px)');
                left: 2px;
                height: 8px;
            }
        }
    }
    .listing {
        float: left;
        position: relative;
		width: 100%;
		
        .productimage {
            img {
                display: block;
                vertical-align: text-top;
				width: 100%;
            }
        }
        .content {
            position: absolute;
            left: 50%;
            top: 44%;
			max-height: 150px;
            transform: translate(-50%, -50%);
            .stepcount {
               width: 101px;
                background: #000;
                color: #fff;
                text-align: center;
                height: 18px;
                line-height: 18px;
                font-size: 18px;
                letter-spacing: 2px;
                margin: auto;
                margin-top: 16px;
                margin-bottom: 0;
            }
            .productname {
                font-family: 'SofiaPro Black';
                font-size: 32px;
                line-height: 40px;
                letter-spacing: 2px;
                color: #fff;
                margin-top: 12px;
                text-align: center;
				vertical-align: middle;
				width: 100%;
				display: inline-block;
				
                .backstrip {
                    z-index: 100;
                    line-height: 55px;
                    &::after {
                        max-width: calc(~'(100% - 12px)');
                        left: 2px;
                        height: 12px !important;
                        background: #9f55ff;
                        bottom: 13px;
                    }
                }
            }
			
			.homecommingsoon { 
				color: #000;
				display: inline-block;
				position: relative;
				width: 100%;
				vertical-align: middle;
				
				.coming-soon {
					padding: 0;
					position: absolute;
					top: 13px;
					border: medium none;
					left: -19px;
					
					&:after,
					&:before {
						border: medium none;
						content: none;
					}
					
					.outer-box {
						width: 202px;
						max-width: 264px;
						
						.coming-box {
							font-size: 16px;
							line-height: 32px;
							width: 202px;
							height: 38px;				
						}
						
						&:after {
							left: -8px;
							top: 8px;
							height: 38px;
						}
					}
				}
			}
        }
		
         &.maskandtone {
            .content {
                width: 100%;
                margin-left: 0px;
                .productname {
                    letter-spacing: 2px;
                    .backstrip {
                        &::after {
                            background: #DF231D;
                            bottom: 14px;
                            left: 7px;
                            height: 12px;
                            max-width: calc(~'(100% - 19px)');
                        }
                    }
                }
            }
        }
        &.serumproduct {
            .backstrip {
                &::after {
                    background: #9BCFCB !important;
                    height: 21px !important;
                    left: 3px !important;
                    max-width: calc(~'(100% - 13px)') !important;
                }
            }
        }
        &.moistureproduct {
            .content {
                margin-left: 14px;
                top: 43.5%;
            }
            .backstrip {
                &::after {
                    background: #98ADE3 !important;
                    left: 5px !important;
                    max-width: calc(~'(100% - 16px)') !important;
                }
            }
        }
    }
}
.psasimplesteps {
    .listing {
        /*height: 375px;*/
        overflow: hidden;
        cursor: pointer;
        .back {
            opacity: 0;
            transition: .9s all ease;
        }
        .front {
            transition: .9s all ease;
            opacity: 1;
        }
        &:hover {
            .front {
                opacity: 0;
                transition: .9s all ease;
            }
            .back {
                opacity: 1;
                position: absolute;
                top: 0;
                transition: .9s all ease;
            }
        }
    }
}
.shift-to-top {top: 0; transition: .5s all ease;}
.custom-header-cont.scrolled {top: 0; transition: .5s all ease;}
.psaprechecksection {
        text-align: center;
        border-top:none;
        margin-top: 0px;
        padding-top: 0;
    background: #fff;
    padding-bottom: 5px;
    h2 {
        margin: 0;
        font-family: 'SofiaPro Black';
        font-size: 36px;
        line-height: 48px;
        letter-spacing: 3.5px;
        display: none;
        .backstrip {
            &::after {
                left: 0px;
                max-width: calc(~'(100% - 2px)') !important;
            }
        }
    }
    p {
        font-size: 14px;
        line-height: 20px;
        margin: 0;
        padding-top: 10px;
        padding-bottom: 2px;
    }
    .listing {
        .list {
            display: inline-block;
        }
    }
}
.beengossiping {
    background: #e5eaf8;
    text-align: center;
    padding-bottom: 53px;
    margin-top: 0px;
	
	.owl-item {
		.slide {
			position: relative;
		}
	}
	
    .owl-nav {
		&.disabled {
			display: none;
		}
    }
	
    .container {
        overflow: hidden;
        padding: 0;
        p {
            margin: 0;
            font-size: 20px;
            line-height: 32px;
            letter-spacing: 0.9px;
            padding-top: 70px;
            padding-bottom: 80px;
            position: relative;
            span.first {
                position: absolute;
                left: 49.8%;
                top: 28px;
				
				em,
				i {
					font-style: normal;
				}
            }
            span.secound {
                position: absolute;
                left: 49.8%;
                bottom: 37px;
            }
        }
    }
    h2 {
        background: #98ADE3;
        margin: 0;
        padding: 2px 0 8px 0;
        font-family: 'SofiaPro Black';
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 1px;
        .backstrip {
            z-index: 1;
            &::after {
                height: 6px;
                bottom: 8px;
                left: 6px;
                background: #fff;
                max-width: calc(~'(100% - 10px)') !important;
            }
        }
    }
    .Logo-Allure {
        img {
            width: auto !important;
        }
    }
}
.cms-home {
    .column.main {
        padding-bottom: 0;
    }
}
.shareyourstore {
    position: relative;
    img {
        display: block;
        width: 100%;
    }
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 1156px;
    }
    h2 {
       text-align: center;
        background: #fff;
        margin: 0;
        font-family: 'SofiaPro Black';
        font-size: 36px;
        line-height: 43px;
        letter-spacing: 3.6px;
        border: solid 2px #000;
        padding-top: 15px;
        padding-bottom: 20px;
        .backstrip {
            z-index: 1;
            &::after {
                background: #DF231D;
                left: 3px;
                max-width: calc(~'(100% - 7px)') !important;
            }
        }
    }
}




//
//  Custom css for Get Schooled CMS Page
//  ---------------------------------------------

.get-schooled-grid-content { 
    float: none;
    margin: 79px auto auto auto; 
    width: 100%;
	
	.top-heading {
		float: left;
		width: auto;
        margin-bottom: 20px;
        padding-left: 92px;
		
		h2 {
			display: inline-block;
			font-family: "SofiaPro Black";
			font-size: 20px;
			font-weight: normal;
			letter-spacing: 1px;
			line-height: 25px;
			margin: 0;
			text-transform: uppercase;
			vertical-align: top;
			width: 100%;
		}
		
		.backstrip {
			line-height: 25px;
			vertical-align: top;
			
			&:after {
				background: #9bcfcb none repeat scroll 0 0;
				height: 8px;
                bottom: 4px;
			}
		}
	}
}


.get-school-grid-list {
    float: none;
    width: 100%;
    justify-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0 6px;
    box-sizing: border-box;
    align-self: center;
}

.gs-grid-block {
    background: #ffffff none repeat scroll 0 0;
    border: 2px solid #000000;
    box-sizing: border-box;
    float: left;
    height: 155px;
    margin: 0 2% 4%;
    padding: 0;
    position: relative;
    width: 48%;
    cursor: pointer;
    box-sizing: border-box;
	
	&:nth-child(odd) {
		margin-left: 0;
	}

	&:nth-child(even) {
		margin-right: 0;
	}
	
	&.grid-bg-1 {
		background: #98ADE3 none repeat scroll 0 0;
		border-color: #98ADE3;
	}
	
	&.grid-bg-2 {
		background: #D7918A none repeat scroll 0 0;
		border-color: #D7918A;
	}

	&.grid-bg-3 {
		background: #DF231D none repeat scroll 0 0;
		border-color: #DF231D;
	}

	&.grid-bg-4 {
		background: #FF7276 none repeat scroll 0 0;
		border-color: #FF7276;
	}

	&.grid-bg-5 {
		background: #FFA300 none repeat scroll 0 0;
		border-color: #FFA300;
	}

	&.grid-bg-6 {
		background: #001F5B none repeat scroll 0 0;
		border-color: #001F5B;
	}

	&.grid-bg-7 {
		background: #9BCFCB none repeat scroll 0 0;
		border-color: #9BCFCB;
	}

	&.grid-bg-8 {
		background: #9f55ff none repeat scroll 0 0;
		border-color: #9f55ff;
	}

	&.grid-bg-9 {
		background: #FF671D none repeat scroll 0 0;
		border-color: #FF671D;
	}
	
	&.grid-bg-10 {
		background: #FFABB6 none repeat scroll 0 0;
		border-color: #FFABB6;
	}
	
	&.open {
		.gs-grid-content {
			opacity: 1;
			visibility: visible;
			transition: visibility 0.3s linear,opacity 0.3s linear;
		}		
	}
	
    &:nth-child(2n) {
        .gs-grid-content {
            left: auto;
            right: -2px;
        }
    }
}

.gs-grid-titles {
    display: inline-block;
    height: 100%;
    position: relative;
    width: 100%;
	color: #000000;
	padding: 0 20px 20px 10px;
	box-sizing: border-box;
	
	.element-symbol {
		display: inline-block;
		font-family: "SofiaPro Black";
		font-size: 60px;
		line-height: 62px;
		vertical-align: text-top;
		width: auto;
	}
	
	.element-name {
		float: left;
		font-size: 14px;
		letter-spacing: 1px;
		line-height: 20px;
		text-transform: uppercase;
		width: auto;
		margin-left: 8px;
	}
	
	&.gs-title-1 {
		color: #ffffff;
	}
	
	&.gs-title-2 {
		color: #4FBCCA;
	}
	
	&.gs-title-3 {
		color: #FFABB6;
	}
}

.gs-element-symbol {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.gs-element-name {
    bottom: 16px;
    display: inline-block;
    left: 10px;
    position: absolute;
    vertical-align: middle;
    width: calc(~'(100% - 30px)');
}

.gs-grid-content {
    display: inline-block;
    background: #ffffff none repeat scroll 0 0;
    border: 2px solid #000000;
    left: -2px;
    padding: 20px;
    position: absolute;
    top: -2px;
    z-index: 1;
    transition: visibility 0.3s linear,opacity 0.3s linear;
    visibility: hidden;
    opacity: 0;
    min-height: calc(~'(204% + 18px )');
    width: calc(~'(208% + 9px)');
    box-sizing: border-box;
    
	&.grid-cover-4 {
		min-height: calc(~'(412% + 44px )');
	}

	&.grid-cover-1 {
		min-height: calc(~'(100% + 4px)');
	}

	&.grid-cover-3 {
		min-height: calc(~'(204% + 18px )');
	}
	
	&.grid-cover-bottom {
		bottom: -2px;
		top: initial;
	}
}

.gs-element-info {
    float: left;
    width: 100%;
	position: relative;
	
	.element-info {
		display: inline-block;
		font-size: 14px;
		letter-spacing: 0.45px;
		line-height: 20px;
		vertical-align: middle;
	}
	
	.element-links {
		display: inline-block;
		margin: 20px 0 0;
		vertical-align: middle;
		width: 100%;
		
		span {
			display: inline-block;
			font-weight: bold;
			vertical-align: middle;
			width: 100%;
		}
		
		a {
			color: #000;
			display: inline-block;
			font-size: 16px;
			letter-spacing: 0.4px;
			margin: 6px 0;
			text-decoration: underline;
			text-transform: uppercase;
			width: 100%;
			
			&:hover {
				text-decoration: none;
			}
		}
	}
}

.gs-grid-closer {
    float: right;
    position: absolute;
    right: -22px;
    top: -22px;
	
	.gs-close-btn {
		border: medium none;
		box-sizing: border-box;
		cursor: pointer;
		display: inline-block;
		font-family: "SofiaPro Black";
		height: 30px;
		line-height: 30px;
		text-align: center;
		width: 30px;
	}
}


/*.diamond-box {
    padding-top: 13px;
    padding-bottom: 4px;
}*/


.container {
    position: relative;
	
    #popup-box {
		position: fixed;
		z-index: 100;
		left: 50%;
		top: 54%;
		transform: translate(-50%, -50%);
		display: inline-block;
		width: 90%;
		max-width: 400px;
        background: #fff;
		
		.close {
            font-family: 'Courier Sans bold';
            font-size: 18px;
            color: #000;
            letter-spacing: 0;
            background: #fff;
            width: 70px;
            height: 70px;
            display: block;
            text-align: center;
            line-height: 30px;
            border: solid 2px #000;
            position: absolute;
            right: 0;
            top: 0;
			cursor: pointer;
			opacity: 0;
			
            &:hover {
                text-decoration: none;
            }
        }
		
		.popupinner {
			display: inline-block;
			width: 100%;
			vertical-align: middle;
		}
		
		.popupcontent {
			display: inline-block;
			width: 100%;
			vertical-align: middle;
			padding: 20px 10%;
			box-sizing: border-box;
		}
		
        .offeroff {
            font-size: 18px;
            line-height: 28px;
            color: #fff;
            position: absolute;
            top: 58%;
            right: 111px;
        }
        
		.copuncodebottom {
            position: absolute;
            left: 10px;
            width: 100%;
            text-align: center;
            bottom: 85px;
            
			.coupncode {
                font-size: 18px;
                line-height: 28px;
                letter-spacing: 1.8px;
                color: #fff;
            }
            
			.jointheteam {
                font-family: 'SofiaPro Black';
                text-transform: uppercase;
                color: #fff;
                font-size: 44px;
                line-height: 28px;
                padding-top: 16px;
//                -webkit-text-stroke-width: 1px;
//                -webkit-text-stroke-color: black;
            }
        }
		
        .metext {
            color: #000;
			font-size: 24px;
			position: static;
			display: inline-block;
			width: 100%;
			vertical-align: middle;
			text-align: left;
			line-height: 36px;
			
			b {
				font-weight: normal;
				font-family: 'SofiaPro Black';
				letter-spacing: 1px;
			}
		}
        
		.discounttext {
            color: #fff;
            font-size: 50px;
            position: absolute;
            top: 370px;
            right: 40px;
            letter-spacing: 2.5px;
        }
		
		img {
			width: 100%;
			display: inline-block;
			vertical-align: middle;
		}
		
		.condition-text {
			position: static;
			display: inline-block;
			width: 100%;
			vertical-align: middle;
			letter-spacing: 0.5px;
			line-height: 18px;
			text-align: left;
			font-size: 12px;
			
			em {
				font-style: normal;
			}
			
			a {
				text-transform: none;
				text-decoration: underline;
				color: #000;
				
				&:hover {
					text-decoration: none;
				}
			}
		}
		
		.coupon-btn {
			display: inline-block;
			width: 100%;
			vertical-align: middle;
			margin: 20px 0;
		
			a {
				display: inline-block;
				width: 100%;
				vertical-align: middle;
				border: 2px solid #000;
				text-align: center;
				text-transform: uppercase;
				letter-spacing: 1px;
				color: #000;
				font-size: 20px;
				line-height: 48px;
				box-sizing: border-box;
				transition: all 0.5s ease;
				text-decoration: none;
				font-family: 'SofiaPro Black';
				
				&:hover {
					background: #000;
					color: #fff;
				}
			}
		}
    }
}


.cms-home {
	.mobilebanner {
		.slide-left-sec {
			width: 100%;
			max-width: 100%;
		}
	}
}

.slide-left-sec {
	.side-banner-pic {
		position: relative;
		
		.condition-text {
			position: absolute;
			display: inline-block;
			width: auto;
			vertical-align: middle;
			letter-spacing: 0.5px;
			line-height: 20px;
			text-align: left;
			font-size: 11px;
			bottom: 12px;
			z-index: 1;
			right: 12px;
			
			em {
				font-style: normal;
			}
			
			a {
				text-transform: none;
				text-decoration: underline;
				color: #000;
				
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}



.swell-tab {
    display: none !important;
}

#freshwidget-button {
    display: none !important;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
}

.cart.table-wrapper .actions-toolbar .action-towishlist {
    display: none;
}



//
//  Custom css for order return pages and section in dashboard
//  ----------------------------------------------------------

.account {
	.breadcrumbs {
		display: none;
	}
}


/***********************For the Order Return Form Page***********************/

.order-return-container {
    float: right;
    margin: 76px 0 0;
    width: 100%;
	min-height: 750px;
	
	.block {
		&.block-order-return {
			float: left;
			max-width: 470px;
			width: 100%;
			margin: 0;
		
			.block-title {
				border: medium none;
				display: inline-block;
				margin: 0;
				padding: 0 0 0 94px;
				vertical-align: middle;
				width: 100%;
				box-sizing: border-box;
			}
			
			.block-content {
				display: inline-block;
				margin: 20px 0 80px;
				vertical-align: middle;
				width: 100%;
			}
		}
	}
	
	.form.form-orders-search {
		float: left;
		width: 100%;
		min-width: 100%;
	}
}


#block-order-return-heading {
    display: inline-block;
    font-family: "SofiaPro Black";
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 4px;
    line-height: 25px;
    margin: 0;
    text-transform: uppercase;
    vertical-align: top;
    width: 100%;
	
	.backstrip {
		line-height: 25px;
		vertical-align: top;
		
		&:after {
			background: #FFA300 none repeat scroll 0 0;
			height: 8px;
			bottom: 4px;
		}
	}
   .backstrip:first-child {
       &:after {
            max-width: calc(~'(100% - 15px)');
           left: 5px;
       }
    }
   .backstrip:last-child {
       &:after {
            max-width: calc(~'(100% - 8px)');
           left: 3px;
       }
    }
}


.form-orders-search {
    .fieldset {		
		float: left;
		margin: 30px 0 0;
		width: 100%;		
	
		.field {
			display: inline-block;
			margin: 0;
			vertical-align: middle;
			width: 100%;
			letter-spacing: 0.4px;
			
			&.note {
				margin: 0 0 70px;
				
				span {
					display: inline-block;
					vertical-align: middle;
					width: auto;
				}
				
				a {
					color: #9bcfcb;
					display: inline-block;
					text-decoration: underline;
					vertical-align: middle;
					width: auto;
					
					&:hover {
						color: #000000;
						text-decoration: none;
					}
				}
			}
			
			label,
			.label {
				font-size: 14px;
				font-weight: normal;
				letter-spacing: 0.35px;
				line-height: 20px;
				margin: 0 0 13px;
				padding: 0;
				text-align: left;
				width: 100%;
				
				&:after {
					content: none;
				}
				
				span {
					display: inline-block;
					vertical-align: top;
					width: auto;
				}
			}

			.control {
				float: left;
				margin: 0 0 12px;
				width: 100%;
				
				input {
					height: 50px;
					line-height: 50px;
				}
			}
			
			&.choice, .checkbox {
				float: left;
				position: relative;
				margin: 10px 0;
				
				&:before {
					content: none;
					padding: 0;
				}

				label {
					box-sizing: border-box;
					float: left;
					margin: 0;
					padding: 0 0 0 40px;
					position: relative;
					cursor: pointer;
					
					&:before {
						border: 2px solid #000000;
						content: " ";
						height: 16px;
						left: 0;
						position: absolute;
						top: 50%;
						transform: translate(0px, -50%);
						width: 16px;
					}
					
					span {
						&.backstrip {
							line-height: 13px;
							vertical-align: middle;
							
							&:after {
								height: 13px;
								max-width: 100%;
							}
						}
					}
				}

				input {
					&.checkbox {
						float: left;
						height: 100%;
						left: 0;
						margin: 0;
						opacity: 0;
						position: absolute;
						top: 0;
						width: 100%;
						
						&:checked {
							& ~ label {
								&:after {
									background: rgba(0, 0, 0, 0) url("../images/right.png") no-repeat scroll center center / 12px auto;
									content: " ";
									height: 16px;
									left: 2px;
									position: absolute;
									top: 50%;
									transform: translate(0px, -50%);
									width: 16px;
								}
							}
						}
					}
				}
			}
			
			.select,
			select {
				-moz-appearance: none;
				-webkit-appearance: none;
				background: #ffffff url("../images/down-arrow.svg") no-repeat scroll right 13px center / 16px auto;
				border: 1px solid #000;
				box-shadow: none;
				box-sizing: border-box;
				display: inline-block;
				font-size: 14px;
				height: 50px;
				letter-spacing: 0.35px;
				line-height: 50px;
				padding: 3px 50px 3px 10px;
				vertical-align: baseline;
				width: 100%;
			}
		}
	}
	
	.actions-toolbar {
		display: inline-block;
		margin: 28px 0 0 !important;
		vertical-align: middle;
		width: 100%;
		
		.action {
			&.primary {
				min-width: 198px;
				float: left;
				width: auto;
				line-height: 36px !important;
				font-size: 16px !important;
				letter-spacing: 1.4px;
			}
		}
	}
}


.account {
	&.amasty-rma-guest-history {
		.page-main {
			.column {
				&.main {
					float: right;
					min-height: 350px;
					padding: 40px 0;
				}
			}
		}
	}		
}


/***********************For the Order Return request listing Page***********************/

.amasty-rma-customer-history,
.amasty-rma-guest-history {
	
	#amasty_rma_orders {
		-moz-appearance: none;
		-webkit-appearance: none;
		background: #ffffff url("../images/down-arrow.svg") no-repeat scroll right 13px center / 16px auto;
		border: 1px solid #000;
		box-sizing: border-box;
		display: inline-block;
		font-size: 14px;
		height: 36px;
		letter-spacing: 0.45px;
		line-height: 30px;
		margin: 0 0 40px;
		padding: 3px 45px 3px 10px;
		vertical-align: middle;
		width: 100%;
		box-shadow: none;
		max-width: 100%;
	}
	
	.amrma-history-header {
		float: left;
		text-align: center;
		vertical-align: middle;
		width: 100%;
		
		p {
			margin: 0;
			display: none;
		}
		
		h4 {
			display: none;
		}
		
		.action {
			&.primary {
				background: #000000 none repeat scroll 0 0;
				border: medium none;
				border-radius: 0;
				font-size: 16px;
				font-weight: normal;
				height: 36px;
				line-height: 36px;
				padding: 0 30px;
				text-align: center;
				text-transform: uppercase;
				vertical-align: top;
				letter-spacing: 1.4px;
			}
		}
	}
	
	.dashboard {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		
		.box-account {
			display: inline-block;
			vertical-align: middle;
			width: 100%;
			text-align: center;
			font-size: 14px;
		}
			
		.pager {
			background: #ffa300 none repeat scroll 0 0;
			box-sizing: border-box;
			display: inline-block;
			margin: 0 0 20px;
			padding: 8px 0 12px;
			vertical-align: middle;
			width: 100%;
		}
		
		.toolbar-amount {
			font-family: "SofiaPro Black";
			font-size: 24px;
			height: 28px;
			line-height: 28px;
			padding: 0;
		}
		
		.toolbar-number {
			display: inline-block;
			position: relative;
			vertical-align: middle;
			width: auto;
			z-index: 1;
			
			&:after {
				background: #fff none repeat scroll 0 0;
				bottom: 4px;
				content: " ";
				height: 8px;
				left: 0;
				position: absolute;
				width: 100%;
				z-index: -1;
			}
		}
		
		.limiter {
			display: none;
		}
		
		& > .pager {
			display: inline-block;
		}
		
		.table-wrapper {
			& ~ .pager {
				display: none;
			}
		}
	}
}


#my-rma-table {
	tr {
		font-size: 14px;
		border: 1px solid #000;
	
		td:first-child {
			padding-top: 5px;
		}	
	
		th {
			font-family: "Courier Sans Bold";
			font-size: 16px;
			font-weight: normal;
			letter-spacing: 0.35px;
			text-align: center;
		}
		
		a.action {
			color: #000000;
			text-decoration: underline;
			
			&:hover {
				text-decoration: none;
			}
		}
	}
}



/***********************For the Order Return request edit form***********************/

.amasty-rma-request-edit {
	.fieldset {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		padding: 0;
		
		form {
			display: inline-block;
			vertical-align: middle;
			width: 100%;
		}
		
		table {
			&.summary {
				border: 1px solid #000;
				box-sizing: border-box;
				display: table;
				margin: 0 auto 30px;
				
				tr {
					td {
						font-size: 14px;
						font-weight: normal;
						letter-spacing: 0.35px;
						line-height: 20px;
						padding: 5px;
						word-break: break-word;
						
						&:first-child {
							font-family: "Courier Sans Bold";
							font-size: 14px;							
						}
					}
				}
				
				a {
					color: #000000;
					text-decoration: underline;
					
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
		
		#products {
			display: inline-block;
			margin: 10px 0 0;
			width: 100%;
		}

		.field {
			display: inline-block;
			margin: 0;
			width: 100%;
			
			label.label {
				box-sizing: border-box;
				font-weight: normal;
				margin: 0 0 8px;
				padding: 0;
				text-align: left;
				width: 100%;
				font-size: 14px;
				letter-spacing: 0.35px;
				
				&:after {
					color: #000000;
					font-family: "Courier Sans Regular";
					font-size: 16px;
					line-height: 24px;
					margin: 0;
				}
			}
			
			.input-box {
				float: left;
				margin: 0 0 12px;
				width: 100%;
			}
			
			select {
				-moz-appearance: none;
				-webkit-appearance: none;
				background: #ffffff url(../images/down-arrow.svg) no-repeat scroll right 10px center / 12px auto;
				border: 1px solid #000;
				box-sizing: border-box;
				display: inline-block;
				font-size: 14px;
				height: 36px;
				letter-spacing: 0.35px;
				line-height: 28px;
				margin: 0;
				padding: 3px 36px 3px 10px;
				vertical-align: middle;
				width: 100%;
				box-shadow: none;
			}
			
			textarea {
				max-height: 200px;
				min-height: 200px;
			}
		}
		
		.item-actions {
			display: inline-block;
			margin: 0 0 30px;
			vertical-align: middle;
			width: 100%;
			
			a {
				color: #000000;
				letter-spacing: 0.35px;
				text-decoration: underline;
				font-size: 14px;
				
				&:hover {
					text-decoration: none;
				}
			}
		}
			
		&.rma-additional {
			margin: 0;
			
			legend {
				display: none;
			}
			
			.amasty-file-label {
				color: #000;
				display: inline-block;
				font-size: 13px;
				line-height: 20px;
				margin: 0 0 50px;
				width: 100%;
			}
		}
	}
	
	.buttons-set {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		
		.back-link {
			display: none;
			float: left;
			margin: 0;
		}
		
		.action.primary {
			float: right;
			width: auto;
			background: #000000 none repeat scroll 0 0;
			border: medium none;
			border-radius: 0;
			font-size: 16px;
			font-weight: normal;
			height: 36px;
			line-height: 36px;
			padding: 0 30px;
			text-align: center;
			text-transform: uppercase;
			vertical-align: top;
			letter-spacing: 1.4px;
		}
	}
}



/***********************For the Order Return request view page***********************/


.amasty-rma-request-view {
	
	.page-main {
		.column.main {
			float: right;
		}
	}

	.order-actions-toolbar {
		margin: 0;
	}
	
	.block-dashboard-info {
		align-self: center;
		display: inline-flex;
		flex-wrap: wrap;
		justify-self: center;
		vertical-align: middle;
		width: 100%;
		
		.block-content {
			align-self: center;
			display: flex;
			flex-wrap: wrap;
			justify-self: center;
			vertical-align: middle;
			width: 100%;
		}

		.box {
			border: 2px solid #000;
			box-sizing: border-box;
			display: inline-block;
			letter-spacing: 0.35px;
			margin: 20px 1% 0 !important;
			max-width: 98%;
			padding: 20px;
			text-align: center;
			width: 98%;
			word-wrap: break-word;
			font-size: 14px;
			
			 a {
				color: #000000;
				text-decoration: underline;
				
				&:hover {
					text-decoration: none;
				}
			}
		}
		
		.box-title {
			display: inline-block;
			font-weight: normal;
			margin: 0 0 10px !important;
			vertical-align: middle;
			width: 100%;
			
			span {
				display: inline-block;
				width: 100%;
				font-family: "Courier Sans Bold";
				font-size: 16px !important;
				font-weight: normal !important;
				margin-top: 0 !important;
			}
		}
	}
	
	h3.box-title {
		background: #ffa300 none repeat scroll 0 0;
		display: inline-block;
		font-family: "SofiaPro Black";
		font-size: 24px;
		margin: 0 0 20px;
		padding: 8px 0 12px;
		text-align: center;
		width: 100%;
	}

	.table-order-items {
		margin: 0 0 40px;
		text-align: center;
	}

	#rma_comment {
		display: inline-block;
		width: 100%;
		
		.box-title {
			margin: 20px 0 30px;
		}
		
		textarea {
			margin: 0 0 20px;
			max-height: 200px;
			min-height: 200px;
		}
		
		.box-content {
			display: inline-block;
			vertical-align: middle;
			width: 100%;
		}
		
		.amasty-file-label {
			color: #000000;
			display: inline-block;
			font-size: 13px;
			letter-spacing: 0.45px;
			margin: 10px 0;
			width: 100%;
		}
		
		.buttons-set {
			margin: 10px 0 20px;
			
			.action.primary {
				float: right;
				width: auto;
				background: #000000 none repeat scroll 0 0;
				border: medium none;
				border-radius: 0;
				font-size: 16px;
				font-weight: normal;
				height: 36px;
				line-height: 36px;
				padding: 0 30px;
				text-align: center;
				text-transform: uppercase;
				vertical-align: top;
				letter-spacing: 1.4px;
			}
		}
		
		.note-list {
			margin: 0;
			padding: 0;
			font-size: 14px;
			
			li {
				background: #ececec none repeat scroll 0 0;
				box-sizing: border-box;
				float: left;
				letter-spacing: 0.45px;
				list-style: outside none none;
				margin: 10px 0;
				padding: 15px 20px;
				width: 100%;
				
				a {
					color: #000000;
					margin: 5px 0;
					text-decoration: underline;
					text-transform: uppercase;
					
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
}



//
//  Custom css for mobile header design
//  ---------------------------------------------


.page-header {
    margin-bottom: 0;
}

.mobilebanner {
    margin-top: 15px;
    text-align: center;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: -1;
	
    p {
        margin: 0;
		display: inline-block;
		width: 100%;
		vertical-align: middle;
		
		img {
			display: inline-block;
			width: 100%;
			vertical-align: middle;
		}
    }
	
	.mobile-banner-cont {
		position: absolute;
		left: 50%;
		bottom: 26%;
		transform: translate(-50%, 0);
		display: inline-block;
		width: auto;
		
		.backstrip {
			color: #ffffff;
			letter-spacing: 1.4px;
			width: 245px;
			line-height: 20px;
			font-size: 14px;

			&:after {
				background: #000000;
				bottom: 0;
				height: 20px;
				width: 100%;
				max-width: 100%;
			}
		}
	}
}

.mobilebannerconttent {
    padding: 20px 20px 15px 20px;
    background: #fff;
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
	
    .bannerimage {
        img {
            width: 100%;
        }
    }
    h2 {
        font-family: 'SofiaPro Black';
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        letter-spacing: 1.8px;
        position: relative;
        margin: 0;

        .backstrip {
            &::after {
                height: 8px;
                bottom: 4px;
                /*background: #9bcfcb;*/
            }
        }
    }
    p {
        font-size: 14px;
        margin: 0;
        letter-spacing: 0.45px;
        padding-top: 18px;
        line-height: 20px;
    }
}


.mobile_shareyourstory {
    position: relative;
	margin: 0;
	display: inline-block;
    width: 100%;
    padding: 0px;
	text-align: center;
	vertical-align: middle;
    
	img {
        display: inline-block;
		vertical-align: middle;
		width: 100%;
    }
	
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 1156px;
		z-index: 1;
    }
	
    h2 {
       text-align: center;
        background: #fff;
        margin: 0;
        font-family: 'SofiaPro Black';
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 1px;
        border: solid 2px #000;
        padding: 5px 0 10px 0;
        
		.backstrip {
            z-index: 1;
			
			a {
				color: #000;
			}
            
			&::after {
                background: none;
                content: none;
            }
        }
    }
	
	.owl-stage-outer {
        overflow: hidden;
    }
    
	.slide {
        position: relative;
    }
	
	.owl-nav {
		display:none;
	}
	
	.mobile-preshslider {
		display: inline-block;
		max-width: 100%;
		overflow: hidden;
		width: 100%;
		vertical-align: middle;
		
        .owl-nav.disabled {
            display: none;
        }
		
		.owl-item {
			display: inline-block;
			vertical-align: middle;
			
			.slide {
				display: inline-block;
				width: 100%;
				height: 100%;
				vertical-align: middle;

				img {
					display: inline-block;
					vertical-align: middle;
					width: 100%;
				}

			}
		}
	}
}


.menu-links {
    position: absolute;
    background: #fff;
    width: 100%;
    left: 0;
    top: 55px;
    height: 100vh;
    ul {
        padding: 0;
        margin-top: 140px;
        border-top: solid 1px #000;
        margin-left: 16px;
        list-style-type: none;
        padding-top: 28px;
		margin-right: 16px;
		
        li {
            margin-bottom: 0;
            a {
                font-size: 14px;
                color: #000;
                line-height: 25px;
                text-transform: uppercase;
                letter-spacing: 1.6px;
            }
            &:first-child {
                padding-bottom: 10px;
            }
            &:nth-child(6) {
                border-bottom: solid 1px #000;
                padding-bottom: 15px;
                margin-bottom: 25px;
            }
        }
    }
    .mobilemenu-bottom {
        position: fixed;
        bottom: 0;
        width: 90%;
        padding: 0 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

#custom-header {
    z-index: 101;
}





//
//  Custom css for cart and eye icon updates in product grids
//  ---------------------------------------------------------

.catalog-category-view {
	.product-item {
		.product-item-actions {
			.actions-primary {
				width: 100%;
			}
		}
		
		.action.tocart {
			width: 100%;
			
			img {
				display: inline-block;
				max-width: 100% !important;
				vertical-align: middle;
			}
		}
		
		.product-item-details {
			.pro_action {
				.pro_price_sec {
					max-width: calc(~'(100% - 170px)');					
				}

				.product-item-inner {
					.product-item-actions {
						min-width: 33.3333%;
						box-sizing: border-box;
					}

					.eye-icon {
						min-width: 33.3333%;
						box-sizing: border-box;
						padding: 0 !important;
						
						img {
							min-width: 100%;
							display: inline-block;
							vertical-align: middle;
						}
					}
				}
			}
		}
	}
}




.columns .main .products-grid.products .product-items.products .product-item .product-item-details .pro_action .product-item-inner .wishlist_links a.action.towishlist::before { width: 22px; height: 19px; background-size: 22px; }




.catalog-product-view {
	.product-info-customsidebar {
		width: 100%;
		
		.box-tocart {
			width: calc(~'(100% - 100px)');			
		}
		
		.pro-action-section {
			width: 100px;
		}
		
		.actions {
			width: calc(~'(100% - 33px)');
		}
		
		button.tocart {
			width: 100%;
			border: none;
			position: relative;
			overflow: hidden;
			
			img {
				max-width: 60px;
				position: relative;
				top: -16px !important;
				width: 60px;
				max-height: initial;
			}
		}
	}
	
	
	#related-product-sec {
		.product-item-details {
		
			.pro_action {				
				.pro_price_sec {
					width: calc(~'(100% - 166px)');
					height: 60px;
					line-height: 60px;
				}
	
				.product-item-inner {
					width: 166px;
				}
			}
	
			.product-item-actions {
				width: 33%; 
				
				button.action.tocart {
					img {
						max-width: 100%;
					}
				}
			}
	
			.eye-icon {
				width: 33%;
				
				img { 
					width: 100%;
				}
			}
	
			.wishlist_links {
				width: 33%;
			}
		}
	}
}



#wishlist-view-form {
	.product-currency {
		align-self: center;
		box-sizing: border-box;
		line-height: 32px;
		padding-top: 0;
		width: 33.3333%;
	}

	.actions-primary {
		box-sizing: border-box;
		padding: 0;
		width: 33.3333%;
		
		.action.tocart.primary {
			width: 100%;
			
			img {
				display: inline-block;
				max-width: 50px;
				vertical-align: middle;
				width: 100%;
				position: relative;
				top: -9px;
			}
		}
	}

	.eye-icon {
		padding: 0;
		width: 33.333%;
		border: none;
		box-sizing: border-box;
		
		img {
			display: inline-block;
			max-width: 50px;
			vertical-align: middle;
			width: 100%;
			position: relative;
			top: -9px;
		}
	}
	
	.product-item {
		.product-item-name {
			left: -20px;
			top: 114px;
		}
	}
}








//
//  Custom css for product view pop-up on the shop page
//  ---------------------------------------------------



.bss-quickview-catalog-product-view {

	#ajax-goto,
	.linked-product-collection,
	.attribute-video,
	.pro-review-section {
		display: none;
	}
	
	.container {
		&.pro-image-container {
			padding-top: 10px;
		}
	}
	
	.product-info-encaptulate {
		padding-bottom: 15px;
	}
	
	.product-info-customsidebar {
		
		.box-tocart {
			width: 100%;
			border: 1px solid #000;
			box-sizing: border-box;
		}
		
		input.qty {
			display: none;
		}
		
		.actions {
			border-top-width: 2px;
			width: 100%;
			
			button.tocart {
				color: #000;
				font-family: "SofiaPro Black";
				font-size: 16px;
				font-weight: normal;
				letter-spacing: 1.6px;
				text-transform: uppercase;
				width: 100%;
				
				&:hover {
					color: #fff;
				}
			}
		}
	}
}










//
//  Custom css for random changes on different page
//  -----------------------------------------------

.customer-account-logoutsuccess {
	.column {
		&.main { 
			font-size: 16px;
			min-height: 280px;
			padding: 60px 0 60px 20%;
			text-align: center;
		}
	}
}

div#mobile-widget-close {
    left: auto;
    right: 30px;
}

.checkout-cart-index #shopping-cart-table .cart.item .actions-toolbar .action-edit { display: none !important; }

#mini-cart .product-item-name { height: auto; }

.opc-sidebar .opc-block-summary .items-in-cart .product-item-name { height: auto; position: static; }

#co-payment-form .payment-option .payment-option-content .actions-toolbar button.action { min-width: 80px; }

.sales-order-view .block-order-details-view .box-content { display: inline-block; text-align: center; width: 100%; }

.page-layout-2columns-left .sidebar-additional { display: none; }

.precheckourstory .modalbox.tab-active { display: block !important; }

#wishlist-view-form button.action.update { display: none; }
#wishlist-view-form button.action.share { display: none; }

.mobilelogout {
    a {
        border: solid 1.5px #4a4a4a;
        display: inline-block;
        padding: 5px 7px;
        img {
            vertical-align: text-top;
        }
    }
}
.faqpagesection {
    padding-top: 80px;
    .topheading {
        padding-left: 80px;
    }
    .conciergesection {
        padding-left: 80px;
    }
    .childcontent {
        li {
            .panel-child {
                p {
                    padding: 10px 0;
                }
            }
        }
    }
}

.cms-our-story .keetatitsection .itgetbeter { display: none !important; }




/*******************for the cart page*******************/


.checkout-cart-index {
	#cart-totals {
		
		tr.total-rules,
		tr.total_coupons {
			display: none !important;
		}
 
		tr.totals {
			.mark {
				.title {
					&:after {
						content: none !important;
					}
				}
			}
		}
		
		.table-wrapper {
			tr[class="totals"] {
				cursor: default;
				pointer-events: none;
			}
		}
	}
}





/*******************for the checkout page*******************/

.checkout-index-index {
	.opc-block-summary {
		.table-totals {
			tr.total-rules,
			tr.total_coupons {
				display: none !important;
			}
	 
			tr.totals.discount {
				cursor: default;
				pointer-events: none;
				
				.mark {
					.title {
						&:after {
							content: none !important;
						}
					}
				}
			}
		}
	}
	
	.opc-sidebar {
		.product-image-container {
			padding-right: 10px;
		}
		
		.opc-block-summary {
			.table-totals {
				box-sizing: border-box;
			}
		}
	}
}






/***********************For the paragraph content view adjustment on different pages***********************/

.cms-our-story .theplanetsection .crueltyfreesction .crueltyleft p br { display: none; }

.cms-nofilter .page-main .notfilterpage .nofiltertop p br { display: none; }
				
.jumpstartglow .yourglowsection p br { display: none; }

.psacontactus .information p br { display: none; }

.cms-our-story {
    .theplanetsection {
        .bottomsection {
			padding: 24px 10px 0;
			box-sizing: border-box;
			width: 100%;
			
            .list {
                p {
                    width: 100% !important;
                    padding-right: 0;
                    max-width: calc(~'(100% - 70px)');
                    padding-top: 0px !important;
                    br {
                        display:  none;
                    }
                }
				
				&:nth-child(2n) {
					padding-right: 0;
					width: 100%;
				}
            }
        }
    }
}


.privacypolicecount {
    .conciergesection {
        padding-left: 0;
    }
}



/***********************For the accordion backstrip removal for mobile on different pages***********************/

.faqpagesection {
	.parent-accordion {
		.backstrip {
			display: inline;
			max-width: 99%;
			margin: 0 4px 0 0;
			
			&:after {
				background: none;
				content: none;
			}
		}
		
		br {
			display: none;
		}
	}
	
	.childcontent {
		&.privacy-policy {
			.accordion {
				.backstrip {
					display: inline;
					max-width: 99%;
					margin: 0 4px 0 0;
					
					&:after {
						background: none;
						content: none;
					}
				}
			}
		}
		
		.accordion {
			br {
				display: none;
			}
		}
		
		li {
			.panel-child {
				.subheading {
					padding-top: 5px;
				}
			}
			
			a {
				word-break: break-all;
			}
		}
	}
	
	
	.faqlistingsection {
		.conciergesection {
			p {
				br {
					display: none;
				}
			}
		}

		.panel-child {
			.subheading {
				font-weight: 600;
				text-decoration: underline;
			}
		}
	}
}


.psaRetailers {
	.topcontent {
		br {
			display: none;
		}
	}
}

#login-form .field.note span  { display: inline; }

.login-form-links .form-bottom-info span br {
    display: none;
}

#block-customer-login-heading { letter-spacing: 2px; }

.container #popup-box .copuncodebottom .jointheteam a {
    color: #ffffff;
    text-decoration: underline;
	
	&:hover { text-decoration: none; }
}













/*******************for the image blurness on the shop page*******************/


.catalog-category-view #step1 .product-items .product-item.PPRTNC100EN01 .product-item-info .product-image-container { background: rgba(0, 0, 0, 0) url("../images/pro-pics/reset.png") no-repeat scroll center center / 100% auto; }

.catalog-category-view #step1 .product-items .product-item.PPRTNC100EN01 .product-item-info .product-image-container .product-image-photo { opacity: 0; }

.catalog-category-view #step2 .product-items .product-item.PPLUBM050EN01 .product-item-info .product-image-container { background: rgba(0, 0, 0, 0) url("../images/pro-pics/light-up-gridpic-2.jpg") no-repeat scroll center center / 100% auto; }

.catalog-category-view #step2 .product-items .product-item.PPLUBM050EN01 .product-item-info .product-image-container .product-image-photo { opacity: 0; }

.catalog-category-view #step2 .product-items .product-item.PPHEGT100EN01 .product-item-info .product-image-container { background: rgba(0, 0, 0, 0) url("../images/pro-pics/heroine.png") no-repeat scroll center center / 100% auto; }

.catalog-category-view #step2 .product-items .product-item.PPHEGT100EN01 .product-item-info .product-image-container .product-image-photo { opacity: 0; }

.catalog-category-view #step2 .product-items .product-item.PPFTRP050EN01 .product-item-info .product-image-container { background: rgba(0, 0, 0, 0) url("../images/pro-pics/follow-the-light.png") no-repeat scroll center center / 100% auto; }

.catalog-category-view #step2 .product-items .product-item.PPFTRP050EN01 .product-item-info .product-image-container .product-image-photo { opacity: 0; }

.catalog-category-view #step3 .product-items .product-item.PPTMHS030EN01 .product-item-info .product-image-container { background: rgba(0, 0, 0, 0) url("../images/pro-pics/the-most.png") no-repeat scroll center center / 100% auto; }

.catalog-category-view #step3 .product-items .product-item.PPTMHS030EN01 .product-item-info .product-image-container .product-image-photo { opacity: 0; }

.catalog-category-view #step3 .product-items .product-item.PPGSNS030EN01 .product-item-info .product-image-container { background: rgba(0, 0, 0, 0) url("../images/pro-pics/goals.png") no-repeat scroll center center / 100% auto; }

.catalog-category-view #step3 .product-items .product-item.PPGSNS030EN01 .product-item-info .product-image-container .product-image-photo { opacity: 0; }

.catalog-category-view #step3 .product-items .product-item.PPLCRB015EN01 .product-item-info .product-image-container { background: rgba(0, 0, 0, 0) url("../images/pro-pics/liquid-clarity.png") no-repeat scroll center center / 100% auto; }

.catalog-category-view #step3 .product-items .product-item.PPLCRB015EN01 .product-item-info .product-image-container .product-image-photo { opacity: 0; }

.catalog-category-view #step3 .product-items .product-item.PPLPRB015EN01 .product-item-info .product-image-container { background: rgba(0, 0, 0, 0) url("../images/pro-pics/liquid-panacea.png") no-repeat scroll center center / 100% auto; }

.catalog-category-view #step3 .product-items .product-item.PPLPRB015EN01 .product-item-info .product-image-container .product-image-photo { opacity: 0; }

.catalog-category-view #step4 .product-items .product-item.PPGDGO015EN01 .product-item-info .product-image-container { background: rgba(0, 0, 0, 0) url("../images/pro-pics/gifted.png") no-repeat scroll center center / 100% auto; }

.catalog-category-view #step4 .product-items .product-item.PPGDGO015EN01 .product-item-info .product-image-container .product-image-photo { opacity: 0; }

.catalog-category-view #step4 .product-items .product-item.PPMCNO015EN01 .product-item-info .product-image-container { background: rgba(0, 0, 0, 0) url("../images/pro-pics/midnight-courage.png") no-repeat scroll center center / 100% auto; }

.catalog-category-view #step4 .product-items .product-item.PPMCNO015EN01 .product-item-info .product-image-container .product-image-photo { opacity: 0; }




.product-info-tip { display: inline-block; width: 100%; vertical-align: middle; box-sizing: border-box; border: 1px solid #707070; padding: 6px 12px; font-size: 12px; line-height: 18px; letter-spacing: 0; border-top: none; }


.catalog-product-view.product-midnight-courage .key-ingredients-list li label { min-height: 60px; }
.catalog-product-view .product-info-customsidebar .box-tocart.notify-only { border: 1px solid #000000; }
.catalog-product-view .product-info-customsidebar .box-tocart.notify-only .price-box-container { border: none; border-right-width: 1px; width: 100%; }
.catalog-product-view .product-info-customsidebar .box-tocart.notify-only .price-box { border: none; }
.catalog-product-view .product-info-customsidebar .box-tocart.notify-only ~ .pro-action-section { width: 98px; }
.catalog-product-view .product-info-customsidebar .box-tocart.notify-only ~ .pro-action-section .no-actions { border-width: 1px; border-left-width: 0px; height: 34px; }
.catalog-product-view .product-info-customsidebar .pro-action-section #notify-product-btn { line-height: 34px; }
.catalog-product-view .product-info-customsidebar .pro-action-section #notify-product-btn span { font-size: 16px; }

/*Cart Issues Updates*/
.checkout-cart-index{
	#maincontent{
		& > div{
			&:first-child{
				padding-top:90px;
			}
		}
		.messages{
			.message{
				margin-top: 0;
				margin-bottom: 20px;
			}
		}
		.columns{
			.main{
				.cart-container{
					padding-top:0;
				}
			}
		}
	}
}

.checkout-index-index{
	.modal-popup{
		.modal-inner-wrap{
			.modal-header{
				.modal-title{
					&::after{
						bottom:0;
					}
				}
			}
		}
		.modal-content{
			.form-shipping-address{
				.field-error{
					text-align: left;
				}
			}
			#opc-new-shipping-address{
				.form-shipping-address{
					#shipping-new-address-form{
						.field{
							&.street{
								legend{
									&.label{
										margin-bottom: 10px !important;
									}
								}
								.control{
									.field{
										.label{
											display: none;
										}
									}
								}
							}
							&.choice{
								margin-top: 30px !important;
							}
						}
					}
				}
			}
		}
	}
	.page-main{
		.main{
			.checkout-container{
				.opc-wrapper{
					.opc{
						.checkout-payment-method{
							#co-payment-form{
								.fieldset{
									.payment-option{
										&.discount-code{
											#discount-form{
												.actions-toolbar{
													width: 40%;
													.primary{
														width: 100%;
													}
													.action-cancel{
													    padding: 0 10px;
													    font-size: 14px;
													    text-transform: uppercase;
													    border: 1px solid #000;
													    line-height: 34px;
													}
													.action-apply{
														padding:0 7%;
													}
												}
											}
											.payment-option-content{
												.messages{
													.message{
														max-width: 100%;
													}
												}
											}
										}
									}
									.opc-payment{
										.payment-methods{
											.payment-method{
												.payment-method-content{
													.payment-method-billing-address{
														.billing-address-form{
															max-width: 100% !important;
															form{
																.fieldset{
																	&.address{
																		display: flex;
																	    flex-flow: row wrap;
																	    justify-content: space-between;
																	    .field{
																	    	width: 100%;
																	    	&.street{
																	    		.control{
																	    			.field{
																	    				.label{
																	    					display: none;
																	    				}
																	    			}
																	    		}
																	    	}
																	    	&.choice{
																	    		.label{
																	    			padding-left: 30px !important;
																	    		}
																	    	}
																	    }
																	}
																}
															}
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
.home-page-slider-container {
    .sale-timer {
        top: 56% !important;
        width: 64%;
        left: 38% !important;
        .timerinnerbox {
            background: #fff;
            padding: 11px 10px;
            clear: both;
            overflow: hidden;
            padding-right: 80px;
            width: 100%;
            text-align: left;
            .sepratebox {
                background: #FEA30B;
                padding: 8px 7px;
                margin-right: 0px;
            }
            .teimerboxmain {
                position: absolute;
                left: 124px;
                width: 95%;
                top: 7px;
                font-family: 'SofiaPro Black';
                span {
                    background: #FACBCC;
                    font-size: 18px;
                    float: left;
                    margin-right: -1px;
                    border: none;
                    color: #000;
                }
            }
        }
        .sale-loading {
            font-size: 16px;
            padding-top: 10px;
        }
    }
}
.home-page-slider-container .teimerboxmain span.cal-text {padding-right: 15px;}
.home-page-slider-container .teimerboxmain > span {padding: 0px 10px; line-height: 26px; padding-bottom: 5px;}
.purpose-list li {min-height: 190px;}
.lowdown-list { 
li{
width:100%;

 span {
    width: auto;
    margin-left: 15px;
}
}
}
.page-footer { background:#fff;}