<?php
/**
 * Copyright © 2018 TechNWeb, Inc. All rights reserved.
 * See TNW_LICENSE.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var TNW\Subscriptions\Block\Adminhtml\SubscriptionProfile\Edit\Dashboard\Profit $block */
?>

<div class="admin__fieldset profit-content">
    <div class="admin__profile-dashboard-profit-diagram">
        <canvas id="profile-dashboard-profit-diagram"></canvas>
    </div>
    <script type="text/javascript">
        require([
            'TNW_Subscriptions/js/chart.min'
        ], function(chart) {
            var ctx = document.getElementById("profile-dashboard-profit-diagram").getContext('2d');
            new chart(ctx, {
                type: 'pie',
                data: {
                    datasets: [{
                        data: [
                            <?= $block->getAsOfTodayProfit() ?>,
                            <?php if (!$block->getHideRemainingProfit()): ?>
                            <?= $block->getRemainingProfit() ?>
                            <?php endif ?>
                        ],
                        backgroundColor: [
                            "#b6d7a8",
                            "#fffdcc"
                        ],
                        borderColor: [
                            '#756859',
                            '#756859'
                        ],
                        borderWidth: 1
                    }],
                    labels: [
                        '<?php echo  __('%1 as of today', $block->getRenderedAsOfTodayProfit(false))?>',
                        <?php if (!$block->getHideRemainingProfit()): ?>
                            <?php if ($block->subscriptionProfile()->getTerm() == 1): ?>
                                '<?php echo  __('%1 projected annual profit', $block->getRenderedRemainingProfit(false))?>'
                            <?php else: ?>
                                '<?php echo  __('%1 remaining', $block->getRenderedRemainingProfit(false))?>'
                            <?php endif; ?>
                        <?php endif ?>
                    ]
                },
                options: {
                    responsive: true,
                    legend: {
                        position: 'right'
                    }
                }
            });
        });
    </script>
</div>
