// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Shopping cart
    //  ---------------------------------------------

    //  Summary block
    .cart-summary {
        &:extend(.abs-add-box-sizing all);
        .lib-css(background, @sidebar__background-color);
        margin-bottom: @indent__m;
        padding: 1px 15px @indent__m;

        > .title {
            display: block;
            .lib-heading(h3);
        }

        .block {
            &:extend(.abs-discount-block all);
            margin-bottom: 0;

            .item-options {
                margin: 0;
				display: inline-block;
				width: 100%;
				vertical-align: middle;
				
				& ~ .item-title {
					display: none;
				}
            }

            .fieldset {
                margin: 10px 0;

                .field {
                    margin: 0 0 @indent__s;

                    &.note {
                        font-size: @font-size__s;
                    }
                }

                .methods {
                    .field {
                        > .label {
                            display: inline;
                        }
                    }
                }
            }

            .fieldset.estimate {
                > .legend,
                > .legend + br {
                    &:extend(.abs-no-display all);
                }
            }
        }
        .actions-toolbar {
            > .primary {
                button {
                    &:extend(.abs-revert-secondary-color all);
                }
            }
        }
        &:extend(.abs-adjustment-incl-excl-tax all);
    }

    //  Totals block
    .cart-totals {
        border-top: 1px solid @border-color__base;
        padding-top: @indent__s;
		font-size: 14px;
		line-height: 20px;
        &:extend(.abs-sidebar-totals all);

        .table-wrapper {
            margin-bottom: 0;
            overflow: inherit;
        }

        .discount.coupon {
            display: none;
        }
    }

    //  Products table
    .cart.table-wrapper {
        .items {
            thead + .item {
                border-top: @border-width__base solid @border-color__base;
            }

            > .item {
                border-bottom: @border-width__base solid @border-color__base;
                position: relative;
            }
        }

        .col {
            padding-top: 8px;

            &.qty {
                .input-text {
                    margin: 0;
					padding: 0 5px;
					height: 30px;
                    &:extend(.abs-input-qty all);
                }

                .label {
                    &:extend(.abs-visually-hidden all);
                }
            }
        }

        .item {
            &-actions td {
                padding: 10px 10px 15px;
                text-align: center;
                white-space: normal;
            }

            .col {
                &.item {
                    display: block;
                    min-height: 100px;
                    padding: 18px 0 10px 75px;
                    position: relative;
                }
            }
        }

        .actions-toolbar {
            &:extend(.abs-add-clearfix all);

            > .action {
                &:extend(button all);
                .lib-link-as-button();
                margin-bottom: @indent__s;
                margin-right: @indent__s;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .action {
            &.help.map {
                &:extend(.abs-action-button-as-link all);
                font-weight: @font-weight__regular;
            }
        }

        .product {
            &-item-photo {
                display: block;
                left: 0;
                max-width: 60px;
                padding: 0;
                position: absolute;
                top: 15px;
                width: 100%;
            }

            &-item-details {
                white-space: normal;
            }

            &-item-name {
                display: inline-block;
                font-weight: @font-weight__regular;
                margin-top: -6px;
            }
        }

        .gift-registry-name-label {
            &:after {
                content: ':';
            }
        }

        //  Product options
        .item-options {
            font-size: @font-size__s;
            margin-bottom: @indent__s;
            &:extend(.abs-product-options-list all);
            &:extend(.abs-add-clearfix all);
        }

        .product-item-name + .item-options {
            margin-top: @indent__s;
        }

        .product-image-wrapper {
            &:extend(.abs-reset-image-wrapper all);
        }

        .action.configure {
            display: inline-block;
            margin: 0 0 @indent__base;
        }
		
        .product-item-name {
            font-family: 'SofiaPro Black';
			text-transform: uppercase;
			font-size: 16px;
			letter-spacing: 1px;
			margin: 0;
			line-height: 24px;
        }
		
		.product-short-dec {
			display: inline-block;
			width: 100%;
			font-size: 14px;
			line-height: 20px;
			letter-spacing: 0.35px;
		}
    }

    .cart-container {
        .form-cart {
            &:extend(.abs-shopping-cart-items all);
        }

        .checkout-methods-items {
            &:extend(.abs-reset-list all);
            margin-top: @indent__base;
            text-align: center;

            .action.primary {
				background: #000000 none repeat scroll 0 0;
				border: medium none;
				border-radius: 0;
				color: #ffffff;
				display: inline-block;
				font-size: 18px;
				font-weight: normal;
				line-height: 40px;
				padding: 0 30px;
				text-transform: uppercase;
				vertical-align: middle;
				width: 280px;
            }

            .item {
                & + .item {
                    margin-top: @indent__base;
                }
            }
        }
    }

    //  Products pager
    .cart-products-toolbar {
        .toolbar-amount {
            margin: @indent__m 0 15px;
            padding: 0;
            text-align: center;
        }

        .pages {
            margin: 0 0 @indent__m;
            text-align: center;

            .items {
                > .item {
                    border-bottom: 0;
                }
            }
        }
    }

    .cart-products-toolbar-top {
        border-bottom: @border-width__base solid @border-color__base;
    }

    //
    //  Cross sell
    //  ---------------------------------------------

    .block.crosssell {
        margin-top: 70px;
    }

    .cart-tax-info,
    .cart .cart-tax-info {
        + .cart-tax-total {
            display: block;
        }
    }

    .cart.table-wrapper,
    .order-items.table-wrapper {
        .col.price,
        .col.qty,
        .col.subtotal,
        .col.msrp {
            text-align: center;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .cart {
        &.table-wrapper {
            overflow: inherit;

            thead {
                .col {
                    &:not(.item) {
                        display: none;
                    }
                }
            }

            .col {
                &.qty,
                &.price,
                &.subtotal,
                &.msrp {
                    box-sizing: border-box;
                    display: block;
                    float: left;
                    text-align: center;
                    white-space: nowrap;
                    width: 33%;
					box-sizing: border-box;

                    &:before {
                        content: attr(data-th) ':';
                        display: block;
						font-weight: normal;
						padding-bottom: 5px;
						font-size: 14px;
						letter-spacing: 0.35px;
						line-height: 20px;
                    }
					
					span {
						display: inline-block;
						width: 100%;
						text-align: center;
						
						&.price {
							font-family: "SofiaPro Black";
							font-size: 20px;
							padding: 0;
							line-height: 24px;
							height: 30px;
							font-weight: normal;
							letter-spacing: 0.35px;
						}
					}
                }

                &.msrp {
                    white-space: normal;
                }
            }

            .item {
                .col.item {
                    padding-bottom: 0;
                }
            }
        }
    }

    .cart-container {
        .form-cart {
            &:extend(.abs-shopping-cart-items-mobile all);
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .cart-container {
        &:extend(.abs-add-clearfix-desktop all);
        .form-cart {
            &:extend(.abs-shopping-cart-items-desktop all);
        }

        .widget {
            float: left;
        }
    }

    .cart-summary {
        float: right;
        position: relative;
        width: 23%;

        .actions-toolbar {
            .column.main & {
                &:extend(.abs-reset-left-margin-desktop all);
                > .secondary {
                    float: none;
                }
            }
        }

        .block {
            .fieldset {
                .field {
                    .lib-form-field-type-revert(@_type: block);
                    margin: 0 0 @indent__s;
                }
            }
        }
    }

    .cart {
        &.table-wrapper {
            .items { // Google Chrome version 44.0.2403.107 m fix
                min-width: 100%;
                width: auto;
            }

            .item {
                .col {
                    &.item {
                        padding: 27px 8px @indent__s;
                    }
                }

                &-actions {
                    td {
                        text-align: right;
                    }
                }
            }

            .product {
                &-item-photo {
                    display: table-cell;
                    max-width: 100%;
                    padding-right: @indent__base;
                    position: static;
                    vertical-align: top;
                    width: 1%;
                }

                &-item-details {
                    display: table-cell;
                    vertical-align: top;
                    white-space: normal;
                    width: 99%;
                }
            }

            .item-actions {
                .actions-toolbar {
                    text-align: left;
                    &:extend(.abs-reset-left-margin-desktop all);
                }
            }
        }

        .action {
            margin-bottom: @indent__s;
        }
    }

    //  Products pager
    .cart-products-toolbar {
        .toolbar-amount {
            line-height: 30px;
            margin: 0;
        }

        .pages {
            float: right;
            margin: 0 0 1px;

            .item {
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .cart.table-wrapper {
        .cart-products-toolbar {
            + .cart {
                thead {
                    tr {
                        th.col {
                            padding-bottom: 7px;
                            padding-top: 8px;
                        }
                    }
                }
            }
        }

        .cart {
            + .cart-products-toolbar {
                margin-top: @indent__m;
            }
        }
    }
}




//
//  Custom css for the cart page added
//  _____________________________________________

.checkout-cart-index {

    .cart-empty {
        padding-top: 190px;
		font-size: 14px;
		font-weight: normal;
		text-transform: uppercase;
		letter-spacing: 1px;
		text-align: center;
		line-height: 20px;
        
		a {
            text-decoration: underline;
        }
    }
	
    .cart-container {
        padding-top: 90px;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
		
        .cart-summary {
            float: none;
            width: 100%;
            order: 3;
            top: 0 !important;
            background: none;
            padding: 0;
            
			.summary {
                &.title {
                    text-align: center;
					font-family: "SofiaPro Black";
					font-size: 20px;
					text-transform: uppercase;
					background: #FFA300;
					letter-spacing: 2px;
					padding: 5px 0;
					margin: 0;
					margin-bottom: 20px;
					position: relative;
					z-index: 1;
					line-height: 30px;
					
                    &::after {
                        content: '';
                        position: absolute;
						background: #fff;
						width: 116px;
						left: 50%;
						bottom: 19px;
						height: 8px;
						transform: translate(-50%, 0);
						z-index: -1;
						top: 20px;
                    }
                }
            }
			
            #block-shipping,
			.discount {
			
                .title {
                    background: #743DBC;
                    font-family: "SofiaPro Black";
                    padding: 10px;
					margin-bottom: 18px;
					
                    strong {
                        font-size: 16px;
						color: #fff;
						font-weight: normal;
						letter-spacing: 1px;
						text-transform: uppercase;
						display: inline-block;
						margin: 0;
						padding: 0;
						height: 28px;
						line-height: 25px;
                    }
                }
				
				.field {
					display: inline-block;
					width: 100%;
					margin: 0 0 15px;
					
					label {
						font-size: 14px;
						font-weight: normal;
						text-transform: capitalize;
						line-height: 20px;
					}
				}

				button {
					&.action {
						&.primary {
							padding: 0 15px !important;
							width: auto;
							font-size: 14px;
							line-height: 29px;
							margin: 0 0 15px;
						}
					}
				}
            }
        }
		
        .form-cart {
            float: none;
            width: 100%;
            order: 1;
			
            .cart {
                margin-bottom: 0;
				
                &.actions {
					display: flex;
					flex-wrap: wrap;
					padding: 18px 0;
					margin: 0 0 20px 0;
					border: none;
					border-bottom: solid 1px #000;
					text-align: center;
					align-items: center;
					justify-content: center;
					
					button,
					a {
						background: #fff none repeat scroll 0 0;
						border-radius: 0;
						color: #000;
						border: solid 1px #000;
						display: inline-block;
						font-size: 14px;
						font-weight: normal;
						line-height: 26px;
						padding: 0 10px;
						text-transform: uppercase;
						vertical-align: middle;
						height: 30px;
						margin: 5px 2px;
						
                        &::before {
                            line-height: 28px;
							width: 18px;
							text-align: left;
							font-size: 24px;
							margin: 0 0 0 -8px;
							vertical-align: middle;
							white-space: nowrap;
                        }
						
						span {
							display: inline-block;
							vertical-align: middle;
						}
                    }
					
                    .cart-continue-container {
                        background: #000000 none repeat scroll 0 0;
						border: medium none;
						border-radius: 0;
						color: #ffffff;
						display: inline-block;
						font-size: 8px;
						font-weight: normal;
						line-height: 36px;
						padding: 0 18px;
						text-transform: uppercase;
						vertical-align: middle;
						height: 36px;
						margin-top: 15px;
                    }
					
                    .cart-continue {
                        font-family: 'Courier Sans Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                        font-size: 18px;
						vertical-align: middle;
						line-height: 36px;
                    }
                }
            }
        }
		
		
		.cart-discount {
			float: none;
			width: 100%;
			order: 2;
			clear: both;
			display: inline-block;
			margin: 0 0 40px;
			vertical-align: middle;
		}
		
		#block-discount {
			display: inline-block;
			width: 100%;
			vertical-align: middle;
			
			.title {
				display: inline-block;
				width: 100%;
				vertical-align: middle;
				margin: 0;
				background: #ececec;
				padding: 10px 20px;
				box-sizing: border-box;
				position: relative;
				
				#block-discount-heading {
					display: inline-block;
					width: auto;
					vertical-align: middle;
					margin: 0;
					line-height: 30px;
					font-weight: normal;
					letter-spacing: 0.5px;
					text-transform: uppercase;
					font-family: "SofiaPro Black";
					font-size: 16px;					
				}
				
				&:after {
					content: "\e622";
					font-family: 'icons-blank-theme';
					position: absolute;
					right: 0;
					font-size: 40px;
					top: 11px;
				}
			}
		}
		
    }
	
	
    #shopping-cart-table {
        position: relative;
		
        .cart {
            &.item {
                border-bottom: 1px solid #000000;
				
                .actions-toolbar {
				
                    .action-edit {
                        background: #fff none repeat scroll 0 0;
						border-radius: 0;
						color: #000;
						display: inline-block;
						font-size: 12px;
						font-weight: normal;
						line-height: 28px;
						padding: 0 12px;
						text-transform: uppercase;
						vertical-align: middle;
						letter-spacing: 1px;
						border: 1px solid #000;
						box-sizing: border-box;
						margin: 0 5px;
                    }
					
                    .action-delete {
                        background: #000000 none repeat scroll 0 0;
                        border: medium none;
						border-radius: 0;
						color: #ffffff;
						display: inline-block;
						font-size: 12px;
						font-weight: normal;
						line-height: 30px;
						padding: 0 12px;
						text-transform: uppercase;
						vertical-align: middle;
						letter-spacing: 1px;
						margin: 0 5px;
                    }
                }
            }
        }
		
        thead {
            background: #FFA300;
            text-transform: uppercase;
            font-size: 20px;
            letter-spacing: 1.8px;
            position: relative;
			
            &::after {
				content: '';
				position: absolute;
				width: 60px;
				height: 8px;
				background: #743DBC;
				left: 50%;
				top: 21px;
				z-index: 1;
				transform: translate(-50%, 0);
            }
			
            th {
                padding: 6px;
                z-index: 100;
                position: relative;
                color: #fff;
                font-size: 24px;
                font-family: "SofiaPro Black";
				text-align: center;
            }
        }
    }
}


	
.cart-summary,
.paypal-review-discount {
	.block {
		& > .title {
			&:after {
				right: 0;
				top: 11px;
				font-size: 40px;
				color: #fff;
			}
		}
	}
}


.abs-discount-block.active > .title:after,
.cart-summary .block.active > .title:after,
.paypal-review-discount .block.active > .title:after {
        transform: rotate(-90deg);
}


.cart-totals .amount,
.opc-block-summary .table-totals .amount {
    font-family: "SofiaPro Black";
    font-size: 18px;
    letter-spacing: 0.35px;
    line-height: 20px;
}


#shipping-zip-form {
    .field {
        float: left;
        width: 100%;
		
        &.note {
            clear: both;
			font-size: 14px;
			letter-spacing: 0.35px;
			float: left !important;
			line-height: 20px;
		}
		
        select {
            background: #ffffff none repeat scroll 0 0 padding-box;
			border: 1px solid #000000;
			border-radius: 0;
			box-shadow: none !important;
			box-sizing: border-box;
			display: inline-block;
			font-family: "Courier Sans Regular";
			font-size: 14px;
			height: 36px;
			letter-spacing: 0.35px;
			line-height: 36px;
			padding: 3px 18px 3px 10px;
			vertical-align: baseline;
			width: 100%;
        }
		
        label {
            font-size: 14px;
			font-weight: normal;
			letter-spacing: 0.35px;
			line-height: 20px;
			margin: 0 0 10px;
			padding: 0;
			text-align: left;
			width: 100%;
        }
    }
	
    .field:nth-child(odd) {
        float: right;
    }
}


#co-shipping-method-form {
    .item-title {
        text-transform: uppercase;
		font-size: 16px;
		letter-spacing: 1px;
		margin-bottom: 0;
		line-height: 20px;
    }
    .choice {
        float: left;
		margin: 5px 0 !important;
		width: 100%;
    }
}

.checkout-index-index,
.checkout-cart-index {
    .choice,
	.checkbox {
        float: left;
        position: relative;
        margin: 10px 0;

        &:before {
            content: none;
            padding: 0;
        }

        label {
            box-sizing: border-box;
			float: left;
			margin: 0;
			padding: 0 0 0 20px;
			position: relative;
			cursor: pointer;
			letter-spacing: 0.35px;
			font-size: 14px;
			line-height: 20px;

            &:before {
                border: 1px solid #000000;
				content: " ";
				height: 12px;
				left: 0;
				position: absolute;
				top: 50%;
				transform: translate(0px, -50%);
				width: 12px;
            }

            span {
                &.backstrip {
                    line-height: 13px;
                    vertical-align: middle;

                    &:after {
                        height: 13px;
                        max-width: 100%;
                    }
                }
            }
        }

        input {
            &.checkbox,
			&.radio {
                float: left;
                height: 100%;
                left: 0;
                margin: 0;
                opacity: 0;
                position: absolute;
                top: 0;
                width: 100%;

                &:checked {
                    & ~ label {
                        &:after {
                            background: rgba(0, 0, 0, 0) url(../images/right.png) no-repeat scroll center center / 10px auto;
							content: " ";
							height: 14px;
							left: 0px;
							position: absolute;
							top: 50%;
							transform: translate(0px, -50%);
							width: 14px;
                        }
                    }
                }
            }
        }
    }
}

#discount-coupon-form {
    display: inline-block;
    width: 100%;
    vertical-align: middle;

    .coupon {
		display: inline-block;
		width: 100%;
		vertical-align: middle;
		text-align: left;
		margin: 10px 0 0;

        .field {
            float: left;
            width: 99%;
			margin: 0 0 10px;
			
			.label {
				padding-top: 0;
				line-height: 50px;
				font-weight: normal;
				letter-spacing: 0.5px;
				text-transform: uppercase;
			}
        }
        .actions-toolbar {
			float: right;
			margin: 0 1% 0 15px;
			
            button {
                height: auto;
                padding: 15px 30px !important;
                margin: 0;
                line-height: normal;
                font-size: 18px;
            }
			
			.action.apply.primary {
				padding: 0px 30px !important;
				line-height: 40px;
				font-size: 16px;
				letter-spacing: 0.5px;
			}
        }
    }
}

