<!--
/**
 * Copyright © 2018 TechNWeb, Inc. All rights reserved.
 * See TNW_LICENSE.txt for license details.
 */
-->
<button type="button"
        css="$data.additionalClasses"
        click="action"
        disable="disabled"
        attr="'data-index': index">
    <span if="title" text="title">
    </span>
</button>
