<!--
/**
 * Copyright © 2018 TechNWeb, Inc. All rights reserved.
 * See TNW_LICENSE.txt for license details.
 */
-->
<fieldset class="admin__field"
          visible="visible"
          css="_required: required"
          attr="'data-index': index">
    <legend class="admin__field-label" if="showLabel">
        <span text="label" attr="'data-config-scope': $data.scopeLabel"/>
    </legend>

    <div class="admin__field-control" css="$data.additionalClasses">
        <each args="elems">
            <if args="visible()" if="!$data.additionalForGroup">
                <render args="$parent.fieldTemplate" if="element.input_type != 'checkbox' || element.input_type != 'radio'"/>
                <render args="elementTmpl" if="element.input_type == 'checkbox' || element.input_type == 'radio'"/>
            </if>
        </each>

        <each args="getRegion('insideGroup')" render=""/>

        <if args="validateWholeGroup">
            <label class="admin__field-error" text="groupError()" if="groupError()"/>
        </if>
    </div>

    <each args="getRegion('outsideGroup')" render=""/>
</fieldset>