<!--
/**
 * Copyright © 2018 TechNWeb, Inc. All rights reserved.
 * See TNW_LICENSE.txt for license details.
 */
-->
<label class="admin__addon-prefix" if="$data.addSymbol" attr="for: uid">
    <span text="addSymbol"/>
</label>
<a data-bind="
    attr: {
        href: 'mailto:' + $data.value(),
    },
    text:value"
/>
