<!--
/**
 * Copyright © 2018 TechNWeb, Inc. All rights reserved.
 * See TNW_LICENSE.txt for license details.
 */
-->
<div class="admin__field-simple-container" css="$data.additionalClasses" attr="'data-index': index">

    <div class="admin__field-simple-container-title" if="label">
        <span text="label"/>
    </div>

    <div class="admin__fieldset-simple-container-wrapper"
         each="data: elems, as: 'element'"
         render="" />
    </div>
</div>
