<!--
/**
 * Copyright © 2018 TechNWeb, Inc. All rights reserved.
 * See TNW_LICENSE.txt for license details.
 */
-->
<div class="admin__actions-switch" data-role="switcher">
    <input type="checkbox"
           class="admin__actions-switch-checkbox"
           simple-checked="checked"
           ko-disabled="disabled"
           ko-focused="focused"
           ko-value="value"
           attr="id: uid, name: inputName"
           data-bind="event: {change: userChanges},"
    />
    <label class="admin__actions-switch-label"
           attr="for: uid">
        <span class="admin__actions-switch-text"
              attr="'data-text-on': toggleLabels.on, 'data-text-off': toggleLabels.off"></span>
    </label>
</div>
