// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Blank theme overrides
//  _____________________________________________

//  Theme file should contain declarations (overrides) ONLY OF EXISTING variables
//  Otherwise this theme won't be available for parent nesting
//  All new variables should be placed in local theme lib or local theme files


//
//  Custom css for Login And Register Page
//  ---------------------------------------------


/***********************For the Login Page Design***********************/

.login-container {
    float: right;
    margin: 84px 0 0;
    width: 100%;
    min-height: initial;
	
	.block {
		&.block-customer-login {
			float: left;
			max-width: 470px;
			width: 100%;
		
			.block-title {
				border: medium none;
				display: inline-block;
				margin: 0;
				padding: 0 0 0 94px;
				vertical-align: middle;
				width: 100%;
				box-sizing: border-box;
			}
			
			.block-content {
				display: inline-block;
				margin: 10px 0 50px;
				vertical-align: middle;
				width: 100%;
				box-sizing: border-box;
				padding: 0 10px;
			}
		}
	}
}


#block-customer-login-heading {
    display: inline-block;
    font-family: "SofiaPro Black";
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 3px;
    line-height: 25px;
    margin: 0;
    text-transform: uppercase;
    vertical-align: top;
    width: 100%;
	
	.backstrip {
		line-height: 25px;
		vertical-align: top;
		
		&:after {
			background: #a0f0e1 none repeat scroll 0 0;
			height: 8px;
			left: 2px;
			bottom: 3px;
		}
	}
}


#login-form {
    float: left;
    width: 100%;
	
	.fieldset {
		float: left;
		width: 100%;
		
		&:after {
			content: none;
		}
	}

	.field {
		display: inline-block;
		margin: 0;
		vertical-align: middle;
		width: 100%;
		
		&.note {
			margin: 0 0 20px;
			padding: 0 0 0 84px;
			box-sizing: border-box;
			
			span {
				display: inline-block;
				font-size: 14px;
				letter-spacing: 0.35px;
				line-height: 20px;
				vertical-align: middle;
				width: auto;
			}
			
			a {
				color: #9bcfcb;
				display: inline-block;
				font-size: 14px;
				letter-spacing: 0.35px;
				line-height: 20px;
				text-decoration: underline;
				vertical-align: middle;
				width: auto;
				
				&:hover {
					color: #000000;
					text-decoration: none;
				}
			}
		}
		
		label {
			font-size: 14px;
			font-weight: normal;
			letter-spacing: 0.35px;
			line-height: 20px;
			margin: 0 0 15px;
			padding: 0;
			text-align: left;
			width: 100%;
			
			&:after {
				content: none;
			}
			
			span {
				display: inline-block;
				vertical-align: top;
				width: auto;
			}
		}

		.control {
			float: left;
			margin: 0 0 12px;
			width: 100%;
			
			input {
				height: 50px;
				line-height: 50px;
			}
		}
	}
	
	.actions-toolbar {
		display: inline-block;
		margin: 16px 0 0;
		vertical-align: middle;
		width: 100%;
		
		& > .primary,
		& > .secondary {
			text-align: left;
		}
		
		.action {
			&.primary {
				min-width: 198px;
				letter-spacing: 1.4px;
				width: auto;
				font-size: 16px;
				line-height: 36px;
				padding: 0 !important;
			}
		}
	}
}


.login-form-links {
    float: left;
    margin: 15px 0 0;
    width: 100%;
	
	.form-bottom-info {
		display: inline-block;
		vertical-align: middle;
		width: auto;
		
		span {
		display: inline-block;
		letter-spacing: 0.35px;
		vertical-align: middle;
		width: auto;
		font-size: 14px;
		line-height: 20px;
			
			a {
				color: #000000;
				display: inline-block;
				text-decoration: underline;
				vertical-align: top;
				
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}



/***********************For the Register Page Design***********************/

.register-container {
	float: right;
    margin: 90px 0 0;
    width: 100%;
    min-height: 750px;
	
	.block {
		&.block-customer-register {
			float: left;
			max-width: 470px;
			width: 100%;
			margin: 0;
		
			.block-title {
				border: medium none;
				display: inline-block;
				margin: 0;
				padding: 0 0 0 94px;
				vertical-align: middle;
				width: 100%;
				box-sizing: border-box;
			}
			
			.block-content {
				display: inline-block;
				margin: 70px 0 20px;
				vertical-align: middle;
				width: 100%;
			}
		}
	}
	
	.form.create.form-create-account {
		float: left;
		width: 100%;
		min-width: 100%;
	}
}


#block-customer-register-heading {
    display: inline-block;
    font-family: "SofiaPro Black";
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 4px;
    line-height: 25px;
    margin: 0;
    text-transform: uppercase;
    vertical-align: top;
    width: 100%;
	
	.backstrip {
		line-height: 25px;
		vertical-align: top;
		
		&:after {
			background: #FFA300 none repeat scroll 0 0;
			height: 8px;
			bottom: 4px;
		}
	}
   .backstrip:first-child {
       &:after {
            max-width: calc(~'(100% - 15px)');
           left: 5px;
       }
    }
   .backstrip:last-child {
       &:after {
            max-width: calc(~'(100% - 8px)');
           left: 3px;
       }
    }
}


.form-create-account {
    .fieldset {
		&.create {
			float: left;
			letter-spacing: 0;
			margin: 0;
			width: 100%;
			
			&:after {
				content: none;
			}
		
			.field {
				display: inline-block;
				margin: 0;
				vertical-align: middle;
				width: 100%;
				
				&.note {
					margin: 0 0 70px;
					
					span {
						display: inline-block;
						font-size: 14px;
						letter-spacing: 0.35px;
						line-height: 20px;
						vertical-align: middle;
						width: auto;
					}
					
					a {
						color: #9bcfcb;
						display: inline-block;
						font-size: 18px;
						letter-spacing: 0.45px;
						line-height: 21px;
						text-decoration: underline;
						vertical-align: middle;
						width: auto;
						
						&:hover {
							color: #000000;
							text-decoration: none;
						}
					}
				}
				
				label {
					font-size: 14px;
					font-weight: normal;
					letter-spacing: 0.35px;
					line-height: 20px;
					margin: 0 0 13px;
					padding: 0;
					text-align: left;
					width: 100%;
					
					&:after {
						content: none;
					}
					
					span {
						display: inline-block;
						vertical-align: top;
						width: auto;
					}
				}

				.control {
					float: left;
					margin: 0 0 12px;
					width: 100%;
					
					input {
						height: 50px;
						line-height: 50px;
					}
				}
				
				&.choice, .checkbox {
					float: left;
					position: relative;
					margin: 8px 0 !important;
					
					&:before {
						content: none;
						padding: 0;
					}

					label {
						box-sizing: border-box;
						float: left;
						margin: 0;
						padding: 0 0 0 40px;
						position: relative;
						cursor: pointer;
						
						&:before {
							border: 1px solid #000000;
							content: " ";
							height: 16px;
							left: 0;
							position: absolute;
							top: 50%;
							transform: translate(0px, -50%);
							width: 16px;
						}
						
						span {
							&.backstrip {
								line-height: 13px;
								vertical-align: middle;
								
								&:after {
									height: 11px;
									max-width: 100%;
								}
							}
						}
					}

					input {
						&.checkbox {
							float: left;
							height: 100%;
							left: 0;
							margin: 0;
							opacity: 0;
							position: absolute;
							top: 0;
							width: 100%;
							
							&:checked {
								& ~ label {
									&:after {
										background: rgba(0, 0, 0, 0) url("../images/right.png") no-repeat scroll center center / 12px auto;
										content: " ";
										height: 16px;
										left: 2px;
										position: absolute;
										top: 50%;
										transform: translate(0px, -50%);
										width: 16px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	
	.actions-toolbar {
		display: inline-block;
		margin: 28px 0 0 !important;
		vertical-align: middle;
		width: 100%;
		
		& > .primary {
			float: left;
			width: auto;
			margin: 0;
		}

		& > .secondary {
			float: right;
			
			a.action {
				margin: 0 !important;
				line-height: 36px !important;
			}
		}
		
		.action {
			&.primary {
				min-width: 198px;
				float: left;
				width: auto;
				line-height: 36px !important;
				font-size: 16px !important;
				letter-spacing: 1.4px;
			}
		}
	}
}


.register-form-links {
    float: left;
    margin: 5px 0 20px;
    width: 100%;
	
	.form-bottom-info {
		display: inline-block;
		vertical-align: middle;
		width: auto;
		
		span {
		display: inline-block;
		letter-spacing: 0.35px;
		vertical-align: middle;
		width: auto;
		margin: 0 0 15px;
		font-size: 14px;
		line-height: 20px;
			
			a {
				color: #000000;
				display: inline-block;
				text-decoration: underline;
				vertical-align: top;
				
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}


#password-strength-meter-container {
    display: none;
}



/***********************For the Forget Password Page Design***********************/

.forgotpassword {
	
	.block-title {
		display: inline-block;
		vertical-align: middle;
		box-sizing: border-box;
		width: 100%;
		padding: 0 0 0 94px;
	}

    .fieldset {
        .field {		
            &.note {
                padding: 10px 0 0 94px;
				font-size: 14px;
				line-height: 20px;
				letter-spacing: 0.35px;
				display: inline-block;
				width: 100%;
				vertical-align: middle;
				box-sizing: border-box;
            }
        
            .label {
                font-size: 14px;
                font-weight: normal;
                letter-spacing: 0.35px;
                line-height: 20px;
                padding: 0 !important;
                text-align: left !important;
                width: 100% !important;
                margin: 0;
				
                span {
                    display: inline-block;
                    vertical-align: top;
                    width: auto;
                }
            }
			
            .control {
                width: 100%;
				display: inline-block;
				vertical-align: middle;
				margin: 0;
				
				input {
					height: 50px;
					line-height: 50px;
				}
            }
        }
        &::after {
            margin-left: 0 !important;
        }
    }
	
    form {
        &.forget {
			display: inline-block;
			width: 100%;
			vertical-align: middle;
			
			.fieldset {
				margin: 0;
				display: inline-block;
				width: 100%;
				vertical-align: middle;
				
				&:after {
					content: none;
				}
				
				.field {
					margin: 0 0 12px;
					display: inline-block;
					width: 100%;
					vertical-align: middle;
				}
			}
			
            .actions-toolbar {
                display: inline-block;
				width: 100%;
				margin: 15px 0 0;
				
				& > .primary {
					float: left;
					width: auto;
					margin: 0;
				}

                button.action {
					font-size: 16px;
					letter-spacing: 1.4px;
					line-height: 36px;
					height: 36px;
					padding: 0 !important;
					min-width: 198px;
				}
				
                & > .secondary {
					float: right;
					width: auto;

					a {
						&.action {
							font-size: 14px;
							margin: 0;
							line-height: 36px;
							letter-spacing: 0.34px;
						}
					}
                }
            }
        }
		
        .captcha {
            .nested {
                padding-top: 15px;
				
				img.captcha-img {
					float: left;
					width: auto;
					max-width: 45%;
					margin: 0;
				}
                
				.captcha-reload {
                    background: #000000 none repeat scroll 0 0;
					border: medium none;
					border-radius: 0;
					color: #ffffff;
					display: inline-block;
					font-size: 16px;
					font-weight: normal;
					line-height: 40px;
					padding: 0 5%;
					text-transform: uppercase;
					vertical-align: middle;
					float: right;
					width: auto;
					max-width: 52%;
					box-sizing: border-box;
                }
            }
        }
    }
}




//
//  Custom css for user dahboard inner Pages
//  ---------------------------------------------

/***********************General Custom css for user dashboard***********************/

.account {
    .page-main {
        padding: 90px 16px 30px !important;
		
		.messages {
			display: inline-block;
			width: 100%;
			text-align: right;
			
			.message {
				display: inline-block;
				max-width: calc(~'(100% - 110px)');
				margin: 0;
				text-align: left;
			}
		}	
    }
	
	.columns {
		.column {
			&.main {
				width: 100%;
				float: left;
			}
		}
		
		.sidebar {
			display: none;
		}
		
		
	}
	
	&.customer-account-index {
		.columns {
			.column {
				&.main {
					position: relative;
				}
			}
		}
	}
}


.page-main {
    .actions-toolbar {
        .primary {
            button {
                letter-spacing: 2.4px;
            }
        }
		
		button.action.primary {
			padding: 0 14% !important;
		}
    }
}


/***********************Custom css for user dashboard Sidebar Drop-down***********************/

.account {
	.columns {
	
		.account-nav {
			display: inline-block;
			width: 100%;
			margin: 58px 0 28px;
			position: relative;
			
			.account-nav-title {
				display: inline-block;
				width: 100%;
				height: 30px;
				line-height: 30px;
				margin: 0;
				border: 1px solid #000000;
				position: static;
				box-sizing: border-box;
				padding: 0 28px 0px 10px;
				vertical-align: middle;
				background: #ffffff url('../../images/down-arrow.svg') no-repeat scroll center right 7px;
				background-size: 12px;
				
				&.active {
					background: #ffffff url('../../images/up-arrow.svg') no-repeat scroll center right 7px;					
					background-size: 12px;
				}

				strong {
					float: left;
					width: 100%;
					border-right: 1px solid #000;
					line-height: 28px;
					margin: 0;
					height: 28px;
					text-align: center;
					text-transform: uppercase;
					letter-spacing: 1.4px;
					font-weight: normal;
					font-size: 16px !important;
				}
			}

			.account-nav-content {
				display: inline-block;
				padding: 0;
				width: 100%;
				vertical-align: middle;
				border: 1px solid transparent;
				box-sizing: border-box;
				text-align: center;
				background: none;
				position: absolute;
				left: 0;
				background: #ffffff;
				z-index: 2;
				top: 30px;
				overflow: hidden;
				transition: all 0.5s ease-in-out 0s;
				max-height: 0;
				
				&.active {
					max-height: 700px;
					border-color: #000000;
				}
			}
			
			.nav {
				&.items {
					float: left;
					width: 100%;
					padding: 15px 0;
					box-sizing: border-box;
					
					li.item {
						width: 100%;
						margin: 0;
						padding: 0;
						float: left;
						clear: both;
						
						a {
							float: left;
							width: 100%;
							padding: 0 0 12px;
							margin: 0;
							border: none;
							font-size: 14px;
							line-height: 18px;
							letter-spacing: 1px;
							color: #000;
							text-transform: uppercase;
							
							&:hover {
								background: none;
							}
						}

						strong {
							float: left;
							width: 100%;
							padding: 0 0 12px;
							margin: 0;
							border: none;
							position: static;
							letter-spacing: 1px;
							font-size: 14px;
							line-height: 18px;
							font-weight: normal !important;
							text-transform: uppercase;
							z-index: 1;
							
							&:after {
								content: none;
							}
						}
						
						&:last-child {
							a,
							strong {
								padding: 0;
							}
						}
					}
				}
			}
		}
	}
}



/***********************Custom css for My Account Page***********************/


.account {
    .customer-name-show {
        font-family: "SofiaPro Black";
		text-transform: uppercase;
		display: inline-block;
		width: 100%;
		vertical-align: middle;
		padding: 0 0 0 94px;
		box-sizing: border-box;
		position: absolute;
		right: 0;
		top: -40px;
		
        p:first-child {
            font-size: 16px;
			line-height: 18px;
			letter-spacing: 1.6px;
			margin: 0 0 8px;
        }
		
        p:last-child {
            font-size: 20px;
			line-height: 25px;
			letter-spacing: 3px;
        }
		
        .backstrip {
			line-height: 25px;
			
            &::after {
                bottom: 3px;
                height: 8px;
                background: #A0F0E1;
            }
        }
    }
	
    .edit-customer-info-container {
        padding-top: 0;
        clear: both;
        overflow: hidden;
        padding-bottom: 38px;
		
        .left-edit-container {
            float: left;
            max-width: 100%;
			margin: 0 0 18px;
        }
        
		.right-edit-container {
            float: right;
            max-width: 100%;
        }
        
		.left-conatiner {
            float: left;
            max-width: 68px;
            margin-right: 18px;
        }
        
		.right-container {
			float: left;
			width: calc(~'(100% - 90px)');
			padding: 15px 0 0px;
			
            span {
                float: left;
				font-size: 14px;
				letter-spacing: 0.2px;
				line-height: 18px;
				width: auto;
				margin: 0 4px 0 0;
            }
			
            a {
                font-family: "SofiaPro Black";
				font-size: 20px;
				color: #000;
				text-transform: lowercase;
				line-height: 18px;
				float: left;
				width: 100%;
                span {
                    font-size: 20px;
					line-height: 18px;
                }
            }
			
			.backstrip {
				margin: 0;
				
				&:after {
					height: 6px;
				}
			}
        }
		
		span.edit-icon {
			display: inline-block;
			width: auto;
			vertical-align: middle;
			
			img {
				display: inline-block;
				width: auto;
				vertical-align: middle;
			}
		}
    }
}



.block-dashboard-orders {
	display: inline-block;
    width: 100%;
    vertical-align: middle;
	
    .block-title {
        &.order {
            text-align: center;
			font-family: "SofiaPro Black";
			font-size: 20px;
			text-transform: uppercase;
			background: #FFA300;
			letter-spacing: 2px;
			padding: 8px 10px 12px;
			float: left;
			box-sizing: border-box;
			width: 100%;
			margin: 0 !important;
			line-height: 22px;
	
            strong {
                font-size: 36px !important;
            }
			
            a {
                color: #000;
				text-decoration: underline;
				font-size: 12px;
				float: right;
				margin: 3px 0 0 !important;
				font-weight: normal;
				line-height: 18px;
            }
        }
		
        .backstrip {
            z-index: 1;
			line-height: 22px;
			float: left;
			
            &::after {
                bottom: 2px;
                max-width: calc(~'(100% - 3px)');
                background: #fff;
				height: 8px;
            }
        }
    }
	
	.block-content {
		display: inline-block;
		width: 100%;
		vertical-align: middle;
	}
}


#my-orders-table {
	float: left;
    width: 100%;
	
    .orderdetails {
        width: 100%;
		float: left;
		border: solid 2px #000;
		padding-top: 12px;
		margin-top: 28px;
		padding-bottom: 0px;
		box-sizing: border-box;
		
        .innerlist {
            text-align: center;
			float: left;
			width: 100%;
			line-height: 20px;
			
            .col {
                display: inline-block;
				font-size: 14px;
				letter-spacing: 0.35px;
				line-height: 18px;
				vertical-align: middle;
            }
			
            .heading {
                font-family: 'Courier Sans Bold';
				font-size: 14px;
				letter-spacing: 0.35px;
				line-height: 18px;
				vertical-align: middle;
				display: inline-block;
				
				&:after {
					content: ":";
					padding: 0 3px 0 2px;
				}
            }
			
            .actions {
                font-size: 16px;
				color: #000;
				text-transform: uppercase;
				letter-spacing: 1.4px;
				border-right: solid 2px #000000;
				float: left;
				text-align: center;
				width: 50%;
				padding: 6px 0;
				box-sizing: border-box;
	
                a {
                    font-size: 16px;
					color: #000;
					text-transform: uppercase;
					letter-spacing: 1.4px;
					float: left;
					width: 100%;
					line-height: 20px;
					
					span {
						display: inline-block;
						width: auto;
						vertical-align: middle;
					}
                }
            }
            .reviewcount {
                font-size: 16px;
				color: #000;
				text-transform: uppercase;
				letter-spacing: 1.4px;
				float: right;
				text-align: center;
				width: 50%;
				padding: 6px 0;
				box-sizing: border-box;
				line-height: 20px;

                a {
                    font-size: 16px;
                    color: #000;
                    text-transform: uppercase;
                    letter-spacing: 1.4px;
                }
            }
        }
		
        .trackyouorder {
            text-align: center;
			background: #000;
			color: #fff;
			letter-spacing: 1.4px;
			font-size: 14px;
			padding: 4px 0;
			margin-top: 14px;
			float: left;
			width: 100%;
        }
    }
	
    .orderhistaction {
        .actiontop {
            text-align: center;
			background: #000;
			color: #fff;
			letter-spacing: 2.4px;
			font-size: 14px;
			padding: 4px;
			margin-top: 14px;
			text-transform: uppercase;
			line-height: 28px;
			display: inline-block;
			width: 100%;
			box-sizing: border-box;
			vertical-align: middle;
        }
		
        .actionsN {
            width: 100%;
			float: left;
		}
		
        .view {
            font-size: 16px;
			color: #000;
			text-transform: uppercase;
			letter-spacing: 1.4px;
			border-right: solid 2px #000000;
			float: left;
			text-align: center;
			width: 50%;
			padding: 6px 0;
			margin: 0px;
			text-decoration: none;
			box-sizing: border-box;
			line-height: 20px;
			
			span {
				float: left;
				line-height: 20px;
				font-size: 16px;
				width: 100%;
			}
        }
        .order {
            font-size: 16px;
			color: #000;
			text-transform: uppercase;
			letter-spacing: 1.4px;
			border-right: solid 2px #000000;
			float: left;
			text-align: center;
			width: 50%;
			padding: 6px 0;
			margin: 0px;
			text-decoration: none;
			box-sizing: border-box;
			line-height: 20px;
			
			span {
				float: left;
				line-height: 20px;
				font-size: 16px;
				width: 100%;
			}
        }
    }
	
    .price {
        font-weight: normal !important;
		font-size: 14px;
    }	
}


.sales-order-view {
	#my-orders-table {
		.orderdetails {
			padding-bottom: 14px;
		}
	}
}


.orderdetails:nth-child(even) {float: right !important;}
.orderdetails:nth-child(odd) {float: left !important;}
.account-nav .item .delimiter {display: none !important;}


.block-addresses-default {
    margin: 0 0 10px;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
	
    .block-title {
        text-align: center;
		font-family: "SofiaPro Black";
		font-size: 20px;
		text-transform: uppercase;
		background: #FFA300;
		letter-spacing: 2px;
		padding: 8px 0 12px;
		margin-bottom: 28px !important;
		line-height: 22px;
		
        .backstrip {
            z-index: 1;
			line-height: 22px;
			
            &::after {
                bottom: 2px;
                max-width: calc(~'(100% - 3px)');
                background: #fff;
				height: 8px;
            }
        }
    }
	
    .block-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
		&::after {
            display: none !important;
        }
        
		&::before {
            display: none !important;
        }
        
		.box-billing-address {
			border: solid 2px #000;
			text-align: center;
			font-size: 14px;
			line-height: 20px;
			letter-spacing: 0.04px;
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			margin: 0 0 18px !important;

            .box-content {
				width: 100%;
				font-size: 14px;
				line-height: 20px;
				letter-spacing: 0.4px;
				padding-bottom: 14px;

                a {
                    color: #000;
                }
            }
        }
		
        .box-address-shipping,
		.box-address-billing {
            border: solid 2px #000;
            text-align: center;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.04px;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
			margin: 0 0 18px !important;
            
			.box-content {
                width: 100%;
				font-size: 14px;
				line-height: 20px;
				letter-spacing: 0.4px;
                
				a {
                    color: #000;
                }
            }
        }
		
        .box-actions {
            width: 100%;
			text-align: center;
			background: #000;
			color: #fff;
			letter-spacing: 1.4px;
			font-size: 14px;
			padding: 4px 0;
			margin: 14px 0 0;
			box-sizing: border-box;            
			
			a {
                font-size: 14px;
				text-transform: uppercase;
				color: #fff;
				text-decoration: none;
				display: inline-block;
				width: 100%;
				vertical-align: middle;
				line-height: 28px;
            }
        }
    }
	
    .defaultshipadd {
        font-size: 16px;
		text-align: center;
		letter-spacing: 1px;
		text-transform: uppercase;
		width: 100%;
		padding-top: 12px;
		padding-bottom: 10px;
    }
}


.block-addresses-list {
	margin: 0 0 28px;
    display: inline-block;
    width: 100%;
    vertical-align: middle;

    .block-title {
        text-align: center;
		font-family: "SofiaPro Black";
		font-size: 18px;
		text-transform: uppercase;
		background: #FFA300;
		letter-spacing: 2px;
		padding: 8px 0 12px;
		margin-bottom: 28px !important;
		line-height: 22px;
		
        .backstrip {
            z-index: 1;
			line-height: 22px;
			
            &::after {
                bottom: 4px;
                max-width: calc(~'(100% - 3px)');
                background: #fff;
				height: 6px;
            }
        }
    }
	
	.block-content {
		font-size: 14px;
		line-height: 20px;
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		letter-spacing: 0.35px;
	}
	
    ol {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
		
        &::after {
            display: none !important;
        }
		
        &::before {
            display: none !important;
        }
		
        li {
            border: solid 2px #000;
            text-align: center;
            font-size: 14px !important;
            line-height: 20px;
            letter-spacing: 0.4px;
            display: flex;
            flex-wrap: wrap;
            width: 100% !important;
            padding-top: 12px;
            text-transform: capitalize;
            position: relative;
			
            a {
                color: #000;
            }
			
            .action {
                &.edit {
                    text-align: center;
					background: #000;
					color: #fff;
					letter-spacing: 1.4px;
					font-size: 14px;
					padding-top: 4px;
					padding-bottom: 4px;
					margin-top: 14px;
					display: inline-block;
					text-transform: uppercase;
					text-decoration: none;
					width: 100%;
					line-height: 28px;
                }
            
                &.delete {
                    text-align: center;
					background: #fff;
					color: #000;
					letter-spacing: 1.4px;
					font-size: 14px;
					padding-top: 4px;
					padding-bottom: 4px;
					margin-top: 0;
					display: inline-block;
					text-transform: uppercase;
					text-decoration: none;
					width: 100%;
					vertical-align: middle;
					line-height: 28px;
				}
            }
			
            .item {
                &.actions {
                    width: 100%;
					display: inline-block;
					vertical-align: middle;
                }
            }
			
            address { 
				display: inline-block;
				width: 100%;
				vertical-align: middle;
            }
        }
    }    
}


.customer-address-index {
	.page-main {
		.actions-toolbar {
			button {
				&.action {
					&.primary {
						font-size: 16px;
						line-height: 40px;
						padding: 0 10px !important;
						letter-spacing: 1.4px;
					}
				}
			}
		}
	}
}



.empty-wishlist {

    h1 {
        font-family: "SofiaPro Black";
        font-size: 20px;
		line-height: 24px;
		letter-spacing: 3px;
		text-transform: uppercase;
		
        .backstrip {
			line-height: 24px;
			
            &::after {
                background: #A0F0E1;
                height: 8px;
				bottom: 2px;
            }
        }

    }
	
    .tapontext {
        font-family: "SofiaPro Black";
		font-size: 18px;
		line-height: 20px;
		letter-spacing: 2px;
		text-transform: uppercase;
		padding-bottom: 28px;
		
        .backstrip {
			line-height: 20px;
			
            &::after {
                height: 6px;
				bottom: 4px;
            } 
        }
    }
	
	.wishlist-icon,
	.add-to-wishlist {
		display: inline-block;
		width: 100%;
		vertical-align: middle;
		
		span {
			display: inline-block;
			width: 100%;
			vertical-align: middle;
			
			img {
				display: inline-block;
				width: 68px;
				vertical-align: middle;
			}
		}
	}
	
    .tosaveyour {
        font-family: "SofiaPro Black";
        font-size: 20px;
		line-height: 24px;
		letter-spacing: 2px;
		text-transform: uppercase;
		padding-top: 15px;
		
        .backstrip {
			line-height: 24px;
				
            &::after{
                height: 8px;
				bottom: 3px;
            } 
        }
    }
	
	.starttext {
		font-family: "SofiaPro Black";
		font-size: 20px;
		line-height: 24px;
		letter-spacing: 2px;
		text-transform: uppercase;
		padding: 16px 0;
		
		.backstrip {
			line-height: 24px;
			
			&::after{
				height: 8px;
				bottom: 3px;
			}
		}
	}
}


.wishlist-top-bar {
	padding: 0;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    border-bottom: 2px solid #000000;
    margin: 0 0 28px;

    .wishlist-title {
        text-align: center;
		font-family: "SofiaPro Black";
		font-size: 20px;
		text-transform: uppercase;
		background: #FFA300;
		letter-spacing: 2px;
		padding: 8px 0 12px;
		display: block;
		line-height: 22px;
		
        .backstrip {
            z-index: 1;
			line-height: 22px;
				
            &::after {
                bottom: 2px;
                max-width: calc(~'(100% - 3px)');
                background: #fff;
				height: 8px;
            }
        }
    }
	
    .actions-toolbar {
		padding-top: 20px;
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		text-align: center;
		
        button {
            text-align: center;
			background: #000;
			color: #fff;
			letter-spacing: 1.4px !IMPORTANT;
			font-size: 14px;
			padding: 0;
			margin: 5px 0 !important;
			font-weight: normal;
			text-transform: uppercase;
			border: 0px;
			border-radius: 0;
			line-height: 40px;
			box-sizing: border-box;
        }
		
		& > .primary {
			display: inline-block;
			width: 100%;
			vertical-align: middle;
			margin: 3px 0;
		}
		
		& > .secondary {
			a.action {
				margin: 0;
				line-height: 36px;
			}
		}
    }
}


.orders-history {
    .myorder {
        text-align: center;
		font-family: "SofiaPro Black";
		font-size: 20px;
		text-transform: uppercase;
		background: #FFA300;
		letter-spacing: 2px;
		padding-top: 8px;
		padding-bottom: 12px;
		line-height: 22px;
        
		.backstrip {
            z-index: 1;
			line-height: 22px;
				
            &::after {
                bottom: 2px;
                max-width: calc(~'(100% - 3px)');
                background: #fff;
				height: 8px;
            }
        }
    }
}

.sales-order-history {
    .actions-toolbar{
        clear: both;
    }
}

.sales-order-view {
    .order-links {
        display: none;
    }
}

.order-details-items {
    border-bottom: none;
	
    .odredviewtitile {
        text-align: center;
		font-family: "SofiaPro Black";
		font-size: 20px;
		text-transform: uppercase;
		background: #FFA300;
		letter-spacing: 2px;
		padding: 8px 0 12px;
		line-height: 22px;
        
		.backstrip {
            z-index: 1;
			line-height: 22px;
            
			&::after {
                bottom: 2px;
                max-width: calc(~'(100% - 3px)');
                background: #fff;
				height: 8px;
            }
        }
    }
	
    .actions-toolbar {
        padding-top: 10px;
		display: inline-block;
		width: 100%;
		text-align: center;
		       
	   .secondary {
            float: left;
			width: 100%;
			            
			a {
                text-align: center;
				background: #000;
				color: #fff !important;
				letter-spacing: 1.4px !important;
				font-size: 16px !important;
				font-weight: normal;
				text-transform: uppercase;
				border: 0px;
				border-radius: 0;
				text-decoration: none !important;
				padding: 0 !important;
				box-sizing: border-box;
				width: 100%;
				line-height: 40px !important;
            }
        }
    }
}

.form-address-edit {

    .actions-toolbar {
        margin-left: 0 !important;
		
		button.action.primary {
			line-height: 40px !important;
			font-size: 16px !important;
			letter-spacing: 2px;
			width: auto;
			padding: 0 !important;
			min-width: 198px;
		}
    }
    
	.fieldset {
        margin-bottom: 20px !important;
    }
	
    .legend {
        text-align: center;
		font-family: "SofiaPro Black";
		font-size: 20px;
		text-transform: uppercase;
		background: #FFA300;
		letter-spacing: 2px;
		padding: 8px 0 12px;
		margin-left: 0 !important;
		margin-bottom: 28px;
		width: 100%;
		line-height: 22px;
		
        .backstrip {
            z-index: 1;
			line-height: 22px;
			
            &::after {
                bottom: 2px;
                max-width: calc(~'(100% - 3px)');
                background: #fff;
				height: 8px;
            }
		}
	}
	
    .label {
        box-sizing: border-box !important;
		float: left !important;
		font-size: 14px;
		font-weight: normal !important;
		letter-spacing: 0.35px;
		line-height: 20px;
		margin: 0 0 10px !important;
		padding: 0 !important;
		text-align: left !important;
		width: 100% !important;
		position: relative !important;
    }
	
    .editforminner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
		.field  {
            flex-wrap: wrap;
            width: 46%;
            display: inline-block;
            margin-bottom: 20px;
			
			&.street {
				width: 100%;
			}
        }
        
		.additional {
            width: 100%;
            margin: 20px 0 0 0;
        }
        
		select {
            background: #ffffff none repeat scroll 0 0 padding-box;
			border: 1px solid #000000;
			border-radius: 0;
			box-shadow: none !important;
			box-sizing: border-box;
			display: inline-block;
			font-family: "Courier Sans Regular";
			font-size: 14px;
			height: 36px;
			letter-spacing: 0.35px;
			line-height: 36px;
			padding: 3px 10px;
			vertical-align: baseline;
			width: 100%;
        }
    }
}


.choice {
	float: none;
	position: relative;
	margin: 0 0 0 0 !important;

	&:before {
		content: none;
		padding: 0;
	}

	label {
		box-sizing: border-box;
		float: left;
		margin: 0;
		padding: 0 0 0 40px;
		position: relative;
		cursor: pointer;

		&:before {
			border: 2px solid #000000;
			content: " ";
			height: 16px;
			left: 0;
			position: absolute;
			top: 50%;
			transform: translate(0px, -50%);
			width: 16px;
		}

		span {
			&.backstrip {
				line-height: 13px;
				vertical-align: middle;

				&:after {
					height: 13px;
					max-width: 100%;
				}
			}
		}
	}

	input {
		&.checkbox {
			float: left;
			height: 100%;
			left: 0;
			margin: 0;
			opacity: 0;
			position: absolute;
			top: 0;
			width: 100%;

			&:checked {
				& ~ label {
					&:after {
						background: rgba(0, 0, 0, 0) url("../images/right.png") no-repeat scroll center center / 12px auto;
						content: " ";
						height: 16px;
						left: 2px;
						position: absolute;
						top: 50%;
						transform: translate(0px, -50%);
						width: 16px;
					}
				}
			}
		}
	}
}


.block-order-details-view {
    .block-title {
        text-align: center;
		font-family: "SofiaPro Black";
		font-size: 20px;
		text-transform: uppercase;
		background: #FFA300;
		letter-spacing: 2px;
		padding: 8px 0 12px;
		margin-bottom: 28px !important;
		line-height: 22px;
		
        .backstrip {
            z-index: 1;
			line-height: 22px;
			
            &::after {
                bottom: 2px;
                max-width: calc(~'(100% - 3px)');
                background: #fff;
				height: 8px;
            }
        }
    }
	
    .block-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        &::before {
            display: none !important;
        }
        &::after {
            display: none !important;
        }
        .box {
            border: solid 2px #000;
			text-align: center;
			font-size: 14px;
			line-height: 20px;
			letter-spacing: 0.04px;
			display: flex;
			flex-wrap: wrap;
			width: 370px !important;
			margin: 0 0 18px !important;
			
            .defaultshipadd {
                font-size: 18px;
                text-align: center;
                letter-spacing: 1.8px;
                text-transform: uppercase;
                width: 100%;
                padding-top: 22px;
                padding-bottom: 10px;
            }
			
            .box-content {
                letter-spacing: 0.4px;
                width: 100%;
                padding-bottom: 22px;
                a {
                    color: #000;
                }
            }
        }
    }
}

.products-grid {
    &.wishlist {
		display: inline-block;
		width: 100%;
		margin: 0;
		
		.product-items {
			float: left;
			width: 100%;
			box-sizing: border-box;
			margin: 0 !important;
			
			 .product-item {
				width: 100%;
				border: none !important;
				border-bottom: 2px solid #000000 !important;
				padding: 0 0 28px;
				float: left;
				box-sizing: border-box;
				margin: 0 0 28px;
				
				.product-item-info {
					display: inline-block;
					width: 100%;
					vertical-align: middle;
					
					.product-item-photo {
						margin: 0;
						text-align: left;
					}
					
					.product-image-container {
						display: inline-block;
						max-width: 244px;
						vertical-align: middle;
						float: right;
					}
				}
				
				.product-item-name {
					left: -124px;
					right: auto;
					bottom: 112px;
					font-size: 28px;
					line-height: 35px;
					letter-spacing: 2px;
					float: left;
					color: #000;
					margin: 0;
					width: 260px;
					height: 35px;
				}
				
				.product-short-dec {
					font-size: 14px;
					line-height: 20px;
					letter-spacing: 1px;
					padding-top: 24px;
					padding-bottom: 14px;
					display: inline-block;
					width: 100%;
					vertical-align: middle;
					
					p {
						margin: 0;
					}
				}
				
				.product-item-inner {
					display: inline-block;
					width: 100%;
					vertical-align: middle;
				}
				
				.box-tocart {
					width: 100%;
					margin: 0;
					box-sizing: border-box;
				}
				
				.product-item-actions {
					display: flex;
					align-items: center;
					justify-content: center;
				}
				
				.eye-icon {
					padding: 0;
					width: 34px;
					height: 32px;
					line-height: 32px;
					float: right;
					box-sizing: border-box;
					border-right: 2px solid #000000;
					text-align: center;
					
					img {
						max-width: 20px;
						display: inline-block;
						vertical-align: middle;
					}
				}

				.actions-primary {
					padding: 0;
					margin: 0;
					box-sizing: border-box;
					width: 34px;
					height: 32px;
					line-height: 32px;
					
					img {
						display: inline-block;
						vertical-align: middle;
						max-width: 25px;
					}
					
					button.action.primary {
						line-height: 30px;
						height: 30px;
						vertical-align: top;
					}
				}
								
				/*&.Reset {
					.product-item-name {
						bottom: 67px;
						left: -88px;
					}
				}
				
				&.Light {
					.product-item-name {
						bottom: 117px;
						left: -139px;
					}  
				}
				
				&.Heroine {
					.product-item-name {
						left: -133px;
					}     
				}
				
				&.Goals {
					.product-feat {
						padding: 12px 8px !important;
					}
					.product-item-name {
						bottom: 79px;
						left: -96px;
					}    
				}
				
				&.Most {
					.product-item-name {
						bottom: 138px;
						left: -156px;
					}
				}
				
				&.It {
					&.All {
						.product-item-name {
							bottom: 126px;
							left: -146px;
						}
					}
				}
				
				&.COURAGE {
					.product-item-name {
						text-align: left;
						bottom: 245px;
						left: -264px;
					}
				}*/
				
			}
        }
	
        .product-item-actions {
            margin: 0;
            padding: 0;
            .edit {
                display: none;
            }
            .delete {
                display: none;
            }
        }
		
        
		
    }
}


.wishlistbottmcount {
    border: solid 2px #000;
	display: inline-block;
    width: 100%;
    vertical-align: middle;
	box-sizing: border-box;
	
    .product-feat {
        font-size: 12px;
        text-align: center;
        letter-spacing: 0.35px;
        border-bottom: solid 2px #000;
        padding: 10px 20px 15px;
		line-height: 18px;
		
		p {
			margin: 0;
		}
    }
	
    .product-item-actions {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 !important;
		
        .product-currency {
            flex-wrap: wrap;
			text-align: center;
			width: calc(~'(100% - 100px)');
			border-right: solid 2px #000;
			font-size: 16px;
			letter-spacing: 0.48px;
			padding: 0;
			margin: 0 !important;
			box-sizing: border-box;
			line-height: 32px;
			height: 32px;
			vertical-align: middle;
        }
		
        .actions-primary {
            flex-wrap: wrap;
            text-align: center;
            width: 33%;
            border-right: solid 2px #000;
            padding-top: 10px;
            padding-bottom: 4px;
            button {
                background: no-repeat;
                border: none;
                padding: 0;
                box-shadow: none
            }
        }		
    }
}


.form-edit-account {

    .legend {
        text-align: center;
		font-family: "SofiaPro Black";
		font-size: 20px;
		text-transform: uppercase;
		background: #FFA300;
		letter-spacing: 2px;
		padding: 8px 0 12px;
		margin: 0 0 28px !important;
		width: 100%;
		line-height: 22px;
        
		.backstrip {
            z-index: 1;
			line-height: 22px;
            
			&::after {
                bottom: 2px;
                max-width: calc(~'(100% - 3px)');
                background: #fff;
				height: 8px;
            }
        }
    }
	
    .actions-toolbar {
        .primary{
            width: auto;
			float: left;
			
            button {
                width: 100%;
            }
        }
        .secondary {
            float: right;
            width: auto;
            a {
                background: #000000 none repeat scroll 0 0;
				border: medium none;
				border-radius: 0;
				color: #ffffff !important;
				display: inline-block !important;
				font-size: 16px !important;
				font-weight: normal;
				line-height: 40px !important;
				text-transform: uppercase;
				vertical-align: middle !important;
				margin: 0 !important;
				text-decoration: none !important;
				width: auto;
				min-width: 130px;
				letter-spacing: 0.35px !important;
            }
        }
    }
}



.gdpr-customer-settings  {
    .policy-content {
        font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.35px;
		padding-top: 0;
    }
    .block-title {
        text-align: center;
		font-family: "SofiaPro Black";
		font-size: 20px;
		text-transform: uppercase;
		background: #FFA300;
		letter-spacing: 2px;
		padding: 8px 0 12px;
		margin: 0 0 28px!important;
		width: 100%;
		line-height: 22px;
		
        .backstrip {
            z-index: 1;
			line-height: 22px;
			
            &::after {
                bottom: 2px;
                max-width: calc(~'(100% - 3px)');
                background: #fff;
				height: 8px;
            }
        }
    }
    
	.field  {
        width: 100%;
		font-size: 14px;
		line-height: 20px;
    }
	
	.fieldset {
		margin: 0 0 18px;
	}
    .actions-toolbar {
        margin-left: 0 !important;
		
		button.primary {
			padding: 0 !important;
			width: auto;
			font-size: 16px !important;
			line-height: 40px !important;
			min-width: 198px;
		}
    }
    .checkbox {
        clear: both;
        padding-bottom: 20px;
        width: 100%;
        padding-bottom: 60px;
        position: relative;
        .checkbox {
            height: 46%;
            left: -420px;
            z-index: 1;
        }
    }
}

