<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2020 Amasty (https://www.amasty.com)
 * @package Amasty_Coupons
 */
?>
<?php
/**
 * @var \Amasty\Coupons\Block\Adminhtml\Order\Create\Coupons\Form $block
 */
?>

<div class="admin__field field-apply-coupon-code">
    <label class="admin__field-label"><span><?= $block->escapeHtml(__('Apply Coupon Code')) ?></span></label>
    <div class="admin__field-control">
        <input type="text" class="admin__control-text" id="coupons:code" value="" name="coupon_code"/>
        <input type="hidden" class="input-text" id="coupon_code" name="coupon_code"/>
        <?= $block->getButtonHtml(__('Apply'), $block->getCouponJs()) ?>
        <?php $coupons = $block->getCouponsCodes(); ?>
        <?php if ($coupons) : ?>
            <?php foreach ($coupons as $coupon) : ?>
                <p class="added-coupon-code">
                    <span><?= $block->escapeHtml($coupon) ?></span>
                    <input type="hidden" class="amCouponsCode" value="<?= $block->escapeHtml($coupon); ?>"/>
                    <a href="#" title="<?= $block->escapeHtml(__('Remove Coupon Code')) ?>"
                       class="action-remove"><span><?= $block->escapeHtml(__('Remove')) ?></span></a>
                </p>
            <?php endforeach; ?>
        <?php endif; ?>
        <script>
            require(["Magento_Sales/order/create/form"], function () {
                order.overlay('shipping-method-overlay', <?= ($block->getQuote()->isVirtual()) ? false : true ?>);
                order.overlay('address-shipping-overlay', <?= ($block->getQuote()->isVirtual()) ? false : true ?>);
            });
            require(["Amasty_Coupons/js/coupon"]);
        </script>
    </div>
</div>
