
/*-------------------------------home-page-------------------------------*/

@media screen and (min-width: 768px) and (max-width: 1024px){
.upper-banner-heading{font-size: 35px;}
.upper-banner-text{font-size: 14px;}

.homepage-product .owl-prev {left: -12px;}
.homepage-product .owl-next {right: -17px;}
.product-name {font-size: 21px;}
.product-option {width: 41%;}
.attribute.product-attr {padding-left: 10px;}
.agenda-section{margin-top: 65px;}
.image-container-text{top: 5%;}
.content-sub-heading{font-size: 15px;}
.agenda-section ul {padding: 30px 0px;}

}

@media screen and (max-width: 767px){


.upper-banner-heading{font-size: 21px;}
.upper-banner-conatiner{top: 8%;}
.upper-banner-text{font-size: 9px;}
.upper-banner-btn-text{font-size: 12px;}
.homepage-product-text {font-size: 12px;margin-bottom: 20px;}
.homepage-product .owl-prev {left: -7px;}
.homepage-product .owl-next {right: -7px;}
.product-option{width: 33%;}
.image-container-text{top: 2%;padding: 15px 15px;}
.content-heaading{margin: 12px; font-size: 17px;}
.content-sub-heading{font-size: 9px;width: 100%;}
.middle-banner-with-text a.view-all-btn-text{font-size: 8px;}
.view-all-btn-text{font-size: 9px;}
.vogue-contents {font-size: 14px;}
.vogue-section .owl-next{top: -19px;}
.agenda-section{margin-top: 50px;}
.agenda-heading{top: -22px;font-size: 15px;padding: 15px 37px;}
.agenda-section ul {padding: 30px 0px;}
.agenda-section .owl-dots{top: 95%;transform: translate(-80%);}
.page-footer .block.newsletter{width: 80%;}

.mobile-menu {display: block;}
.main-top-menu {display: none;}

ul.level0.main-top-menu.active {display: block;position: relative;
    background: black;
    left: -20px;
    top: -8px;
    padding: 35px 20px;}

.parent-menu {
    display: block; 
    padding: 4px;
}
.mobile-menu img {width: 23px;position: relative;left: -15px;}
li.parent-menu:first-child {display: none;}
li.parent-menu a{color: white;}
.main-menu {float: left; width: 100%;position: absolute;}
.action.showcart span.text {display: none;}
ul.header.links a :before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 22px;
    line-height: 15px;
    color: #757575;
    background:url('images/login.png');
   
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
    right: 0;
}


.minicart-wrapper .action.showcart .counter.qty.empty{top: 8px;left: 24px;}
.minicart-wrapper .action.showcart:before{line-height: 19px;color: black;}
#custom-header-id .minicart-wrapper{padding: 9px 0px;float: right;}

.mobile-only {
    background: url(../images/login.png);
    background-repeat: no-repeat;
}

li.authorization-link a {
    visibility: hidden;
}

ul.header.links {
    float: right;
    width: 1%;
    margin: unset;
    text-align: right;
    padding: 5px 0px;
    position: relative;
    right: 52px;
}

/*--------------------listing page----------------------------*/
/*.page-products .category-description{margin-left: calc(-50vw + 50% - 0px);}*/
.page-products .category-description p{width: 65%;
    font-size: 11px;
    line-height: 15px;}
.category-description h2{font-size: 20px;
    width: 100%;}

.page-products .product.name.product-item-name{font-size: 11px;width: 100%;}
.page-products .product.name.product-item-name a{font-size: 11px;letter-spacing: 1px;width: 100%;}
.attribute.category.product-option.attribute.product-attr.align-both ,.attribute.product-attr.align-both{padding-left: 20px;}
.catalog-category-view li.item.product.product-item{width: 50%;}
.homepage-product .attribute.product-attr.align-both{padding-left: 110px;}
.homepage-product .product-option {width: 38%;}



/*---------------------------product detail page------------------------------------------*/

.catalog-product-view.page-layout-1column .product.media{width: 100%;padding-left: 0;}
.catalog-product-view.page-layout-1column .product-info-main,
.catalog-product-view .product-info-main .product-reviews-summary,
.product-custom-attribute-left, .product-custom-attribute-right,.product.attibute.key-allies ,.product.attibute.purpose
{width: 100%;}
.catalog-product-view .field.qty {float: initial;}
.catalog-product-view .product-info-main .product-page-options select, .catalog-product-view .product-info-main .price-container .price
{font-size: 12px;}
.catalog-product-view .price-box.price-final_price{width: 27.33%;padding-left: 8px;}
.catalog-product-view .product-reviews-summary{float: unset;bottom: 15px;}
.product-custom-kit-attribute p{width: 70%;padding-top: 7%;}
.product-form{display: none;}
div#reviews {display: inline-block;width: 100%;}
.product.info.detailed{padding: 0 6%;}
div#product-review-container{width: 100%;}
div#customer-reviews {padding-right: 0;}
.block.review-add {width: 100%;border-left: 0;}
.catalog-product-view .product.data.items .item.title a:after{display: none;}

/*------------------------------------------kit page---------------------------------*/

.page-product-bundle ul#product-container > li{display: block;}
.page-product-bundle .left-section,.page-product-bundle .right-section{width: 100%;}
.page-product-bundle .kit-container {padding: 6%;}
#product-container .left-section h2, #product-container .right-section h2{font-size: 22px;}
.page-product-bundle .kit-position {position: relative;top: 30px;}
.para{width: 90%;}
.content-heading h2{width: 100%;}
.fotorama__stage__frame .fotorama__img {left: 36% !important;}


/*---------------------------------------contact cms page -----------------------------*/

.contact-left-section-container.upper {display: none;}
.contact-right-section-container {width: 100%;}
.upper .contact-right-section-container-content {padding-left: 25px;}
.help-heading{font-size: 25px;}
.help-content{font-size: 17px;}
.contact-left-section-container, .contact-right-section-container{width: 100%;}
.contact-address {
    padding-left: 0;
    display: inline-block;
}
.career-content{padding: 0px;}
.contact-index-index #custom-header-id .minicart-wrapper {top: 18px;}
.contact-index-index ul.header.links{top: 18px;}

/*---------------------------------------about cms page -----------------------------*/
.cms-about-us .section2-container-banner{margin-bottom: 30px;}
.cms-about-us .section1-container {width: 100%;}
.cms-about-us .section1-content { padding-right: 0;}
.cms-about-us .section2-container {width: 100%;}
.cms-about-us .section2-content {padding-left: 0;}
.cms-about-us .section1-content p {font-size: 28px;line-height: 30px;margin-bottom: 35px;}
.cms-about-us .section-top {padding-top: 0;}
.cms-about-us .second-section1-content {padding-right: 0;padding-top: 0;padding-bottom: 10%;}
.cms-about-us .second-section2-content-img {padding-left: 0;}
.cms-about-us .second-section2-content-img {border-left: 0;}
.cms-about-us .img-container{margin-top: 30px;}
.cms-about-us .img-container,.section2-container-banner {margin-left: calc(-50vw + 50% - 1px);}
.about-us-section-last-container.section-top h2{width: 100%;font-size: 30px;margin-bottom: 40px;}
.cms-about-us .last-section-1 ,.cms-about-us .last-section-2 , .cms-about-us .last-section-3 {width: 100%;margin-bottom: 30px;}
.cms-about-us .last-content1 ,.cms-about-us .last-content2 {padding-right: 0;}

/*---------------------------------------------faq--------------*/
.content-heading{padding-top: 100px;}
.content-heading h2 {font-size: 17px;}
/*.content-heading {margin-left: calc(-50vw + 50% - 0px);}*/
.cms-container{width: 100%;}
.faq-heading { width: 100%;}
.faq-margin{margin-left: 0px;}
.accordion:after{right: 20px;}
.cms-faq .accordion{width: 90%;}
}

@media screen and (max-width: 360px){
.upper-banner-heading {font-size: 18px;}
.upper-banner-text{line-height: 1.5;}
.image-container-text {top: 2%;padding: 15px 8px;}
.content-heaading {margin: 3px;font-size: 16px;}
.vogue-section .owl-prev:before, .vogue-section .owl-next:after{width: 20px;height: 20px;padding: 4px;}
.contact-address .bottom{margin-top: 0px;}
}

@media screen and (max-width: 320px){

    .header_label p{font-size: 11px;}
    .upper-banner-conatiner {top: 5%;}
     .upper-banner-heading {font-size: 15px;}
     .homepage-product h2{font-size: 20px;}
     .product-option { width: 40%;}
     
     .content-heaading {margin: 1px;font-size: 14px;}
     .image-container-text {padding: 7px 7px;}
     .vogue-contents {font-size: 11px;}
     .page-footer .info-page{font-size: 8px;}
     .contact-left-section-container.bottom {margin-top: 50px;}
     .homepage-product .attribute.product-attr.align-both {padding-left: 53px;}
    }

