<!-- ko if:showButton -->
<button type="button"
        class="action button"
        data-bind="click: redirectToProduct">
    <span data-bind="i18n: '&lt; Back to Product'"></span>
</button>
<!-- /ko -->