<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php $_shipment = $block->getShipment() ?>
<?php $_order = $block->getOrder() ?>
<?php if ($_shipment && $_order && $_shipment->getAllTracks()): ?>

    <?php foreach ($_shipment->getAllTracks() as $_item): ?>
            <spam><?= $block->escapeHtml($_item->getTitle()) ?></spam><span></span> with tracking number <span><?= $block->escapeHtml($_item->getNumber()) ?></span>
    <?php endforeach ?>
<?php endif; ?>
