<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct(); ?>
<?php $buttonTitle = __('Add to Bag'); ?>
<?php if ($_product->isSaleable()): ?>

<?php
    $_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $baseUrl = $_objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
?>    

<div class="box-tocart">
    <div class="fieldset">
        
        <?php if ($block->shouldRenderQuantity()): ?>			
			<div class="field qty">
				<label class="label" for="qty"><span><?= /* @escapeNotVerified */ __('Quantity') ?></span></label>
				<div class="control">
					<button id="decerement"><span>-</span></button>
					<input type="number" name="qty" id="qty" value="<?= /* @escapeNotVerified */ $block->getProductDefaultQty() * 1 ?>" title="<?= /* @escapeNotVerified */ __('Quantity') ?>" class="input-text qty product-qty" data-validate="<?= $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>" readonly />
					<button id="increment"><span>+</span></button>
				</div>
			</div>
        <?php endif; ?>

       <div class="price-box-container">
            <?php echo $this->getLayout()
              ->createBlock('Magento\Catalog\Pricing\Render',
                      "product.price.final",
                        [
                            'data' => [
                                'price_render' => 'product.price.render.default',
                                'price_type_code' => 'final_price',
                                'zone' => 'item_view'
                            ]
                       ]
                      )
              ->toHtml();?>
        </div>
        
    </div>
</div>

<div class="pro-action-section">
	
	<div class="actions removefloat">
		<button type="submit" title="<?= /* @escapeNotVerified */ $buttonTitle ?>" class="action primary tocart" id="product-addtocart-button">
			<img src="<?php echo $baseUrl?>wysiwyg/product-cart-button/noun_cart.svg"/>
		</button>
		<?= $block->getChildHtml('', true) ?>
	</div>
    <a href="<?php echo $block->getUrl('wishlist', ['_secure' => true]);?>" data-post='<?php  echo $this->helper('Magento\Wishlist\Helper\Data')->getAddParams($_product) ?>' class="action towishlist" data-action="add-to-wishlist"><img src="<?php echo $baseUrl?>wysiwyg/product-cart-button/Heart.svg"/></a>
    <?php if($_product->getResource()->getAttribute('pre_date_message')->getFrontend()->getValue($_product)):?>
    <?php echo $_product->getResource()->getAttribute('pre_date_message')->getFrontend()->getValue($_product);?>
<?php endif;?>

</div>

<?php else: ?>

<div class="box-tocart notify-only">
    <div class="fieldset">
         <?php /*if($_product->getResource()->getAttribute('product_size')->getFrontend()->getValue($_product)): ?>
            <div class="product-volume-attr-product-page">
                <label class="label" for="size"><span><?= /* @escapeNotVerified */ /*__('size') ?></span></label>
                <div class="product-size-box"><?php echo $_product->getResource()->getAttribute('product_size')->getFrontend()->getValue($_product);?></div>
            </div>
        <?php endif;*/ ?>
       
        <div class="price-box-container">
            <!--label class="label" for="price"><span><?= /* @escapeNotVerified */ __('Price') ?></span></label-->
			<?php echo $this->getLayout()
				->createBlock('Magento\Catalog\Pricing\Render',
                  "product.price.final",
                    [
                        'data' => [
                            'price_render' => 'product.price.render.default',
                            'price_type_code' => 'final_price',
                            'zone' => 'item_view'
                        ]
                   ]
                  )
          ->toHtml();?>
        </div>
    </div>
</div> 

<div class="pro-action-section">
	<div class="no-actions">
		<div class="notify-click" id="notify-product-btn"> <span>NOTIFY ME</span> </div>
	</div>
</div>

<?php endif; ?>

<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/js/validate-product": {}
        }
    }
</script>

<style>
#notify-product-btn span { display: block; font-family: "BrandonGrotesque Bold"; font-size: 11px; letter-spacing: 2px; line-height: 38px; text-transform: uppercase; width: initial; cursor: pointer; }
div#notify-product-btn { border: 1px solid #808285; border-radius: 0; color: #808285; height: 40px; line-height: 38px; padding: 0; width: 100%; margin: 5px 0; max-width: 120px; float: right; }
.catalog-product-view .amxnotif-block.show{ display: block !important; }
.catalog-product-view .amxnotif-block { display: none; clear: both; background: #000 none repeat scroll 0 0; height: initial; left: 50%; margin: auto; max-width: 440px; padding: 25px 30px; position: fixed; top: 50%; transform: translate(-50%, -50%); width: 30%; z-index: 9999; }
.amxnotif-block label { color: #ffffff; }
.actions-toolbar.amxnotif_guest_action .action.primary { border: 1px solid #808285; color: #808285; }
.actions-toolbar.amxnotif_guest_action .action.primary:hover { border: 1px solid #ffffff; background: transparent; color: #ffffff; }
.close-popup-subs { position: absolute; right: 0; top: 0; width: 30px; text-align: center; color: #fff; line-height: 30px; cursor: pointer; }
</style>

<script type="text/javascript">
    require(
    ['jquery', 'jquery/ui'], 
    function($) {
    /* quantity increment / decrement */
        var __target = $(document).find(".product-qty");
        if(__target.length > 0) {
            var oldValue = __target.val();
            var newValue = 0;
            $(document).on('click', '#increment', function(e) {
                e.preventDefault();
                e.stopPropagation();
              if(oldValue > 0) {
                newValue = Number(oldValue) + 1;
                __target.val(newValue);
                $(document).find(".bottom-product-qty").val(newValue);
                oldValue = newValue;
              }
            });

            $(document).on('click', '#decerement', function(e) {
                e.preventDefault();
                e.stopPropagation();
              if(oldValue > 1) {
                newValue = Number(oldValue) - 1;
                __target.val(newValue);
                $(document).find(".bottom-product-qty").val(newValue);
                oldValue = newValue;
              }
            });
        }

    });
</script>
