<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="field field-option">
    <input type="checkbox"
           class="control-checkbox"
           simple-checked="checked"
           ko-disabled="disabled"
           ko-focused="focused"
           ko-value="value"
           attr="id: uid, name: inputName"/>

    <label class="field-label" text="description" attr="for: uid"/>
</div>
