<!--
/**
 * Copyright © 2018 TechNWeb, Inc. All rights reserved.
 * See TNW_LICENSE.txt for license details.
 */
-->
<div class="control-table-text">
    <a target="_blank" attr="'href': url, 'data-index': index" data-bind="
        text: value,
        css: {_disabled: disabled}
    ">
    </a>
</div>
