<!--
/**
 * Copyright © 2018 TechNWeb, Inc. All rights reserved.
 * See TNW_LICENSE.txt for license details.
 */
-->
<a
    class="action-menu-item action-primary"
    if="$col.isSingle($row()._rowIndex)"
    repeat="foreach: $col.getVisibleActions($row()._rowIndex), item: '$action'"
    click="$col.getActionHandler($action())"
    text="$action().label"
    attr="href: $action().href"/>

<div class="action-select-wrap" if="$col.isMultiple($row()._rowIndex)" collapsible>
    <button class="action-select" translate="'Select'" toggleCollapsible/>
    <ul class="action-menu" css="_active: $collapsible.opened">
        <li repeat="foreach: $col.getVisibleActions($row()._rowIndex), item: '$action'">
            <a class="action-menu-item" click="$col.getActionHandler($action())" text="$action().label" attr="href: $action().href, 'data-action': 'item-' + $action().index"/>
        </li>
    </ul>
</div>
