<!--
/**
 * Copyright © 2018 TechNWeb, Inc. All rights reserved.
 * See TNW_LICENSE.txt for license details.
 */
-->
<div class="data-grid-cell-content">
    <div html="$col.getLabel($row())" class="admin_grid_col_with_tooltip"/>
    <span class="subscription-item-message" css="$col.updateClass($row())">
        <span class="qty-warning"></span>
        <span class="admin__grid-tooltip" text="$col.getToolTipText($row())"/>
    </span>
</div>
