<!--
/**
 * Copyright © 2018 TechNWeb, Inc. All rights reserved.
 * See TNW_LICENSE.txt for license details.
 */
-->
<div if="$col.hasLabel($row())||$col.hasOptions($row())" class="data-grid-cell-content subscription-shipping-title" translate="'Shipping Method'"/>


<div if="$col.hasLabel($row())" class="data-grid-cell-content subscription-shipping-method" html="$col.getLabel($row())"/>

<div if="$col.hasOptions($row())" >
<select class="admin__control-select" data-bind="
    attr: {
        name: 'shipping_methods[' + $col.getId($row()) + ']',
        id: ++ko.uid,
        'data-form-part': $col.getForm()
    },
    hasFocus: false,
    value: $col.onValueChange($col.getId($row())),
    optgroup: $col.getOptions($row()),
    optionsCaption: false,
    optionsValue: 'value',
    optionsText: 'label'",
/>
</div>

<div if="$col.needShowAttention($row())" class="data-grid-cell-content subscription-shipping-attention" data-bind="
     attr: {
         id: 'subscription-shipping-attention-' + $col.getId($row()),
     },
     css: { 'hidden': $col.showAttention($row())}"
     html="$col.getAttentionMessage()"
/>
