<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Orderattr
 */
?>
<?php
/**
 * @var \Amasty\Orderattr\Block\Order\Attributes $block
 */
?>

<?php if ($orderAttributeList = $block->getOrderAttributesData()) : ?>
    <table class="email-items">
        <thead>
        <tr>
            <th class="item-info">
                <?= $block->escapeHtml(__('Additional Information:')); ?>
            </th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
            <?php foreach ($orderAttributeList as $attribute) : ?>
                    <tr>
                        <td valign="top"><label><?= $block->escapeHtml(__($attribute['label'])); ?></label></td>
                        <td><?= nl2br($block->escapeHtml($attribute['value'])); ?></td>
                    </tr>
            <?php endforeach; ?>
        <tr>
            <td colspan="2"></td>
        </tr>
        </tbody>
    </table>
<?php endif; ?>

