<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>


<div class="order-return-container">
	<div class="block block-order-return">
		
		<div class="block-title">
			<h2 id="block-order-return-heading" aria-level="2" role="heading">
				<span class="backstrip">Order</span>
				<br>
				<span class="backstrip">Information</span>
			</h2>
		</div>
		
		<div class="block-content">

			<form class="form form-orders-search" id="oar-widget-orders-and-returns-form" data-mage-init='{"ordersReturns":{}, "validation":{}}' action="<?= /* @escapeNotVerified */ $block->getActionUrl() ?>" method="post" name="guest_post">
				
				<fieldset class="fieldset">
	
					<!--legend class="admin__legend"><span><?/*=*/ /* @escapeNotVerified */ /*__('Order Information')*/ ?></span></legend-->
					<!--br-->

					<div class="field id required">
						<label class="label" for="oar-order-id"><span><?= /* @escapeNotVerified */ __('Order ID') ?><em>*</em></span></label>
						<div class="control">
							<input type="text" class="input-text" id="oar-order-id" name="oar_order_id" placeholder="enter order id here" data-validate="{required:true}"/>
						</div>
					</div>
					
					<div class="field lastname required">
						<label class="label" for="oar-billing-lastname"><span><?= /* @escapeNotVerified */ __('Billing Last Name') ?><em>*</em></span></label>
						<div class="control">
							<input type="text" class="input-text" id="oar-billing-lastname" name="oar_billing_lastname" placeholder="enter billing last name here" data-validate="{required:true}"/>
						</div>
					</div>
					
					<div class="field find required">
						<label class="label" for="quick-search-type-id"><span><?= /* @escapeNotVerified */ __('Find Order By') ?><em>*</em></span></label>
						<div class="control">
							<select name="oar_type" id="quick-search-type-id" class="select" placeholder="select the option here">
								<option value="email"><?= /* @escapeNotVerified */ __('Email') ?></option>
								<option value="zip"><?= /* @escapeNotVerified */ __('ZIP Code') ?></option>
							</select>
							<div class="return-select-border"></div>
						</div>
					</div>
					
					<div id="oar-email" class="field email required">
						<label class="label" for="oar_email"><span><?= /* @escapeNotVerified */ __('Email') ?><em>*</em></span></label>
						<div class="control">
							<input type="email" class="input-text" id="oar_email" name="oar_email" placeholder="enter email here" data-validate="{required:true, 'validate-email':true}"/>
						</div>
					</div>
					
					<div id="oar-zip" class="field zip required">
						<label class="label" for="oar_zip"><span><?= /* @escapeNotVerified */ __('Billing ZIP Code') ?><em>*</em></span></label>
						<div class="control">
							<input type="text" class="input-text" id="oar_zip" name="oar_zip" placeholder="enter zip code here" data-validate="{required:true}"/>
						</div>
					</div>
					
				</fieldset>
				
				<div class="actions-toolbar">
					<div class="primary">
						<button type="submit" title="<?= /* @escapeNotVerified */ __('Continue') ?>" class="action submit primary">
							<span><?= /* @escapeNotVerified */ __('Submit') ?></span>
						</button>
					</div>
				</div>
			</form>
		
		</div>
		
	</div>
</div>