<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Wishlist\Block\Customer\Wishlist\Item\Column\Cart $block */

/** @var \Magento\Wishlist\Model\Item $item */
$item = $block->getItem();
$product = $item->getProduct();
$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$baseUrl = $_objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
$storeManager = $_objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$currency = $_objectManager->get('\Magento\Directory\Model\Currency');
$store = $storeManager->getStore();
?>
<?php foreach ($block->getChildNames() as $childName): ?>
    <?= /* @noEscape */ $block->getLayout()->renderElement($childName, false) ?>
<?php endforeach;?>
<div class="wishlistbottmcount">
<?php if($product->getResource()->getAttribute('category_below_content')->getFrontend()->getValue($product)): ?>       
    <div class="product-feat">
         <?php echo $product->getResource()->getAttribute('category_below_content')->getFrontend()->getValue($product);?>
    </div>
<?php endif; ?>
<div class="box-tocart">
    <fieldset class="fieldset">
  
    <?php if ($product->isSaleable()): ?>
    <div class="product-item-actions">
       <div class="product-currency">
           <span><?php echo $currency->getCurrencySymbol();?><span><?php echo $product->getFinalPrice(); ?></span></span> 
       </div>
        <div class="actions-primary">
            <button type="button" data-role="tocart" data-post='<?= /* @noEscape */ $block->getItemAddToCartParams($item) ?>' title="<?= $block->escapeHtmlAttr(__('Add to Cart')) ?>" data-item-id="<?= $block->escapeHtmlAttr($item->getId()) ?>" class="action tocart primary">
                <img src="<?php echo $baseUrl?>wysiwyg/product-cart-button/noun_cart.svg"/><!-- <span><?= $block->escapeHtml(__('Add to Cart')) ?></span> -->
            </button>
        </div>
        <div class="eye-icon">
            <img src="<?php echo $baseUrl?>wysiwyg/product-cart-button/Eyes.svg"/>
        </div>
    </div>
    <?php else: ?>
        <?php if ($product->getIsSalable()): ?>
            <p class="available stock" title="<?= $block->escapeHtmlAttr(__('Availability')) ?>">
                <span><?= $block->escapeHtml(__('In stock')) ?></span>
            </p>
        <?php else: ?>
            <p class="unavailable stock" title="<?= $block->escapeHtmlAttr(__('Availability')) ?>">
                <span><?= $block->escapeHtml(__('Out of stock')) ?></span>
            </p>
        <?php endif; ?>
    <?php endif; ?>
    </fieldset>
</div>
</div>
