<?php /* @var \TNW\Subscriptions\Block\Subscription\Summary\EmailOverview $block */ ?>
<?php echo $block->getProductsHtml() ?>
<table class="order-details">
    <tbody>
    <tr>
        <td>
            <?php if ($block->canShowShippingDetailsBlock()): ?>
                <?php echo $block->getShippingInfoHtml() ?>
            <?php endif; ?>
        </td>
        <td>
            <?php if ($block->canShowShippingDetailsBlock()): ?>
                <?php echo $block->getShippingDetailsHtml() ?>
            <?php endif; ?>
        </td>
    </tr>
    <tr>
        <td><?php echo $block->getBillingInfoHtml() ?></td>
        <td><?php echo $block->getPaymentDetailsHtml() ?></td>
    </tr>
    </tbody>
</table>
