<?php
	$_product = $block->getProduct();
	$_code = $block->getAtCode();
	$_className = $block->getCssClass();
	$attrCode = $_product->getCustomAttribute($_code);
	$productAttributes=$_product->getAttributes();
    $group_id=24;
    $attributeSetId=4;
        
?>

<?php if( isset($attrCode) ): ?>
<div class="product attibute <?= $_className?>">
	
	<?php if( $_code !='product_kit_image' && $_code != 'product_attribute_image' ): ?>
	    <h2 class="attribute-title <?= $_className ?>-title"><?= __($_product->getResource()->getAttribute($_code)->getStoreLabel()) ?></h2>
	    <div class="attribute-value <?= $_className?>-container">
	    	<?= $attrCode->getValue(); ?>
	    	<?php if( $_code =='short_description' ): ?>
	    		<a class="learn-more" href="javascript: void(0);"><?= __("Learn More") ?><span class="learn-plus">+</span></a>
	    		
	    		
	    		<div class="full-description" id="learn-more-popup">
	    			<a href="javascript: void(0);" class="close-description">X</a>
					<div id="element">
						<div data-role="collapsible">
							<div data-role="trigger">
								<span style="cursor: pointer;" class="learn-more-tab-label"><?php echo $_product->getResource()->getAttribute('description')->getStoreLabel(); ?></span>
							</div>
						</div>
						<div data-role="collapsible">
							<div data-role="trigger">
								<span style="cursor: pointer;" class="learn-more-tab-label"><?php echo 'Key Allies';?></span>
							</div>
						</div>
						<div data-role="collapsible">
							<div data-role="trigger">
								<span style="cursor: pointer;" class="learn-more-tab-label"><?php echo $_product->getResource()->getAttribute('full_ingredient_list')->getStoreLabel(); ?></span>
							</div>
						</div>
						<div data-role="content">
							<div class="learn-more-tab-content">
								<div class="learn-more-product-name"><?php echo $_product->getName(); ?></div>
								<div class="learn-more-product-description"><?= $_product->getDescription() ?></div>
							</div>
						</div>
						<div data-role="content">
							<div class="learn-more-tab-content">
								<div class="key-allies-title-anchor-container">
									<?php foreach ($productAttributes as $attribute):?>
									<?php if ($attribute->isInGroup($attributeSetId, $group_id)): ?>
										<?php if($attribute->getFrontend()->getValue($_product)): ?>
											<a class="key-allies" href="#<?php echo $attribute->getName(); ?>" ><?php echo $attribute->getFrontendLabel(); ?> \ </a>   
										<?php endif; ?>             
									<?php endif; ?>
									<?php endforeach; ?>
								</div>
								<div class="key-allies-heading-content">
									<?php foreach ($productAttributes as $attribute): ?>
									<?php if ($attribute->isInGroup($attributeSetId, $group_id)): ?>
										<?php if($attribute->getFrontend()->getValue($_product)): ?>
										<div class="attribute-text" id="<?php echo $attribute->getName(); ?>">
											<span class="purpose-label">Purpose</span>
											<div class="purpose-content"><?php echo $attribute->getFrontend()->getValue($_product); ?></div>
										</div>
										<?php endif; ?>
									<?php endif; ?>
									<?php endforeach; ?>
								</div>
							</div>
						</div>
						<div data-role="content">
							<div class="learn-more-tab-content">
								<div class="product-ingredient">
									<?= $_product->getFullIngredientList() ?>
								</div>
							</div>
						</div>
					</div>
	    		</div>
	    		<div class="learn-more-overlay"></div>
	    		<?php elseif($_code =='suggested_usage'): ?>
	    			<a class="direction-learn-more" href="javascript: void(0);" style="color:#fff;"><?= __("Learn More") ?><span class="learn-plus">+</span></a>
	    			<div id="learn-more-side-menu">
	    				<a href="javascript: void(0);" class="close-direction">X</a>
	    				<div class="direction-learn-more-headings">
		    				<div class="direction active" data-related="direction-reladed"><?php echo $_product->getResource()->getAttribute('suggested_usage')->getStoreLabel(); ?></div>
		    				<div class="layering" data-related="layering-related"><?php echo $_product->getResource()->getAttribute('layering')->getStoreLabel(); ?></div>
	    				</div>
	    				<div class="direction-learn-more-content">
	    					<div class="direction-content-on-sliding-menu active" id="direction-reladed">
	    						<h2 class="inner-direction-heading"><?php echo $_product->getResource()->getAttribute('suggested_usage')->getStoreLabel(); ?></h2>
	    						<?php echo $_product->getSuggestedUsage(); ?>
	    					</div>
	    					<div class="layering-content-on-sliding-menu" id="layering-related">
	    						<h2 class="inner-direction-heading"><?php echo $_product->getResource()->getAttribute('layering')->getStoreLabel(); ?></h2>
	    						<?php echo $_product->getLayering(); ?>
	    					</div>
	    				</div>
	    			</div>
	    			<div class="learn-more-sideoverlay"></div>
	    	<?php endif; ?>
	    </div>
	<?php else: ?>
		<?php
			$productImage = $this->helper('Magento\Catalog\Helper\Image')
			    ->init($_product, $_code)
			    ->setImageFile($attrCode->getValue());
		?>
		<div class="product img attibute <?php echo $_className?>">
			<img src="<?php echo $productImage->getUrl() ?>" alt="<?php echo $block->escapeHtml($_product->getTitle()) ?>" />
		</div>
	<?php endif; ?>
</div>
<?php endif; ?>
<script>
    require([
        'jquery',
        'accordion'], function ($) {
        /* */
        $('.learn-more').click(function(){
        	$(this).siblings('.full-description').addClass('active');
        	$(this).parents('body').addClass('page-over-flow-hide');
        });
        $('.close-description').click(function(){
        	$(this).parent('.full-description').removeClass('active');
        	$(this).parents('body').removeClass('page-over-flow-hide');
        });	
        $("#element").accordion();
        $('.key-allies').first().addClass('active');
        $('.attribute-text').first().addClass('active');
        /* Show/Hide Allies of key */
         $('.key-allies').click(function(e){
         	e.preventDefault();
         	$('.key-allies').removeClass('active');
         	$(this).addClass('active');         	
         	var element = $(this).attr('href');
         	$('.key-allies-heading-content').find('.attribute-text').removeClass('active');
         	$(element).addClass('active');

         });
		$(".direction-learn-more-content div").each(function(){
				$(this).hide();
				if($(this).attr('id') == 'direction-reladed') {
				$(this).show();
			}
		});

		$('.direction-learn-more-headings div').on( "click", function(e) {
			e.preventDefault();
			var id = $(this).attr('data-related'); 
			$(this).addClass('active');
			$(this).siblings().removeClass('active');
			$(".direction-learn-more-content div").each(function(){
				$(this).hide();
				if($(this).attr('id') == id) {
				$(this).show();
				$(this).addClass('active');
				$(this).siblings().removeClass('active');
			}
			});
		});
		$('.direction-learn-more').click(function(){
			$(this).siblings('#learn-more-side-menu').addClass('active');
		});
		$('.close-direction').click(function(){
			$(this).parents('#learn-more-side-menu').removeClass('active');
		});
    });
</script>