// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Shopping cart
    //  ---------------------------------------------

    //  Summary block
    .cart-summary {
        &:extend(.abs-add-box-sizing all);
        .lib-css(background, @sidebar__background-color);
        margin-bottom: @indent__m;
        padding: 1px 15px @indent__m;

        > .title {
            display: block;
            .lib-heading(h3);
        }

        .block {
            &:extend(.abs-discount-block all);
            margin-bottom: 0;

            .item-options {
                margin-left: 0;
            }

            .fieldset {
                margin: 15px 0 @indent__m @indent__xs;

                .field {
                    margin: 0 0 @indent__s;

                    /*&.note {
                        font-size: @font-size__s;
                    }*/
					
					& > .label {
						font-weight: 400;
						letter-spacing: 0.4px;
					}
                }

                .methods {
                    .field {
                        > .label {
                            display: inline;
                        }
                    }
                }
            }

            .fieldset.estimate {
                > .legend,
                > .legend + br {
                    &:extend(.abs-no-display all);
                }
            }
        }
        .actions-toolbar {
            > .primary {
                button {
                    &:extend(.abs-revert-secondary-color all);
                }
            }
        }
        &:extend(.abs-adjustment-incl-excl-tax all);
    }

    //  Totals block
    .cart-totals {
        border-top: 1px solid @border-color__base;
        padding-top: @indent__s;
        &:extend(.abs-sidebar-totals all);

        .table-wrapper {
            margin-bottom: 0;
            overflow: inherit;
        }

        .discount.coupon {
            display: none;
        }
    }

    //  Products table
    .cart.table-wrapper {
        .items {
            thead + .item {
                border-top: @border-width__base solid @border-color__base;
            }

            > .item {
                border-bottom: @border-width__base solid @border-color__base;
                position: relative;
            }
        }

        .col {
            padding-top: @indent__base;

            &.qty {
                .input-text {
					box-sizing: border-box;
					height: 42px;
					margin: 0;
					padding: 0;
					width: 60px;
					&:extend(.abs-input-qty all);
                }

                .label {
                    &:extend(.abs-visually-hidden all);
                }
            }
        }

        .item {
            &-actions td {
                padding-bottom: @indent__s;
                text-align: center;
                white-space: normal;
            }

            .col {
                &.item {
                    display: block;
                    min-height: 75px;
                    padding: 20px 8px 10px !important;
                    position: relative;
                }
				
				&.price,
				&.subtotal {
					 span {
						display: inline-block;
						height: 42px;
						line-height: 34px;
						padding: 0;
						text-align: center;
						vertical-align: middle;
						width: 100%;
					}
				}
            }
        }

        .actions-toolbar {
            &:extend(.abs-add-clearfix all);

            > .action {
                &:extend(button all);
                .lib-link-as-button();
                margin-bottom: @indent__s;
                margin-right: @indent__s;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .action {
            &.help.map {
                &:extend(.abs-action-button-as-link all);
                font-weight: @font-weight__regular;
            }
        }

        .product {
            &-item-photo {
                display: block;
                left: 0;
                max-width: 60px;
                padding: 0;
                position: absolute;
                top: 15px;
                width: 100%;
            }

            &-item-details {
                white-space: normal;
            }

            &-item-name {
                display: inline-block;
                font-weight: @font-weight__regular;
                margin-top: 0;
            }
        }

        .gift-registry-name-label {
            &:after {
                content: ':';
            }
        }

        //  Product options
        .item-options {
            font-size: @font-size__s;
            margin-bottom: @indent__s;
            &:extend(.abs-product-options-list all);
            &:extend(.abs-add-clearfix all);
        }

        .product-item-name + .item-options {
            margin-top: @indent__s;
        }

        .product-image-wrapper {
            &:extend(.abs-reset-image-wrapper all);
        }

        .action.configure {
            display: inline-block;
            margin: 0 0 @indent__base;
        }
		
        .product-item-name {
            font-family: 'SofiaPro Black';
            text-transform: uppercase;
            font-size: 24px;
            letter-spacing: 1.8px;
			
			& > a {
				display: inline-block;
			}
        }
    }

    .cart-container {
        .form-cart {
            &:extend(.abs-shopping-cart-items all);
        }

        .checkout-methods-items {
            &:extend(.abs-reset-list all);
            margin-top: @indent__base;
            text-align: center;

            .action.primary {
                &:extend(.abs-button-l all);
                width: 100%;
            }

            .item {
                & + .item {
                    margin-top: @indent__base;
                }
            }
        }
    }

    //  Products pager
    .cart-products-toolbar {
        .toolbar-amount {
            margin: @indent__m 0 15px;
            padding: 0;
            text-align: center;
        }

        .pages {
            margin: 0 0 @indent__m;
            text-align: center;

            .items {
                > .item {
                    border-bottom: 0;
                }
            }
        }
    }

    .cart-products-toolbar-top {
        border-bottom: @border-width__base solid @border-color__base;
    }

    //
    //  Cross sell
    //  ---------------------------------------------

    .block.crosssell {
        margin-top: 70px;
    }

    .cart-tax-info,
    .cart .cart-tax-info {
        + .cart-tax-total {
            display: block;
        }
    }

    .cart.table-wrapper,
    .order-items.table-wrapper {
        .col.price,
        .col.qty,
        .col.subtotal,
        .col.msrp {
            text-align: center;
			padding-left: 0;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .cart {
        &.table-wrapper {
            overflow: inherit;

            thead {
                .col {
                    &:not(.item) {
                        display: none;
                    }
                }
            }

            .col {
                &.qty,
                &.price,
                &.subtotal,
                &.msrp {
                    box-sizing: border-box;
                    display: block;
                    float: left;
                    text-align: center;
                    white-space: nowrap;
                    width: 33%;

                    &:before {
                        content: attr(data-th) ':';
                        display: block;
                        font-weight: @font-weight__bold;
                        padding-bottom: @indent__s;
                    }
                }

                &.msrp {
                    white-space: normal;
                }
            }

            .item {
                .col.item {
                    padding-bottom: 0;
                }
            }
        }
    }

    .cart-container {
        .form-cart {
            &:extend(.abs-shopping-cart-items-mobile all);
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .cart-container {
        &:extend(.abs-add-clearfix-desktop all);
        .form-cart {
            &:extend(.abs-shopping-cart-items-desktop all);
        }

        .widget {
            float: left;
        }
    }

    .cart-summary {
        float: right;
        position: relative;
        width: 23%;

        .actions-toolbar {
            .column.main & {
                &:extend(.abs-reset-left-margin-desktop all);
                > .secondary {
                    float: none;
                }
            }
        }

        .block {
            .fieldset {
                .field {
                    .lib-form-field-type-revert(@_type: block);
                    margin: 0 0 @indent__s;
                }
            }
        }
    }

    .cart {
        &.table-wrapper {
            .items { // Google Chrome version 44.0.2403.107 m fix
                min-width: 100%;
                width: auto;
            }

            .item {
                .col {
                    &.item {
                        padding: 27px 8px @indent__s;
                    }
                }

                &-actions {
                    td {
                        text-align: right;
                    }
                }
            }

            .product {
                &-item-photo {
                    display: table-cell;
                    max-width: 100%;
                    padding-right: @indent__base;
                    position: static;
                    vertical-align: top;
                    width: 1%;
                }

                &-item-details {
                    display: table-cell;
                    vertical-align: top;
                    white-space: normal;
                    width: 99%;
                }
            }

            .item-actions {
                .actions-toolbar {
                    text-align: left;
                    &:extend(.abs-reset-left-margin-desktop all);
                }
            }
        }

        .action {
            margin-bottom: @indent__s;
        }
    }

    //  Products pager
    .cart-products-toolbar {
        .toolbar-amount {
            line-height: 30px;
            margin: 0;
        }

        .pages {
            float: right;
            margin: 0 0 1px;

            .item {
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .cart.table-wrapper {
        .cart-products-toolbar {
            + .cart {
                thead {
                    tr {
                        th.col {
                            padding-bottom: 7px;
                            padding-top: 8px;
                        }
                    }
                }
            }
        }

        .cart {
            + .cart-products-toolbar {
                margin-top: @indent__m;
            }
        }
    }
}
.checkout-cart-index {
    .cart-empty {
        padding-top: 140px;
        font-size: 20px;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 1.8px;
        text-align: center;
        a {
            text-decoration: underline;
        }
    }
    .cart-container {
        padding-top: 40px;
        padding-left: 56px;
        display: flex;
        flex-wrap: wrap;
        .cart-summary {
            float: none;
            width: 100%;
            order: 2;
            top: 0 !important;
            background: none;
            padding: 0;
            .summary {
                &.title {
                    text-align: center;
                    font-family: "SofiaPro Black";
                    font-size: 36px;
                    text-transform: uppercase;
                    background: #FFA300;
                    letter-spacing: 3.6px;
                    padding-top: 20px;
                    padding-bottom: 22px;
                    margin: 0;
                    margin-bottom: 40px;
                    position: relative;
                    z-index: 1;
                    &::after {
                        content: '';
                        position: absolute;
                        background: #fff;
                        width: 18%;
                        left: 50%;
                        bottom: 19px;
                        height: 15px;
                        transform: translate(-50%, -50%);
                        z-index: -1;
                    }
                }
            }
            #block-shipping, .discount {
                .title {
                    background: #743DBC;
                    font-family: "SofiaPro Black";
                    padding: 15px 20px;
                    margin-bottom: 25px;
                    strong {
                        font-size: 24px;
                        color: #fff;
                        font-weight: normal;
                        letter-spacing: 1.8px;
                        text-transform: uppercase;
                    }
                }
            }
        }
        .form-cart {
            float: none;
            width: 100%;
            order: 1;
            .cart {
                margin-bottom: 0;
                &.actions {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        border-bottom: solid 2px #000;
                        padding-bottom: 30px;
                        margin-bottom: 40px;
                        padding-top: 30px;
                        border: solid 2px #743DBC;
                    button, a {
                            background: #fff none repeat scroll 0 0;
                            border-radius: 0;
                            color: #000;
                            border: solid 2px #000;
                            display: inline-block;
                            font-size: 18px;
                            font-weight: normal;
                            line-height: 63px;
                            padding: 0 16px;
                            text-transform: uppercase;
                            vertical-align: middle;
                            height: 63px;
                            margin: 0 10px;
                        &::before {
                            line-height: 63px;
                        }
                    }
                    .cart-continue-container {
                        background: #000000 none repeat scroll 0 0;
                        border: medium none;
                        border-radius: 0;
                        color: #ffffff;
                        display: inline-block;
                        font-size: 20px;
                        font-weight: normal;
                        line-height: 63px;
                        padding: 0 18px;
                        text-transform: uppercase;
                        vertical-align: middle;
                        height: 63px;
                    }
                    .cart-continue {
                        font-family: 'Courier Sans Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                         font-size: 20px;
                    }
                }
            }
        }
    }
    #shopping-cart-table {
        border: solid 2px #743DBC;
        border-bottom: none;
        position: relative;
        .cart {
            &.item {
                border-bottom: none;
                .actions-toolbar {
                    .action-edit {
                        background: #fff none repeat scroll 0 0;
                        border-radius: 0;
                        color: #000;
                        display: inline-block;
                        font-size: 16px;
                        font-weight: normal;
                        line-height: 46px;
                        padding: 0 18px;
                        text-transform: uppercase;
                        vertical-align: middle;
                        letter-spacing: 1.6px;
                        border: solid 2px #000;
                    }
                    .action-delete {
                        background: #000000 none repeat scroll 0 0;
                        border: medium none;
                        border-radius: 0;
                        color: #ffffff;
                        display: inline-block;
                        font-size: 16px;
                        font-weight: normal;
                        line-height: 46px;
                        padding: 0 18px;
                        text-transform: uppercase;
                        vertical-align: middle;
                        letter-spacing: 1.6px;
                    }
                }
            }
        }
        thead {
            background: #FFA300;
            text-transform: uppercase;
            font-size: 20px;
            letter-spacing: 1.8px;
            position: relative;
            &::after {
               content: '';
                position: absolute;
                width: 89.5%;
                height: 10px;
                background: #743DBC;
                left: 19px;
                top: 34px;
                z-index: 1;
            }
            th {
                padding: 20px;
                z-index: 100;
                position: relative;
                color: #fff;
                font-size: 24px;
                font-family: "SofiaPro Black";
            }
        }
        .subtotal {
            border-right: solid 2px #743DBC;
        }
    }
}

.cart-summary .block > .title:after, .paypal-review-discount .block > .title:after { right: 0;  top: 15px; font-size: 64px; color: #fff;}

.abs-discount-block.active > .title:after, .cart-summary .block.active > .title:after, .paypal-review-discount .block.active > .title:after {
        transform: rotate(-90deg);
}

.cart-totals .amount, .opc-block-summary .table-totals .amount {
    font-family: "SofiaPro Black";
    font-size: 30px;
    letter-spacing: 0.42px;
    line-height: 20px;
	width: 150px;
}

.cart-totals .grand .amount strong, .opc-block-summary .table-totals .grand .amount strong {
    font-weight: normal;
}

.price-including-tax,
.price-excluding-tax {
	.price {
        font-family: "SofiaPro Black";
        font-size: 43px;
        letter-spacing: 0.72px;
        line-height: 10px;
        padding-left: 55px;
		font-weight: normal;
	}
}

.cart-container .checkout-methods-items .action.primary {
    background: #000000 none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    color: #ffffff;
    display: inline-block;
    font-size: 24px;
    font-weight: normal;
    line-height: 63px;
    padding: 0 30px;
    text-transform: uppercase;
    vertical-align: middle;
    width: 350px;
}
#shipping-zip-form {
    .field {
        float: left;
        width: 45%;
        &.note {
            clear: both;
            float: none !important;
			letter-spacing: 1.6px;
        }
        select {
            background: #ffffff none repeat scroll 0 0 padding-box;
            border: 2px solid #000000;
            border-radius: 0;
            box-shadow: none !important;
            box-sizing: border-box;
            display: inline-block;
            font-family: "Courier Sans Regular";
            font-size: 18px;
            height: 50px;
            letter-spacing: 0.45px;
            line-height: 50px;
            padding: 5px 18px;
            vertical-align: baseline;
            width: 100%;
        }
        label {
            font-weight: normal;
            margin: 0 0 13px;
            padding: 0;
            text-align: left;
            width: 100%;
        }
    }
    .field:nth-child(odd) {
        float: right;
    }
}
#co-shipping-method-form {
    .item-title {
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: 1.8px;
        margin-bottom: 20px;
    }
    .choice {
        float: left;
        margin-right: 25px !important;
    }
}
.checkout-index-index, .checkout-cart-index {
    .choice, .checkbox {
        float: left;
        position: relative;
        margin: 10px 0;

        &:before {
            content: none;
            padding: 0;
        }

        label {
            box-sizing: border-box;
            float: left;
            margin: 0;
            padding: 0 0 0 40px;
            position: relative;
            cursor: pointer;
            letter-spacing: 0.4px;

            &:before {
                border: 2px solid #000000;
                content: " ";
                height: 16px;
                left: 0;
                position: absolute;
                top: 50%;
                transform: translate(0px, -50%);
                width: 16px;
            }

            span {
                &.backstrip {
                    line-height: 13px;
                    vertical-align: middle;

                    &:after {
                        height: 13px;
                        max-width: 100%;
                    }
                }
            }
        }

        input {
            &.checkbox, &.radio {
                float: left;
                height: 100%;
                left: 0;
                margin: 0;
                opacity: 0;
                position: absolute;
                top: 0;
                width: 100%;

                &:checked {
                    & ~ label {
                        &:after {
                            background: rgba(0, 0, 0, 0) url("../images/right.png") no-repeat scroll center center / 12px auto;
                            content: " ";
                            height: 16px;
                            left: 2px;
                            position: absolute;
                            top: 50%;
                            transform: translate(0px, -50%);
                            width: 16px;
                        }
                    }
                }
            }
        }
    }
}