<div class="mobilebanner"><?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('mobile-sticky-image')->toHtml();?></div>
<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('mobile_home_banner')->toHtml();?>
<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('psa-simple-steps')->toHtml();?>
<div class="psaprechecksection">
	<div class="container">
		<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('psa-home-precheck-section')->toHtml();?>
	</div>
</div>
<div class="beengossiping">
	<div class="container">
		<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('psa-been-gossiping-section')->toHtml();?>
	</div>
</div>
<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('mobile-share-your-itgetsbetter-story')->toHtml();?>