<?php
/**
 * Copyright © 2018 TechNWeb, Inc. All rights reserved.
 * See TNW_LICENSE.txt for license details.
 */

/* @var $block \TNW\Subscriptions\Block\Subscription\Info\Billing */
?>
<div class="subscription-data-wrapper"
     data-mage-init='{"tnwSubscribeBilling":{
        "saveAddressUrl": "<?php echo $block->escapeUrl($block->getSaveAddressUrl()) ?>",
        "showEdit": "<?php echo $block->isShowEdit() ?>",
        "showEditDetails": "<?php echo $block->isShowEditDetails() ?>",
        "customerAddressesData": "<?php echo $block->escapeQuote($block->getCustomerAddressesData())?>",
        "emptyCountryLabel": "<?php echo __('Country') ?>"
    }}'>
    <?php echo $block->getTabMessagesHtml(); ?>
    <div class="grid-row">
        <div class="billing-info-content grid-col2-lg">
            <div id="billing-info-view"><?php echo $block->getBillingInfoViewHtml() ?></div>
            <div id="billing-info-edit" style="display: none"><?php echo $block->getBillingInfoEditHtml() ?></div>
        </div>
        <div class="payment-details-content grid-col2-lg">
            <div id="payment-details-view">
                <?php echo $block->getPaymentDetailsViewHtml() ?>
            </div>
            <div id="payment-details-edit">
                <?php echo $block->getPaymentDetailsEditHtml() ?>
            </div>
        </div>
    </div>
</div>
