<?php
/**
 * Copyright © 2018 TechNWeb, Inc. All rights reserved.
 * See TNW_LICENSE.txt for license details.
 */

/** @var $block TNW\Subscriptions\Block\Subscription\EditForm */
?>
<form class="<?php echo $block->getFormClass()?>"
      id="<?php echo $block->getFormId()?>"
      enctype="multipart/form-data"
      data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>"
      method="post">
    <?php echo $block->getFormContentHtml() ?>
    <div class="actions-toolbar">
        <div class="grid-row">
            <div class="primary grid-col2-xs">
                <button id="<?php echo $block->getSaveButtonId()?>"
                        class="action save primary"
                        title="<?php /* @escapeNotVerified */ echo __('Save') ?>">
                    <span><?php /* @escapeNotVerified */ echo __('Save') ?></span>
                </button>
            </div>
            <div class="secondary grid-col2-xs">
                <button id="<?php echo $block->getCancelButtonId()?>"
                        class="action cancel"
                        data-action="cancel"
                        title="<?php /* @escapeNotVerified */ echo __('Cancel') ?>">
                    <span><?php /* @escapeNotVerified */ echo __('Cancel') ?></span>
                </button>
            </div>
        </div>
    </div>
</form>
