<?php
/**
 * Copyright © 2018 TechNWeb, Inc. All rights reserved.
 * See TNW_LICENSE.txt for license details.
 */

/* @var $block \TNW\Subscriptions\Block\Subscription\Info\Items */
?>
<div id="subscription-products-data-wrapper" class="subscription-products-data-wrapper"
     data-role="loader-container"
     data-bind="scope:'products'">
    <!-- ko template: getTemplate() --><!-- /ko -->
    <script type="text/x-magento-init">
            {
                "#subscription-products-data-wrapper": {
                    "Magento_Ui/js/core/app": <?php /* @noEscape */ echo $block->getJsLayout(); ?>
                }
            }
    </script>
</div>
