<?php
/**
 * Copyright © 2018 TechNWeb, Inc. All rights reserved.
 * See TNW_LICENSE.txt for license details.
 */

/* @var $block \TNW\Subscriptions\Block\Subscription\Info\Shipment */
?>
<div class="subscription-data-wrapper"
     data-mage-init='{
        "tnwSubscribeShipment":{
            "saveAddressUrl": "<?php echo $block->escapeUrl($block->getSaveUrl()) ?>",
            "showEdit": "<?php echo $block->isShowEditAddress() ?>",
            "customerAddressesData": "<?php echo $block->escapeQuote($block->getCustomerAddressesData())?>",
            "emptyCountryLabel": "<?php echo __('Country') ?>"
        },
        "tnwSubscribeShipmentDetails":{
            "saveUrl": "<?php echo $block->escapeUrl($block->getSaveUrl()) ?>",
            "showEdit": "<?php echo $block->isShowEditDetails() ?>"
        }
     }'>
    <?php echo $block->getTabMessagesHtml(); ?>
    <div class="grid-row">
        <div class="shipping-info-content grid-col2-lg">
            <?php if ($block->canShowShippingAddressBlock()):?>
                <div id="shipping-info-view"><?php echo $block->getShippingInfoViewHtml() ?></div>
                <div id="shipping-info-edit" class="hidden"><?php echo $block->getShippingInfoEditHtml() ?></div>
            <?php endif;?>
        </div>
        <div class="shipping-details-content grid-col2-lg">
            <?php if ($block->canShowShippingDetailsBlock()):?>
                <?php echo $block->getShippingDetailsViewHtml() ?>
                <div id="shipping-details-edit" class="hidden"><?php echo $block->getShippingDetailsEditHtml() ?></div>
            <?php endif;?>
        </div>
    </div>
</div>
