<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Faq
 */
?>
<?php
/**
 * @var \Amasty\Faq\Block\Catalog\Product\Tab $block
 */
?>
<div class="amfaq-product-tab">
    <div class="block-title">
        <strong><?= $block->escapeHtml(__('Customer Questions')); ?></strong>
    </div>
    <?php
    echo $block->getChildHtml('amasty_faq_questions');
    if ($block->showAskQuestionForm()) {
        echo $block->getChildHtml('amasty_faq_ask_question_form');
    }
    ?>
</div>