<?php
/**
 * Copyright © 2018 TechNWeb, Inc. All rights reserved.
 * See TNW_LICENSE.txt for license details.
 */

/* @var $block \TNW\Subscriptions\Block\Product\View\Subscribe */
?>
<?php $block->getProduct()->setPriceCalculation()?>
<div class="subscribe-container">
    <div id="subscribe-container" data-bind="scope: 'recurringAddToCart'">
        <!-- ko template: getTemplate() --><!-- /ko -->
    </div>
    <script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "recurringAddToCart": {
                        "component": "TNW_Subscriptions/js/product/subscribe-component",
                        "config": {
                            "buttonLabel" : "<?php echo $block->escapeHtml(__('Subscribe')) ?>",
                            "dateFormat": "<?php echo $block->getDateFormat() ?>",
                            "minStartOn" : "<?php echo $block->getMinStartOn() ?>",
                            "defaultPeriod" : "<?php echo $block->getDefaultPeriod() ?>",
                            "defaultUntilCancelled" : "<?php echo $block->getDefaultUntilCancelled() ?>",
                            "defaultSubscribeQty" : "<?php echo $block->getDefaultSubscribeQty() ?>",
                            "defaultStartOn" : "<?php echo $block->getDefaultStartOn() ?>",
                            "products" : <?php echo $block->getProductDataArray() ?>
                        }
                    }
                }
            }
        }
    }
    </script>
    <?php
    echo $this->getLayout()
    ->createBlock('Magento\Cms\Block\Block')
    ->setBlockId('subscription_text')
    ->toHtml();
    ?>
</div>
