<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var  $block \Magento\Sales\Block\Order\Item\Renderer\DefaultRenderer */
$_item = $block->getItem();
?>
<div id="order-item-row-<?= /* @escapeNotVerified */ $_item->getId() ?>">
    <div id="my-orders-table">
        <div class="orderdetails">
            <div class="innerlist">
                <div class="heading col"><?= /* @escapeNotVerified */ __('Product Name') ?></div>
                <div class="col name" data-th="<?= $block->escapeHtml(__('Product Name')) ?>">
                    <span class="product name"><?= $block->escapeHtml($_item->getName()) ?></span>
                    <?php if ($_options = $block->getItemOptions()): ?>
                    <dl class="item-options">
                    <?php foreach ($_options as $_option) : ?>
                        <dt><?= $block->escapeHtml($_option['label']) ?></dt>
                        <?php if (!$block->getPrintStatus()): ?>
                            <?php $_formatedOptionValue = $block->getFormatedOptionValue($_option) ?>
                            <dd>
                                <?php if (isset($_formatedOptionValue['full_view'])): ?>
                                    <?= /* @escapeNotVerified */ $_formatedOptionValue['full_view'] ?>
                                <?php else: ?>
                                    <?= /* @escapeNotVerified */ $_formatedOptionValue['value'] ?>
                                <?php endif; ?>
                            </dd>
                        <?php else: ?>
                            <dd>
                                <?= nl2br($block->escapeHtml((isset($_option['print_value']) ? $_option['print_value'] : $_option['value']))) ?>
                            </dd>
                        <?php endif; ?>
                    <?php endforeach; ?>
                    </dl>
                    <?php endif; ?>
                    <?php $addtInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
                    <?php if ($addtInfoBlock) :?>
                        <?= $addtInfoBlock->setItem($_item)->toHtml() ?>
                    <?php endif; ?>
                    <?= $block->escapeHtml($_item->getDescription()) ?>
                </div>
            </div>
            <div class="innerlist">
                <div class="heading col"><?= /* @escapeNotVerified */ __('SKU') ?></div>
                <div class="col sku" data-th="<?= $block->escapeHtml(__('SKU')) ?>"><?= /* @escapeNotVerified */ $block->prepareSku($block->getSku()) ?></div>
            </div>
            <div class="innerlist">
                <div class="heading col"><?= /* @escapeNotVerified */ __('Price') ?></div>
                <div class="col price" data-th="<?= $block->escapeHtml(__('Price')) ?>">
                    <?= $block->getItemPriceHtml() ?>
                </div>
            </div>
            <div class="innerlist">
                <div class="heading col"><?= /* @escapeNotVerified */ __('Qty') ?></div>
                <div class="col qty" data-th="<?= $block->escapeHtml(__('Qty')) ?>">
                    <ul class="items-qty">
                    <?php if ($block->getItem()->getQtyOrdered() > 0): ?>
                        <li class="item">
                            <span class="title"><?= /* @escapeNotVerified */ __('Ordered') ?></span>
                            <span class="content"><?= /* @escapeNotVerified */ $block->getItem()->getQtyOrdered()*1 ?></span>
                        </li>
                    <?php endif; ?>
                    <?php if ($block->getItem()->getQtyShipped() > 0): ?>
                        <li class="item">
                            <span class="title"><?= /* @escapeNotVerified */ __('Shipped') ?></span>
                            <span class="content"><?= /* @escapeNotVerified */ $block->getItem()->getQtyShipped()*1 ?></span>
                        </li>
                    <?php endif; ?>
                    <?php if ($block->getItem()->getQtyCanceled() > 0): ?>
                        <li class="item">
                            <span class="title"><?= /* @escapeNotVerified */ __('Canceled') ?></span>
                            <span class="content"><?= /* @escapeNotVerified */ $block->getItem()->getQtyCanceled()*1 ?></span>
                        </li>
                    <?php endif; ?>
                    <?php if ($block->getItem()->getQtyRefunded() > 0): ?>
                        <li class="item">
                            <span class="title"><?= /* @escapeNotVerified */ __('Refunded') ?></span>
                            <span class="content"><?= /* @escapeNotVerified */ $block->getItem()->getQtyRefunded()*1 ?></span>
                        </li>
                    <?php endif; ?>
                    </ul>
                </div>
            </div>
            <div class="innerlist">
                <div class="heading col"><?= /* @escapeNotVerified */ __('Subtotal') ?></div>
                <div class="col subtotal" data-th="<?= $block->escapeHtml(__('Subtotal')) ?>">
                    <?= $block->getItemRowTotalHtml() ?>
                </div>
            </div>
            
            <div>
                <?php echo $this->getLayout()->createBlock("Magento\Sales\Block\Order\Totals")->setTemplate("Magento_Sales::order/totals.phtml")->toHtml();?>
            </div>

        </div>
    </div>   
</div>
