<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var \Magento\Theme\Block\Html\Header\Logo $block
 */
?>
<?php $storeName = $block->getThemeName() ? $block->getThemeName() : $block->getLogoAlt();?>
<span data-action="toggle-nav" class="action nav-toggle"><span><?= /* @escapeNotVerified */ __('Toggle Nav') ?></span></span>
<?php if ($block->isHomePage()):?>
    <strong class="logo">
<?php else: ?>
    <a class="logo" href="<?= $block->escapeUrl($block->getUrl('')) ?>" title="<?= /* @escapeNotVerified */ $storeName ?>">
<?php endif ?>
        <img src="<?= /* @escapeNotVerified */ $block->getLogoSrc() ?>"
             alt="<?= /* @escapeNotVerified */ $block->getLogoAlt() ?>"
             <?= $block->getLogoWidth() ? 'width="' . $block->getLogoWidth() . '"' : '' ?>
             <?= $block->getLogoHeight() ? 'height="' . $block->getLogoHeight() . '"' : '' ?>
        />
<?php if ($block->isHomePage()):?>
    </strong>
<?php else:?>
    </a>
<?php endif?>
<style>
.grecaptcha-badge {display: none !important;}
    .columns .main .products-grid.products .product-items.products .product-item {position: relative;}
    .pre-order-note {position: absolute; bottom: 8px; left: 56px; color: #000000; font-family: 'Courier Sans Regular'; font-size: 16px; letter-spacing: 0.9px; width: 100%;}
    .pre-order-note a {color: #000000;}
    .product-info-customsidebar .pre-order-note {position: relative; bottom: 0; left: 0; color: #000000;
    font-family: 'Courier Sans Regular'; font-size: 16px; letter-spacing: 0; width: 100%; line-height: normal; clear: both; padding-top: 15px;}

body.tnw_subscriptions-subscription-history .admin__data-grid-pager-wrap .selectmenu { padding: 0;}
body.tnw_subscriptions-subscription-history .page-main .admin__data-grid-pager input {width: 30px;min-width: auto;padding: 0;border: none;display: inline-block;font-size: 1.4rem;line-height: 1.36;padding-bottom: 0;padding-top: 0;line-height: 1;height: auto;}
body.tnw_subscriptions-subscription-history .page-main .admin__data-grid-pager {margin: 20px 0; display: block;}
body.tnw_subscriptions-subscription-history .admin__data-grid-pager .action-previous:before {content: '<' ;}

body.tnw_subscriptions-subscription-history .admin__data-grid-pager .action-next:before {content: '>';}
</style>
