// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  tab version theme overrides
//  _____________________________________________

@media only screen and (min-width: 0) and (max-width: 768px) {

div#mobile-widget-close {
    left: auto;
    right: 30px;
}

}



@media only screen and (min-width: 0) and (max-width: 767px) {

body {
	font-size: 14px;
	line-height: 20px;
}

.page-main {
	.container {
		padding: 0 10px !important;
		
		div#popup-box {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			position: fixed;
			width: 460px;
		}
	}
	
	input[type="text"],
	input[type="password"],
	input[type="url"],
	input[type="tel"],
	input[type="search"],
	input[type="number"],
	input[type="datetime"],
	input[type="email"] {
		font-size: 14px;
		letter-spacing: 0.4px;
		padding: 5px;
	}
	
	textarea {
		font-size: 14px;
		letter-spacing: 0.4px;
		padding: 5px;
	}	
}


.navigation,
.breadcrumbs,
.page-header .header.panel,
.header.content,
.footer.content,
.page-wrapper > .widget,
.page-wrapper > .page-bottom,
.block.category.event,
.top-container, .page-main {
	padding-left: 10px;
    padding-right: 10px;
}


#maincontent {
	.messages {
		.message {
			margin: 40px 0 20px;
			max-width: 100%;
			width: calc(~'(100% - 52px)');
		}
	}
}

.account {
	#maincontent {
		.messages {
			.message {
				width: 100%;
			}
		}
	}
}

	
/*===========================Custom Css for the header and footer sections===========================*/


/* Custom Css for the top bar*/


.page-header {
    border-bottom: 1px solid #d1d1d1;
	margin-bottom: 0;
}

.header-topbar {
	padding: 10px 30px;
}

.top-bar-close {
	font-size: 20px;
    line-height: 22px;
	
	.top-close {
		 left: 7px;
        top: -3px;
	}
}

.top-bar-cont {
	white-space: normal;
	
	a {
		max-width: 300px;
		padding: 0;
		width: 100%;
	}
	
	.top-label {
		font-size: 13px;
		letter-spacing: 1px;
		line-height: 18px;
		margin: 0 0 10px;
		padding: 0;
	}
}



/* Custom Css for the header*/

.logo-menu-bar {
	position: relative;
}

.custom-header-cont {
    box-sizing: border-box;
    height: 58px !important;
    padding-left: 10px;
    padding-right: 10px;
}

.menu-bar {
	.menu-logo {
		margin: 0;
		width: auto;
	}
	
	.menu-links {
		background: #fff none repeat scroll 0 0;
		box-sizing: border-box;
		height: 0;
		left: 0;
		overflow: hidden;
		padding: 0;
		position: absolute;
		top: 49px;
		transition: height 0.5s ease 0s;
		width: 100%;
		z-index: 4;
		
		&.active {
			height: 180px;
		}
	}
	
	.menu-items {
		padding: 10px 0;
	}
	
	.menu-item {
		margin: 0;
		padding: 5px 0;
		width: 100%;
	}
}

.main-logo {
	.action.nav-toggle {
		display: none !important;		
	}
}

.menu-toogler {
	cursor: pointer;
    display: inline-block !important;
    float: left;
    left: calc(~'(50% - 15px)');
    position: absolute;
    text-align: center;
    top: 5px;
    vertical-align: middle;
    z-index: 1;
}

.header-fixed-options {
	left: 10px;
	width: 42px;
}

.header-opt-boxes {
	.box-opt {
		img {
			width: 22px;
		}
		
		&.chat-box {
			a {
				padding: 10px 0 4px 0;
			}
		}
		
		&.diamond-box {
			a {
				padding: 10px 0 2px 0;
			}
		}
		
		&.user-box {
			a {
				padding: 7px 10px 1px;
			}
		}
	}
}

.minicart-box {
	.minicart-wrapper {
		.action {
			&.showcart {
				.text {
					padding: 10px 0 2px;
				}
			}
		}
	}
}



/* Custom Css for the header for product page only */

.catalog-product-view {
	
	#maincontent {
		.messages {			
			.message {
				margin: 40px 10px 20px;
				max-width: 100%;
				width: calc(~'(100% - 72px)');
			}
		}
	}
	
	.menu-bar {
		.menu-logo {
			margin: 0 !important;
			width: auto !important;
		}
	}
	
	.header-fixed-options {
		left: 10px;
		width: 42px;
	}

	.header-opt-boxes {
		.box-opt {
			img {
				width: 22px;
			}
			
			&.chat-box {
				a {
					padding: 10px 0 4px 0;
				}
			}
			
			&.diamond-box {
				a {
					padding: 10px 0 2px 0;
				}
			}
			
			&.user-box {
				a {
					padding: 7px 10px 1px;
				}
			}
		}
	}

	.minicart-box {
		.minicart-wrapper {
			.action {
				&.showcart {
					.text {
						padding: 10px 0 2px;
					}
				}
			}
		}
	}
}


/* Custom Css for the footer content */

.page-footer {
    display: inline-block;
    width: 100%;
	
	.footer.content {
		border: medium none;
		margin-top: 0;
	}
}


.footer-content-top {
	.newsletter {
		width: 100%;
		
		.block {
			width: 100%;
			
			&.newsletter {
				.action.subscribe {
					padding-right: 0;
				}
			}
		}
	}

	.footer_navigation {
		padding: 0;
		width: 100%;
		
		ul {
			padding: 0 10px 0 0;
			width: 50%;
			box-sizing: border-box;
			
			li {
				padding-bottom: 20px;
				
				a {
					letter-spacing: 0.4px; 
				}
			}
		}
	}
}


.footer-copyright {
    align-self: center;
    display: flex;
	flex-wrap: wrap;
    justify-self: center;
	
	.leftsection {
		box-sizing: border-box;
		display: flex;
		flex-wrap: wrap;
		float: left;
		order: 2;
		padding: 20px 0 0;
		width: 100%;
		
		img {
			max-width: 100px;
		}
		
		.copyright {
			font-size: 14px; 
			width: 100%;
		}
	}
	
	.rightsection {
		float: left;
		padding: 30px 0;
		width: 100%;
		
		img {
			max-width: 60px;
		}
	}
}


/*===========================Custom Css for the Home page Sections===========================*/


.cms-home {
	.column.main {
		overflow: hidden;
	}
}


.home-slider {
	.owl-item {
		.slide {
			.slide-content {
				.slide-title{
					line-height: 30px;
					font-size: 24px;
					
					.backstrip {
						 line-height: 20px;
						 
						 &:after {
							height: 10px;
						 }
					}
				}
				
				.slidetextsecound {
					letter-spacing: 1px;
					font-size: 20px;
				}
			}
		}
	}
}


.home-page-slider-container {
	.slide-left-sec {
		max-width: 100%;
		min-height: auto !important;
		width: 100%;
		
		.side-banner-cont {
			width: 100%;
		}
	}
	
	.slide-right-sec {
		max-width: 100%;
		width: 100%;
		padding-top: 30px;
	}
}



.psasimplesteps {
    padding-top: 30px;
	
	h2 {
		font-size: 24px;
		height: 28px;
		letter-spacing: 1.6px;
		
		 .backstrip {
			line-height: 24px;
			
			&:after {
				height: 10px;
			}
		 }
	}

	.listing {
		height: auto;
		width: 100%;
		
		a {
			float: left;
			position: relative;
			width: 100%;
		}
		
		.productimage {
			float: left;
			width: 100%;
		}
		
		.content {
			display: inline-block;
			left: 0;
			text-align: center;
			top: 50%;
			transform: translate(0px, -50%);
			vertical-align: middle;
			width: 100%;
		}
		
		.productimage {
			img {
				display: inline-block;
				vertical-align: middle;
				width: 100%;
				
				&.back {
					left: 0;
					position: absolute;
					top: 0;
				}
			}
		}
		
		.content {
			.stepcount {
				display: inline-block;
				font-size: 15px;
				height: 24px;
				line-height: 24px;
				margin: 15px 0;
				width: 140px;
			}
			
			.productname {
				display: inline-block;
				font-size: 40px;
				letter-spacing: 3px;
				line-height: 48px;
				margin: 0;
				width: 100%;
				
				.backstrip {
					line-height: 36px;
					
					&:after {
						height: 10px !important;
					}
				}
			}
			
			.homecommingsoon {
				.coming-soon {
					.outer-box {
						width: 100%;
						max-width: 264px;
						
						.coming-box {
							font-size: 18px;
							line-height: 46px;
							width: 100%;
						}
					}
				}
			}
		}
		
		&.maskandtone {
			.content {
				margin: 0;
				width: 100%;
				
				.productname {
					letter-spacing: 3px;
				}
			}
		}
	}
}


.psaprechecksection {
    margin-top: 50px;
    padding-top: 30px;
	
	h2 {
		font-size: 30px;
		letter-spacing: 1.6px;
	}
}


.beengossiping {
	h2 {
		font-size: 20px;
		letter-spacing: 0.4px;
		line-height: 20px;
		
		.backstrip {
			line-height: 20px;
			
			&:after {
				height: 7px;
			}
		}
	}
	
	.container {
		p {
			font-size: 20px;
			letter-spacing: 0.4px;
			line-height: 36px;
		}
	}	
}

.beengossipinginner {
    float: left;
    width: 100%;
}

.beengossiping {
	display: inline-block;
    width: 100%;
}


.shareyourstore {
	h2 {
		font-size: 28px;
		
		.backstrip::after {
			background: none;
		}
	}
}







/*===========================Custom Css for the Category page or shop page===========================*/

.category-view {
	.category-image {
		&.top-full-banner {
			width: 100%;
		}
	}

	#layered-filter-block {
		display: none;
	}
}

.catalog-category-view {
	.columns {
		max-width: 100%;
	}
}


.columns {
	.main {
		.products-grid {
			&.products {
				width: 100%;
				
				h1 {
					&.catrgory-main-heading {
						padding-bottom: 6px;
						
						.step-text {     
							font-size: 13px;
							height: 18px;
							letter-spacing: 1px;
							line-height: 18px;
							max-width: 90px;
							margin-top: 6px;
						}
						
						.category_name {
							font-size: 32px;
							letter-spacing: 2px;
							line-height: 48px;
							
							&.backstrip {
								&:after {
									bottom: 10px;
									height: 10px;    
								}
							}
						}
					}
				}
				
				.product-items {
					&.products {
						border: medium none;
						display: inline-block;
						margin: 0;
						vertical-align: middle;
						width: 100%;
						
						.product-item {
							border: medium none;
							box-sizing: border-box;
							padding: 40px 0 0;
							width: 100%;
														
							&:nth-child(2n+1) {
								border: medium none;
								border-bottom: 2px solid #707070;
								padding: 40px 0;
								
								.product-item-info {
									padding: 0;
								}
							}
							
							&:nth-child(2n) {
								.product-item-info {
									padding: 0;
								}
							}
							
							.product-item-info {
								display: inline-block;
								padding: 0;
								vertical-align: middle;
								
								.product-item-photo {
									display: inline-block;
									text-align: right;
									vertical-align: middle;
									width: 100%;
								}
								
								.product-image-container {
									vertical-align: middle;
								}
							}
						}
					}
				}
				
				.product-item {
					.product-item-name {
						font-size: 40px;
						height: 60px;
						left: -148px;
						letter-spacing: 4px;
						line-height: 60px;
						top: -178px;
						width: 300px;
						
						a {
							height: 60px;
							line-height: 60px;						
						}						
					}
				}
			}
			
			&.step-4 {
				.product-item:last-child {
					.product-item-name {
						margin: -1px 0 0;
					}
				}
			}
		}
	}
}



/*===========================Custom Css for the product page===========================*/

.catalog-product-view {	
	.product-media-container {
		img {
			width: 100%;
		}
	}
	.product-info-encaptulate {
			width: 100%;
	}
	
	
	.product-info-customsidebar {
		width: calc(~'(100% - 20px)');
		bottom: 0;
		box-sizing: border-box;
		left: 10px;
		margin: 0;
		max-width: 100%;
		top: auto;
		background: #fff none repeat scroll 0 0;
    		
		.box-tocart {
			width: calc(~'(100% - 80px)');
			
			.field {
				&.qty {
					width: 116px;
					
					button {
						font-size: 30px;
						height: 40px;
						line-height: 40px;
						max-width: 40px;
						width: 100%;
						float: left;						
						
						&#increment {
							border-right-width: 2px;
						}
						
						span {
							line-height: 24px;
						}
					}
					
					input.qty {
						font-size: 16px;
						height: 40px;
						letter-spacing: 0.4px;
						max-width: 36px;
						width: 100%;
						border-right-width: 0;
						border-left-width: 0;
					}
				}
			}
			
			.price-box-container {
				border-left-width: 0;
				border-right-width: 0;
				border-top-width: 2px;
				width: calc(~'(100% - 116px)');
			}
			
			.price-box {
				span {
					height: 36px;
					line-height: 36px;
					
					&.price {
						font-size: 15px;
						letter-spacing: 0px;
						line-height: 36px;
					}
				}
			}
		}
		
		.actions {
			border-right-width: 0;
			border-top-width: 2px;
			width: 40px;
		}
		
		.action {
			&.towishlist { 
				border-left-width: 2px;
				border-top-width: 2px;
				line-height: 36px;
				width: 40px;
				
				img {
					max-width: 20px;
				}
			}
		}
		
		button {
			&.tocart {
				height: 36px;
				width: 38px;
				
				img {
					width: 24px;
				}
			}
		}
		
		 .pro-action-section {
			width: 80px;
		}
	}
	
	#related-product-sec {
		width: 100%;
	}
	
	.pro-review-sec {
		width: 100%;
	}
}


.pro-info-block {
	.pro-bg-title {
		padding: 15px 15px 22px;
		
		.backstrip {
			font-size: 28px;
			letter-spacing: 1.6px;
			line-height: 28px;
			
			&:after {
				bottom: 2px;
				height: 10px;
			}
		}
		
		.subtitle {
			display: none;
		}

		.content-tab-toggler {
			height: 28px;
			line-height: 28px;
			
			&:after {
				font-size: 48px; 
			}
		}
	}
	
	&.pro-how-to-use-block {
		.pro-bg-title {
			.backstrip {
				&:after {
					width: calc(~'(100% - 13px)');
				}
			}
		}
	}

	.product-name-below-desc {
		margin: 30px 0 24px;
		font-size: 20px;
	}
	
	.product-info-content {
		&.product-how-to-use-content {
			max-height: none;
		}
	}
}


.lowdown-list {
	li {
		justify-content: left;
	}

	img {
		height: 60px;
		max-width: 60px;
	}

	span {
		margin: 10px 0 0;
		width: 90%;
		min-height: 50px;
	}
}


.key-ingredients-list {
	border: medium none;
    margin: 15px 0 0;
	
	li {
		border: 2px solid #707070;
		width: 50%;
		
		&:nth-child(even) {
			border-bottom: none;
		}

		&:nth-child(odd) {
			border-bottom: none;
			border-right: none;
		}

		&:nth-last-child(2) {
			border-bottom: 2px solid #707070;
		}

		&:last-child {
			border: 2px solid #707070;
		}
		
		span {
			min-height: 74px; 
		}
		
		.ing-info {
			left: 8px;
			width: calc(~'(200% - 16px)');
			padding: 10px;
			
			span {
				font-size: 13px;
			}
		}		
		
		&:nth-child(2n+1) {
			.ing-info {
				left: 8px;
				right: auto;
			}
		}
		
		&:nth-child(2n) {
			.ing-info {
				left: auto;
				right: 8px;
			}
		}	
	}
}

.purpose-list {
	border: medium none;
    margin: 15px 0 0;
	
	li {
		border: 2px solid #707070;
		width: 50%;
		
		&:nth-last-child(2) {
			border-bottom: 2px solid #707070;
			border-left: none;
		}
		
		&:nth-child(2n) {
			border-bottom: 2px solid #707070 !important;
		}

		&:nth-child(even) {
			border-bottom: none;
		}

		&:last-child {
			border-bottom: 2px solid #707070;
			border-top: none;
			border-right: 2px solid #707070;
			border-left: 2px solid #707070;
		}
		
		img {
			width: 120px;
		}
	}
}


.htu-step-list {
	li {
		width: 100%;
		border-right: none;
	}

	.step-count {
		width: 60px;
	}

	.step-info {
		width: calc(~'(100% - 70px)');
	}	
}


.pro-ingredients-set {
	 word-break: break-all;
    word-wrap: break-word;
}


.attribute-video {
	.video-play-btn {
		max-width: 100px;
	}
}


.catalog-product-view {
	#related-product-sec {
	
		.block-title {		
			strong {
				font-size: 30px;
			}
		}

		.product-items {
			.product-item {
				border-right: medium none;
				margin: 0 0 40px;
				padding: 0 0 40px;
				width: 100%;
				
				&:nth-child(2n+1) {
					border-right: medium none;
					padding: 0 0 40px;
				}
			}
		}
				
		.product-item-info {
			margin: 0;
		}
		
		.product-item-details {
			.product-item-name {
				font-size: 40px;
				height: 60px;
				left: -148px;
				letter-spacing: 4px;
				line-height: 60px;
				top: -178px;
				width: 300px;
				
				a {
					height: 60px;
					line-height: 60px;
				}
				
				&.product-midnightcourage {
					margin: -1px 0 0;
				}
			}
		}
	}
}


.pro-review-title { 
	padding: 26px 10px 28px;
}

.pro-review-cont {
	#stamped-main-widget {
		
		.stamped-summary-caption {
			.stamped-summary-text-1 {
				font-size: 24px !important;
			}
		}
		
		.summary-overview {
			max-width: 160px;
			
			.stamped-fa {
				&:before {
					font-size: 24px !important;
					line-height: 32px;
				}
			}
		}
			
		.stamped-review {
			.stamped-review-header {
				width: 30%;
			}
			
			.stamped-review-content {
				width: 70%;
			}
		}
		
		.stamped-review-header {
			.stamped-review-header-starratings {
				height: 30px;
				left: calc(~'(30% + 18px)');
				line-height: 44px;
				padding: 0 10px;
				
				.stamped-fa {
					&:before {
						font-size: 30px !important;
						height: 18px;
						line-height: 24px;
					}
				}
			}
		}
	}
}
	

.product-light-up {
	.htu-step-list {
		li:nth-child(3) {
			border-bottom: 2px solid #707070;
		}
	}
}


.product-heroine {
	.pro-info-block {
		.product-info-content {
			&.product-keyingredient-content {
				max-height: 800px;
			}
		}
		
		.key-ingredients-list {
			li {
				width: 50%;
				
				&:nth-child(3) {
					border-bottom: 2px solid #707070;
				}
				
				&:last-child {
					border-top-width: 0;
				}
			}
		}
		
		.htu-step-list {
			li:nth-child(3) {
				border-bottom: 2px solid #707070;
			}
		}
	}
}


.product-the-most {
	.pro-info-block {
		.htu-step-list {
			li:nth-child(1) {
				border-bottom: 2px solid #707070;
			}
		}
	}
}


.product-goals {
	.pro-info-block {
		.key-ingredients-list {
			li {
				width: 50%;
				
				label {
					letter-spacing: 0.4px;
				}
			}
		}
		
		.purpose-list {
			li {
				span {
					min-height: 74px;
				}
			}
		}		
	}
}


.product-do-it-all {
	.pro-info-block {
		.htu-step-list {
			li:nth-child(1) {
				border-bottom: 2px solid #707070;
			}
		}
	}
}


.product-midnight-courage {
	.purpose-list {
		li {
			span {
				min-height: 95px;
			}
		}
	}
}





/*===========================Custom Css for the cart page===========================*/


/* Custom Css for the minicart drop down in header*/

.block-minicart {
	&.empty {
		.subtitle {
			&.empty {
				display: inline-block;
				padding: 20px 0;
				vertical-align: middle;
				width: 100%;
				line-height: 20px;
			}
		}
	}
}

#btn-minicart-close {
	height: 20px;
    line-height: 20px;
    right: 0;
    top: 0px;
    width: 20px;
	
    &::before {
        content: "X";
		font-family: "SofiaPro Black";
		font-size: 14px;
		height: 20px;
		line-height: 16px;
		width: 20px;
    }
}



#minicart-content-wrapper {
	float: left;
    width: 100%;
	
	.minicart-items-wrapper {
		max-height: 280px;
	}
	
	.minicart-header {
		border-bottom: 2px solid #707070;
		box-sizing: border-box;
		display: none;
		padding: 15px 20px 10px;
		text-align: center;
		vertical-align: middle;
		width: 100%;
	}

	.minicart-cont-container {
		display: inline-block;
		max-width: 1156px;
		vertical-align: middle;
		width: 100%;
		margin: 0 auto;
	}

	.minicart-top-cont {
		float: left;
		width: 100%;
	}

	.minicart-label {
		float: left;
		font-size: 14px;
		letter-spacing: 1px;
		line-height: 20px;
		margin: 0 20px 0 0;
		text-align: left;
		text-transform: uppercase;
		vertical-align: middle;
		width: 76px;
		
		&.cart {
			margin: 0 20px 0 0;
			width: calc(~'(100% - 176px)');
		}
		
		&.price {
			margin: 0;
			text-align: right;
			width: 60px;
		}
	}
	
	.block-content {
		float: left;
		width: 100%;
	}
	
    .minicart-items-wrapper {
        border: 0 none;
		display: inline-block;
		margin: 0;
		overflow-x: auto;
		padding: 0;
		vertical-align: middle;
		width: 100%;
		max-height: 340px;
    }

    .cart-right-container {
		float: right;
		width: 100%;
		
        .items-total {
            align-items: center;
			display: flex;
			flex-wrap: wrap;
			justify-self: center;
			margin: 0;
			vertical-align: middle;
			width: 100%;
			height: 36px;
			box-sizing: border-box;
			padding: 0 20px;
			
			span {
				float: left;
				font-size: 14px;
				letter-spacing: 1px;
				line-height: 36px;
				margin: 0 20px 0 0;
				text-align: left;
				text-transform: uppercase;
				width: calc(~'(100% - 80px)');
				
				&.count {
					float: right;
					font-family: "SofiaPro Black";
					font-size: 20px;
					font-weight: normal;
					height: 36px;
					letter-spacing: 0.72px;
					line-height: 28px;
					margin: 0;
					order: 2;
					text-align: right;
					width: 60px;				
				}
			}
        }
		
        .subtotal {
			align-items: center;
			display: flex;
			flex-wrap: wrap;
			justify-self: center;
			margin: 0;
			vertical-align: middle;
			width: 100%;
			height: 36px;
			box-sizing: border-box;
			padding: 0 20px;
			
			span {
				float: left;
				font-size: 14px;
				letter-spacing: 1px;
				line-height: 36px;
				margin: 0 20px 0 0;
				text-align: left;
				text-transform: uppercase;
				width: calc(~'(100% - 80px)');
				
				&:after {
					content: none;
				}
			}
			
            .price-container {
				float: right;
				text-align: right;
				width: 60px;
				
				span {
					float: right;
					margin: 0;
					text-align: right;
					width: auto;
					
					&.price {
						font-family: "SofiaPro Black";
						font-size: 20px;
						font-weight: normal;
						height: 36px;
						letter-spacing: 0.35px;
						line-height: 28px;
					}
				}
			}
        }
		
        .actions {
            align-items: center;
			display: flex;
			flex-wrap: wrap;
			justify-self: center;
			margin: 0;
			vertical-align: middle;
			width: 100%;
			height: 24px;
			box-sizing: border-box;
			padding: 0 20px;
			
            .primary {
				float: left;
				width: auto;
				margin: 0 20px 0 0;

                button {
					background: #000000 none repeat scroll 0 0;
					border: medium none;
					border-radius: 0;
					box-sizing: border-box;
					color: #ffffff;
					display: inline-block;
					font-size: 12px;
					font-weight: normal;
					letter-spacing: 1.4px;
					line-height: 20px;
					padding: 0;
					text-transform: uppercase;
					vertical-align: middle;
					width: 156px;
					margin: 0;
                }
            }
			
            .secondary {
				float: right;
				margin: 0;
				width: calc(~'(100% - 176px)');
				
				a {
					color: #000;
					float: right;
					font-size: 12px;
					font-weight: normal;
					letter-spacing: 1px;
					line-height: 18px;
					padding: 0;
					text-align: right;
					text-decoration: underline;
					text-transform: uppercase;
					vertical-align: middle;
					width: auto;
					
					&:hover {
						text-decoration: none;
					}
                }
            }
        }
    }
	
	.cart-right-col {
		border-bottom: 2px solid #000000;
		float: left;
		padding: 18px 0;
		width: 100%;
		
		&:last-child {
			border-bottom: medium none;
		}
	}
}



#mini-cart {
	display: inline-block;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: 100%;
	
	li {
		&.item {
			border-bottom: 2px solid #000;
			box-sizing: border-box;
			display: inline-block;
			padding: 15px 20px 18px;
			vertical-align: middle;
			width: 100%;
			text-align: center;
			position: relative;
		}
	}
	
	.product-item-name {
		float: left;
		font-family: "Courier Sans Regular";
		font-size: 14px;
		letter-spacing: 1px;
		line-height: 20px;
		margin: 0 20px 0 0;
		max-width: 568px;
		position: static;
		text-align: left;
		transform: none;
		width: calc(~'(100% - 176px)');
		
		a {
			color: #000000;
		}
	}
	
	.product-item-pricing {
		float: left;
		margin: 0 20px 0 0;
		width: 76px;
		box-sizing: border-box;
		
		&.minicart-pro-box {
			margin: 0;
			text-align: right;
			width: 60px;
			min-width: 60px;
		}
		
		.pro-price {
			float: right;
			width: auto;
			
			.price-container {
				float: right;
				width: auto;
			}
			
			span {
				float: right;
				margin: 0;
				padding: 0;
				width: auto;
			}
			
			.price {
				display: inline-block;
				font-family: "SofiaPro Black";
				font-size: 20px;
				height: 22px;
				letter-spacing: 0.35px;
				line-height: 18px;
				padding: 0;
				vertical-align: middle;
				width: auto;
				font-weight: normal;
			}
		}
	}
	
	.product {
		&.actions {
			display: inline-block;
			height: 20px;
			margin: 0;
			position: absolute;
			right: 20px;
			text-align: center;
			top: 18px;
			width: 20px;
			
			.primary,
			.secondary {
				float: right;
				text-align: center;
				width: 100%;
				line-height: 20px;
				position: relative;
			}

			.action {
				&.edit {
					display: none;
				}
				
				&.delete {
					&:before {
						font-size: 30px;
						line-height: inherit;
						position: absolute;
						left: 50%;
						top: 0;
						transform: translate(-50%, 0);
					}
				}
			}
		}
	}	
}


.minicart-wrapper {
	.item-added {
		#minicart-content-wrapper {
			.minicart-header {
				display: inline-block;
			}
		}		
	}
}

.minicart-wrapper {
	.block-minicart {
		.product-item-pricing {
			.details-qty {
				order: 1;
				margin: 0 0 3px;
				
				.control {
					align-self: center;
					display: flex;
					flex-wrap: wrap;
					justify-self: center;
					vertical-align: middle;
					width: 100%;
					
					button {
						background: none;
						border: solid 1px #000;
						border-radius: 0;
						width: 34px;
						font-family: "SofiaPro Black";
						font-size: 25px;
						vertical-align: top;
						display: inline-block;
						color: #000;
						padding: 0 0 11px 0;
						float: left;
						height: 34px;
						line-height: 0;
						order: 2;
					}
					
					input {
						background: none;
						border: solid 1px #000;
						border-radius: 0;
						width: 34px;
						height: 33px;
						font-size: 12px;
						vertical-align: text-top;
						display: inline-block;
						color: #000;
						margin: 0 20px 0 0;
						float: left;
						border-bottom: 0;
						order: 1;
						clear: both;
						padding: 0;
					}
					
					.more {
						order: 1;
						border-right: 0;
						width: 33px;
						clear: left;
					}
				}
			}
		}
	}
}


/* Custom Css for the cart page content*/

.checkout-cart-index {
	.cart-container {
		padding-left: 0;
		
		.form-cart {
			.cart {
				&.actions {
					justify-content: center;
					border: none;
					border-bottom: solid 1px #000;
					
					.action {
						margin: 10px;
					}
				}
			}
		}
	}
	
	#shopping-cart-table {
		border: medium none;
		
		.cart {
			&.item {
				border-bottom: 1px solid #000000;
			}
		}
		 
		thead {
			th {
				 text-align: center;
			}
		}
		
		.subtotal {
			border-right: medium none;
		}
	}
}


.cart {
	&.table-wrapper {
		.item {
			.col {
				&.price,
				&.subtotal {
					span {
						font-size: 24px;
					}
				}
			}
		}

		.product-item-photo {
			display: inline-block;
			padding: 0 10px 0 0;
			position: static;
			vertical-align: middle;
			white-space: nowrap;
		}

		.product-item-details {
			display: inline-block;
			vertical-align: middle;
			white-space: normal;
			width: calc(~'(100% - 80px)');
		}
	}
}

#shipping-zip-form {
	.field {
		&.note {
			width: 100%;
		}
	}
}







/*===========================Custom Css for the checkout page===========================*/

.checkout-index-index {
	.page-main {
		padding-top: 40px;
	}
	
	.choice,
	.checkbox {
		margin: 0;
	}
	
	.form-login {
		.feedback {
			top: 48px !important;
			background-size: 14px auto !important;
		}
	}
}


.validator {
	&.validator-phone {
		&.validation-no,
		&.validation-yes {
			.feedback {
				right: 9px !important;
				top: 52px !important;
			}
		}
	}
}


.opc-progress-bar {
	margin: 30px 0 10px;
    width: 100%;
}


.opc-progress-bar-item {
	display: none;
	width: auto;
	
	&:before {
		bottom: 13px;
	}
	
	&._active {
		display: inline-block;
	}

	.checkout-container {
		.opc-estimated-wrapper {
			margin: 0 0 15px;
		}
	}
	
	& > span {
		font-size: 24px;
		letter-spacing: 1.6px;
	}
}


.opc-estimated-wrapper {
    border-bottom: 1px solid #707070;
    margin: 0 0 15px 0;
    padding: 18px 0;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    box-sizing: border-box;
    position: relative;
    border-top: 1px solid #707070;
	
	.estimated-block {
		font-size: 16px;
		font-weight: normal;
		float: left;
		width: 100%;
		line-height: 24px;
		letter-spacing: 0.35px;
		
		.estimated-label {
			display: inline-block;
			margin: 0;
		}

		.estimated-price {
			float: right;
		}
	}

	.minicart-wrapper {
		margin: 0;
		position: absolute;
		right: 0;
		top: -60px;
		z-index: 1;
		
		button.action.showcart {
			border-radius: 0;
			border: none;
			background: #000000;
			padding: 0 5px;
			vertical-align: middle;
			height: 32px;
			
			&:before {
				color: #ffffff;
				font-size: 28px;
				line-height: 32px;
			}
			
			span.counter.qty {
				background: none;
				border: none;
				margin: 0;
				padding: 0;
				font-weight: normal;
				width: auto;
				height: 32px;
				line-height: 32px;
				
				&:before {
					content: "(";
				}
				
				&:after {
					content: ")";
				}
			}				
		}
	}
}


.opc-wrapper {
	.step-title {
		font-size: 30px;
		letter-spacing: 1.6px;
		
		&:after {
			width: 310px;
		}
	}
	
	.form-login {
		border-bottom-width: 0px;
	}
}


#checkout-step-shipping_method {
	.actions-toolbar {
		position: static;
	}
}


.form-shipping-address {
	.field-tooltip-action {
		margin-right: 0;
		margin-top: 0;
	}
	
	.validator-phone {
		input {
			padding: 5px 30px 5px 10px !important;
		}
	}
	
	#shipping-new-address-form {
		.field {
			.control {
				input {
					margin: 0;
					width: 100%;
				}
			}
		}
	}
}



/* Custom Css for the sidebar order review content*/

.opc-sidebar {
	.opc-block-summary {
		& > .title {
			letter-spacing: 1.6px;
			font-size: 32px;
			
			&:after {
				width: 290px;
				bottom: 17px;
			}
		}
		
		.table-totals {
			display: table;
			margin: 0 15px;
			padding: 0;
			width: calc(~'(100% - 30px)');
			
			.amount {
				font-size: 24px;
				padding-right: 0 !important;
				width: 90px;
			}
			
			.mark {
				font-weight: 400;
				padding-left: 0;
				width: 180px;
			}
		}
	}
}

.opc-block-shipping-information {
    padding: 0 15px;
}



/*===========================Custom Css for the cms pages===========================*/

/* Custom Css for the Our Story Page*/


.cms-our-story {
	.psadifference {
		padding: 80px 0 24px 0;
		margin-top: 20px;
		
		.innersection {
			padding: 0;
			
			h2 {
				font-size: 28px;
				line-height: 32px;
				letter-spacing: 1.6px;
				
				.backstrip {
					&:after {
						height: 8px;
						bottom: 4px;
					}
				}
			}
		}
	}
	
	.precheckourstory {
		padding-left: 0;
		
		.modalbox {
			padding: 10px;
			
			.closebutton {
				right: 10px;
				top: 10px;
				font-size: 24px;
				line-height: 24px;
			}
			
			h2 {
				font-size: 28px;
				line-height: 28px;
				letter-spacing: 1.6px;
				
				.backstrip {
					line-height: 28px;
					height: 28px;
					
					&:after {
						bottom: 2px;
						height: 10px;
					}
				}
			}
			
			p {
				font-size: 14px;
				line-height: 24px;
				letter-spacing: 0.28px;
				padding-top: 18px;
				padding-bottom: 20px;
			}
		}
	}
	
	.keetatitsection {
		.innersection {
			padding-left: 0;
			
			.leftsection {
				width: 100%;
				padding-top: 50px;
			}
		}
		
		.itgetbeter {
			display: none;
		}
	}

	.thevaluesection {
		height: 260px;
		
		h2 {
			top: 14.5%;
		}
	}
	
	.theplanetsection {
		margin: -130px auto auto;
		padding-left: 0;
		
		.innersection {
			.leftsection {
				width: 100%;
				
				h2 {
					padding-top: 0;
				}
			}
			
			.rightsection {
				width: 100%;
			}
		}

		.bottomsection {
			padding: 25px 0 0;
				
			.list {
				width: 100%;
				
				img {
					width: 70px;
				}

				p {
					padding-left: 15px;
					width: calc(~'(100% - 80px)');
				}
			}
		}
		
		.crueltyfreesction {
			.crueltyleft {
				max-width: 100%;
				
				 p {
					br {
						display: none;
					}
				}
			}
			
			.crueltyright {
				width: 100%;
				text-align: center;
			}
		}
	}
}


.ourstorysection {
	
	.fr,
	.fl {
		max-width: 70%;
	}

	.storynavigation {
		display: none;
	}
	
	.storyrightsection {
		.ourstorybanner {
			
			.topheading {
				display: none;
			}
			
			.bottomheading {
				display: none;
			}
		}
		
		.screenposterone {
			margin-top: -40px;
			
			.content {
				top: 50%;
				transform: translate(0, -50%);
				
				h2 {
					font-size: 20px;
					line-height: 28px;
					letter-spacing: 0.6px;
					margin: 0;
					padding: 0;
					
					.count {
						line-height: 18px;
					}
					
					.backstrip {
						line-height: 28px;
						
						&:after { 
							bottom: 4px;
							height: 8px;
						}
						
						&.count {
							&:after {
								bottom: 8px;
							}
						}
					}
				}
				
				&.postiontop {
					top: 50%;
				}
				
				&.screenposterTpostion {
					top: 50%;
				}

				&.fivthsection {
					top: 50%;
				}
			}
			
			&.screenposterS {
				margin-top: -40px;
			}

			&.screenposterT {
				margin-top: -40px;
			}
	
			&.screenposterF {
				margin-top: -40px;
			}
			
			&.screenposterFi {
				margin-top: -40px;
			}
		}


		.positionright {
			&.postionfour {
				top: 50%;
				right: 10px; 
			}
		}
	}
}



/* Custom Css for the NO Filter Page*/

.cms-nofilter {
	.page-main {
	
		.notfilterpage {
			.nofiltertop {
				padding-top: 38px;
				padding-left: 50px;
				
				h2 {
					font-size: 26px;
					letter-spacing: 0.6px;
					
					span.backstrip {
						line-height: 28px;
						
						&:after {
							height: 10px;
							bottom: 2px;
						}
					}
				}
				
				p {
					br {
						display: none;
					}
				}
			}
		}

		.nofilterlist {
			padding-top: 70px;
			
			.listsection {
				.leftsection {
					float: left;
					margin: 0 0 40px;
					width: 100%;
				}
				
				.heading {
					width: 100%;
				}
				
				.nofilterheading {
					display: none;
				}
				
				.rightsection {
					width: 100%;
				}
				
				.list {
					img {
						display: inline-block;
						vertical-align: middle;
						width: 100%;
					}
				}
			}
		}
	}
}


/* Custom Css for the Jumpstart your glow Page*/

.jumpstartglow {
	padding-left: 50px;
	box-sizing: border-box;

	.yourglowsection {
	
		h2 {
			font-size: 42px;
			line-height: 60px;
			letter-spacing: 2px;
			
			.backstrip {
				height: 36px;
				vertical-align: top;
				line-height: 34px;
				
				&:after {
					bottom: 0;
					height: 10px;
				}
			}
		}

		p {
			br {
				display: none;
			}
		}
	}

	.dewydos-section {
		padding-top: 60px;
		
		.listingsection {
		
			.leftpart {
				max-width: 100%;
			}

			.rightpart {
				max-width: 100%;
			}

			.list {
				.leftimgsection {
					width: 60px;
				}

				.content {
					padding-left: 15px;
					max-width: 100% !important;
					width: calc(~'(100% - 80px)');
					
					.heading {
						font-size: 16px;
						letter-spacing: 1px;
						line-height: 24px;
					}
				}
			}
		}
	}
}



/* Custom Css for the Get Schooled Page*/

.get-schooled-grid-content {
	width: 100%;
    padding: 0 0 0 45px;
    box-sizing: border-box;
	
	.top-heading {
		h2 {
			font-size: 30px;
			letter-spacing: 0px;
			line-height: 32px;
		}
		
		.backstrip {
			line-height: 32px;
			
			&:after {
				height: 10px;
				bottom: 4px;
			}
		}
	}
}



/* Custom Css for the CMS content Pages*/

.faqpagesection {
	&.privacypolicecount {
		box-sizing: border-box;
		padding-left: 50px;
    }

	.parent-accordion { 
		font-size: 24px;
		letter-spacing: 1.6px;
		line-height: 36px;
		
		.backstrip {
			line-height: 36px;
			max-width: calc(~'(100% - 50px)');
			
			&:after {
				content: none;
			}
		}
	}

	.childcontent {
		&.privacy-policy {
			.accordion { 
				font-size: 24px;
				letter-spacing: 1.6px;
				line-height: 36px;
				
				.backstrip {
					line-height: 36px;
					max-width: calc(~'(100% - 50px)');
					
					&:after {
						content: none;
					}
				}
			}
		}
	}
	
	.topheading {
		font-family: "SofiaPro Black";
		font-size: 32px;
		letter-spacing: 1px;
		line-height: 34px;
		
		.backstrip {
			height: 34px;
			line-height: 34px;
			
			&:after {
				bottom: 2px;
				height: 10px;
			}
		}
	}
	
	.faqlistingsection {
		.conciergesection {
			h2 {
				font-family: "SofiaPro Black";
				font-size: 24px;
				letter-spacing: 3px;
				line-height: 36px;
				
				.backstrip {
					height: 36px;
					line-height: 36px;
					
					&:after {
						bottom: 6px;
						height: 10px;
					}
				}
			}
		}
	}
}


.cms-psa-faq {
	.faqpagesection {
		box-sizing: border-box;
		padding-left: 50px;
	}
}


.press-index-index {
	.press-section {
		
		.presstophead {
			font-size: 54px;
			letter-spacing: 2px;
			line-height: 64px;
			padding-left: 50px;
			
			.backstrip {
				height: 30px;
			}
		}

		.pressinnercount {
			.press-list {
				margin-left: 5px;
				margin-right: 5px;
				width: calc(~'(50% - 9px)');
				
				&:nth-child(3n) {
					margin-right: 5px;
				}

				&:nth-child(2n) {
					margin-right: 0;
				}
				
				&:nth-child(2n+1) {
					margin-left: 0;
				}

				.text-press {
					a {
						font-size: 14px;
						line-height: 20px;
					}
				}
			}
		}
	}
}


.psacontactus {
	padding-left: 50px;
	
	.needtotalk {
		font-size: 40px;
		letter-spacing: 2px;
		line-height: 60px;
		
		.backstrip {
			height: 36px;
			line-height: 36px;
			
			&:after {
				bottom: 0;
				height: 10px;
			}
		}
	}

	.information {
		padding-left: 0;
		
		.sayhello {
			font-size: 24px;
			
			.backstrip::after {
				content: none;
			}
		}
		
		p {
			br {
				display: none;
			}
		}
	}
}




/*===========================Custom Css for the login/Register pages===========================*/


.login-container {
    box-sizing: border-box;
    padding-left: 50px;
    width: 100%;
}


.register-container {
	box-sizing: border-box;
    padding-left: 50px;
    width: 100%;
}


#block-customer-register-heading,
#block-customer-login-heading {
	font-size: 44px;
    letter-spacing: 1px;
    line-height: 60px;
	
	.backstrip {
		height: 42px;
		line-height: 42px; 
		
		&:after {
			height: 15px;
		}
	}
}


.forgotpassword {
	form.forget {
		min-width: 100% !important;
	}
	
	#block-customer-login-heading {
		font-size: 32px;
		
		.backstrip {
			height: 36px;
			line-height: 36px;
			
			&:after {
				bottom: 3px;
				height: 10px;
			}
		}
	}
}


.page-main {
	.forgotpassword {
		.actions-toolbar {
			button.action.primary {
				padding: 0 10px !important;
			}
		}
	}
}



/*===========================Custom Css for the user dashboard===========================*/

/* Custom Css for the My Account Page*/

.account {
	.page-main {
		padding-left: 60px; 
		
		.sidebar-main {
			order: 0;
			position: static;
			width: 100% !important; 
		}
		
		.column.main {
			width: 100% !important;
		}
	}

	.customer-name-show {
		p:first-child {
			font-size: 20px;
		}
		
		p:last-child {
			font-size: 24px;
			letter-spacing: 1px;
		}

		.backstrip {
			height: 30px;
			line-height: 30px;
			vertical-align: middle;
			
			&:after {
				bottom: 4px;
				height: 10px;
			}
		}
	}
	
	.edit-customer-info-container{
		padding-top: 50px;
		
		.left-edit-container {
			max-width: 100%;
			width: 100%;
			margin: 0 0 20px;
		}
		
		.right-edit-container {
			max-width: 100%;
			width: 100%;
		}
		
		.left-conatiner {
			margin-right: 15px;
			max-width: 50px;
		}		

		.right-container {
			float: left;
			width: calc(~'(100% - 75px)');
			
			span {
				display: inline-block;
				vertical-align: top;
				width: 100%;
				word-wrap: break-word;
			}

			a {
				display: inline-block;
				vertical-align: middle;
				font-size: 22px;
				width: 100%; 
				
				span {
					font-size: 22px;
					height: 30px;
					line-height: 30px;
					width: auto;
					  
					&:after {
						bottom: 5px;
						height: 8px;
					}
				}
			}
		}
	}
}


.account-nav {
	.content {
		padding: 15px;
		box-sizing: border-box;
		margin: 0 0 15px;
	}
}


/* Custom Css for the My Orders Page*/

#my-orders-table {
	.orderdetails {
		box-sizing: border-box;
		width: 100%;
		
		.innerlist {
			.actions {
				font-size: 18px;
				letter-spacing: 1.6px;
				
				a {
					font-size: 18px;
					letter-spacing: 1.6px;
				}
			}
			
			.reviewcount {
				font-size: 18px;
				letter-spacing: 1.6px;
				line-height: 28px;
			}
			
			.heading {
				font-size: 16px;
			}
		}
		
		.trackyouorder {
			font-size: 18px;
			letter-spacing: 1.6px;
		}
	}
	
	.orderhistaction {
		.view,
		.order {
			font-size: 18px;
			letter-spacing: 1.6px;
			line-height: 28px;
		}
		
		.actiontop {
			font-size: 18px;
			letter-spacing: 1.6px;
		}
	}
}


.block-dashboard-orders {
	.block-title {
		&.order {
			font-size: 24px;
			letter-spacing: 0.4px;
			
			a {
				font-size: 14px;
			}
		}

		.backstrip {
			&:after {
				bottom: 5px;
				height: 10px;
			}
		}
	}
}


.block-order-details-view {
	.block-content {
		.box {
			width: 100%;
		}
	}

	.block-title {
		font-size: 24px;
		letter-spacing: 1.6px;
		
		.backstrip {
			height: 30px;
			line-height: 30px;
			vertical-align: middle;
			
			&:after {
				 bottom: 5px;
				height: 10px;
			}
		}
	}
}


.order-details-items {
	&.ordered {
	
		.table-wrapper {
			&.order-items {
				& > div {
					width: 100%;
					text-align: center;
					
					&:nth-child(2n) {
						text-align: center;
					}
				}
			}
		}
	}

	.actions-toolbar {
		display: inline-block;
		padding-top: 0;
		width: 100%;
		
		.secondary {
			a {
				width: auto;
				box-sizing: border-box;
			}
		}
	}
	
	.odredviewtitile {
		font-size: 24px;
		letter-spacing: 1.6px;
		
		.backstrip {
			height: 30px;
			line-height: 30px;
			vertical-align: middle;
			
			&:after {
				 bottom: 4px;
				height: 10px;
			}
		}
	}
}


/* Custom Css for the My wishlist Page*/

#wishlist-view-form {
	
	.products-grid {
		&.wishlist {
			display: inline-block;
			margin: 0;
			vertical-align: middle;
			width: 100%;
		}
	}
	
	.product-items {
		display: inline-block;
		margin: 10px 0 0;
		vertical-align: middle;
		width: 100%;
		
		.product-item {
			border-bottom: 2px solid #707070;
			border-right: medium none;
			border-top: medium none navy;
			margin: 0 0 30px;
			padding: 0 0 30px;
			vertical-align: middle;
			width: 100%;
		}
		
		.product-item-info {
			display: inline-block;
			vertical-align: middle;
			width: 100%;
		}
	}

	.product-item-info {
		.product-item-photo {
			margin: 0 0 15px;
		}
		
		.product-image-container {
			max-width: 75%;
		}
		
		.product-short-dec {
			display: inline-block;
			vertical-align: middle;
			width: 100%;
		}
		
		.product-item-inner {
			display: inline-block;
			vertical-align: middle;
			width: 100%;
		}
		
		.wishlistbottmcount {
			display: inline-block;
			vertical-align: middle;
			width: 100%;
			
			.product-feat {
				box-sizing: border-box;
				float: left;
				width: 100%;
			}
			
			.box-tocart {
				float: left;
				margin: 0;
				width: 100%;
			}
			
			.fieldset {
				float: left;
				letter-spacing: 0;
				margin: 0;
				width: 100%;
			}
		}
		
		.product-item-actions {
			align-self: center;
			display: flex;
			flex-wrap: wrap;
			justify-self: center;
			vertical-align: middle;
			width: 100%;
			
			.product-currency {
				margin: 0;
				padding: 18px 0 0;
			}
			
			.actions-primary {
				margin: 0;
				padding: 4px 0;
			}
			
			.eye-icon {
				margin: 0;
				padding: 16px 0 0;
			}
		}
		
		.product-item-name {
			bottom: 92px;
			font-size: 40px;
			height: 60px;
			hyphens: none;
			left: -114px;
			letter-spacing: 4px;
			line-height: 60px;
			margin: 0;
			top: auto;
			width: 250px;
		}
	}
}



/* Custom Css for the My Address book Page*/

.block-addresses-default {	
	.block-title {
		font-size: 28px;
		letter-spacing: 1.6px;
			
		.backstrip {
			height: 28px;
			line-height: 28px;
			
			&:after {
				bottom: 2px;
				height: 10px;
			}
		}
	}

	.block-content {
		
		.box-billing-address {
			width: 100% !important;
		}
		
		.box-address-billing {
			width: 100% !important;
		}
		
		.box-address-shipping {
			width: 100% !important;
		}
		
		.box-actions {
			a {
				font-size: 18px;
				letter-spacing: 1.6px;
			}
		}
	}
}

.block-addresses-list {
	.block-title {
		font-size: 28px;
		letter-spacing: 1.6px;
		
		.backstrip {
			&:after {
				content: none;
			}
		}
	}
	
	ol {
		li {
			width: 100% !important;
			
			address {
				display: inline-block;
				height: auto;
				min-height: auto;
				vertical-align: middle;
				width: 100%;
			}
			
			.item.actions {
				display: inline-block;
				position: static;
				vertical-align: middle;
				width: 100%;
			}
			
			.action {
				&.edit,
				&.delete {
					font-size: 18px;
					letter-spacing: 1.6px;
				}
			}
		}
	}
}


.customer-address-index {
	.page-main {
		.actions-toolbar {
			.primary {
				button.action.primary {
					padding: 0 10px !important;
				}
			}
		}
	}
}


.form-address-edit {
	.validator {
		&.validator-phone,
		&.validator-email {
			width: 100% !important;
		}
	}

	.legend {
		font-size: 22px;
		letter-spacing: 0.6px;
		
		.backstrip {
			height: 28px;
			line-height: 28px;
			vertical-align: top;
			
			&:after {
				height: 8px;
				bottom: 4px;
			}
		}
	}
	
	.password {
		.legend {
			font-size: 18px;
			
			.backstrip {
				height: 25px;
				line-height: 25px;
			}
		}
	}
}


.form-edit-account {
	.actions-toolbar {
		.primary {
			float: left;
		}

		.secondary {
			float: right;
		}
	}
}


/* Custom Css for the Customer Account Information Page*/

.gdpr-customer-settings {
	.choice {
		label {
			span.backstrip::after {
				content: none;
			}
		}
	}
	
	.block-title {
		font-size: 30px;
		letter-spacing: 1.6px;
		
		.backstrip {
			&:after {
				bottom: 2px;
				height: 10px;
			}
		}
	}
}


.customer-account-logoutsuccess {
	.column {
		&.main { 
			font-size: 16px;
			min-height: 280px;
			padding: 60px 0 60px 20%;
			text-align: center;
		}
	}
}


//
//  Custom css for order return pages and section in dashboard
//  ----------------------------------------------------------

.order-return-container {
	box-sizing: border-box;
    padding-left: 50px;
    width: 100%;
	margin: 36px 0 0;
}


#block-order-return-heading {
	font-size: 38px;
    letter-spacing: 1px;
    line-height: 50px;
	
	.backstrip {
		height: 38px;
		line-height: 38px; 
		
		&:after {
			bottom: 2px;
			height: 12px;
		}
	}
}


.form-orders-search {
	.fieldset {
		.field {
			.select,
			select {
				letter-spacing: 0.4px;
				font-size: 14px;
				padding: 5px 50px 5px 2px;
				background: #ffffff url("../images/down-arrow.svg") no-repeat scroll right 7px center / 13px auto;
			}
		}
	}
}


.amasty-rma-request-view {
	.block-dashboard-info {
		.box {
			max-width: 100%;
			width: 98%;
		}
	}
}


.amasty-rma-customer-history,
.amasty-rma-guest-history {
	.dashboard {
		.limiter {
			display: none;
		}
		
		.toolbar-number {
			float: none;
			vertical-align: top;
			width: auto;
		}
	}
}


.amasty-rma-request-edit {
	.fieldset {
		table.summary {
			tr {
				word-break: break-all;
				word-wrap: break-word;
				
				td {
					font-size: 14px;
					font-weight: normal;
					letter-spacing: 0;
					line-height: 24px;
					padding: 4px 6px;
					word-wrap: break-word;
					
					&:first-child {
						font-size: 14px;
					}
				}
			}
		}

		.field {
			select {
				font-size: 14px;
				letter-spacing: 0.4px;
				padding: 5px;
			}
		}
	}
}


#my-rma-table {
	tr {
		border: 1px solid #000000;
		margin: 0 0 19px;
	}
}






}
