// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  tab version theme overrides
//  _____________________________________________


@media only screen and (min-width: 1024px) and (max-width: 1235px) {

.page-main {
	.container {
		padding: 0 10px;
	}
}

.navigation,
.breadcrumbs,
.page-header .header.panel,
.header.content,
.footer.content,
.page-wrapper > .widget,
.page-wrapper > .page-bottom,
.block.category.event,
.top-container, .page-main {
	padding-left: 10px;
    padding-right: 10px;
}


#maincontent {
	.messages {
		.message {
			width: calc(~'(100% - 70px)');
			margin: 20px 0;
		}
	}
}



/*===========================Custom Css for the header and footer sections===========================*/

/* Custom Css for the top bar*/

.top-bar-cont {
	a {
		padding: 0 80px;
	}
}

.top-bar-close {
	.top-close {
		left: -16px;
	}
}


/* Custom Css for the header*/

.custom-header-cont {
	padding: 9px 10px 0;
	box-sizing: border-box;
	height: 53px;
}

.menu-section {
	max-width: calc(~'(100% - 100px)');
}

.menu-bar {
	.menu-links {
		padding: 0;
		width: calc(~'(100% - 80px)');
	}

	.menu-logo {
		margin: 0;
	}

	.menu-items {
		padding-top: 11px;
	}
}

.header-fixed-options {
	left: 10px;
	top: 93px;
}


/* Custom Css for the footer*/

.footer-content-top {
	.newsletter {
		width: 40%; 
		
		.block {
			width: 100%;
		}

		.field.newsletter {
			width: 100%;
		}
	}

	.footer_navigation {
		float: right;
		padding-left: 90px;
		width: 60%;
		box-sizing: border-box;
		
		ul {
			width: 50%;
			box-sizing: border-box;
		}
	}
}

.footer-copyright {
	.leftsection {
		width: 40%;
		
		.copyright {
			font-size: 18px;
		}
	}
	
	.rightsection {
		padding-left: 90px;
	}
}



/*===========================Custom Css for the Home page Sections===========================*/


.cms-home {
	.header-fixed-options {
		top: 155px;
		
		&.shift-to-top {
			top: 93px;
		}
		
		&.scrolled {
			top: 40px;
		}			
	}
}

.slide-left-sec,
.slide-right-sec {
	width: 49%;
}


.psasimplesteps {
	.listing {
		height: auto;
		width: 50%;
		
		a {
			float: left;
			width: 100%;
			overflow: hidden;
		}

		.productimage {
			display: inline-block;
			width: 100%;
			vertical-align: middle;
			position: relative;
			
			img {
				display: inline-block;
				width: 100%;
				vertical-align: middle;
	
				&.back {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}


.home-slider {
	.owl-item {
		.slide {
			.slide-content {
				.slidetextsecound {
					font-size: 30px;
					
					.backstrip {
						line-height: 28px;
					}
				}
			}
		}
	}
}




/*===========================Custom Css for the category page===========================*/


.catalog-category-view {
	.columns {
		max-width: 758px;
	}
}


.category-view {
	#layered-filter-block {
		margin-left: 70px;
		width: 176px;
	}

	.category-image {
		&.top-full-banner {
			width: 758px;
		}
	}
}


.columns {
	.main {
		.products-grid {
			&.products {
				width: 758px;
				
				.product-items {
					&.products {
						.product-item {
							width: 376px;
							
							&:nth-child(odd) {
								.product-item-info {
									padding-right: 30px;
								}
							}

							&:nth-child(even) {
								.product-item-info {
									padding-left: 30px;
								}
							}
						}
					}
				}
			}
		}
	}
}


.products-grid {
	.product-item {
		.product-item-name {
			left: -164px;
			top: -209px;
		}
	}
}



/*===========================Custom Css for the product page===========================*/

.product-media-container {
	img {
		width: 758px;
	}
}

.product-info-encaptulate {
	width: 758px;
}

.product-info-customsidebar {
    width: 220px;
    margin: 40px 0 0 0;
	
	.actions {
		width: 75px;
	}
	
	.action {
		&.towishlist {
			width: 73px;
		}
	}
	
	button.tocart {
		width: 71px;
	}
}

.key-ingredients-list {
	li {
		span {
			min-height: 74px;
		}
	}
}

.catalog-product-view {
	#related-product-sec {
		width: 758px;
		
		.product-items {
			.product-item {
				padding: 0 0 40px 30px;
				
				&:nth-child(odd) {
					padding: 0 30px 40px 0;
				}
			}
		}
		
		.product-item-details {
			.product-item-name {
				left: -164px;
				top: -209px;
			}
		}
	}
	
	.pro-info-block {
		.pro-bg-title {
			.subtitle {
				font-size: 14px;
				letter-spacing: 0.3px;
			}
		}
	}
}

.pro-review-sec {
	width: 758px; 
}



/*===========================Custom Css for the cart page===========================*/

/* Custom Css for the minicart drop down in header*/

#btn-minicart-close {
	right: 4px;
    top: 18px;
    width: 30px;
    text-align: center;
	
	&:before {
		font-size: 24px;
		line-height: 25px;
		width: 30px;
	}
}


.minicart-wrapper {
	.item-added {
		#minicart-content-wrapper {
			.minicart-header {
				padding: 20px 40px ;
			}
		}
	}
}


#minicart-content-wrapper {
	.minicart-label { 
		width: calc(~'(27% - 40px)');
		
		&.cart {
			width: 48%;
		}

		&.price {
			width: 25%;
		}
	}
	
	.cart-right-col {
		padding: 18px 40px 18px 0;
        box-sizing: border-box;
	}

	.cart-right-container {
		width: calc(~'(52% - 20px)');
		
		.items-total {
			width: 100%;
			
			span {
				width: calc(~'(52% - 20px)');
				
				&.count {
					width: 48%;
				}
			}
		}
		
		.subtotal {
			width: 100%;
			
			span {
				width: calc(~'(52% - 20px)');
				
				span {
					width: 100%;
				}
			}
			
			.price-container {
				width: 48%;
			}
		}
		
		.actions {
			width: 100%;
			
			.secondary {
				width: auto;
				
				a {
					letter-spacing: 1px;
				}
			}
		}
	}
}


#mini-cart {
	li.item {
		padding: 18px 40px;
	}
	
	.product {
		&.actions {
			width: 30px;
			right: 4px;
			
			.primary,
			.secondary {
				width: 100%;
			}
			
			.action {
				&.delete {
					&:before {
						font-size: 34px;
						line-height: 30px;
						width: 30px;
						text-align: center;
					}
				}
			}

		}
	}

	.product-item-name {
		max-width: 48%;
	}

	.product-item-pricing {
		width: calc(~'(27% - 40px)');
		
		&.minicart-pro-box { 
			width: 25%; 
		}
	}
}



/* Custom Css for the cart page*/

.checkout-cart-index {
	.cart-container { 
		padding-left: 72px;
		
		.form-cart {
			.cart {
				&.actions {
					.action {
						margin-bottom: 5px;
					}
				}
			}
		}
	}
}


#shipping-zip-form {
	.field {
		&.note {
			width: 100%;
		}
	}
}



/*===========================Custom Css for the checkout pages===========================*/


.authentication-dropdown {
	.modal-inner-wrap {
		button.action-close {
			margin: 5px;
		}
	}
}

.opc-wrapper {
	.step-title {
		line-height: 30px;
		
		&:after {
			width: 60%;
		}
	}
}

.opc-progress-bar-item {
	&:before {
		bottom: 12px;
	}
}

#co-shipping-method-form {
	.choice {
		margin: 0;
	}
}

.opc-sidebar {
	.opc-block-summary {
		& > .title {
			&:after {
				/*width: 92%;*/
			}
		}

		.table-totals {
			padding: 0 10px;
			box-sizing: border-box;
		}
	}
}

/*===========================Custom Css for the user dashboard===========================*/

.account {
	.page-main {
		padding-left: 80px;
		
		.column.main {
			width: 758px !important;
		}
		
		.sidebar-main {
			width: 176px !important;
		}
	}
	
	.edit-customer-info-container {
		.left-conatiner {
			margin-right: 15px;
			max-width: 70px;
		}
		
		.right-container {
			a {
				span.backstrip {
					line-height: 28px;
				}
			}
		}
	}
}



#wishlist-view-form {
	.actions-toolbar {
		.primary button {
			letter-spacing: 1px;
		}
	}
}


.wishlist-index-index {
	.products-grid {
		.product-item {
			width: 50%;
			box-sizing: border-box;
		}
	}
}


.products-grid {
	&.wishlist {
		.product-items {
			.product-item {
				&:nth-child(odd) {
					padding-right: 30px;
				}
				
				&:nth-child(even) {
					padding-left: 30px;
				}
				
				.product-item-name {
					left: -154px;
					top: 170px;
				}
			}
		}

		.product-item-actions {
			margin: 0;
		}
	}
}

.wishlistbottmcount {
	.product-item-actions {
		.product-currency {
			padding-top: 20px;
		}
	}
}
 

.customer-account-logoutsuccess {
	.column {
		&.main {
			 padding: 60px 15%;
		}
	}
}



/*===========================Custom Css for the cms pages===========================*/


/* Custom Css for the Our Story Page*/

.ourstorysection {
	.storynavigation {
		padding-left: 70px;
		width: 176px; 
		
		ul {
			padding: 0;
			margin: 0;
		}
	}

	.storyrightsection {
		max-width: 758px;
		
		.ourstorybanner {
			.topheading {
				left: -178px;
			}
		}
	}
}


.cms-our-story {
	.psadifference {
		padding: 50px 0 0 0;
		background-size: 100% 100% !important;
		
		.innersection {
			padding-left: 246px;
		}
	}
	
	.precheckourstory {
		padding-left: 246px;
		
		.listing {
			.list {
				padding-right: 10px;
			}
		}
	}

	.keetatitsection {
		.innersection {
			padding-left: 246px;
			
			.leftsection {
				width: 460px;
			}
		}
		
		.itgetbeter { 
			font-size: 90px;
			line-height: 72px;
			padding-left: 246px;
			margin-top: 20px;
		}
	}
	
	.theplanetsection {
		padding-left: 246px;
		
		.innersection {
			.leftsection {
				width: 254px;
				
				h2	{
					padding-top: 46px;
				}
			}

			.rightsection {
				width: 502px;
			}
		}

		.crueltyfreesction {
			.crueltyleft {
				max-width: 254px;
				
				h2 {
					padding-top: 40px;
				}
			}

			.crueltyright {
				width: 502px;
			}
		}
	}
}


/* Custom Css for the No Filter Page*/

.cms-nofilter {
	.page-main {
		.notfilterpage {
			.nofiltertop {
				padding-left: 270px;
			}
		}
		
		.nofilterlist {		
			.listsection {
				.leftsection,
				.rightsection {
					width: 49%;
				}
			}
		}
	}
}


/* Custom Css for the Jumpstart your glow Page*/

.jumpstartglow {
    max-width: 862px;
}


/* Custom Css for the contact us Page*/

.psacontactus {
    padding-left: 270px;
}










}


@media only screen and (min-width: 1024px) and (max-width: 1140px) {
	
	.cms-our-story{
		.page-main{
			overflow: hidden;
		}
	} 
	
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

.cms-our-story{
	.page-main{
		overflow: hidden;
	}
} 
.page-main {
	.container {
		padding: 0 10px;
		
		div#popup-box {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			position: fixed;
			width: 460px;
		}
	}
}


.navigation,
.breadcrumbs,
.page-header .header.panel,
.header.content,
.footer.content,
.page-wrapper > .widget,
.page-wrapper > .page-bottom,
.block.category.event,
.top-container, .page-main {
	padding-left: 10px;
    padding-right: 10px;
}


#maincontent {
	.messages {
		.message {
			width: 668px;
			margin: 20px 0;
		}
	}
}


.catalog-product-view {
	#maincontent {
		.messages {
			.message {
				margin: 20px 10px;
			}
		}
	}
}

	
	

/*===========================Custom Css for the header and footer sections===========================*/


/* Custom Css for the top bar*/

.top-bar-cont {
	white-space: normal; 
	
	.top-label {
		margin: 0 0 10px;
		padding: 0;
		width: 100%;
	}
}

.top-bar-close {
	.top-close {
	    left: -24px;
        top: -5px;
	}
}


/* Custom Css for the header*/

.custom-header-cont {
	padding: 9px 10px 0;
	box-sizing: border-box;
	height: 53px;
}
	
.menu-section {
	max-width: calc(~'(100% - 80px)');	
}

.menu-bar {
	.menu-logo {
		margin: 0;
	}

	.menu-links {
		box-sizing: border-box; 
	    padding: 0 15px;
		width: calc(~'(100% - 60px)');
	}
	
	.menu-items {
		    padding-top: 4px;
	}
	
	.menu-item {
		margin: 0 0 0 0;
		padding: 0 4px;
		
		a {
			font-size: 15px;
		    margin: 0;
			letter-spacing: 1px;
		}
	}
}


.header-fixed-options {
	left: 10px;
	top: 93px;
	
	&.shift-to-top {
		top: 93px;
	}
}


/* Custom Css for the footer content */

.footer-content-top {
	.newsletter {
		max-width: 40%;
		
		.form {
			&.subscribe {
				display: inline-block;
			}
		}

		.block {
			max-width: 100%;
		}
		
		.field {
			&.newsletter {
				max-width: 100%;
			}
		}
	}
	
	.footer_navigation {
		max-width: 60%;
		box-sizing: border-box;
		padding-left: 60px;
		
		ul {
			width: 50%;
			box-sizing: border-box;
		}
	}
}


.footer-logo {
	img {
		max-width: 130px;
	}
}


.footer-copyright {
	.leftsection {
		max-width: 40%;
		
		.copyright {
			font-size: 14px;
			letter-spacing: 0.4px;
		}
	}
	
	.rightsection {
		padding-left: 60px;
		padding-top: 39px;
	}	
}



/*===========================Custom Css for the Home page Sections===========================*/


.cms-home {
	.header-fixed-options {
		top: 195px;
		
		&.shift-to-top {
			top: 93px;
		}
		
		&.scrolled {
			top: 40px;
		}	
	}
}

.slide-left-sec,
.slide-right-sec {
	width: 49%;
}

.home-page-slider-container {
	.slide-left-sec {
		min-height: auto !important;

		.side-banner-cont {
			max-width: 70%;
			bottom: 136px;
		}
	}
}

.home-slider {
	.owl-item {
		.slide {
			.slide-content {
				.slide-title { 
					margin: 0 0 15px;
					font-size: 27px;
					line-height: 40px;
					letter-spacing: 2px;
					
					&.slidetextsecound {
						letter-spacing: 0;
					}
					
					span.backstrip {
						line-height: 24px;
						
						&:after {
							height: 9px;
						}
					}
				}
			}
		}
	}
}


.psasimplesteps {
	.listing {
		height: auto;
        width: 50%;
		
		.content {
			left: 50%;
			top: 50%;
			text-align: center;
			max-height: 110px;
			
			.stepcount {
				width: 140px;
				text-align: center;
				height: 28px;
				line-height: 28px;
				font-size: 18px;
			}
			
			.productname {
				font-size: 36px;
				line-height: 50px;
				color: #fff;
				margin-top: 0;
				
				.backstrip {
					line-height: 36px;
					
					&:after {
						height: 13px !important;
					}
				}
			}
			
			.homecommingsoon {
				.coming-soon {
					.outer-box {
						width: 100%;
						
						.coming-box {
							font-size: 18px;
							line-height: 46px;
							width: 100%;
						}
					}
				}
			}		
		}
		
		.productimage {
			display: inline-block;
			width: 100%;
			vertical-align: middle;
			position: relative;
			
			img {
				display: inline-block;
				vertical-align: middle;
				width: 100%;
				
				&.back {
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
				}
			}
		}
		
		&.maskandtone {
			.content {
				width: 100%;
				margin: 0;
			}
		}
		
		&.moistureproduct {
			.content {
				margin-left: 0;
				top: 50%;
			}
		}
	}
}


.psaprechecksection {
	margin-top: 50px;
    padding-top: 20px;
}


.beengossiping {
	.container {
		p {
			font-size: 28px;
			line-height: 48px;
			padding-top: 70px;
			padding-bottom: 70px;
		}
	}
}


.shareyourstore {
	h2 {
		font-size: 30px;
		line-height: 32px;
		letter-spacing: 1.6px;
		padding-top: 10px;
		padding-bottom: 16px;
	}
}


/*===========================Custom Css for the Category page or shop page===========================*/


.catalog-category-view {
	.columns {
		max-width: 668px;
	}
}


.columns {
	.main {
		.products-grid {
			&.products {
				width: 668px;
				margin: 20px 0;
				
				.product-items {
					&.products {
						margin: 0;
						display: inline-block;
						vertical-align: middle;
						
						.product-item {
							width: 50%;
							padding: 30px 0 20px;
							margin: 0;
							box-sizing: border-box;
							float: left;
							
							&:nth-child(odd) {
								.product-item-info {
									padding-right: 15px;
								}
							}
							
							&:nth-child(even) {
								.product-item-info {
									padding-left: 15px;
								}
							}
							
							.product-item-info {
								.product-item-photo {
									width: 100%;
									display: inline-block;
									vertical-align: middle;
								
									.product-image-container {
										display: inline-block;
										max-width: 236px;
										vertical-align: middle;
									}
								}
							}
						}
					}
				}
			}
			
			&.products {
				.product-item {
					.product-item-name {
						font-size: 50px;
						left: -145px;
						line-height: 60px;
						top: -196px;
						/*font-size: 48px;
						font-family: 'SofiaPro Black';
						line-height: 54px;
						letter-spacing: 4px;*/
						
						a {
							height: 60px;
							line-height: 60px;
						}
					}
				}
			}
		}
	}
}


.category-view {	
	.category-image {
		&.top-full-banner {
			width: 668px;
		}
		
		.image {
			width: 100%;
		}
	}

	#layered-filter-block {
		margin: 16px 0 0 80px;
		position: static;
		display: none;
		
		li {
			a {
				font-size: 16px;
				letter-spacing: 0.4px;
			}
		}
	}
}



/*===========================Custom Css for the product page===========================*/



.catalog-product-view {	
	.product-info-encaptulate {
		width: 668px;
	}
	
	.product-media-container {
		img {
			width: 668px;
		}
	}
	
	.product-info-customsidebar {
		width: calc(~'(100% - 668px)');
		margin: 40px 0 0 0;
		box-sizing: border-box;
		max-width: 60px;
		
		.box-tocart {
			.field {
				&.qty {
					button {
						height: 60px;
						line-height: 60px;
						font-size: 50px;
						max-width: 60px;
						width: 100%; 
						
						&#increment {
							border-right-width: 2px;
						}
						
						span {
							line-height: 40px;
						}
					}
					
					input.qty {
						font-size: 24px;
						height: 60px;
						letter-spacing: 0.4px;
						max-width: 60px;
						width: 100%;
						border-bottom-width: 0;
						border-top-width: 0;
						border-right-width: 2px;
					}
				}
			}
			
			.price-box {
				span {
					line-height: 60px;
					height: 60px;
					
					&.price {
						font-size: 18px;
						letter-spacing: 0px;
						line-height: 60px;
					}
				}
			}
		}
		
		.actions {
			width: 60px;
		}
		
		.action {
			&.towishlist { 
				width: 60px;
				border-left-width: 2px;
				line-height: 58px;
				
				img {
					max-width: 30px;
				}
			}
		}
		
		button {
			&.tocart {
				height: 58px;
				width: 56px; 
				
				img {
					width: 40px;
				}
			}
		}		
	}
	
	.pro-info-block {
		.pro-bg-title {
			.subtitle {
				font-size: 14px;
				letter-spacing: 0.3px;
			}
		}
	}

	.key-ingredients-list {
		li {
			span {
				min-height: 78px;
			}
		}
	}

	
	.htu-step-list {
		.step-count {
			width: 70px;
		}
		
		.step-info {
			width: calc(~'(100% - 74px)');
			
			img {
				width: 120px;
			}
		}
		
		.step-cont {
			font-size: 16px;
			padding: 10px 0;
			width: calc(~'(100% - 130px)');
		}
	}
	
	.pro-ingredients-set {
		padding: 20px 0 0;
	}
	
	.attribute-video {
		.playpause {
		    text-align: center;
		}
		
		.video-play-btn {
			max-width: 50%;
		}
	}	
	
	#related-product-sec {
		width: 668px;
		
		.product-items {
			.product-item {
				display: block !important;
				padding: 0 0 40px 15px;
				
				&:nth-child(odd) {
					padding: 0 15px 40px 0;
				}
			}
		}
		
		.product-item-details {
			.product-item-name {
				font-size: 50px;
				left: -145px;
				line-height: 60px;
				top: -196px;
				
				a {
					height: 60px;
					line-height: 60px;
				}
			}
		}
	}
	
	.pro-review-sec {
		width: 668px;
	}
		
	
	&.product-do-it-all,
	&.product-midnight-courage {
		.pro-info-block {
			.pro-bg-title {
				.subtitle {
					font-size: 12px;
					letter-spacing: 0.3px;
					margin: 0 0 0 4px;
				}
			}
		}
	}
	
}



/*===========================Custom Css for the cart page===========================*/


/* Custom Css for the minicart drop down in header*/

#btn-minicart-close {
	right: 4px;
    top: 18px;
    width: 30px;
    text-align: center;
	
	&:before {
		font-size: 24px;
		line-height: 25px;
		width: 30px;
	}
}


.minicart-wrapper {
	.item-added {
		#minicart-content-wrapper {
			.minicart-header {
				padding: 20px 40px ;
			}
		}
	}
	
	
	.block-minicart {
		.product-item-pricing {
			.details-qty {
				.control {
					button,
					input {
						width: 45px;
					}
				}
			}
		}
	}
}


#minicart-content-wrapper {
	.minicart-items-wrapper {
		max-height: 222px;
	}
	
	.minicart-label { 
		width: calc(~'(27% - 40px)');
		
		&.cart {
			width: 48%;
		}

		&.price {
			width: 25%;
		}
	}
	
	.cart-right-col {
		padding: 18px 40px 18px 0;
        box-sizing: border-box;
	}

	.cart-right-container {
		width: calc(~'(52% - 20px)');
		
		.items-total {
			width: 100%;
			
			span {
				width: calc(~'(52% - 20px)');
				
				&.count {
					width: 48%;
				}
			}
		}
		
		.subtotal {
			width: 100%;
			
			span {
				width: calc(~'(52% - 20px)');
				
				span {
					width: 100%;
				}
			}
			
			.price-container {
				width: 48%;
			}
		}
		
		.actions {
			width: 100%;
			
			.primary {
				button {
					width: 140px;
					padding: 0;
					font-size: 20px;
				}
			}
			
			.secondary {
				width: auto;
				
				a {
					letter-spacing: 1px;
				}
			}
		}
	}
}



#mini-cart {
	li.item {
		padding: 18px 40px;
	}
	
	.product {
		&.actions {
			width: 30px; right: 4px;
			
			.primary,
			.secondary {
				width: 100%;
			}
			
			.action {
				&.delete {
					&:before {
						font-size: 34px;
						line-height: 30px;
						width: 30px;
						text-align: center;
					}
				}
			}

		}
	}

	.product-item-name {
		max-width: 48%;
	}

	.product-item-pricing {
		width: calc(~'(27% - 40px)');
		
		&.minicart-pro-box { 
			width: 25%; 
		}
	}
}



/* Custom Css for the cart page content*/

.checkout-cart-index {
	.cart-container {
		padding-top: 40px;
		padding-left: 80px;
		
		.form-cart {
			.cart {
				&.actions {
					button,
					a {
						margin: 10px;
					}
				}
			}
		}
	}
}

#shipping-zip-form {
	.field {
		&.note {
			width: 100%;
		}
	}
}

#block-discount {
	button.action.apply.primary {
		white-space: nowrap;
	}
}



/*===========================Custom Css for the checkout page===========================*/


.opc-progress-bar-item {
	& > span {
		font-size: 26px;
		line-height: 30px;
		letter-spacing: 1.5px;
	}
	
	&:before {
		height: 8px;
		bottom: 12px;
	}
}
		

.opc-wrapper {
	.step-title {
		font-size: 30px;
		letter-spacing: 2px;
		
		&:after {
			height: 12px;
			bottom: 15px;
			width: 304px;
		}
	}
}


#co-payment-form {
	.fieldset {
		& > .legend {
			display: none;
			
			& + br {
				display: none;
			}
		}
	}
}



/* Custom Css for the sidebar order review content*/


.opc-sidebar {
	.opc-block-summary {
		& > .title {
			font-size: 24px;
			
			&:after {
				height: 10px;
				bottom: 23px;
				width: 225px;
			}
		}
		
		.items-in-cart {
			padding: 0 5px;
		}
		
		.table-totals {
			padding: 0 5px;
			box-sizing: border-box;
		}
	}
}


.opc-block-summary {
	.minicart-items-wrapper {
		.minicart-items {
			.product-item-details {
				max-width: calc(~'(100% - 80px)');
				float: right;
			}
		}
	}

	.product-item {
		.price {
			padding: 0;
		}
	}
	
	.table-totals {
		.mark {
			font-size: 14px;
		}

		.amount {
			font-size: 24px;
			width: auto;
			vertical-align: middle;
		}
	}
}


.authentication-dropdown {
	.modal-inner-wrap {
		button.action-close {
			margin: 0;
		}
	}
}


.opc-block-shipping-information {
	.shipping-information-title {
		font-size: 20px;
		letter-spacing: 2px;
	}
}



/*===========================Custom Css for the cms pages===========================*/

/* Custom Css for the Our Story Page*/


.ourstorysection {
	.storynavigation {
		padding: 222px 0 0 60px;
		display: none;
		ul {
			padding-left: 20px;
		}

		li {
			a {
				letter-spacing: 0.4px;
			}
		}
	}

	.storyrightsection {
		max-width: 516px;		
		.ourstorybanner {		
			.topheading {
				left: -154px;				
				h2 {
					font-size: 18px;
					line-height: 1.5;
					letter-spacing: 1px;					
					.backstrip {
						&:after {
							height: 10px;
							bottom: 4px;
						}
					}
				}
			}

			.bottomheading {
				bottom: 100px;
				left: -2px;
				
				h2 {
					font-size: 28px;
					line-height: 36px;
					letter-spacing: 2px;
					margin: 0;
					
					.backstrip {
						&:after {
							height: 10px;
							bottom: 4px;
						}
					}
				}
			}
		}
		
		
		.screenposter {
			max-width: 65%;
			
			img {
				display: inline-block;
				vertical-align: middle;
			}
		}
		
		.screenposterone {
			margin-top: -60px;
			
			&.screenposterS {
				margin-top: -68px;
			}

			&.screenposterT {
				margin-top: -65px;
			}

			&.screenposterF {
				margin-top: -65px;
			}

			&.screenposterFi {
				margin-top: -50px;
			}
			
			.content {
				position: absolute;
				top: 50%;
				transform: translate(0, -50%);
				
				h2 {
					font-size: 18px;
					line-height: 1.5px;
					letter-spacing: 1px;
					margin: 0 0 10px;
					padding: 0;					
					.count {
						font-size: 15px;
						line-height: 20px;
						letter-spacing: 1px;
					}					
					.backstrip {
						line-height: 24px;
						
						&:after {
							height: 10px;
							bottom: 2px;
						}
						
						&.count {
							&:after {
								height: 13px;
								bottom: 7px;
							}
						}
					}
				}
			}
		}
		
		.positionright {
			&.postionfour {
				right: 0px;
			}
		}		
	}	
}



.cms-our-story {

	.psadifference {
		padding: 30px 0 0;
		margin-top: 36px;
		background-size: 100% 100% !important;
		background-repeat: no-repeat !important;
		
		.innersection {
			max-width: 92%;
			padding: 0 80px;
		    box-sizing: border-box;
			
			p {
				max-width: 90%;
			}
			
			.dontfllow {
				padding-top: 30px;
			}

			.fomo {
				padding-top: 15px;
				
				.fomoicon {
					img {
						max-width: 450px;
					}
				}
			}
		}
	}
	
	.precheckourstory {
		padding: 20px 80px;
		
		.innersection {
			/*max-width: 100%;*/
		}
	
		.listing {
			.list {
				padding: 5px;
				float: left;
				width: 12.5%;
				box-sizing: border-box;
				
				.name {
					font-size: 13px;
					letter-spacing: 0;
				}
			}
		}
		
		.modalbox {
			padding: 15px;
			
			.closebutton {
				top: 15px;
				right: 15px;
			}
			
			&.tab-active {
				
			}
		}
	}
	
	.keetatitsection {
		.innersection {
			padding-left: 80px;
			
			.leftsection {
				width: 440px;
				padding-top: 50px;
			}

			.rightsection {
				float: right;
				width: 200px;
				
				img {
					margin-top: 0;
					max-width: initial;
					width: 350px;
					margin-left: -40px;
				}
			}
		}

		.itgetbeter {
			font-size: 86px;
			line-height: 70px;
			letter-spacing: 8px;
			padding-left: 72px;
			margin-top: 40px;
		}
	}
	
	.theplanetsection {
		padding-left: 80px; 

		.innersection {
			.rightsection {
				width: 460px;
			}

			.leftsection {
				width: 208px;
				
				h2 {
					font-family: 'SofiaPro Black';
					font-size: 28px;
					line-height: 32px;
					letter-spacing: 1.6px;
					padding-top: 40px;
					margin: 0;
					
					.backstrip {
						line-height: 24px;
						
						&:after {
							height: 10px;
						}
					}
				}
			}
		}
		
		.bottomsection {
			.list {
				p {
					width: calc(~'(100% - 75px)');
				}
			}
		}

		.crueltyfreesction {
			.crueltyleft {
				max-width: 230px;
				
				h2 {
					font-size: 28px;
					line-height: 36px;
					letter-spacing: 2px;
					margin: 0;
					padding-top: 36px;
					padding-bottom: 20px;
					
					.backstrip {
						line-height: 24px;
						
						&:after {
							height: 10px;
						}
					}
				}
				
				p {
					margin: 0;
					font-size: 14px;
				}
			}

			.crueltyright {
				width: 438px;
			}
			
			&.alliesforlife {
				.crueltyleft {
					h2 {
						padding-top: 0;
					}
				}
			}
		}
	}

	.thevaluesection {
		height: 406px;
		
		h2 {
			top: 8%;
		}
	}	
}


/* Custom Css for the NO Filter Page*/

.cms-nofilter {
	.page-main {
		.notfilterpage {
			.nofiltertop {
				padding-top: 40px;
				padding-left: 215px;
			}
		}
		
		.nofilterlist {
			padding-top: 120px;
			
			.listsection {
				padding-bottom: 20px;
				
				.leftsection {
					width: 50%;
					box-sizing: border-box;
					padding-right: 5px;
				}

				.rightsection {
					width: 50%;
					padding-left: 5px;
					box-sizing: border-box;
				}

				.nofilterheading {
					font-size: 90px;
					line-height: 80px;
				}

				.heading {
					width: 70%;
				}
			}
		}		
	}
}



/* Custom Css for the Jumpstart your glow Page*/

.jumpstartglow {
    max-width: 668px;
    
	.dewydos-section {
		.listingsection {
			.leftpart {
				width: 50%;
			}

			.rightpart {
				width: 50%;
			}
			
			.list {
				.content {
					width: calc(~'(100% - 75px)');
					box-sizing: border-box;
				}
			}
		}
	}
}



/* Custom Css for the Get Schooled Page*/


.get-schooled-grid-content {
	width: 668px;
}



/* Custom Css for the CMS content Pages*/


.faqpagesection {
	&.privacypolicecount {
		padding-top: 40px;
		max-width: 668px;
	}
	
	
	.parent-accordion {
		font-size: 28px;
		letter-spacing: 2px;
		
		.backstrip {
			line-height: 27px;
			
			&:after {
				height: 10px;
			}
		}		
	}
	
	.childcontent {
		&.privacy-policy {
			.accordion {
				font-size: 28px;
				line-height: 24px;
				
				.backstrip {
					line-height: 25px;
				}
			}
		}
	}
}


.faqpagesection {
    max-width: 668px;
    padding-top: 40px;
}


.press-index-index {
	.press-section {
		max-width: 668px;
		
		.pressinnercount {
			.press-list {
				&:nth-child(3n) {
					margin-right: 20px;
				}
			}
		}
	}
}


.psacontactus {
    padding-left: 80px;
}



/*===========================Custom Css for the login/Register pages===========================*/


.login-container,
.register-container,
.order-return-container {
    width: 668px;
}




/*===========================Custom Css for the user dashboard===========================*/

/* Custom Css for the My Account Page*/

.account {
	.page-main {
		padding-top: 40px;
		padding-left: 80px;
		
		.column {
			&.main {
				width: calc(~'(100% - 150px)') !important;
			}
		}
		
		.sidebar-main {
			width: 150px !important;
		}
	}

	.customer-name-show {
		p {
			&:last-child {
				font-size: 40px;
				line-height: 46px; 
				
				.backstrip {
					line-height: 21px;
				}
			}
		}
		
		.backstrip {
			&:after {
				bottom: -7px;
				height: 16px; 
			}
		}
	}

	.edit-customer-info-container {
		padding-top: 50px;
		
		.left-edit-container {
			max-width: 100%;
		}
		
		.right-edit-container {
			float: left;
			max-width: 100%;
			margin: 30px 0 0;
		}
	}
}


#my-orders-table {
	.orderdetails {
		width: 49%; 
		box-sizing: border-box;
		
		.trackyouorder {
			font-size: 16px;
		}
		
		.innerlist {
			font-size: 14px;
			
			.actions {
				padding: 11px 0;
				
				a {
					font-size: 16px; 
				}
			}
			
			.reviewcount {
				font-size: 16px;
			}
			
			.heading {
				font-size: 15px;
			}
		}
	}
	
	.orderhistaction {
		.actiontop {
			font-size: 18px;
		}

		.view,
		.order {
			font-size: 16px;
			letter-spacing: 1.4px;
		}
	}
}



/* Custom Css for the My Orders Page*/

.order-details-items {
	&.ordered {
		.table-wrapper {
			&.order-items {
				& > div {
					width: 49%;
					
					&:nth-child(2n) {
						float: right;
					}
				}
			}
		}
	
		#my-orders-table {
			width: 100%;
			
			.orderdetails {
				width: 100%;
			}
		}
	}
}

.block-order-details-view {
	.block-content {
		.box {
			width: 49% !important;
			box-sizing: border-box;
		}

		&:before,
		&:after {
			content: none !important;
		}

		.box-content {
			width: 100%;
			display: inline-block;
			vertical-align: middle;
		}
	}
}



/* Custom Css for the My wishlist Page*/

.wishlist-top-bar {
	.actions-toolbar {
		.primary {
			.action {
				font-size: 16px;
				letter-spacing: 0.4px;
				padding: 15px 10px;
				float: left;
			}
		}
		
		.secondary {
			a.action {
				margin: 0;
			}
		}
	}
}


#wishlist-view-form {
	.products-grid {
		&.wishlist {
			display: inline-block;
			width: 100%;
			vertical-align: middle;
		}
	}

	.product-items {
		display: flex;
		width: 100%;
		margin: 0;
		vertical-align: middle;
		flex-wrap: wrap;
	}

	.product-item {
		width: 50%;
		padding: 20px 15px 20px 0 !important;
		border-bottom: 2px solid #707070;
		
		&:nth-child(even) {
			padding: 20px 0 20px 15px !important;
		}
		
		&.MIDNIGHT {
			.product-item-name {
				bottom: 93px;
				margin: 0;
			}
		}
	}
	
	.product-item-info {
		.product-item-photo {
			.product-image-container {
				max-width: 70%;
			}
		}
		
		.product-item-name {
			bottom: 91px;
			font-size: 40px;
			height: 60px;
			left: -112px;
			letter-spacing: 2px;
			line-height: 60px;
			top: auto;
			max-width: 254px;
		}
		
		.product-short-dec {
			letter-spacing: 0.4px;
			padding-top: 10px;
			padding-bottom: 15px;
			display: inline-block;
			width: 100%;
			font-size: 14px;
			vertical-align: middle;
		}
		
		.product-item-inner {
			display: inline-block;
			width: 100%;
			vertical-align: middle;
		}

		.wishlistbottmcount {
			display: inline-block;
			width: 100%;
			box-sizing: border-box;
			vertical-align: middle;
		}

		.product-item-actions {
			display: none;
			width: 100%;
			margin: 0;
		}

		.product-feat {
			display: inline-block;
			width: 100%;
			box-sizing: border-box;
			vertical-align: middle;
			padding: 10px;
			font-size: 14px;
			letter-spacing: 0.4px;
			min-height: 94px;
		}

		.box-tocart {
			display: inline-block;
			width: 100%;
			box-sizing: border-box;
			vertical-align: middle;
			
			.product-item-actions {
				display: flex;
			}
		}

		fieldset {
			float: left;
			width: 100%;
		}
		
		.product-currency {
			padding-top: 22px;		
		}
	}
}



/* Custom Css for the My Address book Page*/


.block-addresses-list {
	.block-title {
		font-size: 30px;
		letter-spacing: 2px;
		
		.backstrip {
			line-height: 28px;
		}
	}

	.items.addresses {
		& > .item {
			width: 49% !important;
			box-sizing: border-box;
			margin-bottom: 20px !important;
		}
	}

	ol {
		li {
			.action {
				&.edit,
				&.delete {
					letter-spacing: 1.4px;
					font-size: 18px;
				}
			}
		}
	}
}


.block-addresses-default {
	.block-content {
		.box-address-billing,
		.box-address-shipping {
			width: 49% !important;
			box-sizing: border-box;
		}
		
		.box-actions {
			a {
				font-size: 18px;
				letter-spacing: 0.4px;
			}
		}
	}
}



/* Custom Css for the Customer Account Information Page*/

.form-edit-account {
	.legend {
		font-size: 30px;
		letter-spacing: 2px;
		
		.backstrip {
			line-height: 28px;
		}
	}
}

.gdpr-customer-settings {
	.block-title {
		font-size: 30px;
		letter-spacing: 2px;
		
		.backstrip {
			line-height: 28px;
		}
	}
}



.customer-account-logoutsuccess {
	.column {
		&.main {
			 padding: 60px 15%;
		}
	}
}




//
//  Custom css for order return pages and section in dashboard
//  ----------------------------------------------------------


.amasty-rma-request-view {
	.table-order-items {
		font-size: 14px; 
	}
}
	
#my-rma-table {
	tr {
		th {
			font-size: 14px;
			letter-spacing: 0;
		}
	}
}

.amasty-rma-customer-history,
.amasty-rma-guest-history {
	#amasty_rma_orders {
		font-size: 16px;
		padding: 5px 36px 5px 10px;
		letter-spacing: 0;
	}
	
	.amrma-history-header {
		.action.primary {
			padding: 0 30px;
		}
	}
}








}
