<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?= /* @escapeNotVerified */ $block->getMiscellaneousHtml(); ?>

<!-- <a href="javascript: void(0);" id="toTop"><span class="back-to-top"><i class="fas fa-angle-double-up"></i></span></a> -->
<a href="javascript: void(0);" id="toTop" class="mobile-back-to-top"><span class="back-to-to"><i class="fas fa-angle-double-up"></i></span></a>
<script>
require(['jquery'],function($){	
// Set the date we're counting down to
var countDownDate = new Date("Dec 03, 2020 23:59:00").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();
    
  // Find the distance between now and the count down date
  var distance = countDownDate - now;
    
  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
  
  $('.Sale-timer-days').html("<span class='cal-text'>"+days +"</span>" + "<span class='stat-text'> Days</span>");
  $('.Sale-timer-hours').html("<span class='cal-text'>"+ hours +"</span>" + "<span class='stat-text'> Hours</span>");
  $('.Sale-timer-minutes').html("<span class='cal-text'>"+ minutes +"</span>" + "<span class='stat-text'> Minutes</span>");
  $('.Sale-timer-seconds').html("<span class='cal-text'>" + seconds +"</span>" + "<span class='stat-text'> Seconds</span>");

}, 1000);
});
</script>