<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
$getBaseUrl = $this->getBaseUrl();
?>
<div id="custom-header-id" class="customDiv">
	<div class="header-label">
		<?php echo $this->getChildHtml("header_label"); ?>
	</div>
	<div class="menu-over-banner">
		<div class="menu-over-banner-container">
			<div class="menu-section">
				 <?php echo $this->getChildHtml("header_menu"); ?>
				 <div class="slide-menu-show">
				 	<div class="slide-menu-show-conatiner">
					 <?php echo $this->getChildHtml("slide_menu"); ?>
					  <?php if(!$customerSession->isLoggedIn()): ?>
						 <ul class="header links custom-register">
							<li class="order-return">
								<a href="<?php echo $getBaseUrl.'alliesofskin/guest/login/' ?>">Order Return</a>
							</li>
						</ul>
					<?php endif; ?>
					<?php echo $this->getChildHtml("headerLinks"); ?>
					 <?php if(!$customerSession->isLoggedIn()): ?>
	   					<ul class="header links custom-register">
						 	<li class="authorization-link register-link">
						 		<a href="javascript: void(0);" class="custom-sign-up">sign up for allies underground</a>
						 	</li>
						</ul>
					 <?php endif; ?>
					 
					</div>
				 </div>
				<div class="menu-overlay"></div>
				 <div class="main-logo"><?php echo $this->getChildHtml("logo"); ?></div>
        		<?php echo $this->getChildHtml("minicart"); ?>
        		<!-- <?php echo $this->getChildHtml("currency"); ?> -->
			</div>
			
		</div>
	</div>
	<div class="removefloat"></div>
</div>
<style>
	.main-logo {
    position: absolute;
    left: 45%;
    top: 15px;
    width: 20%;
}
.logo {
    float: unset;
}
.menu-over-banner{
	position: relative;
}
.freshwidget-button a {
    bottom: unset;
}
body .swell-tab{
		right:-46px !important;
	}
	body.cms-index-index .swell-tab{
		    right: -35px !important;
	}
	#ui-datepicker-div {
    display: none !important;

}
.menu-section .main-logo .logo img{
	height: auto;
}
.preorder_note {
    display: none;
}
       .addtocart-wrapper .subscribe-container #product-subscribe-button {border: 1px solid #808285;
    text-transform: uppercase; font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;  font-weight: 600; font-size: 11px; letter-spacing: 2px; height: 40px; color: #808285;}
    .product-info-main-container .price-box  {display: none !important;}
.product-molecular-silk-amino-hydrating-cleanser .attribute-value.overview-container p:first-child {margin-bottom: 0px;}
    .overview-container #learn-more-popup, .overview-container #learn-more-side-menu {width: 100%; height: 100vh;}
    #learn-more-popup #element {padding: 0;}
    .learm-more-inner-content {padding: 0px;}
    .product-subscribe-add-buttons-container .product-subscribe-button {display: none;}
    .product-subscribe-button-dropdown {display: none;}
    #minicart-content-wrapper #top-cart-btn-checkout {border-color: #808285;  color: #808285; font-family: "BrandonGrotesque Medium"; font-size: 11px; letter-spacing: 1px; line-height: 40px; padding: 0 20px; width: 100%;
    text-transform: uppercase;}
    #minicart-content-wrapper .action.viewcart {color: #808285; line-height: 40px; text-decoration: underline;
    transition: all .5s ease 0s;}
    
    
    .products.list.items.product-items .product-item-info .product-item-inner {display: none;}
    .addtocart-onetime{  color: #808285;  font-family: "BrandonGrotesque Medium"; text-transform: uppercase; font-weight: 600; padding-bottom: 10px; clear: both; overflow: hidden;}
    .addtocart-onetime #addtocart_onetime {margin: 4px 3px 0 0; padding: 0; float: left;}
    .addtocart-onetime .onetime-final-price {padding: 0 12px !important; color: #808285 !important; font-family: "BrandonGrotesque Medium"; text-transform: uppercase; font-weight: 600 !important; margin: 0; float: left;}
    .addtocart-onetime label {padding-top: 2px; float: left;}
    .addtocart-onetime label, .addtocart-onetime  span.price {font-size: 11px; letter-spacing: 2px;}
    .tnw-addtocart-container {padding-bottom: 0px !important;}
    .tnw-addtocart-container .box-tocart {display: flex; color: #808285; font-family: "BrandonGrotesque Medium"; text-transform: uppercase; font-weight: 600;}
    .tnw-addtocart-container .addtocart-wrapper {padding-left: 0px !important;}
    .addtocart-subscribe .addtocart-wrapper {clear: both; text-align: left; padding-left: 0px !important;}
    .addtocart-wrapper #billing_frequency {border: 1px solid #808285;
    background: #333; color: #808285;  font-family: "BrandonGrotesque Medium"; font-size: 11px;letter-spacing: 2px !important; text-transform: uppercase !important     -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: menulist;
    box-sizing: border-box;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;}
    .addtocart-subscribe .addtocart-wrapper .label {color: #000; font-family: "BrandonGrotesque Medium"; font-weight: 600;  font-size: 14px; float: left; padding-top: 8px;}
    .addtocart-subscribe .addtocart-wrapper .control {float: left; width: 50%; margin-left: 10px;}
    .addtocart-subscribe .addtocart-wrapper .control select {background: transparent !important;}
    .addtocart-subscribe .addtocart-wrapper .label span {font-size: 11px; letter-spacing: 2px;}
    .subscription-price-with-savings {padding-top: 0 !important; padding-left: 10px !important; padding-right: 10px;
    color: #000 !important; font-size: 12px; letter-spacing: 2px; font-weight: 600 !important;}
    .tnw-addtocart-container .box-tocart label {font-size: 11px; letter-spacing: 2px; font-weight: 600;}
    .product-add-form .box-tocart .qty {width: calc(50% - 40px);}
    .addtocart-subscribe {clear: both; padding-bottom: 0px !important; border-bottom: none !important;}
    .addtocart-wrapper.addtocartsubs {padding-top: 10px; padding-bottom: 0px; clear: both; overflow: hidden;  border-top: solid 1px #777;  margin-top: 0px;}
    .tnw-addtocart-container .box-tocart .product-volume-attr-product-page { width: 33%;}
    .tnw-addtocart-container .box-tocart .price-box-container {width: 33%;}
    .tnw-addtocart-container .box-tocart .qty {width: 33%; text-align: center; padding: 0px;}
    .subscription-text-container {padding-top: 20px; clear: both; text-align: left;}
    .subscription-text-container p {text-transform: uppercase; font-size: 12px; font-weight: 600; letter-spacing: 1px;
    color: #808285; font-family: "BrandonGrotesque Medium";}
    .subscription-text-container ul {text-transform: capitalize; font-size: 12px; font-weight: 600;  letter-spacing: 1px;
    color: #000; font-family: "BrandonGrotesque Medium";}
    .subscribe-container .subscriber-info-sec {float: left; width: 50%;}
    .subscribe-container .subscriber-info-sec .subcriber-fieldsets {width: 100%;}
    .subscribe-container .subscriber-info-sec .subcriber-fieldsets input {background: none; text-align: center; color: #fff;}
    .subscribe-container #product-subscribe-button {float: right; color: #808285;}
    .below-text-conatiner h2 {text-transform: uppercase; font-size: 12px; font-weight: 600; letter-spacing: 1px;
    color: #808285; font-family: "BrandonGrotesque Medium";}
    .below-text-conatiner p {text-transform: capitalize; font-size: 12px; font-weight: 600;  letter-spacing: 1px;
    color: #000; font-family: "BrandonGrotesque Medium";}
    .addtocart-subscribe .subscriber-info-sec .subcriber-fieldsets .fieldset-qty {width: 50%;}
    .subscriber-info-sectop {border-bottom: solid 1px #777; clear: both; overflow: hidden; padding-bottom: 14px;}
    .addtocart-subscribe {padding-bottom: 0px !important;}
    .addtocart-subscribe.active-payment-mode .addtocart-wrapper {display: block !important;}
    .addtocart-wrapper .fieldset.delivery-fieldset {margin-bottom: 18px;}
    .catalog-product-view .product-add-form {padding: 15px 0;}
    .minicart-wrapper .block-minicart #minicart-content-wrapper .block-content .minicart-items-wrapper {height: auto !important;}
    .minicart-wrapper .block-minicart #minicart-content-wrapper .minicart-items-wrapper .minicart-items li.product-item 
    {border-bottom: solid 1px #bbb !important;}
    .minicart-wrapper .block-minicart #minicart-content-wrapper .minicart-items-wrapper .minicart-items li.product-item:last-child {border-bottom: none !important;}
    .minicart-wrapper .block-minicart #minicart-content-wrapper .minicart-items-wrapper .minicart-items li.product-item:last-child {border-bottom: none !important;}
    .minicart-wrapper .block-minicart #minicart-content-wrapper .block-content>.actions .secondary {bottom: 15%;}
    .cart.table-wrapper .product-item-subscription-details .addtocart-onetime input {float: left;}
    .minicart-wrapper .block-minicart .subtitle.empty {display: block; width: 100%;}
    
    .product-info-encaptulate .product-add-form {background: none; padding: 0;}
    .product-info-encaptulate .product-add-form .product-container {padding-left: 0px; padding-top: 0px;}
    .product-info-encaptulate .product-add-form #product_addtocart_form {padding: 0px; width: 100%; float: none;}
    .product-info-encaptulate .addtocart-onetime {border: solid 1px #777; padding: 10px;}
    .product-info-encaptulate .addtocart-subscribe {padding: 10px; border: solid 1px #777; height: auto; clear: both; overflow: hidden;}
    .product-add-form .box-tocart .product-volume-attr-product-page .product-size-box {color: #000;}
    .product-add-form .box-tocart .qty {width: calc(60% - 40px);}
    .product-add-form .box-tocart .qty .control button {color: #000;}
    .product-add-form .box-tocart .qty .control #qty {color: #000;}
    .product-add-form .box-tocart .qty .control button {color: #000;}
    .catalog-product-view .product-info-main .price-container .price {background: none; color: #000; font-size: 16px;}
    
    .addtocart-wrapper.addtocartsubs .box-tocart {width: 100%;}
    .addtocart-wrapper.addtocartsubs .box-tocart .product-volume-attr-product-page {width: 30%;}
    .addtocart-wrapper.addtocartsubs .box-tocart .field.qty {width: 60%;}
    .addtocart-wrapper.addtocartsubs .actions  {width: 100%;}
    .addtocart-wrapper.addtocartsubs .actions  button {max-width: 100%;}
    .addtocart-subscribe .box-tocart {width: 100% !important;}
    .catalog-product-view .product-add-form {border: none;}
    .addtocartsubs .price-box-container {display: none !important;}
    .product-add-form .box-tocart .qty .label {text-align: left;}
    .credit-card-types li.item {width: auto !important;}
 .sales-order-history .toolbar-amount {float: unset;}
 .block-collapsible-nav .content {display: block;}   

 button.action.tocart.primary span, button.action.tocart.primary {font-family: "BrandonGrotesque Bold";font-size: 11px;letter-spacing: 2px;line-height: 38px;text-transform: uppercase;width: initial;}
.products-grid .product-item-info button.tocart, .products-grid .product-item-info a.tocart {font-family: "BrandonGrotesque Bold";font-size: 11px;letter-spacing: 2px;line-height: 38px;text-transform: uppercase;width: initial;height: 38px;}
.subscribe-btn {border: none !important;}
.subscribe-btn a {border: none; padding: 0; width: auto; border-bottom: solid 1px #333; line-height: normal; transition: .5s all ease;}    
.subscribe-btn a:hover {border-bottom: solid 1px #fff;}
.catalog-product-view .shareyourstore {display: none;}
    
    
    
     /*19 jan*/
    .addtocart-subscribe .box-tocart {padding-right: 0px;}
    button.action.tocart.primary span {font-family: "BrandonGrotesque Medium"; font-weight: normal;  font-size: 14px;
    line-height: normal;}
    .addtocart-wrapper #billing_frequency {padding-right: 0px;}
    .tnw-addtocart-container .box-tocart  {display: block;}
    .product-add-form .box-tocart .qty {width: 33%;}
    .tnw-addtocart-container .addtocart-subscribe input {float: left;}
    .tnw-addtocart-container .addtocart-subscribe label {float: left;}
    .product-info-main-container .addtocart-subscribe { border: solid 1px #777 !important; position: relative;}
    .product-add-form .box-tocart {max-height: inherit; padding-bottom: 10px;}
    .product-info-main-container .addtocart-subscribe .addtocart-wrapper {padding-left: 0px !important;}
    .addtocart-wrapper .subscribe-container #product-subscribe-button {height: auto; padding: 10px 14px;  line-height: normal; position: relative; right: auto; float: none; margin-left: 80px;  margin-top: 10px;}
    .addtocart-subscribe .addtocart-wrapper .label {padding-top: 0px;}
    
    .addtocart-onetime .price-box-container { display: none;}
    .product-add-form .addtocart-subscribe .box-tocart .fieldset {width: 100%; margin: 0px; padding-top: 10px;}
    .tnw-addtocart-container .addtocart-subscribe .subscription-price-with-savings {padding-bottom: 4px;}
    .addtocart-wrapper .subscribe-container #product-subscribe-button {bottom: 0px !important;}
    .product-info-main-container .addtocart-subscribe {padding-bottom: 0px !important;}
    .page-wrapper .page-header .switcher {float: left; display: none;}
    
    
    /*tester point*/
    .copyright {margin-bottom: 20px;}
    .page-wrapper .form-create-account {max-width: 80%;}
    .form-create-account .fieldset .field {float: none; width: 100%;}
    .form-create-account .fieldset .field label.label {float: none; width: 100%;}
    .form-create-account .fieldset .field .control {float: none; width: 100%;}
    .form-create-account .fieldset .field.choice {float: none; width: 100%;}
    .customer-account-create .term-condition {float: none; width: 100%;}
    .customer-account-create .grecaptcha-badge {position: relative !important; right: auto !important; bottom: auto !important; overflow: visible !important; margin-bottom: 20px;}
    .page-wrapper .form-create-account {overflow: hidden; max-width: 75%; width: 100%;}
    /*tester point*/
    
    .subscribe-btn {border: none !important;}
    .subscribe-btn a {border: none; padding: 0; width: auto; border-bottom: solid 1px #333; line-height: normal; transition: .5s all ease;}
    .subscribe-btn a:hover {border-bottom: solid 1px #fff;}
    
    /*Sbuscribe section Hide*/
    .addtocart-onetime label, #addtocart_onetime, .onetime-final-price {display: none;}
    .product-info-main-container .addtocart-onetime {border: none !important;}
    /*Sbuscribe section Hide*/
    /*tester feedback point by hit*/
select#gender option:first-child, select#gender option:nth-child(2) {display: none;}
#storelocator-search-bar select#storelocator-category {margin: 5px 0 0;}
.login-container .block-content form .field .control,.login-container .block-content form label.label{width:100%;float:none;}
.homepageslider .item .upper-banner-conatiner {display: none;}
body.account.page-layout-2columns-left .column.main {margin-top: 593px;}
body.account .block-collapsible-nav .content{ padding-bottom: 20px;height: auto;}
</style>

<script type="text/javascript">
	require(["jquery"], function($){
		$(window).scroll(function(){
		    if ($(window).scrollTop() > 1) {
		        $('header.page-header').addClass('fixed-header');
		    }
		    else {
		        $('header.page-header').removeClass('fixed-header');
		    }
		});
	});
</script>