<div class="press-section">
    <h2 class="presstophead"><span class="backstrip">WHAT THE</span><br> <span class="backstrip">BIRDS SAY</span></h2>
    <div class="pressinnercount">
        <?php
        $mediapath	=  $this->getMediaPath('media');
        $pressCollection = $block->getCollection();
        if ($pressCollection->getSize() > 0) :
        ?>

        <?php foreach ($pressCollection as $press) : ?>			
            <div class="press-list">
                <div class="press-content-container">
                    <div class="text-press">
                    <?php 
                        if($press->getPressDate()){

                        $date=date_create($press->getPressDate());
                        $req_date = date_format($date,"F Y");
                    ?>
                    <div class="press-date"><?php echo $req_date; ?> </div>
                    <?php } ?>
                    <div class="press-img">
                    <?php 
                        $img = $press->getImage(); 
                        if($img != ''):
                    ?>
                   <div class="press-img">	 
                       <img src="<?php echo $mediapath. $img ; ?>" class="t-img" />	
                   </div>															
                   <?php endif; ?>
               </div>	
                    <!-- <h3 class="press-title"><?php echo $press->getTitle(); ?></h3>	 -->
                    <div class="press-content"><?php echo $press->getText() ?></div>
                    <!-- <div class="external-links"><i class="fas fa-external-link-alt"></i></div> -->

                   <!-- <div class="cname">-<em><?php echo $press->getName() ?></em></div> -->
                </div>

               </div>
            </div>
        <?php endforeach; ?>
    </div>
	
   <?php else : ?>
	  <p><?php echo __('Have no blogs!') ?></p>
   <?php endif; ?>
</div>
<div class="clr"></div>
 <?php if ($block->getPagerHtml()): ?>
        <div class="order-products-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); ?></div>
    <?php endif ?>