// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Blank theme overrides
//  _____________________________________________

//  Theme file should contain declarations (overrides) ONLY OF EXISTING variables
//  Otherwise this theme won't be available for parent nesting
//  All new variables should be placed in local theme lib or local theme files


//
//  Custom css for Login And Register Page
//  ---------------------------------------------


/***********************For the Login Page Design***********************/

.login-container {
    float: right;
    margin: 28px 0 0;
    width: 862px;
	min-height: 750px;
	
	.block {
		&.block-customer-login {
			float: left;
			max-width: 470px;
			width: 100%;
		
			.block-title {
				border: medium none;
				display: inline-block;
				margin: 0;
				padding: 0;
				vertical-align: middle;
				width: 100%;
			}
			
			.block-content {
				display: inline-block;
				margin: 3px 0 50px;
				vertical-align: middle;
				width: 100%;
			}
		}
	}
}


#block-customer-login-heading {
    display: inline-block;
    font-family: "SofiaPro Black";
    font-size: 60px;
    font-weight: normal;
    letter-spacing: 6px;
    line-height: 72px;
    margin: 0;
    text-transform: uppercase;
    vertical-align: top;
    width: 100%;
	
	.backstrip {
		line-height: 54px;
		vertical-align: top;
		
		&:after {
			background: #a0f0e1 none repeat scroll 0 0;
			height: 20px;
            left: 4px;
             max-width: calc(~'(100% - 10px)');
		}
	}
}


#login-form {
    float: left;
    width: 100%;
	
	.fieldset {
		float: left;
		width: 100%;
		
		&:after {
			content: none;
		}
	}

	.field {
		display: inline-block;
		margin: 0;
		vertical-align: middle;
		width: 100%;
		letter-spacing: 0.4px;
		
		&.note {
			margin: 0 0 60px;
			
			span {
				display: inline-block;
				vertical-align: middle;
				width: auto;				
			}
			
			a {
				color: #9bcfcb;
				display: inline-block;
				text-decoration: underline;
				vertical-align: middle;
				width: auto;
				
				&:hover {
					color: #000000;
					text-decoration: none;
				}
			}
		}
		
		label {
			font-weight: normal;
			margin: 0 0 10px;
			padding: 0;
			text-align: left;
			width: 100%;
			
			&:after {
				content: none;
			}
			
			span {
				display: inline-block;
				vertical-align: top;
				width: auto;
			}
		}

		.control {
			float: left;
			margin: 0 0 12px;
			width: 100%;
		}
	}
	
	.actions-toolbar {
		display: inline-block;
		margin: 28px 0 0;
		vertical-align: middle;
		width: 100%;
		
		.action {
			&.primary {
				min-width: 273px;
                letter-spacing: 2.4px;
			}
		}
	}
}


.login-form-links {
    float: left;
    margin: 32px 0 0;
    width: 100%;
	
	.form-bottom-info {
		display: inline-block;
		vertical-align: middle;
		width: auto;
		
		span {
		display: inline-block;
		vertical-align: middle;
		width: auto;
        	
			a {
				color: #000000;
				display: inline-block;
				text-decoration: underline;
				vertical-align: top;
				
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}



/***********************For the Register Page Design***********************/

.register-container {
    float: right;
    margin: 28px 0 0;
    width: 862px;
	min-height: 750px;
	
	.block {
		&.block-customer-register {
			float: left;
			max-width: 470px;
			width: 100%;
			margin: 0;
		
			.block-title {
				border: medium none;
				display: inline-block;
				margin: 0;
				padding: 0;
				vertical-align: middle;
				width: 100%;
			}
			
			.block-content {
				display: inline-block;
				margin: 20px 0;
				vertical-align: middle;
				width: 100%;
			}
		}
	}
	
	.form.create.form-create-account {
		float: left;
		width: 100%;
		min-width: 100%;
	}
}


#block-customer-register-heading {
    display: inline-block;
    font-family: "SofiaPro Black";
    font-size: 60px;
    font-weight: normal;
    letter-spacing: 6px;
    line-height: 72px;
    margin: 0;
    text-transform: uppercase;
    vertical-align: top;
    width: 100%;
	
	.backstrip {
		line-height: 54px;
		vertical-align: top;
		
		&:after {
			background: #FFA300 none repeat scroll 0 0;
			height: 20px;
		}
	}
   .backstrip:first-child {
       &:after {
            max-width: calc(~'(100% - 22px)');
           left: 5px;
       }
    }
   .backstrip:last-child {
       &:after {
            max-width: calc(~'(100% - 8px)');
           left: 3px;
       }
    }
}


.form-create-account {
    .fieldset {
		&.create {
			float: left;
			margin: 0;
			width: 100%;
			
			&:after {
				content: none;
			}
		
			.field {
				display: inline-block;
				margin: 0;
				vertical-align: middle;
				width: 100%;
				letter-spacing: 0.4px;
				
				&.note {
					margin: 0 0 70px;
					
					span {
						display: inline-block;
						vertical-align: middle;
						width: auto;
					}
					
					a {
						color: #9bcfcb;
						display: inline-block;
						text-decoration: underline;
						vertical-align: middle;
						width: auto;
						
						&:hover {
							color: #000000;
							text-decoration: none;
						}
					}
				}
				
				label {
					font-weight: normal;
					margin: 0 0 13px;
					padding: 0;
					text-align: left;
					width: 100%;
					
					&:after {
						content: none;
					}
					
					span {
						display: inline-block;
						vertical-align: top;
						width: auto;
					}
				}

				.control {
					float: left;
					margin: 0 0 12px;
					width: 100%;
				}
				
				&.choice, .checkbox {
					float: left;
					position: relative;
					margin: 10px 0;
					
					&:before {
						content: none;
						padding: 0;
					}

					label {
						box-sizing: border-box;
						float: left;
						margin: 0;
						padding: 0 0 0 40px;
						position: relative;
						cursor: pointer;
						
						&:before {
							border: 2px solid #000000;
							content: " ";
							height: 16px;
							left: 0;
							position: absolute;
							top: 50%;
							transform: translate(0px, -50%);
							width: 16px;
						}
						
						span {
							&.backstrip {
								line-height: 13px;
								vertical-align: middle;
								
								&:after {
									height: 13px;
									max-width: 100%;
								}
							}
						}
					}

					input {
						&.checkbox {
							float: left;
							height: 100%;
							left: 0;
							margin: 0;
							opacity: 0;
							position: absolute;
							top: 0;
							width: 100%;
							
							&:checked {
								& ~ label {
									&:after {
										background: rgba(0, 0, 0, 0) url("../images/right.png") no-repeat scroll center center / 12px auto;
										content: " ";
										height: 16px;
										left: 2px;
										position: absolute;
										top: 50%;
										transform: translate(0px, -50%);
										width: 16px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	
	.actions-toolbar {
		display: inline-block;
		margin: 28px 0 0 !important;
		vertical-align: middle;
		width: 100%;
		
		.action {
			&.primary {
				min-width: 273px;
			}
		}
	}
}


.register-form-links {
    float: left;
    margin: 12px 0 20px;
    width: 98%;
	
	.form-bottom-info {
		display: inline-block;
		vertical-align: middle;
		width: auto;
		
		span {
		display: inline-block;
		vertical-align: middle;
		width: auto;
		margin: 0 0 24px;
			
			a {
				color: #000000;
				display: inline-block;
				text-decoration: underline;
				vertical-align: top;
				
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}


#password-strength-meter-container {
    display: none;
}


/***********************For the Forget Password Page Design***********************/

.forgotpassword {
    
	.fieldset {
        .field {
            letter-spacing: 0.4px;
			
			&.note {
                padding-top: 10px;
            }
        
            .label {
                font-weight: normal;
                padding: 0 !important;
                text-align: left !important;
                width: 100% !important;
                margin: 0;
                
				span {
                    display: inline-block;
                    vertical-align: top;
                    width: auto;
                }
            }
            
			.control {
                width: 100% !important;
            }
        }
        
		&::after {
            margin-left: 0 !important;
        }
    }
    
	form {
        &.forget {
            min-width: 470px !important;
            
			.actions-toolbar {
                margin-left: 0 !important;
            }
        }
        
		.captcha {
            .nested {
                padding-top: 25px;
                
				.captcha-reload {
                    background: #000000 none repeat scroll 0 0;
                    border: medium none;
                    border-radius: 0;
                    color: #ffffff;
                    display: inline-block;
                    font-size: 22px;
                    font-weight: normal;
                    line-height: 50px;
                    padding: 0 6%;
                    text-transform: uppercase;
                    vertical-align: middle;
                    float: right;
                }
            }
        }
    }
}


.page-main {
	.forgotpassword {
		.actions-toolbar {
			button.action.primary {
				padding: 0 10% !important;
			}
		}
	}
}



/***********************For the Password reset and account confirmation Page Design***********************/


.resetforgetpassword,
.accountconfirmation {
    
	.fieldset {
        .field {
            letter-spacing: 0.4px;
			
			&.note {
                padding-top: 10px;
            }
        
            .label {
                font-weight: normal;
                padding: 0 !important;
                text-align: left !important;
                width: 100% !important;
                margin: 0;
                
				span {
                    display: inline-block;
                    vertical-align: top;
                    width: auto;
                }
            }
            
			.control {
                width: 100% !important;
            }
        }
        
		&::after {
            margin-left: 0 !important;
        }
    }
    
	form {
	
		&.form.password.reset,
		&.form.send.confirmation {
            min-width: 470px !important;
            
			.actions-toolbar {
                margin-left: 0 !important;
				
				.secondary {
					float: right;
					width: 100%;
				}
            }
        }
    }
}







/***********************For the User Dashboard Pages Design***********************/


/*=======General css for the user dashboard pages=======*/

.account {
    .page-main {
        padding-top: 42px;
        padding-left: 140px;
		
		.column {
			&.main {
				width: 862px !important;
                min-height: 450px;
			}
		}
		
		.sidebar-main {
			position: sticky;
            top: 40px;
			width: 177px !important;
			z-index: 1;
		}
    }
}


.page-main {
    .actions-toolbar {
        .primary {
            button {
                letter-spacing: 2.4px;
            }
        }
		
		button.action.primary {
			padding: 0 14% !important;
		}
    }
}



/*=======Custom css for the account sidebar=======*/

.account-nav {
	display: inline-block;
    margin: 0;
    width: 100%;
	vertical-align: middle;
	
	.account-nav-title {
		display: none;
	}
	
	.account-nav-content {
		background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
		display: inline-block;
		padding: 0;
		width: 100%;
		vertical-align: middle;
	}
	
	ul.nav {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
	}
	
    li.item {
        float: left;
        clear: both;
        line-height: 10px;
		margin: 0;

        a {
            border: medium none !important;
			color: #000;
			display: inline-block;
			letter-spacing: 1.6px;
			line-height: 10px;
			padding: 0 5px 2px 0;
			text-transform: uppercase;
			width: auto;
			margin: 0 0 14px;
			height: 10px;
			 
			&:hover {
                background: #FFA300;
            }
        }
		
        &.current {
            strong {
                border: medium none;
				display: inline-block;
				font-weight: normal;
				letter-spacing: 1.6px;
				line-height: 10px;
				padding: 0 5px 2px 0;
				position: relative;
				text-transform: uppercase;
				vertical-align: middle;
				width: auto;
				z-index: 1;
				margin: 0 0 14px;
                
				&::after {
                    background: #ffa300 none repeat scroll 0 0;
					content: "";
					height: 100%;
					left: 0;
					position: absolute;
					top: 0;
					width: 100%;
					z-index: -1;
                }
            }
        }
		
		
		&:nth-child(4) {
			display: none;
		}
    }
}



/*=======Custom css for the My account info page=======*/

.account {    
	.customer-name-show {
        display: inline-block;
		font-family: "SofiaPro Black";
		text-transform: uppercase;
		vertical-align: middle;
		width: 100%;
        
		p {
			display: inline-block;
			vertical-align: middle;
			width: 100%;

			&:first-child {
				font-size: 36px;
				height: 32px;
				letter-spacing: 3.6px;
				line-height: 32px;
				margin: 0 0 15px;
				
				span {
					display: inline-block;
					line-height: 20px;
					vertical-align: top;
					width: 100%;
				}
			}
        
			&:last-child {
				font-size: 60px;
				height: 42px;
				letter-spacing: 6px;
				line-height: 42px;
				margin: 0;
			}
		}
        
		.backstrip {
			height: 42px;
			line-height: 30px;
			vertical-align: top;
			
            &::after {
                bottom: 0;
                height: 20px;
                background: #A0F0E1;
            }
        }
    }
	
    .edit-customer-info-container {
        padding-top: 95px;
        clear: both;
        overflow: hidden;
        padding-bottom: 38px;
        
		.left-edit-container {
            float: left;
            max-width: 50%;
        }
        
		.right-edit-container {
            float: right;
            max-width: 50%;
        }
        
		.left-conatiner {
            float: left;
            max-width: 75px;
            margin-right: 26px;
        }
        
		.right-container {
            span {
                display: inline-block;
            }
            
			a {
                font-family: "SofiaPro Black";
                font-size: 36px;
                color: #000;
                text-transform: lowercase;
                span {
                    font-size: 32px;
                }
            }
        }
    }
}


.block-dashboard-orders {
    .block-title {
        &.order {
            text-align: center;
            font-family: "SofiaPro Black";
            font-size: 36px;
            text-transform: uppercase;
            background: #FFA300;
            letter-spacing: 3.6px;
            padding-top: 20px;
            padding-bottom: 22px;
            strong {
                font-size: 36px !important;
            }
            a {
                color: #000;
                text-decoration: underline;
                font-size: 22px;
            }
        }
        .backstrip {
            z-index: 1;
            &::after {
                bottom: 1px;
                max-width: calc(~'(100% - 3px)');
                background: #fff;
            }
        }
    }
}


.order-details-items {
	&.ordered {
		.table-wrapper {
			&.order-items {
				& > div {
					box-sizing: border-box;
					display: inline-block;
					padding: 0;
					text-align: left;
					width: 50%;
					
					&:nth-child(2n) {
						text-align: right;
					}
				}
			}
		}
		
		#my-orders-table {
			.orderdetails {
				box-sizing: border-box;
				padding: 20px;
			}
		}
	}
}



#my-orders-table {
	display: inline-block;
    width: auto;
	
    .orderdetails {
        width: 370px;
        float: left;
        border: solid 2px #000;
        padding-top: 22px;
        margin-top: 40px;
        padding-bottom: 0px;
        
		.innerlist {
            text-align: center;
            
			.col {
                display: inline-block;
                line-height: 28px;
            }
			
            .heading {
                font-family: 'Courier Sans Bold';
                font-size: 18px;
                line-height: 28px;
				
				&:after {
					content: ":";
					padding: 0 5px;
				}
				
				strong {
					font-weight: normal;
				}
            }
			
            .actions {
                font-size: 24px;
                color: #000;
                text-transform: uppercase;
                letter-spacing: 2.4px;
                border-right: solid 2px #000000;
                float: left;
                text-align: center;
                width: 49%;
                padding: 14px 0;
                
				a {
                    font-size: 24px;
                    color: #000;
                    text-transform: uppercase;
                    letter-spacing: 2.4px;
                }
            }
			
            .reviewcount {
                font-size: 24px;
                color: #000;
                text-transform: uppercase;
                letter-spacing: 2.4px;
                float: left;
                text-align: center;
                width: 50%;
                padding: 14px 0;
                
				a {
                    font-size: 24px;
                    color: #000;
                    text-transform: uppercase;
                    letter-spacing: 2.4px;
                }
            }
        }
		
        .trackyouorder {
            text-align: center;
            background: #000;
            color: #fff;
            letter-spacing: 2.4px;
            font-size: 24px;
            padding-top: 18px;
            padding-bottom: 18px;
            margin-top: 30px;
        }
    }
	
    .orderhistaction {
        .actiontop {
            text-align: center;
            background: #000;
            color: #fff;
            letter-spacing: 2.4px;
            font-size: 24px;
            padding-top: 18px;
            padding-bottom: 18px;
            margin-top: 22px;
            width: 100%;
            text-transform: uppercase;
        }
        
		.actionsN {
            width: 100%;
        }
        
		.view {
            font-size: 24px;
            color: #000;
            text-transform: uppercase;
            letter-spacing: 2.4px;
            border-right: solid 2px #000000;
            float: left;
            text-align: center;
            width: 49%;
            padding: 14px 0;
            margin: 0px;
            text-decoration: none;
        }
        
		.order {
            font-size: 24px;
            color: #000;
            text-transform: uppercase;
            letter-spacing: 2.4px;
            float: left;
            text-align: center;
            width: 50%;
            padding: 14px 0;
            text-decoration: none;
        }
    }
	
    .price {
        font-family: "Courier Sans Regular";
		font-size: 16px;
		font-weight: normal !important;
		padding: 0;
    }
}


.orderdetails:nth-child(even) {float: right !important;}
.orderdetails:nth-child(odd) {float: left !important;}
.account-nav .item .delimiter {display: none !important;}

.block-addresses-default {
    
	.block-title {
        text-align: center;
        font-family: "SofiaPro Black";
        font-size: 36px;
        text-transform: uppercase;
        background: #FFA300;
        letter-spacing: 3.6px;
        padding-top: 20px;
        padding-bottom: 22px;
        margin-bottom: 40px !important;
        
		.backstrip {
            z-index: 1;
            
			&::after {
                bottom: 1px;
                max-width: calc(~'(100% - 3px)');
                background: #fff;
            }
        }
    }
    
	.block-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
		&::after {
            display: none !important;
        }
        
		&::before {
            display: none !important;
        }
        
		.box-billing-address,
		.box-address-billing {
            border: solid 2px #000;
            text-align: center;
            line-height: 28px;
            display: flex;
            flex-wrap: wrap;
            width: 370px !important;
            
			.box-content {
                width: 100%;
                line-height: 28px;
                
				a {
                    color: #000;
                }
            }
        }
		
        .box-address-shipping {
            border: solid 2px #000;
            text-align: center;
            line-height: 28px;
            display: flex;
            flex-wrap: wrap;
            width: 370px !important;
            
			.box-content {
                width: 100%;
                line-height: 28px;
                
				a {
                    color: #000;
                }
            }
        }
		
        .box-actions {
            width: 100%;
            text-align: center;
            background: #000;
            color: #fff;
            letter-spacing: 2.4px;
            font-size: 24px;
            padding: 18px 0;
            margin: 22px 0 0;
            
			a {
                font-size: 20px;
                text-transform: uppercase;
                color: #fff;
                text-decoration: none;
            }
        }
		
    }
	
	
    .defaultshipadd {
        font-size: 18px;
        text-align: center;
        letter-spacing: 1.6px;
        text-transform: uppercase;
        width: 100%;
        padding-top: 22px;
        padding-bottom: 10px;
    }
}


.block-addresses-list {
    
	.block-title {
        text-align: center;
        font-family: "SofiaPro Black";
        font-size: 36px;
        text-transform: uppercase;
        background: #FFA300;
        letter-spacing: 3.6px;
        padding-top: 20px;
        padding-bottom: 22px;
        margin-bottom: 40px !important;
       
	   .backstrip {
            z-index: 1;
            
			&::after {
                bottom: 1px;
                max-width: calc(~'(100% - 3px)');
                background: #fff;
            }
        }
    }
	
    ol {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
		&::after {
            display: none !important;
        }
        
		&::before {
            display: none !important;
        }
        
		li {
            border: solid 2px #000;
            text-align: center;
            font-size: 16px !important;
            line-height: 28px;
            display: flex;
            flex-wrap: wrap;
            width: 370px !important;
            padding-top: 24px;
            text-transform: capitalize;
            position: relative;
            
			a {
                color: #000;
            }
            
			.action {
                &.edit {
                    text-align: center;
                    background: #000;
                    color: #fff;
                    letter-spacing: 2.4px;
                    font-size: 24px;
                    padding-top: 18px;
                    padding-bottom: 18px;
                    margin-top: 22px;
                    display: block;
                    text-transform: uppercase;
                    text-decoration: none;
                }
            }
			
            .action {
                &.delete {
                    text-align: center;
                    background: #fff;
                    color: #000;
                    letter-spacing: 2.4px;
                    font-size: 24px;
                    padding-top: 18px;
                    padding-bottom: 18px;
                    margin-top: 0;
                    display: block;
                    text-transform: uppercase;
                    text-decoration: none;
                }
            }
			
            .item {
                &.actions {
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    left: 0;
                }
            }
			
            address { 
                display: block;
                min-height: 350px;
                max-height: 1000px;
            }
        }
    }    
}


.empty-wishlist {
    h1 {
        font-family: "SofiaPro Black";
        font-size: 60px;
        line-height: 72px;
        letter-spacing: 6px;
        text-transform: uppercase;
        
		.backstrip {
            &::after {
                background: #A0F0E1;
                height: 20px;
                bottom: -11px;
            }
        }

    }
	
    .tapontext {
        font-family: "SofiaPro Black";
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 3.6px;
        text-transform: uppercase;
        padding-bottom: 28px;
        .backstrip {
            &::after{
                height: 16px;
            } 
        }
    }
	
    .tosaveyour {
        font-family: "SofiaPro Black";
        font-size: 36px;
        line-height: 43px;
        letter-spacing: 3.6px;
        text-transform: uppercase;
        padding-top: 15px;
        
		.backstrip {
            &::after{
                height: 16px;
            } 
        }
    }
	
	.starttext {
		font-family: "SofiaPro Black";
		font-size: 36px;
		line-height: 43px;
		letter-spacing: 3.6px;
		text-transform: uppercase;
		padding-top: 32px;
		padding-bottom: 30px;
		
		.backstrip {
			&::after{
				height: 16px;
			} 
		}
	}
}


.wishlist-top-bar {
    padding-bottom: 40px;
    
	.wishlist-title {
        text-align: center;
        font-family: "SofiaPro Black";
        font-size: 36px;
        text-transform: uppercase;
        background: #FFA300;
        letter-spacing: 3.6px;
        padding-top: 20px;
        padding-bottom: 22px;
        display: block;
        
		.backstrip {
            z-index: 1;
            
			&::after {
                bottom: 1px;
                max-width: calc(~'(100% - 3px)');
                background: #fff;
            }
        }
    }
	
    .actions-toolbar {
        padding-top: 40px;
        
		button {
            text-align: center;
            background: #000;
            color: #fff;
            letter-spacing: 2.4px;
            font-size: 22px;
            padding-top: 18px;
            padding-bottom: 18px;
            margin-top: 22px;
            font-weight: normal;
            text-transform: uppercase;
            border: 0px;
            border-radius: 0;
        }
    }
}


.orders-history {
    .myorder {
        text-align: center;
        font-family: "SofiaPro Black";
        font-size: 36px;
        text-transform: uppercase;
        background: #FFA300;
        letter-spacing: 3.6px;
        padding-top: 20px;
        padding-bottom: 22px;
        
		.backstrip {
            z-index: 1;
            
			&::after {
                bottom: 1px;
                max-width: calc(~'(100% - 3px)');
                background: #fff;
            }
        }
    }
}


.sales-order-history {
    .actions-toolbar{
        clear: both;
    }
}


.sales-order-view {
    .order-links {
        display: none;
    }
}


.order-details-items {
    border-bottom: none;
    
	.odredviewtitile {
        text-align: center;
        font-family: "SofiaPro Black";
        font-size: 36px;
        text-transform: uppercase;
        background: #FFA300;
        letter-spacing: 3.6px;
        padding-top: 20px;
        padding-bottom: 22px;
        
		.backstrip {
            z-index: 1;
            
			&::after {
                bottom: 1px;
                max-width: calc(~'(100% - 3px)');
                background: #fff;
            }
        }
    }
	
    .actions-toolbar {
        padding-top: 10px;
        
		.secondary {
            float: left;
            
			a {
                text-align: center;
                background: #000;
                color: #fff !important;
                letter-spacing: 2.4px !important;
                font-size: 22px !important;
                font-weight: normal;
                text-transform: uppercase;
                border: 0px;
                border-radius: 0;
                text-decoration: none !important;
                padding: 12px 24px !important;
            }
        }
    }
}


.form-address-edit {
    
	.actions-toolbar {
        margin-left: 0 !important;
    }
    
	.fieldset {
        margin-bottom: 20px !important;
    }
    
	.legend {
        text-align: center;
        font-family: "SofiaPro Black";
        font-size: 36px;
        text-transform: uppercase;
        background: #FFA300;
        letter-spacing: 3.6px;
        padding-top: 20px;
        padding-bottom: 22px;
        margin-left: 0 !important;
        margin-bottom: 40px;
        width: 100%;
        
		.backstrip {
            z-index: 1;
            
			&::after {
                bottom: 1px;
                max-width: calc(~'(100% - 3px)');
                background: #fff;
            }
		}
	}
	
    .label {
        box-sizing: border-box;
        float: left;
        font-weight: normal;
        margin: 0 0 13px;
        padding: 0;
        text-align: left;
        width: 100%;
        position: relative;
		letter-spacing: 0.4px;
    }
	
    .editforminner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
		.field  {
            flex-wrap: wrap;
            width: 46%;
            display: inline-block;
            margin-bottom: 30px;
        }
		
        .additional {
            width: 100%;
            margin: 20px 0 0 0;
        }
		
        select {
            background: #ffffff none repeat scroll 0 0 padding-box;
            border: 2px solid #000000;
            border-radius: 0;
            box-shadow: none;
            box-sizing: border-box;
            display: inline-block;
            font-family: "Courier Sans Regular";
            font-size: 18px;
            height: 50px;
            letter-spacing: 0.45px;
            line-height: 50px;
            padding: 5px 18px;
            vertical-align: baseline;
            width: 100%;
        }
    }
}


.choice {
	float: none;
	position: relative;
	margin: 0 0 0 0;

	&:before {
		content: none;
		padding: 0;
	}

	label {
		box-sizing: border-box;
		float: left;
		margin: 0;
		padding: 0 0 0 40px;
		position: relative;
		cursor: pointer;

		&:before {
			border: 2px solid #000000;
			content: " ";
			height: 16px;
			left: 0;
			position: absolute;
			top: 50%;
			transform: translate(0px, -50%);
			width: 16px;
		}

		span {
			&.backstrip {
				line-height: 13px;
				vertical-align: middle;

				&:after {
					height: 13px;
					max-width: 100%;
				}
			}
		}
	}

	input {
		&.checkbox {
			float: left;
			height: 100%;
			left: 0;
			margin: 0;
			opacity: 0;
			position: absolute;
			top: 0;
			width: 100%;

			&:checked {
				& ~ label {
					&:after {
						background: rgba(0, 0, 0, 0) url("../images/right.png") no-repeat scroll center center / 12px auto;
						content: " ";
						height: 16px;
						left: 2px;
						position: absolute;
						top: 50%;
						transform: translate(0px, -50%);
						width: 16px;
					}
				}
			}
		}
	}
}


.block-order-details-view {
    .block-title {
        text-align: center;
        font-family: "SofiaPro Black";
        font-size: 36px;
        text-transform: uppercase;
        background: #FFA300;
        letter-spacing: 3.6px;
        padding-top: 20px;
        padding-bottom: 22px;
        margin-bottom: 40px;
        
		.backstrip {
            z-index: 1;
            &::after {
                bottom: 1px;
                max-width: calc(~'(100% - 3px)');
                background: #fff;
            }
        }
    }
    
	.block-content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
        
		&::before {
            display: none;
        }
        
		&::after {
            display: none;
        }
        
		.box {
            border: solid 2px #000;
            text-align: center;
            line-height: 28px;
            display: flex;
            flex-wrap: wrap;
            width: 370px;
            margin: 20px 1% 0;
			max-width: 48%;
			box-sizing: border-box;
            
			.defaultshipadd {
                font-size: 18px;
                text-align: center;
                letter-spacing: 1.6px;
                text-transform: uppercase;
                width: 100%;
                padding-top: 22px;
                padding-bottom: 10px;
            }
            
			.box-content {
                width: 100%;
                padding-bottom: 22px;
                a {
                    color: #000;
                }
            }
        }
    }
}


.products-grid {
    &.wishlist {
	
        .product-item-actions {
            margin: 0;
            padding: 0;
            
			.edit {
                display: none;
            }
            
			.delete {
                display: none;
            }
        }
		
        .product-short-dec {
            letter-spacing: 1.6px;
            padding-top: 11px;
            padding-bottom: 20px;
            
			p {
                margin: 0;
            }
        }
		
        .product-items {
			//border-bottom: solid 2px #707070;
            
			.product-item{
                
				&:nth-child(odd) {
                    border-right: 2px solid #707070;
                    padding-right: 58px
                }
                
				&:nth-child(even) {
                    padding-left: 58px
                }
            }
        }
		
        .product-item {
            .product-item-name {
                color: #000;
				left: -164px;
				top: 160px;
            }
            
			&.Goals {
                .product-feat {
                    padding: 12px 8px;
                }
            }
			
			&.MIDNIGHT {
				.product-item-name {
					margin: -3px 0 0;
				}
			}
        }
    }
}


.form-edit-account {
    
	.legend {
        text-align: center;
        font-family: "SofiaPro Black";
        font-size: 36px;
        text-transform: uppercase;
        background: #FFA300;
        letter-spacing: 3.6px;
        padding-top: 20px;
        padding-bottom: 22px;
        margin-left: 0;
        margin-bottom: 40px;
        width: 100%;
        
		.backstrip {
            z-index: 1;
            
			&::after {
                bottom: 1px;
                max-width: calc(~'(100% - 3px)');
                background: #fff;
            }
        }
    }
	
    .actions-toolbar {       
	   .primary{
            max-width: 170px;
            width: 100%;
            button {
                width: 100%;
            }
        }
        
		/*.secondary {
            max-width: 170px;
            width: 100%;
            
			a {
                background: #000000 none repeat scroll 0 0;
                border: medium none;
                border-radius: 0;
                color: #ffffff;
                display: inline-block;
                font-size: 24px;
                font-weight: normal;
                line-height: 63px;
                text-transform: uppercase;
                vertical-align: middle;
                margin: 0;
                text-decoration: none;
                width: 100%;
            }
        }*/
    }
    .field {
        &.choice {
            margin: 0 0 8px 0 !important;
        }
    }
}


.wishlistbottmcount {
    border: solid 2px #000;
    
	.product-feat {
        text-align: center;
        border-bottom: solid 2px #000;
        padding: 12px 17px;
		
		p {
			margin: 0;
		}
    }
    
	.product-item-actions {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0;
        
		.product-currency {
            margin-right: 0;
            flex-wrap: wrap;
            text-align: center;
            width: 33%;
            border-right: solid 2px #000;
            font-size: 24px;
            letter-spacing: 0.48px;
            padding-top: 16px;
        }
        
		.actions-primary {
            flex-wrap: wrap;
            text-align: center;
            width: 33%;
            border-right: solid 2px #000;
            padding-top: 10px;
            padding-bottom: 4px;
            
			button {
                background: no-repeat;
                border: none;
                padding: 0;
                box-shadow: none
            }
        }
		
        .eye-icon {
            flex-wrap: wrap;
            text-align: center;
            width: 32%;
            padding-top: 20px;
        }
    }
}


.gdpr-customer-settings  {
    .policy-content {    
        padding-top: 14px;
    }
	
    .block-title {
        text-align: center;
        font-family: "SofiaPro Black";
        font-size: 36px;
        text-transform: uppercase;
        background: #FFA300;
        letter-spacing: 3.6px;
        padding-top: 20px;
        padding-bottom: 22px;
        margin-left: 0;
        margin-bottom: 40px;
        width: 100%;
        
		.backstrip {
            z-index: 1;
            
			&::after {
                bottom: 1px;
                max-width: calc(~'(100% - 3px)');
                background: #fff;
            }
        }
    }
	
    .field  {
        width: 50%;
    }
	
    .actions-toolbar {
        margin-left: 0 !important;
    }
	
    .checkbox {
        clear: both;
        padding-bottom: 20px;
        width: 100%;
        padding-bottom: 60px;
        position: relative;
        
		.checkbox {
            height: 46%;
            left: -420px;
            z-index: 1;
        }
    }
}

