<!-- ko if: isDisplayed() -->
<tr class="totals initial-fee">
    <th class="mark" colspan="1" scope="row" data-bind="i18n: title"></th>
    <td class="amount" data-th="Initial Fee">
        <span class="price" data-bind="text: getValue()"></span>
    </td>
</tr>
<!-- /ko -->
