// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Blank theme overrides
//  _____________________________________________

//  Theme file should contain declarations (overrides) ONLY OF EXISTING variables
//  Otherwise this theme won't be available for parent nesting
//  All new variables should be placed in local theme lib or local theme files


//
//  General css for all the pages
//  ---------------------------------------------

@font-face {
     font-family: 'Courier Sans Bold';
     src: url('../fonts/couriersans-bold/couriersans-bold.eot');
     src: url('../fonts/couriersans-bold/couriersans-bold.eot?#iefix') format('embedded-opentype'),
	 url('../fonts/couriersans-bold/couriersans-bold.woff2') format('woff2'),
	 url('../fonts/couriersans-bold/couriersans-bold.woff') format('woff'),
	 url('../fonts/couriersans-bold/couriersans-bold.ttf') format('truetype'),
	 url('../fonts/couriersans-bold/couriersans-bold.svg#Courier Sans Bold') format('svg');
     font-weight: 400;
     font-style: normal
}

@font-face {
     font-family: 'Courier Sans Light';
     src: url('../fonts/couriersans-light/couriersans-light.eot');
     src: url('../fonts/couriersans-light/couriersans-light.eot?#iefix') format('embedded-opentype'),
	 url('../fonts/couriersans-light/couriersans-light.woff2') format('woff2'),
	 url('../fonts/couriersans-light/couriersans-light.woff') format('woff'),
	 url('../fonts/couriersans-light/couriersans-light.ttf') format('truetype'),
	 url('../fonts/couriersans-light/couriersans-light.svg#Courier Sans Light') format('svg');
     font-weight: 400;
     font-style: normal
}

@font-face {
     font-family: 'Courier Sans Regular';
     src: url('../fonts/couriersans-regular/couriersans-regular.eot');
     src: url('../fonts/couriersans-regular/couriersans-regular.eot?#iefix') format('embedded-opentype'),
	 url('../fonts/couriersans-regular/couriersans-regular.woff2') format('woff2'),
	 url('../fonts/couriersans-regular/couriersans-regular.woff') format('woff'),
	 url('../fonts/couriersans-regular/couriersans-regular.ttf') format('truetype'),
	 url('../fonts/couriersans-regular/couriersans-regular.svg#Courier Sans Regular') format('svg');
     font-weight: 400;
     font-style: normal
}

@font-face {
     font-family: 'SofiaPro Black';
     src: url('../fonts/SofiaPro-Black/SofiaPro-Black.eot');
     src: url('../fonts/SofiaPro-Black/SofiaPro-Black.eot?#iefix') format('embedded-opentype'),
	 url('../fonts/SofiaPro-Black/SofiaPro-Black.woff2') format('woff2'),
	 url('../fonts/SofiaPro-Black/SofiaPro-Black.woff') format('woff'),
	 url('../fonts/SofiaPro-Black/SofiaPro-Black.ttf') format('truetype'),
	 url('../fonts/SofiaPro-Black/SofiaPro-Black.svg#SofiaPro Black') format('svg');
     font-weight: 400;
     font-style: normal
}

body {
    color: #000000;
    font-family: 'Courier Sans Regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.4px;
}

a,
.alink,
button,
.button {
	transition: all 0.5s ease;
}

.page-main {
	.container {
		box-sizing: border-box;
		margin: 0 auto;
		max-width: 1236px;
		padding: 0 40px;
		width: 100%;
	}
	
	input[type="text"],
	input[type="password"],
	input[type="url"],
	input[type="tel"],
	input[type="search"],
	input[type="number"],
	input[type="datetime"],
	input[type="email"] {
		background: #ffffff none repeat scroll 0 0 padding-box;
		border: 2px solid #000000;
		border-radius: 0;
		box-shadow: none !important;
		box-sizing: border-box;
		display: inline-block;
		font-family: "Courier Sans Regular";
		font-size: 18px;
		height: 50px;
		letter-spacing: 0.45px;
		line-height: 50px;
		padding: 5px 18px;
		vertical-align: baseline;
		width: 100%;
		
		&::-webkit-input-placeholder {
			color: #858585;
		}
		
		&::-moz-placeholder {
			color: #858585;
		}
		
		&:-ms-input-placeholder {
			color: #858585;
		}
		
		&:-moz-placeholder {
			color: #858585;
		}
	}
	
	textarea {
		background: #ffffff none repeat scroll 0 0 padding-box;
		border: 2px solid #000000;
		border-radius: 0;
		box-shadow: none !important;
		display: inline-block;
		font-family: "Courier Sans Regular";
		font-size: 18px;
		letter-spacing: 0.45px;
		line-height: 36px;
		max-height: 250px;
		min-height: 250px;
		padding: 5px 18px;
		width: 100%;
		
		&::-webkit-input-placeholder {
			color: #858585;
		}
		
		&::-moz-placeholder {
			color: #858585;
		}
		
		&:-ms-input-placeholder {
			color: #858585;
		}
		
		&:-moz-placeholder {
			color: #858585;
		}
	}
	
	.actions-toolbar { 
		button {
			&.action {
				&.primary {
					background: #000000 none repeat scroll 0 0;
					border: medium none;
					border-radius: 0;
					color: #ffffff;
					display: inline-block;
					font-size: 24px;
					font-weight: normal;
					line-height: 63px;
					padding: 0 20%;
					text-transform: uppercase;
					vertical-align: middle;
					
					span {
						display: inline-block;
						vertical-align: top;
						width: auto;
						white-space: nowrap;
					}
				}
			}
		}
		
		 .secondary {
			a {
				&.action {
					color: #000000;
					float: right;
					font-size: 15px;
					letter-spacing: 0.4px;
					line-height: 43px;
					margin: 10px 0;
					padding: 0;
					text-decoration: underline;
					vertical-align: middle;
					
					span {
						display: block;
						vertical-align: middle;
						width: auto;
						white-space: nowrap;
					}
					
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
	
	.pro-action-section {
		.action {
			&.primary {
				&:focus,
				&:active {
					background: #000000 none repeat scroll 0 0;
					border: medium none;
					color: #ffffff;
					
					img {
						filter: brightness(100%) invert(100%);
					}
				}
			}
		}
	}
}


#maincontent {
	.messages {
		margin: 0 auto;
		max-width: 1156px;
		
		.message {
			box-sizing: border-box;
			float: right;
			margin: 30px 0;
			max-width: 100%;
			width: 862px;
			
			 & ~ .message {
				display: none;
				margin: 0;
			}
		}
	}
}


.account {
	#maincontent {
		.messages {
			.message {
				margin: 0 0 15px;
			}
		}
	}
}



//
//  General css for Custom
//  ---------------------------------------------

.custom-header-cont {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    background: #fff;
    border-bottom: solid 2px #000;
    padding-top: 9px;
    height: 49px;
	transition: .5s all ease;
	/*z-index: 3;
	left: 0;
    position: fixed;
    top: 62px;*/
}



.header-topbar {
    box-sizing: border-box;
    display: none;
    padding: 16px 15px;
    text-align: center;
    width: 100%;
    background: #FFDEB5;
}




.top-bar-cont {
    display: inline-block;
    max-width: 1156px;
    white-space: nowrap;
    width: 100%;
	
	.top-label {
		box-sizing: border-box;
		display: inline-block;
		font-size: 16px;
		letter-spacing: 1.6px;
		line-height: 30px;
		margin: 0 5px 0 0;
		padding: 0 15px 0 0;
		text-transform: uppercase;
		vertical-align: middle;
		width: auto;
	}

	a {
		background: #000000 none repeat scroll 0 0;
		color: #ffffff;
		display: inline-block;
		font-size: 16px;
		letter-spacing: 1.6px;
		line-height: 30px;
		padding: 0 123px;
		text-transform: uppercase;
		vertical-align: top;
		width: auto;
	}
}

.top-bar-close {
    cursor: pointer;
    float: right;
    font-family: "SofiaPro Black";
    font-size: 36px;
    line-height: 30px;
    position: relative;
    width: auto;
	
	.top-close {
		display: inline-block;
		left: -56px;
		position: absolute;
		top: -3px;
		vertical-align: top;
	}
}

.header-container {
    display: block;
    margin: 0px auto 0;
    max-width: 1156px;
}

.logo-menu-bar {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.menu-section {
    float: left;
    max-width: calc(~'(100% - 200px)');
    width: 100%;
}

.main-logo {
    float: right;
    width: auto;
    padding-top: 5px;
	
	.logo {
		margin: 0;
		max-width: 100%;
		z-index: 2;
		
		img {
			display: inline-block;
			vertical-align: middle;
			width: auto;
		}
	}
}

.menu-bar {
    display: inline-block;
    vertical-align: top;
    width: 100%;
	
	.menu-logo {
		float: left;
		text-align: center;
		width: 60px;
		margin: 0 0 0 -30px;
		
		& > a {
			display: inline-block;
			vertical-align: middle;
			width: 100%;
		}
		
		img {
			display: inline-block;
			margin: 0;
			vertical-align: top;
			width: auto;
		}
	}
	
	.menu-links {
		box-sizing: border-box;
		float: left;
		padding: 0 60px;
		width: calc(~'(100% - 96px)');
	}
	
	.menu-items {
		display: inline-block;
		list-style: outside none none;
		margin: 0;
		padding: 0;
		vertical-align: top;
		width: 100%;
        padding-top: 16px;
	}
	
	.menu-item {
		display: inline-block;
		line-height: 13px;
		margin: 0 6px 0 0;
		padding: 0 10px;
		vertical-align: top;
		width: auto;

		a {
			border-bottom: 1px solid transparent;
			color: #000000;
			display: inline-block;
			font-size: 16px;
			letter-spacing: 1.6px;
			line-height: 24px;
			margin: -5px 0 0;
			padding: 0;
			text-decoration: none;
			text-transform: uppercase;
			vertical-align: top;
			width: auto;
			
			&:hover {
				border-bottom: 1px solid #000000;
			}
            &.active {
                border-bottom: 1px solid #000000;
            }
		}
		
		&:last-child {
			margin: 0;
		}
	}
}


.header-fixed-options {
    display: inline-block;
    left: calc(~'(100% - 1216px) / 2');
    margin: 0;
    position: fixed;
    top: 102px;
    vertical-align: top;
    width: 60px;
	transition: .5s all ease;
	z-index: 3;
	
	&.shift-to-top {
		top: 100px;
		transition: .5s all ease;
	}
	
	&.scrolled {
		top: 40px;
		transition: .5s all ease;
	}
}

.header-opt {
    display: inline-block; 
    width: 100%;
}

.header-opt-boxes {
    float: left;
    width: 100%;
    text-align: center;	
    .on-user-icon-click-show-box {
        padding: 0;
        clear: both;
        overflow: hidden;
    }
	.box-opt {
		border: 2px solid #000000;
		box-sizing: border-box;
		float: left;
		width: 100%;
		transition: all 0.5s ease;
		background: #ffffff none repeat scroll 0 0;
		
		a {
			float: left;
			width: 100%;
		}
		
		img {
			float: none;
			max-width: 100%;
			width: auto;
			transition: all 0.5s ease;
			cursor: pointer;
		}
		
		&:hover {
			background: rgb(0, 0, 0) none repeat scroll 0% 0%;
			
			img {
				filter: brightness(100%) invert(100%);
			}
		}

		&.chat-box {
			border-bottom: medium none;
			margin: 36px 0 0;
            padding-top: 14px;
            padding-bottom: 3px;
		}
		
		&.user-box {
			border-bottom: medium none;
			
			a {
				box-sizing: border-box;
				padding: 14px 16px 8px;
			}
		}
		
		&.minicart-box {
			&:hover {
				background: #ffffff none repeat scroll 0 0;
				
				img {
					filter: none;
				}
			}
			
			.text {
				&:hover {
					background: #000000 none repeat scroll 0 0;
					
					img {
						filter: brightness(100%) invert(100%);
					}
				}
			}
		}
	}
}


.minicart-box {
	.minicart-wrapper {
		margin: 0;
		text-align: center;
		width: 100%;
		
		.action {
			&.showcart {
				&:before {
					content: none;
				}
				
				.text {
					float: left;
					height: auto;
					margin: 0;
					padding: 0;
					position: static;
					width: 100%;
					transition: all 0.5s ease 0s;
                    padding-top: 16px;
                    padding-bottom: 1px;
				}
				
				.counter {
					&.qty {
						background: #ffffff none repeat scroll 0 0;
						border-radius: 0;
						border-top: 2px solid #000000;
						color: #000000;
						display: inline-block;
						float: left;
						font-size: 18px;
						height: 28px;
						letter-spacing: 0.45px;
						line-height: 28px;
						margin: 0;
						padding: 0;
						position: static;
						text-align: center;
						width: 100%;
						
						&.empty {
							display: inline-block;
						}
						
						&:hover {
							background: #000000 none repeat scroll 0 0;
							color: #ffffff;
						}
					}
				}

				.counter-label {
					display: none;
				}

				.counter-number {
					display: inline-block;
					vertical-align: top;
					width: 100%;
				}
			}
		}
	}
}


/*======For the cookie bar strip======*/

.message {
	&.global {
		&.cookie {
			.content {
				display: inline-block;
				text-align: center;
				width: 100%;
				
				p {
					display: inline-block;
					width: auto;
				}
				
				.actions {
					display: inline-block;
					margin: 5px;
					width: auto;
				}
			}
		}
	}
}



/*======For the modal-pop-ups======*/

.modals-wrapper {
	.modal-popup {
	
		.modal-inner-wrap {
			max-width: 1156px;
			width: 80%;
		}
		
		.modal-header {
			float: left;
			padding: 5px 0;
			position: relative;
			width: 100%;
		}
		
		.modal-content {
			box-sizing: border-box;
			float: left;
			letter-spacing: 0.45px;
			padding: 10px;
			text-align: center;
			width: 100%;
		}
		
		.modal-footer {
			box-sizing: border-box;
			float: left;
			padding: 20px;
			text-align: center;
			width: 100%;
		}
		
		button {
			background: #000000 none repeat scroll 0 0;
			border: medium none;
			border-radius: 0;
			color: #ffffff;
			display: inline-block;
			font-size: 18px;
			font-weight: normal;
			letter-spacing: 1.85px;
			line-height: 36px;
			margin: 0 5px;
			padding: 0 15px;
			text-transform: uppercase;
			vertical-align: middle;
			width: auto;
			
			&.action-close {
				border-radius: 50%;
				height: 40px;
				line-height: 40px;
				margin: 0;
				padding: 0;
				position: absolute;
				right: -20px;
				top: -20px;
				width: 40px;
				background: #000000 none repeat scroll 0 0;
				
				&:before {
					color: #ffffff;
					font-size: 40px;
					line-height: 40px;
				}
			}
		}
	}
}


//
//  Custom Css For the Homepage 
//  ---------------------------------------------


.cms-home {
	.page-main {
		max-width: 100%;
		padding: 0;
	}
	
	.header-topbar {
		display: inline-block;
	}
	
	.header-fixed-options {
		top: 162px;
		
		&.shift-to-top {
			top: 100px;
		}
		
		&.scrolled {
			top: 40px;
		}
	}
}


/*===========For the Home page Slider Section===========*/

.home-page-slider-container {
    display: inline-block;
    position: relative;
    width: 100%;
}

.home-slider-top-sec {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.home-slider-bottom-sec {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
	
	
	.home-banner-tag {
        bottom: 96px;
        display: inline-block;
        font-family: "SofiaPro Black";
        font-size: 134px;
        left: -9px;
        letter-spacing: 13.2px;
        line-height: 140px;
        position: absolute;
        text-align: center;
        width: calc(~'(100% + 24px)');
	}
}

.slide-left-sec {
    float: left;
    max-width: 568px;
    position: relative;
    width: 50%;
    .side-banner-cont {
        text-align: center;
        letter-spacing: 2px;
        color: #FFFFFF;
        background: #000;
        width: 372px;
        height: 30px;
        position: absolute;
        bottom: 228px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
	
	.side-banner-pic {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		
		img {
			display: inline-block;
			vertical-align: middle;
			width: 100%;
		}
	}
}

.slide-right-sec {
    float: right;
    max-width: 568px;
    width: 50%;
    padding-top: 65px;
	
	.home-slider {
		display: inline-block;
		max-width: 100%;
		overflow: hidden;
		width: 100%;
        .owl-nav.disabled {
            display: none;
        }
	}
}

.home-slider {
    .owl-item {
        display: inline-block;
        .slide {
            display: inline-block;
            width: 100%;
            height: 100%;
            vertical-align: top;

            .slide-banner {
                float: left;
                margin: 0 0 26px;
                width: 100%;
            }

            img {
                display: inline-block;
                vertical-align: middle;
                width: 100%;
            }

            .slide-content {
                float: left;
                width: 100%;

                .slide-title {
                    float: left;
                    margin: 3px 0 20px;
                    width: 100%;
                    font-family: 'SofiaPro Black';
                    font-size: 36px;
                    line-height: 43px;
                    letter-spacing: 3.5px;
                    text-transform: uppercase;
                    position: relative;
                    padding-bottom: 4px;
                }
                
                .slidetextsecound {
                    letter-spacing: 3px;
                }

                .slidetextsecound {
                    .backstrip {
                        &::after {
                            background: #9BCFCB;
                        }
                    }
                    .backstripS {
                        &::after {
                            background: #9BCFCB;
                        }
                    }
                }
                .slidetextthird {
                    .backstrip {
                        &::after {
                            background: #743DBC;
                        }
                    }
                    .backstripS {
                        &::after {
                            background: #743DBC;
                        }
                    }
                }

                .slide-cont {
                    float: left;
                    width: 100%;
                    color: #000;
                }
            }
        }
    }
}

.backstrip {
    display: inline-block;
    position: relative;
    line-height: 32px;
    &::after {
        content: '';
        background: #FFA300;
        width: 100%;
        height: 14px;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        max-width: calc(~'(100% - 7px)');
    }
}
.backstripS {
    display: inline-block;
    position: relative;
    line-height: 32px;
    &::after {
        content: '';
        background: #FFA300;
        width: 100%;
        height: 14px;
        position: absolute;
        bottom: 0px;
        left: 0;
        z-index: -1;
        max-width: calc(~'(100% - 7px)');
    }
}

.psasimplesteps {
    padding-top: 51px;
    h2 {
        background: #FFA300;
        text-align: center;
        padding: 15px 0 18px 0;
        font-family: 'SofiaPro Black';
        font-size: 36px;
        height: 43px;
        letter-spacing: 3.6px;
        color: #000;
        margin: 0;
        .backstrip {
            z-index: 100;
            &::after {
                background: #fff;
                bottom: 1px;
                max-width: calc(~'(100% - 6px)');
                left: 3px;
                height: 15px;
            }
        }
    }
    .listing {
        float: left;
        position: relative;
        .productimage {
            img {
                display: block;
                vertical-align: text-top;
            }
        }
        .content {
            position: absolute;
            left: 49%;
            top: 44%;
            transform: translate(-50%, -50%);
            .stepcount {
               width: 176px;
                background: #000;
                color: #fff;
                text-align: center;
                height: 30px;
                line-height: 30px;
                font-size: 20px;
                letter-spacing: 2px;
                margin: auto;
                margin-top: 16px;
                margin-bottom: 21px;
            }
            .productname {
                font-family: 'SofiaPro Black';
                font-size: 60px;
                line-height: 72px;
                letter-spacing: 6px;
                color: #fff;
                margin-top: 12px;
                .backstrip {
                    z-index: 100;
                    line-height: 55px;
                    &::after {
                        max-width: calc(~'(100% - 12px)');
                        left: 2px;
                        height: 20px;
                        background: #743DBC;
                    }
                }
            }
        }
         &.maskandtone {
            .content {
                width: 460px;
                margin-left: 18px;
                .productname {
                    letter-spacing: 6px;
                    .backstrip {
                        &::after {
                            background: #DF231D;
                            bottom: 1px;
                            left: 3px;
                            height: 20px;
                            max-width: calc(~'(100% - 11px)');
                        }
                    }
                }
            }
        }
        &.serumproduct {
            .backstrip {
                &::after {
                    background: #9BCFCB !important;
                    height: 21px !important;
                    left: 3px !important;
                    max-width: calc(~'(100% - 13px)') !important;
                }
            }
        }
        &.moistureproduct {
            .content {
                margin-left: 14px;
                top: 43.5%;
            }
            .backstrip {
                &::after {
                    background: #98ADE3 !important;
                    left: 5px !important;
                    max-width: calc(~'(100% - 16px)') !important;
                }
            }
        }
    }
}
.psasimplesteps {
    .listing {
        height: 578px;
        overflow: hidden;
        cursor: pointer;
        .back {
            opacity: 0;
            transition: .9s all ease;
        }
        .front {
            transition: .9s all ease;
            opacity: 1;
        }
        &:hover {
            .front {
                opacity: 0;
                transition: .9s all ease;
            }
            .back {
                opacity: 1;
                position: absolute;
                top: 0;
                transition: .9s all ease;
            }
        }
    }
}

.psaprechecksection {
	text-align: center;
	border-top: solid 2px #000;
	margin-top: 80px;
	padding-top: 34px;
	
    h2 {
        margin: 0;
        font-family: 'SofiaPro Black';
        font-size: 36px;
        line-height: 48px;
        letter-spacing: 3.5px;
        
		.backstrip {
            &::after {
                left: 0px;
                max-width: calc(~'(100% - 2px)') !important;
            }
        }
    }
	
    p {
        margin: 0;
        padding-top: 35px;
        padding-bottom: 32px;
    }
    
	.listing {
        .list {
            display: inline-block;
        }
    }
}
.beengossiping {
    background: #e5eaf8;
    text-align: center;
    padding-bottom: 53px;
    margin-top: 41px;
	
	.owl-item {
		.slide {
			position: relative;
		}
	}
	
    .owl-nav {
		&.disabled {
			display: none;
		}
    }
	
    .container {
        overflow: hidden;
        p {
            margin: 0;
            font-size: 36px;
            line-height: 56px;
            letter-spacing: 0.9px;
            padding-top: 90px;
            padding-bottom: 90px;
            position: relative;
            span.first {
                position: absolute;
                left: 49.8%;
                top: 35px;
				
				em,
				i {
					font-style: normal;
				}
            }
            span.secound {
                position: absolute;
                left: 49.8%;
                bottom: 31px;
            }
        }
    }
    h2 {
        background: #98ADE3;
        margin: 0;
        padding: 17px 0 22px 0;
        font-family: 'SofiaPro Black';
        font-size: 36px;
        line-height: 43px;
        letter-spacing: 3.6px;
        .backstrip {
            z-index: 1;
            &::after {
                height: 15px;
                bottom: 1px;
                left: 6px;
                background: #fff;
                max-width: calc(~'(100% - 10px)') !important;
            }
        }
    }
    .Logo-Allure {
        img {
            width: auto !important;
        }
    }
}
.cms-home {
    .column.main {
        padding-bottom: 0;
    }
}
.shareyourstore {
    position: relative;
    img {
        display: block;
        width: 100%;
    }
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 1156px;
    }
    h2 {
       text-align: center;
        background: #fff;
        margin: 0;
        font-family: 'SofiaPro Black';
        font-size: 36px;
        line-height: 43px;
        letter-spacing: 3.6px;
        border: solid 2px #000;
        padding-top: 15px;
        padding-bottom: 20px;
        .backstrip {
            z-index: 1;
            &::after {
                background: #DF231D;
                left: 3px;
                max-width: calc(~'(100% - 7px)') !important;
            }
        }
    }
}




//
//  Custom css for Get Schooled CMS Page
//  ---------------------------------------------

.get-schooled-grid-content { 
    float: right;
    margin: 28px 0 0;
    width: 862px;
	
	.top-heading {
		float: left;
		width: 100%;
		
		h2 {
			display: inline-block;
			font-family: "SofiaPro Black";
			font-size: 60px;
			font-weight: normal;
			letter-spacing: 6px;
			line-height: 72px;
			margin: 0;
			text-transform: uppercase;
			vertical-align: top;
			width: 100%;
		}
		
		.backstrip {
			line-height: 54px;
			vertical-align: top;
			
			&:after {
				background: #9bcfcb none repeat scroll 0 0;
				height: 20px;
                left: 5px;
                 max-width: calc(~'(100% - 14px)');
			}
		}
	}
}


.get-school-grid-list {
    float: left;
    margin: 42px -10px 0;
    width: calc(~'(100% + 20px)');
}

.gs-grid-block {
    background: #ffffff none repeat scroll 0 0;
    border: 2px solid #000000;
    box-sizing: border-box;
    float: left;
    height: 274px;
    margin: 0 10px 20px;
    padding: 22px 20px 20px 17px;
    position: relative;
    width: 274px;    
	cursor: pointer;
	
	&.grid-bg-1 {
		background: #98ADE3 none repeat scroll 0 0;
		border-color: #98ADE3;
	}
	
	&.grid-bg-2 {
		background: #D7918A none repeat scroll 0 0;
		border-color: #D7918A;
	}

	&.grid-bg-3 {
		background: #DF231D none repeat scroll 0 0;
		border-color: #DF231D;
	}

	&.grid-bg-4 {
		background: #FF7276 none repeat scroll 0 0;
		border-color: #FF7276;
	}

	&.grid-bg-5 {
		background: #FFA300 none repeat scroll 0 0;
		border-color: #FFA300;
	}

	&.grid-bg-6 {
		background: #001F5B none repeat scroll 0 0;
		border-color: #001F5B;
	}

	&.grid-bg-7 {
		background: #9BCFCB none repeat scroll 0 0;
		border-color: #9BCFCB;
	}

	&.grid-bg-8 {
		background: #743DBC none repeat scroll 0 0;
		border-color: #743DBC;
	}

	&.grid-bg-9 {
		background: #FF671D none repeat scroll 0 0;
		border-color: #FF671D;
	}
	
	&.grid-bg-10 {
		background: #FFABB6 none repeat scroll 0 0;
		border-color: #FFABB6;
	}
	
	&.open {
		.gs-grid-content {
			opacity: 1;
			visibility: visible;
			transition: visibility 0.3s linear,opacity 0.3s linear;
		}		
	}
}

.gs-grid-titles {
    display: inline-block;
    height: 100%;
    position: relative;
    width: 100%;
	color: #000000;
	
	.element-symbol {
		display: inline-block;
		font-family: "SofiaPro Black";
		font-size: 110px;
		line-height: 62px;
		vertical-align: middle;
		width: auto;
	}
	
	.element-name {
		float: left;
		letter-spacing: 1.6px;
		text-transform: uppercase;
		width: auto;
		margin-left: 12px;
	}
	
	&.gs-title-1 {
		color: #ffffff;
	}
	
	&.gs-title-2 {
		color: #4FBCCA;
	}
	
	&.gs-title-3 {
		color: #FFABB6;
	}
}

.gs-element-symbol {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.gs-element-name {
    bottom: -4px;
    display: inline-block;
    left: 0;
    position: absolute;
    vertical-align: middle;
    width: 100%;
}

.gs-grid-content {
    display: inline-block;
	background: #ffffff none repeat scroll 0 0;
    border: 2px solid #000000;
    left: -2px;
    padding: 20px;
    position: absolute;
    top: -2px;
    width: calc(~'(100% - 40px)');
	z-index: 1;
	transition: visibility 0.3s linear,opacity 0.3s linear;
    visibility: hidden;
	opacity: 0;
	min-height: 524px;
	
	&.grid-cover-4 {
		min-height: 1112px;
	}

	&.grid-cover-1 {
		min-height: 230px;
	}

	&.grid-cover-3 {
		min-height: 818px;
	}
	
	&.grid-cover-bottom {
		bottom: -2px;
		top: initial;
	}
}

.gs-element-info {
    float: left;
    width: 100%;
	
	.element-info {
		display: inline-block;
		vertical-align: middle;
	}
}

.diamond-box {
    padding-top: 13px;
    padding-bottom: 4px;
}


.container {
    position: relative;
    #popup-box {
        position: absolute;
        z-index: 100;
        left: 310px;
        top: 131px;
        .close {
            font-family: 'SofiaPro Black';
            font-size: 36px;
            color: #000;
            letter-spacing: 3.6px;
            background: #fff;
            width: 71px;
            height: 71px;
            display: block;
            text-align: center;
            line-height: 70px;
            border: solid 2px #000;
            position: absolute;
            right: 19px;
            top: 19px;
            &:hover {
                text-decoration: none;
            }
        }
        .offeroff {
            font-size: 18px;
            line-height: 28px;
            color: #fff;
            position: absolute;
            top: 58%;
            right: 111px;
        }
        .copuncodebottom {
            position: absolute;
            left: 74px;
            bottom: 72px;
            .coupncode {
                font-size: 18px;
                line-height: 28px;
                letter-spacing: 1.8px;
                color: #fff;
            }
            .jointheteam {
                font-family: 'SofiaPro Black';
                text-transform: uppercase;
                color: #fff;
                font-size: 30px;
                line-height: 28px;
                padding-top: 16px;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: black;
            }
        }
    }
}
.swell-tab {
    display: none !important;
}
#freshwidget-button {
    display: none !important;
}
html, body {
    height: 100%;
    scroll-behavior: smooth;
}

.cart.table-wrapper .actions-toolbar .action-towishlist {
    display: none;
}


.home-page-slider-container {position: sticky; top: 0;}
.psasimplesteps {position: relative; z-index: 1;}
.category-view {position: sticky; top: 0;}

.container.pro-image-container {position: sticky; top: 0;}
.product-info-encaptulate-container {background: #fff;}
.ourstorybanner.mainbanner {position: sticky !important; top: 0 !important;}
.ourstorysection {position: relative;}
.ourstorysection .visibility {visibility: hidden;}
.ourstorysection .bottombanner {position: absolute !important; top: 0;}
.ourstorysection .storyrightsection .screenposterone.screenposterS {z-index: 2;}
.ourstorysection .storyrightsection .screenposterone.screenposterT {z-index: 1;}
.ourstorysection .storyrightsection .screenposterone.screenposterF {z-index: 2;}
.ourstorysection .storyrightsection .screenposterone.screenposterFi {z-index: 1;}
.ourstorysection .bannerbtmsection {background: #fff; position: relative;}
.catalog-product-view #related-product-sec {background: #fff;}
.pro-review-section {z-index: 1; position: relative;}


