<!--
/**
 * Copyright © 2018 TechNWeb, Inc. All rights reserved.
 * See TNW_LICENSE.txt for license details.
 */
-->
<div class="field"
     visible="visible"
     css="$data.additionalClasses"
     attr="'data-index': index">
    <label id="chekbox-label" class="field-label" if="$data.label" visible="$data.labelVisible" attr="for: uid">
        <span text="label" attr="'data-config-scope': $data.scopeLabel"/>
    </label>
    <div class="field-control"
         css="'_with-tooltip': $data.tooltip, '_with-reset': $data.showFallbackReset && $data.isDifferedFromDefault">
        <render args="elementTmpl" ifnot="hasAddons()"/>

        <div class="control-addon" if="hasAddons()">
            <render args="elementTmpl"/>

            <label class="addon-prefix" if="$data.addbefore" attr="for: uid">
                <span text="addbefore"/>
            </label>
            <label class="addon-suffix" if="$data.addafter" attr="for: uid">
                <span text="addafter"/>
            </label>
        </div>

        <render args="tooltipTpl" if="$data.tooltip"/>

        <render args="fallbackResetTpl" if="$data.showFallbackReset && $data.isDifferedFromDefault"/>

        <label class="field-error" if="error" attr="for: uid" text="error"/>

        <div class="field-note" if="$data.notice" attr="id: noticeId">
            <span text="notice"/>
        </div>

        <div class="additional-info" if="$data.additionalInfo" html="$data.additionalInfo"></div>

        <render args="$data.service.template" if="$data.hasService()"/>
    </div>
</div>
