<?php if ($block->getWidgetShow()):?>

<div class="pro-review-section">
	<div class="container">
		<div id="review-loader" style="display: none;"><img src='<?php echo $this->getViewFileUrl('images/review-loader.gif'); ?>' alt="loader"></div>
		
		<div class="pro-review-sec">			
			<h2 class="pro-review-title"><span class="backstrip">Review</span></h2>			
			<div class="pro-review-cont">
				<div id="stamped-main-widget" class="stamped stamped-main-widget" data-product-id="<?php echo $this->getProductId() ?>" data-name="<?php echo $this->getProductName() ?>" data-url="<?php echo $this->getProductUrl() ?>" data-image-url="<?php echo $this->getProductImageUrl() ?>" data-description="<?php echo $this->getProductDescription() ?>"></div>
			</div>			
		</div>
		
	</div>
</div>

<?php endif ?>

<style>
#review-loader { clear: both; text-align: center; }
#review-loader img { margin-top: 40px; }
</style>