.clr {clear: both;}
.fl {float: left;}
.fr {float: right;}
.block.newsletter .field .control:before {display: none;}

.footer-content-top {
    .newsletter {
        float: left;
        width: 470px;
        position: relative;
        letter-spacing: 1.8px;
        
		.newsletter {
            input {
                border:none;
                border-bottom: solid 2px #000;
                padding-left: 0;
                line-height: 28px;
                height: auto;
                padding-bottom: 13px;
                font-family: 'Courier Sans Regular';
                font-size: 16px;
                box-shadow: none;
            }
            
			input#newsletter::-webkit-input-placeholder{
                text-align: left;
                font-family: 'Courier Sans Regular';
                font-size: 16px;
                letter-spacing: 1.6px;
                color: #000000;
                opacity: 1;
            }
            
			input#newsletter::-moz-placeholder {
                text-align: left;
                font-family: 'Courier Sans Regular';
                font-size: 16px;
                letter-spacing: 1.6px;
                color: #000000;
                opacity: 1;
            }
            
			input#newsletter:-ms-input-placeholder{
                text-align: left;
                font-family: 'Courier Sans Regular';
                font-size: 16px;
                letter-spacing: 1.6px;
                color: #000000;
                opacity: 1;
            }
            
			input#newsletter::placeholder{
                text-align: left;
                font-family: 'Courier Sans Regular';
                font-size: 16px;
                letter-spacing: 1.6px;
                color: #000000;
                opacity: 1;
            }
        }
		
        .block {
            float: none !important;
            width: 470px;
            
			.actions {
                position: absolute;
                right: 24px;
                
				button {
                    background: none;
                    border: none;
                    
					.fa {
                        color: #000;
                        font-size: 15px;
                    }
				}
			}
		}
	}
	
    .footer_navigation {
        float: left;
        padding-left: 118px;
        
		ul {
            padding: 0;
            width: 275px;
            padding-right: 18px;
            float: left;
			
			&:nth-child(2) {
				padding: 0;
			}
			
            li {
                padding-bottom: 28px;
                
				&:last-child {
                    padding-bottom: 0;
                }
                
				a {
                    color: #000;
                    letter-spacing: 1.6px;
                    font-family: 'Courier Sans Regular';
                }
            }
        }
    }
}


.footer-copyright {
    .leftsection {
        float: left;
        width: 470px;
        
		.copyright {
            font-size: 20px;
            letter-spacing: 0.5px;
            padding-top: 3px;
        }
    }
	
    .rightsection {
        float: left;
        padding-top: 58px;
		padding-left: 118px;
        
		.list {
            float: left;
            padding-right: 21px;
        }
    }
}


.footer.content { border: none; padding-top: 3px; padding-bottom: 35px;}

.page-footer {border-top: solid 2px #000;}


.ourstorysection {
    .storynavigation {
        float: left;
        padding: 222px 0 0 62px;
		position: fixed;
		z-index: 2;
		transition: all 0.5s ease;
		
		&.scrolledup {
			top: 0;
			transition: all 0.5s ease;
		}
        
		li {
            list-style-type: none;
            margin: 0;
            padding: 0;
            
			a {
                color: #000;
                letter-spacing: 1.6px;
            }
        }
    }
	
    .storyrightsection {
        float: right;
        max-width: 856px;
        width: 100%;
        
		.ourstorybanner {
            position: relative;
            
			.topheading {
                position: absolute;
                top: 3px;
                left: -200px;
                
				h2 {
                    font-family: 'SofiaPro Black';
                    font-size: 36px;
                    line-height: 43px;
                    letter-spacing: 3.6px;
                    
					.backstrip {
                        z-index: 1;
                        
						&::after {
                            height: 15px;
                            max-width: calc(~'(100% - 3px)');
                            left: 3px;
                        }
                    }
                }
            }
            
			.bottomheading {
                position: absolute;
                bottom: 183px;
                left: -3px;
                
				h2 {
                    font-family: 'SofiaPro Black';
                    text-transform: uppercase;
                    font-size: 36px;
                    line-height: 43px;
                    letter-spacing: 3.6px;
                    color: #fff;
                    
					.colorblack {
                        color: #000;
                    }
                    
					.backstrip {
                        z-index: 1;
                        &::after {
                            background: #DF231D;
                            left: 3px;
                        }
                    }
                }
            }
        }
		
        .screenposterone {
            position: relative;
            display: inline-block;
            width: 100%;
            margin-top: -82px;
            
			.content {
                position: absolute;
                top: 130px;
				z-index: 1;
                
				h2 {
                    font-family: 'SofiaPro Black';
                    text-transform: uppercase;
                    font-size: 36px;
                    line-height: 42px;
                    letter-spacing: 3.6px;
                    padding-top: 9px;
                    
					.count {
                        font-family: 'Courier Sans Regular';
                        font-size: 18px;
                        line-height: 28px;
                        letter-spacing: 1.8px;
                    }
                    
					.backstrip {
                        z-index: 1;
                        
						&::after {
                            background: #9BCFCB;
                        }
                        
						&.count {
                            &::after {
                                max-width: calc(~'(100% - 0px)');
                                height: 15px;
                                bottom: 9px;
                            }
                        }
                    }
                }
                
				&.fivthsection {
                    top: 149px;
                }
                
				&.postiontop {
                    top: 146px;
                }
                
				&.screenposterTpostion {
                    top:147px;
                }
            }
           
			&.screenposterS {
                margin-top: -111px;
            }
            
			&.screenposterT {
                margin-top: -113px;
                z-index: -1;
            }
            &.screenposterF {
                margin-top: -111px;
            }
            &.screenposterFi {
                z-index: -1;
                margin-top: -109px;
            }
        }
        .positionleft {
            left: 0;
        }
        .positionright {
            right: 0;
            &.postionfour {
                top: 60px;
                right: -61px;
            }
        }
    }
}

.cms-our-story {
    .page-main {
        max-width: 100%;
        width: 100%;
        padding: 0;
    }
    .psadifference {
        padding: 145px 0 24px 0;
        margin-top: 66px;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        .innersection {
            max-width: 527px;
            width: 100%;
            padding-left: 298px;
            h2 {
                font-family: 'SofiaPro Black';
                font-size: 36px;
                line-height: 43px;
                letter-spacing: 3.6px;
                color: #fff;
                margin: 0;
                padding-left: 2px;
                .backstrip {
                    z-index: 1;
                    &::after {
                        height: 15px;
                        bottom: 1px;
                        left: -3px;
                        max-width: calc(~'(100% - 3px)');
                    }
                }
            }
            p {
                color: #fff;
                font-size: 20px;
                line-height: 30px;
                letter-spacing: 0.5px;
                margin: 0;
                padding: 35px 0 0 0;
            }
            .groupicon {
                position: relative;
                right: -430px;
                text-align: right;
                top: -167px;
            }
            .fomo {
                padding-top: 40px;
                .fomoicon {
                    position: relative;
                    top: -17px;
                    left: -8px;
                }
                .backstrip {
                    &::after {
                        left: -0px;
                        max-width: calc(~'(100% - 7px)');
                    }
                }
            }
            .dontfllow {
                padding-top: 98px;
                .backstrip {
                    &::after {
                        left: -0px;
                        max-width: calc(~'(100% - 7px)');
                    }
                }
            }
        }
    }
    .precheckourstory  {
        text-align: left;
        padding-left: 302px;
        margin: 0;
        border: none;
        position: relative;
        .tabingbox {
            cursor: pointer;
        }
        .innersection {
            max-width: 568px;
            width: 100%;
            p {
                padding-top: 27px;
                padding-bottom: 46px;
            }
        }
    }
    .keetatitsection {
        background: #FFA300;
        margin-top: 19px;
		
        .innersection {
            padding-left: 302px;
            
			.leftsection {
                float: left;
                width: 563px;
                padding-top: 100px;
            }
            
			.rightsection {
                float: left;
				width: 284px;
				
                img {
					margin-top: -36px;
					max-width: initial;
					width: 414px;
				}
            }
           
		   p {
                color: #fff;
            }
            h3 {
                font-family: 'SofiaPro Black';
                font-size: 36px;
                line-height: 44px;
                text-transform: uppercase;
                letter-spacing: 3.6px;
                margin: 0;
                padding: 4px 0 28px 0;
            }
        }
        .itgetbeter {
            font-family: 'SofiaPro Black';
            font-size: 108px;
            line-height: 89px;
            letter-spacing: 11px;
            padding-left: 294px;
            color: #fff;
            vertical-align: text-bottom;
            display: inline-block;
            margin-top: -38px;
        }
    }
    .thevaluesection {
        text-align: center;
        position: relative;
        height: 542px;
        img {
            width: 100%;
        }
        h2 {
            position: absolute;
            width: 100%;
            text-align: center;
            top: 34.5%;
            font-family: 'SofiaPro Black';
            font-size: 36px;
            letter-spacing: 3.6px;
            line-height: 43px;
            color: #fff;
            left: 50%;
            transform: translate(-50%, -50%);
            .backstrip {
                z-index: 1;
                &::after {
                    background: #DF231D;
                    left: 4px;
                }
            }
        }
    }
    .theplanetsection {
        margin: -291px auto auto;
		padding-left: 302px;
		padding-right: 0;
		position: relative;
		z-index: 1;
		
		img {
			display: inline-block;
			vertical-align: middle;
			width: auto;
		}

        .innersection {
            .leftsection {
                float: left;
                width: 284px;
                h2 {
                    font-family: 'SofiaPro Black';
                    font-size: 36px;
                    line-height: 43px;
                    letter-spacing: 3.6px;
					padding-top: 106px;
                }
                p {
                    padding-top: 10px;
                }
            }
            .rightsection {
                float: right;
                width: 568px;
            }
        }
		
        .bottomsection {
			align-items: center;
			box-sizing: border-box;
			display: flex;
			flex-wrap: wrap;
			justify-self: center;
			padding: 25px 25px 0 0;
			vertical-align: middle;
			width: 100%;
            
			.list {
                align-items: center;
				display: flex;
				flex-wrap: wrap;
				float: left;
				justify-content: left;
				padding: 0 0 26px;
				width: 50%;
                
				img {
                    float: left;
                }
                p {
                    float: left;
                    padding-left: 24px;
                    width: 285px;
					box-sizing: border-box;
					margin: 0;
                    
					&.firstcontent {
                        padding-top: 12px;
                    }
                    
					&.secoundcontent {
                        padding-top: 5px;
                    }
                }              
				
				&:nth-child(2n) {
					float: right;				
				}
            }
        }
        .crueltyfreesction {
            .crueltyleft {
                float: left;
                max-width: 278px;
                width: 100%;
                h2 {
                    font-family: 'SofiaPro Black';
                    font-size: 36px;
                    line-height: 43px;
                    letter-spacing: 3.6px;
                    margin: 0;
                    padding-top: 67px;
                    padding-bottom: 25px;
                    .backstrip {
                        &::after {
                            left: 3px;
                        }
                    }
                }               
                .icon {
                    padding-top: 12px;
                }
            }
            &.alliesforlife {
                padding-top: 12px;
                h2 {
                    padding-top: 0;
                }
            }
            .crueltyright {
                float: right;
            }
        }
    }
}


.jumpstartglow {
	max-width: 856px;
	float: right;
	width: 100%;
	padding-top: 40px;
    
	.yourglowsection {
		display: inline-block;
		width: 100%;
		vertical-align: middle;
        
		h2 {
            font-family: 'SofiaPro Black';
			font-size: 60px;
			line-height: 72px;
			letter-spacing: 6px;
			display: inline-block;
			width: 100%;
			vertical-align: middle;
			margin-top: 0;
			margin-bottom: 5px;
            
			.backstrip {
				height: 43px;
				vertical-align: top;
				
                &::after {
                    height: 20px;
                    background: #9BCFCB;
                    bottom: 0px;
                    left: 6px;
                    max-width: calc(~'(100% - 12px)');
                }
            }
        }
		
        p {
            margin: 0;
            padding-top: 40px;
        }
    }
	
    .dewydos-section {
        padding-top: 110px;
        
		.heading {
            img {
                width: 540px;
            }
        }
        
		.listingsection {
			padding-top: 58px;
			padding-left: 0px;
			border-bottom: solid 2px #707070;
			padding-bottom: 40px;
            
			.leftpart {
                float: left;
                width: 100%;
                max-width: 370px;
            }
            
			.rightpart {
                width: 100%;
                max-width: 366px;
                float: right;
                
				.content {
                    max-width: 265px !important;
                }
            }
            
			.list {
                padding-bottom: 28px;
                
				.leftimgsection {
                    float: left;
                    padding-top: 8px;
					
					img {
						display: inline-block;
						vertical-align: middle;
						width: auto;
					}
                }
                
				.content {
                    float: left;
                    padding-left: 25px;
                    max-width: 270px;
                    width: 100%;
                    
					.heading {
                        font-size: 18px;
                        letter-spacing: 1.8px;
                        line-height: 28px;
                        text-transform: uppercase;
                        padding-bottom: 27px;
                    }
                    
					p {
                        margin: 0;
                    }
                }
            }
        }
        
		&.dewydonts {
            padding-top: 82px;
            
			.listingsection {
                padding-bottom: 0;
                margin-bottom: 40px;
            }
        }
    }
}



.precheckourstory {
    padding-bottom: 21px;
    .modalbox {
        display: none;
        border: solid 2px #707070;
        padding: 26px 26px 12px 26px;
        position: relative;
        max-width: 862px;
        width: 100%;
            h2 {
                font-family: 'SofiaPro Black';
                font-size: 36px;
                line-height: 28px;
                letter-spacing: 3.6px;
                text-transform: uppercase;
                .backstrip {
                    z-index: 1;
                }
            }
            p {
                font-size: 18px;
                line-height: 28px;
                letter-spacing: 0.45px;
                padding-top: 37px;
            }
        .closebutton {
            color: #000;
            cursor: pointer;
            position: absolute;
            right: 40px;
            top: 33px;
            font-family: "SofiaPro Black";
            font-size: 36px;
            line-height: 30px;
            &:hover {
                text-decoration: none;
            }
        }
        &.tab-active {
            display: block !important;
            position: absolute;
            top: 48px;
            left: 299px;
            background: #fff;
        }
    }
    .listing{
        padding-top: 8px;
        .list {
            padding-right: 25px;
            float: left;
            .icon {
                vertical-align: text-top;
                display: block;
                img {
                    height: 80px;
                    width: 80px;
                }
            }
            .name {
                padding-top: 2px;
                letter-spacing: 0.45px;
                line-height: normal;
                text-align: center;
                font-size: 16px;
            }
        }
    }
}


.cms-nofilter {
    .page-main {
        max-width: 100%;
        padding: 0;
        
		.notfilterpage {
            
			.nofiltertop {
                padding-top: 102px;
                padding-left: 404px;
                
				p{
                     margin: 0;
                }
                
				h2 {
                    font-family: 'SofiaPro Black';
                    font-size: 36px;
                    line-height: 28px;
                    letter-spacing: 3.6px;
                    padding: 16px 0 0 0;
                    margin: 0;
                    text-transform: uppercase;
                    
					.backstrip {
                        &::after {
                            max-width: calc(~'(100% - 4px)');
                        }
                    }
                }
            }
        }
		
        .nofilterlist {
            padding-top: 170px;
            .listsection {
                position: relative;
                padding-bottom: 41px;
                .list {
                    img {
                        vertical-align: text-top;
                        display: block;
                    }
                }
                .leftsection {
                    float: left;
                    width: 568px;
                    position: relative;
                }
                .rightsection {
                    float: right;
                    width: 568px;
                    position: relative;
                }
                .nofilterheading {
                    font-family: 'SofiaPro Black';
                    letter-spacing: 13.2px;
                    font-size: 132px;
                    line-height: 140px;
                    position: absolute;
                    bottom: 9px;
                    width: 100%;
                    text-align: center;
                    left: 7px;
                }
                .heading {
                    position: absolute;
                    top: 50.5%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 372px;
                    height: 30px;
                    line-height: 30px;
                    font-size: 20px;
                    letter-spacing: 2px;
                    background: #000;
                    color: #fff;
                    text-align: center;
                }
            }
        }
    }
}



.faqpagesection {
    max-width: 865px;
    width: 100%;
    float: right;
    padding-top: 73px;
    
	.topheading {
        font-size: 60px;
        line-height: 72px;
        letter-spacing: 6px;
        font-family: 'SofiaPro Black';
        
		.backstrip {
			height: 34px;
			
            &::after {
                background: #9BCFCB;
                height: 20px;
                bottom: -10px;
                left: 3px;
                max-width: calc(~'(100% - 19px)');
            }
        }
    }
    
	.faqlistingsection {
        
		.conciergesection {
            padding-bottom: 50px;
            
			h2 {
                font-size: 38px;
                line-height: 72px;
                letter-spacing: 6px;
                font-family: 'SofiaPro Black';
                
				.backstrip {
                    &::after{
                        background: #9BCFCB;
                    }
                }
            }
            
			p{
                margin: 0;
                
				a {
                    color: #9bcfcb;
                    display: inline-block;
                    font-size: 18px;
                    letter-spacing: 0.45px;
                    line-height: 21px;
                    text-decoration: underline;
                    vertical-align: middle;
                    width: auto;
                    &:hover {
                        color: #000;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    
	ul{
        padding: 0;
        list-style-type: none;
    }
    
	.parent-accordion {
        border: none;
        font-size: 36px;
        line-height: 43px;
        letter-spacing: 3.6px;
        font-family: 'SofiaPro Black';
        padding: 0;
        width: 100%;
        text-align: left;
        background: #743DBC;
        border-radius: 0;
        padding-top: 16px;
        padding-bottom: 22px;
        padding-left: 20px;
        color: #000;
        
		.backstrip {
            z-index: 1;
            &::after {
                background: #fff;
                left: -1px;
                bottom: 1px;
                max-width: calc(~'(100% - 6px)');
            }
        }
        
		&.plus {
            position: relative;
            
			&::after {
                content: '+';
                position: absolute;
                right: 18px;
                top: 8px;
                height: 62px;
                background-size: auto;
                background-repeat: no-repeat;
                font-family: "SofiaPro Black";
                font-size: 61px;
                font-weight: normal;
            }
        }
        
		&.minus {
            position: relative;
            
			&::after {
                    content: '-';
                    position: absolute;
                    right: 22px;
                    top: 38px;
                    width: 21px;
                    height: 9px;
                    background: #000;
                    font-family: "SofiaPro Black";
                    font-size: 61px;
                    background-image: none;
                    overflow: hidden;
            }
        }
    }
    
	.childcontent {
        border-bottom: solid 2px #707070;
        padding-bottom: 30px;
        margin-bottom: 40px;
        
		li {
            padding: 0;
            margin: 0;
            
			a {
                color: #000;
                display: inline-block;
                text-decoration: underline;
                vertical-align: middle;
                width: auto;
                
				&:hover {
                    color: #000;
                    text-decoration: none;
                }
            }
            
			.accordion {
                background: none;
                border: none;
                padding: 0;
                font-weight: normal;
                color: #000;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 1.6px;
                font-family: 'Courier Sans Regular';
                padding-top: 30px;
                text-align: left;

                &.plus {
                    position: relative;
                    
					&::after {
                        content: '+';
                        position: absolute;
                        right: 18px;
                        top: 8px;
                        height: 62px;
                        background-size: auto;
                        background-repeat: no-repeat;
                        font-family: "SofiaPro Black";
                        font-size: 61px;
                        font-weight: normal;
                    }
                }
                
				&.minus {
                    position: relative;
                    
					&::after {
                        content: '-';
                        position: absolute;
                        right: 22px;
                        top: 38px;
                        width: 21px;
                        height: 9px;
                        background: #000;
                        font-family: "SofiaPro Black";
                        font-size: 61px;
                        background-image: none;
                        overflow: hidden;
                    }
                }
            }
            
			.panel-child {
                p {
                    margin: 0;
                }
                
				.dashiconfirst {
                    padding-top: 28px;
                    display: block; 
                }
            }
        }
        
		&.privacy-policy {
            p {
                margin: 0;
                padding-top: 34px;
            }
            .accordion {
                background: #9BCFCB;
                border: none;
                font-size: 36px;
                line-height: 43px;
                letter-spacing: 3.6px;
                font-family: 'SofiaPro Black';
                padding: 0;
                width: 100%;
                text-align: left;
                border-radius: 0;
                padding-top: 16px;
                padding-bottom: 22px;
                padding-left: 20px;
                color: #000;
                text-transform: uppercase;
                margin-top: 40px;
                .backstrip {
                    z-index: 1;
                    &::after {
                        background: #fff;
                        max-width: calc(~'(100% - 4px)');
                        left: 1px;
                    }
                }
            }
            ul {
                padding-left: 18px;
                list-style-type: disc;
                li {
                    padding: 0;
                    margin: 0;
                    padding-top: 20px;
                }
            }
        }
    }
	
    &.privacypolicecount {
        padding-top: 40px;
        max-width: 864px;
    }
}


.faqlistingsection>ul>li {margin-bottom: 38px;}

.psacontactus {
    padding-top: 20px;
    padding-left: 310px;
    padding-bottom: 20px;
    
	.needtotalk {
        font-family: 'SofiaPro Black';
        font-size: 60px;
        line-height: 72px;
        letter-spacing: 6px;
        padding-bottom: 36px;
        
		.backstrip {
			height: 32px;
			
            &::after {
                background: #A0F0E1;
                height: 20px;
                left: 7px;
                bottom: -11px;
                max-width: calc(~'(100% - 12px)');
            }
        }
    }
    
	.information {
        padding-left: 4px;
        
		p {
            margin: 0;
        }
        
		.sayhello {
            font-family: 'SofiaPro Black';
            font-size: 36px;
            line-height: 21px;
            letter-spacing: 0.9px;
            padding-top: 10px;
            padding-bottom: 34px;
            
			a {
                color: #000;
            }
            
			.backstrip {
                &::after {
                    height: 17px;
                    left: 0;
                    bottom: -1px;
                    background: #A0F0E1;
                    max-width: calc(~'(100% - 3px)');
                }
            }
        }
    }
}


.press-index-index  {
    .breadcrumbs {
        display: none;
    }
    
	.press-section {
        max-width: 864px;
        float: right;
        width: 100%;
        padding-top: 20px;
		
        .presstophead {
            margin: 0;
            font-size: 60px;
            line-height: 72px;
            font-family: 'SofiaPro Black';
            letter-spacing: 6px;
            
			.backstrip {
				height: 32px;
				
                &::after {
                    background: #A0F0E1;
                    height: 20px;
                    bottom: -11px;
                }
            }
        }
        
		.pressinnercount {
            display: flex;
            flex-wrap: wrap;
            padding-top: 80px;
            
			.press-list {
                float: left;
                width: 270px;
                border: solid 2px #000;
                text-align: center;
                margin-right: 20px;
                margin-bottom: 20px;
                display: flex;
                flex-wrap: wrap;
                padding-top: 20px;
                padding-bottom: 20px;
                
				.text-press {
                    padding: 0 20px;
                    
					a {
                        color: #000;
                        font-size: 16px;
                        line-height: 28px;
                        letter-spacing: 0.4px;
                    }
                }
				
				&:nth-child(3n) {
					margin-right: 0px;
				}
            }
        }
    }
	
    .order-products-toolbar {
        max-width: 864px;
        width: 100%;
        float: right;
        padding-top: 20px;
        padding-bottom: 50px;
        
		.pager {
            .pages {
                float: left;
                
				li {
                    font-size: 14px;
                    letter-spacing: normal;
                    margin: 0 2px 0 0;
                    display: inline-block;
                    background: #ececec;
                    width: 30px;
                    line-height: 30px;
                    text-align: center;
                    margin-right: 10px;
                    vertical-align: text-top;
                    
					strong {
                        color: #000;
                        font-size: 18px;
                        font-family: 'SofiaPro Black';
                    }
                    
					a {
                        color: #000;
                        font-size: 18px;
                        font-family: 'SofiaPro Black';
                    }
                    
					&.current {
                        background: #000;
                        
						strong {
                            color: #fff;
                        }
                    }
                    
					.next {
                        background: #ececec;
                        margin-left: 0;
                    }
                    
					&.pages-item-previous {
                        background: none;
                        padding-top: 1px;
                        vertical-align: text-top;
                        margin-right: 16px;
                        
						a {
                            background: #ececec;
                        }
                    }
                    
					&.pages-item-next {
                        background: none;
                        
						a {
                           background: #ececec; 
                        }
                    }
                }
            }
        }
    }
}


.cms-psa-faq {
    .accordion {
        &.minus {
            &::after {
                display: none;
            }
        }
        &.plus {
            &::after {
                display: none;
            }
        }
    }
	
	.faqpagesection {
		padding-top: 20px;
	}
}

.privacypolicecount {
    p {
        padding-top: 30px;
        margin: 0;
    }
}