<?php
/**
 *  Copyright © 2018 TechNWeb, Inc. All rights reserved.
 *  See TNW_LICENSE.txt for license details.
 */

// @codingStandardsIgnoreFile

?>

<?php
/** @var \TNW\Subscriptions\Pricing\Render\SubcsriptionConfigurablePriceBox $block */

$productId = $block->getSaleableItem()->getId();

/** @var \Magento\Framework\Pricing\Price\PriceInterface $finalPriceModel */
$finalPriceModel = $block->getPriceType('final_price');
$idSuffix = $block->getIdSuffix() ? $block->getIdSuffix() : '';
$schema = ($block->getZone() === 'item_view') ? true : false;
?>
<?php
    $data = $block->renderSubscriptionAmounts(
        $finalPriceModel->getAmount(),
        $block->getProduct(),
        [
            'price_id'          => $block->getPriceId('product-price-' . $idSuffix),
            'price_type'        => 'finalPrice',
            'include_container' => true,
            'schema' => $schema,
        ]
);
$data = $block->getEncodedData($data);
$optionsData = $block->getEncodedData($block->getOptions());
?>
<script type="text/x-magento-init">
{
    ".product-info-price": {
        "tnwSubscribePrice": {
            "subscriptionPricesData" : <?php /* @noEscape */ echo $data ?>,
            "productAttributesData" : <?php /* @noEscape */ echo $optionsData?>,
            "subBillingFrequencyId" : <?php /* @noEscape */ echo $block->getBillingFrequencyId() ?>
        }
    }
}
</script>

<?php if ($block->productHasSwatch()):?>
<script>
    require([
        'jquery',
        'Magento_ConfigurableProduct/js/options-updater'
    ], function($, Updater) {
        var swatchSelector = '.swatch-opt',
            swatchWidgetName = 'mageSwatchRenderer',
            widgetInitEvent = 'swatch.initialized',
            clickEventName = 'emulateClick',
            swatchOptions = <?php /* @noEscape */ echo $optionsData ?>;

            /**
             * Sets default configurable swatch attribute's selected
             */
            selectDefaultSwatchOptions = function () {
                var swatchWidget = $(swatchSelector).data(swatchWidgetName);

                if (!swatchWidget || !swatchWidget._EmulateSelectedByAttributeId) {
                    return;
                }
                swatchWidget._EmulateSelectedByAttributeId(swatchOptions.defaultValues, clickEventName);
            };

            updater = new Updater(widgetInitEvent, selectDefaultSwatchOptions);
            updater.listen();
    });
</script>
<?php endif;?>
