// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables -> Icons
//  _____________________________________________

@icons-admin__font-name: 'luma-icons';
@icons-admin__file-name: 'luma-icons';
@icons-admin__font-name-path: '../@{baseDir}fonts/@{icons-admin__file-name}/@{icons-admin__file-name}';

@icon-cms__content: '\e602';
@icon-customers__content: '\e603';
@icon-dashboard__content: '\e604';
@icon-logo__content: '\e606';
@icon-product__content: '\e608';
@icon-promotions__content: '\e609';
@icon-reports__content: '\e60a';
@icon-sales__content: '\e60b';
@icon-stores__content: '\e60d';
@icon-systems__content: '\e610';
@icon-close-mage__content: '\e62f';
@icon-menu-item__content: '\e63a';
@icon-info__content: '\e61a';
@icon-lock__content: '\e61b';
@icon-loop__content: '\e61c';
@icon-plus__content: '\e61d';
@icon-recover__content: '\e61e';
@icon-refresh__content: '\e61f';
@icon-remove-small__content: '\e620';
@icon-retweet__content: '\e621';
@icon-unlocked__content: '\e622';
@icon-warning__content: '\e623';
@icon-arrow-left__content: '\e624';
@icon-arrow-right__content: '\e625';
@icon-back-arrow__content: '\e626';
@icon-calendar__content: '\e627';
@icon-caret-down__content: '\e628';
@icon-caret-left__content: '\e629';
@icon-caret-right__content: '\e62a';
@icon-caret-up__content: '\e62b';
@icon-ccw__content: '\e62c';
@icon-check-mage__content: '\e62d';
@icon-clock__content: '\e62e';
@icon-delete__content: '\e630';
@icon-edit__content: '\e631';
@icon-error__content: '\e632';
@icon-help__content: '\e633';
@icon-history__content: '\e634';
@icon-not-installed__content: '\e638';
@icon-disabled__content: '\e639';
@icon-dot__content: '\e637';
@icon-export__content: '\e635';
@icon-import__content: '\e636';
@icon-gripper__content: '\e617';
@icon-forward__content: '\e618';
@icon-backward__content: '\e619';
@icon-expand-close__content: '\e615';
@icon-expand-open__content: '\e616';
@icon-home__content: '\e611';
@icon-lego__content: '\e612';
@icon-tool__content: '\e613';
@icon-updater__content: '\e614';
@icon-notification-02__content: '\e607';
@icon-account__content: '\e600';
@icon-arrowdown__content: '\e601';
@icon-filter__content: '\e605';
@icon-search__content: '\e60c';
@icon-views__content: '\e60f';
@icon-tag__content: '\e63b';
@icon-camera__content: '\e63c';
@icon-grid__content: '\e63d';
@icon-list-menu__content: '\e63e';
@icon-cart__content: '\e63f';
@icon-screen__content: '\e640';
@icon-video__content: '\e641';
@icon-reset__content: '\e642';
@icon-clip__content: '\e643';
