/***27-Nov****/

.category-view{
	display: block;
	align-items: center;
	justify-content: space-between;
	margin-top: 36px;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	#layered-filter-block{
		margin-bottom: 0;
		margin-top: 16px;
		display: block;
		float: none;
		margin-left:0px;
	}
	.category-image{
		img {
			width: 100%;
			display: inline-block;
			vertical-align: middle;
		}
		&.top-full-banner{
			float: none;
			width: auto;
			order: 2;
			padding-top: 20px;
			margin: 0;
		}
		.image {
			width: 862px;
		}
	}
	.page-main {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
   
}
	
.page-products {
	.columns {
		background: #fff;
	}
}
	
.columns{
	.main{
		.products-grid {
			&.products {
				float: none;
				width: 100%;
				display: inline-block;
				vertical-align: middle;
				margin: 30px 0 0;
				
				h1.catrgory-main-heading {
					color:#000;
					padding-bottom: 5px;
					margin: 0;
					text-transform:uppercase;
					
					.step-text {
						position: relative;
						font-size: 10px;
						background: #000;
						color: #fff;
						letter-spacing: 1.6px;
						line-height: 10px;
						height: 10px;
						max-width: 70px;
						width: 100%;
						display: inline-block;
						text-align: center;
						vertical-align: middle;
						margin: 3px 0 0 0;
						padding-top: 2px;
					}
					
					.category_name {
//						background-image: linear-gradient(to bottom, transparent 70%, #fff 30%);
//						background-position: 0 35px;
						font-family: 'SofiaPro Black';
						font-size: 28px;
						line-height: 35px;
						letter-spacing: 1.5px;
						margin-left: 5px;
						&.backstrip {
							z-index: 1;
							&::after {
								max-width: calc(~'(100% - 1px)');
								background: #fff;
								height: 10px;
								bottom: 6px;
								left: 3px;
							}
						}
					}
				}
				
				&.step-1{
					h1.catrgory-main-heading{
						background: #9f55ff;
					}
				}

				&.step-2{
					h1.catrgory-main-heading{
						background: #DF231D;
					}
				}

				&.step-3{
					h1.catrgory-main-heading{
						background: #9BCFCB;
					}
				}

				&.step-4{
					padding-bottom: 0;
					margin-bottom: 30px;
					
					h1.catrgory-main-heading{
						background: #98ADE3;
					}
				}
				
				.product-items{
					&.products{
						width:100%;
						border-bottom:0px;
						margin-left: 0 !important;
						
						.product-item{
							width: 100%;
							padding: 30px 0;
							margin: 0;
							border-bottom: solid 1px #000;
							
							&:nth-child(odd){
								border-right:0;
								.product-item-info{
								padding-right: 0;
								}
							}
							
							&:nth-child(even){
								.product-item-info{
									padding-left: 0px;
								}
							}
							.product-item-info{
								width: 100%;
								box-sizing: border-box;
								position:relative;
								padding-bottom: 0;
								.product-item-photo{
									width: 100%;
									display: inline-block;
									text-align: right;
									vertical-align: middle;
									
									.product-image-container {
										vertical-align: middle;
									}
								}								
							}
							
							.product-item-details{
								display: inline-block;
								padding: 28px 0 0;
								position: relative;
								width: 100%;
								
								.product-short-dec{
									font-size: 14px;
									line-height: 20px;
									letter-spacing: 1.4pxpx;
									padding-bottom: 21px;
									p{
										margin:0;
									}
								}
								.product-feat {
										font-size: 12px;
										text-align: center;
										border: 1.5px solid #000;
										line-height: 18px;
										letter-spacing: 0.35px;
										padding: 12px 34px;
									p{
										margin:0;
									}
								}
								.stamped-product-reviews-badge{
									display: none;
								}
								.pro_price_sec{
									.product-volume-attr{
										display: none;
									}
									.price-final_price{
										margin:0;
									}
								}
								.pro_action{
									border: 1.5px solid #000;
									border-top: 0;
									display: flex;
									.pro_price_sec{
										width: 500px;										
										display: flex;
										align-items: center;
										justify-content: center;										
									}
									.amxnotif-container{
										width: 64%;
										border-left: 1.5px solid #000;
										.amxnotif-block{
											margin: 0;
											font-size: 2rem;
											text-align:center;
											a{
												color: #000;
												font-weight: bold;
												padding: 0;
												display: block;
												font-size: 15px;
    											padding-top: 3px !important;
											}
										}
									}
									.product-item-inner{
										width: 65%;
										display: flex;
										border-left: 1.5px solid #000;
										.product-item-actions{
											width: 35px;
											border-right: 1.5px solid;
											margin: 0;
											display: flex;
											align-items: center;
											justify-content: center;
											padding:0;
											button.action{
												&.tocart{
													background: transparent;
													padding:0;
													border:0;
													img{
														width: 100%;
														max-width:25px;
													}
													&:hover{
														background:transparent;
													}
													&:focus{
														background:transparent;
													}
												}
											}
										}
										.eye-icon{
											width: 35px;
											border-right: 1.5px solid;
											margin: 0;
											display: flex;
											align-items: center;
											justify-content: center;
											padding: 0.3rem 0;
											img {
												width: 20px;
											}
										}

										.wishlist_links{
											width: 33%;
											display: flex;
											justify-content: center;
											align-items: center;
											a.action{
												&.towishlist{
													display: block;
													text-align: center;
													i{
														display: none;
													}
													&::before{
														content:'';
														background:url('../images/Heart.svg');
														width: 18px;
														height:15px;
														background-size: 18px;
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}


.products-grid.step-1{
    .product-feat {
        font-size: 12px !important;
        line-height: 18px !important;
        letter-spacing: 0.45px !important;
        padding: 9px 0 9px 0 !important;
    }
}
.product-item {
    .product-item-name {
		display: inline-block;
		font-family: "SofiaPro Black";
		font-size: 28px;
		height: 80px;
		left: -70px;
		letter-spacing: 2.8px;
		line-height: 35px;
		margin: 0;
		position: absolute;
		text-align: left;
		text-transform: uppercase;
		top: -140px;
		transform: rotate(-90deg);
		vertical-align: middle;
		white-space: normal;
		width: 100%;
		word-wrap: initial;
		z-index: 1;
		max-width: 200px;
		
		 a {
			display: inline-block;
			font-weight: normal;
			vertical-align: top;
			width: 100%;
			word-wrap: break-word;
			color: #000;
			
			&:hover {
                text-decoration: none;
            }
		}
	}
}




.products-grid.step-3{
   .product-item:nth-child(2n){
		.product-feat {
			padding: 12px 6px !important;
		}
    }
}




.columns .main .products-grid.products .product-items.products {padding:0 0 0 0; margin: 0;}
.product-item .price-box .price {font-size: 16px;}

.catalog-category-view.page-layout-1column .column.main {padding: 0; margin: 0;}




/*******************For the coming soon box on listing page*******************/

.coming-soon {
    border-bottom: 2px solid #707070;
    display: inline-block;
    padding: 28px 0;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 100%;
	
	.outer-box {
		display: inline-block;
		margin: 0 0 10px;
		position: relative;
		vertical-align: middle;
		width: auto;	
	
		&:after {
			background: #ffffff none repeat scroll 0 0;
			border: 2px solid #000000;
			box-sizing: border-box;
			content: "";
			display: inline-block;
			height: 38px;
			left: -8px;
			padding: 10px;
			position: absolute;
			top: 8px;
			vertical-align: middle;
			width: 100%;
		}
	}
	
	.coming-box {
		background: #ffffff none repeat scroll 0 0;
		border: 2px solid #000000;
		box-sizing: border-box;
		display: inline-block;
		font-size: 16px;
		height: 38px;
		letter-spacing: 1.6px;
		line-height: 34px;
		position: relative;
		text-transform: uppercase;
		width: 202px;
		z-index: 1;
	}

	/*&:before,
	&:after {
		border: 1px solid #707070;
		content: " ";
		display: inline-block;
		height: 40px;
		left: 50%;
		position: absolute;
		top: 0;
		transform: translate(-50%, 0px);
		vertical-align: middle;
		width: 0;
	}
	
	&:after {
		bottom: 0;
		top: auto;
	}*/
}





//
//  Custom css for Product Detailed Page   - upper by gk below by me
//  ------------------------------------------------------------------------------------------


.catalog-product-view {
	.page-main {
		max-width: 100%;
		padding: 0;
		
		.main {
			.pro-image-container {
				padding-bottom: 0;
			}
		}
	}
	
	.column {
		&.main {
			padding: 0;
		}
	}
	
	.product-info-encaptulate {
		.product-info-main {
			float: left;
			width: 100%;
		}
	}
}


.product-media-encaptulate {
    float: right;
    width: 862px;
}

.product-media-container {
	display: inline-block;
	text-align: right;
	vertical-align: middle;
	width: 100%;
	margin: 56px 0 0;
		
	img {
		float: right;
		max-width: 100%;
		width: 862px;
	}
	
	.product {
		&.media {
			margin: 0;
			width: 100%;
		}
	}
	
	.action-skip-wrapper {
		display: none;
	}
	
	.fotorama__caption {
		display: none;
	}
}


.product-info-encaptulate {
    clear: both;
    float: right;
    width: 100%;
	
	.product-upper-container {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
	}
}


.product-info-encaptulate-container {
    float: left;
    width: 100%;
}


.pro-info-block {
    border-bottom: 1px solid #000000;
    float: left;
    padding: 28px 0;
    width: 100%;
	
	.pro-bg-title {
		background: #ffa300 none repeat scroll 0 0;
		box-sizing: border-box;
		display: inline-block;
		margin: 0;
		padding: 8px 10px 12px;
		vertical-align: middle;
		width: 100%;
		cursor: pointer;
		
		.subtitle {
			float: left;
			font-size: 11px;
			height: 18px;
			letter-spacing: 0;
			line-height: 30px;
			margin: 0 0 0 3px;
			text-transform: uppercase;
			vertical-align: middle;
			width: auto;
		}
		
		.backstrip {
			float: left;
			font-family: "SofiaPro Black";
			font-size: 20px;
			font-weight: normal;
			letter-spacing: 1.6px;
			line-height: 18px;
			text-transform: uppercase;
			vertical-align: middle;
			width: auto;
			z-index: 1;
			
			&:after {
				background: #ffffff none repeat scroll 0 0;
				height: 8px;
				max-width: calc(~'(100% - 3px)');
                bottom: 1px;
			}
		}
		
		.content-tab-toggler {
			float: right;
			height: 18px;
			line-height: 18px;
			text-align: center;
			width: 18px;
			transition: transform 0.5s ease 0s;
			
			&:after {
				content: "-";
				font-family: "SofiaPro Black";
				font-size: 28px;
				line-height: 10px;
			}
			
			&.plus {
				transform: rotate(180deg);
				line-height: 16px;
				
				&:after {
					content: "+";
					line-height: 0;
				}
			}
		}
	}
	
	.product-name-below-desc {
		display: inline-block;
		font-size: 16px;
		letter-spacing: 1.4px;
		line-height: 20px;
		margin: 24px 0 18px;
		text-transform: uppercase;
		vertical-align: middle;
		width: 100%;
		
		p {
			display: inline-block;
			margin: 0;
			width: 100%;
		}
	}
	
	.product-info-content {
		display: inline-block;
		max-height: 700px;
		overflow-y: hidden;
		-webkit-transition: max-height 0.5s ease-in-out;
		-moz-transition: max-height 0.5s ease-in-out;
        -o-transition: max-height 0.5s ease-in-out;
        transition: max-height 0.5s ease-in-out;
		vertical-align: middle;
		width: 100%;
		margin: 28px 0 0;
		
		&.close {
			max-height: 0;
		}
		
		&.product-keyingredient-content {
			&.open {
				overflow: visible;
			}
		}
	}
	
	.product-short-description-conatiner {
		margin: 0;
	}

	.product-short-description {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		font-size: 14px;
		line-height: 20px;
		
		p {
			display: inline-block;
			letter-spacing: 0.45px;
			margin: 0;
			vertical-align: middle;
			width: 100%;
		}
	}
	
	&.pro-lowdown-block {
		padding-bottom: 25px;
	}
	
	&.pro-ingredients-block {
		padding-bottom: 22px;
		
		&:last-child {
			margin-bottom: 28px;
		}
    }
    
	&.pro-how-to-use-block {
		.pro-bg-title {
			.backstrip {
				&:after {
					width: calc(~'(100% - 8px)');
				}
			}
		}
	}
}



.lowdown-list {
	display: inline-block;
	list-style: outside none none;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	width: 100%;
	
	li {
		float: left;
		margin: 3px 0 15px;
		padding: 0;
		width: 50%;
	}
	
	img {
		display: inline-block;
		max-width: 42px;
		vertical-align: middle;
		width: auto;
		float: left;
	}
	
	span {
		float: left;
		letter-spacing: 0.45px;
		margin: 14px 0 0;
		text-transform: uppercase;
		width: 100%;
		font-size: 14px;
		line-height: 12px;
	}
}



.key-ingredients-list {
    box-sizing: border-box;
    display: inline-block;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: 100%;
	
	li {
		border: 1px solid #707070;
		box-sizing: border-box;
		float: left;
		margin: 0;
		padding: 5px;
		text-align: center;
		width: 50%;
		position: relative;
		cursor: pointer;min-height: 163px;
		
		img {
			display: inline-block;
			vertical-align: middle;
			width: 110px;
			padding: 0;
		}
		
		span {
			align-self: center;
			display: flex;
			flex-wrap: wrap;
			float: left;
			justify-content: center;
			min-height: 60px;
			vertical-align: middle;
			width: 100%;
		}
		
		label {
			align-self: center;
			float: left;
			letter-spacing: 1px;
			text-transform: uppercase;
			width: 100%;
			font-size: 14px;
			line-height: 20px;
			cursor: pointer;
			transition: all 0.5s ease 0s;
			
			&:hover {
				text-decoration: underline;
			}
		}
		
		&:nth-child(odd) {
			border-bottom: none;
			border-right: none;
		}

		&:nth-child(even) {
			border-bottom: none;
		}

		&:last-child {
			border-bottom: 1px solid #707070;
		}

		&:nth-last-child(2) {
			border-bottom: 1px solid #707070;
		}
		
		
		.ing-info {
			background: #ffffff none repeat scroll 0 0;
			border: 2px solid #000;
			box-sizing: border-box;
			display: none;
			height: auto;
			left: 8px;
			padding: 10px;
			position: absolute;
			top: 30px;
			width: 425px;
			z-index: 2;
			hyphens: auto;
			max-width: calc(200% - 16px);
			
			span {
				display: inline-block;
				font-size: 14px;
				letter-spacing: 0.32px;
				line-height: 20px;
				min-height: auto;
				text-align: left;
				width: 100%;
				
				&.ing-title {
					letter-spacing: 1px;
					margin: 0 0 16px;
					text-transform: uppercase;
					min-height: auto !important;
				}
			}
		}
		
		&:nth-child(2n+1) {
			.ing-info {
				left: 8px;
				right: auto;
			}
		}
		
		&:nth-child(2n) {
			.ing-info {
				left: auto;
				right: 8px;
			}
		}
	}
}



.purpose-list {
    box-sizing: border-box;
    display: inline-block;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: 100%;
	
	li {
		border: 1px solid #707070;
		box-sizing: border-box;
		float: left;
		margin: 0;
		padding: 5px;
		text-align: center;
		width: 50%;
		
		img {
			display: inline-block;
			vertical-align: middle;
			width: 110px;
			padding: 0;
		}
		
		span {
			align-self: center;
			display: flex;
			flex-wrap: wrap;
			float: left;
			justify-content: center;
			min-height: 40px;
			vertical-align: middle;
			width: calc(~'(100% - 20px)');
			padding: 22px 10px 4px;
		}
		
		label {
			align-self: center;
			float: left;
			letter-spacing: 1px;
			text-transform: uppercase;
			width: 100%;
			font-size: 14px;
			line-height: 20px;
		}
		
		&:nth-child(even) {
			border-bottom: none;
		}

		&:last-child {
			border-bottom: 1px solid #707070;
			border-top: none;
			border-right: 1px solid #707070;
		}

		&:nth-last-child(2) {
			border-bottom: 1px solid #707070;
			border-left: none;
		}
	}
}



.htu-title {
    background: none;
    box-sizing: border-box;
    display: inline-block;
    letter-spacing: 1px;
    margin: 0 0 18px;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
    vertical-align: middle;
    width: 100%;
    font-size: 14px;
    line-height: 12px;
}

.htu-step-list {
    border: 1px solid #707070;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    width: 100%;
	
	li {
		border-bottom: 1px solid #707070;
		box-sizing: border-box;
		display: flex;
		flex-wrap: wrap;
		float: left;
		margin: 0;
		width: 100%;
		min-height: 80px;
		
		&:last-child {
			border-bottom: medium none;
		}
	}
	
	.step-count {
		align-items: center;
		border-right: 1px solid #707070;
		color: #9f55ff;
		display: flex;
		flex-wrap: wrap;
		float: left;
		font-family: "SofiaPro Black";
		font-size: 20px;
		justify-content: center;
		letter-spacing: 3.6px;
		line-height: 43px;
		text-align: center;
		width: 40px;
	}

	.step-info {
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-wrap: wrap;
		float: left;
		justify-content: left;
		width: calc(~'(100% - 50px)');
		
		img {
			display: inline-block;
			padding: 0;
			vertical-align: middle;
			width: 100px;
		}
	}
	
	.step-cont {
		float: left;
		font-size: 12px;
		letter-spacing: 0.4px;
		line-height: 18px;
		padding: 10px 0;
		width: calc(~'(100% - 110px)');
	}	
}


.pro-ingredients-set {
    box-sizing: border-box;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 20px;
    padding: 0;
    width: 100%;
	
	span {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
	}
}




/*******************for the product Video Section*******************/

.attribute-video {
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    display: inline-block;
    margin: 0 0 0 0;
    position: relative;
    vertical-align: middle;
    width: 100%;
	
	.pro-video {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
        
	}
	
	.playpause {
		display: inline-block;
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		width: auto;
		z-index: 1;
		cursor: pointer;
	}

	.video-play-btn {
		border: 2px solid #000000;
		display: inline-block;
		max-width: 60px;
		vertical-align: middle;
		width: auto;
	}
}



/*******************for the product review Section*******************/


.pro-review-section {
    background: #ffdeb5 none repeat scroll 0 0;
    display: inline-block;
    margin: 0 0 0;
    width: 100%;
	vertical-align: middle;
    z-index: 1;
}

.pro-review-sec {
    float: right;
    width: 100%;
}

.pro-review-title {
    background: #ffa300 none repeat scroll 0 0;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    padding: 8px 10px 12px;
    vertical-align: middle;
    width: 100%;
	
	.backstrip {
		float: left;
		font-family: "SofiaPro Black";
		font-size: 20px;
		font-weight: normal;
		letter-spacing: 2px;
		line-height: 18px;
		text-transform: uppercase;
		vertical-align: middle;
		width: auto;
		z-index: 1;
		
		&:after {
			background: #ffffff none repeat scroll 0 0;
			height: 8px;
            bottom: 1px;
		}
	}
}

.pro-review-cont {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
	
	#stamped-main-widget {
		display: inline-block;
		margin: 28px 0 0;
		overflow: visible;
		vertical-align: middle;
		width: 100%;
		
		.stamped-container {
			display: inline-block;
			font-family: "Courier Sans Regular";
			margin: 0 !important;
			width: 100%;
		}

		.stamped-header {
			border-bottom: 1px solid #000000;
			box-sizing: border-box;
			display: inline-block;
			margin: 0 0 18px !important;
			padding: 0 0 18px;
			width: 100%;
		}

		.stamped-summary {
			float: right;
			width: 100%;
		}

		.summary-overview {
			margin: 0;
			position: absolute;
			right: 0;
			top: -61px;
			z-index: 1;
			max-width: 120px;
			width: auto !important;
			
			.stamped-summary-text-1 {
				font-size: 22px !important;
				line-height: 28px !important;
			}
			
			.stamped-fa {
				height: 24px;
				overflow: hidden;
				
				&:before {
					color: #000000;
					content: "*";
					font-family: "Courier Sans Regular" !important;
					font-size: 24px !important;
					height: 24px;
					line-height: 34px;
				}
			}
			
			.stamped-fa-star-o::before {
				color: #ffffff;
			}
		}
		
		.stamped-summary-starrating {
			i {
				&:before {
					font-size: 14px !important;
				}
			}
		}

		.stamped-summary-text {
			line-height: 20px;
			margin: 0;
		}

		.stamped-summary-caption {
			line-height: 18px;
			vertical-align: top;
			display: none;
			
			&.stamped-summary-caption-2 {
				display: none !important;
			}
		}
		
		.stamped-summary-ratings {
			display: none;
		}
		
		.stamped-summary-actions {
			display: inline-block;
			margin: 0 !important;
			vertical-align: middle;
			width: auto;
			
			a,
			span {
				background: #000000 none repeat scroll 0 0;
				border: medium none;
				color: #ffffff;
				font-size: 16px;
				font-weight: normal;
				text-transform: uppercase;
				border-radius: 0;
				
				&:before {
					box-sizing: border-box;
					position: relative;
					top: 1px;
				}
				
				&.stamped-summary-actions-newreview {
					&:before {
						top: 3px;
					}
				}
			}
		}
		
		[data-count="0"] {
			.summary-overview {
				height: 26px;
				top: -60px;
			}
			
			.stamped-summary-starrating {
				float: left;
				vertical-align: top;
			}
			
			.stamped-reviews,
			.stamped-questions {
				border: none;
			}
		}
		
		.stamped-empty-state {
			background: #ffffff none repeat scroll 0 0;
			box-sizing: border-box;
			color: #000000;
			float: left;
			font-size: 18px;
			letter-spacing: 0.45px;
			padding: 20px;
			text-align: center;
			width: 100%;
			margin: 50px 0;
			border: 2px solid #000000;
			
			& > div {
				color: #000000;
				display: inline-block;
				font-size: 18px;
				letter-spacing: 0.45px;
				line-height: 36px;
				margin: 0;
				vertical-align: middle;
				width: 100%;
			}
			
			&::before {
				color: #c1c0c0;
				content: "*****";
				font-family: "Courier Sans Regular";
				font-size: 40px;
				margin: 10px 0;
			}
		}		
		
		.stamped-content {
			float: left;
			margin: 0 0 42px;
			width: 100%;
		}

		.stamped-tab-container {
			float: left;
			width: 100%;
		}

		.stamped-tabs {
			border-bottom: 1px solid #707070;
			
			li {
				font-family: "SofiaPro Black";
				font-size: 12px !important;
				font-weight: normal;
				letter-spacing: 1px;
				text-transform: uppercase;
				margin-right: 10px !important;

				
				&:after {
					background: #ffffff none repeat scroll 0 0;
				}
			}
		}

		.stamped-content {
			form {
				border-bottom: 1px solid #000000;
				display: inline-block;
				padding: 30px 0 0;
				width: 100%;
				
				fieldset {
					float: left;
					margin: 0;
					text-align: left;
					width: 100%;
				}
				
				.spr-form-contact-name,
				.spr-form-contact-email {
					box-sizing: border-box;
					float: left;
					max-width: 100%;
					padding: 0;
					width: 50%;
				}
				
				.spr-form-contact-email {
					padding-left: 0;
					padding-right: 0;
				}
				
				.stamped-form-contact-name,
				.stamped-form-contact-email {
					box-sizing: border-box;
					float: left;
					max-width: initial;
					padding: 0;
					width: 100%;
				}
				
				.stamped-form-contact-email {
					padding-left: 0;
					padding-right: 0;
				}
				
				label {
					float: left;
					font-size: 14px;
					letter-spacing: 0.35px;
					line-height: 20px;
					margin: 0 0 5px;
					text-transform: capitalize;
					width: 100%;
				}
				
				input {
					margin: 0 0 20px;
					
					&.stamped-button {
						border: medium none;
						box-sizing: border-box;
						display: inline-block;
						font-family: "Courier Sans Regular";
						font-size: 14px;
						font-weight: normal;
						letter-spacing: 2px;
						line-height: 32px;
						margin: 0;
						min-width: 156px;
						padding: 0;
						text-transform: uppercase;
						vertical-align: middle;
						width: auto;
					}
					
					&#reviewRating {
						display: none;
					}
				}
				
				textarea {
					margin: 0 0 20px;
				}
				
				.stamped-form-input {
					float: left;
					
					&.stamped-starrating {
						background: #ffffff none repeat scroll 0 0;
						padding: 6px 6px 0;
					}
				}
			}
		}

		.question-form-wrapper {
			float: left;
			width: 100%;
		}
		
		.stamped-messages {
			float: left;
			width: 100%;
		}
		
		.stamped-thank-you {
			background: #ffffff none repeat scroll 0 0;
			border: medium none;
			box-sizing: border-box;
			float: left;
			margin: 30px 0;
			width: 100%;			
		}
		
		.stamped-share-links {
			 a {
				background: #000000 none repeat scroll 0 0;
				border: medium none;
				color: #ffffff;
				letter-spacing: 0.45px;
				text-transform: uppercase;
			}

			i {
				line-height: 16px;
				vertical-align: middle;
			}
		}
		
		.stamped-reviews {
			background: #ffffff none repeat scroll 0 0;
			border: 1px solid #000000;
			box-sizing: border-box;
			float: left;
			width: 100%;
			
			.stamped-pagination {
				float: left;
				width: 100%;
				
				a {
					background: #000000 none repeat scroll 0 0;
					border-radius: 50%;
					color: #ffffff;
					display: inline-block;
					font-weight: normal;
					height: 30px;
					line-height: 30px;
					margin: 0 2px;
					padding: 0;
					text-align: center;
					width: 30px;
				}
				
				.active {
					a {
						background: #ececec none repeat scroll 0 0;
						color: #000000;
					}
				}
			}
		}

		.stamped-review {
			align-items: center;
			border-bottom: 1px solid #000000;
			display: flex;
			flex-wrap: wrap;
			float: left;
			justify-content: center;
			margin: 0;
			padding: 0;
			position: relative;
			width: 100%;
			
			.stamped-review-header {
				box-sizing: border-box;
				float: left;
				width: 98px;
			}
			
			.stamped-review-content {
				border-left: 1px solid #000000;
				box-sizing: border-box;
				float: left;
				margin: -1px 0 0;
				width: calc(~'(100% - 100px)');
				clear: none;
			}
			
			.stamped-review-body {
				box-sizing: border-box;
				float: left;
				padding: 10px 10px 32px;
				width: 100%;
			}

			h3.stamped-review-header-title {
				display: inline-block;
				font-family: "SofiaPro Black";
				font-size: 16px;
				font-weight: normal;
				letter-spacing: 1.8px;
				line-height: 20px;
				margin: 0 0 10px;
				text-transform: none;
				vertical-align: middle;
				width: 100%;
			}

			.stamped-review-content-body {
				display: inline-block;
				font-size: 14px;
				letter-spacing: 0.35px;
				line-height: 20px;
				margin: 0 0 18px;
				padding: 0;
				width: 100%;
				min-height: 58px;
			}

			.stamped-review-image {
				display: none;
			}

			.stamped-review-footer {
				display: none;
				float: left;
				font-size: 14px;
				letter-spacing: 0.45px;
				margin: 0 0 18px;
				opacity: 1;
				width: 100%;
			}
			
			&:last-child {
				border-bottom: medium none;
			}
		}
		
		.stamped-review-header {	
			.stamped-review-avatar {
				background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
				border-radius: 0;
				float: left;
				margin: 0 0 5px;
				padding: 0 0 20px !important;
				text-align: center;
				width: 100%;
				
				&:before {
					bottom: 2px;
					font-size: 16px !important;
					left: 50%;
					right: auto;
					transform: translate(-50%, 0px);
				}
			}
			
			.stamped-review-avatar-content {
				color: #000000;
				display: inline-block;
				font-family: "SofiaPro Black";
				font-size: 30px;
				font-weight: normal;
				height: auto;
				letter-spacing: 3px;
				line-height: 40px;
				margin: 0;
				text-transform: uppercase;
				vertical-align: middle;
				width: auto;
			}

			.created {
				bottom: 12px;
				box-sizing: border-box;
				margin: 0;
				padding: 0;
				position: absolute;
				right: 18px;
			}

			.author {
				box-sizing: border-box;
				float: left;
				font-size: 15px;
				font-weight: normal;
				letter-spacing: 0.35px;
				line-height: 20px;
				margin: 0;
				padding: 0;
				text-align: center;
				text-transform: uppercase;
				width: 100%;
			}
			
			.stamped-verified-badge {
				box-sizing: border-box;
				float: left;
				font-size: 12px;
				font-weight: normal;
				letter-spacing: 0.35px;
				line-height: 18px;
				margin: 5px 0 0;
				padding: 0;
				text-align: center;
				width: 100%;
			}
			
			.review-location {
				box-sizing: border-box;
				color: #000000;
				float: left;
				font-size: 12px;
				letter-spacing: 0.35px;
				line-height: 42px;
				margin: 0;
				padding: 0;
				text-align: center;
				width: 100%;
				
				.stamped-location-flag {
					display: inline-block;
					margin: 0 5px 0 0;
					vertical-align: middle;
					
					img {
						display: inline-block;
						margin: 0 !important;
						vertical-align: middle;
					}
				}
			}
			
			.stamped-review-header-starratings {
				border: 1px solid #000000;
				bottom: -1px;
				display: inline-block;
				height: 32px;
				left: calc(~'(20% + 42px)');
				line-height: 32px;
				margin: 0;
				padding: 0 8px;
				position: absolute;
				vertical-align: middle;
				width: auto;

				.stamped-fa {
					height: 34px;
					overflow: hidden;
					
					&:before {
						color: #000000;
						content: "*";
						font-family: "Courier Sans Regular" !important;
						font-size: 28px !important;
						height: 24px;
						line-height: 40px;
					}
				}
				
				.stamped-fa-star-o::before {
					color: #c1c0c0;
				}
			}
		}
		
		 #stamped-sort-select {
			font-size: 13px;
			margin: 30px 0;
		}
		
		.stamped-questions {
			background: #ffffff none repeat scroll 0 0;
			border: 2px solid #000000;
			box-sizing: border-box;
			float: left;
			margin: 30px 0 !important;
			width: 100%;
			
			.stamped-review {
				&:last-child {
					border-bottom: medium none navy;
				}
			}

			.stamped-review-reply {
				background: #e6e6e6 none repeat scroll 0 0;
				border-left: medium none;
				box-sizing: border-box;
				clear: both;
				float: right;
				margin: 0 !important;
				padding: 10px;
				width: 100%;
			}
			
			.stamped-review-header {
				.created {
					display: none;
				}
			}
			
			.stamped-review-header-byline {
				display: none;
				float: left;
				font-family: "SofiaPro Black";
				font-size: 24px;
				font-weight: normal;
				letter-spacing: 1.8px;
				margin: 0 0 15px !important;
				text-transform: uppercase;
				width: 100%;
			}
			
			.stamped-review-reply-body {
				float: left;
				font-size: 14px;
				letter-spacing: 0.35px;
				line-height: 20px;
				margin: 10px 0;
				width: 100%;
			}
			
			.stamped-review-content-body {
				padding: 18px;
				box-sizing: border-box;
			}
		}
	}
}



/*******************for the product sidebar section*******************/



.product-info-customsidebar {
    float: left;
    width: calc(~'(100% - 1px)');
	margin: 0;
    position: sticky;
    left: 16px;
    bottom: 10px;
    right: 20px;
	background: #ffffff;
	z-index: 2;
	
	.product-add-form {
		float: left;
		width: 100%;
		
		form {
			float: left;
			width: 100%;
		}
	}

	.box-tocart {
		float: left;
		width: calc(~'(100% - 67px)');
		
		.fieldset {
			display: inline-block;
			letter-spacing: 0;
			margin: 0;
			vertical-align: middle;
			width: 100%;
		}
		
		.field {
			&.qty {
				float: left;
				margin: 0;
				width: 100px;
				
				.label {
					display: none;
				}
				
				.control {
					float: left;
					margin: 0;
					width: 100%;
				}
				
				button {
					background: #ffffff none repeat scroll 0 0;
					border: 1px solid #000000;
					border-radius: 0;
					box-sizing: border-box;
					color: #000000;
					float: right;
					font-family: "SofiaPro Black";
					font-size: 28px;
					font-weight: normal;
					height: 34px;
					line-height: 32px;
					max-width: 100%;
					padding: 0;
					width: 34px;
					
					&:hover {
						background: #000000 none repeat scroll 0 0;
						color: #ffffff;
					}
					
					&#increment {
						border-right-width: 0;
						border-left-width: 0;
						width: 32px;
					}
					
					span {
						display: inline-block;
						line-height: 22px;
						vertical-align: top;
						width: 100%;
					}
				}
				
				input.qty {
					border-right-width: 0;
					border-width: 1px;
					box-sizing: border-box;
					float: left;
					font-size: 12px;
					height: 34px;
					letter-spacing: 0.48px;
					margin: 0;
					max-width: 100%;
					padding: 0;
					text-align: center;
					width: 34px;
					line-height: 32px;
				}
			}
		}
		
		.price-box-container {
			border: 1px solid #000000;
			box-sizing: border-box;
			float: left;
			margin: 0;
			padding: 0;
			width: calc(~'(100% - 100px)');
			border-left-width: 0;
			text-align: center;
			border-right-width: 0;
		}
		
		.price-box {
			float: left;
			width: 100%;
			
			span {
				box-sizing: border-box;
				display: inline-block;
				height: 32px;
				vertical-align: top;
				width: auto;
				
				&.price {
					font-size: 16px;
					letter-spacing: 0.6px;
					line-height: 32px;
					vertical-align: middle;
				}
			}
		}
		
		&.notify-only {
			.price-box-container {
				border-top-width: 2px;
			}
		}
	}
	
	.pro-action-section {
		float: left;
		width: 67px;
		
		.no-actions {
			border: 2px solid #000000;
			box-sizing: border-box;
			display: inline-block;
			height: 80px;
			margin: 0;
			padding: 0;
			text-align: center;
			vertical-align: middle;
			width: 100%;
			border-top-width: 0;
		}
		
		#notify-product-btn {
			border: medium none;
			display: inline-block;
			float: none;
			height: auto;
			line-height: 78px;
			margin: 0;
			max-width: 100%;
			vertical-align: middle;
			width: 100%;
			
			span {
				color: #000000;
				display: inline-block;
				font-family: "Courier Sans Regular";
				font-size: 18px;
				letter-spacing: 0.4px;
				line-height: 32px;
				width: 100%;
			}
		}
	}

	.actions {
		border: 1px solid #000000;
		box-sizing: border-box;
		float: left;
		width: 50%;
	}

	button.tocart {
		background: #ffffff none repeat scroll 0 0;
		border: medium none;
		border-radius: 0;
		height: 32px;
		padding: 0;
		width: 34px;
		border-right: 1px solid #000000;
		
		&:hover {
			background: #000000 none repeat scroll 0 0;
			border: medium none;
			
			img {
				filter: brightness(100%) invert(100%);
			}
		}
		
		img {
			display: inline-block;
			vertical-align: middle;
			width: auto;
			max-width: 24px;
		}
	}
	
	.action {
		&.towishlist {
			border: 1px solid #000;
			box-sizing: border-box;
			float: left;
			width: 33px;
			border-left-width: 0;
			text-align: center;
			line-height: 32px;
			
			img {
				display: inline-block;
				vertical-align: middle;			
				max-width: 18px;
			}
			
			&:hover {
				background: #000000 none repeat scroll 0 0;
				
				img {
					filter: brightness(100%) invert(100%);
				}
			}
		}
	}
}




/*******************For the related product section on Product Detail Page*******************/


.linked-product-collection {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding-bottom: 28px;
    background: #fff;
    z-index: 1;
}


.catalog-product-view {
	#related-product-sec {
		float: right;
		width: 100%;
        background: #fff;
		
		.block-title {
			border-bottom: 2px solid #707070;
			float: left;
			margin: 0;
			text-align: left;
			width: 100%;
			
			strong {
				float: left;
				font-family: "SofiaPro Black";
				font-size: 20px;
				font-weight: normal;
				letter-spacing: 2px;
				line-height: 18px;
				margin: 28px 0;
				text-transform: uppercase;
				width: auto;
				z-index: 1;
				
				&:after {
					background: #9f55ff none repeat scroll 0 0;
					max-width: calc(~'(100% - 3px)');
					height: 8px;
				}
			}
		}
					
		.block-content {
			float: left;
			width: 100%;
			
			.products-grid {
				float: left;
				margin: 0;
				width: 100%;
			}
		}
		
		.product-items {
			display: inline-block;
			margin: 0;
			width: 100%;
			padding: 0;
			
			.product-item {
				box-sizing: border-box;
				margin: 0;
				padding: 30px 0;
				width: 100%;
			}
		}
		
		.product-item-info {
			display: inline-block;
			position: relative;
			vertical-align: middle;
			width: 100%;
			margin: 0;
			padding: 0;
		}
			
		.product-item-photo {
			display: inline-block;
			text-align: right;
			vertical-align: middle;
			width: 100%;
			
			.product-image-container {
				vertical-align: middle;
				width: 100%;
				max-width: 244px;
			}
		}
		
		.product-item-details {
			display: inline-block;
			padding: 28px 0 0;
			position: relative;
			width: 100%;
			
			.product-item-name {
				display: inline-block;
				font-family: "SofiaPro Black";
				font-size: 28px;
				height: 80px;
				left: -70px;
				letter-spacing: 2.8px;
				line-height: 35px;
				margin: 0;
				position: absolute;
				text-align: left;
				text-transform: uppercase;
				top: -140px;
				transform: rotate(-90deg);
				vertical-align: middle;
				white-space: normal;
				width: 200px;
				word-wrap: initial;
				z-index: 1;
				
				 a {
					display: inline-block;
					font-weight: normal;
					vertical-align: top;
					width: 100%;
					word-wrap: break-word;
				}
				
				/*&.product-midnightcourage {
					left: -78px;
					line-height: 72px;
					top: -200px;
					
					a {
						text-align: left;
						white-space: normal;
						width: 350px;
						word-wrap: break-word;
					}
				}*/
			}
			
			.product-short-dec {
				display: inline-block;
				font-size: 14px;
				letter-spacing: 1.4px;
				line-height: 20px;
				padding-bottom: 12px;
				vertical-align: middle;
				width: 100%;
				text-align: left;
				
				p {
					margin:0;
					display: inline-block;
					vertical-align: middle;
					width: 100%;
				}
			}
			
			.product-feat {
				border: 2px solid #000;
				box-sizing: border-box;
				display: inline-block;
				font-size: 12px;
				letter-spacing: 0.35px;
				line-height: 18px;
				padding: 10px 20px 15px;
				text-align: center;
				width: 100%;
				
				p{
					margin:0;
				}
			}
			
			.stamped-product-reviews-badge{
				display: none;
			}
			
			
			
			.pro_action {
				border: 2px solid #000;
				border-top: none;
				display: flex;
				
				.pro_price_sec {
					width: calc(~'(100% - 110px)');
					border-right: 2px solid #000;
					display: flex;
					align-items: center;
					justify-content: center;
					padding-top: 0;
					padding-bottom: 0;
				}
				
				.amxnotif-container {
					width: 64%;
					
					.amxnotif-block {
						margin: 0;
						font-size: 2rem;
						text-align:center;
						
						a {
							color: #000;
							font-weight: bold;
							padding: 0.54rem 0;
							display: block;
						}
					}
				}
				
				.product-item-inner {
					width: 110px;
					display: flex;					
				}
			}
			
			.pro_price_sec{
				.product-volume-attr{
					display: none;
				}
				.price-final_price{
					margin:0;
				}
			}
			
			.product-item-actions{
				width: 35px;
				border-right: 2px solid;
				margin: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 0.3rem 0;
				
				button.action{
					&.tocart{
						background: transparent;
						padding:0;
						border:0;
						
						img{
							width: 100%;
							max-width: 25px;
							display: inline-block;
							vertical-align: middle;
						}
						
						&:hover{
							background:transparent;
						}
						
						&:focus{
							background:transparent;
						}
					}
				}
			}
			
			.eye-icon{
				width: 35px;
				border-right: 2px solid;
				margin: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 0.3rem 0;
			}

			.wishlist_links{
				width: 35px;
				display: flex;
				justify-content: center;
				align-items: center;
				
				a.action{
					&.towishlist{
						display: block;
						text-align: center;
						
						i{
							display: none;
						}
						
						&::before{
							content:'';
							background:url('../images/Heart.svg');
							width: 28px;
							height: 28px;
							background-size: 16px;
							background-repeat: no-repeat;
							background-position: center;
						}
					}
				}
			}

			.stock-unavailable-staus {
				box-sizing: border-box;
				display: inline-block;
				padding: 18px 0;
				text-align: center;
				vertical-align: middle;
				width: 100%;
				
				span {
					display: inline-block;
					line-height: 32px;
					vertical-align: middle;
					width: 100%;
				}
			}
		}
	}	
}

.amxnotif-block  {
    a {
        font-family: 'SofiaPro Black';
        text-transform: uppercase;
        text-decoration: none;
        vertical-align: middle;
        display: block !important;
        padding-top: 20px !important;
        letter-spacing: 1.6px
    }
}






/*******************Solo Css for the product wise*******************/

.product-reset {	
	.pro-info-block {
		.pro-bg-title {
			background: #9f55ff none repeat scroll 0 0;
		}
	}
}



.product-light-up {
		
	.htu-step-list {
		.step-count {
			color: #ffa300;
		}
	}
	
	&.catalog-product-view #related-product-sec .block-title strong::after {
		background: #ffa300 none repeat scroll 0 0;
	}
}



.product-heroine {
	.pro-info-block {
	
		.pro-bg-title {
			background: #df231d none repeat scroll 0 0;
		}
		
		.key-ingredients-list {
			li {
				&:nth-last-child(3) {
					border-bottom: 1px solid #707070;
				}

				&:last-child {
					border-top: none;
					border-right: 1px solid #707070;
				}
			}		
		}

		.htu-step-list {
			.step-count {
				color: #df231d;
			}
		}
	}
	
	&.catalog-product-view #related-product-sec .block-title strong::after {
		background: #df231d none repeat scroll 0 0;
	}
}

.product-gifted {
	.pro-info-block {
	
		.pro-bg-title {
			background: #807f99 none repeat scroll 0 0;
		}
		
	}
	
	&.catalog-product-view #related-product-sec .block-title strong::after {
		background: #807f99 none repeat scroll 0 0;
	}
}


.product-the-most {
	.pro-info-block {
	
		.pro-bg-title {
			background: #9bcfcb none repeat scroll 0 0;
		}
				
		.htu-step-list {
			.step-count {
				color: #9bcfcb;
			}
		}
	}
	
	&.catalog-product-view #related-product-sec .block-title strong::after {
		background: #9bcfcb none repeat scroll 0 0;
	}
}



.product-goals {
	.pro-info-block {
	
		.pro-bg-title {
			background: #D7918A none repeat scroll 0 0;
		}
						
		.purpose-list {
			li {
				span {
					width: 100%;
					padding: 22px 0 4px;
				}
				
				label {
					letter-spacing: 0.2px;
				}
			}
		}
		
		.htu-step-list {
			.step-count {
				color: #D7918A;
			}
		}
	}
	
	&.catalog-product-view #related-product-sec .block-title strong::after {
		background: #D7918A none repeat scroll 0 0;
	}
}



.product-do-it-all {
	
	.pro-info-block {
	
		.pro-bg-title {
			background: #98ade3 none repeat scroll 0 0;
		}
		
		.lowdown-list {
			span {
				letter-spacing: 0.1px;
			}
		}
		
		.htu-step-list {
			.step-count {
				color: #98ade3;
			}			
		}
	}
	
	&.catalog-product-view #related-product-sec .block-title strong::after {
		background: #98ade3 none repeat scroll 0 0;
	}
}



.product-midnight-courage {
	.pro-info-block {
	
		.pro-bg-title {
			background: #001F5B none repeat scroll 0 0;
			
			.backstrip {
				color: #ffffff;
				
				&:after {
					background: #898989 none repeat scroll 0 0;
				}
			}
			
			.content-tab-toggler {
				color: #fff;
			}
			
			.subtitle {
				color: #ffffff;
			}
		}
		
		.htu-step-list {
			.step-count {
				color: #001F5B;
			}
		}
		
		.purpose-list {
			li {
				span {
					width: 100%;
					padding: 22px 0 4px;
				}
				
				label {
					letter-spacing: 0.2px;
				}
			}
		}
	}
	
	&.catalog-product-view #related-product-sec .block-title strong::after{
		background: #898989 none repeat scroll 0 0;
	}
}

.catalog-product-view  {
    .pro-image-container {
        position: sticky;
        top: 0;
    }
    .container {
        background: #fff;
    }
}




.product-follow-the-light {
	.pro-info-block {
		.pro-bg-title {
			background: #ff7276 none repeat scroll 0 0;
		}
	}
	
	.key-ingredients-list {
		li {
			span {
				min-height: 100px;
			}
		}
	}
	
	.purpose-list {
		li {
			img {
				max-height: 150px;
			}
		}
	}
	
	.htu-step-list {
		.step-count {
			color: #ff7276;
		}
		
		li:nth-child(3n) {
			border-bottom: none;
		}
	}
	
	&.catalog-product-view {
		#related-product-sec {
			.block-title strong::after {
				background: #ff7276 none repeat scroll 0 0;
			}
		}
	}
}


.product-liquid-clarity {
	.pro-info-block {
		.pro-bg-title {
			background: #8093dc none repeat scroll 0 0;
		}
	}
	
	.key-ingredients-list {
		li {
			width: 20%;			
		}
	}
	
	.htu-step-list {
		.step-count {
			color: #8093dc;
		}
		
		li:nth-child(1n){
			border-bottom: none;
		}
	}
	
	&.catalog-product-view {
		#related-product-sec {
			.block-title strong::after {
				background: #8093dc none repeat scroll 0 0;
			}
		}
	}
}


.product-liquid-panacea {
	.pro-info-block {
		.pro-bg-title {
			background: #18afab none repeat scroll 0 0;
		}
	}
	
	.key-ingredients-list {
		li {
			span {
				min-height: 80px;			
			}
		}
	}
	
	.htu-step-list {
		.step-count {
			color: #18afab;
		}
		
		li:nth-child(1n){
			border-bottom: none;
		}
	}
	
	&.catalog-product-view {
		#related-product-sec {
			.block-title strong::after {
				background: #18afab none repeat scroll 0 0;
			}
		}
	}
}






/*======07-July========*/
.product-get-set-glow{
	overflow-x: hidden;
	.page-main{
		.main{
			.product-info-encaptulate{
				.product-info-main{
					.product-upper-container{
						.pro-info-block{
							.pro-bg-title{
								margin-bottom: 0rem;
							}
							.product-info-content{
								padding-top:2rem;
							}
							.product-info-content{
								max-height: 100%;
								margin-top:0;
								&.close{
									max-height: 0;
								}
							}
							&.pro-lowdown-block{
								.product-lowdown-content{
									margin-bottom: 2rem;
									font-size: 14px;
									a{
										display: block;
										margin: 3rem 0 1rem;
										font-size: 13px;
										color:#000;
										font-weight: bold;
										&:hover{
											text-decoration: none;
										}
										&:first-child{
											margin-top: 10px;
										}
									}
								}
							}
							&.pro-ingredients-block{
								.product-ingredients-content{
									margin-bottom: 2rem;
									a{
										display: block;
										margin: 3rem 0 1rem;
										font-size: 15px;
										color:#000;
										font-weight: bold;
									    &:first-child{
									    	margin-top: 10px;
									    }
									    &:hover{
									    	text-decoration: none;
									    }
									}
									p{
										font-size: 14px;
										line-height: 22px;
									}
								}
							}
							&.pro-how-to-use-block{
								.product-how-to-use-content{
									.htu-step-list{
										margin-bottom: 1.5rem;
										.htu-step-title{
											min-height: 38px;
											display: flex;
											align-items: center;
											padding-left:10px;
										}
										li{
											.step-count{
												color: #efe978;
											}
										}
									}
									p{
										&.htu-step-tip{
											font-size: 12px;
											padding:10px;
											line-height: 15px;
											border:1px solid #707070;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
.catalog-product-view.product-get-set-glow .product-info-customsidebar button.tocart img{top:0;}
.catalog-product-view .page-main{overflow-x: hidden;}

.catalog-category-view{
	.product-items{
		.product-item{
			&.GET{
				&.SET{
					.product-item-info{
						.product-image-wrapper{
							background: url(../images/get-set-glow-pro.jpg);
						    background-size: cover;
						    background-position: center;
						    img{
						    	opacity: 0;
						    }
						}
					}
				}
			}
		}
	}
}
