<div class="ajax-result">
	<p style="min-height:300px; text-align:center"> Loading....</p>
</div>
<?php 
$ajaxUrl = $block->getUrl('homeajax/index');
?>
<script type="text/javascript">
require(['jquery'], function () { 
/* lazy loading for home page */
var isScrolled = false;
if (jQuery(window).width() <= 2000) {
    window.onscroll = function() {    
        if(isScrolled==false){
          omlazyLoad();
        }
    };
}else {
  omlazyLoad();
}   
function omlazyLoad(){
jQuery.ajax({
    url:  '<?php echo $ajaxUrl ?>',
    dataType:'html',
    success:function(response){
        jQuery('.ajax-result').html(response);
    },
    beforeSend:function(){ isScrolled = true; }
});

}

});
</script>
<style type="text/css">
.ajax-result .ajax-loader {margin:45px 0 20px;}
</style>
