// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Checkout Estimated Total
    //  ---------------------------------------------

    .opc-estimated-wrapper {
        border-bottom: 1px solid #707070;
		margin: 0 0 15px 0;
		padding: 18px 0;
		display: inline-block;
		width: 100%;
		vertical-align: middle;
		box-sizing: border-box;
		position: relative;
		border-top: 1px solid #707070;
		
		.estimated-block {
            font-size: 16px;
			font-weight: normal;
			float: left;
			width: 100%;
			line-height: 24px;
			letter-spacing: 0.35px;

            .estimated-label {
                display: inline-block;
				margin: 0;
            }
			
			.estimated-price {
				float: right;
			}
        }

        .minicart-wrapper {
			margin: 0;
			position: absolute;
			right: 0;
			top: -49px;
			z-index: 1;
            
			.action {
                &.showcart {
                    &:before {
                        .lib-css(color, @primary__color);
                    }
                }
            }
			
			button {
				&.action {
					&.showcart {
						border-radius: 0;
						border: none;
						background: #000000;
						padding: 0 5px;
						vertical-align: middle;
						height: 32px;
						
						&:before {
							color: #ffffff;
							font-size: 28px;
							line-height: 32px;
						}
						
						span {
							&.counter {
								&.qty {
									background: none;
									border: none;
									margin: 0;
									padding: 0;
									font-weight: normal;
									width: auto;
									height: 32px;
									line-height: 32px;
									
									&:before {
										content: "(";
									}

									&:after {
										content: ")";
									}
								}
							}
						}
					}
				}
			}
        }
    }
	
	.checkout-index-index {
		.checkout-container {
			.opc-estimated-wrapper {
				margin: 0 0 15px;
			}
		}
	}
	
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .opc-estimated-wrapper {
        display: none;
    }
}

