<?php
/* @var \TNW\Subscriptions\Block\Subscription\Summary\Payment\EmailDetails $block */
?>
<h3><?php echo __("Payment Details") ?></h3>
<p>
    <strong><?php echo __('Payment Type') ?>:</strong>
    <br>
    <?php echo $block->getPaymentMethodTitle() ?>
</p>
<?php if ($additionalInfo = $block->getPaymentAdditionalInfo()):?>
    <?php if (isset($additionalInfo['cc_type']) || isset($additionalInfo['cc_last_4'])): ?>
    <p>
        <strong><?php echo __('Card Type') ?></strong>
        <br>
        <?php echo $block->getCreditCardTypeLabel() ?>
    </p>
    <p>
        <strong><?php echo __('Card Number') ?></strong>
        <br>
        <?php echo $block->getCreditCardNumber() ?>
    </p>
    <p>
        <strong><?php echo __('Exp. Date') ?></strong>
        <br>
        <?php echo $block->getCreditCardExpDate() ?>
    </p>
    <?php endif; ?>
    <?php if (isset($additionalInfo['po_number'])): ?>
        <p>
            <strong><?php echo __('Purchase Order Number') ?></strong>
            <br>
            <?php echo $block->getPurchaseOrderNumber() ?>
        </p>
    <?php endif; ?>
<?php endif; ?>
<p>
    <strong><?php echo __('Currency') ?></strong>
    <br>
    <?php echo $block->getProfileCurrencyCode() ?>
</p>
