<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Xnotif
 */
?>
<?php
    /** @var Magento\Framework\Url\Helper\Data $urlHelper */
    $urlHelper = $this->helper('Magento\Framework\Url\Helper\Data');
    /** @var Amasty\Xnotif\Helper\Data $helper */
    $helper = $this->helper('Amasty\Xnotif\Helper\Data');

    $productId = $helper->getOriginalProduct($block) ? (int)$helper->getOriginalProduct($block)->getId() : 0;
    $parentId = (int)$block->getData('parent_product_id');
    $url = $block->escapeHtml($helper->getEmailUrl('stock'));
    $usePopup = $block->usePopupForSubscribe();
    $subscribeLinkTag = $usePopup ? 'a' : 'label';
?>

<div class="amxnotif-container" data-product-id="<?= $productId ?>">
    <div class="amxnotif-block label<?php if ($usePopup) echo " subscribe-popup" ?>">
        <<?= $subscribeLinkTag ?> for="notification-container-<?= $productId ?>">
            <?= /* @escapeNotVerified */
            __('Notify Me When Back In Stock') ?>
        </<?= $subscribeLinkTag ?>>
    </div>
    <div class="category amxnotif-block<?php if ($usePopup) echo " subscribe-popup" ?>" data-action="<?= $url; ?>">
        <form class="form-for-swatches-inputs-fix"></form>
        <form id="form-validate-stock-<?= $productId ?>"<?php if ($usePopup) echo "class='subscribe-popup'" ?> method="post"
              action="<?= $url; ?>">
            <?php if ($usePopup) : ?>
                <label for="notification-container-<?= $productId ?>">
                    <?= /* @escapeNotVerified */
                    __('Sign up to be notified') ?>
                </label>
            <?php endif; ?>
            <div class="notification-container" id="notification-container-<?= $productId ?>">
                <div class="input-fields fieldset">
                    <input name="guest_email"
                           class="input-text amxnotif-guest-email"
                           id="amxnotif-guest-email-<?= $productId ?>"
                           size="30"
                           type="email"
                           data-validate="{required:true, 'validate-email':true}"
                    />
                    <input type="hidden" name="product_id"
                           value="<?= $productId ?>"/>
                    <input type="hidden" name="type" value="email"/>

                    <?php if ($parentId) : ?>
                        <input type="hidden" name="parent_id"
                               value="<?= $parentId ?>"/>
                    <?php endif; ?>

                    <input type="hidden"
                           name="<?= \Magento\Framework\App\Action\Action::PARAM_NAME_URL_ENCODED ?>"
                           value="<?= $urlHelper->getEncodedUrl() ?>"/>

                    <?php if ($helper->isGDRPEnabled()) : ?>
                        <div class="field required">
                            <label class="label" for="amxnotif-stock-gdrp-<?= $productId ?>">
                                <input type="checkbox"
                                       name="gdrp"
                                       id="amxnotif-stock-gdrp-<?= $productId ?>"
                                       title="<?= __('GDRP'); ?>"
                                       data-validate="{required:true}"
                                       value="1">
                                <?= $helper->getGDRPText(); ?>
                            </label>
                        </div>
                    <?php endif; ?>
                </div>

                <div class="actions-toolbar amxnotif_guest_action">
                    <div class="primary">
                        <button type="submit" class="action submit primary<?php if (!$usePopup) echo " amsubscribe"?>">
                            <?php if ($usePopup) echo __('Subscribe'); ?>
                        </button>
                    </div>
                </div>
                <?php if ($usePopup) : ?>
                    <span class="close-subscribe-popup">&times;</span>
                <?php endif; ?>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    require([
        'jquery',
        "mage/mage",
        "mage/validation"
    ], function ($) {
        "use strict";
        $('#form-validate-stock-<?= $productId ?>').mage('validation');
    });
</script>
