<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<small class="copyright">
    <span><?= /* @escapeNotVerified */ $block->getCopyright() ?></span>
</small>

<style>
.checkout-index-index .opc-wrapper .shipping-address-item.selected-item {
    border-color: #000000;
}
.checkout-index-index .opc-wrapper .shipping-address-item.selected-item:after {
    background: #000000;
}
.page-top-logo {
    text-align: center;
    margin: 20px 0px;
}
.sale-banner-img {
    text-align: center;
    margin: 20px 0px;
}
.sale-banner-content {
    text-align: center;
    margin: 20px 0px;
}
.sale-banner-content p {
    font-size: 15px;
    font-family: QuadraatSansRegular;
    color: #000;
    letter-spacing: .25px;
}
a.sale-shop {
    display: inline-block;
    margin: 10px;
    border: 1px solid #000;
    padding: 10px 30px;
    color: #fff !important;
    background: #000;
}
.sale-shop:hover{
	text-decoration: none;
}
.sale-banner-content small {
    display: block;
}
.page-top-logo img {
    width: 30%;
}
.cms-nationaldaysale1 .ambanners,.cms-nationaldaysale2 .ambanners,.cms-nationaldaysale3 .ambanners{
    display: none;
}
.cms-nationaldaysale1 .swell-tab,.cms-nationaldaysale2 .swell-tab,.cms-nationaldaysale3 .swell-tab {
    display: none !important;
}
.cms-nationaldaysale1 #freshwidget-button ,.cms-nationaldaysale2 #freshwidget-button,.cms-nationaldaysale3 #freshwidget-button{
    display: none !important;
}
.cms-nationaldaysale1 .copyright,.cms-nationaldaysale2 .copyright,.cms-nationaldaysale3 .copyright {
    display: none;
}
</style>
