<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
$getBaseUrl = $this->getBaseUrl();
?>
<div id="custom-header-id" class="customDiv">
	<div class="header-label">
		<?php echo $this->getChildHtml("header_label"); ?>
	</div>
	<div class="menu-over-banner">
		<div class="menu-over-banner-container">
			<div class="menu-section">
				 <div class="main-logo"><?php echo $this->getChildHtml("logo"); ?></div>
        		<?php echo $this->getChildHtml("minicart"); ?>
        		 <?php echo $this->getChildHtml("storeswitcher"); ?>
        		<?php echo $this->getChildHtml("storelang"); ?>
        		<!-- <?php echo $this->getChildHtml("currency"); ?> -->

				 <div class="login-register-container">
				 <div class="on-user-icon-click-show-box">
				  	<img src='<?php echo $this->getViewFileUrl('images/user-profile.png'); ?>' alt="user">
				 </div>
				  <div class="on-user-icon-click-show" style="display: none;">
				 	<?php echo $this->getChildHtml("headerLinks"); ?>
					 <?php if(!$customerSession->isLoggedIn()): ?>
	   					<ul class="header links custom-register">
						 	<li class="authorization-link register-link">
						 		<a href="javascript: void(0);" class="custom-sign-up">sign up </a>
						 	</li>
						</ul>
						<ul class="header links custom-register">
							<li class="order-return">
								<a href="<?php echo $getBaseUrl.'alliesofskin/guest/login/' ?>">Order Return</a>
							</li>
						</ul>
					 <?php endif; ?>
					</div>
				 </div>
			</div>

		</div>
	</div>
	<div class="header-menu-new">
		<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('desktop_menu')->toHtml();?>
	</div><!-- header-menu-new -->
	<div class="removefloat"></div>
</div>
<style>
.amxnotif-block.product.alert.alert.stock.link-stock-alert {
    display: inline-block !important;
}
.product-short-dec p {
    min-height: 100px;
}
.category .subscribe-popup {
background-color: #000;
}
.amxnotif-block .subscribe-popup label[for^=notification-container] {
    font-size: 12px !important;
    text-align: left !important;
    color: #fff !important;
}
button.action.submit.primary {
    border: 1px solid #808285;
    color: #808285;
}
button.action.submit.primary:hover {
    border: 1px solid #ffffff;
    color: #ffffff;
}
.category .subscribe-popup .notification-container {
    margin-top: 5px;
}
.close-subscribe-popup {
    right: 6px;
    top: 0px;
    color: #cacaca;
    font-size: 16px;
}
.upper-banner-heading{
	line-height: 35px !important;
}
a.freshwidget-theme {
    height: 18px !important;
}
.ampromo-overlay.added {
    display: none !important;
}
.ampromo-items-add{
	display: none;
}
</style>
	

