<?php /* @var \TNW\Subscriptions\Block\Subscription\Summary\Address $block */ ?>
<div class="block">
    <div class="block-title">
        <strong><?php echo $block->getAddressTitle() ?></strong>
        <?php if ($block->isShowEditLink()) : ?>
            <a href="<?php echo $block->getEditUrl() ?>" class="profile__edit_button" id="shipping-edit-button"></a>
        <?php endif;?>
    </div>
    <div class="block-content subscription-profile-<?php echo $this->getAddressType() ?>-address">
        <address>
            <?php echo $block->getAddressHtml() ?>
        </address>
    </div>
</div>