<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$homeUrl = $storeManager->getStore()->getBaseUrl();
?>
<?php if(!$block->isLoggedIn()): ?>
	<div class="login-overlay">
		<div class="login-popup">
		<div class="login-menu-top">
			<a href="<?php echo $homeUrl ?>"><img src="<?php echo $this->getViewFileUrl('images/menu-logo.png'); ?>"></a>
			<a class="close-login-menu" href="javascript: void(0);">X</a>
		</div>

		<div class="back-to-main-menu">
			<a href="javascript: void(0);">Back to menu</a>
		</div>

		<div class="login-register-popup">
			<div class="response-msg"></div>
			<div class="login-register-loader">
				<h3><?= __("Underground Access") ?></h3>
				<span class="loader"><?= __("Authenticating...") ?></span>
			</div>
			<div class="register-container">
				<h2><?= __("signup") ?></h2>
				<form class="popup-register-form" method="POST" action="">
					<fieldset class="fieldset">
						<div class="container field required">
							<label class="label"><b><?php echo __('First Name') ?></b></label>
							<input type="text" placeholder="<?php echo __('Enter First Name') ?>" name="firstname" required>

							<label class="label"><b><?php echo __('Last Name') ?></b></label>
							<input type="text" placeholder="<?php echo __('Enter Last Name') ?>" name="lastname" required>

							<label class="label"><b><?php echo __('Email') ?></b></label>
							<input type="email" placeholder="<?php echo __('Enter Email') ?>" name="email" required>

							<?php  echo $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Dob')->toHtml() ?>
					        <?php  echo $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Gender')->toHtml() ?>

							<label class="label"><b><?php echo __('Password') ?></b></label>
							<input type="password" placeholder="<?php echo __('Enter Password') ?>" name="password" required>

							<label class="label"><b><?php echo __('Confirm Password') ?></b></label>
							<input type="password" placeholder="<?php echo __('Confirm Password') ?>" name="password_confirmation" required>
							<button class="action login primary" type="submit"><?php echo __('Become an ally') ?></button>
							<!-- <div class="term-condition">
								<label><?= __("I Agree to the") ?>&nbsp;<a href="<?= $block->getUrl('terms-of-service', array('_secure' => true)) ?>"><?= __("T&CS") ?></a></label>
								<div class="control check-terms">
									<input type="checkbox" data-validate="{required:true}" name="term_condition" value="" required />
								</div>
							</div> -->

							
						</div>
					</fieldset>

					
				</form>
			</div>
			<div class="login-container">
				<h2><?= __("I'M Already an Ally") ?></h2>
				<form class="popup-login-form" method="POST" action="">
					<fieldset class="fieldset">
						<div class="container field required">
							<label class="label"><b><?php echo __('Email') ?></b></label>
							<input type="email" placeholder="<?php echo __('Enter Email') ?>" name="username" autocomplete="off" required>

							<label class="label"><b><?php echo __('Password') ?></b></label>
							<input type="password" placeholder="<?php echo __('Enter Password') ?>" name="password" autocomplete="off" required>

							<button class="action login primary" type="submit"><?php echo __('Login') ?></button>
							<span class="psw"><a href="<?php echo $block->getUrl('customer/account/forgotpassword') ?>"><?php echo __('Forgot Your password') ?>?</a></span>
							<!-- <div class="register-link"><span><?php echo __('New Here?') ?></span>&nbsp;<a href="#"><?php echo __('Become an ally') ?></a></div> -->
						</div>
					</fieldset>
					
				</form>
			</div>
			
		</div>
	
	</div>
	
	</div>
	<div class="login-overlay-container"></div>

	<script type="text/javascript">
		require(['jquery'], function($) {

			var headerElem = $('.panel.header');
			/*var loginLink = headerElem.find('.authorization-link').children('a');*/
			var loginLink = $('.authorization-link').children('a');
			var registerLink = headerElem.find('.authorization-link').next().children('a');
			var loginOverlay = $('.login-overlay');
			var loginBox = $('.login-overlay').find('.popup-login-form');
			var registerBox = $('.login-overlay').find('.popup-register-form');
			var loginButton = $('.popup-login-form').find('button[type=submit]');
			var registerButton = $('.popup-register-form').find('button[type=submit]');
			var loader = $('.login-overlay').find('.login-register-loader');
			var loginUrl = "<?php echo $block->getUrl('customerlogin/ajax/login') ?>";
			var registerUrl = "<?php echo $block->getUrl('customerlogin/ajax/register') ?>";

			// Texts
			var loginText = "<?php echo __('Login') ?>";
			var loggingText = "<?php echo __('Please Wait...') ?>";

			var registerText = "<?php echo __('Sign Up') ?>";
			var registeringText = "<?php echo __('Please Wait...') ?>";

			loginLink.click(function(e){
				e.preventDefault(e);
				var dataLabel = $(this).data('label');
				if(dataLabel != 'logout') {
					loginOverlay.show();
					loginBox.show();
					loader.hide();
				}
			});

			registerLink.click(function(e){
				e.preventDefault(e);
				loginOverlay.show();
				registerBox.show();
			});

			$('.cancelbtn').click(function(){
				loginOverlay.hide();
				loginBox.hide();
				registerBox.hide();
			});

			$('.login-link a').click(function(e){
				e.preventDefault(e);
				loginBox.show();
				registerBox.hide();
			});

			$('.register-link a').click(function(e){
				e.preventDefault(e);
				loginBox.hide();
				registerBox.show();
			});

			$('.popup-login-form').submit(function(){
				loginButton.text(loggingText);
				loginButton.attr("disabled", "disabled");
				var formData = getFormData($(this));
				loginBox.hide();
				loader.parent('div').addClass('box-resize');
				loader.show();
				$.ajax({
		            type: "POST",
		            url: loginUrl,
		            data: formData,
		            dataType: "json",
		            success: function(data) {
		                showResponse(data);
		                loader.hide();
		                loader.parent('div').removeClass('box-resize');
		                loginBox.show();
		                if(data.errors) {
		                	loginButton.text(loginText);
		                	loginButton.removeAttr('disabled');
		                } else {
		                	setTimeout(function() {
		                		location.reload();
		                	}, 1000);
		                }
		            }
		        });
				return false;
			});

			$('.popup-register-form').submit(function(){
				registerButton.text(registeringText);
				registerButton.attr("disabled", "disabled");
				registerBox.hide();
				loader.parent('div').addClass('box-resize');
				loader.show();
				var formData = getFormData($(this));
				$.ajax({
		            type: "POST",
		            url: registerUrl,
		            data: formData,
		            dataType: "json",
		            success: function(data) {
		                showResponse(data);
		                loader.hide();
		                loader.parent('div').removeClass('box-resize');
		                registerBox.show();
						if(data.errors) {
		                	registerButton.text(registerText);
		                	registerButton.removeAttr('disabled');
		                }
		                else{
		                	 $('.registration-after-success-container').show();
		                }

		            },
		            error: function (textStatus, errorThrown) {
		                alert(errorThrown);
		            }
		        });
				return false;
			});

			function getFormData(formElem){
			    var unindexed_array = formElem.serializeArray();
			    var indexed_array = {};

			    jQuery.map(unindexed_array, function(n, i){
			        indexed_array[n['name']] = n['value'];
			    });

			    return indexed_array;
			}

			function showResponse(data) {
				if(data.errors) {
					$('.response-msg').html("<div class='error'>"+data.message+"</div>");
				} else {
					$('.response-msg').html("<div class='success'>"+data.message+"</div>");
				}
				setTimeout(function(){ $('.response-msg').html(null); }, 5000);

			}
			$("#dob").attr("placeholder","Date of birth");
		});
			
	</script>
<?php endif; ?>
<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('registration-after-success')->toHtml();?>