<?php
	$_product = $block->getProduct();
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$currencysymbol = $objectManager->get('Magento\Store\Model\StoreManagerInterface');
	$currencyCode = $currencysymbol->getStore()->getCurrentCurrencyCode();
	$currency = $objectManager->create('Magento\Directory\Model\CurrencyFactory')->create()->load($currencyCode);
	$customOptions = $objectManager->get('Magento\Catalog\Model\Product\Option')->getProductOptionCollection($_product);
	$priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data');
?>
<?php if($_product): ?>
    <div class="product-form">
<form data-role="tocart-form" id="custom_addto_form" action="<?= /* @escapeNotVerified */ $this->getUrl('checkout/cart/add', array('product' => $_product->getId(), '_secure' => $this->getRequest()->isSecure())) ?>" method="post">
		<?= $block->getBlockHtml('formkey') ?>
	<div class="addto-section">
		<div class="product-name"><?= $block->escapeHtml($_product->getName()) ?></div>
	</div>
	<div class="attribute product-attr <?php if( isset($customOptions->getData()[0]) ): ?>white-separator<?php endif; ?>" data-symbol="<?= $currency->getCurrencySymbol() ?>">
		<?php if( isset($customOptions->getData()[0]) ): ?>
            <?php $name = $customOptions->getData()[0]['option_id'] ?>
            <div class="options product-option">
                <select name="options[<?= $name ?>]" data-selector="options[<?= $name ?>]" class="select-options">
                    <?php foreach($customOptions as $option): ?>
                        <?php foreach ($option->getValues() as $value): ?>
                            <option value="<?= $value->getData('option_type_id') ?>" price="<?= number_format($value->getData('price'), 0) ?>"><?= $value->getData('default_title') ?></option>
                        <?php endforeach; ?>
                    <?php endforeach; ?>
                </select>
            </div>
            <span class="separator"></span>
        <?php endif; ?>
        <div class="product-price">
        	<div class="price-wrapper" data-price-amount="<?= $_product->getPrice() ?>">
        		<div class="price"><?= $priceHelper->currency($_product->getPrice(), true, false) ?></div>
        	</div>
    	</div>
    	<?php if ($_product->isSaleable()): ?>
            <div class="actions">
                <input type="hidden" name="product" value="<?= /* @escapeNotVerified */ $_product->getId() ?>">
                <input type="hidden" name="qty" class="bottom-product-qty" value="1" />
                <?php if($_product->getTypeId() == 'bundle'): ?>
                    <?php
                        $selectionCollection = $_product->getTypeInstance(true)->getSelectionsCollection(
                            $_product->getTypeInstance(true)->getOptionsIds($_product),
                            $_product
                        );
                    ?>
                    <?php if( isset($selectionCollection->getData()[0]) ): ?>
                        <?php $count = $selectionCollection->getData()[0]['option_id']; ?>
                        <select multiple="multiple" name="bundle_option[<?= $count ?>][]" data-selector="bundle_option[<?= $count ?>][]" style="display: none;">
                            <?php foreach ($selectionCollection as $proselection): ?>
                                <option value="<?= $block->escapeHtml($proselection->getSelectionId()) ?>" selected="selected"><?= $block->escapeHtml($proselection->getName()) ?></option>
                            <?php endforeach; ?>
                        </select>
                    <?php endif; ?>
                <?php endif; ?>
            	<button type="submit" title="<?= $block->escapeHtml(__('Add to Bag')) ?>" class="action tocart primary"><span><?= /* @escapeNotVerified */ __('Add to Bag') ?></span></button>
            </div>
        <?php else: ?>
            <?php if ($_product->isAvailable()): ?>
                <div class="stock available"><span><?= /* @escapeNotVerified */ __('In stock') ?></span></div>
            <?php else: ?>
                <div class="stock unavailable"><span><?= /* @escapeNotVerified */ __('Out of stock') ?></span></div>
            <?php endif; ?>
        <?php endif; ?>
	</div>
</form>
</div>
<script type="text/x-magento-init">
    {
        "#custom_addto_form": {
            "catalogAddToCart": {
                "bindSubmit": true
            }
        }
    }
</script>
<?php endif; ?>