<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product view template
 *
 * @var $block \Magento\Catalog\Block\Product\View
 */
?>
<?php $_helper = $this->helper('Magento\Catalog\Helper\Output'); ?>
<?php $_product = $block->getProduct(); ?>
<?php
 $stockItem = $_product->getExtensionAttributes()->getStockItem();
   //print_r($stockItem->getQty()); 
?>

<div class="product-add-form">
    <div class="product-container">
      <!-- <div class="wishlist-box product-page-wishlist-container">
         <a href="#" data-post='<?php  echo $this->helper('Magento\Wishlist\Helper\Data')->getAddParams($_product) ?>' class="action towishlist" data-action="add-to-wishlist">
           <span class="product-page-wishlist"> <?= __('Add to Wish List') ?></span>
         </a>
      </div> -->

                <form data-product-sku="<?= $block->escapeHtml($_product->getSku()) ?>"
                      action="<?= /* @NoEscape */ $block->getSubmitUrl($_product) ?>" method="post"
                      id="product_addtocart_form"<?php if ($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
                    <input type="hidden" name="product" value="<?= /* @escapeNotVerified */ $_product->getId() ?>" />
                    <input type="hidden" name="selected_configurable_option" value="" />
                    <input type="hidden" name="related_product" id="related-products-field" value="" />
                    <?= $block->getBlockHtml('formkey') ?>
                    <?= $block->getChildHtml('form_top') ?>
                    <?php if (!$block->hasOptions()):?>
                        <?= $block->getChildHtml('product_info_form_content') ?>
                    <?php else:?>
                        <?php if ($_product->isSaleable() && $block->getOptionsContainer() == 'container1'):?>
                            <?= $block->getChildChildHtml('options_container') ?>
                        <?php endif;?>
                    <?php endif; ?>

                    <?php if ($_product->isSaleable() && $block->hasOptions() && $block->getOptionsContainer() == 'container2'):?>
                        <?= $block->getChildChildHtml('options_container') ?>
                    <?php endif;?>
                    <?= $block->getChildHtml('form_bottom') ?>
                </form>
    </div>
    
</div>


<script>
    require([
        'jquery',
        'priceBox'
    ], function($){
        var dataPriceBoxSelector = '[data-role=priceBox]',
            dataProductIdSelector = '[data-product-id=<?= $block->escapeHtml($_product->getId()) ?>]',
            priceBoxes = $(dataPriceBoxSelector + dataProductIdSelector);

        priceBoxes = priceBoxes.filter(function(index, elem){
            return !$(elem).find('.price-from').length;
        });

        priceBoxes.priceBox({'priceConfig': <?= /* @escapeNotVerified */ $block->getJsonConfig() ?>});
    });
</script>
