<?php
/**
 * Copyright © 2018 TechNWeb, Inc. All rights reserved.
 * See TNW_LICENSE.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \TNW\Subscriptions\Block\Adminhtml\SubscriptionProfile\Edit\Summary\ShippingDetails $block */
?>
<div class="inner-block tnw_subscriptions">
    <table class="admin__table-secondary data-table">
        <tbody>
            <tr class="col-0">
                <td class="label"><?php echo __("Shipping Method") ?></td>
                <td class="right"><span class="text"><?php echo $block->getShippingDescription() ?></span></td>
            </tr>
        </tbody>
    </table>
</div>


