<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Account\Dashboard\Info $block */
?>

<div class="customer-name-show">
    <p><span><?= $block->escapeHtml(__('Hello,')) ?></span></p>
    <p><span class="backstrip"><?= $block->escapeHtml($block->getName()) ?></span></p>
</div>

<div class="edit-customer-info-container">
    <div class="left-edit-container">
        <div class="left-conatiner">
            <span class="edit-icon"><img src='<?php echo $this->getViewFileUrl('images/edit-hand-icon.svg'); ?>'></span>
        </div>
        <div class="right-container">
            <span><?= $block->escapeHtml(__('Email:')) ?></span>
            <span><?= $block->escapeHtml($block->getCustomer()->getEmail()) ?></span>
            <a class="action edit" href="<?= $block->escapeUrl($block->getUrl('customer/account/edit')) ?>">
                <span class="backstrip"><?= $block->escapeHtml(__('Edit Your Email')) ?></span>
            </a>
        </div>
    </div>
    <div class="right-edit-container">
        <div class="left-conatiner">
            <span class="edit-icon"><img src='<?php echo $this->getViewFileUrl('images/edit-hand-icon.svg'); ?>'></span>
        </div>
        <div class="right-container">
            <span><?= $block->escapeHtml(__('Password:******')) ?></span>
            <a href="<?= $block->escapeUrl($block->getChangePasswordUrl()) ?>" class="action change-password">
                <span class="backstrip"><?= $block->escapeHtml(__('Edit Your Password')) ?></span>
            </a>
        </div>
    </div>
</div>
