<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/** @var \Magento\Contact\Block\ContactForm $block */
?>

<?php
$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $_objectManager->get('Magento\Store\Model\StoreManagerInterface');
$currentStore = $storeManager->getStore();
$mediaUrl = $currentStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
?>

<div class="contact-us-container">
	<p class="cont-heading">CONTACT US</p>

	<div class="contact-us-section1-container">
		<div class="contact-container">

			<div class="section_wrapper">
				<div class="sections section1 section-left background"  data-aos="fade-down"><span class="Abtsec_img"><img class="fadeInDown" src="<?php echo $mediaUrl;?>wysiwyg/Contact_Us/contac-us-imagenew1.jpg" alt=""></span></div>
				
				<div class="sections section1 section-right background1">
					<h2 class="Section_title"><span class="Aboutsec_title" data-aos="fade-right" data-aos-delay="1000">Get in Touch</span></h2>
					<div class="section_content">
						<div class="in_AbtCont" data-aos="fade-down" data-aos-delay="2000">
							<h3 class="inner_title">Allies Group Pte Ltd</h3>
							<p>1 Coleman Street, #10-06, <br /> Singapore 179803 <br /> Company Registration No. 201315916D <br /> <a href="mailto:ask@alliesofskin.com">ask@alliesofskin.com</a></p>
						</div>
					</div>
				</div>
			</div>

			<div class="section_wrapper common-wrapper" id="section-wrapper-2">
				<div class="sections section4 section-left animaltest">
					<h2 class="Section_title"><span class="Aboutsec_title" data-aos="fade-left" data-aos-delay="1000">NEED SOME HELP?</span></h2>
					<div class="section_content" data-aos="fade-down">
						<div class="in_AbtCont" data-aos="fade-down" data-aos-delay="2000">
							<h3 class="inner_title">THAT'S WHAT WE ARE HERE FOR.</h3>
							<p>If you have questions about an order, our products, or navigating our website, send us an email or check out our Help & FAQs page - we might already have an answer for you!</p>
							<div class="address-cont bottom-address">
								<div class="address-block">General Enquiries
									<p><a href="mailto:ask@alliesofskin.com">ask@alliesofskin.com</a></p>
								</div>
								<div class="address-block">Press Enquiries
									<p><a href="mailto:press@alliesofskin.com">press@alliesofskin.com</a></p>
								</div>
								<div class="address-block">Press Enquiries (US)
									<p><strong>Katherine Pape</strong> <a href="mailto:kathy@papepr.com">kathy@papepr.com</a></p>
								</div>
								<div class="address-block">Press Enquiries (UK)
									<p><strong>Rachael Houghton</strong> <a href="mailto:rachael@huntergracelondon.com">rachael@huntergracelondon.com</a></p>
								</div>
								<div class="address-block">Press Enquiries (Germany)
									<p><strong>Faustyna Klabun</strong> <a href="mailto:f.klabun@svr-pr.de">f.klabun@svr-pr.de</a></p>
								</div>
								<div class="address-block">Press Enquiries (China)
									<p><strong>Nicholas Tan</strong> <a href="mailto:nicholas@eastoceancapital.com">nicholas@eastoceancapital.com</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="sections section4 section-right animaltest1">
					
						<div class="in_AbtCont" data-aos="fade-down" data-aos-delay="2000">
							<div class="contact-form-container">
								<div class="form-box">
									<form class="form contact" action="<?= $block->escapeUrl($block->getFormAction()) ?>" id="contact-form" method="post" data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>" data-mage-init='{"validation":{}}'>
								
									<fieldset class="fieldset">
									
										<!-- <legend class="legend"><span><?//= $block->escapeHtml(__('Write Us')) ?></span></legend><br /> -->
										<!-- <div class="field note no-label"><?//= $block->escapeHtml(__('Jot us a note and we’ll get back to you as quickly as possible.')) ?></div> -->
										
										<div class="field name required">
											<label class="label" for="name"><span><?= $block->escapeHtml(__('Name')) ?></span></label>
											<div class="control">
												<input name="name" id="name" title="<?= $block->escapeHtmlAttr(__('Name')) ?>" value="<?= $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('name') ?: $this->helper('Magento\Contact\Helper\Data')->getUserName()) ?>" class="input-text" type="text" data-validate="{required:true}"/>
											</div>
										</div>
										
										<div class="field email required">
											<label class="label" for="email"><span><?= $block->escapeHtml(__('Email Address')) ?></span></label>
											<div class="control">
												<input name="email" id="email" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" value="<?= $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('email') ?: $this->helper('Magento\Contact\Helper\Data')->getUserEmail()) ?>" class="input-text" type="email" data-validate="{required:true, 'validate-email':true}"/>
											</div>
										</div>
										
										<!-- <div class="field telephone">
											<label class="label" for="telephone"><span><?//= $block->escapeHtml(__('Phone Number')) ?></span></label>
											<div class="control">
												<input name="telephone" id="telephone" title="<?//= $block->escapeHtmlAttr(__('Phone Number')) ?>" value="<?//= $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('telephone')) ?>" class="input-text" type="text" />
											</div>
										</div> -->
										
										<div class="field comment required">
											<label class="label" for="comment"><span><?= $block->escapeHtml(__('Message')) ?></span></label>
											<div class="control">
												<textarea name="comment" id="comment" title="<?= $block->escapeHtmlAttr(__('What’s on your mind?')) ?>" class="input-text" cols="5" rows="1" data-validate="{required:true}"><?= $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getPostValue('comment')) ?></textarea>
											</div>
										</div>
										
										<?= $block->getChildHtml('form.additional.info') ?>
										
									</fieldset>
									
									<div class="actions-toolbar">
										<div class="primary">
											<input type="hidden" name="hideit" id="hideit" value="" />
											<button type="submit" title="<?= $block->escapeHtmlAttr(__('Submit')) ?>" class="action submit primary"><span><?= $block->escapeHtml(__('Send')) ?></span> </button>
										</div>
									</div>
									
									</form>
								</div>
							</div>
						</div>
					
				</div>
			</div>

			<div class="section_wrapper common-wrapper" id="section-wrapper-3">
				<div class="sections section5 section-left allife"><span class="Abtsec_img"><img src="<?php echo $mediaUrl;?>wysiwyg/Contact_Us/contac-us-imagenew2.jpg" alt="" data-aos="fade-down"></span></div>
				<div class="sections section5 section-right allife1">
					<h2 class="Section_title"><span class="Aboutsec_title" data-aos="fade-right" data-aos-delay="1000">Careers</span></h2>
					<div class="section_content">
						<div class="in_AbtCont" data-aos="fade-down" data-aos-delay="2000">
							<!-- <h3 class="inner_title">Lorem ipsum dolor</h3> -->
							<p>We are always on the lookout for brilliant individuals with the brightest vibes. Tell us what you want to do at Allies of Skin and why you'd be a great fit and send your thoughts to <a href="mailto:careers@alliesofskin.com">careers@alliesofskin.com</a>.</p>
						</div>
					</div>
				</div>
			</div>

		</div>
		
		<div class="About_BackToTop"><a id="toTop" class="about_backtotop"><span class="back-to-top">Back To Top</span></a></div>
	</div>

</div>

<script type="text/javascript">
	requirejs(['require', 'jquery', 'aos'],
    function(require, $, AOS) {

		AOS.init({
			duration: 600,
		});
    });
</script>


<style>
.header-menu-new { border-bottom: 1px solid #c1c1c1; }

.contact-index-index .page-main { padding: 0 20px; }
.contact-index-index p.cont-heading { font-size: 13px; letter-spacing: 6px; color: #333333; display: inline-block; font-family: "BrandonGrotesque Bold"; font-style: normal; font-weight: normal; line-height: 18px; margin: 80px 0 45px; text-transform: uppercase; width: 100%; text-align: center; }

.contact-index-index .contact-us-section1-container { float: left; margin: 0 0 80px; width: 100%; }
.contact-index-index .contact-container { display: flex; flex-wrap: wrap; align-items: center; width: 1220px; margin: auto; }
.contact-index-index  h3.inner_title { font-family: "BrandonGrotesque bold"; letter-spacing: 0; text-transform: capitalize; font-size: 24px; color: #333; font-weight: normal; line-height: 32px; }

.contact-index-index .section_content p { margin: 0 0 10px 0; }
.contact-index-index .section1.section-left .Abtsec_img { float: right; padding: 0 70px 0 0; }
.contact-index-index .section5.section-left .Abtsec_img { float: right; padding: 0 70px 0 0; }

.contact-index-index #section-wrapper-2 .section_content { max-width: 412px; float: right; }

.contact-index-index .address-cont { display: inline-block; width: 100%; text-align: right; padding: 30px 0 0; }
.contact-index-index .address-cont .address-block { display: inline-block; width: 100%; margin: 0 0 12px; font-size: 20px; line-height: 32px; color: #333; }
.contact-index-index .address-cont .address-block p { display: inline-block; width: 100%; margin: 0; }
.contact-index-index .address-cont .address-block p a { color: #333 !important; text-decoration: underline; }
.contact-index-index .address-cont .address-block p a:hover { text-decoration: none; }
.contact-index-index .address-cont .address-block p strong { display: inline-block; width: auto; font-weight: normal; font-family: "BrandonGrotesque Bold"; }

.contact-index-index .sections.section-left, .contact-index-index .sections.section-right { padding: 50px 0 50px; }
.contact-index-index .section-right .section_content { padding-top: 50px; }
.contact-index-index .section-left .section_content { padding-top: 50px; }

.contact-index-index #section-wrapper-3 .section_content { max-width: 460px; }
.contact-index-index #section-wrapper-3 .section_content a { text-decoration: underline; width: auto; clear: both; float: left; font-weight: normal; color: #333 !important; }
.contact-index-index #section-wrapper-3 .section_content a:hover { text-decoration: none; }


.contact-index-index #section-wrapper-2 .contact-form-container { width: calc(100% - 60px); float: left; padding: 240px 0 0 60px; position: static; }
.contact-index-index #section-wrapper-2 .contact-form-container .form-box { max-width: 100%; }
.contact-index-index .column:not(.sidebar-additional) .form.contact { min-width: 100%; }
.contact-index-index #section-wrapper-2 .contact-form-container .form-box .label span { float: left; }
.contact-index-index #section-wrapper-2 .contact-form-container .form-box .actions-toolbar button.action span { float: none; }
.contact-index-index #section-wrapper-2 .contact-form-container .form-box input,
.contact-index-index #section-wrapper-2 .contact-form-container .form-box textarea { font-size: 16px; }


@media screen and (min-width: 768px) and (max-width: 1024px) {

.contact-container { max-width: 100%; }
.contact-container span { max-width: 90%; }

h2.Section_title span { font-size: 42px; line-height: 60px; }

.section-right .section_content { padding-left: 3.5rem; width: 90%; }
.section-right .section_content ul li { font-size: 22px; }

.section-left .section_content { padding-right: 4.5rem;  }
.section3.section-left .allies-planet-img-slider { max-width: 90%; }


}

</style>
