<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Account\AuthorizationLink $block */

$dataPostParam = '';
$dataLabel = $block->escapeHtmlAttr(__('or'));
if ($block->isLoggedIn()) {
    $dataPostParam = sprintf(" data-post='%s'", $block->getPostParams());
    $dataLabel = str_replace( array(' '), '-', strtolower( $block->escapeHtml($block->getLabel()) ) );
}
?>
<li class="authorization-link mobile-only">
    <a <?= /* @noEscape */ $block->getLinkAttributes() ?><?= /* @noEscape */ $dataPostParam ?>  data-label="<?= $dataLabel ?>">
        <?= $block->escapeHtml($block->getLabel()) ?>
    </a>
</li>
