<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
$pass = $this->getUrl('customer/account/forgotpassword');

?>
<div class="regimen-section">

	<div class="regimen-container">

		<div class="regimen-header">
			<a href="<?php echo $block->getUrl(); ?>">
				<img src='<?php echo $this->getViewFileUrl('images/microsite-logo.png'); ?>' alt="logo">
			</a>
		</div>

		<div class="regimen-body">

			<div class="intro-container">
				<div class="intro-text-container"><h1 class="intro-text"><?php echo __('Hello There') ?></h1></div>
				<div class="intro-image-container">
					<img src='<?php echo $this->getViewFileUrl('images/quiz-icons/hello-pic.png'); ?>' alt="hello">
				</div>
			</div>

			<div class="regimen-form-container">

				<?php if(!$customerSession->isLoggedIn()): ?>

				<div class="on-registration routine-underground-account">
					<span class="qustn-number">oh cool</span>
					<p class="qustn"><?php echo __('Login here so your routine %1 will be saved in your %1 Allies Underground account','<br>','<br>'); ?></p>
					<div class="step-ques-1-b regimen-form-container-on-registration">
						<div class="response-msg"></div>
						<div class="login-container">
							<form class="popup-login-form" method="POST" action="">

									<div class="field required ques-container">
										<div class="field-box">
											<input type="email" id="user-email" placeholder="<?php echo __('Username') ?>" name="username" autocomplete="off" required>
										</div>
										<div class="field-box ques-container">
											<input type="password" placeholder="<?php echo __('Password') ?>" name="password" autocomplete="off" required>
											<span  class="field-arrow next-qustn" id="submit-action">></span>
										</div>
										<!-- <button class="action login primary" type="submit"><?php echo __('login') ?></button> -->
										<div class="regimen-password-forgot">
											<span class="psw"><a href="<?php echo $pass;?>"><?php echo __('Forgot Your password?')?></a></span>
										</div>
									</div>

							</form>
						</div>
					</div>
				</div>

				<div class="allies-underground-signup-form">
					<div class="register-container" style="display: none;">
						<div class="response-msg"></div>
						<h2><?= __("sign up") ?></h2>
						<form class="popup-register-form" method="POST" action="">
							<fieldset class="fieldset">
								<div class="container field required">
									<label class="label"><b><?php echo __('First Name') ?></b></label>
									<input type="text" placeholder="<?php echo __('Enter First Name') ?>" name="firstname" required>

									<label class="label"><b><?php echo __('Last Name') ?></b></label>
									<input type="text" placeholder="<?php echo __('Enter Last Name') ?>" name="lastname" required>

									<label class="label"><b><?php echo __('Email') ?></b></label>
									<input type="email" placeholder="<?php echo __('Enter Email') ?>" name="email" id="for-registration"required>

									<?php  echo $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Dob')->toHtml() ?>
							        <?php  echo $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Gender')->toHtml() ?>

									<label class="label"><b><?php echo __('Password') ?></b></label>
									<input type="password" placeholder="<?php echo __('Enter Password') ?>" name="password" required>

									<label class="label"><b><?php echo __('Confirm Password') ?></b></label>
									<input type="password" placeholder="<?php echo __('Confirm Password') ?>" name="password_confirmation" required>
									<?php
									echo $this->getLayout()
									->createBlock('Magento\Cms\Block\Block')
									->setBlockId('regiman-signup-info-box')
									->toHtml();
									?>
									<button class="action login primary" type="submit"><?php echo __('Become an ally') ?></button>
								</div>
							</fieldset>
						</form>
					</div>
				</div>


				<?php endif; ?>

				<form id="recommender-container" method="post" action="<?php echo $block->getFormAction() ?>">

					<div class="step-ques-1 question-container active">
						<span class="qustn-number">01</span>
						<p class="qustn"><?php echo __("What's your first name") ?></p>
						<div class="ques-container">
							<input type="text" name="fname" placeholder="<?php echo __('TYPE YOUR NAME HERE') ?>" id="your-name"/>
							<span  class="field-arrow next-qustn" id="next-qustn-click-event">></span>
						</div>
					</div>

					<div class="name-display-container question-container show-name">
						<span><?php echo __("Hello") ?></span>
						<p><?php echo __("Nice to meet you") ?></p>
						<h2 id="show-name-display"></h2>
						<img src='<?php echo $this->getViewFileUrl('images/quiz-icons/heart-icon.png'); ?>' alt="heart">
					</div>

					<div class="thanks-message-conatiner question-container more-intro">
						<span><?php echo __("Thank you so much") ?></span>
						<p><?php echo __("Let's get to know you") ?></p>
						<h3><?php echo __("Don't worry, it will be less %1 than 2 minutes ;)",'<br>')?></h3>
					</div>


					<div class="step-ques-2 question-container age-container">
						<span class="qustn-number"><?php echo __("02") ?></span>
						<p class="qustn"><?php echo __("What’s your age?")?></p>

						<div class="ques-container">
							<div class="radio-box no-btn"><input type="radio" name="age" value="18-25" attr="onclick" class="custom-radio">
								<span><?php echo __("18-25") ?> <b><?php echo __("years young")?></b></span> <span class="opt-icon"><img src="<?php echo $this->getViewFileUrl('images/quiz-icons/age-option-1.png'); ?>"></span>
							</div>
							<div class="radio-box no-btn"><input type="radio" name="age" value="26-38" attr="onclick" class="custom-radio">
								<span><?php echo __("26-38")?> <b><?php echo __("years young") ?></b></span> <span class="opt-icon"><img src="<?php echo $this->getViewFileUrl('images/quiz-icons/age-option-2.png'); ?>"></span>
							</div>
							<div class="radio-box no-btn"><input type="radio" name="age" value="39-50" attr="onclick" class="custom-radio">
								<span><?php echo __("39-50")?> <b><?php echo __("years young") ?></b></span> <span class="opt-icon"><img src="<?php echo $this->getViewFileUrl('images/quiz-icons/age-option-3.png'); ?>"></span>
							</div>
							<div class="radio-box no-btn"><input type="radio" name="age" value="51 and above" attr="onclick" class="custom-radio">
								<span><?php echo __("51")?> <b><?php echo __("years young") ?><br/> <?php echo __("and above")?></b></span> <span class="opt-icon"><img src="<?php echo $this->getViewFileUrl('images/quiz-icons/age-option-4.png'); ?>"></span>
							</div>
						</div>
					</div>

					<div class="step-ques-3 question-container">
						<span class="qustn-number"><?php echo __("03")?></span>
						<p class="qustn"><?php echo __("Are you?")?></p>

						<div class="ques-container">
							<div class="radio-box no-btn"><input type="radio" name="gender" value="M" attr="onclick" class="custom-radio"> <span class="opt-icon"><img src="<?php echo $this->getViewFileUrl('images/quiz-icons/male-option.png'); ?>"></span> <span class="middle-align"><b><?php echo __("Male")?></b></span></div>
							<div class="radio-box no-btn"><input type="radio" name="gender" value="F" attr="onclick" class="custom-radio"> <span class="opt-icon"><img src="<?php echo $this->getViewFileUrl('images/quiz-icons/female-option.png'); ?>"></span> <span class="middle-align"><b><?php echo __("Female")?></b></span></div>
							<div class="radio-box no-btn"><input type="radio" name="gender" value="F" attr="onclick" class="custom-radio"> <span class="opt-icon"><img src="<?php echo $this->getViewFileUrl('images/quiz-icons/nc-gender-option.png'); ?>"></span> <span class="middle-align"><b><?php echo __("Gender %1 Non-Conforming",'<br/>')?></b></span></div>
						</div>
					</div>

					<div class="step-ques-4 question-container" id="dont-show-for-male">
						<span class="qustn-number"><?php echo __("04")?></span>
						<p class="qustn"><?php echo __("Are you pregnant or breastfeeding?")?></p>

						<div class="ques-container">
							<div class="radio-box"><input type="radio" name="pregnant or breastfeeding" value="P" attr="onclick" class="custom-radio"> <span><?php echo __("Yes")?></span></div>
							<div class="radio-box"><input type="radio" name="pregnant or breastfeeding" value="NP" attr="onclick" class="custom-radio"> <span><?php echo __("No")?></span></div>
						</div>
					</div>

					<div class="step-ques-5 question-container">
						<span class="qustn-number"><?php echo __("05")?></span>
						<p class="qustn"><?php echo __("Do you smoke?")?></p>

						<div class="ques-container">
							<div class="radio-box"><input type="radio" name="smoke" value="yes" attr="onclick" class="custom-radio"> <span><?php echo __("Yes")?></span></div>
							<div class="radio-box"><input type="radio" name="smoke" value="no" attr="onclick" class="custom-radio"> <span><?php echo __("No")?></span></div>
						</div>
					</div>

					<div class="step-ques-6 question-container">
						<span class="qustn-number"><?php echo __("06")?></span>
						<p class="qustn"><?php echo __("Alcohol consumption per week?")?></p>

						<div class="ques-container">
							<div class="radio-box no-btn"><input type="radio" name="Alcohol consumption" value="no" attr="onclick" class="custom-radio">
								<span><div class="no-value-pic"><img src="<?php echo $this->getViewFileUrl('images/quiz-icons/no-value-icon.png'); ?>"></div> <b><?php echo __("I don’t drink")?></b></span><span class="opt-icon"><img src="<?php echo $this->getViewFileUrl('images/quiz-icons/alcohol-option-1.png'); ?>"></span>
							</div>
							<div class="radio-box no-btn"><input type="radio" name="Alcohol consumption" value="less than 4 drinks" attr="onclick" class="custom-radio">
								<span>4 <b><?php echo __("drinks or less")?></b></span> <span class="opt-icon"><img src="<?php echo $this->getViewFileUrl('images/quiz-icons/alcohol-option-2.png'); ?>"></span>
							</div>
							<div class="radio-box no-btn"><input type="radio" name="Alcohol consumption" value="More than 4 drinks" attr="onclick" class="custom-radio">
								<span>4 + <b><?php echo __("drinks or more")?></b></span> <span class="opt-icon"><img src="<?php echo $this->getViewFileUrl('images/quiz-icons/alcohol-option-3.png'); ?>"></span>
							</div>
							<div class="radio-box no-btn"><input type="radio" name="Alcohol consumption" value="Too many to count" attr="onclick" class="custom-radio">
								<span>? <b><?php echo __("Too many to count")?></b></span> <span class="opt-icon"><img src="<?php echo $this->getViewFileUrl('images/quiz-icons/alcohol-option-4.png'); ?>"></span>
							</div>
						</div>
					</div>

					<div class="step-ques-7 question-container">
						<span class="qustn-number">07</span>
						<p class="qustn"><?php echo __("How many hours do you use %1 your computer or smartphone per day?",'<br/>')?></p>

						<div class="ques-container">
							<div class="radio-box  no-btn"><input type="radio" name="hours spent on computer" value="Less than 5 hours" attr="onclick" class="custom-radio"> <span>5 <b><?php echo __("hours or less")?></b></span> <span class="opt-icon"><img src="<?php echo $this->getViewFileUrl('images/quiz-icons/phone-option-1.png'); ?>"></span></div>
							<div class="radio-box  no-btn"><input type="radio" name="hours spent on computer" value="5-8 hours" attr="onclick" class="custom-radio"> <span>5 - 8 <b><?php echo __("hours")?></b></span> <span class="opt-icon"><img src="<?php echo $this->getViewFileUrl('images/quiz-icons/phone-option-2.png'); ?>"></span></div>
							<div class="radio-box  no-btn"><input type="radio" name="hours spent on computer" value="More than 8 hours" attr="onclick" class="custom-radio"> <span>8 + <b><?php echo __("hours or more")?></b></span> <span class="opt-icon"><img src="<?php echo $this->getViewFileUrl('images/quiz-icons/phone-option-3.png'); ?>"></span></div>
						</div>
					</div>

					<div class="step-ques-8 question-container">
						<span class="qustn-number">08</span>
						<p class="qustn"><?php echo __("How many hours do you sleep per night?")?></p>

						<div class="ques-container">
							<div class="radio-box  no-btn"><input type="radio" name="sleep per night" value="1-5 hours" attr="onclick" class="custom-radio">
								<span>1 - 5 <b><?php echo __("hours")?></b></span><span class="opt-icon"><img src="<?php echo $this->getViewFileUrl('images/quiz-icons/sleep-option-1.png'); ?>"></span>
							</div>
							<div class="radio-box  no-btn"><input type="radio" name="sleep per night" value="More than 6 hours" attr="onclick" class="custom-radio">
								<span>6 - 8 <b><?php echo __("hours")?></b></span><span class="opt-icon"><img src="<?php echo $this->getViewFileUrl('images/quiz-icons/sleep-option-2.png'); ?>"></span>
							</div>
							<div class="radio-box  no-btn"><input type="radio" name="sleep per night" value="I struggle with insomnia" attr="onclick" class="custom-radio">
								<span><div class="no-value-pic"><img src="<?php echo $this->getViewFileUrl('images/quiz-icons/no-value-icon.png'); ?>"></div><b><?php echo __("I struggle with %1 insomnia",'<br/>')?></b></span><span class="opt-icon"><img src="<?php echo $this->getViewFileUrl('images/quiz-icons/sleep-option-3.png'); ?>"></span>
							</div>
						</div>
					</div>

					<div class="step-ques-9 question-container">
						<span class="qustn-number">09</span>
						<p class="qustn"><?php echo __("How regularly do you exercise per week?")?></p>

						<div class="ques-container">
							<div class="radio-box no-btn"><input type="radio" name="exercise per week" value="I don’t exercise" attr="onclick" class="custom-radio">
								<span>0 <b><?php echo __("I don’t exercise")?></b></span><span class="opt-icon"><img src="<?php echo $this->getViewFileUrl('images/quiz-icons/exercise-option-1.png'); ?>"></span>
							</div>
							<div class="radio-box no-btn"><input type="radio" name="exercise per week" value="0-1 Barely" attr="onclick" class="custom-radio">
								<span>0-1 <b><?php echo __("Barely")?></b></span><span class="opt-icon"><img src="<?php echo $this->getViewFileUrl('images/quiz-icons/exercise-option-2.png'); ?>"></span>
							</div>
							<div class="radio-box no-btn"><input type="radio" name="exercise per week" value="1-3 Times Per Week" attr="onclick" class="custom-radio">
								<span>1-3 <b><?php echo __("Times Per Week")?></b></span><span class="opt-icon"><img src="<?php echo $this->getViewFileUrl('images/quiz-icons/exercise-option-3.png'); ?>"></span>
							</div>
							<div class="radio-box no-btn"><input type="radio" name="exercise per week" value="3-5 Times Per Week" attr="onclick" class="custom-radio">
								<span>3-5 <b><?php echo __("Times Per Week")?></b></span><span class="opt-icon"><img src="<?php echo $this->getViewFileUrl('images/quiz-icons/exercise-option-4.png'); ?>"></span>
							</div>
						</div>
					</div>

					<div class="step-ques-10 question-container">
						<span class="qustn-number">10</span>
						<p class="qustn"><?php echo __("How many products do you use %1 in your current skincare regimen?",'<br/>')?></p>

						<div class="ques-container">
							<div class="radio-box no-btn"><input type="radio" name="products on skin" value="1-3" attr="onclick" class="custom-radio">
								<span>1-3 <b></b></span> <span class="opt-icon"><img src="<?php echo $this->getViewFileUrl('images/quiz-icons/skincare-option-1.png'); ?>"></span>
							</div>
							<div class="radio-box no-btn"><input type="radio" name="products on skin" value="4-6" attr="onclick" class="custom-radio">
								<span>4-6 <b></b></span> <span class="opt-icon"><img src="<?php echo $this->getViewFileUrl('images/quiz-icons/skincare-option-2.png'); ?>"></span>
							</div>
							<div class="radio-box no-btn"><input type="radio" name="products on skin" value="7-10" attr="onclick" class="custom-radio">
								<span>7-10 <b></b></span> <span class="opt-icon"><img src="<?php echo $this->getViewFileUrl('images/quiz-icons/skincare-option-3.png'); ?>"></span>
							</div>
							<div class="radio-box no-btn"><input type="radio" name="products on skin" value="10 or More" attr="onclick" class="custom-radio">
								<span>10 <b><?php echo __("or More") ?></b></span> <span class="opt-icon"><img src="<?php echo $this->getViewFileUrl('images/quiz-icons/skincare-option-4.png'); ?>"></span>
							</div>
						</div>
					</div>

					<div class="step-ques-11 question-container">
						<span class="qustn-number">11</span>
						<p class="qustn"><?php echo __("What other skincare %1 brands do you use?" ,'<br/>')?></p>
						<p class="type-example" style="font-family: BrandonGrotesque Regular;clear: both;letter-spacing: 2px;"><?php echo __("(FOR EXAMPLE: LA MER, KIEHLS, ORIGINS)")?></p>

						<div class="ques-container">
							<input type="text" name="skin-brands" placeholder="<?php echo __("list your brand(s) here")?>" id="brand-list"/>
							<span class="field-arrow next-qustns" id="brands-click">></span>
						</div>
					</div>

					<div class="step-ques-12 question-container <?php if($customerSession->isLoggedIn()){ echo 'final-step-already-loggedin' ;} ?>">
						<span class="qustn-number">12</span>
						<p class="qustn"><?php echo __("What are your main skin concerns? (pick 3)")?></p>

						<div class="ques-container">

							<div class="top-opt-list">
								<div class="radio-box no-btn"><input name="skin-problem[]" type="checkbox" value="acne" class="LCheckbox custom-radio" attr="skin">
									<span class="opt-icon"><img src="<?php echo $this->getViewFileUrl('images/quiz-icons/skin-concerns-option-1.png'); ?>"></span> <span><b><?php echo __("Acne")?></b></span>
								</div>

								<div class="radio-box no-btn"><input name="skin-problem[]" type="checkbox" value="pores" class="LCheckbox custom-radio" attr="skin">
									<span class="opt-icon"><img src="<?php echo $this->getViewFileUrl('images/quiz-icons/skin-concerns-option-2.png'); ?>"></span> <span><b><?php echo __("Pores")?></b></span>
								</div>

								<div class="radio-box no-btn"><input name="skin-problem[]" type="checkbox" value="wrinkles" class="LCheckbox custom-radio" attr="skin">
									<span class="opt-icon"><img src="<?php echo $this->getViewFileUrl('images/quiz-icons/skin-concerns-option-3.png'); ?>"></span> <span><b><?php echo __("Fine Lines / Wrinkles")?></b></span>
								</div>

								<div class="radio-box no-btn"><input name="skin-problem[]" type="checkbox" value="damage" class="LCheckbox custom-radio" attr="skin">
									<span class="opt-icon"><img src="<?php echo $this->getViewFileUrl('images/quiz-icons/skin-concerns-option-4.png'); ?>"></span> <span><b><?php echo __("Pollution Damage")?></b></span>
								</div>

								<div class="radio-box no-btn"><input name="skin-problem[]" type="checkbox" value="ageing" class="LCheckbox custom-radio" attr="skin">
									<span class="opt-icon"><img src="<?php echo $this->getViewFileUrl('images/quiz-icons/skin-concerns-option-5.png'); ?>"></span> <span><b><?php echo __("Signs of Aging")?></b></span>
								</div>
							</div>

							<div class="bottom-opt-list">
								<div class="radio-box no-btn"><input name="skin-problem[]" type="checkbox" value="darkspots" class="LCheckbox custom-radio" attr="skin">
									<span class="opt-icon"><img src="<?php echo $this->getViewFileUrl('images/quiz-icons/skin-concerns-option-6.png'); ?>"></span> <span><b><?php echo __("Dark Spots / Pigmentation")?></b></span>
								</div>

								<div class="radio-box no-btn"><input name="skin-problem[]" type="checkbox" value="dehydration" class="LCheckbox custom-radio" attr="skin">
									<span class="opt-icon"><img src="<?php echo $this->getViewFileUrl('images/quiz-icons/skin-concerns-option-7.png'); ?>"></span> <span><b><?php echo __("Dehydration")?></b></span>
								</div>

								<div class="radio-box no-btn"><input name="skin-problem[]" type="checkbox" value="redness" class="LCheckbox custom-radio" attr="skin">
									<span class="opt-icon"><img src="<?php echo $this->getViewFileUrl('images/quiz-icons/skin-concerns-option-8.png'); ?>"></span> <span><b><?php echo __("Redness")?></b></span>
								</div>

								<div class="radio-box no-btn"><input name="skin-problem[]" type="checkbox" value="sensitivity" class="LCheckbox custom-radio" attr="skin">
									<span class="opt-icon"><img src="<?php echo $this->getViewFileUrl('images/quiz-icons/skin-concerns-option-9.png'); ?>"></span> <span><b><?php echo __("Sensitivity")?></b></span>
								</div>
							</div>

						</div>
					</div>

					<?php if(!$customerSession->isLoggedIn()): ?>

						<div class="step-ques-1-a question-container">
							<span class="qustn-number"><?php echo __("by the way")?></span>
							<p class="qustn"><?php echo __("Are you a member of Allies Underground?")?></p>

							<div class="ques-container">
								<div class="radio-box">
									<input type="radio" name="member" value="yes-member" attr="onclick" class="custom-radio">
									<span><?php echo __("Yes")?></span>
									<p class="login-yes-text"><?php echo __("Login to save your personalized routine in your account")?></p>
								</div>
								<div class="radio-box">
									<input type="radio" name="member" value="not-member" attr="onclick" class="custom-radio">
									<span><?php echo __("Not yet")?></span>
								</div>
							</div>
						</div>


						<div class="step-ques-1-b question-container login-form">
							<!-- <span class="qustn-number">oh cool</span>
							<p class="qustn">Login here so your routine <br /> will be saved in your <br /> Allies Underground account</p>

							<div class="ques-container">

								<div class="field-box">
									<input type="email" placeholder="username">
									<span  class="field-arrow next-qustn">></span>
								</div>

								<div class="field-box">
									<input type="password" placeholder="password">
									<span  class="field-arrow next-qustn">></span>
								</div>

								<input type="button">

							</div> -->
						</div>




						<div class="question-container not-member">
							<span class="qustn-number"><?php echo __("We might have just met")?></span>
							<p class="qustn"><?php echo __("but we have a feeling that %1 we’re going to become fast Allies.",'<br/>')?></p>

							<div class="ques-container">
								<div class="ques-center-img"><img alt="hello" src="<?php echo $this->getViewFileUrl('images/quiz-icons/hello-pic.png'); ?>"></div>
							</div>
						</div>

						<div class="step-ques-1-c-registration-choice question-container">
							<p class="qustn"><?php echo __("Join Allies Underground to save and %1  receive your personalized skincare %2  routine in your inbox.",'<br/>','<br/>')?></p>

							<div class="ques-container registration-check">
								<div class="radio-box"><input type="radio" id ="customer-register" name="customer-register" value="customer-register" attr="onclick" class="custom-radio"> <span><?php echo __("Sign Me up Scotty")?></span></div>
								<div class="radio-box"><input type="radio" name="next-time" id = "next-time" value="next-time" attr="onclick" class="custom-radio"> <span><?php echo __("Maybe next time")?></span></div>
							</div>
						</div>



					<?php endif; ?>

					<div class="routine-container-already-signed" style="display: none;">
							<p class="info"><?php echo __("Your personalized routine will be saved %1  in your Allies Underground account, %2  and also emailed to you shortly.",'<br/>','<br/>')?></p>
							<?php
								$customerEmail = $customerSession->getCustomer()->getEmail();
							?>
							<input type="hidden" id="already-login-customer-email" name="email" value="<?php echo $customerEmail;?>">
							<button  type="submit" class="viewroutine"><?php echo __("View routine")?></button>
					</div>


					<div class="routine-container underground-login-success" style="display: none;">
							<p class="thanksText"><?php echo __("Thanks for logging In")?></p>
							<p class="info"><?php echo __("Your personalized routine will be saved %1  in your Allies Underground account, %2  and also emailed to you shortly.",'<br/>','<br/>')?></p>
							<?php
								$customerEmail = $customerSession->getCustomer()->getEmail();
							?>
							<input type="hidden" id="custId" name="email" value="<?php echo $customerEmail;?>">
							<button  type="submit" class="viewroutine"><?php echo __("View routine")?></button>
					</div>

					<div class="routine-container-after-registration underground-registration-success" style="display: none;">
							<p class="thankstext"><?php echo __("Thanks for sign up")?></p>
							<p class="info"><?php echo __("Your personalized routine will be saved %1  in your Allies Underground account, %2  and also emailed to you shortly.",'<br/>','<br/>')?></p>
							<?php
								$customerEmail = $customerSession->getCustomer()->getEmail();
							?>
							<input type="hidden" id="register-customer-email" name="email" value="<?php echo $customerEmail;?>">
							<button  type="submit" class="viewroutine"><?php echo __("View routine")?></button>
					</div>




					<!-- <div class="step-ques-13 question-container">
						<span class="qustn-number">Finally</span>
						<p class="qustn">What's your email address? <br /> so, we can send you your <br /> personalized skincare regimen</p>

						<div class="ques-container">
							<input type="email" placeholder="type your email here" name="email" required>
							<button class="field-arrow" type="submit">></button>
						</div>
					</div> -->

				</form>

			</div>

		</div>

		<div class="back-to-quiz-container"><span class="quiz-back-button"><?php echo __("back")?></span></div>

	</div>

</div>

<script type="text/javascript">
	require(['jquery'], function($) {
		var loginLink = $('.authorization-link').children('a');
		var loginOverlay = $('.regimen-form-container');
		var loginBox = $('.regimen-form-container').find('.popup-login-form');
		var loginButton = $('.popup-login-form').find('button[type=submit]');
		var loader = $('.regimen-form-container').find('.login-register-loader');
		var loginUrl = "<?php echo $block->getUrl('customerlogin/ajax/login') ?>";
		// Texts
		var loginText = "<?php echo __('Login') ?>";
		var loggingText = "<?php echo __('Please Wait...') ?>";

		var registerText = "<?php echo __('Sign Up') ?>";
		var registeringText = "<?php echo __('Please Wait...') ?>";
		var registerUrl = "<?php echo $block->getUrl('customerlogin/ajax/register') ?>";
		var registerButton = $('.popup-register-form').find('button[type=submit]');
		var registerBox = $('.login-overlay').find('.popup-register-form');

		loginLink.click(function(e){
			e.preventDefault(e);
			var dataLabel = $(this).data('label');
			if(dataLabel != 'logout') {
				loginOverlay.show();
				loginBox.show();
				loader.hide();
			}
		});
		$('.login-link a').click(function(e){
			e.preventDefault(e);
			loginBox.show();
			registerBox.hide();
		});
		$('.popup-login-form').submit(function(){

			loginButton.text(loggingText);
			//alert(loginUrl);
			loginButton.attr("disabled", "disabled");
			var formData = getFormData($(this));
			//alert(formData);
			loginBox.hide();
			loader.parent('div').addClass('box-resize');
			loader.show();
			$.ajax({
				type: "POST",
				url: loginUrl,
				data: formData,
				dataType: "json",
				success: function(data) {
					$success =showResponse(data);
					loader.hide();
					loader.parent('div').removeClass('box-resize');
					loginBox.show();
					$userval = $('#user-email').val();
					$('#custId').val($userval);
					$('#register-customer-email').val($userval);
				   if(data.errors) {
						loginButton.text(loginText);
						loginButton.removeAttr('disabled');
					} else {
						setTimeout(function() {
							$('.routine-container').show();
							$('.login-form').removeClass('active');
							$('.on-registration').removeClass('active');
						}, 1000);
					}
				}
			});
			return false;
		});
		$('.popup-register-form').submit(function(){

			registerButton.text(registeringText);
			registerButton.attr("disabled", "disabled");
			registerBox.hide();
			loader.parent('div').addClass('box-resize');
			loader.show();
			var formData = getFormData($(this));
			$.ajax({
				type: "POST",
				url: registerUrl,
				data: formData,
				dataType: "json",
				success: function(data) {
					showResponse(data);
					loader.hide();
					loader.parent('div').removeClass('box-resize');
					registerBox.show();
					$registeruserval = $('#for-registration').val();
					$userval = $('#user-email').val();
					
					if(data.errors) {
						registerButton.text(registerText);
						registerButton.removeAttr('disabled');
					}
					else {
						$('#register-customer-email').val($userval);
						$('#register-customer-email').val($registeruserval);
						$('.routine-container-after-registration').show();
						$('.register-container').hide();
						$('.quiz-back-button').hide();
						
					}
				},
				error: function (textStatus, errorThrown) {
					alert(errorThrown);
				}
			});
			return false;
		});

		function getFormData(formElem){
			var unindexed_array = formElem.serializeArray();
			var indexed_array = {};

			jQuery.map(unindexed_array, function(n, i){
				indexed_array[n['name']] = n['value'];
			});

			return indexed_array;
		}

		function showResponse(data) {
			if(data.errors) {
				$('.response-msg').html("<div class='error'>"+data.message+"</div>");
			} else {
				$('.response-msg').html("<div class='success'>"+data.message+"</div>");
			}
			setTimeout(function(){ $('.response-msg').html(null); }, 5000);
		}

		$('.view-routine').click(function(){
			$('#recommender-container').submit();
		});

		$('#next-time').click(function(){
			$('#recommender-container').submit();
		});

		$('#customer-register').click(function(){
			 setTimeout(function(){
			$('.register-container').show();
			$('.register-container').addClass('active');
		}, 1000);
		});
		$(document).keydown(function(objEvent) {
			if (objEvent.keyCode == 9) {  //tab pressed
				objEvent.preventDefault(); // stops its action
			}
		});
		$("#dob").attr("placeholder","Date of birth");

	});
</script>

