<?php
/*$test = $block->getPost();
print_r($test);
exit();*/


/*$objectManager = \Magento\Framework\App\ObjectManager::getInstance();

$productCollection = $objectManager->create('OM\Regimenrecommender\Model\ResourceModel\SaveData\CollectionFactory');

$collection = $productCollection->create()->load();


foreach ($collection as $product){
     echo 'Name  =  '.$product->getId().'<br>';
      echo 'Member  =  '.$product->getMember().'<br>';
       echo 'age  =  '.$product->getAge().'<br>';
        echo 'gender  =  '.$product->getGender().'<br>';
         echo 'smoke  =  '.$product->getSmoke().'<br>';

}  */


$result = $block->getProductData();
/*print_r($result);
exit();*/
foreach($result as $_res){
	$daytime= $_res['daytime'];
	$nighttime= $_res['nighttime'];
	$weekly= $_res['weekly'];
}

$explodeDay = array_map('trim', explode(',', $daytime));
$explodeNight = array_map('trim', explode(',', $nighttime));
$explodeWeekly = array_map('trim', explode('+', $weekly));

/*$daytime_1 = $explodeDay[0];
$daytime_2 = $explodeDay[1];
$daytime_3 = $explodeDay[2];
$daytime_4 = $explodeDay[3];
$nighttime_1 = $explodeNight[0];
$nighttime_2 = $explodeNight[1];
$nighttime_3 = $explodeNight[2];
$nighttime_4 = $explodeNight[3];
$weeklytime_1 = $explodeWeekly[0];
$weeklytime_2 = $explodeWeekly[1];*/
?>

<?php

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$storeUrl = $storeManager->getStore()->getBaseUrl();
$productDayCollection = $objectManager->create('Magento\Catalog\Model\ResourceModel\Product\Collection');
$productNightCollection = $objectManager->create('Magento\Catalog\Model\ResourceModel\Product\Collection');
$productWeeklyCollection = $objectManager->create('Magento\Catalog\Model\ResourceModel\Product\Collection');
$dayCollection = $productDayCollection->addAttributeToSelect('*')->addAttributeToFilter('product_code',array($explodeDay))->setOrder('regimen_order', 'ASC')->load();
//echo $productcollection->getSelect()->__toString();
$NightCollection = $productNightCollection->addAttributeToSelect('*')->addAttributeToFilter('product_code',array($explodeNight))->setOrder('regimen_order', 'ASC')->load();
$WeeklyCollection = $productWeeklyCollection->addAttributeToSelect('*')->addAttributeToFilter('product_code',array($explodeWeekly))->setOrder('regimen_order', 'ASC')->load();
$productCollection = [$dayCollection,$NightCollection,$WeeklyCollection];
$abstractProductBlock = $block->getLayout()->createBlock('\Magento\Catalog\Block\Product\AbstractProduct');
$skin_concerns = $block->getPost()['skin-problem'];
$postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
//print_r($skin_concerns);

?>



<div class="regimen-sidebar">
	<div class="regimen-sidebar-container">
	
		<div class="recommendation-logo">
			<a  href="<?php echo $storeUrl ;?>"><img src='<?php echo $this->getViewFileUrl('images/microsite-logo.png'); ?>' alt="logo">
			</a>
		</div>
		
		<div class="recommendation-heading"><span>Recommendation</span></div>
		
		<div class="product-suggestion-conatiner">
			
			<div class="morning-conatiner active suggestion-product">
				<h3 class="morning-time time-click"><img src='<?php echo $this->getViewFileUrl('images/quiz-icons/morning-sun.png'); ?>' alt="Morning"> <?php echo __("Morning")?> <img class="down-arrow" src='<?php echo $this->getViewFileUrl('/images/quiz-icons/quiz-sidebar-arrow.png'); ?>'></h3>
				<div class="morning-time-product suggestion-on-time">
					<?php $i = 1;  foreach($dayCollection as $product): ?>
						
						<div class="suggest-opt suggest-opt-<?php echo $i; if($i == 1){echo ' active';}?>">
							<div class="combine-seprator">
								<span class="regimen-steps"><?php echo $product->getResource()->getAttribute('regimen_steps')->getFrontend()->getValue($product).' :';?></span>
								<span class="common-title"><?php echo $product->getResource()->getAttribute('skin_regimen')->getFrontend()->getValue($product);?></span>
							</div>
							<a class="regimen-product-name" href="#<?php echo $product->getSKU();?>"><b>with</b> <?php echo strtolower($product->getName());?></a>
						</div>
						
						<?php $i++;?>
					<?php endforeach; ?>
				</div>
			</div>
			
			<div class="night-conatiner suggestion-product">
				<h3 class="night-time  time-click"><img src='<?php echo $this->getViewFileUrl('images/quiz-icons/night-moon.png'); ?>' alt="Night"> <?php echo __("Night")?> <img class="down-arrow" src='<?php echo $this->getViewFileUrl('/images/quiz-icons/quiz-sidebar-arrow.png'); ?>'></h3>
				<div class="night-time-product suggestion-on-time">
					<?php $j = 1; foreach($NightCollection as $product): ?>
						
						<div class="suggest-opt suggest-opt-<?php echo $j; ?>">
							<div class="combine-seprator">
								<span class="regimen-steps"><?php echo $product->getResource()->getAttribute('regimen_steps')->getFrontend()->getValue($product).' :';?></span>
								<span class="common-title"><?php echo $product->getResource()->getAttribute('skin_regimen')->getFrontend()->getValue($product);?></span>
							</div>
							<a class="regimen-product-name" href="#<?php echo $product->getSKU();?>"><b>with</b> <?php echo strtolower($product->getName());?></a>
						</div>
						
						<?php $j++;?>
					<?php endforeach; ?>

				</div>
			</div>
			
			<?php if(count($WeeklyCollection) > 0 ): ?>
				<div class="week-conatiner suggestion-product">
					<h3 class="weekly-time  time-click"><img src='<?php echo $this->getViewFileUrl('images/quiz-icons/weekly-repeat.png'); ?>' alt="Weekly"> <?php echo __("Weekly")?><img class="down-arrow" src='<?php echo $this->getViewFileUrl('/images/quiz-icons/quiz-sidebar-arrow.png'); ?>'></h3>
					<div class="weekly-time-product suggestion-on-time">
						<?php $k = 1; foreach($WeeklyCollection as $product): ?>
							
							<div class="suggest-opt suggest-opt-<?php echo $k; ?>">
								<div class="combine-seprator">
								<span class="regimen-steps"><?php echo $product->getResource()->getAttribute('regimen_steps')->getFrontend()->getValue($product).' :';?></span>
								<span class="common-title"><?php echo $product->getResource()->getAttribute('skin_regimen')->getFrontend()->getValue($product);?></span>
							</div>
								<a class="regimen-product-name" href="#<?php echo $product->getSKU();?>">
								<b>with</b> <?php echo strtolower($product->getName());?>
								<?php if($product->getName() == 'BRIGHT FUTURE SLEEPING FACIAL'):?>
								<span>( 3 Nights in a row for a week )</span>
								<?php elseif($product->getName() == 'TRIPLE HYALURONIC ANTIOXIDANT HYDRATION SERUM'):?>
								<span>( to promote extra hydration )</span>	
								<?php endif;?>
								</a>
							</div>
							
							<?php $k++;?>
						<?php endforeach; ?>
					</div>
				</div>
			<?php endif;?>
			
			<div class="add-all-product-container"><span class="add-all-product-to-cart">Add all to bag</span></div>
			
		</div>
		
	</div>
</div>


<div class="regimen-product-collection">

	<div class="regimen-product-collection-header">
		<div class="regimen-topbar-sec">
			<div class="regimen-topbar-cont">

				<div class="regimen-shop-sec"><a href="<?php echo $storeUrl ;?>">Visit Our Shop</a></div>

				<div class="regimen-login-sec"><?php echo $this->getChildHtml("headerLinks"); ?></div>

				<div class="result-minicart"><?php echo $this->getChildHtml("minicart"); ?></div>
				
			</div>
		</div>
	</div>
	
	<?php foreach($productCollection as $productCollectionArray): ?>
		<?php foreach ($productCollectionArray as $product): ?>
			<?php 
				$postData = $postDataHelper->getPostData($block->getAddToCartUrl($product), ['product' => $product->getId()]);
				$postParams = json_decode($postData, true);
				$productUrl = $product->getProductUrl();
				$imagehelper = $objectManager->create('Magento\Catalog\Helper\Image');
				$image = $imagehelper->init($product, 'category_page_list')->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(750,750)->getUrl();
	         ?>
	         
	         <div class="regimen-product-page-suggest" id="<?php echo $product->getSKU();?>">
				
				<div class="top-regimen-container">
					
					<div class="regimen-left-conatiner">
						<div class="regimen-image-container"><div class="product-image"><img src="<?php echo $image; ?>"></div></div>
					</div>
					
					<div class="regimen-right-container">
						<div class="regimen-product-details-container">
						
							<div class="regimen-concerns">
								<span><?php echo __("You told us about your concern with")?></span>
								<h2><?php echo "{$skin_concerns['0']}, {$skin_concerns['1']} and {$skin_concerns['2']}"; ?></h2>
							</div>
							
							<div class="product-name"><a href="<?php echo $productUrl; ?>" target="_blank"><?php echo $product->getName();?></a></div>
							
							<div class="regimen-product-description">
								<span class="regimen-short-desc"><?php echo $product->getShortDescription();?></span>
								<a href="<?php echo $productUrl;?>" class="regimen-learn-more" target="_blank">Learn More +</a>
							</div>
							
							<div class="regimen-suitable-for">
								<h2 class="regimen-suitable-heading">
									<?php echo $product->getResource()->getAttribute('suitable_for')->getStoreLabel(); ?>
								</h2>
								<?php echo $product->getSuitableFor();?>
							</div>
							
							<div class="regimen-benefits">
								<h2 class="regimen-benefits-heading"><?php echo $product->getResource()->getAttribute('benefits')->getStoreLabel(); ?></h2>
								<div class="regimen-benefits-list"><?php echo $product->getBenefits(); ?></div>
							</div>
							
						</div>
					</div>
					
				</div>
					
			 	<div class="bottom-regimen-container">
					<div class="regimen-product-container">
						<div class="product-add-form">
							
							<form data-role="tocart-form" class="custom_addto_form" action="<?= /* @escapeNotVerified */ $block->getAddToCartUrl($product) ?>" method="post">
								
								<?= $block->getBlockHtml('formkey') ?>
								<input type="hidden" name="product" value="<?= /* @escapeNotVerified */ $product->getId() ?>">
								<input type="hidden" name="<?= /* @escapeNotVerified */ Magento\Framework\App\Action\Action::PARAM_NAME_URL_ENCODED; ?>" value="<?= $postParams['data'][Magento\Framework\App\Action\Action::PARAM_NAME_URL_ENCODED]; ?>">
								
								<div class="box-tocart">
									<div class="fieldset">
										
										<?php if($product->getResource()->getAttribute('product_size')->getFrontend()->getValue($product)): ?>
											<div class="product-volume-attr-product-page">
												<label class="label" for="size"><span><?= /* @escapeNotVerified */ __('size') ?></span></label>
												<div class="product-size-box product-volume-attr"><?php echo $product->getResource()->getAttribute('product_size')->getFrontend()->getValue($product);?></div>
											</div>
										<?php endif; ?>
										
										<div class="price-box-container">
											<label for="price" class="label"><span><?= /* @escapeNotVerified */ __('price') ?></span></label>
											<?= $abstractProductBlock->getProductPrice($product) ?>
										</div>
					
										<div class="field qty">
											<label class="label" for="qty"><span><?= /* @escapeNotVerified */ __('quantity') ?></span></label>
											<div class="control">
												<button id="decerement">-</button>
												<input type="number" name="qty" id="qty" value=1 title="<?= /* @escapeNotVerified */ __('Quantity') ?>" class="input-text qty product-qty"/>
												<button id="increment">+</button>
											</div>
										</div>
										
									</div>
								</div>
					
								<?php if($product->isSaleable()): ?>
									<div class="actions add-to-cart <?php echo $product->getName();?>>">
										<?php if($product->getTypeId() == 'bundle'): ?>
											<a class="action tocart primary" href="<?= $block->escapeUrl($product->getProductUrl()) ?>"><?= __("ADD TO BAG") ?></a>
										<?php else: ?>
											<div class="product-item-inner">
												<button type="submit" title="<?= $block->escapeHtml(__('Add to Bag')) ?>" class="action tocart primary"><span><?= /* @escapeNotVerified */ __('Add to Bag') ?></span></button>
											</div>
										<?php endif; ?>
									</div>
								<?php else: ?>								
									<?php if ($product->isAvailable()): ?>
										<div class="stock available"><span><?= /* @escapeNotVerified */ __('In stock') ?></span></div>
									<?php else: ?>
										<div class="stock unavailable"><span><?= /* @escapeNotVerified */ __('Out of stock') ?></span></div>
									<?php endif; ?>
								<?php endif; ?>
								
							</form>
							
						</div>
					</div>
				</div>
				
			</div>
			
		<?php endforeach; ?>
	<?php endforeach; ?>
	
</div>
