// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@checkout-wrapper__margin: @indent__base;
@checkout-wrapper__columns: 8;

@checkout-step-title__border: @border-width__base solid @color-gray80;
@checkout-step-title__font-size: 26px;
@checkout-step-title__font-weight: @font-weight__light;
@checkout-step-title__padding: @indent__s;

@checkout-step-title-mobile__font-size: 18px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .checkout-index-index {
        .page-title-wrapper {
            &:extend(.abs-visually-hidden all);
        }
    }

    .checkout-container {
        &:extend(.abs-add-clearfix all);
        .lib-css(margin, 0 0 @checkout-wrapper__margin);
    }

    .opc-wrapper {
        .lib-css(margin, 0 0 @checkout-wrapper__margin);

        .opc {
            &:extend(.abs-reset-list all);
        }

        .step-title {
            &:extend(.abs-checkout-title all);
        }

        .step-content {
            margin: 0 0 @indent__xl;
        }
    }

    .checkout-index-index {
        .nav-sections,
        .nav-toggle {
            display: none;
        }

        .logo {
            margin-left: 0;
        }
    }

    .checkout-onepage-success {
        &:extend(.abs-add-clearfix all);

        .print {
            display: none;
        }
    }
}


//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .opc-wrapper {
        &:extend(.abs-add-box-sizing-desktop-m all);
        .lib-layout-column(2, 1, @checkout-wrapper__columns);
        padding-right: @indent__l;
    }

    .checkout-onepage-success {
        .print {
            display: block;
            float: right;
            margin: 22px 0 0;
        }
    }
}


//
//  Custom css for the checkout page
//  _____________________________________________


.checkout-index-index {
    
	.header-fixed-options {
        display: none;
    }
    
	.page-main {
        padding-top: 100px;
    }
    
	.form-login {
        max-width: 100%  !important;
        margin-bottom: 0 !important;
        
		.validator-email {
            width: 100% !important;
            position: relative;
			height: auto !important;
            
			input {
                width: 100% !important;
                margin: 0;
            }
        }
		
        .field-tooltip {
            right: 10px;
            top: 10px;
        }
        
		.label {
            box-sizing: border-box !important;
            float: left !important;
            font-weight: normal !important;
            letter-spacing: 0.4px;
            margin: 0 0 13px !important;
            padding: 0 !important;
            text-align: left !important;
            width: 100% !important;
            position: relative !important;
        }
		
        .control {
            width: 100% !important;			
        }
        
		.actions-toolbar {
            margin-left: 0 !important;
        }
        
		.feedback {
            width: 30px !important;
            height: 30px !important;
            top: 10px !important;
            z-index: 10;
            right: 10px;
        }
    }
	
	.choice {
		input.checkbox {
			z-index: 9;
		}
	}
}

.opc-wrapper {
    .step-title {
        text-align: center;
        font-family: "SofiaPro Black";
        font-size: 36px;
        text-transform: uppercase;
        background: #FFA300;
        letter-spacing: 3.6px;
        padding-top: 20px;
        padding-bottom: 22px;
        color: #000;
        position: relative;
        z-index: 1;
		border: none;
        
		&::after {
            content: '';
            position: absolute;
            background: #fff;
            height: 15px;
            bottom: 14px;
            width: 53%;
            left: 50%;
            z-index: -1;
            transform: translate(-50%, -50%);
        }
    }
}

.form-shipping-address {
    max-width: 100% !important;
    margin-top: 0 !important;
    
	#shipping-new-address-form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
		
        .field  {
            flex-wrap: wrap;
            width: 46%;
			
            .control {
                width: 100% !important;
				margin: 0;
            }
            
			.label {
                box-sizing: border-box !important;
                float: left !important;
                font-weight: normal !important;
                margin: 0 0 13px !important;
                padding: 0 !important;
                text-align: left !important;
                width: 100% !important;
                position: relative !important;
                
				&::after {
                    top: 4px !important;
                    line-height: normal;
                }
            }
            
			&.street {
                
				legend {
                    margin-bottom: 0 !important;
                }
                
				.field {
                    width: 100%;
                }
                
				.additional {
                    display: none;
                }
            }
        }
    }
    
	select {
        background: #ffffff none repeat scroll 0 0 padding-box;
        border: 2px solid #000000;
        border-radius: 0;
        box-shadow: none !important;
        box-sizing: border-box;
        display: inline-block;
        font-family: "Courier Sans Regular";
        font-size: 18px;
        height: 50px;
        letter-spacing: 0.45px;
        line-height: 50px;
        padding: 5px 18px;
        vertical-align: baseline;
        width: 100%;
    }
    
	.validator-phone {
        width: 100% !important;
        
		input {
            margin: 0 !important;
			padding: 5px 64px 5px 18px !important;
			width: 100% !important;
        }
		
		.feedback-phone {
			right: 40px !important;
		}
    }
	
    .field-tooltip-action {
        margin-right: 10px;
        margin-top: 10px;
    }
}


#checkout-step-shipping_method {
    position: relative;
    
	.actions-toolbar {
        position: absolute;
        right: 2px;
        top: 10px;
    }
	
	#co-shipping-method-form {
		.choice {
			 margin-right: 0 !important;
		}
	}
	
	.table-checkout-shipping-method {
		tbody {
			tr {
				border-bottom: 1px solid #707070;
			}
			td {
				border-top: medium none;
			}
		}
	}
}

.opc-sidebar {
    margin: 0 !important;
    
	.opc-block-summary {
        padding: 0;
		
		& > .title {
			display: inline-block;
			padding-top: 0;
			width: 100%;
			z-index: 100;
			font-family: 'SofiaPro Black';
			font-size: 32px;
			line-height: 48px;
			letter-spacing: 3.5px;
			text-transform: uppercase;
			color: #000 !important;
			background: #98ADE3;
			z-index: 1;
			text-align: center;
			position: relative;
			
			&:after {
				content: '';
				position: absolute;
				background: #fff;
				height: 15px;
				bottom: 14px;
				width: 82%;
				left: 50%;
				z-index: -1;
				transform: translate(-50%, -50%);
			}
		}
        
		.items-in-cart {
            padding: 0 15px;
            
			.title {
                text-align: left !important;
                text-transform: uppercase;
            }
            
			.product-item-name {
                font-size: 16px;
                position: relative;
                line-height: normal;
                transform: none;
				letter-spacing: 0.4px;
            }
        }
        
		.table-totals {
            display: block;
            padding: 0 15px;
            display: block;
            width: 100%;
        }
    }
}


#co-payment-form {
    .payment-method {
        border-bottom: 1px solid #cccccc;
		clear: both;
		float: left;
		margin: 0;
		padding: 20px 0;
		width: 100%;
        
		.fieldset {
            padding-top: 25px;
            letter-spacing: 0.45px;
            clear: both;
			
			&.ccard {
				background: #ececec none repeat scroll 0 0;
				box-sizing: border-box;
				float: left;
				padding: 20px;
				width: 100%;
				
				.field {
					float: left;
					margin: 0;
					width: 100%;
				}
				
				.stripe-payments-elements {
					float: left;
					margin: 0 0 5px;
					width: 100%;
				}
				
				.stripe-elements-field {
					border: 2px solid #000000;
					border-radius: 0;
					box-shadow: none;
					padding: 5px 18px;
				}
				
				.pci-dss-info-block {
					box-sizing: border-box;
					float: left;
					margin: 15px 0 0;
					padding: 0 0 0 30px;
					position: relative;
					width: 100%;
					
					#pci-svg {
						left: 0;
						position: absolute;
						top: -5px;
					}
					
					.pci-dss-info-text {
						max-width: 100%;
						top: -5px;
					}
				}
			}
		}		
    }
	
	.payment-option {
		float: left;
		margin: 10px 0;
		width: 100%;
		
		.payment-option-title {
			background: #ececec none repeat scroll 0 0;
			border: medium none;
			box-sizing: border-box;
			padding: 20px;
			width: 100%;
			
			.action {
				color: #000000;
				width: 100%;
				
				&:after {
					color: #000000;
					float: right;
					font-size: 43px;
					line-height: 26px;
				}
			}
		}

		.payment-option-content {
			float: left;
			padding: 20px 0;
			text-align: center;
			width: 100%;
			
			.form {
				display: inline-block;
				vertical-align: middle;
				white-space: nowrap;
				width: 100%;
			}
			
			.payment-option-inner {
				display: inline-block;
				float: none;
				margin: 0 -7px 0 0;
				width: 60%;
				
				label {
					display: none;
				}

				.field {
					float: left;
					width: 100%;
				}
			}
			
			.actions-toolbar {
				display: inline-block;
				float: none;
				margin: 0;
				
				button.action {
					float: left;
					line-height: 50px;
					margin: 0;
				}
			}
		}
	}
}


.payment-method-title {
    text-transform: uppercase;
    letter-spacing: 0.45px;
}


.action-edit-address {
    background: #000;
    color: #fff;
    font-size: 20px !important;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    border-radius: 0;
    border: none;
    padding: 15px 20px;
    line-height: 28px;
    margin-bottom: 25px;
}

.payment-method-content {
    .actions-toolbar {
        float: none;
        clear: both;
        margin-left: 0 !important;
        
		.primary {
            float: left !important;
            clear: both;
            margin-top: 20px !important;
            
			button {
                width: 330px;
                height: 60px;
                font-size: 20px !important;
            }
        }
    }
}

.payment-option-content {
    .form-discount {
        max-width: 100% !important;
        
		.payment-option-inner {
            width: 40%;
            float: left;
        }
		
        .primary {
            float: left !important;
        }
        
		.action-apply {
            background: #000000 none repeat scroll 0 0;
            border: medium none;
            border-radius: 0;
            color: #ffffff;
            display: inline-block;
            font-size: 24px;
            font-weight: normal;
            line-height: 49px;
            padding: 0 20%;
            text-transform: uppercase;
            vertical-align: middle;
        }
    }
}

.opc-block-shipping-information {
    padding: 0;
    text-transform: capitalize;
    
	a {
        color: #000;
    }
    
	.shipping-information-title {
        display: inline-block;
        padding-top: 0;
        width: 100%;
        font-family: 'SofiaPro Black';
        font-size: 24px;
        line-height: 48px;
        letter-spacing: 3.5px;
        text-transform: uppercase;
        color: #000 !important;
        background: #98ADE3;
        z-index: 1;
        text-align: center;
        position: relative;
        padding-bottom: 0;
        
		button {            
			&::before {
                color: #000;
                margin-top: 8px;
                margin-right: 10px;
                display: none !important;
            }
        }
    }
}

.discount-code{
    clear: both;
    
	.payment-option-content {
        clear: both;
    }
}

.billing-address-same-as-shipping {
    padding-bottom: 25px;
}

.shipping-address-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
	.shipping-address-item {
        border: solid 2px #000;
        text-align: center;
        flex-wrap: wrap;
        width: 345px !important;
        margin-top: 45px;
        padding: 25px;
        a {
            color:#000;
        }
    }
}

.opc-wrapper {
	.action-select-shipping-item {
        float: none;
        margin: 20px 0 0;
        width: 100%;
        text-align: center;
        background: #000;
        color: #fff;
        letter-spacing: 2.4px;
        font-size: 24px;
        padding-top: 18px;
        padding-bottom: 18px;
        margin-top: 22px;
        margin-bottom: 24px;
        border: none;
        text-transform: uppercase;
        border-radius: 0;
	}
		
	.shipping-address-item {
		.selected-item {
			border-color: #98ADE3;
			
			&:after {
				background: #98ADE3;
			}
		}
	}
}

.validator.validator-phone.validation-no .feedback,
.validator.validator-phone.validation-yes .feedback {
	width: 20px !important;
	height: 20px !important;
	top: 15px !important;
	right: 10px;
	background-size: 14px auto !important;
}

#checkout-shipping-method-load {
    .choice {
        .label {
            padding-top: 26px;
        }
    }
}

.checkout-billing-address {
    .billing-address-form {
        max-width: 90% !important;
        
		.field {
            float: left;
            width: 45%;
            
			.label {
                box-sizing: border-box !important;
                float: left !important;
                font-size: 18px;
                font-weight: normal !important;
                letter-spacing: 0.45px;
                line-height: 28px;
                margin: 0 0 13px !important;
                padding: 0 !important;
                text-align: left !important;
                width: 100% !important;
                position: relative !important;
            }
            
			.control {
                width: 100% !important;
            }
			
			&:nth-child(2n) {
				float: right;
			}
        }
        
        .additional {
            display: none;
        }
		
        .street {
            .control {
                .field {
                    width: 100%;
                }
            }
        }
		
        select {
            background: #ffffff none repeat scroll 0 0 padding-box;
            border: 2px solid #000000;
            border-radius: 0;
            box-shadow: none !important;
            box-sizing: border-box;
            display: inline-block;
            font-family: "Courier Sans Regular";
            font-size: 18px;
            height: 50px;
            letter-spacing: 0.45px;
            line-height: 50px;
            padding: 5px 18px;
            vertical-align: baseline;
            width: 100%;
        }
    }
	
    .actions-toolbar {
	
        .action-update {
            background: #000000 none repeat scroll 0 0;
            border: medium none;
            border-radius: 0;
            color: #ffffff;
            display: inline-block;
            font-size: 24px !important;
            font-weight: normal;
            line-height: 63px;
            padding: 0 20%;
            text-transform: uppercase;
            vertical-align: middle;
        }
		
        .action-cancel {
            background: #fff none repeat scroll 0 0;
            border: medium none;
            border-radius: 0;
            color: #000;
            display: inline-block;
            font-size: 24px !important;
            font-weight: normal;
            line-height: 63px;
            padding: 0 20%;
            text-transform: uppercase;
            vertical-align: middle;
            border: solid 2px #000;
            margin-top: 0;
            &:hover {
                background: #000000 none repeat scroll 0 0;
                border: medium none;
                border-radius: 0;
                color: #ffffff;
                display: inline-block;
                font-size: 24px !important;
                font-weight: normal;
                line-height: 63px;
                padding: 0 20%;
                text-transform: uppercase;
                vertical-align: middle;
            }
        }
    }
}



#checkout-step-shipping {
    .action-show-popup {
        float: none;
        margin: 20px 0 0;
        width: 46.5%;
        text-align: center;
        background: #000;
        color: #fff;
        letter-spacing: 2.4px;
        font-size: 24px;
        padding-top: 18px;
        padding-bottom: 18px;
        margin-top: 22px;
        margin-bottom: 24px;
        border: none;
        text-transform: uppercase;
        border-radius: 0;
    }
}

.checkout-index-index {
	.modal-popup {
		.modal-inner-wrap {
			box-sizing: border-box;
			padding: 20px;
			  
			.modal-header {
				h1 {
					text-align: center;
					font-family: "SofiaPro Black";
					font-size: 36px;
					text-transform: uppercase;
					background: #FFA300;
					letter-spacing: 3.6px;
					padding-top: 6px;
					padding-bottom: 12px;
					color: #000;
					position: relative;
					z-index: 1;
					&::after {
						content: '';
						position: absolute;
						background: #fff;
						height: 15px;
						bottom: 9px;
						width: 53%;
						left: 50%;
						z-index: -1;
						transform: translate(-50%, -50%);
					}
				}
				
				.action-close {
					right: -40px;
					top: -40px;
				}
			}
			
			.control {
				input {
					background: #ffffff none repeat scroll 0 0 padding-box;
					border: 2px solid #000000;
					border-radius: 0;
					box-shadow: none !important;
					box-sizing: border-box;
					display: inline-block;
					font-family: "Courier Sans Regular";
					font-size: 18px;
					height: 50px;
					letter-spacing: 0.45px;
					line-height: 50px;
					padding: 5px 18px;
					vertical-align: baseline;
					width: 100%;
				}
			}
		
			.choice {
				.label {
					padding-left: 40px !important;
					&::after {
						top: 14px !important;
					}
				}
			}
			
			#shipping-new-address-form {
				.field {
					&.choice {
						.label {
							padding-left: 40px !important;
							
							&:after {
								top: 50% !important;
							}
						}
					}
				}
			}
			
			.modal-footer {
				border: medium none;
				padding: 20px 0;

				.action-save-address {
					background: #000000 none repeat scroll 0 0;
					border: medium none;
					border-radius: 0;
					color: #ffffff;
					display: inline-block;
					font-size: 24px;
					font-weight: normal;
					line-height: 63px;
					padding: 0 40px;
					text-transform: uppercase;
					vertical-align: middle;
				}
				
				.action-hide-popup {
					background: #fff none repeat scroll 0 0;
					border: medium none;
					border-radius: 0;
					color: #000;
					display: inline-block;
					font-size: 24px;
					font-weight: normal;
					line-height: 60px;
					padding: 0 40px;
					text-transform: uppercase;
					vertical-align: middle;
					border: solid 2px #000;
					transform: .5s ease all;
					float: left;
					
					&:hover {
						transform: .5s ease all;
						background: #000;
						color: #fff;
					}
				}
			}
		
			.action-close {
				padding: 0;
				margin: 5px 0;
				 
				&::before {
					color: #ffffff;
					font-size: 40px;
				}
			}
		}
    }
}

.checkout-success {
    text-align: center;
    padding-top: 80px;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.45px;
    a {
        color: #000;
    }
    .actions-toolbar {
        text-align: center;
        .primary {
            float: none;
            a {
                background: #000000 none repeat scroll 0 0;
                border: medium none;
                border-radius: 0;
                color: #ffffff;
                display: inline-block;
                font-size: 24px;
                font-weight: normal;
                line-height: 63px;
                text-transform: uppercase;
                vertical-align: middle;
                padding: 0 30px;
                margin-top: 20px;
            }
        }
    }
}