<?php
$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $_objectManager->get('Magento\Store\Model\StoreManagerInterface');
$currentStore = $storeManager->getStore();
$mediaUrl = $currentStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
?>
<div class="page-scrollNav">
    <ul>
      <li class="target-points"><a href="#A" class="scrollLink">A</a></li>
      <li><a href="#B" class="scrollLink">B</a></li>
      <li><a href="#C" class="scrollLink">C</a></li>
      <li><a href="#D" class="scrollLink">D</a></li>
      <li><a href="#E" class="scrollLink">E</a></li>
      <li><a href="#F" class="scrollLink">F</a></li>
      <li><a href="#G" class="scrollLink">G</a></li>
      <li><a href="#H" class="scrollLink">H</a></li>
      <li><a href="#I" class="scrollLink">I</a></li>
      <li><a href="#J" class="scrollLink">J</a></li>
      <li><a href="#K" class="scrollLink">K</a></li>
      <li><a href="#L" class="scrollLink">L</a></li>
      <li><a href="#M" class="scrollLink">M</a></li>
      <li><a href="#N" class="scrollLink">N</a></li>
      <li><a href="#O" class="scrollLink">O</a></li>
      <li><a href="#P" class="scrollLink">P</a></li>
      <li><a href="#Q" class="scrollLink">Q</a></li>
      <li><a href="#R" class="scrollLink">R</a></li>
      <li><a href="#S" class="scrollLink">S</a></li>
      <li><a href="#T" class="scrollLink">T</a></li>
      <li><a href="#U" class="scrollLink">U</a></li>
      <li><a href="#V" class="scrollLink">V</a></li>
      <li><a href="#W" class="scrollLink">W</a></li>
      <li><a href="#X" class="scrollLink">X</a></li>
      <li><a href="#Y" class="scrollLink">Y</a></li>
      <li class="target-points"><a href="#Z" class="scrollLink">Z</a></li>
    </ul>
  </div>
<div class="container grid_section">
  <h2>Glossary</h2>
  <div class="content grid_wrap">
    <div class="cont_inner">
      <div class="row grid-sec">
        <div id="A" class="grid_columns grid_column1">
          <div class="grid grid1" data-grid-id="1">
            <a href="#grid-content-one">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>

            </a>
          </div>
          <div class="grid grid2" data-grid-id="2">
            <a href="#grid-content-two">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid3" data-grid-id="3">
            <a href="#grid-content-three">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
        </div>
        <div id="B" class="grid_columns grid_column2">
          <div class="grid grid1" data-grid-id="4">
            <a href="#grid-content-four">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid2" data-grid-id="5">
            <a href="#grid-content-five">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid3" data-grid-id="6">
            <a href="#grid-content-six">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
        </div>
        <div id="C" class="grid_columns grid_column3">
          <div class="grid grid1" data-grid-id="7">
            <a href="#grid-content-seven">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid2" data-grid-id="8">
            <a href="#grid-content-eight">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid3" data-grid-id="9">
            <a href="#grid-content-nine">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
        </div>
        <div id="D" class="grid_columns grid_column4">
          <div class="grid grid1" data-grid-id="10">
            <a href="#grid-content-ten">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid2" data-grid-id="11">
            <a href="#grid-content-eleven">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid3" data-grid-id="12">
            <a href="#grid-content-tweleve">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
        </div>
        <div id="E" class="grid_columns grid_column5">
          <div class="grid grid1" data-grid-id="13">
            <a href="#grid-content-thirteen">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid2" data-grid-id="14">
            <a href="#grid-content-forteen">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid1" data-grid-id="15">
            <a href="#grid-content-thirteen">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
        </div>
        <div id="F" class="grid_columns grid_column6">
          <div class="grid grid1" data-grid-id="1">
            <a href="#grid-content-one">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid2" data-grid-id="2">
            <a href="#grid-content-two">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid3" data-grid-id="3">
            <a href="#grid-content-three">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
        </div>
        <div id="G" class="grid_columns grid_column7">
          <div class="grid grid1" data-grid-id="4">
            <a href="#grid-content-four">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid2" data-grid-id="5">
            <a href="#grid-content-five">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid3" data-grid-id="6">
            <a href="#grid-content-six">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
        </div>
        <div id="H" class="grid_columns grid_column8">
          <div class="grid grid1" data-grid-id="7">
            <a href="#grid-content-seven">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid2" data-grid-id="8">
            <a href="#grid-content-eight">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid3" data-grid-id="9">
            <a href="#grid-content-nine">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
        </div>
        <div id="I" class="grid_columns grid_column9">
          <div class="grid grid1" data-grid-id="10">
            <a href="#grid-content-ten">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid2" data-grid-id="11">
            <a href="#grid-content-eleven">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid3" data-grid-id="12">
            <a href="#grid-content-tweleve">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
        </div>
        <div id="J" class="grid_columns grid_column10">
          <div class="grid grid1" data-grid-id="13">
            <a href="#grid-content-thirteen">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid2" data-grid-id="14">
            <a href="#grid-content-forteen">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid1" data-grid-id="15">
            <a href="#grid-content-thirteen">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
        </div>
        <div id="K" class="grid_columns grid_column11">
          <div class="grid grid1" data-grid-id="1">
            <a href="#grid-content-one">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid2" data-grid-id="2">
            <a href="#grid-content-two">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid3" data-grid-id="3">
            <a href="#grid-content-three">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
        </div>
        <div id="L" class="grid_columns grid_column12">
          <div class="grid grid1" data-grid-id="4">
            <a href="#grid-content-four">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid2" data-grid-id="5">
            <a href="#grid-content-five">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid3" data-grid-id="6">
            <a href="#grid-content-six">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
        </div>
        <div id="M" class="grid_columns grid_column13">
          <div class="grid grid1" data-grid-id="7">
            <a href="#grid-content-seven">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid2" data-grid-id="8">
            <a href="#grid-content-eight">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid3" data-grid-id="9">
            <a href="#grid-content-nine">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
        </div>
        <div id="N" class="grid_columns grid_column14">
          <div class="grid grid1" data-grid-id="10">
            <a href="#grid-content-ten">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid2" data-grid-id="11">
            <a href="#grid-content-eleven">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid3" data-grid-id="12">
            <a href="#grid-content-tweleve">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
        </div>
        <div id="O" class="grid_columns grid_column15">
          <div class="grid grid1" data-grid-id="13">
            <a href="#grid-content-thirteen">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid2" data-grid-id="14">
            <a href="#grid-content-forteen">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid1" data-grid-id="15">
            <a href="#grid-content-thirteen">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
        </div>
        <div id="P" class="grid_columns grid_column16">
          <div class="grid grid1" data-grid-id="1">
            <a href="#grid-content-one">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid2" data-grid-id="2">
            <a href="#grid-content-two">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid3" data-grid-id="3">
            <a href="#grid-content-three">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
        </div>
        <div id="Q" class="grid_columns grid_column17">
          <div class="grid grid1" data-grid-id="4">
            <a href="#grid-content-four">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid2" data-grid-id="5">
            <a href="#grid-content-five">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid3" data-grid-id="6">
            <a href="#grid-content-six">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
        </div>
        <div id="R" class="grid_columns grid_column18">
          <div class="grid grid1" data-grid-id="7">
            <a href="#grid-content-seven">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid2" data-grid-id="8">
            <a href="#grid-content-eight">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid3" data-grid-id="9">
            <a href="#grid-content-nine">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
        </div>
        <div id="S" class="grid_columns grid_column19">
          <div class="grid grid1" data-grid-id="10">
            <a href="#grid-content-ten">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid2" data-grid-id="11">
            <a href="#grid-content-eleven">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid3" data-grid-id="12">
            <a href="#grid-content-tweleve">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
        </div>
        <div id="T" class="grid_columns grid_column20">
          <div class="grid grid1" data-grid-id="13">
            <a href="#grid-content-thirteen">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid2" data-grid-id="14">
            <a href="#grid-content-forteen">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid1" data-grid-id="15">
            <a href="#grid-content-thirteen">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
        </div>
        <div id="U" class="grid_columns grid_column21">
          <div class="grid grid1" data-grid-id="7">
            <a href="#grid-content-seven">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid2" data-grid-id="8">
            <a href="#grid-content-eight">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid3" data-grid-id="9">
            <a href="#grid-content-nine">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
        </div>
        <div id="V" class="grid_columns grid_column22">
          <div class="grid grid1" data-grid-id="10">
            <a href="#grid-content-ten">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid2" data-grid-id="11">
            <a href="#grid-content-eleven">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid3" data-grid-id="12">
            <a href="#grid-content-tweleve">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
        </div>
        <div id="W" class="grid_columns grid_column23">
          <div class="grid grid1" data-grid-id="13">
            <a href="#grid-content-thirteen">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid2" data-grid-id="14">
            <a href="#grid-content-forteen">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid1" data-grid-id="15">
            <a href="#grid-content-thirteen">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
        </div>
        <div id="X" class="grid_columns grid_column24">
          <div class="grid grid1" data-grid-id="1">
            <a href="#grid-content-one">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid2" data-grid-id="2">
            <a href="#grid-content-two">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid3" data-grid-id="3">
            <a href="#grid-content-three">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
        </div>
        <div id="Y" class="grid_columns grid_column25">
          <div class="grid grid1" data-grid-id="4">
            <a href="#grid-content-four">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid2" data-grid-id="5">
            <a href="#grid-content-five">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid3" data-grid-id="6">
            <a href="#grid-content-six">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
        </div>
        <div id="Z" class="grid_columns grid_column26">
          <div class="grid grid1" data-grid-id="7">
            <a href="#grid-content-seven">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid2" data-grid-id="8">
            <a href="#grid-content-eight">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
          <div class="grid grid3" data-grid-id="9">
            <a href="#grid-content-nine">
              <div class="grid_inner">
                <img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt="">
                <span class="text-overlay">Lorem Ipsum</span>
              </div>
              <div class="mobile_Description">
                <!-- <h3 class="popup_title">Lorem ipsum dolor</h3> -->
                <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <div class="close-popup"><span>Close</span></div>
              </div>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
<!-- <div class="popup_overlay"> -->
<div class="ingredient-page-details" style="display: inline-block; width: 100%;">
  <div class="pop-up-on-clickshow">
    <div class="container grid_section">
     <div class="owl-carousel ingredient-info-slider">
      <div id="grid-content-one" class="on-click-grid1 common-click" data-grid-id="1">
        <div class="left-grid-container"><img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt=""></div>
        <div class="right-grid-container">
          <h3 class="popup_title">Lorem ipsum dolor</h3>
          <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
        </div>
      </div>
      <div id="grid-content-two" class="on-click-grid2 common-click" data-grid-id="2">
        <div class="left-grid-container"><img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt=""></div>
        <div class="right-grid-container">
          <h3 class="popup_title">Lorem ipsum dolor</h3>
          <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
        </div>
      </div>
      <div id="grid-content-three" class="on-click-grid3 common-click" data-grid-id="3">
        <div class="left-grid-container"><img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt=""></div>
        <div class="right-grid-container">
          <h3 class="popup_title">Lorem ipsum dolor</h3>
          <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
        </div>
      </div>
      <div id="grid-content-four" class="on-click-grid4 common-click" data-grid-id="4">
        <div class="left-grid-container"><img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt=""></div>
        <div class="right-grid-container">
          <h3 class="popup_title">Lorem ipsum dolor</h3>
          <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
        </div>
      </div>
      <div id="grid-content-five" class="on-click-grid5 common-click" data-grid-id="5">
        <div class="left-grid-container"><img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt=""></div>
        <div class="right-grid-container">
          <h3 class="popup_title">Lorem ipsum dolor</h3>
          <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
        </div>
      </div>
      <div id="grid-content-six" class="on-click-grid6 common-click" data-grid-id="6">
        <div class="left-grid-container"><img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt=""></div>
        <div class="right-grid-container">
          <h3 class="popup_title">Lorem ipsum dolor</h3>
          <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
        </div>
      </div>
      <div id="grid-content-seven" class="on-click-grid7 common-click" data-grid-id="7">
        <div class="left-grid-container"><img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt=""></div>
        <div class="right-grid-container">
          <h3 class="popup_title">Lorem ipsum dolor</h3>
          <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
        </div>
      </div>
      <div id="grid-content-eight" class="on-click-grid8 common-click" data-grid-id="8">
        <div class="left-grid-container"><img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt=""></div>
        <div class="right-grid-container">
          <h3 class="popup_title">Lorem ipsum dolor</h3>
          <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
        </div>
      </div>
      <div id="grid-content-nine" class="on-click-grid9 common-click" data-grid-id="9">
        <div class="left-grid-container"><img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt=""></div>
        <div class="right-grid-container">
          <h3 class="popup_title">Lorem ipsum dolor</h3>
          <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
        </div>
      </div>
      <div id="grid-content-ten" class="on-click-grid10 common-click" data-grid-id="10">
        <div class="left-grid-container"><img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt=""></div>
        <div class="right-grid-container">
          <h3 class="popup_title">Lorem ipsum dolor</h3>
          <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
        </div>
      </div>
      <div id="grid-content-eleven" class="on-click-grid11 common-click" data-grid-id="11">
        <div class="left-grid-container"><img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt=""></div>
        <div class="right-grid-container">
          <h3 class="popup_title">Lorem ipsum dolor</h3>
          <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
        </div>
      </div>
      <div id="grid-content-tweleve" class="on-click-grid12 common-click" data-grid-id="12">
        <div class="left-grid-container"><img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt=""></div>
        <div class="right-grid-container">
          <h3 class="popup_title">Lorem ipsum dolor</h3>
          <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
        </div>
      </div>
      <div id="grid-content-thirteen" class="on-click-grid13 common-click" data-grid-id="13">
        <div class="left-grid-container"><img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt=""></div>
        <div class="right-grid-container">
          <h3 class="popup_title">Lorem ipsum dolor</h3>
          <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
        </div>
      </div>
      <div id="grid-content-forteen" class="on-click-grid14 common-click" data-grid-id="14">
        <div class="left-grid-container"><img src="<?php echo $mediaUrl;?>wysiwyg/Ingredient/grid-img.png" alt=""></div>
        <div class="right-grid-container">
          <h3 class="popup_title">Lorem ipsum dolor</h3>
          <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
        </div>
      </div>
    </div>
    </div>

  </div>
</div>
<!-- <div class="close-popup">Close</div> -->

<script type="text/javascript">
  require(
    ['jquery', 'jquery/ui', 'customscroll', 'owlcarousel'],
    function($) {
      if ($(window).width() >= 768) {
        var positionNumber = '';
        $('.cont_inner .grid a').click(function(e) {
          e.preventDefault();
          var element = $(this).attr('href');
          var positionNumber = $(this).parents('.grid').attr('data-grid-id');
          var positionNumber = positionNumber - 1;
          $('.pop-up-on-clickshow').find('.common-click').removeClass('active');
          $(element).addClass('active');
          $(element).parents('.pop-up-on-clickshow').addClass('active');
          $(this).parents('.grid_section').siblings('.popup_overlay').find('.owl-item').removeClass('active');
          $(this).parents('.grid_section').siblings('.popup_overlay').find('.close-popup').addClass('active');
          $('body').addClass('popup-style');
          $('.ingredient-info-slider').owlCarousel({
            loop: false,
            margin: 0,
            slideSpeed: 1500,
            dots: false,
            items: 1,
            scrollPerPage: true,
            lazyLoad: true,
            nav: true,
            navText: ["<span class='previous-owl'>Prev</span>", "<span class='next-owl'>Next</span>"],
            slideBy: 1,
            autoplay: false,
            responsiveClass: true,
            startPosition: positionNumber
          });
          $('.close-popup').appendTo('.owl-nav');
        });
        $('.close-popup').click(function() {
          $(this).appendTo('.ingredient-page-details');
          $('.ingredient-info-slider').owlCarousel('destroy');
          $('.pop-up-on-clickshow').removeClass('active');
          $(this).removeClass('active');
          $('body').removeClass('popup-style');
        });
      }
      $('.grid_inner').click(function() {
        $(this).siblings('.mobile_Description').toggleClass('view');
        $(this).parents('.grid').siblings().find('.mobile_Description').removeClass('view');
      });
      $('.Mobile_close-popup').click(function() {
        $(this).parents('.mobile_Description').removeClass('view');
      });
      $('.divider').mouseover(function() {
        /* Act on the event */
        $(this).removeClass('divider');
        $('.scrollLink').addClass('linkshow');
      });
      $( ".page-scrollNav" ).on("mouseleave", function() {
        $('.line').addClass('divider');
        $('.scrollLink').removeClass('linkshow');
      });
      $( ".page-scrollNav li a" ).on("mouseover", function() {
        var getId = $(this).attr('href');
        console.log(getId);
        // $('html, body').animate({scrollTop: $(getId).offset().top - 50}, 500);
      });


     /*Pagination sticky function Abhishek*/

      $(document).scroll(function() {
        checkOffset();
      });

      function checkOffset() {
        var footerTop = $('.page-footer').offset().top;
        var scroll = $(window).scrollTop();
        var windowHeght = $(window).height();
        var contInner = $('.cont_inner').offset().top;
        // console.log('footertop', footerTop);
        // console.log('scroll', scroll);
        // console.log('windowHeght', windowHeght);
        /*if(scroll + windowHeght >= footerTop){
          $('.page-scrollNav').css({'position': 'absolute', 'bottom' : '1.6%', 'right' : '-5.6%', 'top' : 'auto', 'transform' : 'none'});
        }
        if(scroll + windowHeght < footerTop){
          $('.page-scrollNav').css({'position': 'fixed', 'bottom' : 'auto', 'right' : '10%', 'top' : '60%', 'transform' : 'translateY(-60%)'});
        }
        if(scroll <= contInner ) {
          $('.page-scrollNav').css("transform", "translateY(-10%)");
        }*/
      }

      $('.scrollLink').mouseover(function() {
        $(this).addClass('hoverActive');
        var href = $(this).attr("href");
        $('html, body').animate({
          scrollTop: $(href).offset().top
        }, 100);

      });
      $( ".scrollLink" ).on("mouseleave", function() {
        $(this).removeClass('hoverActive');
      });

      /*Pagination sticky function Abhishek*/


      // close button
      $('.close-popup span').click(function(event) {
        /* Act on the event */
        $('.mobile_Description').removeClass('view');
      });
    });
  </script>

<style>
/* Ingredient Mobile View CSS -nitish */
.cms-ingredient .page-main {padding: 0;}
.page-scrollNav.fixed-header {width: 100%; top: 60px; left: 0; z-index: 5; position: fixed; margin-bottom: 0; margin-top: 0; border-radius: 0; transition: all 1s; -webkit-transition: all 1s; -webkit-animation-duration: 1s; -moz-animation-duration: 1s; -o-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; -moz-animation-fill-mode: both; -o-animation-fill-mode: both; animation-fill-mode: both; -webkit-animation-name: Izhar; -moz-animation-name: Izhar; -o-animation-name: Izhar; animation-name: Izhar; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15); -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15); -ms-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15); -o-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);}
.page-scrollNav.fixed-header ul{margin-bottom: 0;}
.page-scrollNav {background: #231f20; padding: 8px 0 0;}
.page-scrollNav ul {overflow-x: scroll; width: 100%; white-space: nowrap;}
.page-scrollNav ul::-webkit-scrollbar {display: none;}
.page-scrollNav ul li {display: inline-block; /* padding: 0 5px; */ margin-bottom: 6px; width: 33px; text-align: center;}
#maincontent .page-scrollNav ul li a {color: #fff; font-size: 16px;}
#maincontent .page-scrollNav ul li a.hoverActive {color: #818181 !important; text-decoration: none !important;}
.container.grid_section {text-align: center;}
.grid {margin-bottom: 4rem;}
.grid a {text-decoration: none;}
.grid_inner {text-align: center; margin-bottom: 0rem; cursor: pointer;}
.grid_inner img {margin-bottom: 1.3rem;}
.grid_inner span {display: inline-block; font-size: 20px; width: 100%;  font-family: "QuadraatSansPro";}
.pop-up-on-clickshow.owl-carousel.active.owl-loaded.owl-drag {position: fixed; top: 0; background-color: #fff; left: 0; text-align: center; padding: 25px; width: calc(100% - 50px); height: 92%; z-index: 91000; overflow-y: auto;}
.popup_overlay .owl-nav {display: flex; justify-content: space-between; position: relative; width: 93%; padding: 5px; font-size: initial; top: 20px;}
.right-grid-container {width: 93%;}
.right-grid-container h3 {font-weight: 400; font-size: 2.2rem; margin-top: 3.5rem; margin-bottom: 2rem;}
.right-grid-container p {font-family: "BrandonGrotesque Regular"; font-size: 17px; line-height: 30px;}
.popup_overlay .owl-carousel .owl-item img {margin: auto;}
/* .grid_wrap {max-height: 500px;} */
/* .grid_wrap {height: 500px; overflow: hidden;} */
.close-popup span {cursor: pointer;}
/* .close-popup.active {display: block;} */
.grid_wrap .mCSB_inside > .mCSB_container {margin-right: 0;}
.mobile_Description {padding: 0px 10px; width: calc(100% - 25px); height: 0px; overflow: hidden; -moz-transition: height 1s ease; -webkit-transition: height 1s ease;
-o-transition: height 1s ease; transition: height 1s ease;}
.mobile_Description.view {height: 237px;}
.mobile_Description p {font-size: 16px; margin-bottom: 5rem; padding: 22px 2px 0;}
/* end */
</style>
