<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Gdpr
 */
?>
<?php
/** @var $block \Amasty\Gdpr\Block\Settings */

$settings = $block->getPrivacySettings();
?>
<?php foreach ($settings as $setting): ?>
    <div class="block">
        <div class="block-title"><span class="backstrip"><?= $block->escapeHtml($setting['title']) ?></span></div>
        <div class="block-content">
            <form method="post"
                  action="<?= $setting['action'] ?>"
                  data-mage-init='{"validation":{}}'>
                <input name="form_key" type="hidden" value="<?= /* @escapeNotVerified */ $block->getFormKey(); ?>" />
                <p class="policy-content"><?= $setting['content'] ?></p>
                <?php if ($setting['hasCheckbox']): ?>
                    <div class="control checkbox field choice">
                        <input type="checkbox" class="checkbox" data-validate="{required:true}" name="agree">
                        <label class="accept addon">
                            <span class="backstrip"><?= $block->escapeHtml($setting['checkboxText']) ?></span>
                        </label>
                    </div>
                <?php endif; ?>
                    <fieldset class="fieldset" data-hasrequired="* Required Fields" <?php if ($setting['hidePassword']): ?> hidden <?php endif; ?> name="passwordField">
                        <div class="editforminner">
                            <div class="field current required">
                                <label class="label" for="current-password">
                                    <span>Current Password</span></label>
                                <div class="control">
                                    <input type="password" class="input-text" name="current_password" id="current-password" data-input="current-password" autocomplete="off" aria-required="true" data-validate="{required:true}">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                <div class="actions-toolbar">
                    <button type="submit" class="action primary">
                        <?= $block->escapeHtml($setting['submitText']) ?>
                    </button>
                </div>
            </form>
        </div>
    </div>
<?php endforeach; ?>

<script type="text/x-magento-init">
    {"*": {
            "Amasty_Gdpr/js/show-password": {}
          }
    }
</script>
