<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var \Magento\Theme\Block\Html\Header\Logo $block
 */
?>
<?php $storeName = $block->getThemeName() ? $block->getThemeName() : $block->getLogoAlt();?>
<!-- <span data-action="toggle-nav" class="action nav-toggle"><span><?= /* @escapeNotVerified */ __('Toggle Nav') ?></span></span> -->
<?php if ($block->isHomePage()):?>
    <strong class="logo">
<?php else: ?>
    <a class="logo" href="<?= $block->getUrl('') ?>" title="<?= /* @escapeNotVerified */ $storeName ?>">
<?php endif ?>
        <img src="<?= /* @escapeNotVerified */ $block->getLogoSrc() ?>"
             alt="<?= /* @escapeNotVerified */ $block->getLogoAlt() ?>"
             <?= $block->getLogoWidth() ? 'width="' . $block->getLogoWidth() . '"' : '' ?>
             <?= $block->getLogoHeight() ? 'height="' . $block->getLogoHeight() . '"' : '' ?>
        />
<?php if ($block->isHomePage()):?>
    </strong>
<?php else:?>
    </a>
<?php endif?>
<style>
.grecaptcha-badge {display: none !important;}
.pre-order-note {padding-top: 10px;}
.catalog-product-view .page-main .container {padding-bottom: 40px;}
.product-info-customsidebar .pre-order-note {position: absolute; left: 0; bottom: -30px; width: 100%;}
.category-view .filter-options-content-section li.item:last-child { display: none;}
.catalogsearch-result-index button.primary img {position: relative;top: 3px;}

.psaprechecksection, .psasimplesteps,.mobilebannerconttent { position: relative;}
.cms-home .mobilebanner {z-index: 0;}
.tnw_subscriptions-subscription-history .admin__data-grid-header-row+.admin__data-grid-header-row .col-xs-12 .col-xs-9 {
width: 100%;
display: block;
margin: 0;
float: none;
}

.tnw_subscriptions-subscription-history .admin__data-grid-header-row+.admin__data-grid-header-row .col-xs-12 .col-xs-3 {
width: 100%;
margin: 0;
float: none;
}

.tnw_subscriptions-subscription-history .admin__data-grid-pager-wrap {
text-align: center;
float: none;
}

.tnw_subscriptions-subscription-history .admin__data-grid-header-row+.admin__data-grid-header-row {
margin: 0;
}

.tnw_subscriptions-subscription-history .admin__data-grid-pager {
margin: 0;
}

.tnw_subscriptions-subscription-history .admin__data-grid-header-row+.admin__data-grid-header-row .col-xs-12 {
margin: 0;
float: none;
padding: 0;
}

</style>