<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;
//error_reporting(E_ALL);
//ini_set('display_errors', 1);
// @codingStandardsIgnoreFile
?>

<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>

<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$currencysymbol = $_objectManager->get('Magento\Store\Model\StoreManagerInterface');
$storeManager = $_objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseUrl = $_objectManager->get('Magento\Store\Model\StoreManagerInterface')
                    ->getStore()
                    ->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);

$currencyCode = $currencysymbol->getStore()->getCurrentCurrencyCode();
$currency = $_objectManager->create('Magento\Directory\Model\CurrencyFactory')->create()->load($currencyCode);

$categoryId = [26,22,23,24,25];

if ($block->getMode() == 'grid') {
    $viewMode = 'grid';
    $image = 'category_page_grid';
    $showDescription = false;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
} else {
    $viewMode = 'list';
    $image = 'category_page_list';
    $showDescription = true;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
}

$pos = $block->getPositioned();

?>

<?php $iterator = 1; ?>

<?php foreach ($categoryId as $categoryIds):?>
    
    <?php
        $categoryCollection = $_objectManager->create('Magento\Catalog\Model\Category')->load($categoryIds);    
        $products = $categoryCollection->getProductCollection()->setOrder('position','ASC');
    ?>
    <?php if($categoryCollection->getName() == 'Kit'):?>
        <?php $iterator = 0;?>
    <?php endif; ?>
    <div id="step<?php echo $iterator;?>" class="products wrapper <?= /* @escapeNotVerified */ $viewMode ?> products-<?= /* @escapeNotVerified */ $viewMode ?> step-<?php echo $iterator;?>">   
        
        <?php if($categoryCollection->getName() != 'Kit'):?>
        <h1 class="catrgory-main-heading"><span class="step-text">STEP 00<?php echo $iterator;?></span> <span class="category_name backstrip"><?php echo $categoryCollection->getName();?></span></h1>
        <?php endif;?>
        <?php if(count($products)):?>
        
            <ol class="products list items product-items">  
                <?php foreach ($products as $_product) : ?>
                    <li class="item product product-item <?= $block->escapeHtml($_product->getSku()) ?>">
                        <?php 
                        $productId= $_product->getId();
                        $_product = $_objectManager->create('Magento\Catalog\Model\Product')->load($productId);
                        $customOptions = $_objectManager->get('Magento\Catalog\Model\Product\Option')->getProductOptionCollection($_product);
                        $postParams = $block->getAddToCartPostParams($_product);

                        ?>
                        <form data-role="tocart-form" data-product-sku="<?= $block->escapeHtml($_product->getSku()) ?>" action="<?= /* @NoEscape */ $this->getUrl('checkout/cart/add', array('product' => $_product->getId(), '_secure' => $this->getRequest()->isSecure())); ?>" method="post">
                            <?= $block->getBlockHtml('formkey') ?>
                            <input type="hidden" name="product" value="<?= /* @escapeNotVerified */ $postParams['data']['product'] ?>">
                            <input type="hidden" name="<?= /* @escapeNotVerified */ Action::PARAM_NAME_URL_ENCODED ?>" value="<?= /* @escapeNotVerified */ $postParams['data'][Action::PARAM_NAME_URL_ENCODED] ?>">
                            <div class="product-item-info" data-container="product-grid">
                                <?php
                                $productImage = $block->getImage($_product, $image);
                                if ($pos != null) {
                                    $position = ' style="left:' . $productImage->getWidth() . 'px;'
                                    . 'top:' . $productImage->getHeight() . 'px;"';
                                }
                                ?>
                                <?php // Product Image ?>
                                <a href="<?= /* @escapeNotVerified */ $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1" data-aos="fade-right"  data-aos-once="true">
                                    <?= $productImage->toHtml() ?>
                                </a>
                                <div class="product details product-item-details">
                                    <?php
                                    $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                                    ?>
                                    <strong class="product name product-item-name">
                                        <a class="product-item-link"
                                        href="<?= /* @escapeNotVerified */ $_product->getProductUrl() ?>">
                                        <?= /* @escapeNotVerified */ $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
                                    </a>
                                </strong>
                                <?php if($_product->getResource()->getAttribute('name_with_description')->getFrontend()->getValue($_product)): ?>       
                                <div class="product-short-dec">
                                    <?php echo $_product->getResource()->getAttribute('name_with_description')->getFrontend()->getValue($_product);?>
                                </div>
                            <?php endif; ?>
                            <?php if($_product->getResource()->getAttribute('category_below_content')->getFrontend()->getValue($_product)): ?>       
                            <div class="product-feat">
                                <?php echo $_product->getResource()->getAttribute('category_below_content')->getFrontend()->getValue($_product);?>
                            </div>
                        <?php endif; ?>
                        <!-- <span class="stamped-product-reviews-badge" data-id="<?php echo $_product->getId() ?>" style="display: block;" product_url = <?= /* @escapeNotVerified */ $_product->getProductUrl() ?>></span> -->
                        
                        <!-- <?= $block->getReviewsSummaryHtml($_product, $templateType) ?> -->
                        <div class="pro_action">
                            <div class="pro_price_sec">
                                <div class="attribute category product-option attribute product-attr <?php if( isset($customOptions->getData()[0]) ): ?>align-both<?php endif; ?>" data-symbol="<?= $currency->getCurrencySymbol() ?>">
                                    <?php if( isset($customOptions->getData()[0]) ): ?>
                                        <?php $name = $customOptions->getData()[0]['option_id'] ?>
                                        <div class="options product-option">
                                            <select name="options[<?= $name ?>]" id="select_<?= $name ?>" data-selector="options[<?= $name ?>]" class="select-options">
                                                <?php foreach($customOptions as $option): ?>
                                                    <?php foreach ($option->getValues() as $value): ?>
                                                        <option value="<?= $value->getData('option_type_id') ?>" price="<?= number_format($value->getData('price'), 0) ?>"><?= $value->getData('default_title') ?></option>
                                                    <?php endforeach; ?>
                                                <?php endforeach; ?>
                                            </select>
                                        </div>
                                        
                                    <?php endif; ?>
                                    <?php if($_product->getResource()->getAttribute('product_size')->getFrontend()->getValue($_product)): ?>
                                    <span class="product-volume-attr">
                                        <?php echo $_product->getResource()->getAttribute('product_size')->getFrontend()->getValue($_product);?>
                                    </span>
                                <?php endif; ?>
                                <!-- <span class="separator"></span> -->
                                <div class="product-price">
                                    <?= /* @escapeNotVerified */ $block->getProductPrice($_product) ?>
                                </div>
                            </div>
                        </div>
                        <?= $block->getProductDetailsHtml($_product) ?>
                        <!-- <div class="removefloat"></div> -->
                        <?php if ($_product->isAvailable()): ?>
                            <div class="product-item-inner">
                                <div class="product actions product-item-actions"<?= strpos($pos, $viewMode . '-actions') ? $position : '' ?>>
                                    <div class="actions-primary"<?= strpos($pos, $viewMode . '-primary') ? $position : '' ?>>
                                        <?php if ($_product->isSaleable()): ?>
                                            <div class="actions">
                                                <?php if($_product->getTypeId() == 'bundle'): ?>
                                                    <a class="action tocart primary" href="<?= $block->escapeUrl($_product->getProductUrl()) ?>"><?= __("ADD TO BAG") ?></a>
                                                    <?php else: ?>
                                                        
                                                        

                                                        <button type="submit" title="<?= $block->escapeHtml(__('Add to Bag')) ?>" class="action tocart primary"><img src="<?php echo $baseUrl?>wysiwyg/product-cart-button/noun_cart.svg"/></button>
                                                    <?php endif; ?>
                                                </div>
                                                <?php else: ?>
                                                    <?php if ($_product->isAvailable()): ?>
                                                        <div class="stock available"><span><?= /* @escapeNotVerified */ __('In stock') ?></span></div>
                                                        <?php else: ?>
                                                            <!-- <div class="stock unavailable"><span><?= /* @escapeNotVerified */ __('Out of stock') ?></span></div> -->
                                                        <?php endif; ?>
                                                    <?php endif; ?>
                                                </div>
                                                
                                            </div>

                                            <div class="eye-icon">
                                                <img src="<?php echo $baseUrl?>wysiwyg/product-cart-button/Eyes.svg"/>
                                            </div>
                                            
                                            <div data-role="add-to-links" class="actions-secondary wishlist_links"<?= strpos($pos, $viewMode . '-secondary') ? $position : '' ?>>
                                                <?php if ($addToBlock = $block->getChildBlock('addto')): ?>
                                                    <?= $addToBlock->setProduct($_product)->getChildHtml() ?>
                                                <?php endif; ?>
                                            </div>
                                            <?php if ($showDescription):?>
                                                <div class="product description product-item-description">
                                                    <?= /* @escapeNotVerified */ $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                                                    <a href="<?= /* @escapeNotVerified */ $_product->getProductUrl() ?>" title="<?= /* @escapeNotVerified */ $_productNameStripped ?>"
                                                        class="action more"><?= /* @escapeNotVerified */ __('Learn More') ?></a>
                                                        <img src="<?php echo $baseUrl?>wysiwyg/product-cart-button/Heart.svg"/>
                                                    </div>
                                                <?php endif; ?>
                                            </div>
                                        <?php endif; ?>
                                    </div>
                                </div>
                            </div>
                            <?php if($_product->getResource()->getAttribute('pre_date_message')->getFrontend()->getValue($_product)):?>
                                    <?php echo $_product->getResource()->getAttribute('pre_date_message')->getFrontend()->getValue($_product);?>
                                <?php endif;?>
                        </form>
                    </li> 
                <?php endforeach;?>
            </ol>
            
        <?php else:?>
            <?php if($categoryCollection->getName() != 'Kit'):?>
            <div class="coming-soon"><span class="outer-box"><span class="coming-box">Coming Soon</span></span></div>
            <?php endif;?>  
            
        <?php endif;?>  
        
    </div>
    
    <?php $iterator++ ;?>
    
<?php endforeach;?>

<?php if (!$block->isRedirectToCartEnabled()) : ?>
    <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
            "catalogAddToCart": {
            "product_sku": "<?= /* @NoEscape */ $_product->getSku() ?>"
                }
            }
        }
    </script>
<?php endif; ?>

<script type="text/javascript">
    requirejs(['require', 'jquery', 'aos'],
    function(require, $, AOS) {

        AOS.init({
            duration: 600,
        });
    });
</script>
