<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Xnotif
 */
?>
<?php
    /** @var Magento\Framework\Url\Helper\Data $urlHelper */
    $urlHelper = $this->helper('Magento\Framework\Url\Helper\Data');
    /** @var Amasty\Xnotif\Helper\Data $helper */
    $helper = $this->helper('Amasty\Xnotif\Helper\Data');

    $productId = (int)$helper->getOriginalProduct($block)->getId();
    $parentId = (int)$block->getData('parent_product_id');
    $url = $block->escapeHtml($helper->getEmailUrl('stock'));
?>

<div class="amxnotif-block"  data-action="<?= $url; ?>">
  <span class="close-popup-subs">X</span>
    <form id="form-validate-stock" method="post" action="<?= $url; ?>">
        <label for="notification-container-<?= $productId ?>">
            <?= /* @escapeNotVerified */ __('Sign up to be notified') ?>
        </label>
        <div class="notification-container" id="notification-container-<?= $productId ?>">
            <div class="input-fields fieldset">
                <input name="guest_email"
                       class="input-text amxnotif-guest-email"
                       id="amxnotif-guest-email-<?= $productId ?>"
                       size="30"
                       type="email"
                       data-validate="{required:true, 'validate-email':true}"
                />
                <input type="hidden" name="product_id"
                       value="<?= $productId ?>"/>
                <input type="hidden" name="type" value="email"/>

                <?php if ($parentId) :?>
                <input type="hidden" name="parent_id"
                       value="<?= $parentId ?>"/>
                <?php endif; ?>

                <input type="hidden"
                       name="<?php echo \Magento\Framework\App\Action\Action::PARAM_NAME_URL_ENCODED ?>"
                       value="<?php echo $urlHelper->getEncodedUrl() ?>"/>
                <?php if ($helper->isGDRPEnabled()) : ?>
                    <div class="field required">
                        <label class="label" for="amxnotif-stock-gdrp-<?= $productId ?>">
                            <input type="checkbox"
                                   name="gdrp"
                                   id="amxnotif-stock-gdrp-<?= $productId ?>"
                                   title="<?= __('GDRP'); ?>"
                                   data-validate="{required:true}"
                                   value="1">
                            <?= $helper->getGDRPText(); ?>
                        </label>
                    </div>
                <?php endif; ?>
            </div>

            <div class="actions-toolbar amxnotif_guest_action">
                <div class="primary">
                    <button type="submit" class="action submit primary">
                        <span><?= /* @escapeNotVerified */ __('Subscribe'); ?></span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    require([
        'jquery',
        "mage/mage",
        "mage/validation"
    ], function ($) {
        "use strict";
        $('#form-validate-stock').mage('validation');
    });
</script>
