.tnw-subscriptions-checkout-container {
    margin: 0 0 20px;
}
.tnw-subscriptions-checkout-container:before,
.tnw-subscriptions-checkout-container .tsc-estimated-wrapper:before,
.tnw-subscriptions-checkout-container:after,
.tnw-subscriptions-checkout-container .tsc-estimated-wrapper:after,
.tsc-block-summary .minisub-items .product-item > .product:before,
.tsc-block-summary .minisub-items .product-item > .product:after {
    content: '';
    display: table;
    clear: both;
}
.tnw-subscriptions-checkout-container .tsc-wrapper {
    margin: 0 0 20px;
}
.tnw-subscriptions-checkout-container .tsc-wrapper .tsc {
    margin: 0;
    padding: 0;
    list-style: none none;
}
.tnw-subscriptions-checkout-container .tsc-wrapper .tsc > li {
    margin: 0;
}
.tnw-subscriptions-checkout-container .tsc-wrapper .step-title,
.tnw-subscriptions-checkout-container .tsc-block-summary > .title {
    padding-bottom: 10px;
    color: #333333;
    font-weight: 300;
    font-size: 2.6rem;
}
.tnw-subscriptions-checkout-container .tsc-wrapper .step-title {
    border-bottom: 1px solid #cccccc;
}
.tnw-subscriptions-checkout-container .tsc-wrapper .step-content {
    margin: 0 0 40px;
}
.tnw-subscriptions-checkout-container .tsc-wrapper .shipping-address-items {
    font-size: 0;
}
.tnw-subscriptions-checkout-container .tsc-wrapper .shipping-address-item {
    border: 2px solid transparent;
    font-size: 14px;
    line-height: 30px;
    margin: 0 0 20px;
    padding: 20px 35px 20px 20px;
    transition: 0.3s border-color;
    width: 50%;
    display: inline-block;
    position: relative;
    vertical-align: top;
    word-wrap: break-word;
    box-sizing: border-box;
}
.tnw-subscriptions-checkout-container .tsc-wrapper .shipping-address-item.selected-item {
    border-color: #ff5501;
}
.tnw-subscriptions-checkout-container .tsc-wrapper .shipping-address-item.selected-item:after {
    background: #ff5501;
    color: #ffffff;
    content: '\e610';
    font-family: 'luma-icons';
    height: 27px;
    width: 29px;
    font-size: 19px;
    line-height: 21px;
    padding-top: 2px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}
.tnw-subscriptions-checkout-container .tsc-wrapper .action-select-shipping-item {
    float: right;
    margin: 20px 0 0;
}
.tnw-subscriptions-checkout-container .tsc-wrapper .edit-address-link {
    display: block;
    float: left;
    margin: 26px 5px 0 0;
    line-height: 1.42857143;
    padding: 0;
    color: #006bb4;
    text-decoration: none;
    background: none;
    border: 0;
    font-weight: 400;
    border-radius: 0;
    word-wrap: break-word;
    box-shadow: none;
}
.tnw-subscriptions-checkout-container .tsc-wrapper .shipping-address-item.selected-item .action-select-shipping-item {
    visibility: hidden;
}
.tnw-subscriptions-checkout-container .tsc-wrapper .shipping-address-item.selected-item {
    border-color: #ff5501;
}
.tnw-subscriptions-checkout-container .tsc-wrapper .action-show-popup {
    margin: 0 0 20px;
}
.tnw-subscriptions-checkout-container .tsc-wrapper .action-show-popup > span:before {
    content: '+';
    padding-right: 5px;
}
.tnw-subscriptions-checkout-container .tsc-block-summary {
    background: #f7f7f7;
    margin: 0 0 20px;
    padding: 22px 30px 0;
}
.tnw-subscriptions-checkout-container .tsc-block-summary > .title {
    display: block;
}
.tnw-subscriptions-checkout-container .tsc-block-summary .mark .value {
    color: #666666;
    display: block;
}
.tnw-subscriptions-checkout-container .tsc-estimated-wrapper {
    background: #f4f4f4;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    margin: -21px -15px 15px;
    padding: 18px 15px;
}
.tnw-subscriptions-checkout-container .tsc-estimated-wrapper {
    background: #f4f4f4;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    margin: -21px -15px 15px;
    padding: 18px 15px;
}
.tnw-subscriptions-checkout-container .tsc-estimated-wrapper .estimated-block {
    font-size: 18px;
    float: left;
    font-weight: 700;
}
.tnw-subscriptions-checkout-container .tsc-estimated-wrapper .estimated-block .estimated-label {
    display: block;
    margin: 0 0 5px;
}
.tnw-subscriptions-checkout-container .tsc-estimated-wrapper .minicart-wrapper button.action.showcart {
    background: none;
    border: 0;
    box-shadow: none;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-shadow: none;
    font-weight: 400;
}
.tnw-subscriptions-checkout-container .tsc-estimated-wrapper .minicart-wrapper button.action.showcart:focus,
.tnw-subscriptions-checkout-container .tsc-estimated-wrapper .minicart-wrapper button.action.showcart:active {
    background: none;
    border: none;
}
.tnw-subscriptions-checkout-container .tsc-estimated-wrapper .minicart-wrapper button.action.showcart:hover {
    background: none;
    border: none;
}
.tnw-subscriptions-checkout-container .tsc-estimated-wrapper .minicart-wrapper button.action.showcart.disabled,
.tnw-subscriptions-checkout-container .tsc-estimated-wrapper .minicart-wrapper button.action.showcart[disabled] {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
}
.tnw-subscriptions-checkout-container .tsc-estimated-wrapper .minicart-wrapper button.action.showcart:before {
    color: #333333;
}
.tnw-subscriptions-checkout-container .checkout-payment-method .no-quotes-block {
    margin: 20px 0;
}
.tnw-subscriptions-checkout-container .checkout-payment .checkout-billing-address {
    margin: 20px 0;
}
.tnw-subscriptions-checkout-container .checkout-payment .checkout-billing-address .billing-address-details {
    line-height: 27px;
    padding: 0 0 0 23px;
}
.tnw-subscriptions-checkout-container .checkout-payment .billing-address-same-as-shipping-block {
    margin: 0 0 10px;
}
.tnw-subscriptions-checkout-container .checkout-payment .field-select-billing,
.tnw-subscriptions-checkout-container .checkout-payment .billing-address-form {
    max-width: 500px;
}
.tnw-subscriptions-checkout-container .checkout-payment .field-select-billing > .label {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.tnw-subscriptions-checkout-container .checkout-discount .form.discount {
    max-width: 300px;
}
.tnw-subscriptions-checkout-container .checkout-discount .form.discount .field .label {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.tnw-subscriptions-checkout-container .checkout-discount .payment-option-inner {
    margin: 20px 0 20px;
}
.tnw-subscriptions-checkout-container .checkout-discount .actions-toolbar > .primary .action {
    width: 100%;
}
.tnw-subscriptions-checkout-container .checkout-discount .actions-toolbar:before,
.tnw-subscriptions-checkout-container .checkout-discount .actions-toolbar:after {
    display: none;
}
.tnw-subscriptions-checkout-container .tsc-wrapper .form-login,
.tnw-subscriptions-checkout-container .tsc-wrapper .form-shipping-address {
    margin-top: 28px;
    margin-bottom: 28px;
}
.tnw-subscriptions-checkout-container .tsc-block-summary .minisub-quote .title {
    line-height: 1.1;
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.tnw-subscriptions-checkout-container .tsc-block-summary .minisub-quote .description {
    font-size: 1.4rem;
    border-top: 1px solid #cccccc;
    padding-top: 10px;
}
.tsc-block-summary .minisub-quote-wrapper {
    margin: 0 -30px;
    border-left: 0;
    border-right: 0;
    overflow-x: auto;
    padding: 15px 30px;
}
.tsc-block-summary .minisub-quote:nth-child(2n + 1) .minisub-quote-wrapper {
    background: #f1f1f1;
}
.tnw-subscriptions-checkout-container .tsc-block-summary .minisub-items {
    margin: 0;
    padding: 0;
    list-style: none none;
}
.tnw-subscriptions-checkout-container .tsc-block-summary .minisub-items .product-item {
    padding: 20px 0;
    margin: 0;
}
.tnw-subscriptions-checkout-container .tsc-block-summary .minisub-items .product-item:not(:first-child) {
    border-top: 1px solid #cccccc;
}
.tnw-subscriptions-checkout-container .tsc-block-summary .minisub-items .product-item:first-child {
    padding-top: 0;
}
.tnw-subscriptions-checkout-container .tsc-block-summary .minisub-items .product-item:last-child {
    /*padding-bottom: 10px;*/
}
.tnw-subscriptions-checkout-container .tsc-block-summary .minisub-items .product {
    position: relative;
}
.tsc-block-summary .minisub-items .product > .product-image-container {
    float: left;
}
.tsc-block-summary .minisub-items .product-image-wrapper {
    height: auto;
    padding: 0 !important;
}
.tsc-block-summary .minisub-items .product-item-details {
    padding-left: 73px;
}
.tsc-block-summary .product-item .product-item-inner {
    display: table;
    margin: 0 0 10px;
    width: 100%;
}
.tsc-block-summary .minisub-items .product-item-name {
    font-weight: 400;
    display: inline-block;
    margin: 0;
}
.tsc-block-summary .minisub-items .product {
    position: relative;
}
.tsc-block-summary .minisub-items .product .toggle {
    border: 0;
    padding: 0 40px 5px 0;
    cursor: pointer;
    margin-bottom: 0;
    position: relative;
    display: block;
    text-decoration: none;
}
.tsc-block-summary .minisub-items .product .toggle::after {
    color: #8f8f8f;
    margin: 0 0 0 5px;
    position: static;
    font-size: 12px;
    line-height: 12px;
    content: '\e622';
    font-family: 'luma-icons';
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    text-align: center;
}
.tsc-block-summary .minisub-items .subtitle {
    display: none;
}

@media all and (min-width: 768px), print {
    .tnw-subscriptions-checkout-container .tsc-wrapper {
        width: 66.66666667%;
        float: left;
        order: 1;
        padding-right: 30px;
        box-sizing: border-box;
    }
    .tnw-subscriptions-checkout-container .tsc-sidebar {
        margin: 46px 0 20px;
        width: 33.33333333%;
        float: right;
        order: 2;
    }
    .tnw-subscriptions-checkout-container .tsc-estimated-wrapper {
        display: none;
    }
    .tnw-subscriptions-checkout-container .tsc-summary-wrapper .modal-header .action-close {
        display: none;
    }
    .tnw-subscriptions-checkout-container .checkout-discount .actions-toolbar {
        text-align: left;
        position: relative;
    }
    .tnw-subscriptions-checkout-container .checkout-discount .actions-toolbar > .primary .action {
        margin-bottom: 0;
        width: auto;
    }
    .tnw-subscriptions-checkout-container .checkout-discount .actions-toolbar .primary {
        margin: 0;
        position: absolute;
        right: -159px;
        top: -52px;
    }
    .tnw-subscriptions-checkout-container .tsc-wrapper .form-login,
    .tnw-subscriptions-checkout-container .tsc-wrapper .form-shipping-address {
        max-width: 500px;
    }
    .tnw-subscriptions-checkout-container .tsc-wrapper .form-login {
        border-bottom: 1px solid #cccccc;
        padding-bottom: 20px;
    }

    .tnw-subscriptions-checkout-container .checkout-billing-address .actions-toolbar .primary .action {
        margin: 6px 20px 0 0;
    }
}

@media all and (min-width: 1024px), print {
    .tnw-subscriptions-checkout-container .tsc-wrapper .shipping-address-item {
        width: 33.33333333%;
    }
    .tnw-subscriptions-checkout-container .tsc-wrapper .shipping-address-item:before {
        background: #cccccc;
        height: calc(100% - 20px);
        content: '';
        left: 0;
        position: absolute;
        top: 0;
        width: 1px;
    }
    .tnw-subscriptions-checkout-container .tsc-wrapper .shipping-address-item:nth-child(3n + 1):before {
        display: none;
    }
    .tnw-subscriptions-checkout-container .tsc-wrapper .shipping-address-item.selected-item:before {
        display: none;
    }
    .tnw-subscriptions-checkout-container .tsc-wrapper .shipping-address-item.selected-item + .shipping-address-item:before {
        display: none;
    }
    .tnw-subscriptions-checkout-index .modal-popup .modal-inner-wrap {
        margin-left: -400px;
        width: 800px;
        left: 50%;
    }
}

@media only screen and (max-width: 639px) {
    .tnw-subscriptions-checkout-container .tsc-wrapper .step-title {
        font-size: 18px;
        border-bottom: 0;
        padding-bottom: 0;
    }
    .tnw-subscriptions-checkout-container .tsc-wrapper .step-content {
        margin: 0 0 15px;
    }
    .tnw-subscriptions-checkout-container .tsc-wrapper .form-login,
    .tnw-subscriptions-checkout-container .tsc-wrapper .form-shipping-address,
    .tnw-subscriptions-checkout-container .tsc-wrapper .methods-shipping {
        background: #f4f4f4;
        margin: 20px -15px 15px;
        border-bottom: 1px solid #cccccc;
        padding: 20px 15px 20px;
    }
    .tnw-subscriptions-checkout-container .tsc-wrapper .form-login + .form-shipping-address {
        margin-top: -15px;
    }
    .tnw-subscriptions-checkout-container .tsc-wrapper .shipping-address-item {
        border-bottom: 1px solid #cccccc;
        margin: 0 0 15px;
        padding: 0 0 15px;
        width: 100%;
    }
    .tnw-subscriptions-checkout-container .tsc-wrapper .shipping-address-item.selected-item {
        padding: 15px 35px 15px 18px;
        border-bottom-width: 2px;
    }
    .tnw-subscriptions-checkout-container .tsc-wrapper .shipping-address-item.selected-item .edit-address-link {
        right: 39px;
    }
    .tnw-subscriptions-checkout-container .tsc-wrapper .action-select-shipping-item {
        float: none;
        margin-top: 10px;
        width: 100%;
    }
    .tnw-subscriptions-checkout-container .tsc-wrapper .edit-address-link {
        display: inline-block;
        text-decoration: none;
        margin: 0;
        position: absolute;
        right: 0;
        top: 5px;
    }
    .tnw-subscriptions-checkout-container .tsc-wrapper .edit-address-link::before {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 18px;
        line-height: 20px;
        color: #757575;
        content: '\e601';
        font-family: 'luma-icons';
        vertical-align: middle;
        display: inline-block;
        font-weight: normal;
        overflow: hidden;
        text-align: center;
    }
    .tnw-subscriptions-checkout-container .tsc-wrapper .edit-address-link > span {
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    .tnw-subscriptions-checkout-container .tsc-wrapper .action-show-popup {
        width: 100%;
    }
    .tnw-subscriptions-checkout-container .tsc-wrapper .edit-address-link {
        display: inline-block;
        text-decoration: none;
        margin: 0;
        position: absolute;
        right: 0;
        top: 5px;
    }
    .tnw-subscriptions-checkout-container .tsc-wrapper .edit-address-link > span {
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    .tnw-subscriptions-checkout-container .tsc-wrapper .edit-address-link:before {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 18px;
        line-height: 20px;
        color: #757575;
        content: '\e601';
        font-family: 'luma-icons';
        vertical-align: middle;
        display: inline-block;
        font-weight: normal;
        overflow: hidden;
        text-align: center;
    }
    .tnw-subscriptions-checkout-container .tsc-wrapper .edit-address-link:hover:before {
        color: #333333;
    }
    .tnw-subscriptions-checkout-container .tsc-wrapper .edit-address-link:active:before {
        color: #757575;
    }
}