<?php
/**
 * Copyright © 2018 TechNWeb, Inc. All rights reserved.
 * See TNW_LICENSE.txt for license details.
 */

/**
 * @var \Magento\Payment\Block\Transparent\Iframe $block
 */
$params = $block->getParams();
$errors = !empty($params['error_messages']) ? $params['error_messages'] : [];
?>
<html>
<head>
<script>
    var require = window.top.require;
    require(['uiRegistry'], function(registry) {
        var form = registry.get('index = <?php echo $block->getData('index')?>');
        form.source.data.payment.chcybersource.payment_token = '<?= $params['payment_token'] ?>';
        form.triggerSave(
            <?php /* @noEscape */ echo $this->helper(\Magento\Framework\Json\Helper\Data::class)->jsonEncode($errors); ?>
        )
    });
</script>
</head>
<body>
</body>
</html>
