/*===============================Custom Font Families===============================*/

@font-face {
    font-family: "BrandonGrotesque Bold";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Bold/BrandonGrotesque-Bold.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Bold/BrandonGrotesque-Bold.woff") format("woff"), 
		 url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Bold/BrandonGrotesque-Bold.ttf") format("truetype"), 
		 url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Bold/BrandonGrotesque-Bold.otf") format("opentype"), 
		 url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Bold/BrandonGrotesque-Bold.svg#BrandonGrotesque-Bold") format("svg");
    unicode-range: U+20-2248;	
}

@font-face {
    font-family: "BrandonGrotesque Black";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Black/BrandonGrotesque-Black.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Black/BrandonGrotesque-Black.woff") format("woff"), 
		 url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Black/BrandonGrotesque-Black.ttf") format("truetype"), 
		 url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Black/BrandonGrotesque-Black.otf") format("opentype"), 
		 url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Black/BrandonGrotesque-Black.svg#BrandonGrotesque-Black") format("svg");
    unicode-range: U+20-2248;	
}

@font-face {
    font-family: "BrandonGrotesque Light";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../../../../../frontend/OM/alliesskin-v2/default/fonts/BrandonGrotesque-font/BrandonGrotesque-Light/BrandonGrotesque-Light.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Light/BrandonGrotesque-Light.woff") format("woff"), 
		 url("../../../../../frontend/OM/alliesskin-v2/default/fonts/BrandonGrotesque-font/BrandonGrotesque-Light/BrandonGrotesque-Light.ttf") format("truetype"), 
		 url("../../../../../frontend/OM/alliesskin-v2/default/fonts/BrandonGrotesque-font/BrandonGrotesque-Light/BrandonGrotesque-Light.otf") format("opentype"), 
		 url("../../../../../frontend/OM/alliesskin-v2/default/fonts/BrandonGrotesque-font/BrandonGrotesque-Light/BrandonGrotesque-Light.svg#BrandonGrotesque-Light") format("svg");
    unicode-range: U+20-2248;	
}

@font-face {
    font-family: "BrandonGrotesque Medium";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Medium/BrandonGrotesque-Medium.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Medium/BrandonGrotesque-Medium.woff") format("woff"), 
		 url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Medium/BrandonGrotesque-Medium.ttf") format("truetype"), 
		 url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Medium/BrandonGrotesque-Medium.otf") format("opentype"), 
		 url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Medium/BrandonGrotesque-Medium.svg#BrandonGrotesque-Medium") format("svg");
    unicode-range: U+20-2248;	
}

@font-face {
    font-family: "BrandonGrotesque Regular";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Regular/BrandonGrotesque-Regular.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Regular/BrandonGrotesque-Regular.woff") format("woff"), 
		 url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Regular/BrandonGrotesque-Regular.ttf") format("truetype"), 
		 url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Regular/BrandonGrotesque-Regular.otf") format("opentype"), 
		 url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Regular/BrandonGrotesque-Regular.svg#BrandonGrotesque-Regular") format("svg");
    unicode-range: U+20-2248;	
}

@font-face {
    font-family: "BrandonGrotesque Thin";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Thin/BrandonGrotesque-Thin.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Thin/BrandonGrotesque-Thin.woff") format("woff"), 
		 url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Thin/BrandonGrotesque-Thin.ttf") format("truetype"), 
		 url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Thin/BrandonGrotesque-Thin.otf") format("opentype"), 
		 url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Thin/BrandonGrotesque-Thin.svg#BrandonGrotesque-Thin") format("svg");
    unicode-range: U+20-2248;	
}

@font-face {
    font-family: "AvenirLTStd Black";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/AvenirLTStd-font/AvenirLTStd-Black/AvenirLTStd-Black.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/AvenirLTStd-font/AvenirLTStd-Black/AvenirLTStd-Black.woff") format("woff"), 
		 url("../fonts/AvenirLTStd-font/AvenirLTStd-Black/AvenirLTStd-Black.ttf") format("truetype"), 
		 url("../fonts/AvenirLTStd-font/AvenirLTStd-Black/AvenirLTStd-Black.otf") format("opentype"), 
		 url("../fonts/AvenirLTStd-font/AvenirLTStd-Black/AvenirLTStd-Black.svg#AvenirLTStd-Black") format("svg");
    unicode-range: U+20-2248;	
}

@font-face {
    font-family: "AvenirLTStd Book";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/AvenirLTStd-font/AvenirLTStd-Book/AvenirLTStd-Book.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/AvenirLTStd-font/AvenirLTStd-Book/AvenirLTStd-Book.woff") format("woff"), 
		 url("../fonts/AvenirLTStd-font/AvenirLTStd-Book/AvenirLTStd-Book.ttf") format("truetype"), 
		 url("../fonts/AvenirLTStd-font/AvenirLTStd-Book/AvenirLTStd-Book.otf") format("opentype"), 
		 url("../fonts/AvenirLTStd-font/AvenirLTStd-Book/AvenirLTStd-Book.svg#AvenirLTStd-Book") format("svg");
    unicode-range: U+20-2248;	
}

@font-face {
    font-family: "AvenirLTStd Heavy";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/AvenirLTStd-font/AvenirLTStd-Heavy/AvenirLTStd-Heavy.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/AvenirLTStd-font/AvenirLTStd-Heavy/AvenirLTStd-Heavy.woff") format("woff"), 
		 url("../fonts/AvenirLTStd-font/AvenirLTStd-Heavy/AvenirLTStd-Heavy.ttf") format("truetype"), 
		 url("../fonts/AvenirLTStd-font/AvenirLTStd-Heavy/AvenirLTStd-Heavy.otf") format("opentype"), 
		 url("../fonts/AvenirLTStd-font/AvenirLTStd-Heavy/AvenirLTStd-Heavy.svg#AvenirLTStd-Heavy") format("svg");
    unicode-range: U+20-2248;	
}

@font-face {
    font-family: "AvenirLTStd Light";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/AvenirLTStd-font/AvenirLTStd-Light/AvenirLTStd-Light.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/AvenirLTStd-font/AvenirLTStd-Light/AvenirLTStd-Light.woff") format("woff"), 
		 url("../fonts/AvenirLTStd-font/AvenirLTStd-Light/AvenirLTStd-Light.ttf") format("truetype"), 
		 url("../fonts/AvenirLTStd-font/AvenirLTStd-Light/AvenirLTStd-Light.otf") format("opentype"), 
		 url("../fonts/AvenirLTStd-font/AvenirLTStd-Light/AvenirLTStd-Light.svg#AvenirLTStd-Light") format("svg");
    unicode-range: U+20-2248;	
}

@font-face {
    font-family: "AvenirLTStd Medium";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/AvenirLTStd-font/AvenirLTStd-Medium/AvenirLTStd-Medium.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/AvenirLTStd-font/AvenirLTStd-Medium/AvenirLTStd-Medium.woff") format("woff"), 
		 url("../fonts/AvenirLTStd-font/AvenirLTStd-Medium/AvenirLTStd-Medium.ttf") format("truetype"), 
		 url("../fonts/AvenirLTStd-font/AvenirLTStd-Medium/AvenirLTStd-Medium.otf") format("opentype"), 
		 url("../fonts/AvenirLTStd-font/AvenirLTStd-Medium/AvenirLTStd-Medium.svg#AvenirLTStd-Medium") format("svg");
    unicode-range: U+20-2248;	
}

@font-face {
    font-family: "AvenirLTStd Roman";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/AvenirLTStd-font/AvenirLTStd-Roman/AvenirLTStd-Roman.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/AvenirLTStd-font/AvenirLTStd-Roman/AvenirLTStd-Roman.woff") format("woff"), 
		 url("../fonts/AvenirLTStd-font/AvenirLTStd-Roman/AvenirLTStd-Roman.ttf") format("truetype"), 
		 url("../fonts/AvenirLTStd-font/AvenirLTStd-Roman/AvenirLTStd-Roman.otf") format("opentype"), 
		 url("../fonts/AvenirLTStd-font/AvenirLTStd-Roman/AvenirLTStd-Roman.svg#AvenirLTStd-Roman") format("svg");
    unicode-range: U+20-2248;	
}

@font-face {
    font-family: "Avenir Black";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Avenir-font/Avenir-Black/Avenir-Black.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/Avenir-font/Avenir-Black/Avenir-Black.woff") format("woff"), 
		 url("../fonts/Avenir-font/Avenir-Black/Avenir-Black.ttf") format("truetype"), 
		 url("../fonts/Avenir-font/Avenir-Black/Avenir-Black.otf") format("opentype"), 
		 url("../fonts/Avenir-font/Avenir-Black/Avenir-Black.svg#Avenir-Black") format("svg");
    unicode-range: U+20-2248;	
}

@font-face {
    font-family: "Avenir Book";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Avenir-font/Avenir-Book/Avenir-Book.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/Avenir-font/Avenir-Book/Avenir-Book.woff") format("woff"), 
		 url("../fonts/Avenir-font/Avenir-Book/Avenir-Book.ttf") format("truetype"), 
		 url("../fonts/Avenir-font/Avenir-Book/Avenir-Book.otf") format("opentype"), 
		 url("../fonts/Avenir-font/Avenir-Book/Avenir-Book.svg#Avenir-Book") format("svg");
    unicode-range: U+20-2248;	
}

@font-face {
    font-family: "Avenir Roman";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Avenir-font/Avenir-Roman/Avenir-Roman.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/Avenir-font/Avenir-Roman/Avenir-Roman.woff") format("woff"), 
		 url("../fonts/Avenir-font/Avenir-Roman/Avenir-Roman.ttf") format("truetype"), 
		 url("../fonts/Avenir-font/Avenir-Roman/Avenir-Roman.otf") format("opentype"), 
		 url("../fonts/Avenir-font/Avenir-Roman/Avenir-Roman.svg#Avenir-Roman") format("svg");
    unicode-range: U+20-2248;	
}

@font-face {
    font-family: "Avenir Heavy";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Avenir-font/Avenir-Heavy/Avenir-Heavy.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/Avenir-font/Avenir-Heavy/Avenir-Heavy.woff") format("woff"), 
		 url("../fonts/Avenir-font/Avenir-Heavy/Avenir-Heavy.ttf") format("truetype"), 
		 url("../fonts/Avenir-font/Avenir-Heavy/Avenir-Heavy.otf") format("opentype"), 
		 url("../fonts/Avenir-font/Avenir-Heavy/Avenir-Heavy.svg#Avenir-Heavy") format("svg");
    unicode-range: U+20-2248;	
}

@font-face {
    font-family: "Avenir Medium";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Avenir-font/Avenir-Medium/Avenir-Medium.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/Avenir-font/Avenir-Medium/Avenir-Medium.woff") format("woff"), 
		 url("../fonts/Avenir-font/Avenir-Medium/Avenir-Medium.ttf") format("truetype"), 
		 url("../fonts/Avenir-font/Avenir-Medium/Avenir-Medium.otf") format("opentype"), 
		 url("../fonts/Avenir-font/Avenir-Medium/Avenir-Medium.svg#Avenir-Medium") format("svg");
    unicode-range: U+20-2248;	
}

@font-face {
    font-family: "Avenir Light";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Avenir-font/Avenir-Light/Avenir-Light.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/Avenir-font/Avenir-Light/Avenir-Light.woff") format("woff"), 
		 url("../fonts/Avenir-font/Avenir-Light/Avenir-Light.ttf") format("truetype"), 
		 url("../fonts/Avenir-font/Avenir-Light/Avenir-Light.otf") format("opentype"), 
		 url("../fonts/Avenir-font/Avenir-Light/Avenir-Light.svg#Avenir-Light") format("svg");
    unicode-range: U+20-2248;	
}

@font-face {
    font-family: "Avenir-MediumOblique";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Avenir-font/Avenir-MediumOblique/Avenir-MediumOblique.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/Avenir-font/Avenir-MediumOblique/Avenir-MediumOblique.woff") format("woff"), 
		 url("../fonts/Avenir-font/Avenir-MediumOblique/Avenir-MediumOblique.ttf") format("truetype"), 
		 url("../fonts/Avenir-font/Avenir-MediumOblique/Avenir-MediumOblique.otf") format("opentype"), 
		 url("../fonts/Avenir-font/Avenir-MediumOblique/Avenir-MediumOblique.svg#Avenir-MediumOblique") format("svg");
    unicode-range: U+20-2248;	
}

@font-face {
    font-family: "AvenirNext Bold";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/AvenirNext-font/AvenirNext-Bold/AvenirNext-Bold.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/AvenirNext-font/AvenirNext-Bold/AvenirNext-Bold.woff") format("woff"), 
		 url("../fonts/AvenirNext-font/AvenirNext-Bold/AvenirNext-Bold.ttf") format("truetype"), 
		 url("../fonts/AvenirNext-font/AvenirNext-Bold/AvenirNext-Bold.otf") format("opentype"), 
		 url("../fonts/AvenirNext-font/AvenirNext-Bold/AvenirNext-Bold.svg#AvenirNext-Bold") format("svg");
    unicode-range: U+20-2248;	
}

@font-face {
    font-family: "AvenirNext DemiBold";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/AvenirNext-font/AvenirNext-DemiBold/AvenirNext-DemiBold.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/AvenirNext-font/AvenirNext-DemiBold/AvenirNext-DemiBold.woff") format("woff"), 
		 url("../fonts/AvenirNext-font/AvenirNext-DemiBold/AvenirNext-DemiBold.ttf") format("truetype"), 
		 url("../fonts/AvenirNext-font/AvenirNext-DemiBold/AvenirNext-DemiBold.otf") format("opentype"), 
		 url("../fonts/AvenirNext-font/AvenirNext-DemiBold/AvenirNext-DemiBold.svg#AvenirNext-DemiBold") format("svg");
    unicode-range: U+20-2248;	
}

@font-face {
    font-family: "AvenirNext Heavy";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/AvenirNext-font/AvenirNext-Heavy/AvenirNext-Heavy.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/AvenirNext-font/AvenirNext-Heavy/AvenirNext-Heavy.woff") format("woff"), 
		 url("../fonts/AvenirNext-font/AvenirNext-Heavy/AvenirNext-Heavy.ttf") format("truetype"), 
		 url("../fonts/AvenirNext-font/AvenirNext-Heavy/AvenirNext-Heavy.otf") format("opentype"), 
		 url("../fonts/AvenirNext-font/AvenirNext-Heavy/AvenirNext-Heavy.svg#AvenirNext-Heavy") format("svg");
    unicode-range: U+20-2248;	
}

@font-face {
    font-family: "AvenirNext Medium";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/AvenirNext-font/AvenirNext-Medium/AvenirNext-Medium.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/AvenirNext-font/AvenirNext-Medium/AvenirNext-Medium.woff") format("woff"), 
		 url("../fonts/AvenirNext-font/AvenirNext-Medium/AvenirNext-Medium.ttf") format("truetype"), 
		 url("../fonts/AvenirNext-font/AvenirNext-Medium/AvenirNext-Medium.otf") format("opentype"), 
		 url("../fonts/AvenirNext-font/AvenirNext-Medium/AvenirNext-Medium.svg#AvenirNext-Medium") format("svg");
    unicode-range: U+20-2248;	
}

@font-face {
    font-family: "AvenirNext Regular";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/AvenirNext-font/AvenirNext-Regular/AvenirNext-Regular.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/AvenirNext-font/AvenirNext-Regular/AvenirNext-Regular.woff") format("woff"), 
		 url("../fonts/AvenirNext-font/AvenirNext-Regular/AvenirNext-Regular.ttf") format("truetype"), 
		 url("../fonts/AvenirNext-font/AvenirNext-Regular/AvenirNext-Regular.otf") format("opentype"), 
		 url("../fonts/AvenirNext-font/AvenirNext-Regular/AvenirNext-Regular.svg#AvenirNext-Regular") format("svg");
    unicode-range: U+20-2248;	
}

@font-face {
    font-family: "QuadraatSansPro";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/QuadraatSans-font/QuadraatSansPro/QuadraatSansPro.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/QuadraatSans-font/QuadraatSansPro/QuadraatSansPro.woff") format("woff"), 
		 url("../fonts/QuadraatSans-font/QuadraatSansPro/QuadraatSansPro.ttf") format("truetype"), 
		 url("../fonts/QuadraatSans-font/QuadraatSansPro/QuadraatSansPro.otf") format("opentype"), 
		 url("../fonts/QuadraatSans-font/QuadraatSansPro/QuadraatSansPro.svg#QuadraatSansPro") format("svg");
    unicode-range: U+20-2248;	
}

@font-face {
    font-family: "QuadraatSansRegular";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/QuadraatSans-font/QuadraatSansRegular/QuadraatSansRegular.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/QuadraatSans-font/QuadraatSansRegular/QuadraatSansRegular.woff") format("woff"), 
		 url("../fonts/QuadraatSans-font/QuadraatSansRegular/QuadraatSansRegular.ttf") format("truetype"), 
		 url("../fonts/QuadraatSans-font/QuadraatSansRegular/QuadraatSansRegular.otf") format("opentype"), 
		 url("../fonts/QuadraatSans-font/QuadraatSansRegular/QuadraatSansRegular.svg#QuadraatSansRegular") format("svg");
    unicode-range: U+20-2248;	
}

@font-face {
    font-family: "QuadraatSansBold";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/QuadraatSans-font/QuadraatSansBold/QuadraatSansBold.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/QuadraatSans-font/QuadraatSansBold/QuadraatSansBold.woff") format("woff"), 
		 url("../fonts/QuadraatSans-font/QuadraatSansBold/QuadraatSansBold.ttf") format("truetype"), 
		 url("../fonts/QuadraatSans-font/QuadraatSansBold/QuadraatSansBold.otf") format("opentype"), 
		 url("../fonts/QuadraatSans-font/QuadraatSansBold/QuadraatSansBold.svg#QuadraatSansBold") format("svg");
    unicode-range: U+20-2248;	
}


@font-face {
    font-family: "QuadraatSansItalic";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/QuadraatSans-font/QuadraatSansItalic/QuadraatSansItalic.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/QuadraatSans-font/QuadraatSansItalic/QuadraatSansItalic.woff") format("woff"), 
		 url("../fonts/QuadraatSans-font/QuadraatSansItalic/QuadraatSansItalic.ttf") format("truetype"), 
		 url("../fonts/QuadraatSans-font/QuadraatSansItalic/QuadraatSansItalic.otf") format("opentype"), 
		 url("../fonts/QuadraatSans-font/QuadraatSansItalic/QuadraatSansItalic.svg#QuadraatSansItalic") format("svg");
    unicode-range: U+20-2248;	
}




/*---------------------------------------------CMS Home---------------------------------------------*/


.owl-carousel .owl-item img { width: auto !important; }

.checkout-payment-method .payment-option-title .action-toggle { color: #000000; }

button.action.action-login.secondary { background: #ffffff; box-shadow: none; border: 1px solid #000000; color: #000000; }
button.action.action-login.secondary:hover { background: #000000; border: 1px solid #000000; color: #ffffff; }

.amxnotif-block { margin-bottom: 20px; clear: both; position: relative; top: 11px; width: 100%; }
.amxnotif-block label { font-size: 12px; }

.header.links a { color: #000000; font-size: 20px; }
.header.links a:hover { color: #000000; text-decoration: none; }

.removefloat { clear: both; }

ul { list-style: none; margin-left: unset; padding-left: unset; }

.block.widget.ves-widget.imageslider-widget { margin: unset; padding: unset; max-width: 100%; width: 100vw; }
.block.widget.ves-widget.imageslider-widget ul{ margin-left: unset; }
.block.widget.ves-widget.imageslider-widget .owl-stage { width: 100% !important; }
.block.widget.ves-widget.imageslider-widget .owl-item{ width: 100% !important; }


.page-header .header.content { padding: unset; margin: unset; max-width: 100%; }

.nav-sections { background: transparent; }


.owl-stage-outer .slider-block img{ width: 100% !important; }

.level1.child.active a { color: #000; }

.view-all-btn-text { color: #fff; text-decoration: underline; font-size: 20px; text-transform: uppercase; }


.product-option { float: left; width: 25%; }

button.action.tocart.primary span { display: block; font-family: "BrandonGrotesque Bold"; font-size: 11px; letter-spacing: 2px; line-height: 38px; text-transform: uppercase; width: initial; }

.product-price { padding-bottom: 4px; }

.catalog-category-view { overflow-x: hidden; }

/*.cms-home #maincontent {  display: none; }*/


/*--------------------------------------------------product-page----------------------------------------------*/


.product-name { font-size: 25px; color: #000000; font-weight: bold; }
.product-name a { color: #000000; }

.ingredient-list .attribute-value{ display: none; }
.ingredient-list-title:after { content: '+'; font-size: 16px; line-height: 1.3; background: #777; height: 20px; border-radius: 50%; width: 20px; display: inline-block; vertical-align: middle; text-align: center; font-weight: bold; color: #fff; margin-left: 5px; }


.product.attibute.key-allies { float: left; width: 70%; }
.product.attibute.purpose { float: left; width: 30%; }

.attribute-title.ingredient-list-title.active:after { content: '-'; line-height: 1; }
.attribute-title.ingredient-list-title { cursor: pointer; }

.catalog-product-view .product-price { float: left; width: 25%; padding-top: 5px; }

button.owl-dot { background: no-repeat; border: unset; padding: unset; }

.white-separator .product-price { border-left: 1px solid #fff; }

.homepageslider .owl-dots span { background: #fff; display: block; width: 12px; height: 12px; margin: 5px; border-radius: 50%; }
.homepageslider .owl-dots .active span { background:#000; }
.homepageslider button.owl-dot { box-shadow: none; }
.homepageslider .owl-dots { position: absolute; bottom: 30px; right: 40px; }



.control.check-terms { display: inline-block; }

.product-options-bottom .price-box.price-final_price { padding-top: 20px; }
.product-options-bottom .price-box .price-container .price{ font-size: 14px !important; }


.customer-welcome+li.authorization-link.mobile-only { display: none; }
.customer-welcome .action.switch:after{ color: #000 !important; }

.customer-menu .header li { display: block; text-align: left; }
.customer-menu ul.header.links { padding: 5px; }


.grecaptcha-badge { display: none !important; }

#maincontent a .press-content a,#maincontent a .press_content a{ color: #989899 !important; }

.checkout-index-index button.action.action-auth-toggle { background: #fff; padding: 10px 28px; border: 1px solid #000; border-radius: 5px; font-weight: bold; text-decoration: unset; }
.checkout-index-index button.action.action-auth-toggle:hover { background: #000; }
.checkout-index-index button.action.action-auth-toggle:hover span{ color: #fff; }
.checkout-index-index #checkout.am-checkout{ background: unset; }
.checkout-index-index .amazon-button-container .field-tooltip{ top: 30%; }

.form-discount button.action.action-apply { background: unset; border: 1px solid #000; }
.form-discount button.action.action-apply:hover{ background: #000; }
.form-discount button.action.action-apply:hover span{ color: #fff; }

#maincontent a.learn-more-bundle #maincontent .kit-position a { color: #fff !important; }

.catalog-product-view #maincontent .block.related .actions a:hover { color: #fff !important; }

.product-24-7-kit #maincontent a { color: #7f8183 !important; }
.product-24-7-kit #maincontent a.active{ color: #000 !important; }

form.popup-register-form { display: block !important; }
button:not(.primary) { box-shadow: none; } 
button.action-primary { background: #fff !important; border: 1px solid #000 !important; color: #000 !important; } 
button.action-primary:hover { background: #000 !important; color: #fff !important; border: 1px solid #000; }


.catalog-product-view .product-info-main .stock.unavailable {text-align: left;}
.out-of-stock { display: block; text-align: right; color: #fff; font-size: 16px; text-transform: uppercase; }
.breadcrumbs {display: none;}
.press-list:nth-child(4n+1) {clear: left;}


/** checkout page css **/

body.account .page-main{max-width:100%; width:100%;padding-left: 0px;padding-right: 0px;} 
body.account .page-main .sidebar .block{margin-bottom: 0px;}
body.account .sidebar-additional{margin-top:0px;}
body.account #maincontent .block-collapsible-nav .item a{color:#949494;font-size: 12px;} 
body.account #maincontent .block-collapsible-nav .item.current a{ color:#fff; }

body.account #maincontent .block-collapsible-nav .item a{padding:12px 18px 12px 15px;}
body.account .block-collapsible-nav .content {background: #131315;padding: 30px 45px; position: relative;height: 100vh; padding-bottom: 70px; }
body.account .block-collapsible-nav .content:before{content:''; background: #131315 url(../images/AOS-Logo.png)left top no-repeat; width:80px; height: 80px; background-size: 100%; right: 30px; top:30px;  position: absolute;opacity: .6;}
body.account .block-collapsible-nav .content:after{width:100%;height:30px; content:''; background: #131315; position: absolute;left:0px; bottom:-25px;}
body.account.page-layout-2columns-left .sidebar-main{width: 28.3%;}
body.account.page-layout-2columns-left .column.main {width: 68.7%;margin-right: 2%;}
body.account .block-collapsible-nav .item.current > strong {border-color: #fff;color: #fff; font-size:12px;font-weight: 600;text-decoration: underline;}
body.account .block-collapsible-nav .item a:hover {background: transparent;text-decoration: underline;}
body.account .column.main .block:not(.widget) .block-title strong, body.account .legend > span {font-size: 16px;font-weight: 600; letter-spacing: 2px;}
body.account .box .box-content{font-size: 13px;}
body.account .block-collapsible-nav .item .delimiter{display: none;} 
body.account .column.main .block:not(.widget) .box-title > span{font-size: 14px; letter-spacing: 2px;}
body.account .block-title .action.edit {float: right;}
body.account .block-title .action.edit a{letter-spacing: 1.5px;}

body.account .block-collapsible-nav .item.current a { border-color: #fff; }
body.account select, .account input[type="text"], .account input[type="password"], .account input[type="url"], .account input[type="tel"], .account input[type="search"], .account input[type="number"], .account input[type="datetime"], .account input[type="email"]{ border:none; border-bottom:1px solid #c8c8c8; padding-left: 0px;font-size: 12px; height: 24px; letter-spacing: 1.5px; }
body.account .fieldset > .field > .label, body.account .fieldset > .fields > .field > .label { font-weight: 400; letter-spacing: 1px; font-size: 12px; }
body.account .form-address-edit .actions-toolbar .action.primary{padding: 7px 17px;font-size: 1.4rem;}
body.account .block-content p {font-size: 13px;}
button, a.action.primary { border-radius:0px; }

/*checkout page */
.checkout-index-index .opc-progress-bar { margin: 20px 0 20px; counter-reset: i; display: block; font-size: 0; text-align: center; }
.checkout-index-index .opc-progress-bar-item._active:before { background: #000000; border-color: #000000; }
.checkout-index-index .opc-progress-bar-item._active > span:before { background: #000000; border-color: #000000; }
.checkout-index-index .opc-progress-bar-item._active > span:after { border-color: #000000; }
.checkout-index-index .authentication-wrapper { margin-top: 30px; max-width: 50%; position: absolute; z-index: 1; right: 0; }
.checkout-index-index .checkout-shipping-method { position: unset; }
.checkout-index-index .opc-progress-bar-item._complete > span { color: #000000; }
.checkout-index-index .opc-wrapper .shipping-address-item.selected-item { border-color: #000000; }
.checkout-index-index .opc-wrapper .shipping-address-item.selected-item:after { background: #000000; }
.checkout-index-index .discount-code .payment-option-title{box-sizing: border-box;padding-right: 1em !important;}

#discount-form .payment-option-inner .field {margin: 0;}
#discount-form .payment-option-inner .field .label {max-width: 320px;}

.amxnotif-container { display: inline-block; margin: 28px 0 30px; width: 100%; transition: opacity 0.5s; -webkit-transition: opacity 0.5s; opacity: 1; }
.amxnotif-container .amxnotif-block { background: rgba(0, 0, 0, 0) none repeat scroll 0 0; border-radius: 0; display: inline-block; line-height: 38px; min-width: 164px; padding: 0; width: auto; border: 1px solid #000000; color: #000000; transition: all 0.5s ease; top: 0; }
.amxnotif-container .amxnotif-block a { display: block; font-family: "BrandonGrotesque Bold"; font-size: 11px; letter-spacing: 2px; line-height: 38px; text-transform: uppercase; width: initial; text-decoration: none; }
.amxnotif-container .amxnotif-block a:hover { background: #000000; color: #ffffff !important; }

.amxnotif-container .category.amxnotif-block { display: none; }


.menu-over-banner { position: relative; }
.product-short-dec { padding: 0px 10px; margin: 10px 37px; display: inline-block; font-family: "QuadraatSansItalic"; font-size: 15px; color: #000000; letter-spacing: 1px; }
/*.catalog-category-view .category-image .image,.catalog-category-view .category-image { max-height: 500px; }*/
#payment-request-button > div { clear: both; }
/*#send2 { padding: 10px 20px; }*/
a.action.action-register.primary { padding: 10px 20px !important; }

/*************For Notify me when in stock button ************************/
.homepage-product li .amxnotif-container{ margin: 6px 0 20px;}
.catalog-product-view .product-add-form .box-tocart{width: calc(65% - 20px);}
.catalog-product-view .product-add-form .removefloat{ width: 35%;}
.catalog-product-view div#notify-product-btn{ box-sizing: border-box; max-width: 100%; padding: 0 10px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box;}
.catalog-product-view div#notify-product-btn span{font-size: 10px;}
.amxnotif-container .amxnotif-block a{padding: 0 20px;}

@media screen and (max-width: 767px){

.checkout-index-index #checkout.am-checkout {position: relative;}
.checkout-index-index #checkout.am-checkout .authentication-wrapper {position: absolute;top: 80px;right: 0;}
#checkout.am-checkout .opc-estimated-wrapper{background-color: transparent;}
.checkout-index-index .checkout-block{margin: 7px 0 32px;}
.checkout-index-index .opc-wrapper.am-opc-wrapper .step-content form {background-color: transparent;}
.menu-section .main-logo {left: 50% !important;}
.checkout-index-index .fieldset .validator.validator-email{width: 100% !important;}
.checkout-index-index .fieldset .field .control .field-tooltip {cursor: pointer;position: absolute;right: 0;top: -35px;}
.checkout-index-index .fieldset .field .control .validator.validator-phone {width: 100% !important;}
.checkout-index-index .fieldset .field .control .validator.validator-phone .input-text {width: 100% !important;}

}

#block-collapsible-nav li.nav.item:nth-child(7) { display: none; }

@media screen and (max-width: 520px){
.checkout-payment-method .payment-option-inner{width: 63%;}
.checkout-payment-method .form-discount .actions-toolbar{width: 37%;}
}

.login-register-popup .popup-register-form input,
.login-register-popup .popup-register-form select { background: rgba(0, 0, 0, 0) none repeat scroll 0 0; border: medium none; color: #8a8a8a; font-family: "AvenirNext Regular"; font-size: 14px; height: initial; line-height: 40px; margin: 0 0 10px; padding: 0; border-bottom: 1px solid #7b7b7b; letter-spacing: 1px; }

button.ui-datepicker-trigger.v-middle { display: inline-block; width: 22px; position: relative; margin: 0; }
button.ui-datepicker-trigger.v-middle:before { position: absolute; right: 0; top: -4px; margin: 0; padding: 0; }


@media (min-width:768px) {

.freshwidget-button a { bottom: 40%; }

body .swell-tab { transform: rotate(-90deg); -moz-transform: rotate(-90deg); -webkit-transform: rotate(-90deg); -o-transform: rotate(-90deg); filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3); -webkit-box-shadow: 0 0 10px rgba(0,0,0,.1), inset 0 1px 0 rgba(0,0,0,.08), inset 0 2px 0 rgba(255,255,255,.7), inset 0 -9px 29px rgba(0,0,0,.1) !important; -moz-box-shadow: 0 0 10px rgba(0,0,0,.1),inset 0 1px 0 rgba(0,0,0,.08),inset 0 2px 0 rgba(255,255,255,.7),inset 0 -9px 29px rgba(0,0,0,.1) !important; box-shadow: 0 0 10px rgba(0,0,0,.1), inset 0 1px 0 rgba(0,0,0,.08), inset 0 2px 0 rgba(255,255,255,.7), inset 0 -9px 29px rgba(0,0,0,.1) !important; bottom: 125px !important; top: initial !important; right: -46px !important; left: initial !important; border-radius: 5px 5px 0px 0px !important; padding: 5px 15px 8px !important; height: auto !important; width: auto !important; }

}
@media (min-width:768px) and (max-width:1100px) {

.freshwidget-button a {     bottom: 240px;}

}

@media (max-width:767px) {

.freshwidget-button a { bottom: 35%; }
body .swell-tab { transform: rotate(-90deg); -moz-transform: rotate(-90deg); -webkit-transform: rotate(-90deg); -o-transform: rotate(-90deg); filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3); -webkit-box-shadow: 0 0 10px rgba(0,0,0,.1), inset 0 1px 0 rgba(0,0,0,.08), inset 0 2px 0 rgba(255,255,255,.7), inset 0 -9px 29px rgba(0,0,0,.1) !important; -moz-box-shadow: 0 0 10px rgba(0,0,0,.1),inset 0 1px 0 rgba(0,0,0,.08),inset 0 2px 0 rgba(255,255,255,.7),inset 0 -9px 29px rgba(0,0,0,.1) !important; box-shadow: 0 0 10px rgba(0,0,0,.1), inset 0 1px 0 rgba(0,0,0,.08), inset 0 2px 0 rgba(255,255,255,.7), inset 0 -9px 29px rgba(0,0,0,.1) !important; bottom: 120px !important; top: initial !important; right: -35px !important; left: initial !important; border-radius: 5px 5px 0px 0px !important; padding: 5px 15px 8px !important; height: auto !important; width: auto !important; }

}

a#toTop { background: #000 none repeat scroll 0 0; border-radius: 0; bottom: 45px; }

@media(max-width: 767px){.payment-group{padding: 0 25px;}} 

.rabbit-image { margin-top: 30px; float: left; }

.cms-satisfaction-guarantee .column.main {
    text-align: center;
    margin-top: 40px;
}

.cms-satisfaction-guarantee .column.main .content {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}
.eye-care-container-list,.product-benefits {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    align-items: center;
}

.eye-care-container-list > div,.product-benefits > div {
    width: 50%;
}

.eye-care-product-info-main {
    padding: 0 40px;
}

.product-benefits > picture,.product-benefits > p {
    width: 50%;
}

.cms-eye-cream .column.main {
    max-width: 900px;
    margin: 40px auto 0;
}

.cms-eye-cream .eye-care-container-list {
    margin-bottom: 100px;
}

.cms-eye-cream .product-benefits > p {
    padding-right: 40px;
}

.cms-eye-cream .Firming-container {
     display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;   
    flex-wrap: wrap;
    align-items: baseline;
    margin-bottom: 100px;
    justify-content: center;
    text-align: center;
}

.cms-eye-cream .eye-care-container-list a.buy-now-btn {
    color: #fff !important;
    font-family: "BrandonGrotesque Bold";
    font-size: 11px;
    letter-spacing: 2px;
    line-height: 38px;
    text-transform: uppercase;
    min-width: 164px;
    width: initial;
    text-decoration: none;
    background: #000;
    display: inline-block;
    text-align: center;
}
.cms-eye-cream .Firming-container h1 {
    text-align: center;
    margin-top: 100px;
    text-transform: uppercase;
    width: 100%;
    font-size: 30px;
    margin-bottom: 20px;
}
.cms-eye-cream .product-name {
    font-size: 28px;
    letter-spacing: 1px;
    line-height: 38px;
    color: #000000;
    text-transform: uppercase;
    margin-top: 0;
}
.cms-eye-cream .Firming-container .home-page-product-list.item.product.product-item {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
}
.cms-eye-cream .Firming-container form.custom_addto_form {
    height: 100%;
}
.cms-eye-cream .product-short-dec p {
    min-height: auto;
}
.cms-eye-cream .eye-care-container-list h6.product-overview {
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 400;
    letter-spacing: 3px;
}

.cms-eye-cream .eye-care-container-list p.product-discription {
    margin-bottom: 30px;
}

.cms-eye-cream .product-benefits .left.cm-col {
    padding-left: 40px;
    padding-right: 40px;
}

.cms-eye-cream .product-benefits .left.cm-col h5 {
    margin-top: 0;
    font-size: 22px;
    letter-spacing: 3px;
    line-height: 42px;
    color: #000000;
}

.cms-eye-cream .product-benefits .left.cm-col ul {
    list-style: disc;
    max-width: 70%;
}

.cms-eye-cream .product-benefits .left.cm-col ul li {
    margin-bottom: 15px;
}
.cms-eye-cream .Firming-container .product.actions.product-item-actions {
    display: block;
    width: 100%;
    overflow: hidden;
    text-align: center;
}
.cms-eye-cream .Firming-container .product.actions.product-item-actions .actions-primary {
    float: none;
}
.cms-eye-cream .Firming-container .product.actions.product-item-actions .actions-primary button.action.tocart.primary,
.cms-eye-cream .Firming-container .product.actions.product-item-actions .actions-primary button.action.tocart.primary span {
    line-height: 20px;
}

.cms-eye-cream .Firming-container .product-name {
    padding: 20px 0px 0px;
    text-transform: uppercase;
    width: 82%;
    text-decoration: none;
    cursor: pointer;
        min-height: 81px;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 27px;
    color: #000000;
    font-weight: 500;
}
.cms-eye-cream .Firming-container i.stamped-fa.stamped-fa-star {
    color: #000;
}
.cms-eye-cream .Firming-container .attribute.product-attr {
    display: flex;
    width: 100%;
    justify-content: center;
    line-height: 1;
    color: #000;
    margin: 25px 0px;
}
.cms-eye-cream .Firming-container span.stamped-product-reviews-badge {
    min-height: 20px;
}
.cms-eye-cream .Firming-container .product-item .price-box {
    margin: 0;
}

.cms-eye-cream .Firming-container .product-item .old-price {
    margin: 0;
    padding: 0;
    color:#000;
}

.cms-eye-cream .Firming-container .attribute.product-attr span.separator {
    margin: 0 10px;
    position: relative;

}
.cms-eye-cream .Firming-container .product-attr .separator::after {
    border-left: 1px solid #000;
    content: " ";
    height: 15px;
    left: 0;
    line-height: 21px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0px;
    width: 0;
}
.cms-eye-cream .Firming-container i.stamped-fa.stamped-fa-star .stamped-badge-starrating {
    color: #000;
}
.mobile-visible{
    display: none;
}
@media(max-width:767px){
    .cms-eye-cream .Firming-container,
    .eye-care-container-list{
        display: block;
    }
    p.dekstop-visible {
        display: none;
    }
    .cms-eye-cream .product-benefits .left.cm-col ul {
        max-width: 100%;
    }
    .mobile-visible{
        display: block;
    }
    .product-benefits {
            flex-wrap: wrap-reverse;
    }
    .eye-care-container-list > div, .product-benefits > div {
        width: 100%;
    }
    .cms-eye-cream .Firming-container .product-name {
        width: 90%;
        min-height: auto;
    }
    .cms-eye-cream .product-benefits > p,
    .eye-care-product-info-main {
        padding: 0;
    }
    .cms-eye-cream .Firming-container .home-page-product-list.item.product.product-item,
    .product-benefits > picture, .product-benefits > p {
        width: 100%;
    }
    .product-benefits > p {
        margin-top: 30px;
    }
    .cms-eye-cream .eye-care-container-list a.buy-now-btn {
        display: block;
        text-align: center;
        max-width: 60%;
        margin: 0 auto;
    }
    .cms-eye-cream .product-benefits .left.cm-col {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }
    .cms-eye-cream .Firming-container h1 {
        margin-top: 30px;
    }
    .cms-eye-cream .Firming-container span.stamped-product-reviews-badge {
        min-height: 0;
    }
    .cms-eye-cream .eye-care-container-list,
    .cms-eye-cream .Firming-container h1 + p {
        margin-bottom: 40px;
    }
}
/*end*/

