<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Fpc
 */
?>
<style>
    /* move amCharts copyright from left-top corner to right-bottom */
    .amcharts-chart-div a {
        right: 0;
        bottom: 0;
        left: auto !important;
        top: auto !important;
    }
</style>
<div id="report"></div>
