/*===============================Custom Font Families===============================*/

@font-face {
    font-family: "BrandonGrotesque Bold";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Bold/BrandonGrotesque-Bold.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Bold/BrandonGrotesque-Bold.woff") format("woff"), 
		 url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Bold/BrandonGrotesque-Bold.ttf") format("truetype"), 
		 url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Bold/BrandonGrotesque-Bold.otf") format("opentype"), 
		 url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Bold/BrandonGrotesque-Bold.svg#BrandonGrotesque-Bold") format("svg");
    unicode-range: U+20-2248;	
}

@font-face {
    font-family: "BrandonGrotesque Black";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Black/BrandonGrotesque-Black.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Black/BrandonGrotesque-Black.woff") format("woff"), 
		 url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Black/BrandonGrotesque-Black.ttf") format("truetype"), 
		 url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Black/BrandonGrotesque-Black.otf") format("opentype"), 
		 url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Black/BrandonGrotesque-Black.svg#BrandonGrotesque-Black") format("svg");
    unicode-range: U+20-2248;	
}

@font-face {
    font-family: "BrandonGrotesque Light";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Light/BrandonGrotesque-Light.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Light/BrandonGrotesque-Light.woff") format("woff"), 
		 url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Light/BrandonGrotesque-Light.ttf") format("truetype"), 
		 url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Light/BrandonGrotesque-Light.otf") format("opentype"), 
		 url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Light/BrandonGrotesque-Light.svg#BrandonGrotesque-Light") format("svg");
    unicode-range: U+20-2248;	
}

@font-face {
    font-family: "BrandonGrotesque Medium";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Medium/BrandonGrotesque-Medium.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Medium/BrandonGrotesque-Medium.woff") format("woff"), 
		 url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Medium/BrandonGrotesque-Medium.ttf") format("truetype"), 
		 url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Medium/BrandonGrotesque-Medium.otf") format("opentype"), 
		 url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Medium/BrandonGrotesque-Medium.svg#BrandonGrotesque-Medium") format("svg");
    unicode-range: U+20-2248;	
}

@font-face {
    font-family: "BrandonGrotesque Regular";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Regular/BrandonGrotesque-Regular.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Regular/BrandonGrotesque-Regular.woff") format("woff"), 
		 url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Regular/BrandonGrotesque-Regular.ttf") format("truetype"), 
		 url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Regular/BrandonGrotesque-Regular.otf") format("opentype"), 
		 url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Regular/BrandonGrotesque-Regular.svg#BrandonGrotesque-Regular") format("svg");
    unicode-range: U+20-2248;	
}

@font-face {
    font-family: "BrandonGrotesque Thin";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Thin/BrandonGrotesque-Thin.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Thin/BrandonGrotesque-Thin.woff") format("woff"), 
		 url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Thin/BrandonGrotesque-Thin.ttf") format("truetype"), 
		 url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Thin/BrandonGrotesque-Thin.otf") format("opentype"), 
		 url("../fonts/BrandonGrotesque-font/BrandonGrotesque-Thin/BrandonGrotesque-Thin.svg#BrandonGrotesque-Thin") format("svg");
    unicode-range: U+20-2248;	
}

@font-face {
    font-family: "AvenirLTStd Black";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/AvenirLTStd-font/AvenirLTStd-Black/AvenirLTStd-Black.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/AvenirLTStd-font/AvenirLTStd-Black/AvenirLTStd-Black.woff") format("woff"), 
		 url("../fonts/AvenirLTStd-font/AvenirLTStd-Black/AvenirLTStd-Black.ttf") format("truetype"), 
		 url("../fonts/AvenirLTStd-font/AvenirLTStd-Black/AvenirLTStd-Black.otf") format("opentype"), 
		 url("../fonts/AvenirLTStd-font/AvenirLTStd-Black/AvenirLTStd-Black.svg#AvenirLTStd-Black") format("svg");
    unicode-range: U+20-2248;	
}

@font-face {
    font-family: "AvenirLTStd Book";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/AvenirLTStd-font/AvenirLTStd-Book/AvenirLTStd-Book.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/AvenirLTStd-font/AvenirLTStd-Book/AvenirLTStd-Book.woff") format("woff"), 
		 url("../fonts/AvenirLTStd-font/AvenirLTStd-Book/AvenirLTStd-Book.ttf") format("truetype"), 
		 url("../fonts/AvenirLTStd-font/AvenirLTStd-Book/AvenirLTStd-Book.otf") format("opentype"), 
		 url("../fonts/AvenirLTStd-font/AvenirLTStd-Book/AvenirLTStd-Book.svg#AvenirLTStd-Book") format("svg");
    unicode-range: U+20-2248;	
}

@font-face {
    font-family: "AvenirLTStd Heavy";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/AvenirLTStd-font/AvenirLTStd-Heavy/AvenirLTStd-Heavy.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/AvenirLTStd-font/AvenirLTStd-Heavy/AvenirLTStd-Heavy.woff") format("woff"), 
		 url("../fonts/AvenirLTStd-font/AvenirLTStd-Heavy/AvenirLTStd-Heavy.ttf") format("truetype"), 
		 url("../fonts/AvenirLTStd-font/AvenirLTStd-Heavy/AvenirLTStd-Heavy.otf") format("opentype"), 
		 url("../fonts/AvenirLTStd-font/AvenirLTStd-Heavy/AvenirLTStd-Heavy.svg#AvenirLTStd-Heavy") format("svg");
    unicode-range: U+20-2248;	
}

@font-face {
    font-family: "AvenirLTStd Light";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/AvenirLTStd-font/AvenirLTStd-Light/AvenirLTStd-Light.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/AvenirLTStd-font/AvenirLTStd-Light/AvenirLTStd-Light.woff") format("woff"), 
		 url("../fonts/AvenirLTStd-font/AvenirLTStd-Light/AvenirLTStd-Light.ttf") format("truetype"), 
		 url("../fonts/AvenirLTStd-font/AvenirLTStd-Light/AvenirLTStd-Light.otf") format("opentype"), 
		 url("../fonts/AvenirLTStd-font/AvenirLTStd-Light/AvenirLTStd-Light.svg#AvenirLTStd-Light") format("svg");
    unicode-range: U+20-2248;	
}

@font-face {
    font-family: "AvenirLTStd Medium";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/AvenirLTStd-font/AvenirLTStd-Medium/AvenirLTStd-Medium.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/AvenirLTStd-font/AvenirLTStd-Medium/AvenirLTStd-Medium.woff") format("woff"), 
		 url("../fonts/AvenirLTStd-font/AvenirLTStd-Medium/AvenirLTStd-Medium.ttf") format("truetype"), 
		 url("../fonts/AvenirLTStd-font/AvenirLTStd-Medium/AvenirLTStd-Medium.otf") format("opentype"), 
		 url("../fonts/AvenirLTStd-font/AvenirLTStd-Medium/AvenirLTStd-Medium.svg#AvenirLTStd-Medium") format("svg");
    unicode-range: U+20-2248;	
}

@font-face {
    font-family: "AvenirLTStd Roman";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/AvenirLTStd-font/AvenirLTStd-Roman/AvenirLTStd-Roman.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/AvenirLTStd-font/AvenirLTStd-Roman/AvenirLTStd-Roman.woff") format("woff"), 
		 url("../fonts/AvenirLTStd-font/AvenirLTStd-Roman/AvenirLTStd-Roman.ttf") format("truetype"), 
		 url("../fonts/AvenirLTStd-font/AvenirLTStd-Roman/AvenirLTStd-Roman.otf") format("opentype"), 
		 url("../fonts/AvenirLTStd-font/AvenirLTStd-Roman/AvenirLTStd-Roman.svg#AvenirLTStd-Roman") format("svg");
    unicode-range: U+20-2248;	
}

@font-face {
    font-family: "Avenir Black";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Avenir-font/Avenir-Black/Avenir-Black.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/Avenir-font/Avenir-Black/Avenir-Black.woff") format("woff"), 
		 url("../fonts/Avenir-font/Avenir-Black/Avenir-Black.ttf") format("truetype"), 
		 url("../fonts/Avenir-font/Avenir-Black/Avenir-Black.otf") format("opentype"), 
		 url("../fonts/Avenir-font/Avenir-Black/Avenir-Black.svg#Avenir-Black") format("svg");
    unicode-range: U+20-2248;	
}

@font-face {
    font-family: "Avenir Book";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Avenir-font/Avenir-Book/Avenir-Book.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/Avenir-font/Avenir-Book/Avenir-Book.woff") format("woff"), 
		 url("../fonts/Avenir-font/Avenir-Book/Avenir-Book.ttf") format("truetype"), 
		 url("../fonts/Avenir-font/Avenir-Book/Avenir-Book.otf") format("opentype"), 
		 url("../fonts/Avenir-font/Avenir-Book/Avenir-Book.svg#Avenir-Book") format("svg");
    unicode-range: U+20-2248;	
}

@font-face {
    font-family: "Avenir Heavy";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Avenir-font/Avenir-Heavy/Avenir-Heavy.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/Avenir-font/Avenir-Heavy/Avenir-Heavy.woff") format("woff"), 
		 url("../fonts/Avenir-font/Avenir-Heavy/Avenir-Heavy.ttf") format("truetype"), 
		 url("../fonts/Avenir-font/Avenir-Heavy/Avenir-Heavy.otf") format("opentype"), 
		 url("../fonts/Avenir-font/Avenir-Heavy/Avenir-Heavy.svg#Avenir-Heavy") format("svg");
    unicode-range: U+20-2248;	
}

@font-face {
    font-family: "Avenir Medium";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Avenir-font/Avenir-Medium/Avenir-Medium.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/Avenir-font/Avenir-Medium/Avenir-Medium.woff") format("woff"), 
		 url("../fonts/Avenir-font/Avenir-Medium/Avenir-Medium.ttf") format("truetype"), 
		 url("../fonts/Avenir-font/Avenir-Medium/Avenir-Medium.otf") format("opentype"), 
		 url("../fonts/Avenir-font/Avenir-Medium/Avenir-Medium.svg#Avenir-Medium") format("svg");
    unicode-range: U+20-2248;	
}

@font-face {
    font-family: "Avenir Light";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Avenir-font/Avenir-Light/Avenir-Light.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/Avenir-font/Avenir-Light/Avenir-Light.woff") format("woff"), 
		 url("../fonts/Avenir-font/Avenir-Light/Avenir-Light.ttf") format("truetype"), 
		 url("../fonts/Avenir-font/Avenir-Light/Avenir-Light.otf") format("opentype"), 
		 url("../fonts/Avenir-font/Avenir-Light/Avenir-Light.svg#Avenir-Light") format("svg");
    unicode-range: U+20-2248;	
}

@font-face {
    font-family: "AvenirNext Bold";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/AvenirNext-font/AvenirNext-Bold/AvenirNext-Bold.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/AvenirNext-font/AvenirNext-Bold/AvenirNext-Bold.woff") format("woff"), 
		 url("../fonts/AvenirNext-font/AvenirNext-Bold/AvenirNext-Bold.ttf") format("truetype"), 
		 url("../fonts/AvenirNext-font/AvenirNext-Bold/AvenirNext-Bold.otf") format("opentype"), 
		 url("../fonts/AvenirNext-font/AvenirNext-Bold/AvenirNext-Bold.svg#AvenirNext-Bold") format("svg");
    unicode-range: U+20-2248;	
}

@font-face {
    font-family: "AvenirNext DemiBold";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/AvenirNext-font/AvenirNext-DemiBold/AvenirNext-DemiBold.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/AvenirNext-font/AvenirNext-DemiBold/AvenirNext-DemiBold.woff") format("woff"), 
		 url("../fonts/AvenirNext-font/AvenirNext-DemiBold/AvenirNext-DemiBold.ttf") format("truetype"), 
		 url("../fonts/AvenirNext-font/AvenirNext-DemiBold/AvenirNext-DemiBold.otf") format("opentype"), 
		 url("../fonts/AvenirNext-font/AvenirNext-DemiBold/AvenirNext-DemiBold.svg#AvenirNext-DemiBold") format("svg");
    unicode-range: U+20-2248;	
}

@font-face {
    font-family: "AvenirNext Heavy";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/AvenirNext-font/AvenirNext-Heavy/AvenirNext-Heavy.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/AvenirNext-font/AvenirNext-Heavy/AvenirNext-Heavy.woff") format("woff"), 
		 url("../fonts/AvenirNext-font/AvenirNext-Heavy/AvenirNext-Heavy.ttf") format("truetype"), 
		 url("../fonts/AvenirNext-font/AvenirNext-Heavy/AvenirNext-Heavy.otf") format("opentype"), 
		 url("../fonts/AvenirNext-font/AvenirNext-Heavy/AvenirNext-Heavy.svg#AvenirNext-Heavy") format("svg");
    unicode-range: U+20-2248;	
}

@font-face {
    font-family: "AvenirNext Medium";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/AvenirNext-font/AvenirNext-Medium/AvenirNext-Medium.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/AvenirNext-font/AvenirNext-Medium/AvenirNext-Medium.woff") format("woff"), 
		 url("../fonts/AvenirNext-font/AvenirNext-Medium/AvenirNext-Medium.ttf") format("truetype"), 
		 url("../fonts/AvenirNext-font/AvenirNext-Medium/AvenirNext-Medium.otf") format("opentype"), 
		 url("../fonts/AvenirNext-font/AvenirNext-Medium/AvenirNext-Medium.svg#AvenirNext-Medium") format("svg");
    unicode-range: U+20-2248;	
}

@font-face {
    font-family: "AvenirNext Regular";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/AvenirNext-font/AvenirNext-Regular/AvenirNext-Regular.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/AvenirNext-font/AvenirNext-Regular/AvenirNext-Regular.woff") format("woff"), 
		 url("../fonts/AvenirNext-font/AvenirNext-Regular/AvenirNext-Regular.ttf") format("truetype"), 
		 url("../fonts/AvenirNext-font/AvenirNext-Regular/AvenirNext-Regular.otf") format("opentype"), 
		 url("../fonts/AvenirNext-font/AvenirNext-Regular/AvenirNext-Regular.svg#AvenirNext-Regular") format("svg");
    unicode-range: U+20-2248;	
}

@font-face {
    font-family: "QuadraatSansPro";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/QuadraatSans-font/QuadraatSansPro/QuadraatSansPro.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/QuadraatSans-font/QuadraatSansPro/QuadraatSansPro.woff") format("woff"), 
		 url("../fonts/QuadraatSans-font/QuadraatSansPro/QuadraatSansPro.ttf") format("truetype"), 
		 url("../fonts/QuadraatSans-font/QuadraatSansPro/QuadraatSansPro.otf") format("opentype"), 
		 url("../fonts/QuadraatSans-font/QuadraatSansPro/QuadraatSansPro.svg#QuadraatSansPro") format("svg");
    unicode-range: U+20-2248;	
}

@font-face {
    font-family: "QuadraatSansRegular";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/QuadraatSans-font/QuadraatSansRegular/QuadraatSansRegular.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/QuadraatSans-font/QuadraatSansRegular/QuadraatSansRegular.woff") format("woff"), 
		 url("../fonts/QuadraatSans-font/QuadraatSansRegular/QuadraatSansRegular.ttf") format("truetype"), 
		 url("../fonts/QuadraatSans-font/QuadraatSansRegular/QuadraatSansRegular.otf") format("opentype"), 
		 url("../fonts/QuadraatSans-font/QuadraatSansRegular/QuadraatSansRegular.svg#QuadraatSansRegular") format("svg");
    unicode-range: U+20-2248;	
}




@font-face {
    font-family: "QuadraatSansBold";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/QuadraatSans-font/QuadraatSansBold/QuadraatSansBold.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/QuadraatSans-font/QuadraatSansBold/QuadraatSansBold.woff") format("woff"), 
		 url("../fonts/QuadraatSans-font/QuadraatSansBold/QuadraatSansBold.ttf") format("truetype"), 
		 url("../fonts/QuadraatSans-font/QuadraatSansBold/QuadraatSansBold.otf") format("opentype"), 
		 url("../fonts/QuadraatSans-font/QuadraatSansBold/QuadraatSansBold.svg#QuadraatSansBold") format("svg");
    unicode-range: U+20-2248;	
}


/*---------------------------------------------CMS Home---------------------------------------------*/


.owl-carousel .owl-item img { width: auto !important; }

.checkout-payment-method .payment-option-title .action-toggle { color: #000000; }

button.action.action-login.secondary { background: #ffffff; box-shadow: none; border: 1px solid #000000; color: #000000; }
button.action.action-login.secondary:hover { background: #000000; border: 1px solid #000000; color: #ffffff; }

.amxnotif-block { margin-bottom: 20px; clear: both; position: relative; top: 11px; width: 100%; }
.amxnotif-block label { font-size: 12px; }

.header.links a { color: #000000; font-size: 20px; }
.header.links a:hover { color: #000000; text-decoration: none; }

.removefloat { clear: both; }

ul { list-style: none; margin-left: unset; padding-left: unset; }

.block.widget.ves-widget.imageslider-widget { margin: unset; padding: unset; max-width: 100%; width: 100vw; }
.block.widget.ves-widget.imageslider-widget ul{ margin-left: unset; }
.block.widget.ves-widget.imageslider-widget .owl-stage { width: 100% !important; }
.block.widget.ves-widget.imageslider-widget .owl-item{ width: 100% !important; }


.page-header .header.content { padding: unset; margin: unset; max-width: 100%; }

.nav-sections { background: transparent; }


.owl-stage-outer .slider-block img{ width: 100% !important; }

.level1.child.active a { color: #000; }

.view-all-btn-text { color: #fff; text-decoration: underline; font-size: 20px; text-transform: uppercase; }

.checkout-index-index button.action.action-auth-toggle span ,a.action.action-help span { color: black; }
.checkout-index-index .checkout-block:hover { box-shadow: 0 1px 4px 1px rgba(22, 22, 23, 0.45); }
.checkout-index-index .opc-wrapper .form-login { padding-bottom: 0px; }
.checkout-index-index .fieldset > .field { margin: 0 0 7px; }

.upper-banner-conatiner { position: absolute; top: 30%; left: 50%; text-align: left; transform: translate(-80%); }
.upper-banner-heading { margin-bottom: 10px; color: #000000; font-family: 'QuadraatSansPro'; font-size: 35px; font-weight: normal; font-style: normal; }
.upper-banner-text { color: #000000; font-size: 14px; line-height: 1.5; font-family: "Avenir Medium"; font-weight: normal; font-style: normal; width: 60%; }
.upper-banner-btn a{ font-size: 12px; letter-spacing: 1px; text-transform: uppercase; font-family: "BrandonGrotesque Bold"; font-weight: normal; font-style: normal; }
.upper-banner-btn-text { color: #000000; font-size: 18px; text-decoration: underline; }

.product-name a { color: #000000; }
.product-option { float: left; width: 25%; }

button.action.tocart.primary span { display: inline-block; font-family: "BrandonGrotesque Medium"; font-size: 11px; letter-spacing: 2px; line-height: 38px; text-transform: uppercase; width: initial; }

.product-price { padding-bottom: 4px; }

.catalog-category-view { overflow-x: hidden; }

.homepageslider.owl-carousel .owl-item img { display: block; width: 100% !important; }

.cms-home #maincontent {  display: none; }


/*--------------------------------------------------product-page----------------------------------------------*/


.product-name { font-size: 25px; color: #000000; font-weight: bold; }

.ingredient-list .attribute-value{ display: none; }
.ingredient-list-title:after { content: '+'; font-size: 16px; line-height: 1.3; background: #777; height: 20px; border-radius: 50%; width: 20px; display: inline-block; vertical-align: middle; text-align: center; font-weight: bold; color: #fff; margin-left: 5px; }


.product.attibute.key-allies { float: left; width: 70%; }
.product.attibute.purpose { float: left; width: 30%; }

.attribute-title.ingredient-list-title.active:after { content: '-'; line-height: 1; }
.attribute-title.ingredient-list-title { cursor: pointer; }

.catalog-product-view .product-price { float: left; width: 25%; padding-top: 5px; }

button.owl-dot { background: no-repeat; border: unset; padding: unset; }

.white-separator .product-price { border-left: 1px solid #fff; }

.homepageslider .owl-dots span { background: #fff; display: block; width: 12px; height: 12px; margin: 5px; border-radius: 50%; }
.homepageslider .owl-dots .active span { background:#000; }
.homepageslider button.owl-dot { box-shadow: none; }
.homepageslider .owl-dots { position: absolute; bottom: 30px; right: 40px; }



.control.check-terms { display: inline-block; }

.product-options-bottom .price-box.price-final_price { padding-top: 20px; }
.product-options-bottom .price-box .price-container .price{ font-size: 14px !important; }


.customer-welcome+li.authorization-link.mobile-only { display: none; }
.customer-welcome .action.switch:after{ color: #000 !important; }

.customer-menu .header li { display: block; text-align: left; }
.customer-menu ul.header.links { padding: 5px; }


.grecaptcha-badge { display: none !important; }

#maincontent a .press-content a,#maincontent a .press_content a{ color: #989899 !important; }

.checkout-index-index button.action.action-auth-toggle { background: #fff; padding: 10px 28px; border: 1px solid #000; border-radius: 5px; font-weight: bold; text-decoration: unset; }
.checkout-index-index button.action.action-auth-toggle:hover { background: #000; }
.checkout-index-index button.action.action-auth-toggle:hover span{ color: #fff; }
.checkout-index-index #checkout.am-checkout{ background: unset; }
.checkout-index-index .amazon-button-container .field-tooltip{ top: 30%; }

.form-discount button.action.action-apply { background: unset; border: 1px solid #000; }
.form-discount button.action.action-apply:hover{ background: #000; }
.form-discount button.action.action-apply:hover span{ color: #fff; }

#maincontent a.learn-more-bundle #maincontent .kit-position a { color: #fff !important; }

.catalog-product-view #maincontent .block.related .actions a:hover { color: #fff !important; }

.product-24-7-kit #maincontent a { color: #7f8183 !important; }
.product-24-7-kit #maincontent a.active{ color: #000 !important; }

form.popup-register-form { display: block !important; }
button:not(.primary) { box-shadow: none; } 
button.action-primary { background: #fff !important; border: 1px solid #000 !important; color: #000 !important; } 
button.action-primary:hover { background: #000 !important; color: #fff !important; border: 1px solid #000; }

.opc-wrapper .form-login .fieldset .note{ margin-top: 30px; }
.catalog-product-view .product-info-main .stock.unavailable {text-align: left;}
.out-of-stock { display: block; text-align: right; color: #fff; font-size: 16px; text-transform: uppercase; }
.breadcrumbs {display: none;}
