<?php /* @var \TNW\Subscriptions\Block\Subscription\Summary\Overview\MissedPayments $block */ ?>
<div class="block-missed-payments">
    <div class="title"><?php echo __('Total missed payments') ?></div>
    <div class="value"><?php echo $block->getCountOfMissedPayments() ?></div>
</div>
