<div class="block items-in-cart">
    <!-- ko foreach: {data: groups, as: 'group'} -->
        <div class="items-in-cart" data-bind="mageInit: {'collapsible':{'active': true}}">
            <div class="title" data-role="title">
                <strong role="heading" data-bind="text: $parent.getProfileName(group)" aria-level="1"></strong>
            </div>
            <div class="content minicart-items" data-role="content">
                <div class="minicart-items-wrapper">
                    <ol class="minicart-items">
                        <!-- ko foreach: {data: $parent.getItems(group), as: 'item'} -->
                        <li class="product-item">
                            <div class="product">
                                <each args="$parents[1].elems()" render=""/>
                            </div>
                        </li>
                        <!-- /ko -->
                    </ol>
                </div>
            </div>
        </div>
    <!-- /ko -->
</div>
