<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/** @var \Magento\Contact\Block\ContactForm $block */
?>

<div class="contact-section">
	
	<div class="contact-top-sec">	
		<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('psa-contactus-information')->toHtml(); ?>
	</div>
	
</div>

