<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?= /* @escapeNotVerified */ $block->getMiscellaneousHtml(); ?>

<!-- <a href="javascript: void(0);" id="toTop"><span class="back-to-top"><i class="fas fa-angle-double-up"></i></span></a> -->
<a href="javascript: void(0);" id="toTop" class="mobile-back-to-top"><span class="back-to-to"><i class="fas fa-angle-double-up"></i></span></a>
