<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
$getBaseUrl = $this->getBaseUrl();
?>
<div id="custom-header-id" class="customDiv">
	<div class="header-label">
		<?php echo $this->getChildHtml("header_label"); ?>
	</div>
	<div class="menu-over-banner">
		<div class="menu-over-banner-container">
			<div class="menu-section">
				 <?php echo $this->getChildHtml("header_menu"); ?>
				 <div class="slide-menu-show">
				 	<div class="slide-menu-show-conatiner">
					 <?php echo $this->getChildHtml("slide_menu"); ?>
					  <?php if(!$customerSession->isLoggedIn()): ?>
						 <ul class="header links custom-register">
							<li class="order-return">
								<a href="<?php echo $getBaseUrl.'alliesofskin/guest/login/' ?>">Order Return</a>
							</li>
						</ul>
					<?php endif; ?>
					<?php echo $this->getChildHtml("headerLinks"); ?>
					 <?php if(!$customerSession->isLoggedIn()): ?>
	   					<ul class="header links custom-register">
						 	<li class="authorization-link register-link">
						 		<a href="javascript: void(0);" class="custom-sign-up">sign up for allies underground</a>
						 	</li>
						</ul>
					 <?php endif; ?>
					  <?php echo $this->getChildHtml("storeswitcher"); ?>
        			  <?php echo $this->getChildHtml("storelang"); ?>

					</div>
				 </div>
				<div class="menu-overlay"></div>
				 <div class="main-logo"><?php echo $this->getChildHtml("logo"); ?></div>
        		<?php echo $this->getChildHtml("minicart"); ?>
        		<!-- <?php echo $this->getChildHtml("currency"); ?> -->
			</div>

		</div>
	</div>
	<div class="removefloat"></div>
</div>
<style>
	.main-logo {
    position: absolute;
    left: 45%;
    top: 15px;
    width: 20%;
}
.logo {
    float: unset;
}
.menu-over-banner{
	position: relative;
}
.freshwidget-button a {
    bottom: unset;
}
body .swell-tab{
		right:-46px !important;
	}
	body.cms-index-index .swell-tab{
		    right: -35px !important;
	}
	#ui-datepicker-div {
    display: none !important;
}
</style>

<script type="text/javascript">
	require(["jquery"], function($){
		$(window).scroll(function(){
		    if ($(window).scrollTop() > 1) {
		        $('header.page-header').addClass('fixed-header');
		        $('.page-scrollNav').addClass('fixed-header');
		    }
		    else {
		        $('header.page-header').removeClass('fixed-header');
		        $('.page-scrollNav').removeClass('fixed-header');
		    }
		});
	});
</script>
