// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@minicart__border-color: @color-gray80;
@minicart__padding-horizontal: @indent__base;

@minicart-qty__height: 24px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Minicart
    //  ---------------------------------------------

    .block-minicart {
        .items-total {
            float: left;
            margin: 0 @indent__s;

            .count {
                font-weight: @font-weight__bold;
            }
        }

        .subtotal {
            margin: 0 @indent__s @indent__s;
            text-align: right;

            .label {
                &:extend(.abs-colon all);
            }
        }

        .amount {
            .price-wrapper {
                &:first-child {
                    .price {
                        font-size: @font-size__l;
                        font-weight: @font-weight__bold;
                    }
                }
            }
        }

        .subtitle {
            display: none;

            &.empty {
                display: block;
                font-size: 20px;
                font-weight: normal;
                text-transform: uppercase;
                letter-spacing: 1.8px;
                padding: @indent__l 0 @indent__base;
                text-align: center;
            }
        }

        .text {
            &.empty {
                text-align: center;
            }
        }

        .block-content {
            > .actions {
                margin-top: 15px;
                text-align: center;

                > .primary {
                    margin: 0 @indent__s 15px;

                    .action {
                        &.primary {
                            &:extend(.abs-button-l all);
                            display: block;
                            margin-bottom: 15px;
                            width: 100%;

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }

        .block-category-link,
        .block-product-link,
        .block-cms-link,
        .block-banners {
            margin: 15px 0 0;
            text-align: center;
        }
    }

    .minicart-wrapper {
        .lib-dropdown(
        @_toggle-selector: ~'.action.showcart',
        @_options-selector: ~'.block-minicart',
        @_dropdown-list-width: 320px,
        @_dropdown-list-position-right: 0px,
        @_dropdown-list-pointer-position: right,
        @_dropdown-list-pointer-position-left-right: 26px,
        @_dropdown-list-z-index: 101,    
        @_dropdown-toggle-icon-content: @icon-cart,
        @_dropdown-toggle-active-icon-content: @icon-cart,
        @_dropdown-list-item-padding: false,
        @_dropdown-list-item-hover: false,
        @_icon-font-position: before,
        @_icon-font-size: 35px,
        @_icon-font-line-height: 33px,
        @_icon-font-color: @minicart-icons-color,
        @_icon-font-color-hover: @minicart-icons-color-hover,
        @_icon-font-color-active: @minicart-icons-color
        );
        float: right;

        .block-minicart {
            /*.lib-css(padding, 25px @minicart__padding-horizontal);*/
			border: medium none;
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
			left: 0;
			margin: 0;
			padding: 0;
			position: fixed;
			top: 0;
			transform: none;
			width: 100%;
			
			&:before,
			&:after {
				content: none;
			}

            .block-title {
                display: none;
            }
        }

        .product {
            .actions {
                float: right;
                margin: -24px 0 0;
                text-align: right;

                > .primary,
                > .secondary {
                    display: inline;
                }
            }
        }

        .action {
            &.close {
                .lib-button-icon(
                @icon-remove,
                @_icon-font-size: 32px,
                @_icon-font-line-height: 32px,
                @_icon-font-text-hide: true
                );
                .lib-button-reset();
                height: 40px;
                position: absolute;
                right: 0;
                top: 0;
                width: 40px;
            }

            &.showcart {
                white-space: nowrap;

                .text {
                    &:extend(.abs-visually-hidden all);
                }

                .counter.qty {
                    .lib-css(background, @active__color);
                    .lib-css(color, @page__background-color);
                    .lib-css(height, @minicart-qty__height);
                    .lib-css(line-height, @minicart-qty__height);
                    border-radius: 2px;
                    display: inline-block;
                    margin: 3px 0 0;
                    min-width: 18px;
                    overflow: hidden;
                    padding: 0 3px;
                    text-align: center;
                    white-space: normal;

                    &.empty {
                        display: none;
                    }

                    .loader {
                        > img {
                            .lib-css(max-width, @minicart-qty__height);
                        }
                    }
                }

                .counter-label {
                    &:extend(.abs-visually-hidden all);
                }
            }
        }

        .minicart-widgets {
            /*margin-top: 15px;*/
			float: left;
			width: 100%;
        }
    }

    /*.minicart-items-wrapper {
        .lib-css(border, 1px solid @minicart__border-color);
        .lib-css(margin, 0 -@minicart__padding-horizontal);
        border-left: 0;
        border-right: 0;
        overflow-x: auto;
        padding: 15px;
    }*/

    .minicart-items {
        /*.lib-list-reset-styles();*/

        .product-item {
            padding: @indent__base 0;

            &:not(:first-child) {
                .lib-css(border-top, 1px solid @minicart__border-color);
            }

            &:first-child {
                padding-top: 0;
            }

            > .product {
                &:extend(.abs-add-clearfix all);
            }
        }

        .product-image-wrapper {
            &:extend(.abs-reset-image-wrapper all);
        }

        .product-item-pricing {
            .label {
                display: inline-block;
                width: 4.5rem;
            }
        }

        .price-minicart {
            margin-bottom: @indent__xs;
        }

        .product {
            > .product-item-photo,
            > .product-image-container {
                float: left;
            }

            .toggle {
                .lib-icon-font(
                @_icon-font-content: @icon-down,
                @_icon-font-size: 28px,
                @_icon-font-line-height: 16px,
                @_icon-font-text-hide: false,
                @_icon-font-position: after,
                @_icon-font-display: block
                );
                cursor: pointer;
                position: relative;

                &:after {
                    position: static;
                    right: @indent__base;
                    top: 0;
                }
            }

            &.active {
                > .toggle {
                    .lib-icon-font-symbol(
                    @_icon-font-content: @icon-up,
                    @_icon-font-position: after
                    );
                }
            }
        }

        .product-item-name {
            font-weight: @font-weight__regular;
            margin: 0 0 @indent__s;

            a {
                .lib-css(color, @link__color);
            }
        }

        .product-item-details {
			align-items: center;
			display: flex;
			flex-wrap: nowrap;
			justify-content: center;
			text-align: left;
			vertical-align: middle;
			width: 100%;

            .price {
                font-weight: @font-weight__bold;
            }

            /*.price-including-tax,
            .price-excluding-tax {
                margin: @indent__xs 0 0;
            }*/

            .weee[data-label] {
                .lib-font-size(11);
                .label {
                    &:extend(.abs-no-display all);
                }
            }

            /*.details-qty {
                margin-top: @indent__s;
            }*/
        }

        .product.options {
            .tooltip.toggle {
                .lib-icon-font(
                @icon-down,
                @_icon-font-size: 28px,
                @_icon-font-line-height: 28px,
                @_icon-font-text-hide: true,
                @_icon-font-margin: -3px 0 0 7px,
                @_icon-font-position: after
                );

                .details {
                    display: none;
                }
            }
        }

        .details-qty,
        .price-minicart {
            .label {
                &:extend(.abs-colon all);
            }
        }

        .item-qty {
            margin-right: @indent__s;
            text-align: center;
            width: 40px;
        }

        .update-cart-item {
            .lib-font-size(11);
            vertical-align: top;
        }

        .subtitle {
            display: none;
        }

        .action {
            &.edit,
            &.delete {
                .lib-icon-font(
                @icon-settings,
                @_icon-font-size: 28px,
                @_icon-font-line-height: 28px,
                @_icon-font-text-hide: true,
                @_icon-font-color: @color-gray19,
                @_icon-font-color-hover: @color-gray19,
                @_icon-font-color-active: @color-gray19
                );
            }

            &.delete {
                .lib-icon-font-symbol(
                @_icon-font-content: @icon-trash
                );
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .minicart-wrapper .block-minicart {
        width: 290px;
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .minicart-wrapper {
        margin-top: @indent__s;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .minicart-wrapper {
        /*margin-left: 13px;*/
		
        .block-minicart {
            .product-item-pricing {
				.details-qty {
                    order: 1;
                    .control {
                        display: flex;
                        button {
                            background: none;
                            border: solid 2px #000;
                            border-radius: 0;
                            width: 60px;
                            font-family: "SofiaPro Black";
                            font-size: 45px;
                            vertical-align: text-top;
                            display: inline-block;
                            color: #000;
                            padding: 13px 0 27px 0;
                            float: left;
                        }
                        input {
                            background: none;
                            border: solid 2px #000;
                            border-radius: 0;
                            width: 60px;
                            height: 60px;
                            font-size: 24px;
                            vertical-align: text-top;
                            display: inline-block;
                            color: #000;
                            margin: 0;
                            float: left;
                            border-right: 0;
                            order: 1;
                        }
                        .less {
                            order: 3;
                        }
                        .more {
                            order: 2;
                            border-right: 0;
                        }
                    }
                }
            }
        }
    }
	
}





//
//  Custom css for the minicart added
//  _____________________________________________


.block-minicart {
	&.empty {
		.subtitle {
			&.empty {
				display: inline-block;
				padding: 34px 0;
				vertical-align: middle;
				width: 100%;
			}
		}
	}
}


#btn-minicart-close {
    height: 30px;
    line-height: 30px;
    right: 18px;
    top: 32px;
    width: 84px;
	
    &::before {
        content: "X";
		font-family: "SofiaPro Black";
		font-size: 36px;
		height: 30px;
		line-height: 23px;
		width: 84px;
    }
}



#minicart-content-wrapper {
	float: left;
    width: 100%;
	
	.minicart-header {
		border-bottom: 2px solid #000000;
		box-sizing: border-box;
		display: none;
		padding: 34px 0;
		text-align: center;
		vertical-align: middle;
		width: 100%;
	}

	.minicart-cont-container {
		display: inline-block;
		max-width: 1156px;
		vertical-align: middle;
		width: 100%;
		margin: 0 auto;
	}

	.minicart-top-cont {
		float: left;
		width: 100%;
	}

	.minicart-label {
		float: left;
		letter-spacing: 1.6px;
		margin: 0 20px;
		text-align: left;
		text-transform: uppercase;
		vertical-align: middle;
		width: 274px;
		
		&.cart {
			margin: 0;
			width: 568px;
		}
		
		&.price {
			margin: 0;
			text-align: right;
		}
	}
	
	.block-content {
		float: left;
		width: 100%;
	}
	
    .minicart-items-wrapper {
        border: 0 none;
		display: inline-block;
		margin: 0;
		overflow-x: auto;
		padding: 0;
		vertical-align: middle;
		width: 100%;
    }

    .cart-right-container {
		float: right;
		width: calc(~'(50% - 10px)');
		
        .items-total {
            align-items: center;
			display: flex;
			flex-wrap: wrap;
			justify-self: center;
			margin: 0;
			vertical-align: middle;
			width: 568px;
			height: 60px;
			
			span {
				float: left;
				letter-spacing: 1.6px;
				margin: 0 20px 0 0;
				text-align: left;
				text-transform: uppercase;
				width: 274px;
				
				&.count {
					float: right;
					font-family: "SofiaPro Black";
					font-size: 36px;
					font-weight: normal;
					height: 30px;
					letter-spacing: 0.72px;
					line-height: 22px;
					margin: 0;
					order: 2;
					text-align: right;					
				}
			}
        }
		
        .subtotal {
            align-items: center;
			display: flex;
			flex-wrap: wrap;
			justify-self: center;
			margin: 0;
			vertical-align: middle;
			width: 568px;
			height: 60px;
			
			span {
				float: left;
				letter-spacing: 1.6px;
				margin: 0 20px 0 0;
				text-align: left;
				text-transform: uppercase;
				width: 274px;
				
				&:after {
					content: none;
				}
			}
			
            .price-container {
				float: right;
				text-align: right;
				width: 274px;
				
				span {
					float: right;
					margin: 0;
					text-align: right;
					width: auto;
					
					&.price {
						font-family: "SofiaPro Black";
						font-size: 36px;
						font-weight: normal;
						height: 30px;
						letter-spacing: 0.72px;
						line-height: 22px;
					}
				}
			}
        }
		
        .actions {
            align-items: center;
			display: flex;
			flex-wrap: wrap;
			justify-self: center;
			margin: 0;
			vertical-align: middle;
			width: 568px;
			height: 64px;
			
            .primary {
				float: left;
				width: auto;
				margin: 0 20px 0 0;

                button {
                    background: #000000 none repeat scroll 0 0;
					border: medium none;
					border-radius: 0;
					box-sizing: border-box;
					color: #ffffff;
					display: inline-block;
					font-size: 24px;
					font-weight: normal;
					letter-spacing: 2.4px;
					line-height: 63px;
					padding: 0 20px;
					text-transform: uppercase;
					vertical-align: middle;
					width: 274px;
					margin: 0;
                }
            }
			
            .secondary {
				float: right;
				margin: 0;
				width: 274px;
				
				a {
					color: #000;
					float: right;
					font-weight: normal;
					letter-spacing: 1.6px;
					padding: 0;
					text-align: right;
					text-decoration: underline;
					text-transform: uppercase;
					vertical-align: middle;
					width: auto;
					
					&:hover {
						text-decoration: none;
					}
                }
            }
        }
    }
	
	.cart-right-col {
		border-bottom: 2px solid #000000;
		float: left;
		padding: 18px 0;
		width: 100%;
		
		&:last-child {
			border-bottom: medium none;
		}
	}
}



#mini-cart {
	display: inline-block;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: 100%;
	
	li {
		&.item {
			border-bottom: 2px solid #000;
			box-sizing: border-box;
			display: inline-block;
			padding: 18px 0;
			vertical-align: middle;
			width: 100%;
			text-align: center;
			position: relative;
		}
	}
	
	.product-item-name {
		float: left;
		font-family: "Courier Sans Regular";
		font-size: 16px;
		letter-spacing: 1.6px;
		line-height: 24px;
		margin: 0;
		max-width: 568px;
		position: static;
		text-align: left;
		transform: none;
		width: 100%;
	}
	
	.product-item-pricing {
		float: left;
		margin: 0 20px;
		width: 274px;
		
		&.minicart-pro-box {
			margin: 0;
			text-align: right;
		}
		
		.pro-price {
			float: right;
			width: auto;
			
			.price-container {
				float: right;
				width: auto;
			}
			
			span {
				float: right;
				margin: 0;
				padding: 0;
				width: auto;
			}
			
			.price {
				display: inline-block;
				font-family: "SofiaPro Black";
				font-size: 36px;
				height: 30px;
				letter-spacing: 0.72px;
				line-height: 25px;
				padding: 0;
				vertical-align: middle;
				width: auto;
				font-weight: normal;
			}
		}
	}
	
	.product {
		&.actions {
			display: inline-block;
			height: 30px;
			margin: 0;
			position: absolute;
			right: 18px;
			text-align: center;
			top: 50%;
			transform: translate(0px, -50%);
			width: 168px;
			
			.primary,
			.secondary {
				float: right;
				text-align: center;
				width: 50%;
			}

			.action {
				&.edit {
					display: none;
				}
				
				&.delete {
					&:before {
						font-size: 44px;
					}
				}
			}
		}
	}	
}


.minicart-wrapper {
	.item-added {
		#minicart-content-wrapper {
			.minicart-header {
				display: inline-block;
			}
		}		
	}
}
