<!-- ko foreach: {data: getCoupons(), as: 'coupon'} -->
<tr class="total_coupons">
    <th class="mark" scope="row">
        <span class="coupon_code" data-bind="text:coupon.coupon_code"></span>
    </th>
    <td class="amount">
        <span class="coupon_amount" data-bind="text:coupon.coupon_amount"></span>
    </td>
</tr>
<!-- /ko -->
