/***27-Nov****/

.catalog-category-view {
	.columns {
		float: right;
		max-width: 862px;
		
		.column.main {
			float: right;
			padding-bottom: 0;
		}
	}
	
	.products.wrapper.products-grid {
		background: #ffffff none repeat scroll 0 0;
		margin: 0;
		padding: 30px 0;
	}
}

.category-view {
	display: inline-block;
	margin-top: 0;
	width: 100%;
	vertical-align: middle;
	
	#layered-filter-block{
		margin-bottom: 0;
		margin-top: 16px;
		position: fixed;
		top: 264px;
		transition: all 0.5s ease;
		
		&.scrolledup {
			top: 204px;
			transition: all 0.5s ease;
		}
	}
	
	.category-image{
		&.top-full-banner{
			float: right;
			width: 862px;
			order: 2;
		}
		.image {
			width: 862px;
		}
	}
}

.columns{
	.main{
		.products-grid{
			&.products{
				float:right;
				width: 862px;
				h1.catrgory-main-heading{
					color:#000;
					text-transform:uppercase;
					.step-text{
						position: relative;
						font-size: 20px;
						background: #000;
						color: #fff;
						letter-spacing: 2px;
						line-height: 20px;
						height: 20px;
						max-width: 176px;
						width: 100%;
						display: inline-block;
						text-align: center;
						vertical-align: text-top;
						margin-top: 15px;
					}
					.category_name{
//							background-image: linear-gradient(to bottom, transparent 70%, #fff 30%);
//							background-position: 0 35px;
						font-family: 'SofiaPro Black';
						font-size: 60px;
						line-height: 70px;
						letter-spacing: 6px;
						margin-left: 5px;
						&.backstrip {
							z-index: 1;
							&::after {
								max-width: calc(~'(100% - 12px)');
								background: #fff;
								height: 20px;
								bottom: 9px;
								left: 3px;
							}
						}
					}
				}
				&.step-1{
					h1.catrgory-main-heading{
						background: #56299b;
						padding-bottom: 10px;
						margin: 0;
					}
				}

				&.step-2{
					h1.catrgory-main-heading{
						background: #DF231D;
						padding-bottom: 10px;
						margin: 0;
					}
				}

				&.step-3{
					h1.catrgory-main-heading{
						background: #9BCFCB;
						padding-bottom: 10px;
						margin: 0;
					}
				}

				&.step-4{
					h1.catrgory-main-heading{
						background: #98ADE3;
						padding-bottom: 10px;
						margin: 0;
						.backstrip {
							&::after {
								width: calc(~'(100% - 6px)');
								left: 9px;
							}
						}
					}
				}
				.product-items{
					&.products{
						width:100%;
						border-bottom:2px solid #707070;
						.product-item{
							width: 428px;
							padding-bottom: 21px;
							margin-bottom: 0;
							padding-top: 40px;
							&:nth-child(odd){
								border-right:2px solid #707070;
								.product-item-info{
								padding-right: 58px;
								}
							}
							&:nth-child(even){
								.product-item-info{
									padding-left: 58px;
								}
							}
							.product-item-info{
								width: 100%;
								box-sizing: border-box;
								position:relative;
								padding-bottom: 2rem;
								.product-item-photo{
									width: 100%;
									display: block;
									text-align: right;
								}
								
							}
							.product-item-details{
								position:relative;
								padding-top: 21px;
								
								.product-short-dec{
									letter-spacing: 1.6px;
									padding-bottom: 21px;
									
									p{
										margin:0;
									}
								}
								
								.product-feat {
									text-align: center;
									border: 2px solid #000;
									padding: 12px 0;
									
									p{
										margin:0;
										text-align: center;
									}
								}
								
								.stamped-product-reviews-badge{
									display: none;
								}
								
								.pro_price_sec{
									.product-volume-attr{
										display: none;
									}
									.price-final_price{
										margin:0;
									}
								}
								
								.pro_action{
									border: 2px solid #000;
									border-top: 0;
									display: flex;
									
									.pro_price_sec{
										width: 167px;
										border-right: 2px solid #000;
										display: flex;
										align-items: center;
										justify-content: center;
										padding-top: 20px;
										padding-bottom: 20px;
									}
									
									.amxnotif-container{
										width: 64%;
										
										.amxnotif-block{
											margin: 0;
											font-size: 2rem;
											text-align:center;
											
											a{
												color: #000;
												font-weight: bold;
												padding: 0.54rem 0;
												display: block;
											}
										}
									}
									
									.product-item-inner{
										width: 65%;
										display: flex;
										
										.product-item-actions{
											width: 33%;
											border-right: 2px solid;
											margin: 0;
											display: flex;
											align-items: center;
											justify-content: center;
											padding: 0.3rem 0;
											
											button.action{
												&.tocart{
													background: transparent;
													padding:0;
													border:0;
													
													img{
														width: 100%;
														max-width:42px;
													}
													
													&:hover{
														background:transparent;
													}
													
													&:focus{
														background:transparent;
													}
												}
											}
										}
										
										.eye-icon{
											width: 33%;
											border-right: 2px solid;
											margin: 0;
											display: flex;
											align-items: center;
											justify-content: center;
											padding: 0.3rem 0;
										}

										.wishlist_links{
											width: 33%;
											display: flex;
											justify-content: center;
											align-items: center;
											
											a.action{
												&.towishlist{
													display: block;
													text-align: center;
													
													i{
														display: none;
													}
													
													&::before{
														content:'';
														background:url('../images/Heart.svg');
														width: 40px;
														height:35px;
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.products-grid.step-1{
	.product-item-name{
		top: -149px;
		left: -86px;  
	}
}

.products-grid.step-2{
	.product-item:nth-child(1n){
		.product-item-name{
			top: -183px;
			left: -50px;
			width: 203px;
			z-index: 1;
		}
	}
	.product-item:nth-child(2n){
		.product-item-name{
			top: -195px;
			left: -136px;
			width: auto;
		}
	}
}

.products-grid.step-3{
	.product-item:nth-child(1n){
		.product-item-name{
			top: -220px;
			left: -154px;  
		}
	}
	.product-item:nth-child(2n){
		.product-item-name{
			top: -161px;
			left: -99px;
		}
	}
	.product-item:nth-child(1) {
		.product-feat {
			padding: 24px 0 !important;
		}
	}
}

.products-grid.step-4{
	padding-bottom: 30px;
	.product-item:nth-child(1n){
		.product-item-name{
		   top: -181px;
			left: -48px;
			width: 200px;
			z-index: 1;
		}
	}
	.product-item:nth-child(2n){
		.product-item-name{
			top: -404px;
			left: -271px;
			z-index: 1;
			width: auto;
		}  
	}
}

.product-item {
	.product-item-name{
		position: absolute;
		text-transform: uppercase;
		transform: rotate(-90deg);
		font-size: 60px;
		font-family: 'SofiaPro Black';
		line-height: 72px;
		letter-spacing: 6px;
		a {
			color: #000;
			&:hover {
				text-decoration: none;
			}
		}
	}
}




//
//  Custom css for Product Detailed Page
//  ------------------------------------------------------------------------------------------


.catalog-product-view {
	.page-main {
		max-width: 100%;
		padding: 0;
	}
	
	.column {
		&.main {
			padding: 0;
		}
	}
	
	.product-info-encaptulate {
		.product-info-main {
			float: left;
			width: 100%;
		}
	}
}


.product-media-encaptulate {
    float: right;
    width: 862px;
}

.product-media-container {
	display: inline-block;
	text-align: right;
	vertical-align: middle;
	width: 100%;
		
	img {
		float: right;
		max-width: 100%;
		width: 862px;
	}
	
	.product {
		&.media {
			margin: 0;
			width: 100%;
		}
	}
	
	.action-skip-wrapper {
		display: none;
	}
	
	.fotorama__caption {
		display: none;
	}
}


.product-info-encaptulate {
	background: #fff none repeat scroll 0 0;
    clear: both;
    float: right;
    padding-bottom: 98px;
    width: 862px;
	
	.product-upper-container {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
	}
}


.product-info-encaptulate-container {
    float: left;
    width: 100%;
}


.pro-info-block {
    border-bottom: 2px solid #707070;
    float: left;
    padding: 40px 0;
    width: 100%;
	
	.pro-bg-title {
		background: #ffa300 none repeat scroll 0 0;
		box-sizing: border-box;
		display: inline-block;
		margin: 0;
		padding: 20px 38px 28px;
		vertical-align: middle;
		width: 100%;
		cursor: pointer;
		
		.backstrip {
			float: left;
			font-family: "SofiaPro Black";
			font-size: 36px;
			font-weight: normal;
			letter-spacing: 3.6px;
			line-height: 32px;
			text-transform: uppercase;
			vertical-align: middle;
			width: auto;
			z-index: 1;
			
			&:after {
				background: #ffffff none repeat scroll 0 0;
				height: 15px;
			}
		}
		
		.content-tab-toggler {
			float: right;
			height: 32px;
			line-height: 32px;
			text-align: center;
			width: 32px;
			transition: transform 0.5s ease 0s;
			
			&:after {
				content: "-";
				font-family: "SofiaPro Black";
				font-size: 60px;
				line-height: 14px;
			}
			
			&.plus {
				transform: rotate(180deg);
				
				&:after {
					content: "+";
					line-height: 0;
				}
			}
		}
	}
	
	.product-name-below-desc {
		display: inline-block;
		font-size: 24px;
		letter-spacing: 2.4px;
		line-height: 20px;
		margin: 40px 0 34px;
		text-transform: uppercase;
		vertical-align: middle;
		width: 100%;
		
		p {
			display: inline-block;
			margin: 0;
			width: 100%;
		}
	}
	
	.product-info-content {
		display: inline-block;
		max-height: 700px;
		overflow-y: hidden;
		-webkit-transition: max-height 0.5s ease-in-out;
		-moz-transition: max-height 0.5s ease-in-out;
        -o-transition: max-height 0.5s ease-in-out;
        transition: max-height 0.5s ease-in-out;
		vertical-align: middle;
		width: 100%;
		
		&.close {
			max-height: 0;
		}
	}
	
	.product-short-description-conatiner {
		margin: 0 0 24px;
	}

	.product-short-description {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		
		p {
			display: inline-block;
			margin: 0;
			vertical-align: middle;
			width: 100%;
		}
	}
	
	&.pro-lowdown-block {
		padding-bottom: 25px;
	}
	
	&.pro-ingredients-block {
		padding-bottom: 22px;
	}
}



.lowdown-list {
	display: inline-block;
	list-style: outside none none;
	margin: 17px 0 0;
	padding: 0;
	vertical-align: middle;
	width: 100%;
	
	li {
		align-self: center;
		display: flex;
		flex-wrap: wrap;
		float: left;
		justify-content: center;
		margin: 15px 0;
		padding: 0;
		width: 50%;
	}
	
	img {
		align-self: center;
		display: inline-block;
		max-width: 75px;
		vertical-align: middle;
		width: auto;
	}
	
	span {
		align-self: center;
		float: left;
		letter-spacing: 1.6px;
		margin: 0 0 0 24px;
		text-transform: uppercase;
		width: calc(~'(100% - 100px)');
	}
}



.key-ingredients-list {
    border: 2px solid #707070;
    box-sizing: border-box;
    display: inline-block;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: 100%;
	border-top: none;
	
	li {
		border-right: 2px solid #707070;
		box-sizing: border-box;
		float: left;
		margin: 0;
		padding: 5px;
		text-align: center;
		width: 25%;
		
		&:last-child {
			border: medium none;
		}
		
		img {
			display: inline-block;
			vertical-align: middle;
			width: auto;
			padding: 15px 0 10px;
			max-height: 120px;
		}
		
		span {
			align-self: center;
			display: flex;
			flex-wrap: wrap;
			float: left;
			justify-content: center;
			min-height: 60px;
			vertical-align: middle;
			width: 100%;
		}
		
		label {
			align-self: center;
			float: left;
			letter-spacing: 1.6px;
			text-transform: uppercase;
			width: 100%;
		}
	}
}



.purpose-list {
    border: 2px solid #707070;
    box-sizing: border-box;
    display: inline-block;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: 100%;
	border-top: none;
	
	li {
		border-right: 2px solid #707070;
		box-sizing: border-box;
		float: left;
		margin: 0;
		padding: 5px;
		text-align: center;
		width: 33.333333%;
		
		&:last-child {
			border: medium none;
		}
		
		img {
			display: inline-block;
			vertical-align: middle;
			width: auto;
			padding: 32px 0 0;
			max-height: 120px;
		}
		
		span {
			align-self: center;
			display: flex;
			flex-wrap: wrap;
			float: left;
			justify-content: center;
			min-height: 48px;
			vertical-align: middle;
			width: 100%;
			padding: 0 0 6px;
		}
		
		label {
			align-self: center;
			float: left;
			letter-spacing: 1.6px;
			text-transform: uppercase;
			width: 100%;
		}
	}
}



.htu-title {
    background: #56299b none repeat scroll 0 0;
    box-sizing: border-box;
    display: inline-block;
    letter-spacing: 1.6px;
    margin: 15px 0 0;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    width: 100%;
}

.htu-step-list {
    border: 2px solid #707070;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    width: 100%;
	
	li {
		border-bottom: 2px solid #707070;
		border-right: 2px solid #707070;
		box-sizing: border-box;
		display: flex;
		flex-wrap: wrap;
		float: left;
		margin: 0;
		width: 50%;
		min-height: 110px;
		
		&:nth-child(2n) {
			border-right: 0 none;
		}
		
		&:last-child {
			border-bottom: medium none;
		}
	}
	
	.step-count {
		align-items: center;
		border-right: 2px solid #707070;
		color: #56299b;
		display: flex;
		flex-wrap: wrap;
		float: left;
		font-family: "SofiaPro Black";
		font-size: 36px;
		justify-content: center;
		letter-spacing: 3.6px;
		line-height: 43px;
		text-align: center;
		width: 96px;
	}

	.step-info {
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-wrap: wrap;
		float: left;
		justify-content: left;
		width: calc(~'(100% - 100px)');
		
		img {
			display: inline-block;
			max-height: 70px;
			padding: 0 15px;
			vertical-align: middle;
			width: auto;
		}
	}
	
	.step-cont {
		float: left;
		font-size: 20px;
		padding: 12px 0;
		width: calc(~'(100% - 140px)');
	}	
}


.pro-ingredients-set {
    box-sizing: border-box;
    display: inline-block;
    font-size: 20px;
    padding: 24px 0 0;
    width: 100%;
	
	span {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
	}
}




/*******************for the product Video Section*******************/

.attribute-video {
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
    width: 100%;
	background: #ffffff none repeat scroll 0 0;
	
	.pro-video {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
	}
	
	.playpause {
		display: inline-block;
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		width: auto;
		z-index: 1;
	}

	.video-play-btn {
		border: 2px solid #000000;
		display: inline-block;
		max-width: 100%;
		vertical-align: middle;
		width: auto;
	}
}



/*******************for the product review Section*******************/


.pro-review-section {
    background: #ffdeb5 none repeat scroll 0 0;
    display: inline-block;
    margin: 0;
    width: 100%;
	vertical-align: middle;
}

.pro-review-sec {
    float: right;
    width: 862px;
}

.pro-review-title {
    background: #ffa300 none repeat scroll 0 0;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    padding: 26px 38px 28px;
    vertical-align: middle;
    width: 100%;
	
	.backstrip {
		float: left;
		font-family: "SofiaPro Black";
		font-size: 36px;
		font-weight: normal;
		letter-spacing: 3.6px;
		line-height: 20px;
		text-transform: uppercase;
		vertical-align: middle;
		width: auto;
		z-index: 1;
		height: 26px;
		
		&:after {
			background: #ffffff none repeat scroll 0 0;
			height: 15px;
		}
	}
}

.pro-review-cont {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
	
	#stamped-main-widget {
		display: inline-block;
		margin: 40px 0 0;
		overflow: visible;
		vertical-align: middle;
		width: 100%;
		
		.stamped-container {
			display: inline-block;
			font-family: "Courier Sans Regular";
			margin: 0 !important;
			width: 100%;
		}

		.stamped-header {
			border-bottom: 2px solid #707070;
			box-sizing: border-box;
			display: inline-block;
			margin: 0 0 40px !important;
			padding: 0 0 40px;
			width: 100%;
		}

		.stamped-summary {
			float: right;
			width: 100%;
		}

		.summary-overview {
			margin: 0;
			position: absolute;
			right: 0;
			top: -106px;
			z-index: 1;
			max-width: 230px;
			width: auto !important;
			
			.stamped-fa {
				height: 24px;
				overflow: hidden;
				
				&:before {
					color: #000000;
					content: "*";
					font-family: "Courier Sans Regular" !important;
					font-size: 57px !important;
					height: 24px;
					line-height: 40px;
				}
			}
			
			.stamped-fa-star-o::before {
				color: #ffffff;
			}
		}

		.stamped-summary-text {
			line-height: 20px;
			margin: 0;
		}

		.stamped-summary-caption {
			line-height: 18px;
			vertical-align: top;
		}
		
		.stamped-summary-ratings {
			display: none;
		}
		
		.stamped-summary-actions {
			display: inline-block;
			margin: 0 !important;
			vertical-align: middle;
			width: auto;
			
			a,
			span {
				background: #000000 none repeat scroll 0 0;
				border: medium none;
				color: #ffffff;
				font-size: 16px;
				font-weight: normal;
				text-transform: uppercase;
				border-radius: 0;
				
				&:before {
					box-sizing: border-box;
					position: relative;
					top: 1px;
				}
				
				&.stamped-summary-actions-newreview {
					&:before {
						top: 3px;
					}
				}
			}
		}
		
		[data-count="0"] {
			.summary-overview {
				height: 26px;
				top: -92px;
			}
			
			.stamped-summary-starrating {
				float: left;
				vertical-align: top;
			}
			
			.stamped-reviews,
			.stamped-questions {
				border: none;
			}
		}
		
		.stamped-empty-state {
			background: #ffffff none repeat scroll 0 0;
			box-sizing: border-box;
			color: #000000;
			float: left;
			font-size: 16px;
			letter-spacing: 0.4px;
			padding: 20px;
			text-align: center;
			width: 100%;
			margin: 50px 0;
			border: 2px solid #000000;
			
			& > div {
				color: #000000;
				display: inline-block;
				font-size: 16px;
				letter-spacing: 0.4px;
				line-height: 24px;
				margin: 0;
				vertical-align: middle;
				width: 100%;
			}
			
			&::before {
				color: #c1c0c0;
				content: "*****";
				font-family: "Courier Sans Regular";
				font-size: 57px;
				margin: 10px 0;
			}
		}		
		
		.stamped-content {
			float: left;
			margin: 0 0 42px;
			width: 100%;
		}

		.stamped-tab-container {
			float: left;
			width: 100%;
		}

		.stamped-tabs {
			border-bottom: 1px solid #707070;
			
			li {
				font-family: "SofiaPro Black";
				font-size: 14px;
				font-weight: normal;
				letter-spacing: 1.8px;
				text-transform: uppercase;
				
				&:after {
					background: #ffffff none repeat scroll 0 0;
				}
			}
		}

		.stamped-content {
			form {
				border-bottom: 2px solid #707070;
				display: inline-block;
				padding: 30px 0 0;
				width: 100%;
				
				fieldset {
					float: left;
					margin: 0;
					text-align: left;
					width: 100%;
				}
				
				.spr-form-contact-name,
				.spr-form-contact-email {
					box-sizing: border-box;
					float: left;
					max-width: 100%;
					padding-right: 10px;
					width: 50%;
				}
				
				.spr-form-contact-email {
					padding-left: 10px;
					padding-right: 0;
				}
				
				.stamped-form-contact-name,
				.stamped-form-contact-email {
					box-sizing: border-box;
					float: left;
					max-width: initial;
					padding-right: 10px;
					width: 50%;
				}
				
				.stamped-form-contact-email {
					padding-left: 10px;
					padding-right: 0;
				}
				
				label {
					float: left;
					font-size: 18px;
					letter-spacing: 0.45px;
					line-height: 28px;
					margin: 0 0 10px;
					text-transform: capitalize;
					width: 100%;
				}
				
				input {
					margin: 0 0 20px;
					
					&.stamped-button {
						border: medium none;
						box-sizing: border-box;
						display: inline-block;
						font-family: "Courier Sans Regular";
						font-size: 24px;
						font-weight: normal;
						letter-spacing: 2.4px;
						line-height: 63px;
						margin: 0;
						min-width: 275px;
						padding: 0;
						text-transform: uppercase;
						vertical-align: middle;
						width: auto;
					}
					
					&#reviewRating {
						display: none;
					}
				}
				
				textarea {
					margin: 0 0 20px;
				}
				
				.stamped-form-input {
					float: left;
					
					&.stamped-starrating {
						background: #ffffff none repeat scroll 0 0;
						padding: 6px 6px 0;
					}
				}
			}
		}

		.question-form-wrapper {
			float: left;
			width: 100%;
		}
		
		.stamped-messages {
			float: left;
			width: 100%;
		}
		
		.stamped-thank-you {
			background: #ffffff none repeat scroll 0 0;
			border: medium none;
			box-sizing: border-box;
			float: left;
			margin: 30px 0;
			width: 100%;			
		}
		
		.stamped-share-links {
			 a {
				background: #000000 none repeat scroll 0 0;
				border: medium none;
				color: #ffffff;
				letter-spacing: 0.45px;
				text-transform: uppercase;
			}

			i {
				line-height: 16px;
				vertical-align: middle;
			}
		}
		
		.stamped-reviews {
			background: #ffffff none repeat scroll 0 0;
			border: 2px solid #000000;
			box-sizing: border-box;
			float: left;
			width: 100%;
			
			.stamped-pagination {
				float: left;
				width: 100%;
				
				a {
					background: #000000 none repeat scroll 0 0;
					border-radius: 50%;
					color: #ffffff;
					display: inline-block;
					font-weight: normal;
					height: 30px;
					line-height: 30px;
					margin: 0 2px;
					padding: 0;
					text-align: center;
					width: 30px;
				}
				
				.active {
					a {
						background: #ececec none repeat scroll 0 0;
						color: #000000;
					}
				}
			}
		}

		.stamped-review {
			align-items: center;
			border-bottom: 2px solid #707070;
			display: flex;
			flex-wrap: wrap;
			float: left;
			justify-content: center;
			margin: 0;
			padding: 0;
			position: relative;
			width: 100%;
			
			.stamped-review-header {
				box-sizing: border-box;
				float: left;
				width: 20%;
			}
			
			.stamped-review-content {
				border-left: 2px solid #707070;
				box-sizing: border-box;
				float: left;
				margin: -1px 0 0;
				width: 80%;
				clear: none;
			}
			
			.stamped-review-body {
				box-sizing: border-box;
				float: left;
				padding: 18px 18px 75px;
				width: 100%;
			}

			h3.stamped-review-header-title {
				display: inline-block;
				font-family: "SofiaPro Black";
				font-size: 24px;
				font-weight: normal;
				letter-spacing: 1.8px;
				line-height: 36px;
				margin: 0 0 15px;
				text-transform: none;
				vertical-align: middle;
				width: 100%;
			}

			.stamped-review-content-body {
				display: inline-block;
				font-size: 16px;
				letter-spacing: 0.4px;
				line-height: 24px;
				margin: 0 0 36px;
				padding: 0;
				width: 100%;
				min-height: 58px;
			}

			.stamped-review-image {
				display: none;
			}

			.stamped-review-footer {
				display: none;
				float: left;
				font-size: 14px;
				letter-spacing: 0.45px;
				margin: 0 0 18px;
				opacity: 1;
				width: 100%;
			}
			
			&:last-child {
				border-bottom: medium none;
			}
		}
		
		.stamped-review-header {	
			.stamped-review-avatar {
				background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
				border-radius: 0;
				float: left;
				margin: 0 0 15px;
				padding: 0 0 30px !important;
				text-align: center;
				width: 100%;
				
				&:before {
					bottom: 6px;
					font-size: 30px !important;
					left: 50%;
					right: auto;
					transform: translate(-50%, 0px);
				}
			}
			
			.stamped-review-avatar-content {
				color: #000000;
				display: inline-block;
				font-family: "SofiaPro Black";
				font-size: 60px;
				font-weight: normal;
				height: auto;
				letter-spacing: 6px;
				line-height: 72px;
				margin: 0;
				text-transform: uppercase;
				vertical-align: middle;
				width: auto;
			}

			.created {
				bottom: 12px;
				box-sizing: border-box;
				margin: 0;
				padding: 0;
				position: absolute;
				right: 18px;
			}

			.author {
				box-sizing: border-box;
				float: left;
				font-size: 16px;
				font-weight: normal;
				letter-spacing: 0.4px;
				line-height: 24px;
				margin: 0;
				padding: 0;
				text-align: center;
				text-transform: uppercase;
				width: 100%;
			}
			
			.stamped-verified-badge {
				box-sizing: border-box;
				float: left;
				font-size: 16px;
				font-weight: normal;
				letter-spacing: 0.45px;
				line-height: 24px;
				margin: 5px 0 0;
				padding: 0;
				text-align: center;
				width: 100%;
			}
			
			.review-location {
				box-sizing: border-box;
				color: #000000;
				float: left;
				font-size: 13px;
				letter-spacing: 0.45px;
				line-height: 42px;
				margin: 0;
				padding: 0;
				text-align: center;
				width: 100%;
				
				.stamped-location-flag {
					display: inline-block;
					margin: 0 5px 0 0;
					vertical-align: middle;
					
					img {
						display: inline-block;
						margin: 0 !important;
						vertical-align: middle;
					}
				}
			}
			
			.stamped-review-header-starratings {
				border: 2px solid #000000;
				bottom: -1px;
				display: inline-block;
				height: 72px;
				left: calc(~'(20% + 18px)');
				line-height: 75px;
				margin: 0;
				padding: 0 30px;
				position: absolute;
				vertical-align: middle;
				width: auto;
				border-bottom-width: 1px;

				.stamped-fa {
					height: 34px;
					overflow: hidden;
					
					&:before {
						color: #000000;
						content: "*";
						font-family: "Courier Sans Regular" !important;
						font-size: 57px !important;
						height: 24px;
						line-height: 40px;
					}
				}
				
				.stamped-fa-star-o::before {
					color: #c1c0c0;
				}				
			}
		}
		
		 #stamped-sort-select {
			font-size: 13px;
			margin: 30px 0;
		}
		
		.stamped-questions {
			background: #ffffff none repeat scroll 0 0;
			border: 2px solid #000000;
			box-sizing: border-box;
			float: left;
			margin: 30px 0 !important;
			width: 100%;
			
			.stamped-review {
				&:last-child {
					border-bottom: medium none navy;
				}
			}

			.stamped-review-reply {
				background: #e6e6e6 none repeat scroll 0 0;
				border-left: medium none;
				box-sizing: border-box;
				clear: both;
				float: right;
				margin: 0;
				padding: 18px;
				width: 100%;
			}
			
			.stamped-review-header {
				.created {
					display: none;
				}
			}
			
			.stamped-review-header-byline {
				display: none;
				float: left;
				font-family: "SofiaPro Black";
				font-size: 24px;
				font-weight: normal;
				letter-spacing: 1.8px;
				margin: 0 0 15px !important;
				text-transform: uppercase;
				width: 100%;
			}
			
			.stamped-review-reply-body {
				float: left;
				font-size: 18px;
				letter-spacing: 0.45px;
				line-height: 28px;
				margin: 10px 0;
				width: 100%;
			}
			
			.stamped-review-content-body {
				padding: 18px;
			}
		}
	}
}



/*******************for the product sidebar section*******************/



.product-info-customsidebar {
    float: left;
    width: calc(~'(100% - 920px)');
	margin: 40px 0 0 -30px;
	max-width: 236px;
	position: fixed;
	top: 456px;
	z-index: 2;
	transition: all 0.5s ease 0s;
	
	&.scrolledup {		
		transition: all 0.5s ease 0s;
		top: 394px;
	}
	
	.product-add-form {
		float: left;
		width: 100%;
		
		form {
			float: left;
			width: 100%;
		}
	}

	.box-tocart {
		float: left;
		width: 100%;
		background: #fff none repeat scroll 0 0;
		
		.fieldset {
			display: inline-block;
			letter-spacing: 0;
			margin: 0;
			vertical-align: middle;
			width: 100%;
		}
		
		.field {
			&.qty {
				float: left;
				margin: 0;
				width: 100%;
				
				.label {
					display: none;
				}
				
				.control {
					float: left;
					margin: 0;
					width: 100%;
				}
				
				button {
					background: #ffffff none repeat scroll 0 0;
					border: 2px solid #000000;
					border-radius: 0;
					box-sizing: border-box;
					color: #000000;
					float: right;
					font-family: "SofiaPro Black";
					font-size: 61px;
					font-weight: normal;
					height: 80px;
					line-height: 80px;
					max-width: 80px;
					padding: 0;
					width: 33.3333%;
					
					&:hover {
						background: #000000 none repeat scroll 0 0;
						color: #ffffff;
					}
					
					&#increment {
						border-right-width: 0;
					}
					
					span {
						display: inline-block;
						line-height: 52px;
						vertical-align: top;
						width: 100%;
					}
				}
				
				input.qty {
					border-right-width: 0;
					box-sizing: border-box;
					float: left;
					font-size: 28px;
					height: 80px;
					letter-spacing: 0.48px;
					margin: 0;
					max-width: 80px;
					padding: 0;
					text-align: center;
					width: 33.3333%;
				}
			}
		}
		
		.price-box-container {
			border: 2px solid #000000;
			box-sizing: border-box;
			float: left;
			margin: 0;
			padding: 0;
			width: 100%;
			border-top-width: 0;
			text-align: center;
		}
		
		.price-box {
			float: left;
			width: 100%;
			
			span {
				box-sizing: border-box;
				display: inline-block;
				height: 76px;
				vertical-align: top;
				width: auto;
				
				&.price {
					font-size: 30px;
					letter-spacing: 0.6px;
					line-height: 76px;
					vertical-align: middle;
				}
			}
		}
		
		&.notify-only {
			.price-box-container {
				border-top-width: 2px;
			}
		}
	}
	
	.pro-action-section {
		float: left;
		width: 100%;
		
		.no-actions {
			border: 2px solid #000000;
			box-sizing: border-box;
			display: inline-block;
			height: 80px;
			margin: 0;
			padding: 0;
			text-align: center;
			vertical-align: middle;
			width: 100%;
			border-top-width: 0;
		}
		
		#notify-product-btn {
			border: medium none;
			display: inline-block;
			float: none;
			height: auto;
			line-height: 78px;
			margin: 0;
			max-width: 100%;
			vertical-align: middle;
			width: 100%;
			
			span {
				color: #000000;
				display: inline-block;
				font-family: "Courier Sans Regular";
				font-size: 18px;
				letter-spacing: 0.4px;
				line-height: 32px;
				width: 100%;
			}
		}
	}

	.actions {
		border: 2px solid #000000;
		box-sizing: border-box;
		float: left;
		width: 80px;
		border-top-width: 0;
	}

	button.tocart {
		background: #ffffff none repeat scroll 0 0;
		border: medium none;
		border-radius: 0;
		height: 78px;
		padding: 0;
		width: 76px;
		
		&:hover {
			background: #000000 none repeat scroll 0 0;
			border: medium none;
			
			img {
				filter: brightness(100%) invert(100%);
			}
		}
		
		img {
			display: inline-block;
			vertical-align: middle;
			width: auto;
		}
	}
	
	.action {
		&.towishlist {
			border: 2px solid #000;
			box-sizing: border-box;
			float: left;
			width: 80px;
			border-top-width: 0;
			border-left-width: 0;
			text-align: center;
			line-height: 78px;
			background: #fff none repeat scroll 0 0;
			
			img {
				display: inline-block;
				vertical-align: middle;
				max-width: 100%;
			}
			
			&:hover {
				background: #000000 none repeat scroll 0 0;
				
				img {
					filter: brightness(100%) invert(100%);
				}
			}
		}
	}

}




/*******************For the related product section on Product Detail Page*******************/


.linked-product-collection {
    background: #fff none repeat scroll 0 0;
    display: inline-block;
    padding-bottom: 72px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}


.catalog-product-view {
	#related-product-sec {
		float: right;
		width: 862px;
		
		.block-title {
			border-bottom: 2px solid #707070;
			float: left;
			margin: 0 0 40px;
			text-align: left;
			width: 100%;
			
			strong {
				float: left;
				font-family: "SofiaPro Black";
				font-size: 36px;
				font-weight: normal;
				letter-spacing: 3.6px;
				line-height: 30px;
				margin: 72px 0 42px;
				text-transform: uppercase;
				width: auto;
				
				&:after {
					background: #56299b none repeat scroll 0 0;
					max-width: calc(~'(100% - 3px)');
				}
			}
		}
					
		.block-content {
			float: left;
			width: 100%;
			
			.products-grid {
				float: left;
				margin: 0;
				width: 100%;
			}
		}
		
		.product-items {
			border-bottom: 2px solid #707070;
			display: inline-block;
			margin: 0;
			width: 100%;
			padding: 22px 0 0;
			
			.product-item {
				box-sizing: border-box;
				margin: 0;
				padding: 0 0 40px 58.5px;
				width: 50%;
				
				&:nth-child(odd){
					border-right:2px solid #707070;
					padding: 0 58.5px 40px 0;
				}
			}
		}
		
		.product-item-info {
			display: inline-block;
			position: relative;
			vertical-align: middle;
			width: 100%;
			margin: -22px 0 0;
			padding: 0;
		}
			
		.product-item-photo {
			display: inline-block;
			text-align: right;
			vertical-align: middle;
			width: 100%;
			
			.product-image-container {
				vertical-align: middle;
				width: 100%;
			}
		}
		
		.product-item-details {
			display: inline-block;
			padding: 30px 0 0;
			position: relative;
			width: 100%;
			
			.product-item-name {
				display: inline-block;
				font-family: "SofiaPro Black";
				font-size: 60px;
				left: -120px;
				letter-spacing: 6px;
				line-height: 60px;
				margin: 0;
				position: absolute;
				text-transform: uppercase;
				top: -162px;
				transform: rotate(-90deg);
				vertical-align: middle;
				white-space: nowrap;
				width: 260px;
				word-wrap: initial;
				z-index: 1;
				
				 a {
					display: inline-block;
					font-weight: normal;
					vertical-align: middle;
					width: auto;
				}
				
				&.product-midnightcourage {
					left: -78px;
					line-height: 72px;
					top: -200px;
					
					a {
						text-align: left;
						white-space: normal;
						width: 350px;
						word-wrap: break-word;
					}
				}
			}
			
			.product-short-dec {
				display: inline-block;
				padding-bottom: 21px;
				vertical-align: middle;
				width: 100%;
				
				p {
					margin:0;
					display: inline-block;
					vertical-align: middle;
					width: 100%;
				}
			}
			
			.product-feat {
				border: 2px solid #000;
				box-sizing: border-box;
				display: inline-block;
				padding: 12px 0;
				text-align: center;
				width: 100%;
				
				p{
					margin:0;
				}
			}
			
			.stamped-product-reviews-badge{
				display: none;
			}
			
			
			
			.pro_action {
				border: 2px solid #000;
				border-top: none;
				display: flex;
				
				.pro_price_sec {
					width: 167px;
					border-right: 2px solid #000;
					display: flex;
					align-items: center;
					justify-content: center;
					padding-top: 20px;
					padding-bottom: 20px;
				}
				
				.amxnotif-container {
					width: 64%;
					
					.amxnotif-block {
						margin: 0;
						font-size: 2rem;
						text-align:center;
						
						a {
							color: #000;
							font-weight: bold;
							padding: 0.54rem 0;
							display: block;
						}
					}
				}
				
				.product-item-inner {
					width: 65%;
					display: flex;
				}
			}
			
			.pro_price_sec{
				.product-volume-attr{
					display: none;
				}
				.price-final_price{
					margin:0;
				}
			}
			
			.product-item-actions{
				width: 33%;
				border-right: 2px solid;
				margin: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 0.3rem 0;
				
				button.action{
					&.tocart{
						background: transparent;
						padding:0;
						border:0;
						
						img{
							width: 100%;
							max-width:50px;
						}
						
						&:hover{
							background:transparent;
						}
						
						&:focus{
							background:transparent;
						}
					}
				}
			}
			
			.eye-icon{
				width: 33%;
				border-right: 2px solid;
				margin: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 0.3rem 0;
			}

			.wishlist_links{
				width: 33%;
				display: flex;
				justify-content: center;
				align-items: center;
				
				a.action{
					&.towishlist{
						display: block;
						text-align: center;
						
						i{
							display: none;
						}
						
						&::before{
							content:'';
							background:url('../images/Heart.svg');
							width: 40px;
							height:35px;
						}
					}
				}
			}

			.stock-unavailable-staus {
				box-sizing: border-box;
				display: inline-block;
				padding: 18px 0;
				text-align: center;
				vertical-align: middle;
				width: 100%;
				
				span {
					display: inline-block;
					line-height: 32px;
					vertical-align: middle;
					width: 100%;
				}
			}
		}
	}
}

.amxnotif-block  {
    a {
        font-family: 'SofiaPro Black';
        text-transform: uppercase;
        text-decoration: none;
        vertical-align: middle;
        display: block !important;
        padding-top: 20px !important;
        letter-spacing: 1.6px
    }
}






/*******************Solo Css for the product wise*******************/

.product-reset {	
	.pro-info-block {
		.pro-bg-title {
			background: #56299b none repeat scroll 0 0;
		}
	}
	
	.htu-step-list {
		&.height-up {
			li {
				min-height: 160px;
			}
		}
	}
}



.product-light-up {
	.htu-title {
		background: #ffa300 none repeat scroll 0 0;
	}
	
	.htu-step-list {
		.step-count {
			color: #ffa300;
		}
		
		li {
			&:nth-child(3) {
				border-bottom: medium none;
			}
		}
	}
	
	&.catalog-product-view #related-product-sec .block-title strong::after {
		background: #ffa300 none repeat scroll 0 0;
	}
}



.product-heroine {
	.pro-info-block {
	
		.pro-bg-title {
			background: #df231d none repeat scroll 0 0;
		}
		
		.key-ingredients-list {
			li {
				width: 20%;
			}
		}

		.htu-title {
			background: #df231d none repeat scroll 0 0;
		}
		
		.htu-step-list {
			.step-count {
				color: #df231d;
			}
			
			li {
				&:nth-child(3) {
					border-bottom: medium none;
				}
			}
		}
	}
	
	&.catalog-product-view #related-product-sec .block-title strong::after {
		background: #df231d none repeat scroll 0 0;
	}
}


.product-the-most {
	.pro-info-block {
	
		.pro-bg-title {
			background: #9bcfcb none repeat scroll 0 0;
		}
		
		.htu-title {
			background: #9bcfcb none repeat scroll 0 0;
		}
		
		.htu-step-list {
			.step-count {
				color: #9bcfcb;
			}
			
			li {
				&:nth-child(1) {
					border-bottom: medium none;
				}
			}
		}
	}
	
	&.catalog-product-view #related-product-sec .block-title strong::after {
		background: #9bcfcb none repeat scroll 0 0;
	}
}



.product-goals {
	.pro-info-block {
	
		.pro-bg-title {
			background: #D7908C none repeat scroll 0 0;
		}
		
		.key-ingredients-list {
			li {
				width: 20%;
				
				span {
					min-height: 86px;
				}
				
				label {
					letter-spacing: 0.4px;
				}
			}
		}
		
		.htu-title {
			background: #D7908C none repeat scroll 0 0;
		}
		
		.htu-step-list {
			.step-count {
				color: #D7908C;
			}
		}
	}
	
	&.catalog-product-view #related-product-sec .block-title strong::after {
		background: #D7908C none repeat scroll 0 0;
	}
}



.product-do-it-all {
	.pro-info-block {
	
		.pro-bg-title {
			background: #98ade3 none repeat scroll 0 0;
		}
		
		.htu-title {
			background: #98ade3 none repeat scroll 0 0;
		}
		
		.htu-step-list {
			.step-count {
				color: #98ade3;
			}
			
			li {
				&:nth-child(1) {
					border-bottom: medium none;
				}
			}
		}
	}
	
	&.catalog-product-view {
		#related-product-sec {
			.block-title strong::after {
				background: #98ade3 none repeat scroll 0 0;
			}
			
			li.product-item:nth-child(2) .product-item-details .product-feat {
				padding: 24px 0;
			}
		}
	}
}



.product-midnight-courage {
	.pro-info-block {
	
		.pro-bg-title {
			background: #192756 none repeat scroll 0 0;
		}
		
		.htu-title {
			background: #192756 none repeat scroll 0 0;
		}
		
		.htu-step-list {
			.step-count {
				color: #192756;
			}
		}
		
		.key-ingredients-list {
			li {
				span {
					min-height: 72px;
				}
			}
		}
	}
	
	&.catalog-product-view #related-product-sec .block-title strong::after {
		background: #192756 none repeat scroll 0 0;
	}
}



