<?php
/**
 * Copyright © 2018 TechNWeb, Inc. All rights reserved.
 * See TNW_LICENSE.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block TNW\Subscriptions\Block\Subscription\Shipment\AddressEdit */
?>
<?php /** @var \Magento\Customer\Helper\Address $customerAddressHelper */
$customerAddressHelper = $this->helper(\Magento\Customer\Helper\Address::class);?>
<fieldset class="fieldset-shipping" id="customer-data">
    <legend class="legend"><span><?php /* @escapeNotVerified */ echo __('Shipping Information') ?></span></legend>

    <div class="field field-name-firstname required">
        <div class="control">
            <input type="text"
                   id="firstname"
                   name="shipping_info[firstname]"
                   value="<?php echo $block->escapeHtml($block->getAddress()->getFirstname()) ?>"
                   title="<?php /* @escapeNotVerified */ echo __('First Name') ?>"
                   placeholder="<?php /* @escapeNotVerified */ echo __('First Name') ?>"
                   class="info-field input-text <?php /* @escapeNotVerified */ echo $customerAddressHelper->getAttributeValidationClass('firstname') ?>"/>
        </div>
    </div>
    <div class="field field-name-lastname required">
        <div class="control">
            <input type="text"
                   id="lastname"
                   name="shipping_info[lastname]"
                   value="<?php echo $block->escapeHtml($block->getAddress()->getLastname()) ?>"
                   title="<?php /* @escapeNotVerified */ echo __('Last Name') ?>"
                   placeholder="<?php /* @escapeNotVerified */ echo __('Last Name') ?>"
                   class="info-field input-text <?php /* @escapeNotVerified */ echo $customerAddressHelper->getAttributeValidationClass('lastname') ?>"/>
        </div>
    </div>
    <div class="field company">
        <div class="control">
            <input type="text"
                   name="shipping_info[company]"
                   id="company"
                   title="<?php /* @escapeNotVerified */ echo __('Company') ?>"
                   value="<?php echo $block->escapeHtml($block->getAddress()->getCompany()) ?>"
                   placeholder="<?php /* @escapeNotVerified */ echo __('Company') ?>"
                   class="info-field input-text <?php /* @escapeNotVerified */ echo $customerAddressHelper->getAttributeValidationClass('company') ?>">
        </div>
    </div>
    <div class="field telephone required">
        <div class="control">
            <input type="text"
                   name="shipping_info[telephone]"
                   value="<?php echo $block->escapeHtml($block->getAddress()->getTelephone()) ?>"
                   title="<?php /* @escapeNotVerified */ echo __('Phone Number') ?>"
                   class="info-field input-text <?php /* @escapeNotVerified */ echo $customerAddressHelper->getAttributeValidationClass('telephone') ?>"
                   placeholder="<?php /* @escapeNotVerified */ echo __('Phone Number') ?>"
                   id="telephone">
        </div>
    </div>
</fieldset>

<fieldset class="fieldset-shipping">
    <legend class="legend"><span><?php /* @escapeNotVerified */ echo __('Shipping Address') ?></span></legend>
    <div class="customer-addresses"><?php echo $block->getCustomerAddressesSelect() ?></div>
    <div class="shipping-actions">
        <a id="pick" class="action" href="javascript:"><div><?php /* @escapeNotVerified */ echo __('Pick from saved addresses') ?></div></a>
        <a id="add-new" class="action" href="javascript:"><div><?php /* @escapeNotVerified */ echo __('Add New Address') ?></div></a>
    </div>
    <div id="shipping-fields-list">
        <?php $_streetValidationClass = $customerAddressHelper->getAttributeValidationClass('street'); ?>
        <div class="field street required">
            <div class="control">
                <input type="text"
                       name="shipping_address[street0]"
                       value="<?php echo $block->escapeHtml($block->getStreetLine(1)) ?>"
                       title="<?php /* @escapeNotVerified */ echo __('Street Address') ?>"
                       placeholder="<?php /* @escapeNotVerified */ echo __('Street Address') ?>"
                       id="street_1"
                       class="address-field input-text <?php /* @escapeNotVerified */ echo $_streetValidationClass ?>"  />
                <div class="nested">
                    <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                    <?php for ($_i = 1, $_n = $customerAddressHelper->getStreetLines(); $_i < $_n; $_i++): ?>
                        <div class="field additional">
                            <div class="control">
                                <input type="text"
                                       name="shipping_address[street<?php /* @escapeNotVerified */ echo $_i ?>]"
                                       value="<?php echo $block->escapeHtml($block->getStreetLine($_i+1)) ?>"
                                       title="<?php /* @escapeNotVerified */ echo __('Street Address %1', $_i+1) ?>"
                                       id="street_<?php /* @escapeNotVerified */ echo $_i+1 ?>"
                                       placeholder="<?php /* @escapeNotVerified */ echo __('Street Address %1', $_i+1) ?>"
                                       class="address-field input-text <?php /* @escapeNotVerified */ echo $_streetValidationClass ?>">
                            </div>
                        </div>
                    <?php endfor; ?>
                </div>
            </div>
        </div>

        <?php if ($customerAddressHelper->isVatAttributeVisible()) : ?>
            <div class="field taxvat">
                <div class="control">
                    <input type="text"
                           name="shipping_address[vat_id]"
                           value="<?php echo $block->escapeHtml($block->getAddress()->getVatId()) ?>"
                           title="<?php /* @escapeNotVerified */ echo __('VAT Number') ?>"
                           class="address-field input-text <?php /* @escapeNotVerified */ echo $customerAddressHelper->getAttributeValidationClass('vat_id') ?>"
                           placeholder="<?php /* @escapeNotVerified */ echo __('VAT Number') ?>"
                           id="vat_id">
                </div>
            </div>
        <?php endif; ?>
        <div class="field city required">
            <div class="control">
                <input type="text"
                       name="shipping_address[city]"
                       value="<?php echo $block->escapeHtml($block->getAddress()->getCity()) ?>"
                       title="<?php /* @escapeNotVerified */ echo __('City') ?>"
                       placeholder="<?php /* @escapeNotVerified */ echo __('City') ?>"
                       class="address-field input-text <?php /* @escapeNotVerified */ echo $customerAddressHelper->getAttributeValidationClass('city') ?>"
                       id="city">
            </div>
        </div>
        <div class="field region required">
            <div class="control">
                <select id="region_id" name="shipping_address[region_id]" title="<?php /* @escapeNotVerified */ echo __('State/Province') ?>" class="address-field validate-select" <?php echo(!$block->getConfig('general/region/display_all')) ? ' disabled="disabled"' : '';?>>
                    <option value=""><?php /* @escapeNotVerified */ echo __('Please select a region, state or province.') ?></option>
                </select>
                <input type="text"
                       id="region"
                       name="shipping_address[region]"
                       value="<?php echo $block->escapeHtml($block->getRegion()) ?>"
                       title="<?php /* @escapeNotVerified */ echo __('State/Province') ?>"
                       placeholder="<?php /* @escapeNotVerified */ echo __('State/Province') ?>"
                       class="address-field input-text <?php /* @escapeNotVerified */ echo $customerAddressHelper->getAttributeValidationClass('region') ?>"<?php echo(!$block->getConfig('general/region/display_all')) ? ' disabled="disabled"' : '';?>/>
            </div>
        </div>
        <div class="field zip required">
            <div class="control">
                <input type="text"
                       name="shipping_address[postcode]"
                       value="<?php echo $block->escapeHtml($block->getAddress()->getPostcode()) ?>"
                       title="<?php /* @escapeNotVerified */ echo __('Zip/Postal Code') ?>"
                       id="zip"
                       placeholder="<?php /* @escapeNotVerified */ echo __('Zip/Postal Code') ?>"
                       class="address-field input-text validate-zip-international <?php /* @escapeNotVerified */ echo $customerAddressHelper->getAttributeValidationClass('postcode') ?>">
            </div>
        </div>
        <div class="field country required">
            <div class="control">
                <?php echo $block->getCountryHtmlSelect(null, 'shipping_address[country_id]') ?>
            </div>
        </div>
        <div class="field fax">
            <div class="control">
                <input type="text"
                       name="shipping_address[fax]"
                       id="fax"
                       title="<?php /* @escapeNotVerified */ echo __('Fax') ?>"
                       value="<?php echo $block->escapeHtml($block->getAddress()->getFax()) ?>"
                       placeholder="<?php /* @escapeNotVerified */ echo __('Fax') ?>"
                       class="address-field input-text <?php /* @escapeNotVerified */ echo $customerAddressHelper->getAttributeValidationClass('fax') ?>">
            </div>
        </div>
        <div class="field choice">
            <input
                type="checkbox"
                name="shipping_address[save_address]"
                id="save_in_address_book"
                title="<?php /* @escapeNotVerified */ echo __('Save in address book') ?>"
                class="address-field checkbox" />
            <label class="label" for="save_in_address_book"><span><?php /* @escapeNotVerified */ echo __('Save in address book') ?></span></label>
        </div>
    </div>
</fieldset>

<script type="text/x-magento-init">
    {
        "#shipping-address-form": {
            "validation": {}
        },
        "#country": {
            "regionUpdater": {
                "optionalRegionAllowed": <?php /* @escapeNotVerified */ echo($block->getConfig('general/region/display_all') ? 'true' : 'false'); ?>,
                "regionListId": "#region_id",
                "regionInputId": "#region",
                "postcodeId": "#zip",
                "form": "#shipping-address-form",
                "regionJson": <?php /* @escapeNotVerified */ echo $this->helper(\Magento\Directory\Helper\Data::class)->getRegionJson() ?>,
                "defaultRegion": "<?php /* @escapeNotVerified */ echo $block->getRegionId() ?>",
                "countriesWithOptionalZip": <?php /* @escapeNotVerified */ echo $this->helper(\Magento\Directory\Helper\Data::class)->getCountriesWithOptionalZip(true) ?>
            }
        }
    }
</script>
