<!--
/**
 * Copyright © 2018 TechNWeb, Inc. All rights reserved.
 * See TNW_LICENSE.txt for license details.
 */
-->
<div class="admin__data-grid-header" afterRender="$data.setToolbarNode">
    <div class="admin__data-grid-header-row">
        <div data-bind="text: header_text" class="header-grid-dext"></div>
        <div class="admin__data-grid-actions-wrap" each="getRegion('dataGridActions')" render=""/>
        <each args="getRegion('dataGridFilters')" render=""/>
    </div>
    <div class="admin__data-grid-header-row row row-gutter">
        <div class="col-xs-2" if="hasChild('listing_massaction')" ko-scope="requestChild('listing_massaction')" render=""/>
        <div css="
            'col-xs-10': hasChild('listing_massaction'),
            'col-xs-12': !hasChild('listing_massaction')">
            <div class="row" ko-scope="requestChild('listing_paging')">
                <div class="col-xs-3" render="totalTmpl"/>
                <div class="col-xs-9" render=""/>
            </div>
        </div>
    </div>
</div>

<render args="stickyTmpl" if="$data.sticky"/>
