<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
$getBaseUrl = $this->getBaseUrl();
?>

<div class="header-topbar">
	<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('psa-top-label')->toHtml();?>
</div>

<div id="custom-header" class="custom-header-cont">
	
	<div class="header-container">		
		<div class="logo-menu-bar">	
				<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('psa_mobile_header_menu')->toHtml();?>
			
			<div class="main-logo"><?php echo $this->getChildHtml("logo"); ?></div>
		</div>
		
		<div class="header-fixed-options">
			
			<div class="header-opt">				
				
				<div class="header-opt-boxes">
					
					<div class="box-opt minicart-box">
						<?php echo $this->getChildHtml("minicart"); ?>
					</div>
				 
				</div>

			</div>
		</div>
	
		<!--div class="header-menu-new">
			<?php //echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('desktop_menu')->toHtml();?>
		</div--><!-- header-menu-new -->
	
		<div class="removefloat"></div>	
	</div>
</div>

<style>
.main-logo .logo img {
	height: auto;
}
.catalog-product-view .shareyourstore {
    display: none;
}
.mobile_shareyourstory  h2 .backstrip:after{
	background: #df231d;
	left: 3px;
	max-width: calc((100% - 7px)) !important;
	width: 100%;
	height: 14px;
	position: absolute;
	bottom: 0;
	content: '';
	z-index: -1;
}
.psaprechecksection h2{
	display: block;
}
.pro_action .action.tocompare {
    font-size: 0px;
}
.precheckourstory .modalbox{    top: -194px;}
/*product-gifted*/
    .product-gifted .key-ingredients-list li:last-child {border-right: solid 1px #707070;}
    .product-gifted #related-product-sec .product-item-details .pro_action .pro_price_sec {border-right: 0;}
/*product-gifted*/
    
/*for safari browser*/
@media not all and (min-resolution:.001dpcm) { @media
    {
        .catrgory-main-heading .step-text{ margin-top: 5px !important; padding-top: 0 !important; line-height: 12px !important;}
        .menu-bar .menu-item a {padding-top: 5px;}
        .opc-wrapper .step-title::after {width: 56%;}
        
    }}
/*for safari browser*/

</style>
	

