<?php
/*$test = $block->getPost();
print_r($test);
exit();*/
$result = $block->getProductData();
/*print_r($result);
exit();*/

foreach($result as $_res){
	$daytime= $_res['daytime'];
	$nighttime= $_res['nighttime'];
	$weekly= $_res['weekly'];
}

$explodeDay = array_map('trim', explode(',', $daytime));
$explodeNight = array_map('trim', explode(',', $nighttime));
$explodeWeekly = array_map('trim', explode('+', $weekly));
?>

<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$storeUrl = $storeManager->getStore()->getBaseUrl();
$productDayCollection = $objectManager->create('Magento\Catalog\Model\ResourceModel\Product\Collection');
$productNightCollection = $objectManager->create('Magento\Catalog\Model\ResourceModel\Product\Collection');
$productWeeklyCollection = $objectManager->create('Magento\Catalog\Model\ResourceModel\Product\Collection');
$dayCollection = $productDayCollection->addAttributeToSelect('*')->addAttributeToFilter('product_code',array($explodeDay))->setOrder('regimen_order', 'ASC')->load();
//echo $productcollection->getSelect()->__toString();
$NightCollection = $productNightCollection->addAttributeToSelect('*')->addAttributeToFilter('product_code',array($explodeNight))->setOrder('regimen_order', 'ASC')->load();
$WeeklyCollection = $productWeeklyCollection->addAttributeToSelect('*')->addAttributeToFilter('product_code',array($explodeWeekly))->setOrder('regimen_order', 'ASC')->load();
$productCollection = [$dayCollection,$NightCollection,$WeeklyCollection];
$abstractProductBlock = $block->getLayout()->createBlock('\Magento\Catalog\Block\Product\AbstractProduct');
$skin_concerns = $block->getPost()['skin-problem'];
$postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
$imagehelper = $objectManager->create('Magento\Catalog\Helper\Image');
$image = $imagehelper->init($productCollection, 'category_page_list')->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(200,200);
$cart = $objectManager->get('\Magento\Checkout\Model\Session')->getQuote();
$result = $cart->getAllVisibleItems();
$itemsIds = array();

foreach ($result as $cartItem) {
   array_push($itemsIds, $cartItem->getProduct()->getId());
}

//print_r($skin_concerns);
?>

<div class="col-md-12 nav-head">	
	
	<div class="recommendation-logo" style="background-color: #000;"><a  href="<?php echo $storeUrl ;?>"><img src='<?php echo $this->getViewFileUrl('images/microsite-logo.png'); ?>' alt="logo"></a></div>
	
	<div class="regimen-product-collection-header">
		<div class="regimen-topbar-sec">
			<div class="regimen-topbar-cont">
			
				<div class="regimen-shop-sec"><a href="<?php echo $storeUrl ;?>">Visit Our Shop</a></div>

				<div class="regimen-login-sec"><?php echo $this->getChildHtml("headerLinks"); ?></div>

				<div class="result-minicart"><?php echo $this->getChildHtml("minicart"); ?></div>
				
			</div>
		</div>
	</div>	
	
</div>

<div class="regimen-concerns">
	<span>You told us about your concern with</span>
	<h2><?php echo "{$skin_concerns['0']}, {$skin_concerns['1']} and {$skin_concerns['2']}"; ?></h2>
</div>

<div class="regimen-sidebar">
	<div class="suggestion-product">
		<a href="#morning_tab" class="active"><h3 class="morning-time time-click"><img src='<?php echo $this->getViewFileUrl('images/quiz-icons/morning-sun.png'); ?>' alt="Morning"> Morning </h3></a>
		<a href="#night_tab"><h3 class="night-time  time-click"><img src='<?php echo $this->getViewFileUrl('images/quiz-icons/night-moon.png'); ?>' alt="Night"> Night</h3></a>
		<?php if(count($WeeklyCollection) > 0 ): ?>
			<a href="#weekly_tab"><h3 class="weekly-time  time-click"><img src='<?php echo $this->getViewFileUrl('images/quiz-icons/weekly-repeat.png'); ?>' alt="Weekly"> Weekly</h3></a>
		<?php endif;?>
	</div>
</div>

<div class="tab-toggling-container">

	<div class="morning-tab-container tab-container active" id="morning_tab">
		<div class="morning-time-product suggestion-on-time owl-carousel">
			<?php $i = 1;  foreach($dayCollection as $product): ?>
				<?php
					$image = $imagehelper->init($product, 'category_page_list')->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(200,200)->getUrl();
					$productId = $product->getId();
				?>

				<div class="morning-product suggest-opt-<?php echo $i;?>">
					<a class="custom_regimenTab regimen-product-name" href="#<?php echo $product->getSKU();?>">
						<span class="regimen-steps"><?php echo $product->getResource()->getAttribute('regimen_steps')->getFrontend()->getValue($product);?></span>
						<span class="common-title"><?php echo $product->getResource()->getAttribute('skin_regimen')->getFrontend()->getValue($product);?></span>
						<div class="regimen-image-container">
							<div class="position-relative product-image">
								<img src="<?php echo $image; ?>">
							</div>
							<?php if(in_array($productId, $itemsIds)):?>
								<span class="checked">&#10004;</span>
							<?php endif; ?>
						</div>
						<span class="product-name"><?php echo strtolower($product->getName());?></span>
					</a>
				</div>

				<?php $i++;?>
			<?php endforeach; ?>
		</div>
	</div>

	<div class="night-tab-container tab-container" id="night_tab">
		<div class="night-time-product suggestion-on-time owl-carousel">
			<?php $j = 1; foreach($NightCollection as $product): ?>
				<?php
					$image = $imagehelper->init($product, 'category_page_list')->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(200,200)->getUrl();
					$productId = $product->getId();
					// print_r(in_array($productId, $itemsIds));
				?>
				<div class="suggest-opt suggest-opt-<?php echo $j; ?>">
					<a class="custom_regimenTab regimen-product-name" href="#<?php echo $product->getSKU();?>">
						<span class="regimen-steps"><?php echo $product->getResource()->getAttribute('regimen_steps')->getFrontend()->getValue($product);?></span>
						<span class="common-title"><?php echo $product->getResource()->getAttribute('skin_regimen')->getFrontend()->getValue($product);?></span>
						<div class="regimen-image-container"><div class="product-image"><img src="<?php echo $image; ?>"></div></div>
						<span class="product-name"><?php echo strtolower($product->getName());?></span>
					</a>
				</div>

				<?php $j++;?>
			<?php endforeach; ?>
		</div>
	</div>
	
	<?php if(count($WeeklyCollection) > 0 ): ?>

		<div class="weekly-tab-container tab-container" id="weekly_tab">
			<div class="weekly-time-product suggestion-on-time owl-carousel">
				<?php $k = 1; foreach($WeeklyCollection as $product): ?>
				<?php
					$image = $imagehelper->init($product, 'category_page_list')->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(200,200)->getUrl();
					$productId = $product->getId();
					//print_r(in_array($productId, $itemsIds));
				?>
				
				<div class="suggest-opt suggest-opt-<?php echo $k; ?>">
					<span class="regimen-steps"><?php echo $product->getResource()->getAttribute('regimen_steps')->getFrontend()->getValue($product);?></span>
					<span class="common-title"><?php echo $product->getResource()->getAttribute('skin_regimen')->getFrontend()->getValue($product);?></span>
					<div class="regimen-image-container"><div class="product-image"><img src="<?php echo $image; ?>"></div></div>
					<a class="regimen-product-name" href="#<?php echo $product->getSKU();?>">
						with <?php echo strtolower($product->getName());?>
						<?php if($product->getName() == 'BRIGHT FUTURE SLEEPING FACIAL'):?>
							<span>( 3 Nights in a row for a week )</span>
						<?php elseif($product->getName() == 'TRIPLE HYALURONIC ANTIOXIDANT HYDRATION SERUM'):?>
							<span>( to promote extra hydration )</span>
						<?php endif;?>
					</a>
				</div>

				<?php $k++;?>
				<?php endforeach; ?>
			</div>
		</div>
	
	<?php endif;?>
	
	<div class="add-all-product-container"><span class="add-all-product-to-cart">Add all to bag</span></div>
	
</div>

<div class="regimen-product-collection" style="display: none;">
	
	<span class="back-to-regimen-tab"><i class="fas fa-angle-left"></i>Back</span>
	
	<?php foreach($productCollection as $productCollectionArray): ?>
		<?php foreach ($productCollectionArray as $product): ?>
			<?php
				$postData = $postDataHelper->getPostData($block->getAddToCartUrl($product), ['product' => $product->getId()]);
				$postParams = json_decode($postData, true);
				$productUrl = $product->getProductUrl();
				$imagehelper = $objectManager->create('Magento\Catalog\Helper\Image');
				$image = $imagehelper->init($product, 'category_page_list')->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(750,750)->getUrl();
	         ?>

	         <div class="regimen-product-page-suggest" id="<?php echo $product->getSKU();?>">

				<div class="top-regimen-container">

					<div class="regimen-left-conatiner">
						<div class="regimen-image-container"><div class="product-image"><img src="<?php echo $image; ?>"></div></div>
					</div>

					<div class="regimen-right-container">
						<div class="regimen-product-details-container">

							<div class="product-name"><a href="<?php echo $productUrl; ?>" target="_blank"><?php echo $product->getName();?></a></div>

							<div class="regimen-product-description">
								<span class="regimen-short-desc"><?php echo $product->getShortDescription();?></span>
								<a href="<?php echo $productUrl;?>" class="regimen-learn-more" target="_blank">Learn More +</a>
							</div>

							<div class="regimen-suitable-for">
								<h2 class="regimen-suitable-heading">
									<?php echo $product->getResource()->getAttribute('suitable_for')->getStoreLabel(); ?>
								</h2>
								<?php echo $product->getSuitableFor();?>
							</div>

							<div class="regimen-benefits">
								<h2 class="regimen-benefits-heading"><?php echo $product->getResource()->getAttribute('benefits')->getStoreLabel(); ?></h2>
								<div class="regimen-benefits-list"><?php echo $product->getBenefits(); ?></div>
							</div>

						</div>
					</div>

				</div>

			 	<div class="bottom-regimen-container">
					<div class="regimen-product-container">
						<div class="product-add-form">

							<form data-role="tocart-form" class="custom_addto_form" action="<?= /* @escapeNotVerified */ $block->getAddToCartUrl($product) ?>" method="post">

								<?= $block->getBlockHtml('formkey') ?>
								<input type="hidden" name="product" value="<?= /* @escapeNotVerified */ $product->getId() ?>">
								<input type="hidden" name="<?= /* @escapeNotVerified */ Magento\Framework\App\Action\Action::PARAM_NAME_URL_ENCODED; ?>" value="<?= $postParams['data'][Magento\Framework\App\Action\Action::PARAM_NAME_URL_ENCODED]; ?>">

								<div class="box-tocart">
									<div class="fieldset">

										<?php if($product->getResource()->getAttribute('product_size')->getFrontend()->getValue($product)): ?>
											<div class="product-volume-attr-product-page">
												<label class="label" for="size"><span><?= /* @escapeNotVerified */ __('size') ?></span></label>
												<div class="product-size-box product-volume-attr"><?php echo $product->getResource()->getAttribute('product_size')->getFrontend()->getValue($product);?></div>
											</div>
										<?php endif; ?>

										<div class="price-box-container">
											<label for="price" class="label"><span><?= /* @escapeNotVerified */ __('price') ?></span></label>
											<?= $abstractProductBlock->getProductPrice($product) ?>
										</div>

										<div class="field qty">
											<label class="label" for="qty"><span><?= /* @escapeNotVerified */ __('quantity') ?></span></label>
											<div class="control">
												<button id="decerement">-</button>
												<input type="number" name="qty" id="qty" value=1 title="<?= /* @escapeNotVerified */ __('Quantity') ?>" class="input-text qty product-qty"/>
												<button id="increment">+</button>
											</div>
										</div>

									</div>
								</div>

								<?php if($product->isSaleable()): ?>
									<div class="actions add-to-cart <?php echo $product->getName();?>>">
										<?php if($product->getTypeId() == 'bundle'): ?>
											<a class="action tocart primary" href="<?= $block->escapeUrl($product->getProductUrl()) ?>"><?= __("ADD TO BAG") ?></a>
										<?php else: ?>
											<div class="product-item-inner">
												<button type="submit" title="<?= $block->escapeHtml(__('Add to Bag')) ?>" class="action tocart primary"><span><?= /* @escapeNotVerified */ __('Add to Bag') ?></span></button>
											</div>
										<?php endif; ?>
									</div>
								<?php else: ?>
									<?php if ($product->isAvailable()): ?>
										<div class="stock available"><span><?= /* @escapeNotVerified */ __('In stock') ?></span></div>
									<?php else: ?>
										<div class="stock unavailable"><span><?= /* @escapeNotVerified */ __('Out of stock') ?></span></div>
									<?php endif; ?>
								<?php endif; ?>

							</form>

						</div>
					</div>
				</div>

			</div>

		<?php endforeach; ?>
	<?php endforeach; ?>

</div>

<script>
	require(
    ['jquery', 'jquery/ui', 'owlcarousel'],
    function($) {
    	$('.suggestion-on-time').owlCarousel({
                loop: false,
                margin: 0,
                slideSpeed: 1500,
                dots: false,
                items: 3,
                scrollPerPage: true,
                lazyLoad: true,
                nav: true,
                slideBy: 3,
                autoplay:false,
         });

    	$('.regimen-sidebar .suggestion-product a').click(function(e){
         	e.preventDefault();
         	$(this).addClass('active');
         	$(this).siblings().removeClass('active');
         	var element = $(this).attr('href');
         	$('.tab-toggling-container').find('.tab-container').removeClass('active');
         	$(element).addClass('active');

         });

    	$('.regimen-product-name').click(function(){
    		$(this).parents('.tab-toggling-container').css('display','none');
    		$(this).parents('.tab-toggling-container').siblings('.regimen-sidebar').css('display','none');
    		$(this).parents('.tab-toggling-container').siblings('.regimen-product-collection').css('display','block');

    	});
    	$('.back-to-regimen-tab').click(function(){
    		$(this).parents('.regimen-product-collection').css('display','none');
    		$(this).parents('.regimen-product-collection').siblings('.regimen-sidebar').css('display','block');
    		$(this).parents('.regimen-product-collection').siblings('.tab-toggling-container').css('display','block');
    		location.reload();

    	});
    	$(document).on('scroll', function() {
		    if($(this).scrollTop()>= 350){
		        $('.bottom-regimen-container .product-add-form .add-to-cart').css('display','block');
		    }
		    else{
		    	$('.bottom-regimen-container .product-add-form .add-to-cart').css('display','none');
		    }
		})
    	


    });

</script>

<style>
.tab-container { width: 100%; display: none; margin-top: 20px; }
.tab-container.active{ display: inline-block; }

#maincontent .regimen-product-name { display: inline-block; }

.recommendation-logo { padding: 12px 0; text-align: center; }
.recommendation-logo img { display: inline-block; vertical-align: middle; width: initial; max-height: 36px; }

.bottom-regimen-container .product-add-form .add-to-cart{ display: none; }
.add-all-product-container {width: 50% !important;right: 0;left: auto;}
.action.primary {border-color: #fff; color: #fff;}


</style>

