<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager 	= $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$siteBaseUrl  	= $storeManager->getStore()->getBaseUrl();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');

if($customerSession->isLoggedIn()){
	$customerEmail  = $customerSession->getCustomer()->getEmail();
	$regimenCollection = $objectManager->create('OM\Regimenrecommender\Model\ResourceModel\SaveData\CollectionFactory');
	$collection = $regimenCollection->create();
	$collection = $collection->addFieldToFilter('email',$customerEmail);
	$collection = $collection->setOrder('id','DESC');
	$collection = $collection->setPageSize(1);
	$data = $collection->getData();
	
	if($data){
		$skin_problems = $data['0']['skin-problem'];
		if($data['0']['gender'] != 'M'){
			$skin_problems = $data['0']['pregnant_or_breastfeeding'].'+'.$skin_problems;
		}
		else{
			$skin_problems = $skin_problems;
		}
		$gender = $data['0']["gender"];
		$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
		$connection = $resource->getConnection();
		$query = "SELECT `daytime`,`nighttime`,`weekly` FROM regimen_quiz WHERE gender = '$gender' and skin_problem ='$skin_problems'";
		$result = $connection->fetchAll($query);
		
		foreach($result as $_res){
			$daytime= $_res['daytime'];
			$nighttime= $_res['nighttime'];
			$weekly= $_res['weekly'];
		}

		$explodeDay = array_map('trim', explode(',', $daytime));
		$explodeNight = array_map('trim', explode(',', $nighttime));
		$explodeWeekly = array_map('trim', explode('+', $weekly));

		$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
		$storeUrl = $storeManager->getStore()->getBaseUrl();
		$productDayCollection = $objectManager->create('Magento\Catalog\Model\ResourceModel\Product\Collection');
		$productNightCollection = $objectManager->create('Magento\Catalog\Model\ResourceModel\Product\Collection');
		$productWeeklyCollection = $objectManager->create('Magento\Catalog\Model\ResourceModel\Product\Collection');
		$dayCollection = $productDayCollection->addAttributeToSelect('*')->addAttributeToFilter('product_code',array($explodeDay))->setOrder('regimen_order', 'ASC')->load();
		
		//echo $productcollection->getSelect()->__toString();
		
		$NightCollection = $productNightCollection->addAttributeToSelect('*')->addAttributeToFilter('product_code',array($explodeNight))->setOrder('regimen_order', 'ASC')->load();
		$WeeklyCollection = $productWeeklyCollection->addAttributeToSelect('*')->addAttributeToFilter('product_code',array($explodeWeekly))->setOrder('regimen_order', 'ASC')->load();
		$productCollection = [$dayCollection,$NightCollection,$WeeklyCollection];
		$abstractProductBlock = $block->getLayout()->createBlock('\Magento\Catalog\Block\Product\AbstractProduct');
		$skin_concerns = explode('/',$skin_problems);
		$npSkinConcern = $skin_concerns['0'];
		$cart = $objectManager->get('\Magento\Checkout\Model\Session')->getQuote();
		$result = $cart->getAllVisibleItems();
		$itemsIds = array();
		
		foreach ($result as $cartItem) {
			array_push($itemsIds, $cartItem->getProduct()->getId());
		}
		
		if(strpos($npSkinConcern,'NP+') !== false ){
			$npSkinConcern = str_replace("NP+","",$npSkinConcern);
		}
		
		if(strpos($npSkinConcern,'P+') !== false ){
			$npSkinConcern = str_replace("P+","",$npSkinConcern);
		}
		
		$postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
	} else{
		echo "<script>window.location = '$siteBaseUrl'+'regimen-recommender'</script>";
		exit;
	}
	
	//print_r($skin_concerns);
}else{
	echo "<script>window.location = '$siteBaseUrl'+'customer/account/login'</script>";
	exit;
}

?>

<div class="col-md-12 nav-head">
	<div class="recommendation-logo" style="background-color: #000;"><img src='<?php echo $this->getViewFileUrl('images/microsite-logo.png'); ?>' alt="logo"></div>
	<div class="regimen-product-collection-header">
		<div class="regimen-topbar-sec">
			<div class="regimen-topbar-cont">
				<div class="regimen-shop-sec"><a href="<?php echo $storeUrl ;?>">Visit Our Shop</a></div>
				<div class="regimen-login-sec"><?php echo $this->getChildHtml("headerLinks"); ?></div>
				<div class="result-minicart"><?php echo $this->getChildHtml("minicart"); ?></div>
			</div>
		</div>
	</div>
</div>

<div class="regimen-concerns">
	<span>You told us about your concern with</span>
	<h2><?php echo "{$npSkinConcern}, {$skin_concerns['1']} and {$skin_concerns['2']}"; ?></h2>
</div>

<div class="regimen-sidebar">
	<div class="suggestion-product">
		<a href="#morning_tab" class="active"><h3 class="morning-time time-click"><img src='<?php echo $this->getViewFileUrl('images/quiz-icons/morning-sun.png'); ?>' alt="Morning"> Morning </h3></a>
		<a href="#night_tab"><h3 class="night-time  time-click"><img src='<?php echo $this->getViewFileUrl('images/quiz-icons/night-moon.png'); ?>' alt="Night"> Night</h3></a>
		<?php if(count($WeeklyCollection) > 0 ): ?>
			<a href="#weekly_tab"><h3 class="weekly-time  time-click"><img src='<?php echo $this->getViewFileUrl('images/quiz-icons/weekly-repeat.png'); ?>' alt="Weekly"> Weekly</h3></a>
		<?php endif;?>
	</div>
</div>

<div class="tab-toggling-container">

	<div class="morning-tab-container tab-container active" id="morning_tab">
		<div class="morning-time-product suggestion-on-time owl-carousel">
			<?php $i = 1;  foreach($dayCollection as $product): ?>
				<?php
					$imagehelper = $objectManager->create('Magento\Catalog\Helper\Image');
					$image = $imagehelper->init($product, 'category_page_list')->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(200,200)->getUrl();
					$productId = $product->getId();
				?>

				<div class="morning-product suggest-opt-<?php echo $i;?>">
					<a class="custom_regimenTab regimen-product-name" href="#<?php echo $product->getSKU();?>">
						<span class="regimen-steps"><?php echo $product->getResource()->getAttribute('regimen_steps')->getFrontend()->getValue($product);?></span>
						<span class="common-title"><?php echo $product->getResource()->getAttribute('skin_regimen')->getFrontend()->getValue($product);?></span>
						<div class="regimen-image-container">
							<div class="position-relative product-image">
								<img src="<?php echo $image; ?>">
							</div>
							<?php if(in_array($productId, $itemsIds)):?>
								<span class="checked">&#10004;</span>
							<?php endif; ?>
						</div>
						<span class="product-name"><?php echo strtolower($product->getName());?></span>
					</a>
				</div>

				<?php $i++;?>
			<?php endforeach; ?>
		</div>
	</div>

	<div class="night-tab-container tab-container" id="night_tab">
		<div class="night-time-product suggestion-on-time owl-carousel">
			<?php $j = 1; foreach($NightCollection as $product): ?>
				<?php
					$imagehelper = $objectManager->create('Magento\Catalog\Helper\Image');
					$image = $imagehelper->init($product, 'category_page_list')->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(200,200)->getUrl();
					$productId = $product->getId();
					// print_r(in_array($productId, $itemsIds));
				?>
				<div class="suggest-opt suggest-opt-<?php echo $j; ?>">
					<a class="custom_regimenTab regimen-product-name" href="#<?php echo $product->getSKU();?>">
						<span class="regimen-steps"><?php echo $product->getResource()->getAttribute('regimen_steps')->getFrontend()->getValue($product);?></span>
						<span class="common-title"><?php echo $product->getResource()->getAttribute('skin_regimen')->getFrontend()->getValue($product);?></span>
						<div class="regimen-image-container"><div class="product-image"><img src="<?php echo $image; ?>"></div></div>
						<span class="product-name"><?php echo strtolower($product->getName());?></span>
					</a>
				</div>

				<?php $j++;?>
			<?php endforeach; ?>
		</div>
	</div>
	
	<?php if(count($WeeklyCollection) > 0 ): ?>

		<div class="weekly-tab-container tab-container" id="weekly_tab">
			<div class="weekly-time-product suggestion-on-time owl-carousel">
				<?php $k = 1; foreach($WeeklyCollection as $product): ?>
				<?php
					$imagehelper = $objectManager->create('Magento\Catalog\Helper\Image');
					$image = $imagehelper->init($product, 'category_page_list')->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(200,200)->getUrl();
					$productId = $product->getId();
					//print_r(in_array($productId, $itemsIds));
				?>
				
				<div class="suggest-opt suggest-opt-<?php echo $k; ?>">
					<span class="regimen-steps"><?php echo $product->getResource()->getAttribute('regimen_steps')->getFrontend()->getValue($product);?></span>
					<span class="common-title"><?php echo $product->getResource()->getAttribute('skin_regimen')->getFrontend()->getValue($product);?></span>
					<div class="regimen-image-container"><div class="product-image"><img src="<?php echo $image; ?>"></div></div>
					<a class="regimen-product-name" href="#<?php echo $product->getSKU();?>">
						with <?php echo strtolower($product->getName());?>
						<?php if($product->getName() == 'BRIGHT FUTURE SLEEPING FACIAL'):?>
						<span>( 3 Nights in a row for a week )</span>
						<?php elseif($product->getName() == 'TRIPLE HYALURONIC ANTIOXIDANT HYDRATION SERUM'):?>
						<span>( to promote extra hydration )</span>
						<?php endif;?>
					</a>
				</div>
				
				<?php $k++;?>
				<?php endforeach; ?>
			</div>
		</div>
		
	<?php endif;?>
	
	<div class="add-all-product-container"><span class="add-all-product-to-cart">Add all to bag</span></div>
	
</div>

<div class="regimen-product-collection" style="display: none;">
	<span class="back-to-regimen-tab"><i class="fas fa-angle-left"></i>Back</span>
	<?php foreach($productCollection as $productCollectionArray): ?>
		<?php foreach ($productCollectionArray as $product): ?>
			<?php
				$postData = $postDataHelper->getPostData($block->getAddToCartUrl($product), ['product' => $product->getId()]);
				$postParams = json_decode($postData, true);
				$productUrl = $product->getProductUrl();
				$imagehelper = $objectManager->create('Magento\Catalog\Helper\Image');
				$image = $imagehelper->init($product, 'category_page_list')->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(750,750)->getUrl();
			?>

			<div class="regimen-product-page-suggest" id="<?php echo $product->getSKU();?>">

				<div class="top-regimen-container">

					<div class="regimen-left-conatiner">
						<div class="regimen-image-container"><div class="product-image"><img src="<?php echo $image; ?>"></div></div>
					</div>

					<div class="regimen-right-container">
						<div class="regimen-product-details-container">
						
							<div class="product-name"><a href="<?php echo $productUrl; ?>" target="_blank"><?php echo $product->getName();?></a></div>

							<div class="regimen-product-description">
								<span class="regimen-short-desc"><?php echo $product->getShortDescription();?></span>
								<a href="<?php echo $productUrl;?>" class="regimen-learn-more" target="_blank">Learn More +</a>
							</div>

							<div class="regimen-suitable-for">
								<h2 class="regimen-suitable-heading">
									<?php echo $product->getResource()->getAttribute('suitable_for')->getStoreLabel(); ?>
								</h2>
								<?php echo $product->getSuitableFor();?>
							</div>

							<div class="regimen-benefits">
								<h2 class="regimen-benefits-heading"><?php echo $product->getResource()->getAttribute('benefits')->getStoreLabel(); ?></h2>
								<div class="regimen-benefits-list"><?php echo $product->getBenefits(); ?></div>
							</div>

						</div>
					</div>

				</div>

			 	<div class="bottom-regimen-container">
					<div class="regimen-product-container">
						<div class="product-add-form">

							<form data-role="tocart-form" class="custom_addto_form" action="<?= /* @escapeNotVerified */ $block->getAddToCartUrl($product) ?>" method="post">

								<?= $block->getBlockHtml('formkey') ?>
								<input type="hidden" name="product" value="<?= /* @escapeNotVerified */ $product->getId() ?>">
								<input type="hidden" name="<?= /* @escapeNotVerified */ Magento\Framework\App\Action\Action::PARAM_NAME_URL_ENCODED; ?>" value="<?= $postParams['data'][Magento\Framework\App\Action\Action::PARAM_NAME_URL_ENCODED]; ?>">

								<div class="box-tocart">
									<div class="fieldset">

										<?php if($product->getResource()->getAttribute('product_size')->getFrontend()->getValue($product)): ?>
											<div class="product-volume-attr-product-page">
												<label class="label" for="size"><span><?= /* @escapeNotVerified */ __('size') ?></span></label>
												<div class="product-size-box product-volume-attr"><?php echo $product->getResource()->getAttribute('product_size')->getFrontend()->getValue($product);?></div>
											</div>
										<?php endif; ?>

										<div class="price-box-container">
											<label for="price" class="label"><span><?= /* @escapeNotVerified */ __('price') ?></span></label>
											<?= $abstractProductBlock->getProductPrice($product) ?>
										</div>

										<div class="field qty">
											<label class="label" for="qty"><span><?= /* @escapeNotVerified */ __('quantity') ?></span></label>
											<div class="control">
												<button id="decerement">-</button>
												<input type="number" name="qty" id="qty" value=1 title="<?= /* @escapeNotVerified */ __('Quantity') ?>" class="input-text qty product-qty"/>
												<button id="increment">+</button>
											</div>
										</div>

									</div>
								</div>

								<?php if($product->isSaleable()): ?>
									<div class="actions add-to-cart <?php echo $product->getName();?>>">
										<?php if($product->getTypeId() == 'bundle'): ?>
											<a class="action tocart primary" href="<?= $block->escapeUrl($product->getProductUrl()) ?>"><?= __("ADD TO BAG") ?></a>
										<?php else: ?>
											<div class="product-item-inner">
												<button type="submit" title="<?= $block->escapeHtml(__('Add to Bag')) ?>" class="action tocart primary"><span><?= /* @escapeNotVerified */ __('Add to Bag') ?></span></button>
											</div>
										<?php endif; ?>
									</div>
								<?php else: ?>
									<?php if ($product->isAvailable()): ?>
										<div class="stock available"><span><?= /* @escapeNotVerified */ __('In stock') ?></span></div>
									<?php else: ?>
										<div class="stock unavailable"><span><?= /* @escapeNotVerified */ __('Out of stock') ?></span></div>
									<?php endif; ?>
								<?php endif; ?>

							</form>

						</div>
					</div>
				</div>

			</div>

		<?php endforeach; ?>
	<?php endforeach; ?>
</div>

<script>
	require(
    ['jquery', 'jquery/ui', 'owlcarousel'],
    function($) {
    	$('.suggestion-on-time').owlCarousel({
                loop: false,
                margin: 0,
                slideSpeed: 1500,
                dots: false,
                items: 3,
                scrollPerPage: true,
                lazyLoad: true,
                nav: true,
                slideBy: 3,
                autoplay:false,
         });

    	$('.regimen-sidebar .suggestion-product a').click(function(e){
         	e.preventDefault();
         	$(this).addClass('active');
         	$(this).siblings().removeClass('active');
         	var element = $(this).attr('href');
         	$('.tab-toggling-container').find('.tab-container').removeClass('active');
         	$(element).addClass('active');

         });

    	$('.regimen-product-name').click(function(){
    		$(this).parents('.tab-toggling-container').css('display','none');
    		$(this).parents('.tab-toggling-container').siblings('.regimen-sidebar').css('display','none');
    		$(this).parents('.tab-toggling-container').siblings('.regimen-product-collection').css('display','block');

    	});
    	$('.back-to-regimen-tab').click(function(){
    		$(this).parents('.regimen-product-collection').css('display','none');
    		$(this).parents('.regimen-product-collection').siblings('.regimen-sidebar').css('display','block');
    		$(this).parents('.regimen-product-collection').siblings('.tab-toggling-container').css('display','block');
    		location.reload();

    	});
    	$(document).on('scroll', function() {
		    if($(this).scrollTop()>= 350){
		        $('.bottom-regimen-container .product-add-form .add-to-cart').css('display','block');
		    }
		    else{
		    	$('.bottom-regimen-container .product-add-form .add-to-cart').css('display','none');
		    }
		})
    	
    	setTimeout(function() {
				$(".intro-container").addClass("deactivate");
                $('.regimen-form-container').addClass("activate");
        }, 1000);
        
        
        
       
        
        
        if($('#recommender-container').length > 0){
        $(window).bind("pageshow", function() {
            var form = $('#recommender-container'); 
            form[0].reset();
        });
    }
        $('.time-click').click(function(){
            $(this).parents('.suggestion-product').toggleClass('active');
            $(this).parents('.suggestion-product').siblings('.suggestion-product').removeClass('active');
        });
        $('.regimen-product-name').first().addClass('active');
        $('.regimen-product-page-suggest').first().addClass('active');
        $('.regimen-product-name').click(function(e){
            e.preventDefault();
            $('.regimen-product-name').removeClass('active');
            $(this).addClass('active');
            var element = $(this).attr('href');
            $('.regimen-product-collection').find('.regimen-product-page-suggest').removeClass('active');
            $(element).addClass('active');
        });
        $('#submit-action').click(function(){
            $(this).parents('.regimen-form-container-on-registration').find('.popup-login-form').submit();
           
        });

        
       

        $('.suggest-opt').click(function(){
            $(this).addClass('active');
            $(this).siblings().removeClass('active');
            $(this).find('.regimen-product-name').click();
        });
        $('.add-all-product-to-cart').click(function(){
            var skus = [];
            $('.regimen-product-page-suggest').each(function(){
                var sku = $(this).data('id');                
                if($.inArray(sku, skus) !== -1){
                    $(this).find('.product-add-form .custom_addto_form button.tocart').click();               
                }
                skus.push(sku);

            });
        });
        $('.regimen-product-page-suggest').first().addClass('active');

    });

</script>

<style>
.tab-container { width: 100%; display: none; margin-top: 20px; }
.tab-container.active{ display: inline-block; }

#maincontent .regimen-product-name { display: inline-block; }


.bottom-regimen-container .product-add-form .add-to-cart{ display: none; }

.cms-regimen-routine main#maincontent { padding: unset; }
body.regimen-index-index .freshwidget-button, .regimen-result-index .freshwidget-button, .cms-regimen-routine .freshwidget-button {display: block!important;}
small.copyright { margin-bottom: 20px;}
</style>
